Repository galaxyproject/galaxy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/admin, area/API, area/auth, area/client, area/database, area/datatypes, area/dependencies, area/documentation, area/jobs, area/libraries, area/objectstore, area/packaging, area/reports, area/scripts, area/security, area/testing, area/testing/api, area/testing/integration, area/testing/selenium, area/tool-dependencies, area/tool-framework, area/tools, area/toolshed, area/util, area/visualizations, area/workflows

.github/labeler.yml:

---
area/admin:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/components/admin/**/*
      - doc/source/admin/**/*
area/API:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/webapps/galaxy/api/**/*
area/auth:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/auth/**/*
      - lib/galaxy/authnz/**/*
area/client:
  - changed-files:
    - any-glob-to-any-file:
      - client/*
area/database:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/model/**/*
area/datatypes:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/datatypes/**/*
      - lib/galaxy/config/sample/datatypes_conf.xml.sample
area/dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/dependencies/**/*
area/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*
area/jobs:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/jobs/**/*
area/libraries:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/components/LibraryFolder/**/*
      - lib/galaxy/webapps/galaxy/api/libraries.py
area/objectstore:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/objectstore/**/*
area/packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packages/**/*
area/reports:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/reports/**/*
      - lib/galaxy/webapps/reports/**/*
      - templates/webapps/reports/**/*
area/scripts:
  - changed-files:
    - any-glob-to-any-file:
      - scripts/**/*
area/security:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/security/**/*
area/testing:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy_test/**/*
      - run_tests.sh
      - test/**/*
      - test-data/**/*
area/testing/api:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy_test/api/**/*
area/testing/integration:
  - changed-files:
    - any-glob-to-any-file:
      - test/integration/**/*
      - test/integration_selenium/**/*
area/testing/selenium:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/selenium/**/*
      - lib/galaxy_test/selenium/**/*
area/tool-dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/tool_util/deps/**/*
area/tool-framework:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/tools/**/*
      - lib/galaxy/tool_util/**/*
      - lib/galaxy/webapps/galaxy/api/tools.py
area/tools:
  - changed-files:
    - any-glob-to-any-file:
      - tools/**/*
      - tool-data/**/*
area/toolshed:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/toolshed/**/*
      - lib/galaxy/webapps/galaxy/api/toolshed.py
      - lib/toolshed/**/*
      - templates/webapps/tool_shed/**/*
area/UI-UX:
  - all:
    - changed-files:
      - any-glob-to-any-file:
        - client/src/**/*
        - templates/**/*
      - all-globs-to-all-files:
        - '!client/src/api/schema/schema.ts'
area/util:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/util/**/*
area/visualizations:
  - changed-files:
    - any-glob-to-any-file:
      - config/plugins/visualizations/**/*
area/workflows:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/workflow/**/*

fix preferred storage navigation selector
  client/src/utils/navigation/navigation.yml
Labels: none

fix refs not updating due to direct linking
  client/src/components/UndoRedo/UndoRedoStack.vue
  client/src/components/Workflow/Editor/Tools/ToolBar.vue
  client/src/stores/undoRedoStore/index.ts
  client/src/stores/workflowEditorToolbarStore.ts
Labels: none

re-implement useLocalStorage replace custom refs with computed
  client/src/composables/hashedUserId.ts
  client/src/composables/localStorage.ts
  client/src/composables/math.ts
  client/src/composables/string.ts
  client/src/composables/userLocalStorage.ts
Labels: none

create item in store if it doesn't exist yet
  client/src/composables/localStorage.ts
Labels: none

remove import side-effect rename local storage implementation
  client/src/components/Panels/utilities.ts
  client/src/composables/hashedUserId.ts
  client/src/composables/persistentRef.ts
  client/src/composables/userLocalStorage.ts
Labels: none

do not rely on local storage interface to be present
  client/src/composables/persistentRef.ts
Labels: none

4 more approvals
  .all-contributorsrc
  MISSING.md
  doc/relicensing/status.txt
Labels: area/documentation

Tool documentation for cross product tools.
  lib/galaxy/tools/cross_product_flat.xml
  lib/galaxy/tools/cross_product_nested.xml
  lib/galaxy/tools/model_operation_macros.xml
  static/images/tools/collection_ops/dot_product.png
  static/images/tools/collection_ops/flat_cross_product_downstream.png
  static/images/tools/collection_ops/flat_cross_product_matched.png
  static/images/tools/collection_ops/flat_cross_product_outputs.png
  static/images/tools/collection_ops/flat_crossproduct_output.png
  static/images/tools/collection_ops/flat_crossproduct_separator.png
  static/images/tools/collection_ops/nested_cross_product_matching.png
  static/images/tools/collection_ops/nested_cross_product_out_1.png
  static/images/tools/collection_ops/nested_cross_product_out_2.png
  static/images/tools/collection_ops/nested_cross_product_output.png
  static/images/tools/collection_ops/nested_crossproduct_output.png
Labels: area/tool-framework

Fix https://github.com/galaxyproject/galaxy/issues/17957
  client/src/components/Workflow/Editor/NodeOutput.vue
Labels: none

Don't allow connecting multiple=true parameter to single inputs
  client/src/components/Workflow/Editor/modules/terminals.ts
  client/src/components/Workflow/Editor/test-data/parameter_steps.json
  client/src/stores/workflowStepStore.ts
  lib/galaxy/workflow/modules.py
Labels: area/workflows

Add workflow tests for multiple="true" workflow parameter
  lib/galaxy_test/workflow/multiple_integer_into_data_column.gxwf-tests.yml
  lib/galaxy_test/workflow/multiple_integer_into_data_column.gxwf.yml
  lib/galaxy_test/workflow/multiple_text.gxwf-tests.yml
  lib/galaxy_test/workflow/multiple_text.gxwf.yml
Labels: area/testing

Fix https://github.com/galaxyproject/galaxy/issues/17957
  client/src/components/Workflow/Editor/NodeOutput.vue
Labels: none

Fix bugs with pydantic models, add schema.ts, fix tests
  client/src/api/schema/schema.ts
  lib/galaxy/schema/visualization.py
  lib/galaxy/webapps/galaxy/api/visualizations.py
  lib/galaxy/webapps/galaxy/services/visualizations.py
  lib/galaxy_test/api/test_visualizations.py
Labels: area/API, area/testing, area/testing/api

remove unused import
  lib/galaxy_test/api/test_visualizations.py
Labels: area/testing, area/testing/api

Fix mypy errors
  lib/galaxy/schema/visualization.py
  lib/galaxy/webapps/galaxy/services/visualizations.py
Labels: none

Fix mypy errors
  lib/galaxy/schema/visualization.py
  lib/galaxy/webapps/galaxy/services/visualizations.py
Labels: none

update openapi schema
  client/src/api/schema/schema.ts
Labels: none

Update plugin schema
  client/src/api/schema/schema.ts
  lib/galaxy/schema/visualization.py
Labels: none

help mode updated
  client/src/components/Form/FormDisplay.vue
  client/src/components/Help/HelpModeDraggable.vue
  client/src/components/Help/HelpModeText.vue
  client/src/components/History/Modals/SelectorModal.vue
  client/src/components/Panels/HelpModePanel.vue
  client/src/composables/markdown.ts
  client/src/stores/helpmode/helpModeStore.ts
  client/src/stores/helpmode/helpTextConfig.yml
Labels: none

Fix TestVisualizationTags and NotificationsIntegrationBase to send data as json to Visualization api
  lib/galaxy_test/api/test_tags.py
  test/integration/test_notifications.py
Labels: area/testing, area/testing/api, area/testing/integration

Restore session free acccess broken with...
  lib/tool_shed/webapp/api/users.py
Labels: none

[24.1] Add error handling and initial loading state to Invocation State
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
Labels: none

fix/add jest for `WorkflowInvocationState` for error handling fix
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
Labels: none

Addressing the comments
  client/src/api/schema/schema.ts
  lib/galaxy/schema/visualization.py
  lib/galaxy/webapps/galaxy/api/visualizations.py
  lib/galaxy/webapps/galaxy/services/visualizations.py
Labels: area/API

Remove unnecessary comment
  lib/galaxy/webapps/galaxy/services/visualizations.py
Labels: none

Add test workflow
  lib/galaxy_test/api/test_workflows.py
Labels: area/testing, area/testing/api

Properly recover mapping for data and dataset collection inputs
  lib/galaxy/workflow/modules.py
Labels: area/workflows

Fail on expected subworkflow output not found
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/api/test_workflows.py
Labels: area/testing, area/testing/api, area/workflows

Tool test case parameter models.
  lib/galaxy/tool_util/parameters/__init__.py
  lib/galaxy/tool_util/parameters/case.py
  lib/galaxy/tool_util/parameters/factory.py
  lib/galaxy/tool_util/parameters/models.py
  lib/galaxy/tool_util/parameters/scripts/__init__.py
  lib/galaxy/tool_util/parameters/scripts/validate_test_cases.py
  lib/galaxy/tool_util/parameters/state.py
  lib/galaxy/tool_util/unittest_utils/__init__.py
  lib/galaxy/tool_util/verify/parse.py
  lib/tool_shed/webapp/frontend/src/schema/schema.ts
  packages/tool_util/setup.cfg
  test/functional/tools/section_24_2.xml
  test/unit/tool_util/parameter_specification.yml
  test/unit/tool_util/test_parameter_specification.py
  test/unit/tool_util/test_parameter_test_cases.py
  test/unit/tool_util/test_test_definition_parsing.py
Labels: area/packaging, area/testing, area/tool-framework

Utility used by test_case/workflow model parameter functions.
  lib/galaxy/tool_util/parameters/__init__.py
  lib/galaxy/tool_util/parameters/visitor.py
Labels: area/tool-framework

Disable more test case ambiguities for newer profile tools.
  lib/galaxy/tool_util/verify/parse.py
Labels: area/tool-framework

Not a problem now that we're not using basic.py abstractions.
  lib/galaxy/tool_util/verify/parse.py
Labels: area/tool-framework

Prevent model parameters from issuing warnings on certain valid XML inputs.
  lib/galaxy/tool_util/parameters/models.py
Labels: area/tool-framework

First pass at workflow step models - linked and unlinked.
  doc/source/dev/tool_state_state_classes.plantuml.svg
  lib/galaxy/tool_util/parameters/__init__.py
  lib/galaxy/tool_util/parameters/_types.py
  lib/galaxy/tool_util/parameters/factory.py
  lib/galaxy/tool_util/parameters/models.py
  lib/galaxy/tool_util/parameters/state.py
  lib/galaxy/tool_util/parameters/visitor.py
  test/unit/tool_util/parameter_specification.yml
  test/unit/tool_util/test_parameter_specification.py
Labels: area/documentation, area/testing, area/tool-framework

Allow Paths in tool source factory method.
  lib/galaxy/tool_util/parser/factory.py
Labels: area/tool-framework

Disable unqualified parameters in test cases for new tools.
  lib/galaxy/tool_util/verify/parse.py
  test/functional/tools/deprecated/simple_constructs_24_2.xml
  test/unit/tool_util/test_test_definition_parsing.py
Labels: area/testing, area/tool-framework

Handle collection defaults in parameter models...
  lib/galaxy/tool_util/parameters/factory.py
  lib/galaxy/tool_util/parameters/models.py
Labels: area/tool-framework

Update to new gxformat2 release
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: area/dependencies

Improvements to help terms & tool help.
  client/src/components/Form/Elements/FormData/FormData.vue
  client/src/components/Help/HelpPopover.vue
  client/src/components/Help/HelpTerm.vue
  client/src/components/Help/HelpText.vue
  client/src/components/Help/terms.yml
  client/src/components/Tool/ToolCard.vue
  client/src/components/Tool/ToolHelp.vue
  client/src/components/Tool/ToolHelpMarkdown.vue
  client/src/components/Tool/ToolHelpRst.test.js
  client/src/components/Tool/ToolHelpRst.vue
  client/src/entry/analysis/router.js
  client/src/stores/helpTermsStore.ts
  lib/galaxy/tool_util/linters/cwl.py
  lib/galaxy/tool_util/models.py
  lib/galaxy/tool_util/parser/cwl.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/__init__.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/workflow/modules.py
  lib/tool_shed/webapp/frontend/src/schema/schema.ts
  test/functional/tools/help_features_markdown.xml
  test/functional/tools/help_features_rst.xml
  test/functional/tools/sample_tool_conf.xml
  test/unit/tool_util/test_parsing.py
Labels: area/testing, area/tool-framework, area/workflows

prioritize link to subworkflow in invocation view
  client/src/components/WorkflowInvocationState/WorkflowInvocationOverview.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
Labels: none
