Repository galaxyproject/galaxy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/admin, area/API, area/auth, area/client, area/database, area/datatypes, area/dependencies, area/documentation, area/jobs, area/libraries, area/objectstore, area/packaging, area/reports, area/scripts, area/security, area/testing, area/testing/api, area/testing/integration, area/testing/selenium, area/tool-dependencies, area/tool-framework, area/tools, area/toolshed, area/util, area/visualizations, area/workflows

.github/labeler.yml:

---
area/admin:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/components/admin/**/*
      - doc/source/admin/**/*
area/API:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/webapps/galaxy/api/**/*
area/auth:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/auth/**/*
      - lib/galaxy/authnz/**/*
area/client:
  - changed-files:
    - any-glob-to-any-file:
      - client/*
area/database:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/model/**/*
area/datatypes:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/datatypes/**/*
      - lib/galaxy/config/sample/datatypes_conf.xml.sample
area/dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/dependencies/**/*
area/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*
area/jobs:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/jobs/**/*
area/libraries:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/components/LibraryFolder/**/*
      - lib/galaxy/webapps/galaxy/api/libraries.py
area/objectstore:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/objectstore/**/*
area/packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packages/**/*
area/reports:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/reports/**/*
      - lib/galaxy/webapps/reports/**/*
      - templates/webapps/reports/**/*
area/scripts:
  - changed-files:
    - any-glob-to-any-file:
      - scripts/**/*
area/security:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/security/**/*
area/testing:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy_test/**/*
      - run_tests.sh
      - test/**/*
      - test-data/**/*
area/testing/api:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy_test/api/**/*
area/testing/integration:
  - changed-files:
    - any-glob-to-any-file:
      - test/integration/**/*
      - test/integration_selenium/**/*
area/testing/selenium:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/selenium/**/*
      - lib/galaxy_test/selenium/**/*
area/tool-dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/tool_util/deps/**/*
area/tool-framework:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/tools/**/*
      - lib/galaxy/tool_util/**/*
      - lib/galaxy/webapps/galaxy/api/tools.py
area/tools:
  - changed-files:
    - any-glob-to-any-file:
      - tools/**/*
      - tool-data/**/*
area/toolshed:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/toolshed/**/*
      - lib/galaxy/webapps/galaxy/api/toolshed.py
      - lib/toolshed/**/*
      - templates/webapps/tool_shed/**/*
area/UI-UX:
  - all:
    - changed-files:
      - any-glob-to-any-file:
        - client/src/**/*
        - templates/**/*
      - all-globs-to-all-files:
        - '!client/src/api/schema/schema.ts'
area/util:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/util/**/*
area/visualizations:
  - changed-files:
    - any-glob-to-any-file:
      - config/plugins/visualizations/**/*
area/workflows:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/workflow/**/*

Update ExportToRemoteModal.vue to use TypeScript and fix imports
  client/src/components/Workflow/Invocation/Export/ExportToRemoteModal.vue
Labels: none

Allow access to invocation via shared or published history
  lib/galaxy/managers/base.py
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/webapps/galaxy/services/invocations.py
  lib/galaxy_test/api/test_workflows.py
Labels: area/testing, area/testing/api

Replace types-pkg-resources with types-setuptools
  lib/galaxy/dependencies/pinned-typecheck-requirements.txt
  pyproject.toml
Labels: area/dependencies

move converted items button out of `ContentOptions` to parent
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/ContentOptions.vue
Labels: none

[24.0] Show compressed datasets/datasets with different id but same hid in history
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/ContentOptions.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/store/historyStore/model/utilities.js
Labels: none

change how we check converted items, filter sub_items in store
  client/src/store/historyStore/model/utilities.js
  client/src/stores/historyItemsStore.ts
Labels: none

Update client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/ContentItem.vue
Labels: none

Drop job integrity checks
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app_unittest_utils/galaxy_mock.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/tool_shed.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/job_execution/setup.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/aws.py
  lib/galaxy/jobs/runners/local.py
  lib/galaxy/jobs/runners/util/job_script/__init__.py
  test/unit/app/jobs/test_command_factory.py
  test/unit/app/jobs/test_runner_local.py
  test/unit/job_execution/test_job_io.py
Labels: area/admin, area/documentation, area/jobs, area/testing

Init Visualizations FastAPI
  lib/galaxy/schema/visualization.py
  lib/galaxy/webapps/galaxy/api/visualizations.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/services/visualizations.py
Labels: area/API

Add Visualization schema and payloads & joining create and import together again
  lib/galaxy/schema/visualization.py
  lib/galaxy/webapps/galaxy/api/visualizations.py
  lib/galaxy/webapps/galaxy/services/visualizations.py
Labels: area/API

Fix missed payloads
  lib/galaxy/webapps/galaxy/api/visualizations.py
Labels: area/API

Update import_id parameter in create method of FastAPIVisualizations
  lib/galaxy/webapps/galaxy/api/visualizations.py
Labels: area/API

Remove the old Visualization mixin controller
  lib/galaxy/webapps/base/controller.py
Labels: none

Add comment for creating/importing visualization
  lib/galaxy/webapps/galaxy/api/visualizations.py
Labels: area/API

Add support for tags in LibraryPopulator.create_library_dataset()
  lib/galaxy_test/base/populators.py
Labels: area/testing

Add test for uploading library file contents with tags
  lib/galaxy_test/api/test_tags.py
Labels: area/testing, area/testing/api

Fix tags parsing in __new_library_upload
  lib/galaxy/tools/actions/upload_common.py
Labels: area/tool-framework

Fix Schema
  lib/galaxy/schema/visualization.py
  lib/galaxy/webapps/galaxy/api/visualizations.py
  lib/galaxy/webapps/galaxy/services/visualizations.py
Labels: area/API

Update
  lib/galaxy/schema/visualization.py
  lib/galaxy/webapps/galaxy/services/visualizations.py
  lib/galaxy_test/api/test_visualizations.py
Labels: area/testing, area/testing/api

Allow specifying multi-select workflow parameters
  lib/galaxy/workflow/modules.py
Labels: area/workflows

Update ruff to 0.6.1
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy_test/selenium/jupyter/notebook_example_testing.ipynb
  test-data/selenium-test-notebook.ipynb
Labels: area/dependencies, area/testing, area/testing/selenium

Install gxformat2 from my branch
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: area/dependencies

modernize UserPreferencesElement
  client/src/components/User/UserPreferencesElement.vue
Labels: none

use single base element
  client/src/components/User/UserDeletion.vue
  client/src/components/User/UserPreferences.vue
  client/src/components/User/UserPreferencesElement.vue
  client/src/components/User/UserPreferencesModel.js
Labels: none

add icon support to stripe heading
  client/src/components/Common/Heading.vue
Labels: none

add local preferences store and section
  client/src/components/User/UserPreferences.vue
  client/src/stores/localPreferencesStore.ts
Labels: none

add route add constraints add preference elements
  client/src/components/User/LocalPreference.vue
  client/src/components/User/LocalPreferences.vue
  client/src/components/User/PreferencePage.vue
  client/src/components/User/UserPreferences.vue
  client/src/composables/string.ts
  client/src/entry/analysis/router.js
  client/src/stores/localPreferencesStore.ts
Labels: none

add comments
  client/src/stores/localPreferencesStore.ts
Labels: none

add categories
  client/src/components/User/LocalPreference.vue
  client/src/components/User/LocalPreferences.vue
  client/src/components/User/PreferencePage.vue
  client/src/stores/localPreferencesStore.ts
Labels: none

connect workflow editor to local preferences
  client/src/stores/localPreferencesStore.ts
  client/src/stores/undoRedoStore/index.ts
  client/src/stores/workflowEditorToolbarStore.ts
Labels: none

add reset all button
  client/src/components/Common/Heading.vue
  client/src/components/User/LocalPreference.vue
  client/src/components/User/LocalPreferences.vue
  client/src/components/User/PreferencePage.vue
Labels: none

add number type improve option typing add type inferance
  client/src/components/User/LocalPreference.vue
  client/src/stores/localPreferencesStore.ts
  client/src/stores/undoRedoStore/index.ts
  client/types/utilityTypes.ts
Labels: none

move preferred list view mode to local preferences
  client/src/components/Common/ListHeader.vue
  client/src/components/Workflow/List/WorkflowList.vue
  client/src/stores/userStore.ts
Labels: none

fully replace userFlagsStore with localPreferencesStore
  client/src/components/Form/Elements/FormSelection.vue
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionChangeWarning.vue
  client/src/stores/userFlagsStore.ts
Labels: none

swat computed for custom ref so pinia correctly recognizes it as state
  client/src/composables/math.ts
  client/src/composables/string.ts
Labels: none

unify look of storage location preferences
  client/src/components/User/UserPreferences.vue
  client/src/components/User/UserPreferredObjectStore.vue
Labels: none

unify look to beacon element
  client/src/components/User/UserBeaconSettings.vue
  client/src/components/User/UserPreferencesElement.vue
Labels: none

add a description to local preferences
  client/src/components/User/LocalPreferences.vue
  client/src/components/User/PreferencePage.vue
Labels: none

add selector class
  client/src/components/User/UserPreferredObjectStore.vue
Labels: none

fix tests
  client/src/components/User/UserDeletion.test.ts
  client/src/components/User/UserDeletion.vue
  client/src/components/User/UserPreferredObjectStore.vue
Labels: none
