Repository galaxyproject/galaxy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/admin, area/API, area/auth, area/client, area/database, area/datatypes, area/dependencies, area/documentation, area/jobs, area/libraries, area/objectstore, area/packaging, area/reports, area/scripts, area/security, area/testing, area/testing/api, area/testing/integration, area/testing/selenium, area/tool-dependencies, area/tool-framework, area/tools, area/toolshed, area/util, area/visualizations, area/workflows

[24.1] Handle error when workflow is unowned in Invocation view
  client/src/components/WorkflowInvocationState/WorkflowInvocationOverview.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/components/WorkflowInvocationState/WorkflowStepTitle.vue
  client/src/stores/workflowStore.ts
Labels: none

fix/add jest test for `WorkflowInvocationState`
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.ts
Labels: none

Fix resume paused jobs
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: none

only show unique messages in `WorkflowInvocationOverview`
  client/src/components/WorkflowInvocationState/WorkflowInvocationOverview.vue
Labels: none

Catch and display exceptions when importing malformatted yaml workflows
  lib/galaxy/managers/workflows.py
  lib/galaxy_test/api/test_workflows.py
Labels: area/testing, area/testing/api

[24.1] Fix invocation grid selenium that fails intermittently
  lib/galaxy_test/selenium/test_invocation_grid.py
Labels: area/testing, area/testing/selenium

Implement tool upgrade assistant script.
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/upgrade/__init__.py
  lib/galaxy/tool_util/upgrade/script.py
  lib/galaxy/tool_util/upgrade/upgrade_codes.json
  lib/galaxy/tool_util/xsd/galaxy.xsd
  packages/tool_util/setup.cfg
  test/functional/tools/legacy_interpreter.xml
  test/functional/tools/legacy_interpreter_write_output.py
  test/functional/tools/output_format_input.xml
  test/functional/tools/sample_tool_conf.xml
  test/unit/tool_util/upgrade/__init__.py
  test/unit/tool_util/upgrade/test_upgrade_advice.py
Labels: area/packaging, area/testing, area/tool-framework

Integrate tool test validation into upgrade advisor.
  lib/galaxy/tool_util/upgrade/__init__.py
  lib/galaxy/tool_util/upgrade/script.py
  lib/galaxy/tool_util/upgrade/upgrade_codes.json
  test/unit/tool_util/upgrade/test_upgrade_advice.py
Labels: area/testing, area/tool-framework

Another approval
  .all-contributorsrc
  MISSING.md
  doc/relicensing/status.txt
Labels: area/documentation

a bunch of bad email addresses
  doc/relicensing/status.txt
Labels: area/documentation

remove duplicate
  .mailmap
  doc/relicensing/status.txt
Labels: area/documentation

another approval
  .all-contributorsrc
  MISSING.md
  doc/relicensing/status.txt
Labels: area/documentation

Fix datatype validation of newly built collection
  client/src/api/schema/schema.ts
  lib/galaxy/schema/schema.py
Labels: none

Create HDCACustom model
  client/src/api/schema/schema.ts
  client/src/stores/collectionElementsStore.test.ts
  lib/galaxy/schema/schema.py
Labels: none

Refactor input_models -> parameters (fix TODO, a lot cleaner)
  lib/galaxy/tool_util/models.py
  lib/galaxy/tool_util/parameters/case.py
  lib/galaxy/tool_util/parameters/factory.py
  lib/galaxy/tool_util/parameters/models.py
  lib/galaxy/tool_util/parameters/state.py
  lib/galaxy/tool_util/parameters/visitor.py
  lib/galaxy/tool_util/unittest_utils/parameters.py
  lib/galaxy/tool_util/verify/parse.py
Labels: area/tool-framework

Type enhancement for for test case api interactor
  lib/galaxy/tool_util/verify/interactor.py
Labels: area/tool-framework

Fix stray xml attribute that does nothing.
  test/functional/tools/options_from_metadata_file.xml
Labels: area/testing

Remove Build Dataset Pair option from history actions
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.vue
Labels: none

Adjust selection operation test
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.test.js
Labels: none

fix rules runtime editable
  client/src/components/Workflow/Editor/Forms/FormTool.vue
Labels: none

add data source doc to the list in index
  doc/source/dev/index.rst
Labels: area/documentation

remove messages type from `WorkflowInvocationOverview`
  client/src/components/WorkflowInvocationState/WorkflowInvocationOverview.vue
Labels: none

Use canonical invocation message type from openapi schema
  client/src/api/invocations.ts
  client/src/components/WorkflowInvocationState/InvocationMessage.vue
  client/src/components/WorkflowInvocationState/invocationMessageModel.ts
Labels: none

Create a named union for InvocationMessageResponseUnion
  client/src/api/invocations.ts
  client/src/api/schema/schema.ts
  lib/galaxy/schema/invocation.py
Labels: none

Remove pair selenium test
  lib/galaxy_test/selenium/test_collection_builders.py
Labels: area/testing, area/testing/selenium

Fix incomplete type guard
  client/src/components/WorkflowInvocationState/InvocationMessage.vue
Labels: none

Add a retry when deleting a k8s job
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs

Run black formatter
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs

Rework test case validation schema.
  lib/galaxy/tool_util/parameters/__init__.py
  lib/galaxy/tool_util/parameters/case.py
  lib/galaxy/tool_util/parameters/models.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/verify/interactor.py
  test/unit/tool_util/parameter_specification.yml
  test/unit/tool_util/test_parameter_test_cases.py
  test/unit/tool_util/test_test_definition_parsing.py
  test/unit/tool_util/util.py
Labels: area/testing, area/tool-framework

never fetch workflow in state component, fetch in child if !!invocation
  client/src/components/WorkflowInvocationState/WorkflowInvocationHeader.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationOverview.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/composables/useWorkflowInstance.ts
Labels: none

fix grammar in invocation state hover text
  client/src/components/Help/terms.yml
Labels: none

another approval with fixed email address
  .all-contributorsrc
  .mailmap
  MISSING.md
  doc/relicensing/status.txt
Labels: area/documentation

fix/adjust jests for errors shown in `WorkflowInvocationOverview`
  client/src/components/WorkflowInvocationState/WorkflowInvocationOverview.test.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationOverview.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.ts
  client/src/composables/useWorkflowInstance.ts
Labels: none

Fix workflow invocation accessibility check
  lib/galaxy/managers/workflows.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
Labels: area/testing, area/testing/api

Avoid sleeping in the job handler
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs

extract types from tool store to separate file
  client/src/components/Panels/Common/ToolPanelLabel.vue
  client/src/components/Panels/Common/ToolSearch.vue
  client/src/components/Panels/Common/ToolSection.vue
  client/src/components/Panels/ToolBox.vue
  client/src/components/Panels/utilities.ts
  client/src/components/ToolsList/ToolsList.vue
  client/src/stores/toolStore.ts
  client/src/stores/toolStoreTypes.ts
Labels: none

Update job var names for disambiguation
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs

Missed a couple of vars
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs

Lint fix
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs

Add regression test for subworkflow that stops scheduling
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
Labels: area/testing, area/testing/api

.github/labeler.yml:

---
area/admin:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/components/admin/**/*
      - doc/source/admin/**/*
area/API:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/webapps/galaxy/api/**/*
area/auth:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/auth/**/*
      - lib/galaxy/authnz/**/*
area/client:
  - changed-files:
    - any-glob-to-any-file:
      - client/*
area/database:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/model/**/*
area/datatypes:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/datatypes/**/*
      - lib/galaxy/config/sample/datatypes_conf.xml.sample
area/dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/dependencies/**/*
area/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*
area/jobs:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/jobs/**/*
area/libraries:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/components/LibraryFolder/**/*
      - lib/galaxy/webapps/galaxy/api/libraries.py
area/objectstore:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/objectstore/**/*
area/packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packages/**/*
area/reports:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/reports/**/*
      - lib/galaxy/webapps/reports/**/*
      - templates/webapps/reports/**/*
area/scripts:
  - changed-files:
    - any-glob-to-any-file:
      - scripts/**/*
area/security:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/security/**/*
area/testing:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy_test/**/*
      - run_tests.sh
      - test/**/*
      - test-data/**/*
area/testing/api:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy_test/api/**/*
area/testing/integration:
  - changed-files:
    - any-glob-to-any-file:
      - test/integration/**/*
      - test/integration_selenium/**/*
area/testing/selenium:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/selenium/**/*
      - lib/galaxy_test/selenium/**/*
area/tool-dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/tool_util/deps/**/*
area/tool-framework:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/tools/**/*
      - lib/galaxy/tool_util/**/*
      - lib/galaxy/webapps/galaxy/api/tools.py
area/tools:
  - changed-files:
    - any-glob-to-any-file:
      - tools/**/*
      - tool-data/**/*
area/toolshed:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/toolshed/**/*
      - lib/galaxy/webapps/galaxy/api/toolshed.py
      - lib/toolshed/**/*
      - templates/webapps/tool_shed/**/*
area/UI-UX:
  - all:
    - changed-files:
      - any-glob-to-any-file:
        - client/src/**/*
        - templates/**/*
      - all-globs-to-all-files:
        - '!client/src/api/schema/schema.ts'
area/util:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/util/**/*
area/visualizations:
  - changed-files:
    - any-glob-to-any-file:
      - config/plugins/visualizations/**/*
area/workflows:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/workflow/**/*
