Repository galaxyproject/galaxy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/admin, area/API, area/auth, area/client, area/database, area/datatypes, area/dependencies, area/documentation, area/jobs, area/libraries, area/objectstore, area/packaging, area/reports, area/scripts, area/security, area/testing, area/testing/api, area/testing/integration, area/testing/selenium, area/tool-dependencies, area/tool-framework, area/tools, area/toolshed, area/util, area/visualizations, area/workflows

.github/labeler.yml:

---
area/admin:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/components/admin/**/*
      - doc/source/admin/**/*
area/API:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/webapps/galaxy/api/**/*
area/auth:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/auth/**/*
      - lib/galaxy/authnz/**/*
area/client:
  - changed-files:
    - any-glob-to-any-file:
      - client/*
area/database:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/model/**/*
area/datatypes:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/datatypes/**/*
      - lib/galaxy/config/sample/datatypes_conf.xml.sample
area/dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/dependencies/**/*
area/documentation:
  - changed-files:
    - any-glob-to-any-file:
      - doc/**/*
area/jobs:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/jobs/**/*
area/libraries:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/components/LibraryFolder/**/*
      - lib/galaxy/webapps/galaxy/api/libraries.py
area/objectstore:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/objectstore/**/*
area/packaging:
  - changed-files:
    - any-glob-to-any-file:
      - packages/**/*
area/reports:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/reports/**/*
      - lib/galaxy/webapps/reports/**/*
      - templates/webapps/reports/**/*
area/scripts:
  - changed-files:
    - any-glob-to-any-file:
      - scripts/**/*
area/security:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/security/**/*
area/testing:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy_test/**/*
      - run_tests.sh
      - test/**/*
      - test-data/**/*
area/testing/api:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy_test/api/**/*
area/testing/integration:
  - changed-files:
    - any-glob-to-any-file:
      - test/integration/**/*
      - test/integration_selenium/**/*
area/testing/selenium:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/selenium/**/*
      - lib/galaxy_test/selenium/**/*
area/tool-dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/tool_util/deps/**/*
area/tool-framework:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/tools/**/*
      - lib/galaxy/tool_util/**/*
      - lib/galaxy/webapps/galaxy/api/tools.py
area/tools:
  - changed-files:
    - any-glob-to-any-file:
      - tools/**/*
      - tool-data/**/*
area/toolshed:
  - changed-files:
    - any-glob-to-any-file:
      - client/src/toolshed/**/*
      - lib/galaxy/webapps/galaxy/api/toolshed.py
      - lib/toolshed/**/*
      - templates/webapps/tool_shed/**/*
area/UI-UX:
  - all:
    - changed-files:
      - any-glob-to-any-file:
        - client/src/**/*
        - templates/**/*
      - all-globs-to-all-files:
        - '!client/src/api/schema/schema.ts'
area/util:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/util/**/*
area/visualizations:
  - changed-files:
    - any-glob-to-any-file:
      - config/plugins/visualizations/**/*
area/workflows:
  - changed-files:
    - any-glob-to-any-file:
      - lib/galaxy/workflow/**/*

Also mark direct HDCA outputs as skipped
  lib/galaxy/tools/actions/__init__.py
Labels: area/tool-framework

Correct spelling
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs

Fix directory get or create logic
  lib/galaxy/tools/search/__init__.py
Labels: area/tool-framework

Fix intermediateModalTitle
  client/src/components/Workflow/Run/WorkflowStorageConfiguration.vue
Labels: none

Fix new B039 error in flake8-bugbear 24.8.19
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/model/base.py
Labels: area/database, area/dependencies

Fix DeprecationWarning from httpx
  test/unit/webapps/test_request_scoped_sqlalchemy_sessions.py
Labels: area/testing

Fix job summary for optional unset job data inputs
  client/src/api/schema/schema.ts
  client/src/components/JobParameters/JobParametersArrayValue.vue
  lib/galaxy/managers/jobs.py
  lib/galaxy/schema/jobs.py
Labels: none

Temporarily ignore 2 mypy type-var errors
  lib/galaxy/tool_util/verify/__init__.py
Labels: area/tool-framework

remove defaults channel for conda
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
Labels: none

update osx startup workflow
  .github/workflows/osx_startup.yaml
Labels: none

deprecate 32bit conda installation option
  lib/galaxy/tool_util/deps/conda_util.py
Labels: area/tool-dependencies, area/tool-framework

Fix error handling in keyedCache and collectionEditView
  client/src/components/Collections/common/CollectionEditView.vue
  client/src/components/History/CurrentCollection/CollectionPanel.vue
  client/src/composables/keyedCache.ts
  client/src/stores/collectionAttributesStore.ts
  client/src/stores/collectionElementsStore.ts
Labels: none

Using SanitizedString Type
  lib/galaxy/schema/schema.py
  lib/galaxy/schema/visualization.py
Labels: none

Remove conda defaults channel from more places
  doc/source/admin/dependency_resolvers.rst
  doc/source/admin/galaxy_options.rst
  lib/galaxy/tool_util/deps/resolvers/conda.py
Labels: area/admin, area/documentation, area/tool-dependencies, area/tool-framework

Add onedata file source template
  lib/galaxy/config/sample/file_sources_conf.yml.sample
  lib/galaxy/files/sources/onedata.py
  lib/galaxy/files/templates/examples/production_onedata.yml
  lib/galaxy/files/templates/models.py
Labels: none

Add writable to onedata file source template
  lib/galaxy/files/templates/examples/production_onedata.yml
Labels: none

Improve onedata templates docs
  lib/galaxy/files/templates/examples/production_onedata.yml
  lib/galaxy/objectstore/templates/examples/production_onedata.yml
Labels: area/objectstore

Unify onedata object store yml and xml configs
  lib/galaxy/config/sample/object_store_conf.sample.yml
  lib/galaxy/config/sample/object_store_conf.xml.sample
  lib/galaxy/objectstore/onedata.py
Labels: area/objectstore

Add onedata object store template
  lib/galaxy/config/sample/object_store_conf.sample.yml
  lib/galaxy/objectstore/onedata.py
  lib/galaxy/objectstore/templates/examples/production_onedata.yml
  lib/galaxy/objectstore/templates/models.py
Labels: area/objectstore

Update onedata libraries to 21.2.5.2
  lib/galaxy/config/sample/object_store_conf.sample.yml
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/files/sources/onedata.py
  lib/galaxy/objectstore/onedata.py
  pyproject.toml
Labels: area/dependencies, area/objectstore

Add info about minimal supported Onezone version
  lib/galaxy/config/sample/object_store_conf.sample.yml
  lib/galaxy/config/sample/object_store_conf.xml.sample
  lib/galaxy/config/sample/user_preferences_extra_conf.yml.sample
  lib/galaxy/files/templates/examples/production_onedata.yml
  lib/galaxy/objectstore/templates/examples/production_onedata.yml
Labels: area/objectstore

Remove production_ prefix from onedata templates
  lib/galaxy/files/templates/examples/onedata.yml
  lib/galaxy/objectstore/templates/examples/onedata.yml
Labels: area/objectstore

Rebuild API client
  client/src/api/schema/schema.ts
Labels: none

Remove dead code `InteractiveToolPropagatorSQLAlchemy.get()`
  lib/galaxy/managers/interactivetool.py
Labels: none

Rename `interactivetools_map_sqlalchemy` to `interactivetoolsproxy_map`
  doc/source/admin/galaxy_options.rst
  doc/source/admin/special_topics/interactivetools.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/managers/interactivetool.py
  test/unit/config/test_config_values.py
Labels: area/admin, area/documentation, area/testing
