Repository galaxyproject/galaxy, pull requests merged in 2018-03, with the labels that each got.

#5616 toolbox to_dict cache fix and improvements
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/tools/toolbox/panel.py
Labels: area/performance, kind/bug, status/review

#5626 [17.09] Move `Extract genomic DNA 1` to list of versioned galaxy tools requiring galaxy to be importable
  lib/galaxy/tools/__init__.py
Labels: area/tool-dependencies, area/tools, kind/bug, status/review

#5623 Use with statement in lib/galaxy/datatypes/
  lib/galaxy/datatypes/assembly.py
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/blast.py
  lib/galaxy/datatypes/converters/bed_to_gff_converter.py
  lib/galaxy/datatypes/converters/fasta_to_len.py
  lib/galaxy/datatypes/converters/fastqsolexa_to_fasta_converter.py
  lib/galaxy/datatypes/converters/fastqsolexa_to_qual_converter.py
  lib/galaxy/datatypes/converters/gff_to_bed_converter.py
  lib/galaxy/datatypes/converters/interval_to_bed_converter.py
  lib/galaxy/datatypes/converters/interval_to_bedstrict_converter.py
  lib/galaxy/datatypes/converters/interval_to_coverage.py
  lib/galaxy/datatypes/converters/interval_to_fli.py
  lib/galaxy/datatypes/converters/lped_to_fped_converter.py
  lib/galaxy/datatypes/converters/maf_to_fasta_converter.py
  lib/galaxy/datatypes/converters/maf_to_interval_converter.py
  lib/galaxy/datatypes/converters/picard_interval_list_to_bed6_converter.py
  lib/galaxy/datatypes/converters/ref_to_seq_taxonomy_converter.py
  lib/galaxy/datatypes/converters/sam_to_bam.py
  lib/galaxy/datatypes/converters/wiggle_to_simple_converter.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/images.py
  lib/galaxy/datatypes/interval.py
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/datatypes/msa.py
  lib/galaxy/datatypes/qualityscore.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/text.py
  lib/galaxy/datatypes/xml.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrate/versions/0005_cleanup_datasets_fix.py
Labels: area/datatypes, kind/refactoring, status/review

#5589 [18.01] Add queryname sorted and input sorted datatypes
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/converters/sam_to_bam_native.xml
  lib/galaxy/datatypes/converters/to_coordinate_sorted_bam.xml
  lib/galaxy/datatypes/converters/to_qname_sorted_bam.xml
  test-data/qname_sorted.bam
  test/functional/tools/sam_to_bam_native.xml
  test/functional/tools/sample_datatypes_conf.xml
Labels: area/datatypes, kind/feature, status/review

#5630 Minor tweak to active tab wrangling
  client/galaxy/scripts/mvc/history/history-view-edit.js
  client/galaxy/scripts/mvc/tool/tool-genomespace.js
  client/galaxy/scripts/utils/utils.js
Labels: area/cleanup, kind/refactoring, minor, status/review

#5615 [18.01] fix for cases where panel elements have to_dict with different signature
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/tools/toolbox/panel.py
Labels: area/performance, kind/bug, status/review

#5317 History structure
  client/galaxy/scripts/apps/analysis.js
  client/galaxy/scripts/apps/extended.js
  client/galaxy/scripts/components/DisplayStructured.vue
  client/galaxy/scripts/components/HistoryView.vue
  client/galaxy/scripts/mvc/history/history-view.js
  client/galaxy/scripts/mvc/history/multi-panel.js
  client/galaxy/scripts/mvc/history/options-menu.js
  lib/galaxy/util/create_history_template.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  static/style/blue/base.css
  templates/webapps/galaxy/history/display_structured.mako
  templates/webapps/galaxy/history/view.mako
Labels: area/UI-UX, area/histories, status/review

#5634 [18.01] Remove href from grid sorting links
  client/galaxy/scripts/mvc/grid/grid-template.js
  lib/galaxy/web/framework/helpers/grids.py
Labels: area/UI-UX, kind/bug, minor, status/WIP

#5596 allows whitelisted symlinks to be imported from
  lib/galaxy/util/path/__init__.py
  lib/galaxy/webapps/galaxy/api/remote_files.py
Labels: area/API, area/libraries, kind/feature, status/review

#5636 Use new style classes for Py2/3 consistency
  lib/galaxy/datatypes/interval.py
  lib/galaxy/datatypes/qualityscore.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/exceptions/__init__.py
  lib/galaxy/jobs/dynamic_tool_destination.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/item_attrs.py
  lib/galaxy/security/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/data/__init__.py
  lib/galaxy/tools/deps/container_resolvers/__init__.py
  lib/galaxy/tools/deps/containers.py
  lib/galaxy/tools/deps/mulled/util.py
  lib/galaxy/tools/deps/resolvers/__init__.py
  lib/galaxy/tools/deps/resolvers/brewed_tool_shed_packages.py
  lib/galaxy/tools/deps/resolvers/conda.py
  lib/galaxy/tools/deps/resolvers/galaxy_packages.py
  lib/galaxy/tools/deps/resolvers/homebrew.py
  lib/galaxy/tools/deps/resolvers/lmod.py
  lib/galaxy/tools/deps/resolvers/modules.py
  lib/galaxy/tools/deps/resolvers/resolver_mixins.py
  lib/galaxy/tools/deps/resolvers/tool_shed_packages.py
  lib/galaxy/tools/deps/resolvers/unlinked_tool_shed_packages.py
  lib/galaxy/tools/parser/output_objects.py
  lib/galaxy/tools/toolbox/integrated_panel.py
  lib/galaxy/tools/toolbox/lineages/interface.py
  lib/galaxy/tools/toolbox/panel.py
  lib/galaxy/tools/wrappers.py
  lib/galaxy/util/inflection.py
  lib/galaxy/util/monitors.py
  lib/galaxy/util/none_like.py
  lib/galaxy/visualization/data_providers/genome.py
  lib/galaxy/web/base/controller.py
  lib/galaxy/webapps/galaxy/controllers/tag.py
  lib/galaxy/webapps/reports/controllers/query.py
  lib/galaxy/webapps/tool_shed/security/__init__.py
  lib/galaxy/workflow/scheduling_manager.py
Labels: area/framework, kind/enhancement, status/review

#5635 [18.01] Fix output discovery if dir doesn't exist
  lib/galaxy/tools/parameters/output_collect.py
  test/functional/tools/multi_output_recurse.xml
Labels: area/dataset-collections, area/jobs, kind/bug, minor, status/review

#5639 [17.09] Backport of #5043
  tools/stats/gsummary.py
Labels: area/tools, kind/bug, status/review

#5638 Small misc fixes and cleanups
  lib/galaxy/managers/containers.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/tools/xsd/galaxy.xsd
  lib/galaxy/web/framework/webapp.py
  scripts/migrate_tools/migrate_tools.py
  test/unit/tools/test_toolbox.py
Labels: area/documentation, area/framework, area/toolshed, kind/bug, status/review

#5631 [17.09] Changed GenomeSpace token handling to use manual OpenID association only
  client/galaxy/scripts/mvc/ui/ui-select-genomespace.js
  client/galaxy/style/less/ui.less
  static/maps/mvc/ui/ui-select-genomespace.js.map
  static/scripts/bundled/admin.bundled.js
  static/scripts/bundled/admin.bundled.js.map
  static/scripts/bundled/analysis.bundled.js
  static/scripts/bundled/analysis.bundled.js.map
  static/scripts/bundled/libs.bundled.js.map
  static/scripts/mvc/ui/ui-select-genomespace.js
  static/style/blue/base.css
  tools/genomespace/genomespace_exporter.xml
  tools/genomespace/genomespace_importer.xml
  tools/genomespace/genomespace_push.xml
Labels: area/tools, kind/bug, status/review

#5620 [18.01] Conda fix for commands using stdout redirection.
  lib/galaxy/tools/deps/conda_util.py
Labels: area/tool-framework, kind/bug

#5644 [18.01] Do not sniff BamInputSorted
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes, kind/bug, status/review

#5628 Externally Executable Tool Tests 2 (with better API)
  config/galaxy.yml.sample
  config/plugins/webhooks/demo/tour_generator/__init__.py
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app.py
  lib/galaxy/config.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parser/interface.py
  lib/galaxy/tools/parser/xml.py
  lib/galaxy/tools/parser/yaml.py
  lib/galaxy/tools/test.py
  lib/galaxy/tools/verify/interactor.py
  lib/galaxy/tools/verify/script.py
  lib/galaxy/tools/verify/test_data.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/api/test_tools.py
  test/base/api.py
  test/base/driver_util.py
  test/base/interactor.py
  test/base/testcase.py
  test/base/tool_shed_util.py
  test/functional/test_data_managers.py
  test/functional/test_toolbox.py
  test/functional/twilltestcase.py
  test/integration/test_data_manager_table_reload.py
  test/integration/test_shed_tool_tests.py
  test/integration/uses_shed.py
  test/shed_functional/base/twilltestcase.py
  test/unit/tools/test_parsing.py
Labels: area/API, area/testing, kind/enhancement

#5653 Bring in the latest galaxy-lib updates.
  lib/galaxy/tools/deps/mulled/mulled_build.py
  lib/galaxy/tools/verify/asserts/__init__.py
  lib/galaxy/util/path/__init__.py
Labels: area/tool-framework, kind/bug, kind/enhancement

#5659 [18.01] Merge with 17.09
  client/galaxy/scripts/mvc/ui/ui-select-genomespace.js
  client/galaxy/style/less/ui.less
  static/style/blue/base.css
  tools/genomespace/genomespace_exporter.xml
  tools/genomespace/genomespace_importer.xml
  tools/genomespace/genomespace_push.xml
Labels: merge

#5660 Merge forward genomespace changes
  client/galaxy/scripts/mvc/ui/ui-select-genomespace.js
  client/galaxy/style/less/ui.less
  static/style/blue/base.css
  tools/genomespace/genomespace_exporter.xml
  tools/genomespace/genomespace_importer.xml
  tools/genomespace/genomespace_push.xml
Labels: merge

#5650 [18.01] Use sample file path when adding missing indexes
  lib/tool_shed/util/tool_util.py
Labels: area/toolshed, kind/bug, status/review

#5662 [18.01] Fix exception if user preference value undefined
  lib/galaxy/tools/toolbox/filters/__init__.py
Labels: kind/bug, status/review

#5663 [18.01] Fix exception if email is not specified or email is wrong
  lib/galaxy/webapps/galaxy/controllers/user.py
Labels: area/UI-UX, kind/bug, status/review

#5665 [18.01] Show error message if history structure can't be shown
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: area/UI-UX, kind/bug, status/review

#5664 [18.01] Show error message if user tries purging datasets
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: area/UI-UX, kind/bug, status/review

#5261 [18.01] Trackster fixes.
  client/galaxy/scripts/utils/config.js
  client/galaxy/scripts/viz/trackster.js
  client/galaxy/scripts/viz/trackster/filters.js
  client/galaxy/scripts/viz/trackster/painters.js
  client/galaxy/scripts/viz/trackster/slotting.js
  client/galaxy/scripts/viz/trackster/tracks.js
  client/galaxy/scripts/viz/visualization.js
Labels: area/visualizations, kind/bug, kind/refactoring, status/review

#5220 Hierarchical upload API optimized for folders & collections.
  lib/galaxy/actions/library.py
  lib/galaxy/app.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/upload_util.py
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/jobs/__init__.py
  lib/galaxy/managers/collections.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/upload.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/tools/data_fetch.xml
  lib/galaxy/tools/execute.py
  lib/galaxy/tools/parameters/output_collect.py
  lib/galaxy/tools/special_tools.py
  lib/galaxy/util/compression_utils.py
  lib/galaxy/webapps/galaxy/api/_fetch_util.py
  lib/galaxy/webapps/galaxy/api/library_contents.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/workflow/modules.py
  lib/tool_shed/galaxy_install/tool_dependencies/recipe/step_handler.py
  scripts/api/fetch_to_library.py
  scripts/api/fetch_to_library_example.yml
  test-data/1.csv
  test-data/example-bag.zip
  test-data/testdir1.zip
  test/api/test_dataset_collections.py
  test/api/test_libraries.py
  test/api/test_tools_upload.py
  test/base/driver_util.py
  test/base/integration_util.py
  test/base/populators.py
  test/functional/tools/sample_datatypes_conf.xml
  test/integration/test_upload_configuration_options.py
  tools/data_source/upload.py
Labels: area/API, area/dataset-collections, area/libraries, area/testing/api, kind/enhancement, status/review

#5643 [18.01] Consistent sniffing regardless of in_place.
  tools/data_source/upload.py
Labels: area/upload, kind/bug

#5610 Add basic cgroup metric collection
  config/job_metrics_conf.xml.sample
  lib/galaxy/jobs/metrics/instrumenters/cgroup.py
Labels: area/jobs, kind/enhancement, status/review

#5667 Tool Testing Fix and Enhancements
  lib/galaxy/tools/verify/interactor.py
  lib/galaxy/tools/verify/script.py
  test/functional/test_toolbox.py
Labels: area/testing, area/tool-framework, kind/bug, kind/enhancement

#5668 [18.01] Release Notes
  doc/source/releases/18.01.rst
  doc/source/releases/18.01_announce.rst
  doc/source/releases/18.05_announce.rst
  doc/source/releases/index.rst
Labels: area/documentation, kind/enhancement, status/review

#5674 [18.01] Rename datatype extension 'bam_native' to 'unsorted.bam'.
  config/datatypes_conf.xml.sample
  doc/source/releases/18.01.rst
  doc/source/releases/18.01_announce.rst
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/converters/bam_to_bigwig_converter.xml
  lib/galaxy/datatypes/converters/sam_to_unsorted_bam.xml
  lib/galaxy/datatypes/converters/to_coordinate_sorted_bam.xml
  lib/galaxy/datatypes/converters/to_qname_sorted_bam.xml
  lib/galaxy/datatypes/sniff.py
  test/functional/tools/sam_to_unsorted_bam.xml
  test/functional/tools/sample_datatypes_conf.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/datatypes, kind/enhancement, kind/refactoring, status/review

#5677 [18.01] Additional error handling for GIE container launching
  lib/galaxy/containers/docker_model.py
  lib/galaxy/visualization/plugins/interactive_environments.py
  lib/galaxy/visualization/plugins/plugin.py
Labels: area/GIEs, kind/bug, status/review

#5679 Rebuild client only if there are changes
  scripts/common_startup.sh
Labels: area/framework, kind/enhancement, status/review

#5676 [18.01] replace incorrect list add syntax
  lib/galaxy/managers/libraries.py
Labels: area/libraries, kind/bug, status/review

#5678 [18.01] Support re-execution of immediate PJAs when re-queing jobs
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/workflow/run_request.py
  test/api/test_workflows.py
Labels: area/workflows, kind/bug, status/review

#5681 library manager - use a set instead of list
  lib/galaxy/managers/libraries.py
Labels: area/libraries, area/performance, kind/enhancement, status/review

#5683 fix the inconsistency between two library fixes
  lib/galaxy/managers/libraries.py
Labels: area/libraries, kind/bug, minor

#5680 Populate column selector for datasets which are not ready yet
  lib/galaxy/tools/parameters/basic.py
Labels: area/tool-framework, kind/enhancement, status/review

#5685 [18.01] add security announcement to the release notes
  doc/source/releases/18.01_announce.rst
Labels: area/documentation, kind/enhancement, status/review

#5646 Avoid producing deep-copies of tool input dictionaries
  client/galaxy/scripts/mvc/form/form-data.js
  client/galaxy/scripts/mvc/form/form-section.js
  client/galaxy/scripts/mvc/form/form-view.js
  client/galaxy/scripts/mvc/tool/tool-form-composite.js
  client/galaxy/style/less/ui.less
  static/style/blue/base.css
Labels: area/UI-UX, kind/enhancement, status/review

#5688 [18.01] backport add security announcement to the release notes
  doc/source/releases/18.01_announce.rst
Labels: merge, minor

#5690 Fix for running Yarn in Docker for tests that do not need it.
  run_tests.sh
Labels: area/testing, kind/bug, status/review

#5699 Better logging for a large number of workflow API tests.
  test/api/test_workflows.py
Labels: area/testing/api, area/workflows, kind/enhancement

#5697 Improve error logging for API-based testing.
  lib/galaxy/tools/verify/interactor.py
  test/base/populators.py
Labels: area/testing/api, kind/enhancement

#5691 Various test fixes
  config/datatypes_conf.xml.sample
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/tools/parameters/output_collect.py
  lib/galaxy/webapps/galaxy/api/_fetch_util.py
  lib/galaxy/webapps/galaxy/api/tools.py
  test/api/test_tools_upload.py
  test/base/populators.py
  test/integration/test_upload_configuration_options.py
Labels: area/testing, kind/bug, status/review

#5700 Do not show composite datatypes for regular dataset upload
  client/galaxy/scripts/mvc/upload/default/default-row.js
Labels: area/upload, kind/bug, status/review

#5701 Don't let failure to save Selenium screenshot for debugging mask underlying errors.
  test/selenium_tests/framework.py
Labels: area/testing/selenium, kind/bug, status/review

#5703 Fix for merging of HDA & DCE models into one model in the client.
  client/galaxy/scripts/mvc/collection/collection-model.js
  client/galaxy/scripts/mvc/dataset/dataset-model.js
Labels: area/UI-UX, area/dataset-collections, kind/bug, status/review

#5705 Make collection builder tests more robust against potential history panel glitches.
  test/selenium_tests/test_collection_builders.py
Labels: area/testing/selenium, kind/bug, kind/enhancement

#5707 Potential fix for occasional waiting on popups to clear.
  test/galaxy_selenium/navigates_galaxy.py
Labels: area/testing/selenium, kind/bug, kind/enhancement, status/review

#5708 Don't retry skipped tests.
  test/selenium_tests/framework.py
Labels: area/testing/selenium, kind/bug, status/review

#5709 [18.01] Fix/default role type on auto created roles
  lib/galaxy/security/__init__.py
Labels: area/security, kind/bug, status/review

#5710 Make problematic test test_library_to_collections more robust.
  test/selenium_tests/test_library_to_collections.py
Labels: area/testing/selenium, kind/bug, status/review

#5711 Properly order @flakey and @selenium_test decorators
  test/selenium_tests/test_jupyter.py
  test/selenium_tests/test_tool_form.py
Labels: area/testing/selenium, kind/bug, status/review

#5718 Remove subclass="true" from Phylip datatype definition
  config/datatypes_conf.xml.sample
Labels: area/datatypes, kind/bug, status/review

#5717 [18.01] Clarify that nginx-extras needs to be install for the upload_store d…
  doc/source/admin/nginx.md
Labels: area/documentation, kind/bug, status/review

#5719 Swap for the constant time comparison algorithm
  lib/galaxy/security/passwords.py
Labels: area/security, status/review

#5689 Memory and performance fixes for upload tool
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/genetics.py
  lib/galaxy/datatypes/ngsindex.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/tools/loader_directory.py
  lib/galaxy/util/checkers.py
  lib/galaxy_ext/metadata/set_metadata.py
  lib/tool_shed/util/shed_util_common.py
  lib/tool_shed/util/tool_util.py
  test/functional/tools/sample_datatypes_conf.xml
  test/integration/test_upload_configuration_options.py
  test/shed_functional/test_data/emboss/datatypes/datatypes_conf.xml
  tools/data_source/upload.py
  tools/data_source/upload.xml
Labels: area/performance, area/upload, kind/bug, kind/enhancement, status/review

#5724 Upgrade clone failure logging to error
  lib/tool_shed/util/hg_util.py
Labels: area/tool-framework, kind/enhancement, status/review

#5725 [17.09] Add Galaxy `lib` directory to Python path for 2 scripts
  scripts/cleanup_datasets/admin_cleanup_datasets.py
  scripts/cleanup_datasets/update_dataset_size.py
Labels: area/cleanup, kind/bug, status/review

#5730 [18.01] improve update commands in RN, clarify uwsgi config changes
  doc/source/releases/18.01_announce.rst
Labels: minor

#5728 [18.01] Backport 5724: upgrade clone failure logging to error
  lib/tool_shed/util/hg_util.py
Labels: area/toolshed, kind/bug, merge

#5731 improve galaxy update commands, update some bootstrap checkpoints
  scripts/bootstrap_history.py
Labels: area/documentation, kind/enhancement, status/review

#5657 Disable tool input datatype validation for dropped history items
  client/galaxy/scripts/mvc/collection/collection-view.js
  client/galaxy/scripts/mvc/ui/ui-select-content.js
Labels: area/UI-UX, status/review

#5625 added GALAXY_MEMORY_MB_PER_SLOT variable
  doc/source/admin/cluster.md
  lib/galaxy/jobs/runners/util/job_script/MEMORY_STATEMENT.sh
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: area/admin, area/jobs, kind/enhancement, status/review

#5637 Update tool conf samples
  config/tool_conf.xml.main
  config/tool_conf.xml.sample
Labels: area/admin, area/tools, kind/refactoring

#5675 Fix active tab highlighting
  client/galaxy/scripts/apps/analysis.js
  client/galaxy/scripts/layout/menu.js
  client/galaxy/scripts/mvc/dataset/dataset-edit-attributes.js
  client/galaxy/scripts/mvc/dataset/dataset-error.js
  client/galaxy/scripts/mvc/form/form-wrapper.js
  client/galaxy/scripts/mvc/grid/grid-shared.js
  client/galaxy/scripts/mvc/history/history-list.js
  client/galaxy/scripts/mvc/tool/tool-form-composite.js
  client/galaxy/scripts/mvc/ui/ui-misc.js
  client/galaxy/scripts/mvc/user/user-custom-builds.js
  client/galaxy/scripts/mvc/user/user-preferences.js
  client/galaxy/scripts/mvc/visualization/visualization-view.js
  client/galaxy/scripts/mvc/workflow/workflow.js
Labels: area/UI-UX, kind/bug

#5737 Drop old charts building from makefile/package scripts
  Makefile
  client/galaxy/scripts/mvc/collection/collection-model.js
  client/package.json
Labels: area/cleanup, area/visualizations, kind/bug, status/review

#5401 Change initial bind for slow query logging
  lib/galaxy/model/orm/engine_factory.py
Labels: kind/bug, status/review

#4830 Workflow-to-Job Scheduling Parameters
  client/galaxy/scripts/mvc/tool/tool-form-composite.js
  config/galaxy.yml.sample
  config/workflow_resource_mapper_conf.yml.sample
  config/workflow_resource_params_conf.xml.sample
  lib/galaxy/config.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/dynamic_tool_destination.py
  lib/galaxy/jobs/mapper.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/execute.py
  lib/galaxy/util/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/resources/__init__.py
  lib/galaxy/workflow/resources/example.py.sample
  lib/galaxy/workflow/run_request.py
  test/unit/jobs/dynamic_tool_destination/mockGalaxy.py
Labels: area/workflows, kind/feature, status/review

#5320 allow registration with empty email
  lib/galaxy/security/validate_user_input.py
  lib/galaxy/webapps/galaxy/controllers/user.py
Labels: triage

#5658 Add buffer-size to galaxy.yml.sample
  config/galaxy.yml.sample
  config/reports.yml.sample
  config/tool_shed.yml.sample
  lib/galaxy/webapps/config_manage.py
Labels: kind/enhancement, minor, status/review

#5669 Add script for propagating hashtags in a Galaxy history
  scripts/apply_tags.py
Labels: triage

#5741 Remove extract_genomic_dna tool from tool sample.
  config/tool_conf.xml.sample
Labels: area/tools, kind/bug, kind/enhancement

#5692 Hack to fix bug in uploader where it sometimes posts with empty "file_type".
  client/galaxy/scripts/mvc/upload/upload-view.js
Labels: area/UI-UX, area/testing/selenium, kind/bug, status/review

#5714 Restructure and mark as flakey problematic library collection Selenium test.
  test/selenium_tests/test_library_to_collections.py
Labels: area/dataset-collections, area/testing/selenium, kind/bug

#5740 Fix broken bagit API test.
  test/api/test_libraries.py
Labels: area/testing/api, kind/bug, minor

#5747 Typo fixes and small refactors
  config/job_conf.xml.sample_advanced
  doc/source/admin/nginx.md
  doc/source/admin/scaling.md
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/webapps/config_manage.py
  lib/galaxy/webapps/galaxy/api/remote_files.py
  test/api/test_workflows.py
Labels: area/API, area/datatype-framework, area/documentation, kind/bug, kind/enhancement, status/review

#5746 Tool versions should follow PEP 440
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: area/documentation, kind/enhancement, status/review

#5645 Update Dynamic Tool Destinations With Configurable Priorities and Better Validation
  lib/galaxy/jobs/dynamic_tool_destination.py
  test/unit/jobs/dynamic_tool_destination/data/job_conf.xml
  test/unit/jobs/dynamic_tool_destination/data/priority_tool_destination.yml
  test/unit/jobs/dynamic_tool_destination/data/test_no_verbose.yml
  test/unit/jobs/dynamic_tool_destination/data/test_num_input_datasets.yml
  test/unit/jobs/dynamic_tool_destination/data/tool_destination.yml
  test/unit/jobs/dynamic_tool_destination/mockGalaxy.py
  test/unit/jobs/dynamic_tool_destination/test_dynamic_tool_destination.py
  test/unit/jobs/dynamic_tool_destination/ymltests.py
Labels: area/jobs, kind/enhancement, status/review

#5752 Scatterplot Fixes
  client/galaxy/scripts/mvc/visualization/visualization-model.js
  client/galaxy/scripts/ui/pagination.js
  client/galaxy/scripts/ui/peek-column-selector.js
  config/plugins/visualizations/scatterplot/.babelrc
  config/plugins/visualizations/scatterplot/package.json
  config/plugins/visualizations/scatterplot/src/jqglobals.js
  config/plugins/visualizations/scatterplot/src/scatterplot.js
  config/plugins/visualizations/scatterplot/static/scatterplot.js
  config/plugins/visualizations/scatterplot/templates/scatterplot.mako
Labels: area/visualizations, kind/bug, status/review

#5754 Another attempt to skip flakey Selenium tests.
  test/base/populators.py
  test/selenium_tests/test_library_to_collections.py
Labels: area/testing/selenium, kind/bug

#5759 For scatterplot, lock a local parcel build
  config/plugins/visualizations/scatterplot/package.json
Labels: minor, status/review

#5749 [18.01] Capture more HDA state transitions in the history panel.
  lib/galaxy/jobs/__init__.py
  lib/galaxy/model/__init__.py
Labels: area/API, area/UI-UX, kind/bug, kind/enhancement

#5758 Fix linking option for library dataset uploads
  tools/data_source/upload.py
Labels: area/upload, kind/bug, status/review

#5760 Makes Kubernetes namespace configurable, from the runner's perspective.
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs, kind/bug, status/review

#5715 Downgrade the warning to an info
  lib/galaxy/objectstore/__init__.py
Labels: area/admin, area/objectstore, kind/enhancement, status/review

#5742 Allow formatting statsd data for influxdb
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config.py
  lib/galaxy/web/framework/middleware/statsd.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/admin, kind/enhancement, status/review

#5766 [18.01] Fix copying tags for collections when copying histories.
  lib/galaxy/model/__init__.py
Labels: area/dataset-collections, kind/bug, status/review

#5732 [18.01] Fix LDAP when role_search_attribute is not defined
  lib/galaxy/auth/providers/ldap_ad.py
Labels: area/framework, kind/bug, status/review

#5771 Ignore seemingly harmless error when tearing down Selenium tests.
  test/selenium_tests/framework.py
Labels: area/testing/selenium, kind/bug

#5773 [18.01] Fix /api/whoami for master API key.
  lib/galaxy/webapps/galaxy/api/configuration.py
Labels: area/API, kind/bug

#5735 [17.09] Fix mulled docker caching.
  lib/galaxy/tools/deps/container_resolvers/mulled.py
  lib/galaxy/tools/deps/docker_util.py
Labels: area/tool-framework, kind/bug, status/review

#5706 Fix setup code in library test landing page to rerun on test retry.
  test/selenium_tests/framework.py
Labels: area/testing/selenium, kind/bug

#5686 GFF updates to handle ##FASTA directive
  lib/galaxy/datatypes/converters/bed_gff_or_vcf_to_bigwig_converter.xml
  lib/galaxy/datatypes/converters/interval_to_fli.py
  lib/galaxy/datatypes/util/gff_util.py
Labels: area/datatypes, area/visualizations, kind/bug, kind/enhancement, status/review

#5776 Rev and re-lock Galaxy dependencies
  lib/galaxy/dependencies/pinned-hashed-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/develop/Pipfile.lock
  lib/galaxy/dependencies/pipfiles/develop/pinned-hashed-requirements.txt
  lib/galaxy/dependencies/pipfiles/develop/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/Pipfile.lock
  lib/galaxy/dependencies/pipfiles/flake8/pinned-hashed-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/update.sh
  tox.ini
Labels: area/dependencies, kind/enhancement, status/review

#5784 [18.01] Fix model operation tools that produce standalone datasets.
  lib/galaxy/tools/actions/model_operations.py
  test/api/test_tools.py
Labels: area/tool-framework, area/tools, kind/bug

#5745 [18.01] Configuration fixes
  config/galaxy.yml.sample
  config/reports.yml.sample
  config/tool_shed.yml.sample
  doc/source/admin/galaxy_options.rst
  doc/source/admin/reports_options.rst
  lib/galaxy/config.py
  lib/galaxy/webapps/config_manage.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/documentation, area/framework, kind/bug, status/review

#5721 Sentry bug reports working for anonymous users
  lib/galaxy/tools/error_reports/plugins/sentry.py
Labels: area/admin, kind/bug, status/review

#5788 Config-rebuild w/ options doc
  doc/source/admin/galaxy_options.rst
Labels: area/documentation, minor, status/review

#5693 Fixes for testing Dockerfile recipe.
  test/docker/base/Dockerfile
Labels: area/testing, kind/bug, kind/enhancement, status/review

#5786 Use pipenv also for the default dependencies
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/update.sh
  lib/galaxy/dependencies/requirements.txt
Labels: area/dependencies, kind/enhancement, status/review

#5702 Relax validation condition for dynamic parameters
  client/galaxy/scripts/mvc/form/form-parameters.js
  client/galaxy/scripts/mvc/ui/ui-misc.js
  lib/galaxy/tools/parameters/basic.py
  test/api/test_tools.py
Labels: area/UI-UX, area/tool-framework, status/review

#5772 Add genbank.gz datatype
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/converters/genbankgz_to_genbank.xml
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/test/1.genbank
  lib/galaxy/datatypes/test/1.genbank.gz
  tox.ini
Labels: area/datatypes, kind/feature, status/review

#5782 [18.01] Fix SQL query for "workflows shared with me" as part of workflow index.
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/performance, area/workflows, kind/bug

#5799 Fix history link to visualizations view
  client/galaxy/scripts/mvc/dataset/dataset-li-edit.js
Labels: area/visualizations, kind/bug, status/review

#5789 Add delay attribute to grid handler
  client/galaxy/scripts/mvc/grid/grid-template.js
  client/galaxy/scripts/mvc/grid/grid-view.js
  client/galaxy/scripts/mvc/history/history-list.js
  lib/galaxy/web/framework/helpers/grids.py
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: area/framework, kind/refactoring, status/review

#5774 [18.01] Log the pid of the first uWSGI process
  lib/galaxy/web/stack/__init__.py
Labels: area/framework, kind/bug, status/review

#5798 Lock pysam to 0.14.1 in Pipfile.
  lib/galaxy/dependencies/pipfiles/default/Pipfile
Labels: area/dependencies, kind/enhancement, status/review

#5800 [18.01] Client related readme/makefile clarifications
  CONTRIBUTING.md
  Makefile
  client/README.md
Labels: area/documentation, kind/enhancement, status/review

#5806 [18.01] Use app.datatypes_registry in ValidationContext.from_app()
  lib/galaxy/datatypes/registry.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/repositories.py
Labels: area/tool-framework, kind/bug, status/review

#5805 [18.01] Fix metadata setting for CRAM files
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes, kind/bug, status/review

#5698 Bump psycopg2 to 2.7.4;
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  scripts/common_startup.sh
Labels: area/framework, kind/bug, status/review

#5769 [18.01] Fix scripts/ for YAML/ENV configuration processing
  lib/galaxy/config.py
  lib/galaxy/model/orm/scripts.py
  lib/galaxy/util/hash_util.py
  lib/galaxy/util/script.py
  scripts/cleanup_datasets/admin_cleanup_datasets.py
  scripts/cleanup_datasets/cleanup_datasets.py
  scripts/cleanup_datasets/pgcleanup.py
  scripts/cleanup_datasets/populate_uuid.py
  scripts/cleanup_datasets/remove_renamed_datasets_from_disk.py
  scripts/cleanup_datasets/rename_purged_datasets.py
  scripts/cleanup_datasets/update_dataset_size.py
  scripts/cleanup_datasets/update_metadata.py
  scripts/communication/communication_server.py
  scripts/data_libraries/build_lucene_index.py
  scripts/data_libraries/build_lucene_index.sh
  scripts/data_libraries/build_whoosh_index.py
  scripts/data_libraries/build_whoosh_index.sh
  scripts/db_shell.py
  scripts/galaxy-main
  scripts/grt/export.py
  scripts/grt/grt.yml.sample
  scripts/grt/upload.py
  scripts/helper.py
  scripts/manage_db.py
  scripts/others/incorrect_gops_jobs.py
  scripts/others/incorrect_gops_jobs.sh
  scripts/others/incorrect_gops_join_jobs.py
  scripts/others/incorrect_gops_join_jobs.sh
  scripts/runtime_stats.py
  scripts/secret_decoder_ring.py
  scripts/set_dataset_sizes.py
  scripts/set_user_disk_usage.py
  scripts/sync_reports_config.py
  scripts/transfer.py
  test/integration/test_scripts.py
Labels: area/admin, area/cleanup, kind/bug, kind/enhancement, status/review

#5815 Update README.rst
  README.rst
Labels: area/documentation, minor

#5365 Rule-based Uploader / Builder
  client/.babelrc
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
  client/galaxy/scripts/mvc/collection/list-collection-creator.js
  client/galaxy/scripts/mvc/history/history-view-edit.js
  client/galaxy/scripts/mvc/history/job-states-model.js
  client/galaxy/scripts/mvc/upload/collection/rules-input-view.js
  client/galaxy/scripts/mvc/upload/upload-ftp.js
  client/galaxy/scripts/mvc/upload/upload-utils.js
  client/galaxy/scripts/mvc/upload/upload-view.js
  client/galaxy/style/less/upload.less
  client/package.json
  client/webpack.config.js
  client/yarn.lock
  lib/galaxy/webapps/galaxy/api/jobs.py
  test-data/rules/PRJDA60709.tsv
  test-data/rules/PRJDB3920.tsv
  test-data/rules/PRJNA355367.tsv
  test-data/rules/uniprot.json
  test-data/rules/uniprot.tsv
  test/functional/tools/sample_datatypes_conf.xml
  test/galaxy_selenium/has_driver.py
  test/galaxy_selenium/navigates_galaxy.py
  test/galaxy_selenium/navigation.yml
  test/galaxy_selenium/smart_components.py
  test/selenium_tests/framework.py
  test/selenium_tests/test_collection_builders.py
  test/selenium_tests/test_uploads.py
Labels: area/UI-UX, area/dataset-collections, area/testing/selenium, area/upload, kind/feature, status/review

#5816 Bugfix in upload_common -- ensure hda is added to a session
  lib/galaxy/tools/actions/upload_common.py
Labels: area/database, kind/bug, status/review
