Repository galaxyproject/galaxy, pull requests merged in 2018-08, with the labels that each got.

#6544 Fixes for API installation bugs.
  client/galaxy/scripts/admin.toolshed.js
  client/galaxy/scripts/mvc/toolshed/categories-view.js
  client/galaxy/scripts/mvc/toolshed/repo-queue-view.js
  client/galaxy/scripts/mvc/toolshed/repo-status-view.js
  client/galaxy/scripts/mvc/toolshed/repositories-view.js
  client/galaxy/scripts/mvc/toolshed/repository-queue-view.js
  client/galaxy/scripts/mvc/toolshed/repository-view.js
  client/galaxy/scripts/mvc/toolshed/shed-list-view.js
  client/galaxy/scripts/mvc/toolshed/toolshed-model.js
  client/galaxy/scripts/mvc/toolshed/util.js
  client/galaxy/scripts/mvc/toolshed/workflows-view.js
  lib/galaxy/webapps/galaxy/api/toolshed.py
Labels: area/toolshed, kind/bug, status/review

#6562 More Selenium test fixes.
  client/galaxy/scripts/components/Citations.vue
  client/galaxy/scripts/components/Sharing.vue
  test/base/populators.py
  test/galaxy_selenium/navigates_galaxy.py
  test/galaxy_selenium/navigation.yml
  test/galaxy_selenium/smart_components.py
  test/selenium_tests/test_history_sharing.py
  test/selenium_tests/test_published_histories_grid.py
  test/selenium_tests/test_saved_histories.py
  test/selenium_tests/test_tool_form.py
Labels: area/testing/selenium, kind/bug, status/review

#6561 Fix all py3 api tests
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/datatypes/neo4j.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/text.py
  lib/galaxy/jobs/runners/state_handlers/_safe_eval.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/data/__init__.py
  lib/galaxy/tools/deps/container_resolvers/mulled.py
  lib/galaxy/tools/imp_exp/export_history.py
  lib/galaxy/tools/imp_exp/imp_history_from_archive.xml
  lib/galaxy/tools/imp_exp/unpack_tar_gz_archive.py
  lib/galaxy/tools/test.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/checkers.py
  lib/galaxy/util/hash_util.py
  lib/galaxy/web/base/controller.py
  lib/galaxy/web/framework/base.py
  lib/galaxy/web/framework/decorators.py
  lib/galaxy/web/framework/middleware/batch.py
  lib/galaxy/web/framework/middleware/static.py
  lib/galaxy/web/framework/webapp.py
  lib/galaxy/webapps/galaxy/api/authenticate.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/api/tool_data.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/api/webhooks.py
  lib/galaxy/webapps/galaxy/controllers/root.py
  lib/galaxy/workflow/steps.py
  templates/tagging_common.mako
  test/api/test_authenticate.py
  test/api/test_dataset_collections.py
  test/api/test_jobs.py
  test/api/test_libraries.py
  test/api/test_tool_data.py
  test/api/test_tools.py
  test/base/data/test_workflow_topoambigouity.ga
  test/base/data/test_workflow_topoambigouity_auto_laidout.ga
  test/base/populators.py
  test/integration/test_scripts.py
  test/integration/test_upload_configuration_options.py
  test/unit/tools/test_execution.py
  test/unit/tools/test_history_imp_exp.py
  tools/filters/random_lines_two_pass.py
Labels: area/cleanup, kind/refactoring, status/review

#6567 Move back to paste's FileApp
  lib/galaxy/web/framework/middleware/static.py
Labels: area/system, kind/bug, minor, status/review

#6550 Configure object store for datasets in job handler instead of web thread.
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/unit/jobs/test_job_wrapper.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/dataset-collections, area/jobs, area/objectstore, area/performance, kind/enhancement, status/review

#6532 [18.05] Fix dataset copy tags
  lib/galaxy/webapps/galaxy/controllers/dataset.py
Labels: kind/bug, status/review

#6570 [18.01] Use subworkflow index when setting auto-label
  lib/galaxy/workflow/modules.py
  test/api/test_workflows.py
  test/base/workflows_format_2/converter.py
Labels: area/workflows/subworkflows, kind/bug, status/review

#6571 [18.05] Fix workflow run link for extracted workflows
  lib/galaxy/webapps/galaxy/controllers/workflow.py
Labels: area/UI-UX, kind/bug, status/review

#5457 Allow selecting subset of collection by group tag
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/wrappers.py
  lib/galaxy/tools/xsd/galaxy.xsd
  test/api/test_tools.py
  test/functional/tools/collection_cat_group_tag.xml
  test/functional/tools/collection_cat_group_tag_multiple.xml
  test/functional/tools/samples_tool_conf.xml
  test/unit/test_objectstore.py
  test/unit/tools/test_wrappers.py
Labels: area/UI-UX, area/tools, status/review

#6574 [18.05] Client rebuild to include uploadbox value fix in release branch.
  static/scripts/bundled/analysis.bundled.js
  static/scripts/utils/uploadbox.js
Labels: area/client-build, minor, status/review

#6578 Fix last consistently failing Selenium test.
  test/base/rules_test_data.py
Labels: area/testing/selenium, kind/bug, minor

#6551 Redirect unidentified routes in admin panel
  client/galaxy/scripts/apps/admin.js
  client/galaxy/scripts/apps/panels/admin-panel.js
Labels: area/UI-UX, kind/bug, status/review

#6586 Smarter Test Histories (Part I)
  run_tests.sh
  test/api/test_tools.py
  test/base/populators.py
  test/selenium_tests/framework.py
Labels: area/testing/api, area/testing/selenium, kind/enhancement

#6588 [18.05] Use object store to check for existence of extra_files_path
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/data_manager/manager.py
Labels: area/admin, kind/bug, status/review

#6587 Remove backbone version of thumbnail element
  client/galaxy/scripts/components/PluginList.vue
  client/galaxy/scripts/mvc/ui/ui-thumbnails.js
  client/galaxy/scripts/qunit/tests/ui_tests.js
  client/galaxy/style/scss/ui.scss
  static/style/blue/base.css
Labels: area/UI-UX, area/cleanup, status/review

#6592 Resolve overlap of workflow parameter container with gear-icon in editor header
  templates/webapps/galaxy/workflow/editor.mako
Labels: area/UI-UX, kind/bug, status/review

#6594 Respect unavailable display peek
  lib/galaxy/jobs/__init__.py
  lib/galaxy/model/__init__.py
  tools/stats/filtering.xml
Labels: area/API, area/jobs, kind/bug, status/review

#6596 Add download option to workflow editor menu
  client/galaxy/scripts/mvc/workflow/workflow-view.js
Labels: area/UI-UX, kind/enhancement

#6565 Setup py3 test job
  .ci/jenkins/api-py3/run_tests.sh
  .ci/jenkins/integration-py3/run_tests.sh
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/dependencies/pipfiles/develop/Pipfile
  lib/galaxy/dependencies/pipfiles/develop/pinned-requirements.txt
  lib/galaxy/jobs/output_checker.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/local.py
  lib/galaxy/model/custom_types.py
  lib/galaxy/tools/data/__init__.py
  lib/galaxy/tools/verify/interactor.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/none_like.py
  lib/galaxy/util/renamed_temporary_file.py
  lib/galaxy/web/framework/middleware/batch.py
  lib/galaxy/web/stack/__init__.py
  lib/galaxy/web/stack/transport.py
  lib/galaxy/webapps/galaxy/api/tool_shed_repositories.py
  lib/galaxy/webapps/galaxy/api/uploads.py
  lib/tool_shed/galaxy_install/install_manager.py
  lib/tool_shed/galaxy_install/repository_dependencies/repository_dependency_manager.py
  lib/tool_shed/galaxy_install/tools/data_manager.py
  lib/tool_shed/util/encoding_util.py
  pytest.ini
  run_tests.sh
  scripts/galaxy-main
  scripts/plugin_staging.py
  scripts/secret_decoder_ring.py
  test/api/test_workflows.py
  test/base/data/test_workflow_with_runtime_input.ga
  test/base/driver_util.py
  test/base/populators.py
  test/base/rules_test_data.py
  test/docker/base/Dockerfile
  test/docker/base/run_test_wrapper.sh
  test/integration/test_data_manager_table_reload.py
  test/integration/test_mules_as_job_handlers.py
  test/integration/test_scripts.py
  test/integration/tool_sheds_conf.xml
  test/integration/uses_shed.py
  tools/filters/random_lines_two_pass.py
  tools/filters/randomlines.xml
Labels: area/testing, kind/refactoring, status/review

#6582 Improve robustness of tour Selenium test.
  test/galaxy_selenium/navigates_galaxy.py
Labels: area/testing/selenium, kind/bug, kind/enhancement, status/review

#6602 [18.05] Fix Location of Plugin Static Content In Documentation for 18.05
  doc/source/admin/special_topics/interactive_environments.rst
Labels: area/admin, area/documentation, kind/bug, status/review

#6597 add trr datatype
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/em.trr
Labels: area/datatypes, kind/enhancement

#6591 [18.05] Update UCSC genome-test server URLs
  cron/build_chrom_db.py
  cron/parse_builds_3_sites.py
  tools/data_source/ucsc_tablebrowser_test.xml
Labels: area/tools

#6593 Migrate API tests in test_jobs.py to use test_history context.
  test/api/test_jobs.py
Labels: area/testing, kind/refactoring

#6605 Enable and fix framework py3 tests
  .ci/jenkins/framework-py3/run_tests.sh
  .ci/jenkins/selenium-py3/run_tests.sh
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/text.py
  lib/galaxy/jobs/splitters/multi.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/execute.py
  lib/galaxy/tools/parameters/output_collect.py
  lib/galaxy/tools/wrappers.py
  lib/galaxy/util/object_wrapper.py
  lib/galaxy/web/framework/helpers/grids.py
  run_tests.sh
  templates/display_common.mako
  templates/legacy/grid_base.mako
  templates/tagging_common.mako
  templates/webapps/tool_shed/repository/tool_form.mako
  test/base/driver_util.py
  test/functional/test_toolbox.py
  test/functional/test_toolbox_pytest.py
  test/functional/tools/metadata_biom1.xml
  test/functional/tools/parallelism.xml
  test/functional/tools/parallelism_optional.xml
Labels: area/testing, kind/refactoring, status/review

#6610 Fix remaining selenium py3 test failures
  lib/galaxy/web/framework/helpers/grids.py
  lib/galaxy/webapps/galaxy/controllers/tag.py
Labels: area/testing/selenium, kind/refactoring, status/review

#6609 Order data parameters before unlinked multiplication
  lib/galaxy/managers/jobs.py
  lib/galaxy/tools/parameters/__init__.py
  lib/galaxy/tools/parameters/meta.py
  lib/galaxy/util/permutations.py
  test/api/test_workflows.py
Labels: area/testing, kind/bug, kind/refactoring, status/review

#6613 add dcd datatype for molecular dynamics
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/test_charmm.vel
  lib/galaxy/datatypes/test/test_glucose_vacuum.dcd
Labels: area/datatypes

#6608 Handle driver shutdown, show all tests in pytest
  test/functional/conftest.py
  test/functional/test_data_managers.py
  test/functional/test_toolbox.py
  test/functional/test_toolbox_pytest.py
Labels: area/testing, kind/enhancement, status/review

#6611 Raise an exception if a history with decoded id does not exist.
  lib/galaxy/managers/cloud.py
Labels: area/objectstore, kind/refactoring, status/review

#6622 [minor] Fix incorrect import in display_common.mako.
  templates/display_common.mako
Labels: area/testing/selenium, kind/bug, minor

#6568 Unified dataset permission API.
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/hdas.py
  lib/galaxy/managers/lddas.py
  lib/galaxy/managers/rbac_secured.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/managers/users.py
  lib/galaxy/security/__init__.py
  lib/galaxy/web/base/controller.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/api/folder_contents.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy/webapps/galaxy/api/library_datasets.py
  lib/galaxy/webapps/galaxy/buildapp.py
  test/api/test_dataset_collections.py
  test/api/test_history_contents.py
  test/api/test_roles.py
  test/api/test_tools.py
  test/base/api.py
  test/base/populators.py
  test/unit/managers/test_DatasetManager.py
Labels: area/API, area/histories, area/libraries, area/security, kind/enhancement, status/review

#6552 Allow configuring object stores on a per-job-destination basis.
  lib/galaxy/jobs/__init__.py
  lib/galaxy/objectstore/__init__.py
  test/integration/objectstore_selection_job_conf.xml
  test/integration/objectstore_selection_job_resource_parameters_conf.xml
  test/integration/objectstore_selection_rules/__init__.py
  test/integration/objectstore_selection_rules/rules.py
  test/integration/test_objectstore_selection.py
Labels: area/jobs, area/objectstore, area/testing/integration, kind/enhancement, status/review

#6623 Fix cron/build_chrom_db.py and update UCSC builds
  cron/build_chrom_db.py
  tool-data/shared/ucsc/builds.txt.sample
  tool-data/shared/ucsc/ucsc_build_sites.txt.sample
Labels: area/tool-framework, kind/bug, status/review

#6629 Update some run_tests.sh docs for recent changes.
  run_tests.sh
Labels: area/documentation, area/testing, kind/bug, kind/enhancement

#6630 Remove check_python_dependencies job from Travis
  .travis.yml
Labels: area/testing, kind/enhancement, status/review

#6628 Update all dependencies
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/develop/Pipfile
  lib/galaxy/dependencies/pipfiles/flake8/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/update.sh
  lib/galaxy/webapps/galaxy/api/roles.py
Labels: area/dependencies, kind/enhancement, status/review

#6631 Fix metadata elements reset when creating Metadata files
  lib/galaxy/model/metadata.py
Labels: area/datatype-framework, kind/bug, minor, status/review

#6580 Add API endpoint to fetch a history's workflow invocations.
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/buildapp.py
  test/api/test_workflows.py
Labels: area/API, area/workflows, kind/enhancement, status/review

#6620 Integration test for job recovery.
  lib/galaxy/jobs/__init__.py
  test/base/driver_util.py
  test/base/integration_util.py
  test/integration/delay_job_conf.xml
  test/integration/delay_rules/__init__.py
  test/integration/delay_rules/rules.py
  test/integration/test_job_recovery.py
  test/integration/test_job_resubmission.py
Labels: area/jobs, area/testing/integration, kind/bug, kind/enhancement, status/review

#6636 Fix for workflow extraction cleanup routine.
  lib/galaxy/workflow/extract.py
Labels: area/workflows, kind/bug, status/review

#6606 Refresh an expired OIDC ID token
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/model/__init__.py
Labels: area/API, kind/enhancement, status/review

#6415 Allow supplying name of pasted data
  client/galaxy/scripts/mvc/upload/default/default-row.js
  client/galaxy/scripts/mvc/upload/upload-view.js
Labels: area/UI-UX, area/upload, kind/enhancement, status/review

#6643 Fix color of workflow panel background
  client/galaxy/style/scss/base.scss
  static/style/blue/base.css
Labels: area/UI-UX, kind/bug, status/review

#6572 Add tagging rule to history level rule builder, copy HDAs when building collection
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
  client/galaxy/scripts/mvc/history/history-contents.js
  client/galaxy/scripts/mvc/rules/rule-definitions.js
  lib/galaxy/managers/collections.py
  lib/galaxy/managers/collections_util.py
  lib/galaxy/managers/hdas.py
  lib/galaxy/managers/tags.py
  lib/galaxy/model/__init__.py
  lib/galaxy/util/__init__.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  test/api/test_history_contents.py
  test/unit/managers/test_HistoryContentsManager.py
  test/unit/managers/test_TagManager.py
Labels: area/API, area/UI-UX, area/dataset-collections, kind/enhancement, status/review

#6651 Strip API keys option from admin panel left side
  client/galaxy/scripts/apps/panels/admin-panel.js
  test/galaxy_selenium/navigation.yml
Labels: kind/bug, status/review

#6659 Fix get_fileobj() call in Eland.set_meta()
  lib/galaxy/datatypes/tabular.py
Labels: area/datatypes, kind/bug, status/review

#6656 Assorted fixes for #6572
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
  client/galaxy/scripts/mvc/collection/list-collection-creator.js
  client/galaxy/scripts/mvc/collection/list-of-pairs-collection-creator.js
  client/galaxy/scripts/mvc/collection/pair-collection-creator.js
  client/galaxy/scripts/mvc/history/history-contents.js
  client/galaxy/scripts/mvc/rules/rule-definitions.js
  client/galaxy/scripts/mvc/upload/upload-view.js
  lib/galaxy/managers/collections.py
  test/selenium_tests/test_collection_builders.py
Labels: area/API, area/dataset-collections, area/testing/selenium, kind/bug, minor
