Repository galaxyproject/galaxy, pull requests merged in 2018-12, with the labels that each got.

#7065 Fix link to requirements.txt
  doc/source/admin/framework_dependencies.rst
Labels: area/documentation, kind/bug, status/review

#7070 downgrade bdbag, 1.5.0 requires python:>=2.7.9
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: kind/bug

#7067 Improved parsing of sizes (bytes)
  lib/galaxy/util/__init__.py
Labels: area/framework, kind/bug, status/review

#7072 Make tags more colourful
  client/galaxy/scripts/mvc/history/history-item-li.js
  client/galaxy/scripts/mvc/ui/ui-select-default.js
  client/galaxy/scripts/utils/utils.js
Labels: area/UI-UX, kind/enhancement

#7060 [18.09] Eliminate dependency on make for automatic client build
  scripts/common_startup.sh
Labels: area/client-build, kind/enhancement, status/review

#7079 Follow-up on #7070
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/update.sh
Labels: area/dependencies, kind/bug, kind/enhancement, status/review

#7080 Fix toolshed repository error display
  templates/admin/tool_shed_repository/manage_repository.mako
Labels: area/admin, area/toolshed, kind/bug, status/review

#7081 Fix hashing, AND was not the right operation
  client/galaxy/scripts/utils/utils.js
Labels: area/UI-UX, kind/bug

#7084 Fix via refactor set_metadata so more output metadata pruned properly.
  lib/galaxy_ext/metadata/set_metadata.py
Labels: area/jobs, kind/bug

#7049 doc: updated error parsing docs
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: area/documentation, kind/enhancement

#7052 Add styled loader vue component
  client/galaxy/scripts/components/GalaxyLoader.vue
Labels: area/UI-UX, kind/feature

#7019 File-based Workflow Editor
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0146_workflow_paths.py
  lib/galaxy/web/base/controller.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  test/api/test_workflows.py
  test/base/populators.py
  test/base/workflow_fixtures.py
  test/integration/test_dockerized_jobs.py
  test/integration/test_workflow_sync.py
Labels: area/API, area/cwl, area/workflows, kind/enhancement

#7082 Remove legacy job handling hacks.
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/output_collect.py
  lib/galaxy_ext/metadata/set_metadata.py
Labels: area/cleanup, area/jobs, kind/enhancement

#7092 [18.09] boto cfg workaround
  .travis.yml
Labels: area/testing, kind/bug

#7096 Fix ``size_to_bytes`` for some float values
  lib/galaxy/util/__init__.py
Labels: area/framework, kind/bug, status/review

#6577 improved grouping tool
  tools/stats/grouping.py
  tools/stats/grouping.xml
Labels: area/tools, kind/enhancement, status/WIP

#6684 Deprecate `size` attribute of `<param/>` and remove it from tools
  config/job_resource_params_conf.xml.sample
  config/workflow_resource_params_conf.xml.sample
  lib/galaxy/tools/parameters/validation.py
  lib/galaxy/tools/xsd/galaxy.xsd
  test/functional/tools/for_workflows/head.xml
  test/unit/tools/test_wrappers.py
  tools/data_source/bed_convert.xml
  tools/data_source/genbank.xml
  tools/data_source/upload.xml
  tools/extract/liftOver_wrapper.xml
  tools/filters/CreateInterval.xml
  tools/filters/bed_to_bigbed.xml
  tools/filters/changeCase.xml
  tools/filters/fileGrep.xml
  tools/filters/fixedValueColumn.xml
  tools/filters/gff/gff_filter_by_attribute.xml
  tools/filters/gff/gff_filter_by_feature_count.xml
  tools/filters/grep.xml
  tools/filters/headWrapper.xml
  tools/filters/randomlines.xml
  tools/filters/remove_beginning.xml
  tools/filters/tailWrapper.xml
  tools/filters/wig_to_bigwig.xml
  tools/maf/vcf_to_maf_customtrack.xml
  tools/metag_tools/blat_wrapper.xml
  tools/metag_tools/shrimp_color_wrapper.xml
  tools/metag_tools/shrimp_wrapper.xml
  tools/plotting/bar_chart.xml
  tools/plotting/boxplot.xml
  tools/solid_tools/maq_cs_wrapper.xml
  tools/sr_mapping/PerM.xml
  tools/sr_mapping/bfast_wrapper.xml
  tools/stats/filtering.xml
  tools/stats/gsummary.xml
  tools/stats/gsummary.xml.groups
Labels: area/documentation, area/tools, kind/enhancement, status/review

#7091 Configurable job/workflow handler assignment methods
  config/galaxy.yml.sample
  config/job_conf.xml.sample_advanced
  config/workflow_schedulers_conf.xml.sample
  doc/source/admin/galaxy_options.rst
  doc/source/admin/jobs.md
  doc/source/admin/scaling.md
  lib/galaxy/app.py
  lib/galaxy/config.py
  lib/galaxy/exceptions/__init__.py
  lib/galaxy/exceptions/error_codes.json
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/manager.py
  lib/galaxy/managers/datasets.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/history_imp_exp.py
  lib/galaxy/tools/actions/metadata.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/util/facts.py
  lib/galaxy/util/handlers.py
  lib/galaxy/web/stack/__init__.py
  lib/galaxy/web/stack/transport.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy/workflow/scheduling_manager.py
  test/unit/jobs/handler_template_job_conf.xml
  test/unit/jobs/test_job_configuration.py
  test/unit/tools/test_actions.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/jobs, area/workflows, kind/enhancement, kind/feature, status/review

#6997 drmaa: soft catch of external runner fails
  lib/galaxy/jobs/runners/drmaa.py
Labels: triage

#7088 Replace `credentials` with `authz_id`
  lib/galaxy/webapps/galaxy/api/cloud.py
Labels: area/API, area/documentation, kind/bug, status/review

#7041 [18.09] GRT: Rip out all parameters, round file sizes
  scripts/grt/export.py
  scripts/grt/grt.yml.sample
Labels: area/admin, kind/bug

#7074 [18.09] Fix welcome on redirect from facebook auth
  client/galaxy/scripts/apps/analysis.js
  client/galaxy/scripts/layout/menu.js
Labels: area/UI-UX, kind/bug, status/review

#7078 [18.09] Fix set_peek method for copied datasets
  lib/galaxy/jobs/__init__.py
Labels: area/jobs, kind/bug

#7085 De-couple objectstore abstraction from XML.
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/azure_blob.py
  lib/galaxy/objectstore/cloud.py
  lib/galaxy/objectstore/pithos.py
  lib/galaxy/objectstore/s3.py
  test/unit/test_objectstore.py
Labels: area/jobs, area/objectstore, kind/enhancement

#7086 Localize version strings to the working directory w/predictable path.
  lib/galaxy/jobs/__init__.py
  test/unit/jobs/test_job_wrapper.py
Labels: area/jobs, kind/enhancement

#7102 Client readme updates.
  client/README.md
Labels: area/documentation, kind/bug, status/review

#7103 Fix migration 0146 column selection on downgrade
  lib/galaxy/model/migrate/versions/0145_add_workflow_step_input.py
  lib/galaxy/model/migrate/versions/0146_workflow_paths.py
Labels: area/database, kind/bug, status/review

#7104 Run singularity in silent mode
  lib/galaxy/tools/deps/singularity_util.py
Labels: area/admin, area/tool-dependencies, kind/enhancement

#7109 Eliminate unused code block in output_collect.
  lib/galaxy/tools/parameters/output_collect.py
Labels: area/cleanup, area/jobs, kind/bug, kind/enhancement

#7111 Don't write outputs to object store twice.
  lib/galaxy/jobs/__init__.py
Labels: area/jobs, kind/bug, status/WIP

#7113 Fix `make client-watch` extra error message.
  client/package.json
Labels: area/client-build, kind/bug, status/review

#7120 Increase timeout on flakey unit test.
  test/unit/tools/test_toolbox.py
Labels: area/testing, kind/bug, status/review

#6996 reclaim ownership for failed jobs
  lib/galaxy/jobs/runners/__init__.py
  test/unit/jobs/test_runner_local.py
Labels: area/jobs, kind/bug, status/review

#7116 Fix activation of ``_galaxy_`` conda env
  scripts/common_startup.sh
  scripts/common_startup_functions.sh
Labels: area/dependencies, kind/bug, status/review

#7127 Update help text as per suggestion from CWunder
  lib/galaxy/tools/filter_from_file.xml
Labels: area/documentation, kind/enhancement

#7131 Fixes and tests for collecting extra files for discovered datasets.
  lib/galaxy/tools/parameters/output_collect.py
  lib/galaxy/tools/verify/__init__.py
  test/functional/tools/samples_tool_conf.xml
  test/functional/tools/tool_provided_metadata_10.xml
  test/functional/tools/tool_provided_metadata_11.xml
  test/functional/tools/tool_provided_metadata_12.xml
Labels: area/tool-framework, kind/bug

#7115 [WIP] Enable tagging+annotation of jobs regardless of state
  client/galaxy/scripts/mvc/dataset/dataset-li-edit.js
Labels: area/UI-UX, kind/enhancement, status/review

#7136 Drop tools without installable dependencies
  config/tool_conf.xml.sample
Labels: area/admin, area/cleanup, area/tools, status/review

#7087 Add datatype for Mash Sketch files.
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes, kind/feature

#7148 Correct code error in 'build job runner' tutorial
  doc/source/dev/build_a_job_runner.rst
Labels: area/documentation, kind/bug, status/review

#7097 Replace display applications mako with vue component
  client/galaxy/scripts/apps/admin.js
  client/galaxy/scripts/apps/panels/admin-panel.js
  client/galaxy/scripts/components/admin/AdminServices.js
  client/galaxy/scripts/components/admin/DisplayApplications.vue
  lib/galaxy/webapps/galaxy/api/display_applications.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  templates/webapps/galaxy/admin/view_display_applications.mako
  test/selenium_tests/test_admin_app.py
Labels: area/UI-UX, kind/enhancement, status/review

#7134 Remove unneeded session flushes and adds when discovering outputs.
  lib/galaxy/tools/parameters/output_collect.py
Labels: area/jobs, kind/enhancement, status/review

#7149 added store library to exported libs in bundleEntries
  client/galaxy/scripts/apps/extended.js
Labels: area/UI-UX, area/client-build, kind/bug

#6484 Adds Aequatus visualisation plugin
  config/plugins/visualizations/aequatus/README.md
  config/plugins/visualizations/aequatus/config/aequatus.xml
  config/plugins/visualizations/aequatus/static/aequatus-vis/LICENSE
  config/plugins/visualizations/aequatus/static/aequatus-vis/README.md
  config/plugins/visualizations/aequatus/static/aequatus-vis/_config.yml
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/cigarUtils.js
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/d3_tree.js
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/drawCIGARs.js
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/drawGene.js
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/drawGeneExonOnly.js
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/geneView.js
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/init.js
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/jquery/jquery-ui-1.12.1.min.css
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/jquery/jquery.svg.css
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/jquery/js/jquery-3.3.1.min.js
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/jquery/js/jquery-migrate-1.4.1.min.js
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/jquery/js/jquery-ui-1.12.1.min.js
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/jquery/js/jquery.cookie.js
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/jquery/js/jquery.svg.js
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/newick.js
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/scriptaculous/prototype.js
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/util.js
  config/plugins/visualizations/aequatus/static/aequatus-vis/styles/font-awesome-5.6.1/css/fontawesome.min.css
  config/plugins/visualizations/aequatus/static/aequatus-vis/styles/font-awesome-5.6.1/css/solid.min.css
  config/plugins/visualizations/aequatus/static/aequatus-vis/styles/font-awesome-5.6.1/webfonts/FontAwesome.otf
  config/plugins/visualizations/aequatus/static/aequatus-vis/styles/font-awesome-5.6.1/webfonts/fa-solid-900.eot
  config/plugins/visualizations/aequatus/static/aequatus-vis/styles/font-awesome-5.6.1/webfonts/fa-solid-900.svg
  config/plugins/visualizations/aequatus/static/aequatus-vis/styles/font-awesome-5.6.1/webfonts/fa-solid-900.ttf
  config/plugins/visualizations/aequatus/static/aequatus-vis/styles/font-awesome-5.6.1/webfonts/fa-solid-900.woff
  config/plugins/visualizations/aequatus/static/aequatus-vis/styles/font-awesome-5.6.1/webfonts/fa-solid-900.woff2
  config/plugins/visualizations/aequatus/static/aequatus-vis/styles/font-awesome-5.6.1/webfonts/fontawesome-webfont.eot
  config/plugins/visualizations/aequatus/static/aequatus-vis/styles/font-awesome-5.6.1/webfonts/fontawesome-webfont.svg
  config/plugins/visualizations/aequatus/static/aequatus-vis/styles/font-awesome-5.6.1/webfonts/fontawesome-webfont.ttf
  config/plugins/visualizations/aequatus/static/aequatus-vis/styles/font-awesome-5.6.1/webfonts/fontawesome-webfont.woff
  config/plugins/visualizations/aequatus/static/aequatus-vis/styles/style.css
  config/plugins/visualizations/aequatus/static/scripts/controls.js
  config/plugins/visualizations/aequatus/static/scripts/popup.js
  config/plugins/visualizations/aequatus/static/scripts/readSQLite.js
  config/plugins/visualizations/aequatus/static/scripts/sql.js
  config/plugins/visualizations/aequatus/static/scripts/worker.js
  config/plugins/visualizations/aequatus/static/scripts/worker.sql.js
  config/plugins/visualizations/aequatus/static/styles/aequatus.css
  config/plugins/visualizations/aequatus/templates/aequatus.mako
  lib/galaxy/datatypes/binary.py
Labels: area/visualizations, kind/feature, status/review

#7053 Added resubmit handlers on Pulsar connection failures
  lib/galaxy/jobs/mapper.py
  lib/galaxy/jobs/runners/pulsar.py
  test/integration/resubmission_pulsar_job_conf.xml
  test/integration/test_job_resubmission.py
  test/unit/jobs/test_mapper.py
  test/unit/jobs/test_rules/10_site.py
Labels: area/jobs, kind/bug, kind/enhancement

#7155 Small de-duplication cleanups to galaxy.jobs
  lib/galaxy/jobs/__init__.py
Labels: area/cleanup, area/jobs, kind/enhancement

#7153 Fix for parsing collection outputs for YAML/dictified tools.
  lib/galaxy/tools/parser/yaml.py
  test/functional/tools/collection_creates_pair_y.yml
  test/unit/tools/test_parsing.py
Labels: area/tool-framework, kind/bug

#7152 Fix dataset discovery for YAML/dictified tools.
  lib/galaxy/tools/parser/output_collection_def.py
  lib/galaxy/tools/parser/util.py
  lib/galaxy/tools/parser/yaml.py
  test/unit/tools/test_collect_primary_datasets.py
Labels: area/tool-framework, kind/bug
