Repository galaxyproject/galaxy, pull requests merged in 2018-11, with the labels that each got.

#6910 Fix style for legacy toolshed selection page
  templates/webapps/galaxy/admin/tool_sheds.mako
Labels: area/toolshed, kind/enhancement, status/review

#6937 Default shed tool installation to database/shed_tools
  config/migrated_tools_conf.xml.sample
  config/shed_tool_conf.xml.sample
  doc/source/admin/tool_panel.rst
  lib/galaxy/webapps/galaxy/api/tool_shed_repositories.py
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/tool_shed/galaxy_install/migrate/check.py
  lib/tool_shed/util/common_util.py
Labels: kind/enhancement, status/review

#6844 Infrastructure/API Support for Composite Uploads/Downloads
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/converters/tar_to_directory.xml
  lib/galaxy/datatypes/data.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/grouping.py
  lib/galaxy/util/compression_utils.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/buildapp.py
  test/api/test_tools.py
  test/api/test_tools_upload.py
  test/base/populators.py
  test/functional/tools/sample_datatypes_conf.xml
  test/integration/test_upload_configuration_options.py
  tools/data_source/upload.py
  tools/data_source/upload.xml
Labels: area/cwl, area/datatype-framework, area/datatypes, area/upload, kind/enhancement, status/review

#6963 [18.05] Allow upload for ``rdata.sce`` format
  config/datatypes_conf.xml.sample
Labels: area/datatypes, kind/bug, status/review

#6955 [18.09] Fix for workflow parameter collection in workflows view.
  client/galaxy/scripts/mvc/workflow/workflow-view.js
Labels: area/workflows, kind/bug, status/review

#6957 Topic/empty data table
  lib/galaxy/tools/data/__init__.py
Labels: area/toolshed, kind/bug, status/review

#6962 add RMA6 data type (MEGAN6 read-match archive)
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/diamond.rma6
Labels: area/datatypes, kind/feature, status/review

#6911 Refactor collection mapping workflows toward independence from tools.
  lib/galaxy/tools/parameters/history_query.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run.py
  test/unit/workflows/test_workflow_progress.py
Labels: area/cwl, area/dataset-collections, kind/refactoring, status/review

#6951 [18.09] Backport: tests need to count data sets and collections
  lib/galaxy/tools/verify/interactor.py
  test/api/test_workflows.py
  test/functional/tools/output_filter.xml
Labels: area/testing, kind/bug, status/review

#6960 [18.09] Allow deferring 'to_ext' extension to the server
  client/galaxy/scripts/mvc/collection/collection-model.js
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/blast.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/datatypes/neo4j.py
Labels: area/UI-UX, area/dataset-collections, kind/bug, status/review

#6959 Switch from PhantomJS to Chrome Headless for unit tests
  .travis.yml
  Makefile
  client/galaxy/scripts/qunit/test.js
  client/galaxy/scripts/sample.test.js
  client/galaxy/scripts/unitTestBundle.js
  client/karma.config.js
  client/karma/karma.config.base.js
  client/karma/karma.config.mocha.js
  client/karma/karma.config.qunit.js
  client/karma/webpack.config.qunit.js
  client/karma/webpack.config.unittest.js
  client/package.json
  client/yarn.lock
Labels: area/UI-UX, area/client-build, area/testing, kind/enhancement, status/review

#6729 Vue rewrite of admin data manager (local data) in steps
  client/galaxy/scripts/apps/admin.js
  client/galaxy/scripts/apps/panels/admin-panel.js
  client/galaxy/scripts/components/Alert.vue
  client/galaxy/scripts/components/admin/DataManager/DataManager.vue
  client/galaxy/scripts/components/admin/DataManager/DataManagerJob.vue
  client/galaxy/scripts/components/admin/DataManager/DataManagerJobs.vue
  client/galaxy/scripts/components/admin/DataManager/DataManagerRouter.vue
  client/galaxy/scripts/components/admin/DataManager/DataManagerTable.vue
  client/galaxy/scripts/components/admin/DataManager/DataManagerView.vue
  client/package.json
  client/yarn.lock
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/data_manager.py
  templates/webapps/galaxy/data_manager/index.mako
  templates/webapps/galaxy/data_manager/manage_data_manager.mako
  templates/webapps/galaxy/data_manager/manage_data_table.mako
  templates/webapps/galaxy/data_manager/view_job.mako
  test/galaxy_selenium/navigation.yml
  test/selenium_tests/test_admin_app.py
  test/shed_functional/base/twilltestcase.py
  test/shed_functional/functional/test_1460_data_managers.py
Labels: area/UI-UX, area/admin, kind/enhancement, kind/refactoring, status/WIP

#6969 [18.09] In enqueue, always set an object_store_id if one isn't set.
  lib/galaxy/jobs/__init__.py
Labels: area/jobs, kind/bug

#6978 [18.09] Fix traceback when starting under Python3 with ``galaxy.ini``
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/dependencies, kind/bug, status/review

#6979 Merge 18.09 into dev
  client/galaxy/scripts/mvc/collection/collection-model.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  client/galaxy/scripts/nls/zh/locale.js
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/blast.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/datatypes/neo4j.py
  lib/galaxy/jobs/__init__.py
  test/api/test_workflows.py
Labels: merge

#6980 optimize images with optipng
  client/galaxy/images/Armitagep_manhattan.png
  client/galaxy/images/Armitagep_qqplot.png
  client/galaxy/images/add_icon.png
  client/galaxy/images/add_icon_dark.png
  client/galaxy/images/aggregate_history1.png
  client/galaxy/images/aggregate_history2.png
  client/galaxy/images/bar_chart.png
  client/galaxy/images/bed_warn.png
  client/galaxy/images/closebox.png
  client/galaxy/images/dat_points_table_brows_1.png
  client/galaxy/images/data_empty.png
  client/galaxy/images/data_error.png
  client/galaxy/images/data_ok.png
  client/galaxy/images/data_queued.png
  client/galaxy/images/ddarrowsplit.png
  client/galaxy/images/delete_tag_icon_gray.png
  client/galaxy/images/delete_tag_icon_white.png
  client/galaxy/images/documents-stack-faded.png
  client/galaxy/images/dropdownarrow.png
  client/galaxy/images/error_large.png
  client/galaxy/images/error_small.png
  client/galaxy/images/fetchTax.png
  client/galaxy/images/form_body_bg.png
  client/galaxy/images/fugue.png
  client/galaxy/images/hatch-023858.png
  client/galaxy/images/histogram.png
  client/galaxy/images/histogram2.png
  client/galaxy/images/history-buttons.png
  client/galaxy/images/history-states.png
  client/galaxy/images/info_large.png
  client/galaxy/images/info_small.png
  client/galaxy/images/kendall.png
  client/galaxy/images/mag_glass.png
  client/galaxy/images/masthead_bg.png
  client/galaxy/images/mutation_visualization_example.png
  client/galaxy/images/ok_large.png
  client/galaxy/images/ok_small.png
  client/galaxy/images/overview_arrows.png
  client/galaxy/images/question-octagon-frame.png
  client/galaxy/images/scatter.png
  client/galaxy/images/scatterplot.png
  client/galaxy/images/solid_qual.png
  client/galaxy/images/sprite-fugue.png
  client/galaxy/images/sprite-history-buttons.png
  client/galaxy/images/sprite-history-states.png
  client/galaxy/images/thumbtack_icon.png
  client/galaxy/images/thumbtack_icon_dark.png
  client/galaxy/images/wait_large.png
  client/galaxy/images/wait_small.png
Labels: kind/enhancement

#6970 Normalized jquery bundle
  client/galaxy/scripts/libs/jquery.custom.js
  client/galaxy/scripts/onload/index.js
  client/galaxy/scripts/qunit/test.js
  client/galaxy/scripts/qunit/tests/page_tests.js
  client/galaxy/scripts/utils/installMonitor.js
  client/webpack.config.js
  client/yarn.lock
Labels: area/UI-UX, kind/refactoring

#6583 Send data to cloud
  config/tool_conf.xml.main
  config/tool_conf.xml.sample
  lib/galaxy/authnz/managers.py
  lib/galaxy/managers/cloud.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/webapps/galaxy/api/cloud.py
  lib/galaxy/webapps/galaxy/buildapp.py
  tools/cloud/send.py
  tools/cloud/send.xml
Labels: status/WIP, triage

#6982 Update test/selenium_tests/test_library_contents.py
  test/selenium_tests/test_library_contents.py
Labels: area/testing/selenium, kind/bug

#6967 Refactor workflow editor styles and move from mako to css
  client/galaxy/style/scss/base.scss
  templates/webapps/galaxy/workflow/editor.mako
Labels: area/UI-UX, kind/refactoring, status/review

#6983 [18.09] List tags as attribute of TestCollection
  doc/schema_template.md
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: area/documentation, area/tool-framework, kind/bug, kind/enhancement, status/review

#6986 [18.05] Backport commit 2d36e8955e020958334088d6ba5853c1027d8b75
  lib/galaxy/datatypes/util/gff_util.py
Labels: area/datatypes, kind/bug, merge, status/review

#6898 prevent sanitized history names being saved in database
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: area/cleanup, kind/refactoring, status/review

#6972 Added a metadata element to the biom1 datatype
  lib/galaxy/datatypes/text.py
Labels: area/datatypes, kind/enhancement, status/review

#6992 Fix broken links on Job Configuration page (documentation)
  doc/source/admin/jobs.md
Labels: area/documentation, kind/enhancement

#6994 Replaced jStorage with store
  client/galaxy/scripts/apps/extended.js
  client/galaxy/scripts/galaxy.pages.js
  client/galaxy/scripts/libs/jquery.custom.js
  client/galaxy/scripts/libs/jquery/jstorage.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  client/galaxy/scripts/qunit/test-app.js
  client/galaxy/scripts/utils/metrics-logger.js
  client/package.json
  client/webpack.config.js
  client/yarn.lock
  templates/admin/tool_shed_repository/manage_repository.mako
  templates/admin/tool_shed_repository/reselect_tool_panel_section.mako
  templates/admin/tool_shed_repository/select_tool_panel_section.mako
  templates/webapps/tool_shed/repository/common.mako
  templates/webapps/tool_shed/repository/manage_repository.mako
  templates/webapps/tool_shed/repository/preview_tools_in_changeset.mako
  templates/webapps/tool_shed/repository/view_repository.mako
Labels: area/cleanup, kind/refactoring

#6682 Trim whitespace from data manager conf paths
  lib/galaxy/tools/data_manager/manager.py
Labels: area/cleanup, kind/enhancement

#6899 Refactor cloud "Upload" > "Get"
  lib/galaxy/managers/cloud.py
  lib/galaxy/webapps/galaxy/api/cloud.py
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: kind/refactoring, status/review

#6991 Upgrade nodeenv's nodejs to 10.13.0 LTS
  scripts/common_startup.sh
Labels: area/client-build, kind/enhancement, status/review

#6757 Give all model objects with an id a __repr__ that includes the id
  lib/galaxy/model/__init__.py
Labels: area/framework, kind/feature, status/review

#6784 Prevent errors when a library dataset has been purged from disk
  lib/galaxy/model/__init__.py
Labels: kind/bug

#6693 Add utility function to create history entries
  client/galaxy/scripts/layout/data.js
Labels: area/UI-UX, kind/feature, status/review

#6989 Use ``detect_errors="exit_code"`` in ``__SET_METADATA__`` tool
  lib/galaxy/datatypes/set_metadata_tool.xml
Labels: area/tools, kind/enhancement, status/review

#6975 Use virtualenv when conda is on PATH
  doc/source/admin/framework_dependencies.rst
  scripts/common_startup.sh
Labels: area/admin, area/dependencies, area/documentation, kind/enhancement, kind/refactoring, status/review

#6987 datatype_fastg
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/test/sequence.fastg
Labels: area/datatypes, kind/feature

#6999 Fix several typos in admin docs.
  doc/source/admin/framework_dependencies.rst
  doc/source/admin/nginx.md
Labels: area/documentation, minor, status/review

#7001 Fix set_peek for fastg datatype
  lib/galaxy/datatypes/sequence.py
Labels: area/datatypes, kind/bug, minor, status/review

#6995 external_runner: load json template first
  scripts/drmaa_external_runner.py
Labels: area/jobs, kind/enhancement, kind/refactoring, status/review

#7009 Fix getAppRoot in layout/data.js
  client/galaxy/scripts/layout/data.js
Labels: kind/bug, minor, status/review

#7008 Fixes for Python 3.7
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  scripts/common_startup.sh
Labels: area/dependencies, kind/bug, status/review

#7013 [18.09] Fix PID file handling for gunicorn
  run.sh
  run_reports.sh
  run_tool_shed.sh
  scripts/common_startup_functions.sh
Labels: area/framework, kind/bug, status/review

#7014 [18.01] Fix display_in_tool_panel status for shared workflows
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/UI-UX, area/workflows, kind/bug, status/review

#7007 Fix handling of forgotten LSF jobs in cli
  lib/galaxy/jobs/runners/util/cli/job/lsf.py
Labels: area/jobs, kind/bug, kind/refactoring, status/review

#6998 Change join two dataset output format to tabular
  tools/filters/joiner.xml
Labels: area/tools, kind/bug, status/review

#7017 Fix login and registration form appearance
  client/galaxy/style/scss/trackster.scss
  templates/user/login.mako
  templates/user/register.mako
  templates/user/reset_password.mako
Labels: area/UI-UX, kind/enhancement, status/review

#7016 Workflow test case - test marking inputs as outputs.
  test/api/test_workflows.py
Labels: area/testing/api, area/workflows, kind/enhancement

#7006 Added support for chaining dynamic destinations
  config/job_conf.xml.sample_advanced
  lib/galaxy/jobs/mapper.py
  test/integration/chained_dyndest_job_conf.xml
  test/integration/chained_dyndest_rules/__init__.py
  test/integration/chained_dyndest_rules/module1/__init__.py
  test/integration/chained_dyndest_rules/module1/rules.py
  test/integration/chained_dyndest_rules/module2/__init__.py
  test/integration/chained_dyndest_rules/module2/rules.py
  test/integration/chained_dyndest_rules/module3/__init__.py
  test/integration/chained_dyndest_rules/module3/rules.py
  test/integration/test_chained_dynamic_destinations.py
  test/unit/jobs/test_mapper.py
  test/unit/jobs/test_rules/10_site.py
Labels: area/admin, area/jobs, kind/enhancement, kind/feature, status/review

#6850 Track workflow step input definitions in our model.
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0136_collection_and_workflow_state.py
  lib/galaxy/model/migrate/versions/0145_add_workflow_step_input.py
  lib/galaxy/webapps/tool_shed/model/__init__.py
  lib/galaxy/workflow/extract.py
  lib/galaxy/workflow/modules.py
  lib/tool_shed/util/workflow_util.py
  test/api/test_workflows.py
  test/unit/test_galaxy_mapping.py
  test/unit/workflows/test_modules.py
  test/unit/workflows/test_render.py
  test/unit/workflows/test_workflow_progress.py
  test/unit/workflows/workflow_support.py
Labels: area/cwl, area/workflows, kind/enhancement, status/review

#7004 A new runner for DRMAA (currently UNIVA)
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy/jobs/runners/univa.py
  lib/galaxy/jobs/runners/util/job_script/MEMORY_STATEMENT.sh
Labels: triage

#7029 Follow-up on #6850
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0006_change_qual_datatype.py
  lib/galaxy/model/migrate/versions/0145_add_workflow_step_input.py
Labels: area/database, kind/bug, status/review

#7031 Provide element_identifier attribute in DatsetCollectionWrapper
  lib/galaxy/tools/wrappers.py
  test/functional/tools/identifier_collection.xml
Labels: area/dataset-collections, kind/bug, kind/enhancement, status/review

#7023 Pass a ``JobWrapper`` instead of a ``Job`` to ``stop_job()`` methods
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/chronos.py
  lib/galaxy/jobs/runners/cli.py
  lib/galaxy/jobs/runners/condor.py
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy/jobs/runners/godocker.py
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/local.py
  lib/galaxy/jobs/runners/pbs.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/jobs/runners/tasks.py
  lib/galaxy/model/__init__.py
  test/unit/jobs/test_runner_local.py
Labels: area/jobs, kind/enhancement, status/review

#7027 Use solid background for text field autocomplete options
  templates/js-app.mako
Labels: area/UI-UX, kind/bug, status/review

#7033 Fix typos in import error messages
  client/galaxy/scripts/components/HistoryImport.vue
  client/galaxy/scripts/components/PluginList.vue
  client/galaxy/scripts/components/WorkflowImport.vue
Labels: area/UI-UX, kind/bug, minor, status/review

#7020 Expose published workflows through API
  lib/galaxy/webapps/galaxy/api/workflows.py
  test/api/test_workflows.py
Labels: area/API, kind/enhancement, status/review

#7042 [18.09] Pass through ``--daemon`` option to gunicorn
  scripts/common_startup_functions.sh
Labels: area/framework, kind/bug, status/review

#7038 [18.09] Fix error when building images
  lib/galaxy/tools/deps/container_resolvers/__init__.py
  lib/galaxy/tools/deps/container_resolvers/mulled.py
  lib/galaxy/tools/deps/mulled/mulled_build.py
Labels: area/tool-dependencies, kind/bug, status/review

#7043 Avoid replacing data-referenced input values with default values
  lib/galaxy/tools/__init__.py
Labels: area/tool-framework, kind/enhancement, status/review

#7040 Fix resubmission on tool error detection.
  lib/galaxy/jobs/runners/state_handlers/resubmit.py
  test/functional/tools/exit_code_from_env.xml
  test/functional/tools/samples_tool_conf.xml
  test/integration/resubmission_tool_detected_always_error_job_conf.xml
  test/integration/resubmission_tool_detected_resubmit_job_conf.xml
  test/integration/test_job_resubmission.py
Labels: area/jobs, kind/bug, status/review

#6977 changed exit code and regex parsing
  lib/galaxy/tools/parser/xml.py
Labels: area/jobs, area/tool-framework, kind/enhancement, status/review

#7054 [18.09] add new item to the help menu
  client/galaxy/scripts/layout/menu.js
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config.py
  lib/galaxy/managers/configuration.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/UI-UX, kind/enhancement

#7061 [18.09] make the menu transition non-instrusive
  client/galaxy/scripts/layout/menu.js
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: minor

#7064 Update ``galaxy.yml.sample`` and ``galaxy_options.rst``
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
Labels: area/documentation, kind/bug, status/review

#7018 Add datatype sniff button to edit dataset attributes page
  client/galaxy/scripts/mvc/dataset/dataset-edit-attributes.js
  lib/galaxy/webapps/galaxy/controllers/dataset.py
Labels: area/UI-UX, kind/enhancement, status/review
