Repository galaxyproject/galaxy, pull requests merged in 2018-10, with the labels that each got.

#6788 CLI plugin for LSF
  config/job_conf.xml.sample_advanced
  lib/galaxy/jobs/runners/util/cli/job/lsf.py
Labels: area/jobs, kind/enhancement, status/review

#6791 [18.09] Flex-related style fixes
  client/galaxy/scripts/components/Sharing.vue
  client/galaxy/scripts/mvc/dataset/dataset-li-edit.js
  client/galaxy/scripts/mvc/history/history-view.js
  client/galaxy/style/scss/base.scss
  client/yarn.lock
  static/style/blue/base.css
  templates/webapps/galaxy/page/editor.mako
Labels: area/UI-UX, kind/bug, status/review

#6790 Remove legacy tool form styles from structure history view and admin tables
  client/galaxy/scripts/components/DisplayStructured.vue
  client/galaxy/scripts/components/admin/BaseGrid.vue
  lib/galaxy/util/create_history_template.py
  static/style/blue/base.css
Labels: area/UI-UX, kind/refactoring, status/review

#6802 [18.05] Cast rule.length to int when parsing rules
  client/galaxy/scripts/mvc/rules/rule-definitions.js
  static/scripts/bundled/libs.bundled.js
  static/scripts/mvc/rules/rule-definitions.js
Labels: area/UI-UX, area/dataset-collections, kind/bug, status/review

#6808 [18.09] Drop gulp plugin staging task from default tasks
  client/gulpfile.js
Labels: area/cleanup, area/client-build, kind/bug, kind/refactoring, status/review

#6805 [18.09] Allow starting Galaxy under gunicorn when using galaxy.ini
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  scripts/common_startup_functions.sh
Labels: area/testing, kind/bug, kind/enhancement, status/review

#6809 [18.05] Don't delete referenced Datasets when purging users
  lib/galaxy/webapps/galaxy/controllers/admin.py
Labels: area/admin, area/cleanup, kind/bug, status/review

#6814 [18.05] Fix apply rules bug in filter first/last N rows.
  client/galaxy/scripts/mvc/rules/rule-definitions.js
  static/scripts/bundled/libs.bundled.js
  static/scripts/mvc/rules/rule-definitions.js
Labels: area/UI-UX, kind/bug

#6812 adding itp and mdp datatypes (for gromacs)
  config/datatypes_conf.xml.sample
Labels: triage

#6810 [18.09] do not rule out numbers that are accessed with shift modifier
  client/galaxy/scripts/mvc/ui/ui-slider.js
Labels: kind/bug, status/review

#6709 Update to latest galaxy-lib.
  lib/galaxy/tools/cwl/cwltool_deps.py
  lib/galaxy/tools/cwl/parser.py
  lib/galaxy/tools/cwl/schema.py
  lib/galaxy/tools/cwl/util.py
  lib/galaxy/tools/deps/conda_util.py
  lib/galaxy/tools/deps/docker_util.py
  lib/galaxy/tools/deps/mulled/mulled_build.py
  lib/galaxy/tools/lint.py
  lib/galaxy/tools/linters/stdio.py
  lib/galaxy/tools/linters/tests.py
  lib/galaxy/tools/parser/cwl.py
Labels: area/cwl, area/jobs, area/testing, area/tool-dependencies, area/tool-framework, kind/enhancement, status/review

#6818 Add more detail about container tags
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: triage

#6746 Fill in needed state defaults when importing manually crafted workflows.
  lib/galaxy/managers/workflows.py
  lib/galaxy/web/base/controller.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/workflow/modules.py
  test/api/test_workflows.py
  test/api/test_workflows_from_yaml.py
  test/base/populators.py
  test/base/workflows_format_2/main.py
  test/functional/tools/disambiguate_cond.xml
Labels: area/testing/api, area/workflows, kind/enhancement, status/review

#6807 Support for Enhancements to gxformat2.
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/workflow/modules.py
  test/api/test_workflows.py
  test/api/test_workflows_from_yaml.py
  test/base/populators.py
  test/base/workflows_format_2/README.txt
  test/base/workflows_format_2/__init__.py
  test/base/workflows_format_2/converter.py
  test/base/workflows_format_2/interface.py
  test/base/workflows_format_2/main.py
Labels: area/API, area/testing/api, area/workflows, kind/enhancement, status/review

#6826 Remove `trans` from OIDC-related types
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/model/__init__.py
Labels: triage

#6823 [18.09] Allow testing tags in input collections.
  lib/galaxy/tools/tag_collection_from_file.xml
  lib/galaxy/tools/verify/interactor.py
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: area/tool-framework, kind/bug, kind/enhancement

#6828 [18.09] Upgrade concurrently for 'null' return fix
  client/package.json
  client/yarn.lock
Labels: area/client-build, kind/bug, status/review

#6834 Fix broken gxformat2 imports.
  test/manual/workflows_scaling.py
  test/selenium_tests/framework.py
Labels: kind/bug, minor

#6830 [18.09] Update conda channel priority: conda-forge > bioconda
  config/galaxy.yml.sample
  doc/source/admin/conda_faq.rst
  doc/source/admin/dependency_resolvers.rst
  doc/source/admin/framework_dependencies.rst
  doc/source/admin/galaxy_options.rst
  lib/galaxy/dependencies/conda-file.sh
  lib/galaxy/tools/deps/mulled/mulled_build.py
  lib/galaxy/tools/deps/mulled/mulled_build_channel.py
  lib/galaxy/tools/deps/resolvers/conda.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/dependencies, kind/bug, status/review

#6841 Replace deprecated assertEquals() method
  lib/galaxy/web/base/controller.py
  test/api/test_api_batch.py
  test/api/test_dataset_collections.py
  test/api/test_histories.py
  test/api/test_jobs.py
  test/api/test_pages.py
  test/api/test_tools.py
  test/api/test_tools_upload.py
  test/api/test_workflows_from_yaml.py
  test/unit/jobs/dynamic_tool_destination/test_dynamic_tool_destination.py
  test/unit/jobs/test_job_wrapper.py
  test/unit/test_galaxy_mapping.py
  test/unit/tools/test_actions.py
  test/unit/tools/test_collect_primary_datasets.py
  test/unit/tools/test_data_parameters.py
  test/unit/tools/test_evaluation.py
  test/unit/workflows/test_extract_summary.py
Labels: area/testing, kind/enhancement, status/review

#6842 Fix unit test that uses fake trans.user_is_admin
  test/unit/tools/test_toolbox_filters.py
Labels: area/testing, kind/bug, minor, status/review

#6843 Remove some model objects added in #5013 but unused before the PR was merged, and fix a model object typo
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/tools/execute.py
Labels: area/cleanup, area/database, kind/bug, status/review

#6811 Support for Enhancements to gxformat2 (part II)
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  test/api/test_workflows.py
  test/api/test_workflows_from_yaml.py
  test/base/populators.py
  test/base/workflow_fixtures.py
Labels: area/cwl, area/testing/api, area/workflows, kind/enhancement

#6838 Replace trans with session and request in psa Storage
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/managers/cloud.py
Labels: triage

#6846 Updated GIE docs
  doc/source/admin/special_topics/interactive_environments.rst
  doc/source/dev/interactive_environments.rst
Labels: area/documentation, kind/enhancement

#6840 Updated volume kwds.
  config/plugins/interactive_environments/bam_iobio/templates/bam_iobio.mako
  config/plugins/interactive_environments/hicbrowser/templates/hicbrowser.mako
  config/plugins/interactive_environments/neo/templates/neo.mako
Labels: area/documentation, kind/enhancement

#6827 Clarify code used in output <filter> tags
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: triage

#6851 [18.05] Updated volume kwds for GIEs
  config/plugins/interactive_environments/bam_iobio/templates/bam_iobio.mako
  config/plugins/interactive_environments/hicbrowser/templates/hicbrowser.mako
  config/plugins/interactive_environments/neo/templates/neo.mako
Labels: area/GIEs, kind/bug

#6845 [18.05] Fix slurm cli on secure shell
  lib/galaxy/jobs/runners/util/cli/shell/local.py
  lib/galaxy/jobs/runners/util/cli/shell/rsh.py
  test/functional/tools/job_environment_default.xml
  test/functional/tools/job_environment_default_legacy.xml
  test/functional/tools/job_environment_explicit_shared_home.xml
  test/integration/test_cli_runners.py
  test/integration/test_job_environments.py
Labels: area/jobs, area/testing/integration, kind/bug, status/review

#6836 [18.01] Register job monitor thread as postfork function
  lib/galaxy/util/monitors.py
Labels: area/jobs, kind/bug, status/review

#6731 [18.09] 18.09 release notes
  doc/source/releases/18.09.rst
  doc/source/releases/18.09_announce.rst
  doc/source/releases/19.01_announce.rst
  scripts/bootstrap_history.py
Labels: area/documentation, kind/enhancement, status/review

#6854 Fix panel header margins in history and tool panel
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/history.scss
  client/galaxy/style/scss/list-item.scss
  static/style/blue/base.css
Labels: area/UI-UX, kind/enhancement, status/review

#6863 [18.09] Fix ``LocalShell`` doctest
  lib/galaxy/jobs/runners/util/cli/shell/local.py
Labels: area/testing, kind/bug, status/review

#6861 Small fixes
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  doc/source/dev/index.rst
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/integration/test_cli_runners.py
Labels: area/documentation, area/tool-framework, kind/enhancement, status/review

#6858 [18.09] Revert selective metadata flushing - breaks multiple uploads/outputs.
  lib/galaxy/model/metadata.py
  test/api/test_tools.py
  test/functional/tools/for_workflows/mapper_two.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/jobs, kind/bug, status/review

#6700 Create container_resolvers_conf.xml.sample
  config/container_resolvers_conf.xml.sample
Labels: area/documentation, kind/enhancement, status/review

#6865 Share ssh key generation across tests
  test/base/ssh_util.py
  test/integration/test_cli_runners.py
  test/unit/test_remote_shell.py
Labels: area/cleanup, area/testing, kind/refactoring, status/review

#6870 Use fluid container for slider to get full width
  client/galaxy/scripts/mvc/ui/ui-slider.js
Labels: area/UI-UX, kind/bug, status/review

#6875 [18.09] Do not traceback when uploading a TS repo with no changes
  lib/tool_shed/util/hg_util.py
Labels: area/toolshed, kind/bug, status/review

#6868 Use card-styles for display applications, job manager and other admin views
  client/galaxy/style/scss/ui.scss
  static/style/blue/base.css
  templates/admin/jobs.mako
  templates/admin/review_tool_migration_stages.mako
  templates/admin/tool_shed_repository/browse_repository.mako
  templates/admin/tool_shed_repository/browse_tool_dependency.mako
  templates/admin/tool_shed_repository/deactivate_or_uninstall_repository.mako
  templates/admin/tool_shed_repository/install_tool_dependencies_with_update.mako
  templates/admin/tool_shed_repository/manage_repository.mako
  templates/admin/tool_shed_repository/manage_repository_tool_dependencies.mako
  templates/admin/tool_shed_repository/monitor_repository_installation.mako
  templates/admin/tool_shed_repository/purge_repository_confirmation.mako
  templates/admin/tool_shed_repository/reselect_tool_panel_section.mako
  templates/admin/tool_shed_repository/reset_metadata_on_selected_repositories.mako
  templates/admin/tool_shed_repository/select_tool_panel_section.mako
  templates/admin/tool_shed_repository/uninstall_tool_dependencies.mako
  templates/admin/tool_shed_repository/view_tool_metadata.mako
  templates/admin/tool_shed_repository/view_workflow.mako
  templates/message.mako
  templates/webapps/galaxy/admin/manage_dependencies.mako
  templates/webapps/galaxy/admin/sanitize_whitelist.mako
  templates/webapps/galaxy/admin/view_display_applications.mako
Labels: area/UI-UX, kind/enhancement, status/review

#6874 Fix rule editor element alignment
  client/galaxy/scripts/mvc/ui/ui-rules-edit.js
Labels: area/UI-UX, kind/bug, status/review

#6878 Use small button for editable text fields in history annotation
  client/galaxy/scripts/ui/editable-text.js
Labels: area/UI-UX, kind/enhancement, status/review

#6848 Indicate language in client docs to enable syntax highlighting.
  client/README.md
  client/galaxy/docs/README.md
  client/galaxy/docs/bootstrap.md
  client/galaxy/docs/galaxy-buttons.md
  client/galaxy/docs/galaxy-forms.md
  client/galaxy/docs/galaxy-masthead.md
  client/galaxy/docs/galaxy-menus.md
  client/galaxy/docs/galaxy-messages.md
  client/galaxy/docs/galaxy-panels.md
  client/galaxy/docs/galaxy-tables.md
  client/galaxy/docs/galaxy-tabs.md
Labels: triage

#6871 History name not escaped
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: area/UI-UX, kind/bug, status/review

#6882 Username filtering for published workflows
  client/galaxy/scripts/apps/analysis.js
Labels: area/UI-UX, kind/bug, status/review

#6876 Specify POST and GET actions for cloudauthz API actions
  lib/galaxy/managers/cloud.py
  lib/galaxy/webapps/galaxy/api/cloudauthz.py
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: area/API, kind/refactoring, status/review

#6890 [18.09] One last batch of PRs added to RN
  doc/source/releases/18.09.rst
Labels: area/documentation, status/review

#6881 Fix selenium test selectors for alert messages
  templates/user/info.mako
  templates/user/register.mako
  templates/webapps/galaxy/history/share.mako
  test/galaxy_selenium/navigation.yml
Labels: area/testing/selenium, kind/bug, status/review

#6884 Improve resilience on handling sharing attributes
  lib/galaxy/web/base/controller.py
Labels: area/UI-UX, kind/bug, status/review

#6885 [18.05] Create composite file archives in new_file_path instead of TMP
  lib/galaxy/datatypes/data.py
Labels: area/datatypes, kind/bug

#6893 [18.09] check presence of attribute in addition to value
  lib/galaxy/web/base/controller.py
Labels: kind/bug, minor, status/review

#6908 [18.09] Fix ``make config-validate``
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/documentation, kind/bug, status/review

#6877 Refactor pgcleanup.py and add new routines
  lib/galaxy/model/migrate/versions/0144_add_cleanup_event_user_table.py
  scripts/cleanup_datasets/pgcleanup.py
Labels: area/cleanup, kind/enhancement, kind/refactoring, status/review

#6912 [18.09] Fix stopping DRMAA jobs
  lib/galaxy/jobs/runners/drmaa.py
Labels: area/jobs, kind/bug, status/review

#6905 Fixes for built-in Scatterplot plugin
  config/plugins/visualizations/scatterplot/package.json
  config/plugins/visualizations/scatterplot/src/scatterplot.js
  config/plugins/visualizations/scatterplot/static/scatterplot.css
  config/plugins/visualizations/scatterplot/static/scatterplot.js
  config/plugins/visualizations/scatterplot/templates/scatterplot.mako
Labels: area/visualizations, kind/bug, status/review

#6904 [18.09] Fix pretty printing of shed_tool_conf.xml file
  lib/galaxy/tools/data/__init__.py
  lib/galaxy/util/__init__.py
  lib/tool_shed/capsule/capsule_manager.py
  lib/tool_shed/galaxy_install/tools/data_manager.py
  lib/tool_shed/galaxy_install/tools/tool_panel_manager.py
  lib/tool_shed/metadata/metadata_generator.py
  lib/tool_shed/util/xml_util.py
Labels: area/toolshed, kind/bug, status/review

#6909 Update Bug Reports docs to use YAML syntax
  doc/source/admin/special_topics/bug_reports.rst
  lib/galaxy/tools/error_reports/plugins/biostars.py
  lib/galaxy/tools/error_reports/plugins/email.py
  lib/galaxy/tools/error_reports/plugins/github.py
  lib/galaxy/tools/error_reports/plugins/influxdb.py
  lib/galaxy/tools/error_reports/plugins/json.py
  lib/galaxy/tools/error_reports/plugins/sentry.py
Labels: area/documentation, kind/bug, status/review

#6915 [18.09] Small followup to #6904
  lib/tool_shed/galaxy_install/tools/data_manager.py
  lib/tool_shed/util/xml_util.py
Labels: area/cleanup, kind/refactoring, status/review

#6914 Allow ``remove_value`` filter on data tables
  lib/galaxy/tools/parameters/dynamic_options.py
  test/functional/tools/remove_value.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/tool-framework, kind/enhancement, status/review

#6906 add isa-rwal to default pipfile
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/dependencies, minor, status/review

#6916 Do not log exception info twice
  lib/galaxy/authnz/managers.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy/managers/cloud.py
  lib/galaxy/model/migrate/versions/0141_add_oidc_tables.py
  lib/galaxy/model/migrate/versions/0142_change_numeric_metric_precision.py
  lib/galaxy/model/migrate/versions/0143_add_cloudauthz_tables.py
  lib/galaxy/objectstore/cloud.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/util/pastescript/serve.py
  lib/galaxy/webapps/galaxy/api/cloudauthz.py
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  lib/tool_shed/galaxy_install/tools/tool_panel_manager.py
  lib/tool_shed/util/readme_util.py
  scripts/tool_shed/api/reset_metadata_on_repositories.py
  test/base/populators.py
  tools/data_source/upload.py
Labels: area/framework, kind/bug, status/review

#6923 [18.09] Final release notes updates
  doc/source/releases/18.09.rst
  doc/source/releases/18.09_announce.rst
Labels: area/documentation

#6913 Fix ``expr: non-integer argument`` error when running ``make``
  Makefile
  scripts/bootstrap_history.py
Labels: area/framework, kind/bug, status/review

#6903 nmrML data type.
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/proteomics.py
Labels: area/datatypes, kind/feature, status/review

#6883 Align toolshed makos used in the admin panel, fix slider height
  client/galaxy/scripts/mvc/ui/ui-slider.js
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/collection.scss
  client/galaxy/style/scss/list-item.scss
  static/style/blue/base.css
  templates/display_base.mako
  templates/ind_share_base.mako
  templates/message.mako
  templates/webapps/galaxy/history/display.mako
  templates/webapps/galaxy/visualization/display.mako
  templates/webapps/galaxy/visualization/display_in_frame.mako
  templates/webapps/galaxy/workflow/display.mako
  templates/webapps/galaxy/workflow/sharing.mako
  templates/webapps/tool_shed/repository/common.mako
Labels: area/UI-UX, kind/bug, status/review

#6924 Be more precise with the job runner worker thread join timeout and improve documentation
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  doc/source/admin/scaling.md
  lib/galaxy/config.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/base/driver_util.py
Labels: area/jobs, kind/enhancement, status/review

#6928 Fix linting of dev.
  test/api/test_workflows_from_yaml.py
Labels: kind/bug, minor

#6927 Allocate more memory for selenium Python 3 client.
  .ci/jenkins/selenium-py3/run_tests.sh
Labels: triage

#6930 [18.09] Add 18.09_announce to releases index.
  doc/source/releases/index.rst
Labels: area/documentation, kind/bug, status/review

#6929 Small testing tweaks from the CWL branch.
  test/base/populators.py
Labels: area/testing, kind/enhancement

#6934 [18.09] Additional 18.09 doc update for toolshed bugfix.
  doc/source/releases/18.09.rst
Labels: area/documentation, minor, status/review

#6935 Release issue scaffold tweaks.
  scripts/bootstrap_history.py
Labels: area/documentation, kind/enhancement, minor, status/review

#6816 Datatype pqr
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/datatypes/test/5e5z.pqr
Labels: area/datatypes, kind/feature, status/review

#6938 [18.09] Release announce codeblock formatting fix
  doc/source/releases/18.09_announce.rst
Labels: area/documentation, kind/bug, status/review

#6933 Eliminate some mutable defaults in populators.py.
  test/base/populators.py
Labels: area/cleanup, area/testing, kind/enhancement

#6941 Fix typos in ``scripts/bootstrap_history.py``
  lib/galaxy/datatypes/molecules.py
  scripts/bootstrap_history.py
Labels: area/documentation, kind/bug, status/review

#6833 adjust the panel resize cursor, update docs link
  client/galaxy/style/scss/base.scss
  static/style/blue/base.css
  static/welcome.html.sample
Labels: kind/enhancement

#6886 Improve k8s job error handling
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs, kind/bug, kind/enhancement, status/review

#6943 Collection builder: add option to strip url prefix from pair names
  client/galaxy/scripts/mvc/collection/list-of-pairs-collection-creator.js
Labels: area/dataset-collections, kind/enhancement, status/review

#6946 [18.09] Make Bam index only available for coordinate sorted bam files
  lib/galaxy/datatypes/binary.py
Labels: area/UI-UX, area/datatypes, kind/bug, status/review

#6950 Fix sniffing of readname sorted BAM files
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/0.txt
  lib/galaxy/datatypes/test/1.json
  lib/galaxy/datatypes/test/1.qname_sorted.bam
Labels: area/datatypes, area/testing/integration, kind/bug, status/review

#6948 Use recently introduced overflow utility instead of overwriting card defaults
  client/galaxy/style/scss/ui.scss
  templates/admin/tool_shed_repository/monitor_repository_installation.mako
  templates/webapps/galaxy/admin/manage_dependencies.mako
  templates/webapps/galaxy/admin/sanitize_whitelist.mako
  templates/webapps/galaxy/admin/view_display_applications.mako
Labels: area/UI-UX, kind/bug, status/review
