Repository galaxyproject/galaxy, pull requests merged in 2018-09, with the labels that each got.

#6655 Adding 4 new GROMACS datatypes: cpt, xtc, top, and gro
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/em.trr
  lib/galaxy/datatypes/test/md.cpt
  lib/galaxy/datatypes/test/md.trr
  lib/galaxy/datatypes/test/md.xtc
Labels: area/datatypes

#6661 Allow group tag selection also for multiple="true" inputs
  lib/galaxy/tools/wrappers.py
Labels: area/UI-UX, kind/enhancement, status/review

#6638 Move tests to pytest setup
  .coveragerc
  lib/galaxy/jobs/runners/util/kill.py
  pytest.ini
  run_tests.sh
  test/functional/known_broken_tools.txt
  test/functional/test_toolbox_pytest.py
  test/unit/jobs/dynamic_tool_destination/test_dynamic_tool_destination.py
  tox.ini
Labels: area/testing, kind/refactoring, status/review

#6670 [18.05] Update bx-python to 0.8.2
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/dependencies, kind/bug, status/review

#6672 One last Selenium fix for collection interface change.
  test/selenium_tests/test_collection_builders.py
Labels: area/testing/selenium, kind/bug, minor

#6627 Test tools shipped with Galaxy
  .ci/jenkins/main-tools-py3/run_tests.sh
  .ci/jenkins/main-tools/run_tests.sh
  lib/galaxy/datatypes/util/gff_util.py
  lib/galaxy/tools/util/maf_utilities.py
  lib/galaxy/util/ucsc.py
  test/functional/known_broken_tools.txt
  tools/filters/bed_to_bigbed.xml
  tools/filters/join.py
  tools/filters/joinWrapper.py
  tools/filters/secure_hash_message_digest.py
  tools/filters/sff_extractor.xml
  tools/filters/tailWrapper.xml
  tools/filters/uniq.xml
  tools/filters/wc_gnu.xml
  tools/filters/wig_to_bigwig.xml
  tools/maf/maf_limit_to_species.py
  tools/maf/maf_split_by_species.xml
  tools/maf/maf_to_bed.py
  tools/maf/maf_to_bed.xml
  tools/maf/maf_to_fasta_multiple_sets.py
  tools/maf/maf_to_interval.py
  tools/maf/maf_to_interval.xml
  tools/next_gen_conversion/solid2fastq.xml
  tools/phenotype_association/ldtools.xml
  tools/phenotype_association/ldtools_wrapper.sh
  tools/phenotype_association/linkToGProfile.pl
  tools/phenotype_association/linkToGProfile.xml
  tools/phenotype_association/senatag.py
  tools/plotting/boxplot.xml
  tools/solid_tools/solid_qual_stats.py
  tools/solid_tools/solid_qual_stats.xml
  tools/stats/aggregate_binned_scores_in_intervals.xml
  tools/stats/grouping.py
  tools/stats/gsummary.xml
Labels: area/testing, area/tools, kind/bug, kind/refactoring, status/WIP

#6642 Allow running scripts/galaxy-main without Galaxy on sys.path
  scripts/galaxy-main
  test/integration/test_scripts.py
Labels: area/system, kind/bug, status/review

#6648 Add Seurat datatype: rdata.seurat
  config/datatypes_conf.xml.sample
Labels: area/datatypes, kind/enhancement, status/review

#6669 Increase robustness and accuracy of job search / cache use
  lib/galaxy/jobs/handler.py
  lib/galaxy/managers/jobs.py
  lib/galaxy/model/__init__.py
  test/api/test_workflows.py
Labels: area/jobs, kind/bug, kind/refactoring, status/WIP

#6664 Implement runtime parameters for subworkflows.
  lib/galaxy/model/__init__.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run.py
  lib/galaxy/workflow/run_request.py
  test/api/test_workflows.py
  test/api/test_workflows_from_yaml.py
  test/base/workflow_fixtures.py
  test/base/workflows_format_2/converter.py
  test/galaxy_selenium/navigates_galaxy.py
  test/galaxy_selenium/navigation.yml
  test/galaxy_selenium/smart_components.py
  test/selenium_tests/test_workflow_run.py
  test/unit/workflows/test_workflow_progress.py
Labels: area/UI-UX, area/testing/api, area/testing/selenium, area/workflows, area/workflows/subworkflows, kind/bug, kind/enhancement, status/review

#6635 Optimize tool execution permission checking
  lib/galaxy/dataset_collections/matching.py
  lib/galaxy/model/__init__.py
  lib/galaxy/security/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/model_operations.py
  lib/galaxy/tools/execute.py
Labels: area/dataset-collections, area/jobs, area/performance, kind/enhancement, status/review

#6676 Tell pytest not to execute Python code in node_modules for web proxy.
  run_tests.sh
Labels: area/testing, kind/bug, minor

#6668 Upgraded genomespaceclient to newer version
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  tools/genomespace/genomespace_importer.py
Labels: area/tools, kind/enhancement, status/review

#6677 Serialize select field options, fixes beta install
  lib/galaxy/web/form_builder.py
Labels: area/admin, area/toolshed, status/review

#5919 [18.01] Allow schema to validate
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/admin, kind/bug

#6641 document config for sniffing compressed files, enable by default
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/api/test_tools_upload.py
Labels: area/admin, area/datatypes, kind/enhancement, status/review

#6681 Keep newly broken tool in toolbox
  client/galaxy/scripts/mvc/tool/tool-form-base.js
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/cache.py
  lib/galaxy/tools/toolbox/base.py
  test/unit/tools/test_toolbox.py
Labels: area/UI-UX, area/tool-framework, kind/enhancement, status/review

#6678 Workflow replacement parameters polish.
  client/galaxy/scripts/mvc/tool/tool-form-composite.js
  lib/galaxy/managers/workflows.py
  lib/galaxy/workflow/modules.py
  test/api/test_workflows.py
  test/base/workflow_fixtures.py
  test/selenium_tests/test_workflow_run.py
Labels: area/testing/api, area/testing/selenium, area/workflows/subworkflows, kind/enhancement, status/review

#6683 Expose workflow versions
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  templates/webapps/galaxy/workflow/editor.mako
Labels: area/UI-UX, kind/feature, status/review

#6660 Upgrade CloudBridge to v1.0.1
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/update.sh
  lib/galaxy/managers/cloud.py
  lib/galaxy/objectstore/cloud.py
  lib/galaxy/webapps/galaxy/api/cloud.py
Labels: area/objectstore, kind/refactoring, status/WIP

#6694 Patch update.sh to address dependency update issues on a macOS.
  lib/galaxy/dependencies/pipfiles/update.sh
Labels: area/dependencies, kind/bug, status/review

#6695 [18.09] Make gro and top datatypes tabular subclasses
  config/datatypes_conf.xml.sample
Labels: area/datatypes, kind/bug, minor, status/review

#6703 [18.05] Add missing route for API endpoint.
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: area/API, area/toolshed, kind/bug, status/review

#6702 Fix wrong version being returned if requested version doesn't exist
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/webapps/galaxy/api/tools.py
  test/api/test_tools.py
  test/unit/tools/test_toolbox.py
Labels: area/tool-framework, kind/bug, status/review

#6710 Use tool_version instead of version parameter
  lib/galaxy/webapps/galaxy/api/tools.py
  test/api/test_tools.py
Labels: area/API, kind/bug, minor, status/review

#6707 [18.05] unquote the tool_version in the tools API
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/tool-framework, kind/bug, status/review

#6705 [18.05] Catch additional permutations of Slurm cgroup creation warnings
  lib/galaxy/jobs/runners/slurm.py
Labels: area/jobs, kind/bug, status/review

#6726 [18.09] Badge default fix
  client/galaxy/docs/bootstrap.md
  client/galaxy/scripts/galaxy.pages.js
  client/galaxy/scripts/mvc/tool/tool-form-base.js
  client/galaxy/scripts/mvc/tool/tool-form-composite.js
  client/galaxy/scripts/mvc/tool/tools.js
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
Labels: area/UI-UX, area/tools, kind/bug, status/review

#6722 Small mixed fixes
  contrib/nagios/check_galaxy.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/tools/util/maf_utilities.py
  lib/galaxy/tools/verify/interactor.py
  lib/galaxy/tools/wrappers.py
  lib/galaxy/util/streamball.py
  lib/galaxy/util/xml_macros.py
  lib/galaxy/web/framework/base.py
  pytest.ini
  scripts/api/library_upload_dir.py
  scripts/apply_tags.py
  scripts/check_galaxy.py
  scripts/grt/export.py
  scripts/loc_files/create_all_fasta_loc.py
  scripts/microbes/util.py
  test/base/api.py
  test/base/populators.py
  test/galaxy_selenium/has_driver.py
  test/integration/test_job_environments.py
  test/selenium_tests/framework.py
  test/unit/tools/test_evaluation.py
  tools/filters/join.py
  tools/filters/sff_extract.py
  tools/phenotype_association/senatag.py
  tools/stats/aggregate_scores_in_intervals.py
Labels: area/testing, kind/bug, status/review

#6727 Updates to OIDC backends default config
  config/oidc_backends_config.xml.sample
Labels: area/framework, kind/enhancement, status/review

#6730 [18.09] Partial backport of #6722
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/tools/verify/interactor.py
  lib/galaxy/util/xml_macros.py
  lib/galaxy/web/framework/base.py
  pytest.ini
  scripts/loc_files/create_all_fasta_loc.py
Labels: minor, status/review

#6723 [18.09] Add Loom datatype and remove rdata.seurat
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/test.loom
Labels: area/datatypes

#6732 Look up collection_type if collection_type_source is set
  client/galaxy/scripts/mvc/workflow/workflow-connector.js
  client/galaxy/scripts/mvc/workflow/workflow-terminals.js
  lib/galaxy/managers/workflows.py
  lib/galaxy/workflow/modules.py
  test/api/test_workflows.py
  test/unit/workflows/test_modules.py
Labels: area/API, area/UI-UX, area/workflows, area/workflows/subworkflows, kind/bug, kind/enhancement, kind/refactoring, status/review

#6739 [18.09] Remove stray debug statement.
  lib/galaxy/managers/users.py
Labels: area/cleanup, kind/bug, minor

#6738 Small local testing improvements
  .ci/jenkins/api-py3/run_tests.sh
  .ci/jenkins/api/run_tests.sh
  .ci/jenkins/framework-py3/run_tests.sh
  .ci/jenkins/framework/run_tests.sh
  .ci/jenkins/main-tools-py3/run_tests.sh
  .ci/jenkins/main-tools/run_tests.sh
  .ci/jenkins/selenium-py3/run_tests.sh
  .ci/jenkins/selenium/run_tests.sh
  .ci/jenkins/toolshed/run_tests.sh
  .gitignore
Labels: area/testing, kind/enhancement, status/review

#6741 [18.09] Backport #6732
  client/galaxy/scripts/mvc/workflow/workflow-connector.js
  client/galaxy/scripts/mvc/workflow/workflow-terminals.js
  lib/galaxy/managers/workflows.py
  lib/galaxy/workflow/modules.py
  test/api/test_workflows.py
  test/unit/workflows/test_modules.py
Labels: area/workflows, kind/bug, merge

#6737 [18.05] Decode tool id and version in the client, not in the API
  client/galaxy/scripts/apps/analysis.js
  client/package.json
  lib/galaxy/dependencies/requirements.txt
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  scripts/plugin_staging.py
  static/scripts/bundled/admin.bundled.js
  static/scripts/bundled/analysis.bundled.js
  static/scripts/bundled/chart.bundled.js
  static/scripts/bundled/extended.bundled.js
Labels: area/API, area/UI-UX, area/tools, kind/bug, status/review

#6743 [18.09] fix favicon.ico for uwsgi deployments
  config/galaxy.yml.sample
  config/reports.yml.sample
  config/tool_shed.yml.sample
  lib/galaxy/webapps/config_manage.py
  scripts/get_uwsgi_args.py
Labels: kind/bug, status/review

#6744 [18.09] dispose of dataset tooltip when the delete is being called
  client/galaxy/scripts/mvc/dataset/dataset-li-edit.js
Labels: area/UI-UX, kind/bug, status/review

#6742 [18.05] Fix and test anonymous error reports
  lib/galaxy/webapps/galaxy/api/jobs.py
  test/api/test_jobs.py
Labels: area/UI-UX, area/admin, area/jobs, kind/bug, status/review

#6748 [18.09] Make newer unit tests more robust with a looped wait...
  test/unit/tools/test_toolbox.py
Labels: area/testing, kind/bug, kind/enhancement, minor

#6740 [18.05] Backport tool version select fixes
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/webapps/galaxy/api/tools.py
  test/api/test_tools.py
  test/unit/tools/test_toolbox.py
Labels: area/API, area/UI-UX, area/tools, kind/bug, status/review

#6725 [18.09] Fix active highlight
  client/galaxy/scripts/layout/scratchbook.js
  client/galaxy/scripts/mvc/dataset/dataset-li-edit.js
  client/galaxy/scripts/mvc/history/history-view-edit-current.js
Labels: area/UI-UX, kind/bug, status/review

#6747 [18.09] Fix page editor height for flex panels.
  templates/webapps/galaxy/page/editor.mako
Labels: area/UI-UX, kind/bug, status/review

#6750 [18.09] Undo auto-propagation of group tags.
  lib/galaxy/model/__init__.py
  test/api/test_workflows.py
Labels: area/dataset-collections, area/tool-framework, area/workflows, kind/enhancement

#6749 [18.09] Use mapped-over collectionType when inferring collectionType through …
  client/galaxy/scripts/mvc/workflow/workflow-terminals.js
Labels: area/workflows, area/workflows/subworkflows, kind/bug, status/review

#6760 [18.09] Add graph dot datatype and enable it in visualisations
  config/datatypes_conf.xml.sample
  config/plugins/visualizations/graphviz/config/graphviz.xml
Labels: area/datatypes, kind/enhancement, status/review

#6758 Fixes for the upload row template
  client/galaxy/scripts/mvc/ui/ui-buttons.js
  client/galaxy/scripts/mvc/upload/default/default-row.js
  client/galaxy/style/scss/upload.scss
  static/style/blue/base.css
Labels: area/UI-UX, kind/enhancement, kind/refactoring, status/review

#5903 Cloud Authorization
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/managers/cloud.py
  lib/galaxy/managers/cloudauthzs.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0143_add_cloudauthz_tables.py
  lib/galaxy/webapps/galaxy/api/cloud.py
  lib/galaxy/webapps/galaxy/api/cloudauthz.py
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: kind/feature, status/WIP

#6761 [18.09] Remove upgrade cruft related to datatypes.
  lib/galaxy/jobs/handler.py
Labels: area/cleanup, area/jobs, kind/bug, kind/enhancement

#6762 Disable file name text field after upload
  client/galaxy/scripts/mvc/upload/default/default-row.js
  client/galaxy/style/scss/upload.scss
  static/style/blue/base.css
Labels: area/UI-UX, kind/enhancement, status/review

#6763 Remove empty log messages
  lib/galaxy/tools/toolbox/base.py
Labels: area/cleanup, kind/enhancement

#6766 [18.09] Increase the maximum number of stderr lines that will be scanned for slurm warnings
  lib/galaxy/jobs/runners/slurm.py
Labels: area/jobs, kind/bug, status/review

#6765 [18.09] Don't attempt len(None), ensure stdout/stderr are strings in Job(Like).set_streams().
  lib/galaxy/model/__init__.py
Labels: area/jobs, kind/bug, status/review

#6755 [18.09] Catch any failures encountered while pausing/stopping jobs whose inputs are terminal and non-ok
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
Labels: area/jobs, area/objectstore, kind/bug, status/review

#6768 [18.09] backport of: Resilience of success message handling
  client/galaxy/scripts/mvc/tool/tool-form.js
Labels: kind/bug, status/review

#6771 [18.05] Use UserRoleAssociation to get private roles
  lib/galaxy/security/__init__.py
Labels: area/security, kind/bug, status/review

#6753 [18.09] Client build startup changes
  client/README.md
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  scripts/common_startup.sh
Labels: area/client-build, kind/enhancement, status/review

#6559 [18.01] Restore the ability to track jobs for a WF invocation step.
  lib/galaxy/config.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  test/api/test_workflows.py
Labels: area/API, area/testing/api, area/workflows, kind/bug, kind/enhancement, status/review

#6772 [18.09] Merge forward from 18.01, 18.05
  lib/galaxy/security/__init__.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: merge

#6783 Warn job runner plugin writers not to emulate condor.py.
  lib/galaxy/jobs/runners/condor.py
Labels: area/documentation, area/jobs, kind/enhancement

#6780 [18.09] All extracted datasets should be visible
  lib/galaxy/tools/__init__.py
Labels: area/UI-UX, area/dataset-collections, kind/bug, status/review

#6782 [18.09] Fix __encode_invocation signature
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/workflows, kind/bug, status/review

#6785 [18.09] Strip all control characters from rules
  lib/galaxy/util/__init__.py
  lib/galaxy/util/rules_dsl.py
  test/unit/test_utils.py
Labels: area/dataset-collections, kind/bug, status/review

#6778 Release issue scaffold tweaks
  scripts/bootstrap_history.py
Labels: area/documentation, kind/enhancement, status/review

#6786 Add PB and EB to util.size_to_bytes
  lib/galaxy/util/__init__.py
Labels: area/util, kind/enhancement, status/review

#6789 [18.09] Fix bam upload resulting in 'auto' datatype
  lib/galaxy/model/metadata.py
  test/api/test_tools_upload.py
Labels: area/jobs, area/upload, kind/bug, status/review

#6793 [18.09] allow making all datasets within history public, when sharing
  client/galaxy/scripts/components/Sharing.vue
  lib/galaxy/model/__init__.py
  lib/galaxy/web/base/controller.py
Labels: area/API, kind/bug, status/review

#6796 [16.01] Drop unused peek method
  lib/galaxy/webapps/galaxy/controllers/root.py
Labels: area/cleanup, status/review

#6799 [18.09] Provide a useful exception message for object store exceptions
  lib/galaxy/objectstore/__init__.py
Labels: area/objectstore, kind/bug, status/review

#6801 Add a pgcleanup action to purge HDAs of purged histories
  scripts/cleanup_datasets/pgcleanup.py
Labels: area/cleanup, kind/enhancement, status/review

#6774 [18.05] Update name of Workflow when updating StoredWorkflow name
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/workflows, area/workflows/subworkflows, kind/bug, status/review

#6803 [18.09] Fix remaining selenium py3 errors
  config/plugins/webhooks/demo/tour_generator/__init__.py
  lib/galaxy/web/framework/helpers/__init__.py
  templates/show_params.mako
  templates/webapps/galaxy/workflow/display.mako
  templates/webapps/tool_shed/repository/tool_form.mako
Labels: area/cleanup, kind/bug, kind/refactoring, status/review

#6798 [18.09] Fix element identifier for non multiple true mapover in conditionals
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/parameters/wrapped.py
  lib/galaxy/util/__init__.py
  test/api/test_tools.py
  test/functional/tools/identifier_in_conditional.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/dataset-collections, kind/bug, status/review
