Repository galaxyproject/galaxy, pull requests merged in 2018-05, with the labels that each got.

#6019 [18.05] Fix grid pagination style
  client/galaxy/style/scss/base.scss
  static/style/blue/base.css
Labels: area/UI-UX, kind/bug

#6014 Fix some imports
  lib/galaxy/jobs/runners/util/cli/job/slurm.py
  lib/galaxy/jobs/runners/util/cli/job/torque.py
  lib/galaxy/tools/parameters/basic.py
Labels: area/framework, area/jobs, kind/bug, status/review

#6024 [18.05] Disable broken tests workflow annotation tests.
  test/selenium_tests/test_workflow_editor.py
Labels: area/testing/selenium, kind/bug

#6025 [18.05] Fix run_tests.sh to respect args after --.
  run_tests.sh
Labels: area/testing, kind/bug, kind/enhancement

#6021 Add hostname metric
  config/job_metrics_conf.xml.sample
  lib/galaxy/jobs/metrics/instrumenters/cgroup.py
  lib/galaxy/jobs/metrics/instrumenters/collectl.py
  lib/galaxy/jobs/metrics/instrumenters/core.py
  lib/galaxy/jobs/metrics/instrumenters/cpuinfo.py
  lib/galaxy/jobs/metrics/instrumenters/env.py
  lib/galaxy/jobs/metrics/instrumenters/hostname.py
  lib/galaxy/jobs/metrics/instrumenters/meminfo.py
  lib/galaxy/jobs/metrics/instrumenters/uname.py
Labels: area/jobs, kind/enhancement

#6026 [18.05] fix missing import and removed method in TS
  lib/tool_shed/util/admin_util.py
  templates/webapps/tool_shed/user/manage_email_alerts.mako
Labels: area/toolshed, kind/bug, status/review

#5997 [18.01] Fix tool state performance for large collections.
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/dataset_matcher.py
  test/unit/tools/test_data_parameters.py
  test/unit/tools/test_dataset_matcher.py
Labels: area/UI-UX, area/performance, kind/bug, kind/enhancement, status/review

#6037 [18.05] Fix a few more bugs with the containers interface
  lib/galaxy/containers/__init__.py
  lib/galaxy/containers/docker_model.py
Labels: area/GIEs, kind/bug, status/review

#6039 [18.05] Fix merge from 18.01.
  lib/galaxy/tools/parameters/basic.py
Labels: kind/bug, merge, minor

#6040 [18.05] Two more rule builder fixes.
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
  client/galaxy/scripts/mvc/rules/rule-definitions.js
Labels: area/UI-UX, area/dataset-collections, kind/bug, minor

#5993 Minor enhancements for cgroup metrics
  config/job_metrics_conf.xml.sample
  lib/galaxy/jobs/metrics/instrumenters/cgroup.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrate/versions/0142_change_numeric_metric_precision.py
Labels: area/jobs, kind/enhancement, status/review

#6047 [18.05] Fix and repack chart tool-based visualizations
  client/galaxy/scripts/mvc/visualization/chart/utilities/series.js
  config/plugins/visualizations/heatmap/heatmap_default/src/script.js
  config/plugins/visualizations/heatmap/heatmap_default/static/script.js
  config/plugins/visualizations/jqplot/jqplot_bar/src/script.js
  config/plugins/visualizations/jqplot/jqplot_bar/static/script.css
  config/plugins/visualizations/jqplot/jqplot_bar/static/script.js
  config/plugins/visualizations/nvd3/nvd3_histogram/config/nvd3_histogram.xml
  config/plugins/visualizations/nvd3/nvd3_histogram_discrete/config/nvd3_histogram_discrete.xml
Labels: area/visualizations, kind/bug, status/review

#6052 [18.05] Bump bootstrap from 4.1.0 to 4.1.1
  client/package.json
  client/yarn.lock
  static/style/blue/base.css
Labels: minor, status/review

#6051 [18.05] Fix tool error report history view link
  lib/galaxy/tools/errors.py
  templates/display_common.mako
Labels: kind/bug, status/review

#6045 [18.05] Fix for building doubly nested collections.
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
Labels: area/UI-UX, area/dataset-collections, kind/bug, minor

#6046 [18.01] More tool state performance fixes.
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/dataset_matcher.py
Labels: area/performance, area/tool-framework, kind/bug, status/WIP

#6057 [18.05] Alter the type of extra_data column of OIDC table.
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0141_add_oidc_tables.py
Labels: area/database, kind/bug, status/review

#6056 [18.05] Yet more rule builder fixes.
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
Labels: area/UI-UX, area/dataset-collections, kind/bug, minor

#6065 [18.05] Rules - bug fix for apply_rules tool on nested collections.
  lib/galaxy/managers/collections.py
Labels: area/dataset-collections, kind/bug, minor

#6062 Fix quotameter styling
  client/galaxy/scripts/mvc/user/user-quotameter.js
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/galaxy_bootstrap/variables.scss
  static/style/blue/base.css
Labels: area/UI-UX, kind/bug, status/review

#6067 Style fix for published grid pages
  client/galaxy/scripts/mvc/grid/grid-shared.js
Labels: area/UI-UX, kind/bug, status/review

#6064 [18.05] Rules - test case & bug fixes for adding cols from regex groups.
  lib/galaxy/util/rules_dsl.py
  test/base/data/rules_dsl_spec.yml
Labels: area/dataset-collections, kind/bug, minor

#5613 [18.01] File sizes not being annotated in GRT
  scripts/grt/export.py
Labels: area/admin, kind/bug

#6073 [18.05] Fix nested collection element downloads in UI.
  client/galaxy/scripts/mvc/collection/collection-model.js
Labels: area/UI-UX, area/dataset-collections, kind/bug

#6079 [18.05] Dropdown zindex fix
  client/galaxy/scripts/mvc/history/hdca-li-edit.js
  client/galaxy/style/scss/history.scss
  static/style/blue/base.css
Labels: area/UI-UX, kind/bug, status/review

#6090 reword text feedback on viz job submission
  client/galaxy/scripts/mvc/visualization/chart/utilities/jobs.js
Labels: area/UI-UX, kind/enhancement, minor

#5925 [18.01] jobscript - check memory later
  lib/galaxy/jobs/runners/util/job_script/DEFAULT_JOB_FILE_TEMPLATE.sh
Labels: area/framework, area/jobs, kind/bug

#6094 fixed small typo
  client/galaxy/scripts/mvc/tool/tool-form.js
Labels: triage

#6099 [18.05] Escape tool names in the onclick event handlers for the workflow edit…
  templates/webapps/galaxy/workflow/editor.mako
Labels: area/workflows, kind/bug, status/review

#6102 [18.05] Set the level for SLOREQs to 'warning'
  lib/galaxy/web/framework/middleware/sentry.py
Labels: area/framework, kind/bug, status/review

#6110 Remove duplicate visualization list entries from masthead
  client/galaxy/scripts/layout/menu.js
Labels: area/UI-UX, kind/enhancement, status/review

#6112 [18.05] Encode dataset ids when loading trackster visualizations
  lib/galaxy/web/base/controller.py
Labels: area/visualizations, kind/bug, status/review

#6087 Fix JobWrapper.get_destination_configuration() so that it actually checks the JobDestination params
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/mapper.py
  lib/galaxy/model/__init__.py
Labels: area/jobs, kind/bug, status/review

#6111 [18.05] Fix matches_any() checks for dynamic compressed types.
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/registry.py
  lib/galaxy/datatypes/sniff.py
  test/unit/datatypes/test_datatypes_registry.py
Labels: area/datatype-framework, area/datatypes, kind/bug

#6070 Make `interactor._{get,post,put,...}` less repetitive
  lib/galaxy/tools/verify/interactor.py
  test/api/test_libraries.py
  test/api/test_tools.py
Labels: area/testing, kind/refactoring, status/review

#6054 [18.05] Downgrade python-genomespaceclient to 0.2
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/tool-dependencies, area/tools, kind/bug, status/review

#6103 [17.09] Fix DynamicOptions.get_options() when loc file is missing
  lib/galaxy/tools/parameters/dynamic_options.py
Labels: area/tool-framework, kind/bug, status/review

#6119 [18.01] Showed up in sentry as referencing fname before assignment
  lib/galaxy/webapps/galaxy/api/library_datasets.py
Labels: area/API, kind/bug, status/review

#6115 [18.05] More compressed datatype sniffing fixes.
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/registry.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/test/1.fastqsanger.bz2
  lib/galaxy/datatypes/test/1.fastqsanger.gz
  test/unit/datatypes/test_datatypes_registry.py
  tools/data_source/upload.py
Labels: area/datatype-framework, kind/bug, minor

#6128 [18.05] Fix GIE volume wrangling
  lib/galaxy/visualization/plugins/interactive_environments.py
Labels: area/GIEs, kind/bug, status/review

#6125 [18.05] Fix missing upload tests.
  test/api/test_tools_upload.py
Labels: area/testing/api, area/upload, kind/bug, kind/enhancement, status/review

#6124 [18.05] fix upload status colors to work with bs4
  client/galaxy/scripts/mvc/upload/collection/collection-row.js
  client/galaxy/scripts/mvc/upload/composite/composite-row.js
  client/galaxy/scripts/mvc/upload/default/default-row.js
Labels: kind/bug, minor, status/review

#6135 Use from_work_dir in CONVERTER_fasta_to_fai
  lib/galaxy/datatypes/converters/fasta_to_fai.xml
Labels: area/datatypes, area/tools, kind/enhancement, status/review

#6133 [18.05] Improve dialog message while waiting for rule builder job.
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
Labels: area/UI-UX, area/dataset-collections, area/upload, kind/bug, kind/enhancement, minor

#6134 Improve data initialization of rule builder for long term support.
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
  client/galaxy/scripts/mvc/collection/list-collection-creator.js
  client/galaxy/scripts/mvc/rules/rule-definitions.js
  client/galaxy/scripts/mvc/upload/collection/rules-input-view.js
Labels: area/UI-UX, area/dataset-collections, kind/bug, kind/enhancement, minor

#6132 Sharing.vue bootstrapping and a bugfix
  client/galaxy/scripts/components/Sharing.vue
  lib/galaxy/managers/sharable.py
Labels: area/UI-UX, kind/bug, kind/enhancement, status/review

#6140 [18.05] Minor typo in rule builder
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
Labels: minor, status/review

#6137 [18.01] Fixes for workflow resume with mapped over inputs
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/actions/__init__.py
  test/api/test_workflows.py
  test/functional/tools/job_properties.xml
Labels: area/dataset-collections, area/workflows, kind/bug, status/review

#6007 [18.01] Handle Slurm 17.11's OUT_OF_MEMORY job state
  lib/galaxy/jobs/runners/slurm.py
Labels: area/jobs, kind/bug, status/review

#6069 [18.05] GDPR Compliance Mode
  config/galaxy.yml.sample
  config/reports.yml.sample
  config/tool_shed.yml.sample
  doc/source/admin/galaxy_options.rst
  doc/source/admin/reports_options.rst
  doc/source/admin/special_topics/gdpr_compliance.rst
  doc/source/admin/special_topics/index.rst
  lib/galaxy/auth/__init__.py
  lib/galaxy/auth/providers/alwaysreject.py
  lib/galaxy/auth/providers/ldap_ad.py
  lib/galaxy/auth/providers/localdb.py
  lib/galaxy/auth/providers/pam_auth.py
  lib/galaxy/config.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy/tools/error_reports/plugins/biostars.py
  lib/galaxy/tools/error_reports/plugins/email.py
  lib/galaxy/tools/error_reports/plugins/github.py
  lib/galaxy/tools/error_reports/plugins/json.py
  lib/galaxy/tools/error_reports/plugins/sentry.py
  lib/galaxy/tools/errors.py
  lib/galaxy/visualization/plugins/interactive_environments.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy/webapps/reports/config.py
  lib/galaxy/webapps/reports/config_schema.yml
  lib/galaxy/webapps/tool_shed/config.py
  lib/galaxy/webapps/tool_shed/config_schema.yml
  lib/galaxy/webapps/tool_shed/controllers/admin.py
  lib/tool_shed/util/admin_util.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/admin, area/compliance, kind/feature, status/review

#6122 Make cache_directory configurable in mulled Singluarity resolvers.
  lib/galaxy/tools/deps/container_resolvers/mulled.py
Labels: area/jobs, kind/enhancement

#6006 [18.05] Release notes for 18.05.
  doc/source/releases/18.05.rst
  doc/source/releases/18.05_announce.rst
  doc/source/releases/18.09_announce.rst
  doc/source/releases/index.rst
Labels: area/documentation, kind/enhancement

#6144 [18.05] Fix tool build API for implicit collection conversion.
  lib/galaxy/datatypes/registry.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/dataset_matcher.py
Labels: area/dataset-collections, area/tool-framework, kind/bug, kind/enhancement, status/review

#6149 [18.05] Use RetryActionExecutor when executing commands via paramiko
  lib/galaxy/jobs/runners/util/cli/shell/rsh.py
Labels: area/jobs, kind/bug, kind/enhancement, status/review

#6151 [18.05] Backbone model url handling
  client/galaxy/scripts/mvc/history/history-model.js
Labels: kind/bug, status/review

#6152 [18.05] rename the config option to enable_beta_gdpr
  config/galaxy.yml.sample
  config/reports.yml.sample
  config/tool_shed.yml.sample
  doc/source/admin/galaxy_options.rst
  doc/source/admin/reports_options.rst
  doc/source/releases/18.05_announce.rst
  lib/galaxy/config.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/reports/config.py
  lib/galaxy/webapps/reports/config_schema.yml
  lib/galaxy/webapps/tool_shed/config.py
  lib/galaxy/webapps/tool_shed/config_schema.yml
  test/unit/unittest_utils/galaxy_mock.py
Labels: minor, status/review

#6155 [18.05] Dropdown active color tweaks
  client/galaxy/style/scss/galaxy_bootstrap/variables.scss
  static/style/blue/base.css
Labels: area/UI-UX, kind/bug, status/review

#6165 [18.05] Fix fetching collection state for static histories.
  client/galaxy/scripts/mvc/history/job-states-model.js
Labels: area/UI-UX, area/dataset-collections, kind/bug

#6153 History import safari fix, overhaul
  client/galaxy/scripts/components/HistoryImport.vue
  test/selenium_tests/test_workflow_editor.py
Labels: area/histories, kind/bug, kind/refactoring, status/review

#6162 [18.01] Fix structured_like unqualified references + test.
  lib/galaxy/tools/execute.py
  lib/galaxy/tools/xsd/galaxy.xsd
  test/api/test_tools.py
  test/functional/tools/collection_paired_conditional_structured_like.xml
  test/functional/tools/collection_paired_structured_like.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/testing/api, area/tool-framework, kind/bug, kind/enhancement, status/WIP

#6169 [18.05] Fix job reruns for imported histories
  lib/galaxy/webapps/galaxy/api/jobs.py
Labels: area/UI-UX, area/jobs, kind/bug, status/review

#6170 [18.01] Backport #6169 Fix dataset access validation when attempting job reruns
  lib/galaxy/webapps/galaxy/api/jobs.py
Labels: area/API, kind/bug

#6172 [18.05] Restore config comment
  config/galaxy.yml.sample
  config/reports.yml.sample
  config/tool_shed.yml.sample
  lib/galaxy/webapps/config_manage.py
Labels: area/documentation, kind/bug, status/review

#6168 [18.05] Fix upload file selector value resetting
  client/galaxy/scripts/utils/uploadbox.js
Labels: area/UI-UX, kind/bug, status/review

#6178 [18.05] Fix append() for ANY_COLLECTION_TYPE type description in WF editor.
  client/galaxy/scripts/mvc/workflow/workflow-terminals.js
Labels: area/UI-UX, area/workflows, kind/bug, kind/enhancement

#6179 [18.05] add idat datatype
  config/datatypes_conf.xml.sample
Labels: area/datatypes, kind/feature, status/review

#6184 [18.05] extraneous self causing bug reporter to fail
  lib/galaxy/tools/errors.py
Labels: area/compliance, kind/bug

#6183 [18.05] Rev subprocess32 dependency - that older version is not compatible with manylinux.
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: kind/bug, kind/enhancement, minor

#6185 [18.05] Fix repeated inputs
  client/galaxy/scripts/mvc/form/form-section.js
Labels: area/UI-UX, kind/bug, status/review

#6194 [18.01] Fix parsing of `scontrol show job`
  lib/galaxy/jobs/runners/slurm.py
Labels: area/jobs, kind/bug, status/review

#6187 [18.01] ignore pipe while parsing xsd details
  doc/parse_gx_xsd.py
Labels: kind/bug, status/review

#6199 [18.05] Support building and publishing pre-release docs
  doc/source/conf.versioning.py
Labels: area/documentation, kind/bug, status/review

#6196 [18.05] Fix data_source.py for upload changes in 18.05 release cycle.
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/upload_util.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy_ext/metadata/set_metadata.py
Labels: area/tool-framework, kind/bug, status/review

#6197 [18.05] Minor style fixes
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/history.scss
  client/galaxy/style/scss/list-item.scss
  client/galaxy/style/scss/upload.scss
  static/style/blue/base.css
  templates/webapps/tool_shed/common/grid_common.mako
Labels: area/UI-UX, status/review

#6175 [18.05] Allow non-ascii chars in pbkdf2 passwords
  lib/galaxy/security/passwords.py
Labels: kind/bug, status/review

#6203 [18.05] remove mention of 18.09, that is only for dev
  doc/source/releases/18.09_announce.rst
  doc/source/releases/index.rst
Labels: minor

#6205 [18.05] Container resolvers conf fix
  lib/galaxy/tools/deps/containers.py
Labels: area/tool-dependencies, kind/bug, status/review

#6204 [18.05] More password encoding handling fixes.
  lib/galaxy/security/passwords.py
  test/unit/test_security_passwords.py
Labels: area/testing, kind/feature

#6214 [18.05] document removed packed symlink
  doc/source/releases/18.05_announce.rst
Labels: area/documentation, minor

#6217 [18.01] Fix Jupyter notebook renaming
  config/plugins/interactive_environments/jupyter/static/js/jupyter.js
  config/plugins/interactive_environments/jupyter/templates/jupyter.mako
Labels: area/GIEs, kind/bug, status/review

#6221 Wrap inputs in labels
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
Labels: area/UI-UX, kind/enhancement

#6228 [18.05] Add io_details and link_details in api tools doc
  lib/galaxy/webapps/galaxy/api/tools.py
Labels: area/API, area/documentation, status/review

#6222 [18.05] Fix optional="True" inputs
  lib/galaxy/tools/parameters/basic.py
  test/functional/tools/empty_select.xml
Labels: area/tools, kind/bug, status/review

#6231 Fix file type error in RuleCollectionBuilder.
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
Labels: triage

#6177 [18.05] Remove defunct sharing column link
  lib/galaxy/web/framework/helpers/grids.py
Labels: area/UI-UX, kind/bug, status/review

#6227 [18.05] Fix broken collection_type_source tool and test.
  lib/galaxy/tools/parser/output_objects.py
Labels: area/testing, area/testing/api, area/tool-framework, kind/bug

#6244 Hyperlink DOIs against preferred resolver
  client/galaxy/scripts/components/Citations.vue
  doc/source/admin/galaxy_options.rst
  lib/galaxy/datatypes/test/example.iqtree
  lib/galaxy/managers/citations.py
  lib/galaxy/tools/xsd/galaxy.xsd
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/tool_shed/config_schema.yml
  test/unit/config/1607_root_filters/config/galaxy.ini
  test/unit/config/1607_root_samples/config/galaxy.ini
  tools/sr_mapping/bfast_wrapper.xml
Labels: area/documentation, kind/bug, status/review

#6212 Some more upload/sniff tests.
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/test/1.tiff
  test-data/1.tiff
  test/api/test_tools_upload.py
  test/base/populators.py
Labels: area/testing/api, kind/enhancement

#6252 Refactor dx_url to doi_url to match domain name
  lib/galaxy/managers/citations.py
Labels: triage

#6239 [18.01] Hack paster args to not duplicate pid file stuff for RUN_ALL.
  scripts/common_startup_functions.sh
Labels: area/framework, kind/bug, status/review

#6200 Permit numeric values of GRT instance ID in config
  scripts/grt/upload.py
Labels: area/admin, kind/enhancement

#6257 [18.05] Fix history shared with me 'view' link
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: area/histories, kind/bug, status/review
