Repository galaxyproject/galaxy, pull requests merged in 2018-07, with the labels that each got.

#6430 Unit testing with Python 3
  lib/galaxy/datatypes/binary.py
  lib/galaxy/tools/parser/xml.py
  lib/galaxy/util/checkers.py
  test/unit/jobs/test_runner_params.py
  test/unit/tools/test_evaluation.py
  test/unit/tools/test_parsing.py
  test/unit/tools/test_tool_dependency_description.py
  test/unit/tools/test_tool_deps.py
  test/unit/workflows/test_extract_summary.py
Labels: area/testing, kind/bug, status/review

#6431 Do not encode a rendered Mako template
  lib/galaxy/visualization/plugins/plugin.py
  lib/galaxy/web/framework/webapp.py
  test/unit/unittest_utils/galaxy_mock.py
  test/unit/visualizations/plugins/test_VisualizationsRegistry.py
Labels: area/framework, area/testing, area/visualizations, kind/bug, status/review

#6427 Citation style work
  client/galaxy/scripts/components/Citations.vue
Labels: area/UI-UX, kind/enhancement, status/review

#6436 fix a few tool_deps test errors
  test/unit/tools/test_tool_deps.py
Labels: area/tools, kind/enhancement

#6421 Fix panel drag resize.
  client/galaxy/scripts/layout/panel.js
Labels: area/UI-UX, kind/bug, status/review

#6433 [18.05] decode potential encoded id
  lib/galaxy/tools/parameters/basic.py
Labels: area/API, kind/bug

#6445 fix TS: resolve missing closing div and three extra closing divs
  templates/base/base_panels.mako
  templates/webapps/tool_shed/base_panels.mako
Labels: kind/bug

#6442 py3 compat: fixes test_vcf, test_sniff_compressed*
  lib/galaxy/util/__init__.py
  lib/galaxy/util/checkers.py
Labels: area/datatype-framework, kind/bug, status/review

#6440 replace the administration header in admin menu with version
  client/galaxy/scripts/apps/panels/admin-panel.js
Labels: area/admin, kind/enhancement, status/review

#6439 Python3: Encode return values of JSON encoder
  lib/galaxy/model/custom_types.py
  test/unit/test_galaxy_mapping.py
Labels: kind/refactoring, status/review

#6446 Python3: Drop fix_json, doesn't seem to be necessary and fixes workflow unit t…
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/__init__.py
  lib/galaxy/util/json.py
Labels: area/cleanup, kind/refactoring, status/review

#6452 py3: fixes test_DatasetManager.py:DatasetManagerTestCase
  lib/galaxy/managers/rbac_secured.py
Labels: triage

#6449 CI - ignore node_modules anywhere
  .ci/flake8_blacklist.txt
Labels: area/testing, status/review

#6454 py3: replace e.message with str(e)
  lib/galaxy/jobs/runners/chronos.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/managers/users.py
Labels: area/testing, kind/bug, status/review

#6451 Fix droptarget:drop trigger (drag/drop in the multiview)
  client/galaxy/scripts/mvc/history/history-view-edit.js
Labels: area/histories, kind/bug, status/review

#6428 Run workflows from published workflows menu
  lib/galaxy/webapps/galaxy/controllers/workflow.py
Labels: area/UI-UX, area/workflows, status/review

#6455 Various Python 3 fixes
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/checkers.py
  test/unit/tools/test_tool_deps.py
Labels: area/datatype-framework, area/tool-dependencies, kind/bug, status/review

#6434 py3 compat
  lib/galaxy/tools/deps/__init__.py
Labels: kind/refactoring, status/review

#6438 fixes test/unit/jobs/test_job_output_checker.py; strange default?
  lib/galaxy/jobs/output_checker.py
  lib/galaxy/tools/parser/cwl.py
  lib/galaxy/tools/parser/error_level.py
  lib/galaxy/tools/parser/interface.py
  lib/galaxy/tools/parser/util.py
  lib/galaxy/tools/parser/xml.py
  test/unit/jobs/test_job_output_checker.py
Labels: area/cleanup, kind/bug, status/review

#6460 GIE static url
  lib/galaxy/visualization/plugins/interactive_environments.py
Labels: area/visualizations, kind/bug

#6453 py3: Fix the dynamic tool destination unit test
  lib/galaxy/jobs/dynamic_tool_destination.py
Labels: area/jobs, kind/bug, status/review

#6313 added daa (diamond alignment) datatype
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/diamond.daa
Labels: area/datatypes, kind/feature

#6465 [18.05] Backport of IE static url fix (to actual 18.05)
  lib/galaxy/visualization/plugins/interactive_environments.py
Labels: merge, status/review

#6450 Fix all remaining unit tests under Python 3
  .travis.yml
  lib/galaxy/config.py
  lib/galaxy/containers/docker_swarm.py
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/text.py
  lib/galaxy/datatypes/triples.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/dynamic_tool_destination.py
  lib/galaxy/jobs/rule_helper.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/local.py
  lib/galaxy/jobs/runners/util/cli/shell/rsh.py
  lib/galaxy/jobs/runners/util/job_script/__init__.py
  lib/galaxy/model/metadata.py
  lib/galaxy/model/migrate/versions/0136_collection_and_workflow_state.py
  lib/galaxy/model/orm/scripts.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/deps/conda_util.py
  lib/galaxy/tools/execute.py
  lib/galaxy/tools/parameters/output_collect.py
  lib/galaxy/tools/parser/output_actions.py
  lib/galaxy/tools/parser/output_collection_def.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/rules_dsl.py
  lib/galaxy/web/framework/decorators.py
  lib/galaxy/web/framework/helpers/grids.py
  lib/galaxy/web/framework/webapp.py
  lib/galaxy/web/security/__init__.py
  lib/galaxy_ext/metadata/set_metadata.py
  lib/tool_shed/util/readme_util.py
  lib/tool_shed/util/web_util.py
  templates/tagging_common.mako
  test/unit/test_remote_shell.py
  test/unit/tools/test_collect_primary_datasets.py
  test/unit/tools/test_evaluation.py
  test/unit/tools/test_history_imp_exp.py
  test/unit/web/framework/test_webapp.py
  test/unit/workflows/test_extract_summary.py
Labels: area/tool-framework, area/workflows, kind/bug, status/review

#6443 Allows DatasetMatcher to use multiple filters
  lib/galaxy/tools/parameters/dataset_matcher.py
  test/unit/tools/test_dataset_matcher.py
Labels: area/datatype-framework, kind/feature, status/review

#6444 Intermine Enhancements
  config/datatypes_conf.xml.sample
  config/tool_conf.xml.main
  config/tool_conf.xml.sample
  config/tool_data_table_conf.xml.sample
  display_applications/intermine/intermine_simple.xml
  tool-data/intermine_simple_display.loc.sample
  tools/data_source/intermine.xml
Labels: area/tools

#6466 Let data managers also use conda python.
  lib/galaxy/tools/__init__.py
Labels: area/tool-framework, kind/enhancement, status/review

#6469 Update cliff and other related dependencies
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/develop/Pipfile
  lib/galaxy/dependencies/pipfiles/develop/Pipfile.lock
  lib/galaxy/dependencies/pipfiles/develop/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/Pipfile.lock
  lib/galaxy/dependencies/pipfiles/update.sh
Labels: area/dependencies, kind/enhancement, status/review

#5835 Copy data from a cloud-based storage to a Galaxy history
  lib/galaxy/managers/cloud.py
  lib/galaxy/webapps/galaxy/api/cloud.py
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: kind/feature, status/WIP

#6474 Fix bug noticed in sentry
  lib/galaxy/util/create_history_template.py
Labels: area/system, kind/enhancement, status/review

#6351 Fix the --log-file option in the job handlers
  lib/galaxy/config.py
Labels: area/framework, kind/bug, status/review

#6468 Allow including paths in inputs json files.
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/parameters/wrapped_json.py
  lib/galaxy/tools/xsd/galaxy.xsd
  test/functional/tools/inputs_as_json_with_paths.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/tool-framework, kind/enhancement, status/review

#6480 Add more information to the dataset template
  templates/show_params.mako
Labels: area/admin, kind/enhancement

#6486 Fix for show params server error
  templates/show_params.mako
Labels: area/UI-UX, kind/bug, status/review

#6478 GRT: fix the upload logging init
  scripts/grt/export.py
  scripts/grt/grt.yml.sample
  scripts/grt/upload.py
Labels: kind/bug, kind/enhancement, status/review

#6477 [18.01] Fix the --log-file option in the job handlers
  lib/galaxy/config.py
Labels: area/framework, kind/bug, status/review

#6369 [18.05] Make sure that the workflow step has a proper state available
  lib/galaxy/web/base/controller.py
Labels: area/UI-UX, kind/bug, status/review

#6375 [18.05] Specify standard HTTPTransport for Sentry
  lib/galaxy/app.py
  lib/galaxy/tools/error_reports/plugins/sentry.py
Labels: area/framework, kind/bug, status/review

#6374 Fix for rendering multiple dependent dynamic select lists
  lib/galaxy/tools/parameters/basic.py
Labels: kind/bug, status/review

#6490 small improvement to the too xsd docs regarding discovered_datasets
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: area/documentation, kind/enhancement, status/review

#6491 Implement ``group:`` tags (toward multi-factor analysis with group tagging)
  lib/galaxy/managers/collections.py
  lib/galaxy/managers/tags.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/actions/__init__.py
  test/api/test_workflows.py
Labels: area/dataset-collections, kind/enhancement

#6494 Fix ftp_upload_purge in galaxy.yml
  tools/data_source/upload.py
Labels: area/admin, kind/bug, status/review

#6365 Add period to the list of allowed characters in user names
  lib/galaxy/web/framework/webapp.py
Labels: area/admin, kind/enhancement, status/review

#6078 Upload data to a cloud-based storage
  lib/galaxy/managers/cloud.py
  lib/galaxy/webapps/galaxy/api/cloud.py
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: triage

#6497 [18.05] backport ftp purge fix
  tools/data_source/upload.py
Labels: merge

#6498 Fix resume from history panel
  lib/galaxy/model/__init__.py
  test/unit/managers/test_HistoryManager.py
Labels: area/jobs, kind/bug, status/review

#6496 remove dead link
  tools/data_source/upload.py
Labels: minor, status/review

#6476 Rulebuilder: Special case auto URL schema detection for SRA inputs.
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
Labels: area/UI-UX, kind/enhancement, status/review

#6501 Remove redundant/duplicate endpoint to edit user info
  lib/galaxy/webapps/galaxy/controllers/user.py
Labels: area/UI-UX, area/cleanup, status/WIP

#6502 Fix bam to bigwig error detection.
  lib/galaxy/datatypes/converters/bam_to_bigwig_converter.xml
Labels: area/datatypes, kind/bug, status/review

#6505 Remove the deprecated AOL openid backend.
  config/openid_conf.xml.sample
  openid/aol.xml
Labels: triage

#6394 Optimize setting large numbers of HIDs for collection outputs.
  lib/galaxy/tools/actions/__init__.py
Labels: area/performance, kind/bug, status/review

#6510 [18.05] Fix infinite loop in uploads
  lib/galaxy/datatypes/proteomics.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/test/empty.txt
Labels: area/datatypes, area/upload, kind/bug, status/review

#6294 Upload collections directly for tests.
  lib/galaxy/tools/actions/upload.py
  lib/galaxy/tools/data_fetch.xml
  lib/galaxy/webapps/galaxy/api/tools.py
  test/api/test_dataset_collections.py
  test/api/test_jobs.py
  test/api/test_libraries.py
  test/api/test_tools.py
  test/api/test_workflow_extraction.py
  test/api/test_workflows.py
  test/base/populators.py
  test/integration/test_scripts.py
Labels: area/API, area/testing/api, area/upload, kind/bug, kind/enhancement, status/review

#6447 Changing menu tabs without hard refresh
  client/galaxy/scripts/apps/analysis.js
  client/galaxy/scripts/layout/menu.js
  client/galaxy/scripts/mvc/user/user-preferences.js
Labels: triage

#6521 Rebuild CSS against latest dev
  static/style/blue/base.css
Labels: area/UI-UX, kind/bug, status/review

#6520 Fix failing qunit tests in dev.
  client/galaxy/scripts/qunit/tests/masthead_tests.js
Labels: area/UI-UX, kind/bug, minor

#6516 More optimized HID generation - in one commit instead of two.
  lib/galaxy/model/mapping.py
Labels: area/dataset-collections, area/jobs, area/performance, kind/enhancement, status/WIP

#6528 [18.05] Fix warning in CONVERTER_bam_to_bigwig_0 and CONVERTER_sam_to_bigwig_0
  lib/galaxy/datatypes/converters/bam_to_bigwig_converter.xml
  lib/galaxy/datatypes/converters/sam_to_bigwig_converter.xml
Labels: area/datatypes, kind/bug, status/review

#6529 Removal of unreachable exit()
  lib/galaxy/web/stack/transport.py
Labels: area/cleanup, kind/enhancement, status/review

#6517 Return a json blob containing redirect URI in OIDC login controller
  lib/galaxy/webapps/galaxy/controllers/authnz.py
Labels: triage

#6533 Notify if newer tool version is available
  lib/galaxy/tools/__init__.py
Labels: area/UI-UX, kind/enhancement, status/review

#6523 Handle pasted content in fetch API.
  lib/galaxy/tools/data_fetch.py
  test/api/test_tools.py
  test/base/populators.py
Labels: area/upload, kind/enhancement, status/review

#6531 Optimizations for history copying.
  lib/galaxy/managers/hdcas.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/item_attrs.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/metadata.py
  test/unit/test_galaxy_mapping.py
  test/unit/test_model_copy.py
Labels: area/histories, area/performance, kind/enhancement, status/review

#6539 Convert tool parameter XML attribute 'hidden' into the correct boolean Python type
  lib/galaxy/tools/parameters/basic.py
Labels: area/tool-framework, kind/enhancement, status/review

#6541 Test case for nested collection input to flatten in a workflow.
  test/api/test_workflows.py
Labels: area/testing/api, kind/enhancement

#6264 [18.05] Allow invalid optional param values for tools profile versions < 18.09
  lib/galaxy/tools/parameters/basic.py
Labels: area/tool-framework, kind/bug, status/review

#6553 Remove the sharing of toolbox in GRT
  scripts/grt/export.py
  scripts/grt/grt.yml.sample
Labels: kind/bug

#6546 Integration test for the interaction of nested object stores and jobs.
  test/base/driver_util.py
  test/integration/test_objectstore_jobs.py
Labels: area/jobs, area/objectstore, area/testing/integration, kind/enhancement, status/review

#6554 Fix linting issue introduced in #6553.
  scripts/grt/export.py
Labels: kind/bug, minor

#6542 [18.05] Fix "filter empty" rule in Python rule handling framework.
  lib/galaxy/util/rules_dsl.py
  test/unit/test_rule_utils.py
Labels: area/dataset-collections, kind/bug, status/review

#6555 Restore log_destination = stdout configuration option.
  lib/galaxy/config.py
Labels: kind/bug, status/review

#6557 Many selenium tests fixes for recent dev changes.
  client/galaxy/scripts/components/Sharing.vue
  test/galaxy_selenium/navigation.yml
  test/selenium_tests/test_admin_app.py
  test/selenium_tests/test_history_panel_collections.py
  test/selenium_tests/test_history_sharing.py
  test/selenium_tests/test_published_histories_grid.py
Labels: area/testing/selenium, kind/bug
