Repository galaxyproject/galaxy, pull requests merged in 2018-02, with the labels that each got.

#5465 Show parameter name in DataToolParameter exception
  lib/galaxy/tools/parameters/basic.py
Labels: area/tools

#5467 [18.01] Workflow sharing link fixes
  templates/webapps/galaxy/workflow/sharing.mako
Labels: area/workflows, kind/bug, status/review

#5360 Add Proteomics datatypes proBAM and proBED
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/interval.py
Labels: area/datatypes, kind/feature, status/review

#5462 Tool that adds/sets tags for collection elements from a file
  config/tool_conf.xml.sample
  lib/galaxy/managers/taggable.py
  lib/galaxy/managers/tags.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/tag_collection_from_file.xml
  test-data/new_tags_1.txt
  test/base/interactor.py
  test/functional/tools/samples_tool_conf.xml
Labels: area/dataset-collections, area/tools, kind/feature, status/review

#5508 Drop short-lived 'make client-production' warning from build scripts,…
  Makefile
Labels: kind/bug, status/review

#5510 [18.01] do not allow codefiles for TS tool loading
  lib/tool_shed/tools/tool_validator.py
  test/unit/tools/test_tool_validation.py
Labels: area/toolshed, kind/bug, status/review

#5513 Default slow request tracking to disabled;
  lib/galaxy/web/framework/middleware/sentry.py
Labels: area/framework, kind/bug, status/review

#5512 [18.01] Make galaxy compatible with pysam 0.14
  lib/galaxy/datatypes/binary.py
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: area/system, kind/bug

#5515 [18.01] Optimize database interaction for user workflow list.
  lib/galaxy/model/mapping.py
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/database, area/performance, area/workflows, kind/bug, kind/enhancement, status/review

#5514 [18.01] Optimize public grid database interactions.
  lib/galaxy/model/mapping.py
  lib/galaxy/web/framework/helpers/grids.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy/webapps/galaxy/controllers/page.py
  lib/galaxy/webapps/galaxy/controllers/visualization.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
Labels: area/performance, kind/bug, kind/enhancement, status/review

#5521 [18.01] disable loading of webhooks in TS and reports apps
  client/galaxy/scripts/onload.js
Labels: kind/bug, minor, status/review

#5532 [18.01] Use profile="18.01" for BamNative converters
  lib/galaxy/datatypes/converters/bam_native_to_bam_converter.xml
  lib/galaxy/datatypes/converters/sam_to_bam_native.xml
Labels: area/datatypes, kind/bug, status/review

#5540 Merge release_18.01 into dev.
  client/galaxy/scripts/onload.js
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/converters/bam_native_to_bam_converter.xml
  lib/galaxy/datatypes/converters/sam_to_bam_native.xml
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/model/mapping.py
  lib/galaxy/web/framework/helpers/grids.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy/webapps/galaxy/controllers/page.py
  lib/galaxy/webapps/galaxy/controllers/visualization.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
Labels: merge, minor

#5542 [18.01] optimize nonadmin and nonanon library list permission queries
  lib/galaxy/managers/libraries.py
  lib/galaxy/webapps/galaxy/api/libraries.py
Labels: area/performance, kind/enhancement, status/review

#5538 Rev SQLAlchemy from 1.0.15 to 1.2.2.
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: area/dependencies, area/performance, kind/enhancement

#5506 Close tempfile handles.
  lib/galaxy/tools/repositories.py
Labels: area/toolshed, kind/bug, status/review

#5535 [18.01] Fix missing job stdout/stderr on Pulsar transfer failures.
  lib/galaxy/jobs/runners/pulsar.py
  test/functional/tools/fail_writing_work_dir_file.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/jobs, kind/bug, kind/enhancement, status/review

#5533 [18.01] Improve performance bugs and misleading summary info in history list.
  client/galaxy/scripts/mvc/history/history-list.js
  client/galaxy/style/less/base.less
  client/galaxy/style/less/galaxy_variables.less
  lib/galaxy/model/mapping.py
  lib/galaxy/web/framework/helpers/grids.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  test/selenium_tests/test_saved_histories.py
Labels: area/UI-UX, area/performance, kind/bug, status/review

#5450 Remove unused mapping code.
  lib/galaxy/dataset_collections/structure.py
  lib/galaxy/tools/execute.py
Labels: area/cleanup, area/dataset-collections, kind/enhancement, status/review

#5528 Fix for GenomeSpace importer/exporter
  client/galaxy/scripts/mvc/form/form-parameters.js
  client/galaxy/scripts/mvc/tool/tool-genomespace.js
  client/galaxy/scripts/mvc/ui/ui-select-genomespace.js
Labels: area/tools, kind/bug, status/review

#5531 Fix search overlay JS errors
  config/plugins/webhooks/demo/search/script.js
Labels: area/webhooks, kind/bug, status/review

#5334 Documentation version selection
  doc/source/conf.py
  doc/source/conf.versioning.py
Labels: area/documentation, kind/feature, status/review

#5526 [18.01] fix toolbox filters
  lib/galaxy/tools/toolbox/filters/__init__.py
  lib/galaxy/webapps/galaxy/api/users.py
Labels: area/UI-UX, kind/enhancement, status/review

#5548 fixed stale link
  lib/galaxy/datatypes/text.py
Labels: area/datatypes, area/documentation, kind/bug, status/review, triage

#5552 [18.01] Close tempfile handles.
  lib/galaxy/tools/repositories.py
Labels: area/toolshed, kind/bug, status/review

#5534 [17.09] Map static content by default for Reports and Tool Shed webapps
  config/reports.yml.sample
  config/tool_shed.yml.sample
Labels: area/reports, area/toolshed, kind/bug, status/review

#5448 History contents refactoring
  client/galaxy/scripts/mvc/history/history-contents.js
Labels: kind/refactoring, status/review

#5553 added fasta.gz
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/converters/fastagz_to_fasta.xml
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/sniff.py
Labels: area/datatypes, kind/feature, status/review

#5558 [18.01] Do not reload page when deleting collections.
  client/galaxy/scripts/mvc/history/hdca-li-edit.js
Labels: area/UI-UX, area/dataset-collections, kind/bug, minor

#5539 Add middleware and instrumentation to allow per-request SQL debugging.
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/orm/engine_factory.py
  lib/galaxy/web/framework/middleware/sqldebug.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/framework, kind/enhancement, status/review

#5556 [18.01] Allow LDAP options not starting with OPT_
  lib/galaxy/auth/providers/ldap_ad.py
Labels: area/framework, kind/bug, status/review

#5567 Remove defunct casperjs tests.
  run_tests.sh
  test/casperjs/README.txt
  test/casperjs/api-anon-history-permission-tests.js
  test/casperjs/api-anon-history-tests.js
  test/casperjs/api-hda-tests.js
  test/casperjs/api-history-permission-tests.js
  test/casperjs/casperjs_runner.py
  test/casperjs/modules/api.js
  test/casperjs/modules/historyoptions.js
  test/casperjs/modules/historypanel.js
  test/casperjs/modules/tools.js
  test/casperjs/modules/user.js
  test/casperjs/page-data/selectors.json
  test/casperjs/server_env.py
  test/casperjs/spaceghost.js
  test/casperjs/test-data/simple_test.ga
  test/casperjs/utils/simple-galaxy.js
Labels: area/cleanup, area/testing, kind/bug

#5443 [18.01] Don't silently fail rest of multi-action queue when attempting to purge a collection.
  client/galaxy/scripts/mvc/history/history-view-edit.js
Labels: area/UI-UX, area/dataset-collections, kind/bug, status/review

#5569 [18.01] fix broken admin 'create new user' when registration =='challenge'
  lib/galaxy/auth/__init__.py
Labels: area/framework, kind/bug, status/review

#5566 [18.01] In test framework only build client if running Selenium tests.
  run_tests.sh
Labels: area/testing, minor, status/review

#5561 [18.01] add fasta.gz support
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/converters/fastagz_to_fasta.xml
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/sniff.py
Labels: area/datatypes, kind/feature, status/review

#5492 Python3: Update bx-python dependency to 0.8.1
  lib/galaxy/datatypes/util/gff_util.py
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/dependencies/requirements.txt
Labels: area/dependencies, kind/enhancement, status/review

#5575 [18.01] Bump sqlite3 dependency for web proxy
  lib/galaxy/web/proxy/js/package.json
Labels: kind/bug, status/review

#5559 Progress on Jupyter Notebook Selenium tests
  test/galaxy_selenium/navigation.yml
  test/selenium_tests/test_jupyter.py
Labels: area/testing/selenium, kind/bug, kind/enhancement, status/review

#5581 Log errors from external chown script.
  lib/galaxy/jobs/__init__.py
Labels: area/jobs, kind/enhancement, status/review

#5579 [18.01] Fix small bam (header-only) infinite fetching
  lib/galaxy/datatypes/binary.py
Labels: kind/bug, status/review

#5576 [18.01] Paginate published workflows grid.
  lib/galaxy/webapps/galaxy/controllers/workflow.py
Labels: area/UI-UX, area/performance, kind/bug, kind/enhancement, status/review

#5573 [18.01] Do not remove external path files during library uploads
  test/base/populators.py
  test/integration/test_upload_configuration_options.py
  tools/data_source/upload.py
Labels: area/libraries, area/upload, kind/bug, status/review

#5578 [18.01] Fix repeated fetching dataset permissions in dynamic output collection.
  lib/galaxy/tools/parameters/output_collect.py
Labels: area/dataset-collections, area/performance, area/tool-framework, kind/bug, kind/enhancement, status/review

#5588 [18.01] Replace distutils.version with packaging.version
  lib/galaxy/datatypes/converters/sam_to_bam.py
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/dependencies/requirements.txt
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/deps/conda_util.py
  lib/galaxy/tools/deps/mulled/util.py
  lib/galaxy/tools/toolbox/lineages/interface.py
  lib/galaxy/visualization/data_providers/genome.py
Labels: area/tool-framework, kind/bug, kind/enhancement, status/review

#5600 move the cache from toolbox level to the tool level
  lib/galaxy/tools/toolbox/base.py
Labels: area/performance, kind/enhancement, status/review

#5602 Update against galaxy-lib
  lib/galaxy/tools/cwl/__init__.py
  lib/galaxy/tools/cwl/parser.py
  lib/galaxy/tools/cwl/representation.py
  lib/galaxy/tools/cwl/runtime_actions.py
  lib/galaxy/tools/cwl/schema.py
  lib/galaxy/tools/cwl/util.py
  lib/galaxy/tools/deps/commands.py
  lib/galaxy/tools/deps/mulled/invfile.lua
  lib/galaxy/tools/deps/mulled/mulled_build.py
  lib/galaxy/tools/deps/mulled/mulled_build_files.py
  lib/galaxy/tools/deps/mulled/util.py
  lib/galaxy/tools/deps/requirements.py
  lib/galaxy/tools/linters/command.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/checkers.py
  lib/galaxy/util/compression_utils.py
  lib/galaxy/util/path/__init__.py
Labels: kind/bug, kind/enhancement

#5604 Eliminate precreated datasets concept in upload API.
  lib/galaxy/actions/library.py
  lib/galaxy/tools/actions/upload.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/tools/parameters/grouping.py
  tools/data_source/upload.xml
Labels: area/cleanup, area/upload, kind/enhancement

#5582 [18.01] Fix lack of feedback when slow grids are loading data from the server.
  client/galaxy/scripts/mvc/grid/grid-shared.js
  client/galaxy/scripts/mvc/grid/grid-view.js
  client/galaxy/scripts/mvc/history/history-list.js
  client/galaxy/scripts/mvc/list/list-view.js
  client/galaxy/scripts/mvc/workflow/workflow.js
  client/galaxy/scripts/ui/loading-indicator.js
Labels: area/UI-UX, area/performance, kind/bug, kind/enhancement, status/review

#5574 [18.01] Optimize count query in grids (Part 1).
  lib/galaxy/web/framework/helpers/grids.py
Labels: area/UI-UX, area/performance, kind/bug, kind/enhancement, status/review

#5583 [18.01] Backport toolbox cache
  lib/galaxy/tools/toolbox/base.py
Labels: area/performance, kind/enhancement, status/review

#5621 Fixes from galaxy-lib
  lib/galaxy/tools/cwl/util.py
  lib/galaxy/tools/deps/conda_util.py
  lib/galaxy/tools/deps/containers.py
  lib/galaxy/tools/verify/test_data.py
Labels: area/tool-framework, kind/bug
