Repository galaxyproject/galaxy, pull requests merged in 2018-04, with the labels that each got.

#5826 Exclude the JS GIE proxy's node modules from linting
  .ci/flake8_blacklist.txt
Labels: area/testing, kind/bug, status/review

#5825 psycopg2-binary handling tweak
  scripts/common_startup.sh
Labels: area/dependencies, kind/bug, status/review

#5836 Initial Selenium Test Coverage for Admin App
  client/galaxy/scripts/apps/panels/admin-panel.js
  client/galaxy/scripts/components/admin/DataTablesGrid.vue
  client/galaxy/scripts/legacy/grid/grid-view.js
  client/galaxy/scripts/mvc/form/form-view.js
  client/galaxy/scripts/mvc/form/form-wrapper.js
  client/galaxy/scripts/mvc/grid/grid-model.js
  client/galaxy/scripts/mvc/grid/grid-template.js
  client/galaxy/scripts/mvc/ui/ui-portlet.js
  lib/galaxy/web/framework/helpers/grids.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  templates/admin/view_data_tables_registry.mako
  templates/admin/view_datatypes_registry.mako
  templates/webapps/galaxy/admin/view_display_applications.mako
  templates/webapps/galaxy/data_manager/index.mako
  test/galaxy_selenium/navigates_galaxy.py
  test/galaxy_selenium/navigation.yml
  test/selenium_tests/test_admin_app.py
Labels: area/testing/selenium, kind/enhancement, status/review

#5839 Skip new script tests in dev branch, they are breaking integration suite.
  test/integration/test_scripts.py
Labels: area/testing/integration, kind/bug

#5859 Do not append '/' to 'js' in GIE static path, this breaks uWSGI static routing
  config/plugins/interactive_environments/common/templates/ie.mako
Labels: area/GIEs, kind/bug, status/review

#5810 Plugin directory staging
  .gitignore
  client/galaxy/scripts/mvc/ui/ui-thumbnails.js
  client/gulpfile.js
  config/plugins/visualizations/common/templates/chart_entry_point.mako
  config/plugins/visualizations/csg/templates/csg.mako
  config/plugins/visualizations/cytoscape/config/cytoscape.xml
  config/plugins/visualizations/drawrna/config/drawrna.xml
  config/plugins/visualizations/example/config/example.xml
  config/plugins/visualizations/graphviz/templates/graphviz.mako
  config/plugins/visualizations/heatmap/heatmap_cluster/config/heatmap_cluster.xml
  config/plugins/visualizations/heatmap/heatmap_default/config/heatmap_default.xml
  config/plugins/visualizations/jqplot/jqplot_bar/config/jqplot_bar.xml
  config/plugins/visualizations/jqplot/jqplot_box/config/jqplot_box.xml
  config/plugins/visualizations/jqplot/jqplot_histogram/config/jqplot_histogram.xml
  config/plugins/visualizations/jqplot/jqplot_line/config/jqplot_line.xml
  config/plugins/visualizations/jqplot/jqplot_scatter/config/jqplot_scatter.xml
  config/plugins/visualizations/msa/config/msa.xml
  config/plugins/visualizations/ngl/config/ngl.xml
  config/plugins/visualizations/nvd3/nvd3_bar/config/nvd3_bar.xml
  config/plugins/visualizations/nvd3/nvd3_bar_stacked/config/nvd3_bar_stacked.xml
  config/plugins/visualizations/nvd3/nvd3_histogram/config/nvd3_histogram.xml
  config/plugins/visualizations/nvd3/nvd3_histogram_discrete/config/nvd3_histogram_discrete.xml
  config/plugins/visualizations/nvd3/nvd3_horizontal/config/nvd3_horizontal.xml
  config/plugins/visualizations/nvd3/nvd3_horizontal_stacked/config/nvd3_horizontal_stacked.xml
  config/plugins/visualizations/nvd3/nvd3_line/config/nvd3_line.xml
  config/plugins/visualizations/nvd3/nvd3_line_focus/config/nvd3_line_focus.xml
  config/plugins/visualizations/nvd3/nvd3_pie/config/nvd3_pie.xml
  config/plugins/visualizations/nvd3/nvd3_scatter/config/nvd3_scatter.xml
  config/plugins/visualizations/nvd3/nvd3_stackedarea/config/nvd3_stackedarea.xml
  config/plugins/visualizations/nvd3/nvd3_stackedarea_full/config/nvd3_stackedarea_full.xml
  config/plugins/visualizations/nvd3/nvd3_stackedarea_stream/config/nvd3_stackedarea_stream.xml
  config/plugins/visualizations/phylocanvas/config/phylocanvas.xml
  config/plugins/visualizations/pv/config/pv.xml
  config/plugins/visualizations/scatterplot/templates/scatterplot.mako
  config/plugins/visualizations/unipept/templates/unipept.mako
  config/plugins/visualizations/venn/config/venn.xml
  lib/galaxy/visualization/plugins/plugin.py
  lib/galaxy/webapps/galaxy/buildapp.py
  test/unit/visualizations/plugins/test_VisualizationPlugin.py
  test/unit/visualizations/plugins/test_VisualizationsRegistry.py
Labels: area/UI-UX, kind/refactoring, status/review

#5864 Fix conditional parameter handling
  client/galaxy/scripts/mvc/form/form-parameters.js
  client/galaxy/scripts/mvc/form/form-section.js
  client/galaxy/scripts/mvc/ui/ui-misc.js
  lib/galaxy/tools/parameters/basic.py
  static/style/blue/base.css
Labels: area/UI-UX, kind/bug, status/review

#5870 Increase yarn's network timeout
  Makefile
Labels: area/testing/selenium, kind/bug, status/review

#4474 User authentication using OpenID Connect protocol
  config/galaxy.yml.sample
  config/oidc_backends_config.xml.sample
  config/oidc_config.xml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app.py
  lib/galaxy/authnz/__init__.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/config.py
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/develop/Pipfile.lock
  lib/galaxy/dependencies/pipfiles/develop/pinned-requirements.txt
  lib/galaxy/dependencies/requirements.txt
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0141_add_oidc_tables.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/controllers/authnz.py
  templates/user/login.mako
Labels: area/API, area/security, area/system, kind/feature, status/review

#5877 Use `extras` to specify additional social_auth_core dependencies
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/develop/Pipfile.lock
  lib/galaxy/dependencies/pipfiles/develop/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/Pipfile.lock
  lib/galaxy/dependencies/pipfiles/flake8/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/update.sh
Labels: area/dependencies, kind/enhancement, status/review

#5814 add note to FTP modal when oidc is enabled
  client/galaxy/scripts/mvc/upload/upload-ftp.js
  lib/galaxy/managers/configuration.py
Labels: area/UI-UX, kind/enhancement, minor, status/review

#5876 More, better workflow editor Selenium tests.
  client/galaxy/scripts/mvc/workflow/workflow-connector.js
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  client/galaxy/scripts/mvc/workflow/workflow-view-node.js
  client/galaxy/scripts/mvc/workflow/workflow-view-terminals.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  templates/webapps/galaxy/workflow/editor.mako
  test/base/workflows_format_2/main.py
  test/galaxy_selenium/components.py
  test/galaxy_selenium/navigates_galaxy.py
  test/galaxy_selenium/navigation.yml
  test/galaxy_selenium/smart_components.py
  test/selenium_tests/test_workflow_editor.py
Labels: area/testing/selenium, area/workflows, kind/enhancement

#5878 Minor build fixes.
  client/galaxy/scripts/mvc/workflow/workflow-connector.js
  test/selenium_tests/test_workflow_editor.py
Labels: area/testing/selenium, area/workflows, kind/bug, minor

#5882 More, better workflow editor Selenium tests - part 2.
  client/galaxy/scripts/mvc/workflow/workflow-connector.js
  client/galaxy/scripts/mvc/workflow/workflow-view-terminals.js
  templates/base/base_panels.mako
  templates/webapps/galaxy/galaxy.panels.mako
  test/api/test_workflows.py
  test/base/workflow_fixtures.py
  test/galaxy_selenium/navigation.yml
  test/selenium_tests/_workflow_fixtures.py
  test/selenium_tests/test_workflow_editor.py
  test/selenium_tests/test_workflow_run.py
Labels: area/testing/selenium, area/workflows, kind/enhancement, status/review

#5823 Various Improvements for the Rule Builder Widget
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
  client/galaxy/scripts/mvc/collection/list-collection-creator.js
  client/galaxy/scripts/mvc/rules/rule-definitions.js
  client/galaxy/scripts/mvc/upload/collection/rules-input-view.js
  client/package.json
  client/yarn.lock
  test-data/rules/uniprot.json
  test/selenium_tests/test_uploads.py
Labels: area/UI-UX, area/dataset-collections, kind/bug, kind/enhancement, status/review

#5821 Avoid silent tool upgrades during workflow imports
  lib/galaxy/managers/workflows.py
  lib/galaxy/tools/parameters/grouping.py
  lib/galaxy/web/base/controller.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/workflow/modules.py
  test/unit/workflows/test_modules.py
Labels: area/UI-UX, area/workflows, area/workflows/subworkflows, kind/bug, status/review

#5829 Fix no dataset found
  lib/galaxy/web/base/controller.py
Labels: kind/bug, status/review

#5880 Move the memory statement below _galaxy_setup_environment
  lib/galaxy/jobs/runners/util/job_script/DEFAULT_JOB_FILE_TEMPLATE.sh
Labels: area/jobs, kind/bug

#5793 Sniffing framework with constrained memory and I/O.
  lib/galaxy/datatypes/annotation.py
  lib/galaxy/datatypes/assembly.py
  lib/galaxy/datatypes/blast.py
  lib/galaxy/datatypes/constructive_solid_geometry.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/genetics.py
  lib/galaxy/datatypes/interval.py
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/datatypes/mothur.py
  lib/galaxy/datatypes/msa.py
  lib/galaxy/datatypes/phylip.py
  lib/galaxy/datatypes/plant_tribes.py
  lib/galaxy/datatypes/proteomics.py
  lib/galaxy/datatypes/qualityscore.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/test/1.afg
  lib/galaxy/datatypes/test/1.arff
  lib/galaxy/datatypes/test/1.hdt
  lib/galaxy/datatypes/test/1.obo
  lib/galaxy/datatypes/test/1.owl
  lib/galaxy/datatypes/test/1.phyloxml
  lib/galaxy/datatypes/test/1.stockholm
  lib/galaxy/datatypes/test/1.ttl
  lib/galaxy/datatypes/test/1.xmfa
  lib/galaxy/datatypes/test/2.tabular
  lib/galaxy/datatypes/test/2.txt
  lib/galaxy/datatypes/test/3.txt
  lib/galaxy/datatypes/test/Acanium.hmm
  lib/galaxy/datatypes/text.py
  lib/galaxy/datatypes/triples.py
  lib/galaxy/datatypes/xml.py
  lib/galaxy/util/compression_utils.py
Labels: area/datatype-framework, area/datatypes, kind/bug, kind/enhancement, status/review

#5888 Mocha/Chai test framework + Rules DSL specification w/tests.
  Makefile
  client/galaxy/scripts/mocha/test.js
  client/galaxy/scripts/mocha/tests/rules_dsl_spec.yml
  client/galaxy/scripts/mocha/tests/rules_tests.js
  client/karma.config.js
  client/package.json
  test/base/data/rules_dsl_spec.yml
Labels: area/dataset-collections, area/testing, kind/enhancement

#5890 [18.01] Fix update_repository when hg repo has local modifications
  lib/tool_shed/util/hg_util.py
Labels: area/tool-framework, kind/bug, status/review

#5892 Exclude only test_grt_export integration test
  test/integration/test_scripts.py
Labels: area/testing/integration, kind/enhancement, status/review

#5896 Fix for Selenium workflow editor test not fully updating annotation.
  test/selenium_tests/test_workflow_editor.py
Labels: area/testing/selenium, kind/bug, minor

#5907 Remove unused client route
  client/galaxy/scripts/apps/analysis.js
Labels: area/UI-UX, area/cleanup, status/review

#5902 Add proxy, logo and example file for hivtrace
  config/plugins/visualizations/hivtrace/static/logo.png
  config/plugins/visualizations/hivtrace/templates/index.mako
Labels: area/visualizations, kind/enhancement, minor, status/review

#5886 More, better workflow run Selenium tests.
  client/galaxy/scripts/mvc/tool/tool-form-composite.js
  test/api/test_workflows.py
  test/base/populators.py
  test/base/workflow_fixtures.py
  test/galaxy_selenium/navigation.yml
  test/selenium_tests/framework.py
  test/selenium_tests/test_workflow_editor.py
  test/selenium_tests/test_workflow_run.py
Labels: area/testing/selenium, area/workflows, kind/enhancement

#5906 Add OIDC and OAuth2.0 config to authentication docs
  doc/source/admin/authentication.md
Labels: area/documentation, kind/enhancement

#5908 OIDC controller index
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/authnz.py
Labels: area/API, kind/enhancement

#5861 Implement the API version of the Docker containers interface
  config/containers_conf.yml.sample
  lib/galaxy/app.py
  lib/galaxy/containers/__init__.py
  lib/galaxy/containers/docker.py
  lib/galaxy/containers/docker_model.py
  lib/galaxy/containers/docker_swarm.py
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/tools/deps/containers.py
  lib/galaxy/tools/deps/docker_util.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/json.py
  lib/galaxy/visualization/plugins/interactive_environments.py
  lib/galaxy/webapps/galaxy/controllers/interactive_environments.py
  scripts/docker_swarm_manager.py
Labels: area/GIEs, area/framework, area/tool-dependencies, kind/enhancement, kind/refactoring, status/review

#5899 Fix admin datalib dataset perms
  lib/galaxy/security/__init__.py
  lib/galaxy/webapps/galaxy/api/library_datasets.py
Labels: area/API, area/admin, area/libraries, kind/bug, status/review

#5716 Add datatype(s): RDS object and SingleCellExperiment class
  config/datatypes_conf.xml.sample
Labels: area/datatypes, kind/enhancement, status/review

#5811 add link that explains quota management to quota indicator
  client/galaxy/scripts/mvc/user/user-quotameter.js
Labels: kind/enhancement, status/review

#5854 Improve startup interoperability with Conda
  config/galaxy.yml.sample
  create_db.sh
  doc/source/admin/framework_dependencies.rst
  extract_dataset_parts.sh
  lib/galaxy/dependencies/conda-file.sh
  manage_db.sh
  run_tests.sh
  scripts/common_startup.sh
  scripts/common_startup_functions.sh
  scripts/get_uwsgi_args.py
Labels: area/dependencies, area/framework, kind/enhancement, status/review

#5887 remove deprecated feature, deprecate method, link to preferred impl.
  lib/galaxy/web/base/controller.py
Labels: kind/bug, status/review

#5900 This fixes display of the tour index names -- previously unnoticed since
  client/galaxy/scripts/mvc/tours.js
Labels: area/UI-UX, kind/bug, status/review

#5913 Hack to fix Git in node container.
  .ci/jenkins/selenium/run_tests.sh
Labels: area/testing, area/testing/selenium, kind/bug, minor, status/WIP

#5917 Fix uploads of link-only datasets to data library
  tools/data_source/upload.py
Labels: area/libraries, area/upload, kind/bug, status/review

#5921 [18.01] correct signal num in docs
  doc/source/admin/scaling.md
Labels: area/documentation, kind/bug

#5914 Multiview history panel-control fix.
  client/galaxy/scripts/mvc/history/multi-panel.js
Labels: area/UI-UX, area/histories, kind/bug, status/review

#5928 [18.01] forgot to document github bug reporter
  doc/source/admin/special_topics/bug_reports.rst
Labels: area/admin, area/documentation, kind/bug, kind/enhancement

#5794 Infrastructure for dynamic compressed datatypes
  config/datatypes_conf.xml.sample
  lib/galaxy/config.py
  lib/galaxy/datatypes/converters/fastagz_to_fasta.xml
  lib/galaxy/datatypes/converters/fastqbz2_to_fastq.xml
  lib/galaxy/datatypes/converters/fastqcssangerbz2_to_fastqcssanger.xml
  lib/galaxy/datatypes/converters/fastqcssangergz_to_fastqcssanger.xml
  lib/galaxy/datatypes/converters/fastqgz_to_fastq.xml
  lib/galaxy/datatypes/converters/fastqilluminabz2_to_fastqillumina.xml
  lib/galaxy/datatypes/converters/fastqilluminagz_to_fastqillumina.xml
  lib/galaxy/datatypes/converters/fastqsangerbz2_to_fastqsanger.xml
  lib/galaxy/datatypes/converters/fastqsangergz_to_fastqsanger.xml
  lib/galaxy/datatypes/converters/fastqsolexabz2_to_fastqsolexa.xml
  lib/galaxy/datatypes/converters/fastqsolexagz_to_fastqsolexa.xml
  lib/galaxy/datatypes/converters/genbankgz_to_genbank.xml
  lib/galaxy/datatypes/converters/gz_to_uncompressed.xml
  lib/galaxy/datatypes/registry.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/webapps/galaxy/api/datatypes.py
  test/functional/tools/sample_datatypes_conf.xml
Labels: area/datatype-framework, kind/bug, kind/enhancement

#5872 Filter tool: fix too strict sanitizing
  test-data/filter1_in6.bed
  test-data/filter1_test6.bed
  tools/stats/filtering.py
  tools/stats/filtering.xml
Labels: area/tools, kind/bug, status/review

#5922 Fix error with data managers when trying to move_merge inexistant extra_files dir
  lib/galaxy/tools/data_manager/manager.py
Labels: triage

#5909 Rule builder styling fixes.
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
  client/galaxy/scripts/mvc/upload/collection/rules-input-view.js
  test/galaxy_selenium/navigates_galaxy.py
  test/galaxy_selenium/navigation.yml
  test/selenium_tests/test_uploads.py
Labels: area/UI-UX, area/dataset-collections, kind/bug, kind/enhancement, minor, status/review

#5940 More Rule Builder Style Changes
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
  client/galaxy/scripts/mvc/rules/rule-definitions.js
  client/package.json
  client/webpack.config.js
Labels: area/UI-UX, area/dataset-collections, kind/bug, kind/enhancement, status/review

#5916 Fix trackster links
  client/galaxy/scripts/viz/trackster.js
Labels: area/visualizations, kind/bug, status/review

#5945 Fix dropdown click and highlighting behavior
  client/galaxy/style/scss/base.scss
  static/style/blue/base.css
Labels: area/UI-UX, kind/bug, status/review

#5935 Fix bug with removing workflow outputs from a node.
  client/galaxy/scripts/mvc/workflow/workflow-node.js
Labels: area/UI-UX, area/workflows, kind/bug

#5956 removed config.ini parameter from cleanup scripts
  scripts/cleanup_datasets/delete_datasets.sh
  scripts/cleanup_datasets/delete_userless_histories.sh
  scripts/cleanup_datasets/purge_datasets.sh
  scripts/cleanup_datasets/purge_folders.sh
  scripts/cleanup_datasets/purge_histories.sh
  scripts/cleanup_datasets/purge_libraries.sh
Labels: triage

#5937 Fix for running in containers when job_tmp is set in job_conf.xml.
  lib/galaxy/tools/deps/containers.py
  lib/galaxy/tools/deps/docker_util.py
Labels: area/jobs, kind/bug

#5947 [17.05] Resort to os.path.exists() also for paths not ending in .loc
  lib/galaxy/tools/data/__init__.py
Labels: area/tool-framework, kind/bug, status/review

#5962 Fix shared history list bug
  client/galaxy/scripts/mvc/history/history-list.js
Labels: area/histories, kind/bug, status/review

#5965 bootstrap4 regression fix - extra large rule builder modal.
  client/galaxy/scripts/mvc/collection/list-collection-creator.js
  client/galaxy/scripts/mvc/ui/ui-modal.js
Labels: area/UI-UX, area/dataset-collections, kind/bug, kind/enhancement

#5929 Allow using the rule based collection builders right from libraries.
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
  client/galaxy/scripts/mvc/collection/list-collection-creator.js
  client/galaxy/scripts/mvc/library/library-foldertoolbar-view.js
  client/package.json
  client/webpack.config.js
Labels: area/dataset-collections, area/libraries, kind/enhancement

#5943 [18.01] Correct access for FTP files in composite datatype
  lib/galaxy/tools/parameters/grouping.py
Labels: area/UI-UX, kind/bug

#5968 rule builder - better fix for inactive links
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
Labels: area/UI-UX, kind/bug

#5969 Data Library -> Rule Builder fixes.
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
  client/galaxy/scripts/mvc/collection/list-collection-creator.js
  client/galaxy/scripts/mvc/rules/rule-definitions.js
Labels: area/UI-UX, area/dataset-collections, area/libraries, kind/bug, minor

#5958 [18.01] Backport to 18.01 the move_merge fix from #5922
  lib/galaxy/tools/data_manager/manager.py
Labels: kind/bug, merge

#5936 Update to latest galaxy-lib.
  lib/galaxy/containers/docker.py
  lib/galaxy/tools/linters/general.py
  lib/galaxy/tools/verify/interactor.py
Labels: area/framework, area/tool-framework, kind/enhancement

#5972 Pin the version of node we use in CI, etc....
  scripts/common_startup.sh
Labels: kind/bug, status/WIP

#5981 [18.01] Minor Job documentation corrections
  config/job_conf.xml.sample_basic
  doc/source/admin/jobs.md
Labels: area/documentation, kind/bug, status/review

#5982 start Version 18.09.dev
  lib/galaxy/version.py
Labels: minor

#5980 [18.05] Update version to 18.05.rc1
  lib/galaxy/version.py
Labels: minor

#5924 [18.01] Provide ToolDataTableManager for backwards compatibility
  lib/tool_shed/tools/data_table_manager.py
Labels: area/tool-framework, kind/bug, kind/enhancement, status/review

#5986 [17.09] Fix 2 typos in the docs
  config/local_conda_mapping.yml.sample
  doc/source/admin/cluster.md
Labels: area/documentation, kind/bug, status/review

#6000 [18.01] Backport #5972
  scripts/common_startup.sh
Labels: kind/bug, merge, status/review

#5995 Optimize safe_walk to call realpath a lot less for typical calls...
  lib/galaxy/util/path/__init__.py
Labels: area/performance, area/upload, kind/bug, kind/enhancement

#5991 [18.05] Small Rule Builder Fixes
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
  client/galaxy/scripts/mvc/rules/rule-definitions.js
Labels: area/UI-UX, area/dataset-collections, kind/bug, minor

#5990 [18.01] Fix collection element count getting lost during collection copies.
  lib/galaxy/model/__init__.py
Labels: area/dataset-collections, kind/bug

#5930 [18.01] Only try to determine GIE container ports once at launch, then hand off to readiness check
  lib/galaxy/containers/__init__.py
  lib/galaxy/visualization/plugins/interactive_environments.py
  lib/galaxy/web/proxy/__init__.py
  lib/galaxy/webapps/galaxy/controllers/interactive_environments.py
Labels: area/GIEs, kind/bug, status/review

#6009 fix bowtie2 link
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: area/documentation, kind/bug

#6010 [18.01] enable testing for more BAM types
  lib/galaxy/tools/verify/__init__.py
Labels: triage

#6011 Remove duplicate metric sending
  lib/galaxy/web/framework/middleware/graphite.py
  lib/galaxy/web/framework/middleware/statsd.py
Labels: area/admin, kind/refactoring

#5989 [18.05] Fixes for the Cgroup metric plugin
  lib/galaxy/jobs/metrics/instrumenters/cgroup.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/util/__init__.py
Labels: area/jobs, kind/bug, status/review

#6013 Documentation and typo fixes
  config/tool_destinations.yml.sample
  lib/galaxy/managers/collections_util.py
  lib/galaxy/tools/xsd/galaxy.xsd
  scripts/bootstrap_history.py
Labels: area/documentation, kind/enhancement, status/review

#6020 [18.01] lastz_wrapper_2 no longer requires Galaxy's python env as of version 1.3
  lib/galaxy/tools/__init__.py
Labels: area/tools, kind/bug, status/review

#6018 This strips the graphite-specific middleware
  config/galaxy.yml.sample
  config/reports.yml.sample
  config/tool_shed.yml.sample
  doc/source/admin/galaxy_options.rst
  doc/source/admin/special_topics/performance_tracking.rst
  doc/source/lib/galaxy.web.framework.middleware.rst
  lib/galaxy/config.py
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/web/framework/middleware/graphite.py
  lib/galaxy/webapps/config_manage.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/framework, kind/refactoring, status/review
