Repository galaxyproject/galaxy, pull requests merged in 2018-06, with the labels that each got.

#6248 Align input element update mechanism
  client/galaxy/scripts/mvc/form/form-input.js
  client/galaxy/scripts/mvc/form/form-parameters.js
  client/galaxy/scripts/mvc/form/form-view.js
  client/galaxy/scripts/mvc/ui/ui-drilldown.js
  client/galaxy/scripts/mvc/ui/ui-list.js
  client/galaxy/scripts/mvc/ui/ui-misc.js
  client/galaxy/scripts/mvc/ui/ui-options.js
  client/galaxy/scripts/mvc/ui/ui-rules-edit.js
  client/galaxy/scripts/mvc/ui/ui-select-content.js
  client/galaxy/scripts/mvc/ui/ui-select-default.js
  client/galaxy/scripts/mvc/ui/ui-select-library.js
  client/galaxy/style/scss/ui.scss
  static/style/blue/base.css
Labels: area/UI-UX, kind/enhancement, status/review

#6036 Pause jobs with invalid inputs
  client/galaxy/scripts/mvc/dataset/dataset-li.js
  lib/galaxy/jobs/handler.py
  lib/galaxy/model/__init__.py
  test/api/test_workflows.py
Labels: area/admin, area/jobs, area/workflows, kind/bug, kind/enhancement, status/review

#6215 Enable automatic reload of dynamic job rules on change
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config.py
  lib/galaxy/queue_worker.py
  lib/galaxy/util/watcher.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/config_watchers.py
Labels: area/jobs, kind/feature, status/review

#6201 New datatype: SBML
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/xml.py
Labels: area/datatypes

#6171 [PROCEDURES] Clarify how +1 votes on PRs can be expressed v.3
  doc/source/project/organization.rst
Labels: procedures, status/review

#6253 Mapping over from_param fixes
  lib/galaxy/dataset_collections/subcollections.py
  lib/galaxy/tools/parser/output_actions.py
  test/api/test_tools.py
  test/functional/tools/output_action_change_format_paired.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/dataset-collections, area/tool-framework, kind/bug, status/review

#6265 Python3 fixes
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/update.sh
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/util/path/__init__.py
  lib/galaxy/web/stack/__init__.py
Labels: area/dependencies, area/framework, area/tool-framework, kind/bug, status/review

#6213 Test element_identifier usage with single data parameters, in repeat/cond.
  test/api/test_tools.py
  test/functional/tools/identifier_single_in_repeat.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/dataset-collections, area/testing/api, kind/enhancement

#6255 Fix collection mapping to allow subcollection mapping over multi-data inputs.
  client/galaxy/scripts/mvc/ui/ui-select-content.js
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/dataset_matcher.py
  lib/galaxy/tools/parameters/history_query.py
  lib/galaxy/tools/wrappers.py
  test/api/test_tools.py
Labels: area/dataset-collections, kind/bug, kind/enhancement

#6251 Check context for textable mode of select fields
  lib/galaxy/tools/parameters/basic.py
Labels: area/UI-UX, area/tool-framework, kind/bug, status/review

#6263 [18.05] Fix dataset sizes in GRT export script
  scripts/grt/export.py
Labels: area/admin, fixathon 06/18, kind/bug, status/review

#6279 Fix tool search overlay selector
  config/plugins/webhooks/demo/search/script.js
Labels: area/UI-UX, kind/bug

#6206 Add the newick extension for the Newick datatype,
  config/datatypes_conf.xml.sample
  config/plugins/visualizations/phylocanvas/config/phylocanvas.xml
  lib/galaxy/datatypes/data.py
  lib/galaxy/visualization/data_providers/phyloviz/__init__.py
Labels: area/datatypes, kind/enhancement, status/review

#6262 [18.01] Various fixes for the run scripts
  lib/galaxy/dependencies/__init__.py
  run.sh
  run_reports.sh
  run_tool_shed.sh
  scripts/common_startup.sh
  scripts/common_startup_functions.sh
  scripts/common_startup_variables.sh
  scripts/maintenance.sh
Labels: area/framework, kind/bug, status/review

#6285 [18.05] telescope export: change to a more defensive approach
  scripts/grt/export.py
Labels: area/admin, fixathon 06/18, kind/bug, status/review

#6289 Only update options if provided in parameter definition
  client/galaxy/scripts/mvc/ui/ui-options.js
Labels: area/UI-UX, kind/bug, status/review

#6295 [18.01] Fix `GALAXY_RUN_ALL=1 ./run.sh --daemon`
  run.sh
Labels: area/framework, kind/bug, status/review

#6274 Fix help text for renaming operation in workflows
  client/galaxy/scripts/mvc/workflow/workflow-forms.js
  lib/galaxy/jobs/actions/post.py
Labels: area/UI-UX, fixathon 06/18, kind/bug, status/review

#6266 [18.01] Backport fixes for collection output actions.
  lib/galaxy/dataset_collections/subcollections.py
  lib/galaxy/tools/parser/output_actions.py
  test/api/test_tools.py
  test/functional/tools/output_action_change_format_paired.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/dataset-collections, area/tool-framework, kind/bug, merge

#6286 Index select2 field values
  client/galaxy/scripts/mvc/ui/ui-select-default.js
Labels: area/UI-UX, area/performance, status/review

#6240 Workflow submit text links
  client/galaxy/scripts/mvc/tool/tool-form-composite.js
Labels: area/UI-UX, area/workflows, kind/enhancement, kind/refactoring, status/review

#6270 fix link to workflow list
  lib/galaxy/webapps/galaxy/controllers/workflow.py
Labels: area/UI-UX, area/workflows, kind/bug, status/review

#6300 Make simple lists selectable again in multidata inputs
  lib/galaxy/tools/parameters/basic.py
  test/api/test_tools.py
Labels: area/dataset-collections, kind/bug, minor, status/review

#6277 Consolidate use of get_repo_for_repository() and clone_repository()
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/galaxy/webapps/tool_shed/api/repositories.py
  lib/galaxy/webapps/tool_shed/api/repository_revisions.py
  lib/galaxy/webapps/tool_shed/controllers/repository.py
  lib/galaxy/webapps/tool_shed/controllers/repository_review.py
  lib/galaxy/webapps/tool_shed/controllers/upload.py
  lib/galaxy/webapps/tool_shed/model/__init__.py
  lib/tool_shed/capsule/capsule_manager.py
  lib/tool_shed/dependencies/attribute_handlers.py
  lib/tool_shed/dependencies/repository/relation_builder.py
  lib/tool_shed/galaxy_install/install_manager.py
  lib/tool_shed/grids/repository_grids.py
  lib/tool_shed/grids/repository_review_grids.py
  lib/tool_shed/grids/util.py
  lib/tool_shed/metadata/metadata_generator.py
  lib/tool_shed/metadata/repository_metadata_manager.py
  lib/tool_shed/repository_registry.py
  lib/tool_shed/repository_types/metadata.py
  lib/tool_shed/repository_types/repository_suite_definition.py
  lib/tool_shed/repository_types/tool_dependency_definition.py
  lib/tool_shed/tools/tool_validator.py
  lib/tool_shed/tools/tool_version_manager.py
  lib/tool_shed/util/commit_util.py
  lib/tool_shed/util/hg_util.py
  lib/tool_shed/util/metadata_util.py
  lib/tool_shed/util/readme_util.py
  lib/tool_shed/util/repository_content_util.py
  lib/tool_shed/util/repository_util.py
  lib/tool_shed/util/review_util.py
  lib/tool_shed/util/shed_util_common.py
Labels: area/toolshed, kind/enhancement, status/review

#6301 [18.05] add the canonical url to grt config
  scripts/grt/grt.yml.sample
Labels: area/documentation, kind/bug, status/review

#6076 Workflow and remote-user related refactoring and a bug fix
  client/galaxy/scripts/mvc/workflow/workflow-canvas.js
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  client/galaxy/scripts/mvc/workflow/workflow-node.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  lib/galaxy/managers/workflows.py
  lib/galaxy/web/framework/webapp.py
Labels: area/framework, area/workflows, kind/bug, kind/refactoring, status/review

#6304 [18.05] Increase sleep if encountering (DB locking) exception
  lib/galaxy/jobs/handler.py
Labels: area/jobs, kind/bug, status/review

#6238 [18.05] Various style fixes for history, toolshed, messages (backport)
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
  client/galaxy/scripts/mvc/history/job-states-model.js
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/history.scss
  client/galaxy/style/scss/list-item.scss
  client/galaxy/style/scss/upload.scss
  static/style/blue/base.css
  templates/webapps/tool_shed/common/grid_common.mako
Labels: kind/bug, status/review

#6243 [18.05] Backport of Workflow Execution Text Fixup
  client/galaxy/scripts/mvc/tool/tool-form-composite.js
Labels: kind/bug, status/review

#6226 [18.05] Two minor aliases for (exterior) backwards compatibility, minor badge tweaks
  client/galaxy/scripts/mvc/tours.js
  client/galaxy/style/scss/base.scss
  static/scripts/bundled/libs.bundled.js
  static/scripts/mvc/tours.js
  static/style/blue/base.css
Labels: area/UI-UX, kind/bug, status/review

#6237 [18.05] Fix history contents w/ proxy prefix (multiview error)
  client/galaxy/scripts/mvc/history/history-contents.js
Labels: area/histories, kind/bug, minor, status/review

#6260 [18.05] History view 'import' button display based on ownership.
  client/galaxy/scripts/components/HistoryView.vue
Labels: area/histories, kind/bug, status/review

#6307 More use of Mercurial CLI instead of API
  lib/galaxy/app.py
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/galaxy/webapps/tool_shed/api/repositories.py
  lib/galaxy/webapps/tool_shed/api/repository_revisions.py
  lib/galaxy/webapps/tool_shed/controllers/repository.py
  lib/galaxy/webapps/tool_shed/controllers/upload.py
  lib/galaxy/webapps/tool_shed/model/__init__.py
  lib/tool_shed/capsule/capsule_manager.py
  lib/tool_shed/dependencies/attribute_handlers.py
  lib/tool_shed/dependencies/repository/relation_builder.py
  lib/tool_shed/galaxy_install/install_manager.py
  lib/tool_shed/grids/repository_grids.py
  lib/tool_shed/grids/util.py
  lib/tool_shed/repository_registry.py
  lib/tool_shed/tools/tool_validator.py
  lib/tool_shed/util/commit_util.py
  lib/tool_shed/util/hg_util.py
  lib/tool_shed/util/metadata_util.py
  lib/tool_shed/util/readme_util.py
  lib/tool_shed/util/repository_util.py
Labels: area/framework, area/toolshed, kind/enhancement, status/review

#6292 Update tabular.py
  lib/galaxy/datatypes/tabular.py
Labels: triage

#6305 Fix default job script by moving env setup
  lib/galaxy/jobs/runners/util/job_script/DEFAULT_JOB_FILE_TEMPLATE.sh
Labels: area/admin, area/libraries, kind/enhancement, kind/refactoring, status/review

#6142 Make workflow editor toolTitle link include the tools description
  templates/webapps/galaxy/workflow/editor.mako
Labels: area/UI-UX, kind/enhancement

#6293 [18.05] Strip a spurious Slurm warning from job stderr
  lib/galaxy/jobs/runners/slurm.py
Labels: area/jobs, kind/bug, status/review

#6288 Job success message revision
  client/galaxy/scripts/mvc/tool/tool-form.js
Labels: area/UI-UX, kind/enhancement, status/review

#6278 Various fixes for mapping over collections
  lib/galaxy/dataset_collections/structure.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/parameters/history_query.py
  test/api/test_workflows.py
  test/functional/tools/collection_type_source_map_over.xml
  test/functional/tools/for_workflows/cat_collection.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/dataset-collections, kind/bug, status/review

#6315 Fix typo (UnitializedTree -> UninitializedTree)
  lib/galaxy/dataset_collections/structure.py
  lib/galaxy/tools/actions/upload.py
  lib/galaxy/tools/parameters/output_collect.py
Labels: area/dataset-collections, kind/refactoring, status/review

#6316 Fix undefined success_message
  client/galaxy/scripts/mvc/form/form-wrapper.js
Labels: area/UI-UX, kind/bug, status/review

#6317 Allow #if $datasets #end if pattern for file lists
  lib/galaxy/tools/wrappers.py
  test/functional/tools/multi_data_optional.xml
Labels: area/tool-framework, kind/bug, status/review

#6269 Fixes for phenotype association tools
  tools/phenotype_association/gpass.xml
  tools/phenotype_association/lps.xml
  tools/phenotype_association/master2gd_snp.xml
  tools/phenotype_association/master2pg.xml
Labels: area/tools, kind/bug, status/review

#6176 Add impersonate to main user grid when it's enabled
  client/galaxy/scripts/apps/admin.js
  client/galaxy/scripts/apps/panels/admin-panel.js
  client/galaxy/scripts/components/admin/UserAPIKeys.vue
  lib/galaxy/webapps/galaxy/controllers/admin.py
  templates/admin/impersonate.mako
  templates/webapps/galaxy/admin/center.mako
Labels: area/UI-UX, area/admin, kind/enhancement, status/review

#6148 Small fixes and small refactorings toward reuse in CWL branch (retry)
  lib/galaxy/model/mapping.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parser/interface.py
  lib/galaxy/tools/parser/xml.py
  lib/galaxy/workflow/modules.py
  test/api/test_workflows.py
  test/base/populators.py
Labels: area/cwl, kind/bug, kind/enhancement, kind/refactoring, status/review

#6326 Fix target update for rule collection builder after input selection
  client/galaxy/scripts/mvc/ui/ui-rules-edit.js
Labels: area/UI-UX, area/dataset-collections, kind/bug, status/review

#6325 Add py34-first_startup to Travis and default tox tests
  .travis.yml
  config/galaxy.yml.sample
  config/tool_shed.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/datatypes/display_applications/util.py
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/Pipfile.lock
  lib/galaxy/web/security/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/tool_shed/util/common_util.py
  lib/tool_shed/util/encoding_util.py
  lib/tool_shed/util/hg_util.py
  scripts/api/common.py
  scripts/check_python.py
  test/unit/test_security_helper.py
  test/unit/unittest_utils/galaxy_mock.py
  tox.ini
Labels: area/framework, area/testing, kind/enhancement, status/review

#6324 Replace unmaintained pycrypto dependency with pycryptodome
  config/galaxy.yml.sample
  config/tool_shed.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/datatypes/display_applications/util.py
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/Pipfile.lock
  lib/galaxy/web/security/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  scripts/api/common.py
  test/unit/test_security_helper.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/dependencies, area/security, kind/enhancement, status/review

#6303 Stop listening to history changes after job submission
  client/galaxy/scripts/mvc/tool/tool-form-base.js
Labels: area/UI-UX, kind/bug, status/review

#6345 [18.01] Update description for installing pbs-python
  doc/source/admin/cluster.md
Labels: area/documentation, kind/bug, status/review

#6344 [18.05] Visualization static staging
  scripts/common_startup.sh
  scripts/get_uwsgi_args.py
  scripts/plugin_staging.py
Labels: area/visualizations, kind/bug, kind/enhancement, status/review

#6349 Prevent throwing an exception if a dataset doesn't exist (and never w…
  lib/galaxy/jobs/__init__.py
Labels: area/objectstore, kind/bug, status/review

#6341 [18.05] Added missing level fatal_oom to xsd
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: area/documentation, kind/bug, status/review

#6302 Add specific datatype for CuffDiff SQLite database.
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes, kind/enhancement, status/review

#6234 [18.01] Fix non-strict tabular relabel operation
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/relabel_from_file.xml
Labels: area/tools, kind/bug, status/review

#6072 Add resume job api
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/buildapp.py
  test/api/test_jobs.py
Labels: area/API, area/jobs, kind/enhancement, status/review

#6354 [18.05] grt - wrap every write in try-except
  scripts/grt/export.py
Labels: kind/bug, status/review

#6358 [18.01] Fix 'share with another user'
  templates/sharing_base.mako
Labels: kind/bug, status/review

#6361 [18.05] Add fasta datatype to msa viewer
  config/plugins/visualizations/msa/config/msa.xml
Labels: area/visualizations, kind/bug, status/review

#6360 [18.05] Fix size handling in legacy modal view
  client/galaxy/scripts/layout/modal.js
Labels: area/UI-UX, kind/bug, status/review

#6371 Remove debug statement when creating certain kinds of collections.
  lib/galaxy/tools/actions/__init__.py
Labels: area/dataset-collections, kind/bug, minor

#6366 [18.05] Fix small bug in logging output name in job finish.
  lib/galaxy/tools/parameters/output_collect.py
Labels: area/jobs, kind/bug

#6372 Add gafa.sqlite datatype
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes, kind/enhancement, status/review

#6367 Optimizations for dynamic output file collection.
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/parameters/output_collect.py
Labels: area/jobs, area/performance, kind/bug, kind/enhancement

#6377 [18.05] Catch sanitization faults
  scripts/grt/export.py
Labels: area/admin, kind/bug, minor

#6195 Common dataset selector
  client/galaxy/scripts/components/DataDialog.vue
  client/galaxy/scripts/layout/data.js
  client/galaxy/scripts/layout/page.js
Labels: area/UI-UX, kind/enhancement, status/review

#6385 [18.01] Revert "Remove bam to bai converter"
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/converters/bam_to_bai.xml
Labels: kind/bug, status/review

#6388 change a file read to use with statement
  lib/galaxy/tools/parameters/basic.py
Labels: triage

#6370 More correct, more efficient collection operations.
  lib/galaxy/model/__init__.py
  lib/galaxy/model/metadata.py
  lib/galaxy/tools/__init__.py
  test/api/test_tools.py
Labels: area/dataset-collections, area/performance, area/tools, kind/bug, kind/enhancement

#6402 Allow resource selection for data managers
  lib/galaxy/jobs/__init__.py
Labels: area/admin, area/jobs, kind/enhancement, status/review

#6403 Update dev dependencies
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/develop/Pipfile.lock
  lib/galaxy/dependencies/pipfiles/develop/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/Pipfile.lock
Labels: area/dependencies, kind/enhancement, status/review

#6406 Add py34-unit (allowed to fail) job to Travis
  .travis.yml
Labels: area/testing, kind/enhancement, status/review

#6419 GCC2018 python3 unit-test fixes
  test/unit/test_galaxy_mapping.py
  test/unit/test_security_helper.py
Labels: area/testing, kind/bug, status/review

#6418 Fixes for uploading empty files to Galaxy.
  lib/galaxy/datatypes/proteomics.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/test/empty.txt
  tools/data_source/upload.py
Labels: area/cwl, kind/bug, kind/enhancement, status/review

#6416 Fix positioning for tool search box.
  client/galaxy/scripts/apps/panels/tool-panel.js
  client/galaxy/scripts/layout/page.js
  client/galaxy/scripts/layout/panel.js
  client/galaxy/scripts/mvc/tool/tools.js
  client/galaxy/style/scss/base.scss
  static/style/blue/base.css
  templates/webapps/galaxy/workflow/editor.mako
Labels: area/UI-UX, kind/bug

#6424 Fix message fadeout by relying on hiding the message instead
  client/galaxy/scripts/mvc/ui/ui-misc.js
  client/galaxy/style/scss/ui.scss
  static/style/blue/base.css
Labels: area/UI-UX, kind/bug, status/review

#6425 Remove installation of python-lzo system dependencies
  .travis.yml
Labels: area/dependencies, area/testing, kind/enhancement, status/review
