Repository galaxyproject/galaxy, pull requests merged in 2019-06, with the labels that each got.

#8069 [18.09] Backport 8023: Fix ColumnSetAction post job action
  lib/galaxy/jobs/actions/post.py
  lib/galaxy/workflow/modules.py
Labels: area/workflows, kind/bug, status/review

#8075 Fix link formats for mulled_containers.rst, minor rewording
  doc/source/admin/special_topics/mulled_containers.rst
Labels: area/documentation

#8082 Fix wording for pod retries while maintaining backward compatibility
  config/job_conf.xml.sample_advanced
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs, kind/bug, status/review

#8077 Call tool_script.sh with shell
  lib/galaxy/jobs/command_factory.py
  test/unit/jobs/test_command_factory.py
Labels: area/jobs, kind/enhancement

#8071 [19.05] Upgrade axios to handle CVE-2019-10742
  client/package.json
  client/yarn.lock
Labels: area/client, kind/enhancement, status/review

#8076 allow for filter values in repository search to be quoted
  lib/galaxy/webapps/tool_shed/search/repo_search.py
Labels: area/toolshed, kind/enhancement, status/review

#8094 Small Dockerfile fixes
  .ci/jenkins/selenium-compose/Dockerfile
  test/docker/base/Dockerfile
Labels: area/testing, kind/bug, status/review

#8097 [19.01] Fix nested macro/token expansion
  lib/galaxy/util/xml_macros.py
  test/unit/tools/test_parsing.py
Labels: area/tools, kind/bug, merge

#8085 [19.01] Fix multipanel history search.
  client/galaxy/scripts/mvc/history/multi-panel.js
Labels: area/UI-UX, kind/bug, status/review

#8044 Update JobMetrics component to use a Vuex Store + vuex-cache...
  client/galaxy/scripts/components/JobMetrics/JobMetrics.vue
  client/galaxy/scripts/components/JobMetrics/mount.js
  client/galaxy/scripts/store/index.js
  client/galaxy/scripts/store/jobMetricsStore.js
  client/package.json
  client/yarn.lock
Labels: area/UI-UX, area/client, area/jobs, kind/enhancement, status/review

#8051 Prepare all packages/ for actual releases.
  .ci/flake8_blacklist.txt
  packages/build_scripts/commit_version.py
  packages/build_scripts/new_version.py
  packages/build_scripts/print_version_for_release.py
  packages/data/HISTORY.rst
  packages/data/Makefile
  packages/data/dev-requirements.txt
  packages/data/galaxy/project_galaxy_data.py
  packages/data/scripts
  packages/data/setup.py
  packages/job_metrics/HISTORY.rst
  packages/job_metrics/Makefile
  packages/job_metrics/dev-requirements.txt
  packages/job_metrics/galaxy/project_galaxy_job_metrics.py
  packages/job_metrics/scripts
  packages/job_metrics/setup.py
  packages/objectstore/HISTORY.rst
  packages/objectstore/Makefile
  packages/objectstore/dev-requirements.txt
  packages/objectstore/galaxy/project_galaxy_objectstore.py
  packages/objectstore/scripts
  packages/objectstore/setup.py
  packages/package-dev-requirements.txt
  packages/package.Makefile
  packages/tool_util/HISTORY.rst
  packages/tool_util/Makefile
  packages/tool_util/dev-requirements.txt
  packages/tool_util/galaxy/project_galaxy_tool_util.py
  packages/tool_util/scripts
  packages/tool_util/setup.py
  packages/util/HISTORY.rst
  packages/util/Makefile
  packages/util/dev-requirements.txt
  packages/util/galaxy/project_galaxy_util.py
  packages/util/scripts
  packages/util/setup.py
  setup.cfg
Labels: area/framework, kind/bug, kind/enhancement, status/review

#8101 Remove unresolved function causing console error
  client/galaxy/scripts/mvc/workflow/workflow-view-data.js
Labels: triage

#8065 [19.05] Fix metadata output collection on Pulsar with new metadata strategy.
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/metrics/__init__.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/metadata/__init__.py
  lib/galaxy_ext/metadata/set_metadata.py
Labels: area/jobs, kind/bug, status/review

#8018 Fix tool run uses ellipses slightly too soon
  client/galaxy/scripts/mvc/tool/tool-form.js
Labels: area/UI-UX, area/client, status/review

#8113 Add missing files from galaxy-lib
  lib/galaxy/tools/linters/cwl.py
  test/unit/tools/test_cwl_util.py
Labels: area/cwl, kind/enhancement, status/review

#8116 [19.05] Fix error in recognizing destination default container image
  lib/galaxy/tools/deps/containers.py
Labels: area/jobs, kind/bug, status/review

#8112 [19.05] Report a lint error if a citation is empty
  lib/galaxy/tools/linters/citations.py
Labels: area/tool-framework, kind/bug, status/review

#8120 Update cloudauthz to its latest version
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/update.sh
Labels: area/dependencies, kind/enhancement, status/review

#8108 [19.01] Do not use dict iter methods for Python3 compatibility
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/util/create_history_template.py
  lib/galaxy/visualization/plugins/registry.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy/webapps/galaxy/controllers/data_manager.py
Labels: area/python3, kind/bug, status/review

#8047 Toward a more modern frontend and backend for Pages.
  client/galaxy/scripts/bundleEntries.js
  client/galaxy/scripts/components/PageEditor/PageEditor.vue
  client/galaxy/scripts/components/PageEditor/PageEditorHtml.vue
  client/galaxy/scripts/components/PageEditor/index.js
  client/galaxy/scripts/components/PageEditor/util.js
  client/galaxy/scripts/galaxy.pages.js
  client/galaxy/scripts/mvc/embedded-objects.js
  client/galaxy/scripts/mvc/ui/ui-modal.js
  lib/galaxy/managers/base.py
  lib/galaxy/managers/pages.py
  lib/galaxy/web/base/controller.py
  lib/galaxy/webapps/galaxy/api/page_revisions.py
  lib/galaxy/webapps/galaxy/api/pages.py
  lib/galaxy/webapps/galaxy/controllers/page.py
  scripts/pages_identifier_conversion.py
  templates/embed_base.mako
  templates/webapps/galaxy/dataset/embed.mako
  templates/webapps/galaxy/page/display.mako
  templates/webapps/galaxy/page/editor.mako
  templates/webapps/galaxy/visualization/embed.mako
  templates/webapps/galaxy/visualization/embed_in_frame.mako
  templates/webapps/galaxy/workflow/embed.mako
  test/api/test_page_revisions.py
  test/api/test_pages.py
  test/galaxy_selenium/navigates_galaxy.py
  test/galaxy_selenium/navigation.yml
  test/integration/test_page_revision_json_encoding.py
  test/selenium_tests/framework.py
  test/selenium_tests/test_histories_list.py
  test/selenium_tests/test_pages.py
Labels: area/UI-UX, area/testing/api, area/testing/integration, area/testing/selenium, kind/enhancement, kind/refactoring, status/review

#8092 [19.05] Filter all pykube queries by namespace
  lib/galaxy/jobs/runners/kubernetes.py
Labels: triage

#8103 [19.05] Fix k8s runasuser
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs, kind/bug, status/review

#8106 [19.05] Restored google analytics inits in mako templates
  templates/base.mako
  templates/base/base_panels.mako
  templates/galaxy_client_app.mako
  templates/js-app.mako
  templates/webapps/galaxy/galaxy.panels.mako
  templates/webapps/tool_shed/base_panels.mako
Labels: area/UI-UX, kind/bug, status/review

#8118 Allow declaring depedency resolvers right in Galaxy config, serialization.
  lib/galaxy/config.py
  lib/galaxy/tool_util/deps/__init__.py
  lib/galaxy/tool_util/deps/resolvers/conda.py
  lib/galaxy/tool_util/deps/resolvers/modules.py
  lib/galaxy/util/plugin_config.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/unit/tools/test_tool_deps.py
Labels: area/tool-dependencies, kind/enhancement, status/review

#8126 Update Python dependencies, unpin SQLAlchemy
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/jobs/handler.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/item_attrs.py
  lib/galaxy/model/mapping.py
  lib/galaxy/tools/actions/__init__.py
  lib/tool_shed/grids/repository_grids.py
  scripts/db_shell.py
Labels: area/dependencies, kind/enhancement, status/review

#8124 Fix Pulsar job files API to allow transferring directory content.
  lib/galaxy/webapps/galaxy/api/job_files.py
Labels: area/jobs, kind/bug, kind/enhancement

#7971 Unit test Galaxy packages during CI.
  .circleci/config.yml
  lib/galaxy/model/none_like.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/wrappers.py
  lib/galaxy/util/monitors.py
  lib/galaxy/util/watcher.py
  lib/galaxy/util/web_compat.py
  packages/data/requirements.txt
  packages/data/tests/unittest_utils
  packages/data/tests/unittest_utils/__init__.py
  packages/data/tests/unittest_utils/tempfilecache.py
  packages/data/tests/unittest_utils/utility.py
  packages/job_metrics/galaxy/project_galaxy_job_metrics.py
  packages/objectstore/galaxy/project_galaxy_objectstore.py
  packages/test.sh
  packages/tool_util/galaxy/project_galaxy_tool_util.py
  packages/util/galaxy/project_galaxy_util.py
  packages/util/requirements.txt
  packages/util/setup.py
Labels: area/testing, kind/enhancement, status/review

#8139 [19.05] Fix Pulsar job files API to allow transferring directory content.
  lib/galaxy/webapps/galaxy/api/job_files.py
Labels: area/jobs, kind/bug, merge

#8137 Fix loading job_conf from YAML files.
  lib/galaxy/dependencies/__init__.py
Labels: area/jobs, kind/bug, minor

#8136 [19.05] Ensure DEFAULT_TOOL_TEST_WAIT is integer
  lib/galaxy/tools/verify/interactor.py
Labels: area/testing, kind/bug

#8138 Use Python 3 for package/ unit testing.
  .circleci/config.yml
  lib/galaxy/util/jstree.py
  run_tests.sh
Labels: area/framework, minor

#8142 [19.05] Py3: Type fixes in the Slurm runner
  lib/galaxy/jobs/runners/slurm.py
Labels: area/jobs, area/python3, kind/bug, status/review

#8144 Round-off the time taken for CPU execution
  lib/galaxy/job_metrics/formatting.py
Labels: area/UI-UX, kind/enhancement, status/review

#8133 improve accessibility of certain UI elements
  client/galaxy/style/scss/overrides.scss
  client/galaxy/style/scss/ui.scss
Labels: area/UI-UX, kind/enhancement, status/review

#8147 Testing framework fixes
  .ci/validate_test_tools.sh
  .circleci/config.yml
  create_db.sh
  extract_dataset_parts.sh
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/tools/test.py
  packages/test.sh
  run_tests.sh
  scripts/cleanup_datasets/delete_datasets.sh
  scripts/cleanup_datasets/delete_userless_histories.sh
  scripts/cleanup_datasets/populate_uuid.sh
  scripts/cleanup_datasets/purge_datasets.sh
  scripts/cleanup_datasets/purge_folders.sh
  scripts/cleanup_datasets/purge_histories.sh
  scripts/cleanup_datasets/purge_libraries.sh
  scripts/cleanup_datasets/update_metadata.sh
  scripts/maintenance.sh
  scripts/migrate_tools/0002_tools.sh
  scripts/migrate_tools/0003_tools.sh
  scripts/migrate_tools/0004_tools.sh
  scripts/migrate_tools/0005_tools.sh
  scripts/migrate_tools/0006_tools.sh
  scripts/migrate_tools/0007_tools.sh
  scripts/migrate_tools/0008_tools.sh
  scripts/migrate_tools/0009_tools.sh
  scripts/migrate_tools/0010_tools.sh
  scripts/migrate_tools/0011_tools.sh
  scripts/migrate_tools/0012_tools.sh
  scripts/tool_shed/migrate_tools_to_repositories.sh
  scripts/validate_tools.sh
  tox.ini
Labels: area/python3, area/testing, kind/bug, kind/enhancement

#8154 Kubernetes / CLI runner integration test fixes
  lib/galaxy/datatypes/sniff.py
  test/integration/test_cli_runners.py
  test/integration/test_kubernetes_runner.py
Labels: area/jobs, kind/bug

#8155 Update cloudauthz to v0.4.0
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/dependencies, kind/enhancement, status/review

#7889 Strip unicode control characters from TEXT before entering the database
  lib/galaxy/jobs/__init__.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/util/__init__.py
  test/functional/tools/unicode_stream.xml
Labels: area/jobs, kind/bug, status/review

#8086 Ckpt
  config/datatypes_conf.xml.sample
Labels: area/datatypes, kind/feature, status/review

#8164 [19.01] Do not require a default attrib on the workflow scheduler config's handlers tag
  lib/galaxy/workflow/scheduling_manager.py
Labels: area/workflows, kind/bug, status/review

#8114 Add galaxy-job-execution package with galaxy-set-metadata script.
  lib/galaxy/job_execution/__init__.py
  lib/galaxy/job_execution/datasets.py
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/local.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/metadata/__init__.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/tool_util/output_checker.py
  lib/galaxy/tool_util/provided_metadata.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/metadata.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy_ext/metadata/_provided_metadata.py
  lib/galaxy_ext/metadata/set_metadata.py
  packages/job_execution/HISTORY.rst
  packages/job_execution/LICENSE
  packages/job_execution/MANIFEST.in
  packages/job_execution/Makefile
  packages/job_execution/README.rst
  packages/job_execution/dev-requirements.txt
  packages/job_execution/galaxy/__init__.py
  packages/job_execution/galaxy/job_execution
  packages/job_execution/galaxy/metadata
  packages/job_execution/galaxy/project_galaxy_job_execution.py
  packages/job_execution/requirements.txt
  packages/job_execution/scripts
  packages/job_execution/setup.cfg
  packages/job_execution/setup.py
  packages/job_execution/tests/test_datasets.py
  packages/job_execution/tests/test_metadata.py
  packages/test.sh
  packages/tool_util/tests/test_output_checker.py
  test/unit/jobs/test_command_factory.py
  test/unit/jobs/test_datasets.py
  test/unit/jobs/test_runner_local.py
  test/unit/tools/test_collect_primary_datasets.py
  test/unit/tools/test_evaluation.py
  test/unit/tools/test_metadata.py
  test/unit/tools/test_output_checker.py
  test/unit/tools/test_wrappers.py
Labels: area/datatype-framework, area/jobs, kind/enhancement, status/review

#8042 Extend ObjectStore integration tests
  test/integration/objectstore/__init__.py
  test/integration/objectstore/selection_job_conf.xml
  test/integration/objectstore/selection_job_resource_parameters_conf.xml
  test/integration/objectstore/test_jobs.py
  test/integration/objectstore/test_selection.py
Labels: area/testing/integration, kind/enhancement, kind/refactoring, status/review

#8168 Increase default font size to 0.85rem. Unify default welcome page fonts.
  client/galaxy/style/scss/theme/blue.scss
  static/welcome.html.sample
Labels: area/UI-UX, kind/bug

#8167 [19.05] Backport #7991, fix tag edit href
  client/galaxy/scripts/components/Sharing.vue
Labels: merge, status/review

#8157 [19.05] Backport fix fetch_data on python 3
  lib/galaxy/datatypes/sniff.py
Labels: merge

#8156 [19.05] Backport unicode null fix
  lib/galaxy/jobs/__init__.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/util/__init__.py
  test/functional/tools/unicode_stream.xml
Labels: merge

#8162 fix for test data in sub directories
  lib/galaxy/tools/verify/interactor.py
Labels: area/testing, kind/bug, status/review

#8182 [19.05] Fix external_metadata_set_successfully when metadata file doesn't exist
  lib/galaxy/metadata/__init__.py
Labels: area/jobs, kind/bug

#8181 Fix failure to fail job when tool is unavailable
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/mapper.py
  test/integration/test_fail_job_tool_unavailable.py
Labels: triage

#8179 Fix job wrapper fail for queued jobs
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  test/api/test_workflows.py
Labels: area/jobs, kind/bug, status/review

#7835 Kubernetes 2-container pod staging.
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/jobs/runners/util/pykube_util.py
  test/base/integration_util.py
  test/integration/test_kubernetes_runner.py
  test/integration/test_kubernetes_staging.py
  test/unit/jobs/job_conf.sample_advanced.yml
Labels: area/jobs, kind/feature, status/review

#8161 Fail job if queueing job fails
  lib/galaxy/jobs/runners/__init__.py
  test/integration/test_work_queue_put_failure.py
Labels: area/jobs, kind/bug, status/review

#8201 Use ``IdEncodingHelper`` to encode/decode user ids
  lib/galaxy/datatypes/display_applications/util.py
Labels: area/python3, kind/bug, status/review

#8194 [19.05] Fix common errors API for null optional datasets.
  lib/galaxy/webapps/galaxy/api/jobs.py
Labels: kind/bug, minor

#8163 Improved tool parameter error reporting
  lib/galaxy/tools/parameters/basic.py
  test/unit/tools/test_select_parameters.py
Labels: area/testing, kind/bug, kind/enhancement

#8206 Configuration API cleanup
  client/galaxy/scripts/components/login/Index.vue
  client/galaxy/scripts/components/login/Register.vue
  client/galaxy/scripts/entry/admin/AdminRouter.js
  client/galaxy/scripts/qunit/test-data/bootstrapped.js
  client/galaxy/scripts/qunit/tests/masthead_tests.js
  lib/galaxy/managers/configuration.py
  templates/webapps/galaxy/galaxy.masthead.mako
  test/api/test_configuration.py
Labels: area/API, status/review

#8186 [19.05] Add hyphy_results.json datatype
  config/datatypes_conf.xml.sample
Labels: area/datatypes

#8203 [19.05] backport of "include parameter name in exceptions"
  lib/galaxy/tools/parameters/basic.py
  test/unit/tools/test_select_parameters.py
Labels: merge

#8208 Don't check unneeded paths and such when loading datatypes for set_metadata.
  lib/galaxy/datatypes/registry.py
  lib/galaxy/metadata/set_metadata.py
Labels: area/datatype-framework, kind/enhancement, status/review

#8212 Fix display application inclusion in galaxy-data for set-metadata.
  packages/data/setup.py
Labels: kind/bug, minor, status/review

#8205 Fix prefix usage in history copy dialog
  client/galaxy/scripts/mvc/history/copy-dialog.js
Labels: area/UI-UX, kind/bug, status/review

#8214 [19.05] Quit gsummary script with non-zero exit code upon error
  tools/stats/gsummary.py
Labels: area/tools, kind/bug, status/review

#8213 Allow re-populating objectstore from to_dict form.
  lib/galaxy/objectstore/__init__.py
Labels: area/objectstore, kind/bug, kind/enhancement, status/review

#8207 Fix portable metadata datatypes config.
  lib/galaxy/jobs/__init__.py
  lib/galaxy/metadata/__init__.py
  test/unit/tools/test_metadata.py
Labels: area/datatype-framework, area/jobs, kind/bug, status/review

#8220 Run make config-rebuild to update config/docs
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/documentation, kind/refactoring

#8239 unzip/zip collection: set format equal to input format
  lib/galaxy/tools/unzip_collection.xml
  lib/galaxy/tools/zip_collection.xml
Labels: area/dataset-collections, area/tools, status/review

#8235 Refactor to cleanup dependencies around galaxy.web.stack.
  lib/galaxy/app.py
  lib/galaxy/config.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/manager.py
  lib/galaxy/model/database_heartbeat.py
  lib/galaxy/tools/toolbox/watcher.py
  lib/galaxy/util/web_compat.py
  lib/galaxy/web/framework/middleware/sentry.py
  lib/galaxy/web/framework/webapp.py
  lib/galaxy/web_stack/__init__.py
  lib/galaxy/web_stack/handlers.py
  lib/galaxy/web_stack/message.py
  lib/galaxy/web_stack/transport.py
  lib/galaxy/webapps/reports/app.py
  lib/galaxy/webapps/tool_shed/app.py
  lib/galaxy/webapps/util.py
  lib/galaxy/workflow/scheduling_manager.py
  scripts/galaxy-main
  test/unit/jobs/test_job_configuration.py
  test/unit/queue_worker/test_database_heartbeat.py
  test/unit/queue_worker/test_queue_worker.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/framework, kind/refactoring, status/review

#8233 Refactor setup_user_get_key method to return the created test user and its API key
  test/api/test_users.py
  test/base/api.py
Labels: area/testing/api, kind/refactoring, status/review

#8229 Kallistobus
  config/datatypes_conf.xml.sample
Labels: area/datatypes

#8225 [19.05] Allow looking up tool section using label
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/tools/toolbox/panel.py
  test/unit/tools/test_toolbox.py
Labels: area/admin, area/toolshed, kind/bug, status/review

#7811 Data Manager interface - use standard card header styles without extra markup
  client/galaxy/scripts/components/admin/DataManager/DataManager.vue
  client/galaxy/scripts/components/admin/DataManager/DataManagerView.vue
  test/selenium_tests/test_admin_app.py
Labels: area/UI-UX, area/admin, kind/bug, status/review

#8249 [19.05] Quick hack to allow delayed invocations followed by step that consumes an input parameter
  lib/galaxy/workflow/run.py
Labels: area/workflows, kind/bug

#8090 Convert repository client to vue
  client/galaxy/scripts/app/galaxy.js
  client/galaxy/scripts/components/Toolshed/Categories.vue
  client/galaxy/scripts/components/Toolshed/Index.vue
  client/galaxy/scripts/components/Toolshed/InstallationButton.vue
  client/galaxy/scripts/components/Toolshed/InstallationSettings.vue
  client/galaxy/scripts/components/Toolshed/Repositories.vue
  client/galaxy/scripts/components/Toolshed/RepositoryDetails.vue
  client/galaxy/scripts/components/Toolshed/RepositoryTools.vue
  client/galaxy/scripts/components/Toolshed/ServerSelection.vue
  client/galaxy/scripts/components/Toolshed/services.js
  client/galaxy/scripts/entry/admin/AdminRouter.js
  client/galaxy/scripts/entry/panels/admin-panel.js
  client/galaxy/scripts/layout/panel.js
  client/galaxy/scripts/mvc/workflow/workflow-forms.js
  client/galaxy/scripts/mvc/workflow/workflow-node.js
  client/galaxy/scripts/mvc/workflow/workflow-view-node.js
  client/galaxy/scripts/mvc/workflow/workflow-view-terminals.js
  client/galaxy/scripts/qunit/tests/workflow_editor_tests.js
  client/galaxy/style/scss/base.scss
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/web/base/controller.py
  lib/galaxy/webapps/galaxy/api/toolshed.py
  lib/galaxy/webapps/galaxy/buildapp.py
  templates/base/base_panels.mako
  templates/webapps/galaxy/workflow/editor.mako
  test/unit/tools/test_toolbox.py
Labels: area/UI-UX, area/toolshed, status/review

#8247 [19.05] Fix migration if WorkflowStepConnection index not present
  lib/galaxy/model/migrate/versions/0145_add_workflow_step_input.py
Labels: area/testing, kind/bug, status/review

#8253 [19.05] Expression tool fix: Include workdir path when reading env var from file
  lib/galaxy/jobs/runners/util/job_script/DEFAULT_JOB_FILE_TEMPLATE.sh
  lib/galaxy/tools/evaluation.py
Labels: area/workflows, kind/bug, status/review
