Repository galaxyproject/galaxy, pull requests merged in 2019-09, with the labels that each got.

#8560 [19.05] Allow missing H5 groups in Loom files
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes, kind/bug

#8545 Remove duplicate logic for 'is_admin' checks
  lib/galaxy/managers/context.py
  lib/galaxy/managers/users.py
  test/unit/managers/base.py
Labels: area/cleanup, kind/refactoring

#8561 Merge release 19.05
  lib/galaxy/datatypes/binary.py
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/pulsar.py
Labels: merge

#8569 Enable mulled containers by default for 19.09.
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/sample/container_resolvers_conf.xml.sample
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/tool_util/deps/containers.py
  lib/galaxy/tool_util/deps/dependencies.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/integration/test_containerized_jobs.py
  test/integration/test_handler_assignment_methods.py
  test/integration/test_kubernetes_runner.py
  test/integration/test_kubernetes_staging.py
Labels: area/jobs, kind/enhancement

#8572 OIDC config patch
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
Labels: area/auth, kind/bug

#8552 make calculate_or_set_disk_usage support sqlite
  lib/galaxy/model/__init__.py
Labels: kind/bug

#8195 Generalized Kubernetes Staging (Dependency Resolution or Containers)
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/jobs/runners/pulsar.py
  test/integration/test_kubernetes_staging.py
Labels: area/jobs, kind/enhancement

#8368 Porting Tools Panel to Vue.js (resolves #8262)
  client/galaxy/scripts/components/FavoritesButton.vue
  client/galaxy/scripts/components/SidePanel.vue
  client/galaxy/scripts/components/Tool.vue
  client/galaxy/scripts/components/ToolBox.vue
  client/galaxy/scripts/components/ToolSearch.vue
  client/galaxy/scripts/components/ToolSection.vue
  client/galaxy/scripts/components/UploadButton.vue
  client/galaxy/scripts/entry/panels/tool-panel.js
  client/galaxy/scripts/layout/panel.js
  client/galaxy/scripts/mvc/tool/tools.js
  config/plugins/tours/core.galaxy_ui.yaml
Labels: area/UI-UX, kind/enhancement, kind/refactoring

#8575 Fix menu option classes (and thus event bindings) for histories in th…
  client/galaxy/scripts/mvc/history/multi-panel.js
Labels: area/UI-UX, kind/bug

#8579 Modify tool panel section text color, size and margin to improve readability
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/theme/blue.scss
Labels: area/UI-UX, kind/bug

#8574 Interactive tools cleanup
  client/galaxy/scripts/entry/analysis/AnalysisRouter.js
  client/galaxy/scripts/layout/menu.js
  config/galaxy.yml.interactivetools
  config/job_conf.xml.interactivetools
  doc/source/admin/special_topics/interactivetools.rst
  doc/source/admin/special_topics/realtimetools.rst
  lib/galaxy/app.py
  lib/galaxy/config/__init__.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/condor.py
  lib/galaxy/managers/interactivetool.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/webapps/galaxy/api/tool_entry_points.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/interactivetool.py
  lib/galaxy/webapps/galaxy/controllers/tool_runner.py
  test/functional/tools/interactivetool_askomics.xml
  test/functional/tools/interactivetool_bam_iobio.xml
  test/functional/tools/interactivetool_cellxgene.xml
  test/functional/tools/interactivetool_ethercalc.xml
  test/functional/tools/interactivetool_hicbrowser.xml
  test/functional/tools/interactivetool_jupyter_notebook.xml
  test/functional/tools/interactivetool_neo4j.xml
  test/functional/tools/interactivetool_phinch.xml
  test/functional/tools/interactivetool_simple.xml
  test/functional/tools/interactivetool_two_entry_points.xml
  test/functional/tools/realtimetool_ethercalc.xml
  test/functional/tools/samples_tool_conf.xml
  test/integration/test_interactivetools_api.py
Labels: area/tool-framework

#6891 Visualization for free style image annotation
  client/gulpfile.js
  client/package.json
  client/yarn.lock
  config/plugins/visualizations/annotate_image/config/annotate_image.xml
  config/plugins/visualizations/annotate_image/package.json
  config/plugins/visualizations/annotate_image/src/script.js
  config/plugins/visualizations/annotate_image/static/images/black-pen.png
  config/plugins/visualizations/annotate_image/static/images/blackpen.png
  config/plugins/visualizations/annotate_image/static/images/blue-pen.png
  config/plugins/visualizations/annotate_image/static/images/bluepen.png
  config/plugins/visualizations/annotate_image/static/images/cut.png
  config/plugins/visualizations/annotate_image/static/images/door.png
  config/plugins/visualizations/annotate_image/static/images/download.png
  config/plugins/visualizations/annotate_image/static/images/erase.png
  config/plugins/visualizations/annotate_image/static/images/green-pen.png
  config/plugins/visualizations/annotate_image/static/images/greenpen.png
  config/plugins/visualizations/annotate_image/static/images/hand-close.png
  config/plugins/visualizations/annotate_image/static/images/hand-open.png
  config/plugins/visualizations/annotate_image/static/images/page_white_copy.png
  config/plugins/visualizations/annotate_image/static/images/page_white_delete.png
  config/plugins/visualizations/annotate_image/static/images/page_white_edit.png
  config/plugins/visualizations/annotate_image/static/images/page_white_paste.png
  config/plugins/visualizations/annotate_image/static/images/pen.jpg
  config/plugins/visualizations/annotate_image/static/images/pen.png
  config/plugins/visualizations/annotate_image/static/images/pencil.cur
  config/plugins/visualizations/annotate_image/static/images/red-pen.png
  config/plugins/visualizations/annotate_image/static/images/redo.png
  config/plugins/visualizations/annotate_image/static/images/redpen.png
  config/plugins/visualizations/annotate_image/static/images/text.png
  config/plugins/visualizations/annotate_image/static/images/tool-1.png
  config/plugins/visualizations/annotate_image/static/images/undo.png
  config/plugins/visualizations/annotate_image/static/images/yellow-pen.png
  config/plugins/visualizations/annotate_image/static/images/yellowpen.png
  config/plugins/visualizations/annotate_image/static/logo.png
  scripts/common_startup.sh
Labels: area/visualizations, kind/feature

#8585 Fix parsing of errors in toolshed interface
  client/galaxy/scripts/components/Toolshed/services.js
Labels: area/UI-UX, kind/bug

#7888 OpenLayers maps as Galaxy visualisation
  .gitignore
  client/gulpfile.js
  config/plugins/visualizations/cytoscape/config/cytoscape.xml
  config/plugins/visualizations/openlayers/config/openlayers.xml
  config/plugins/visualizations/openlayers/package.json
  config/plugins/visualizations/openlayers/src/script.js
  config/plugins/visualizations/openlayers/static/logo.png
  config/plugins/visualizations/openlayers/static/ol.css
Labels: area/visualizations, kind/feature

#8590 Replaces tabs with spaces in apache.md
  doc/source/admin/apache.md
Labels: area/documentation, kind/bug

#8589 Move interactive tools
  lib/galaxy/config/sample/tool_conf.xml.sample
  tools/interactive/default_notebook.ipynb
  tools/interactive/interactivetool_askomics.xml
  tools/interactive/interactivetool_bam_iobio.xml
  tools/interactive/interactivetool_cellxgene.xml
  tools/interactive/interactivetool_ethercalc.xml
  tools/interactive/interactivetool_hicbrowser.xml
  tools/interactive/interactivetool_jupyter_notebook.xml
  tools/interactive/interactivetool_neo4j.xml
  tools/interactive/interactivetool_phinch.xml
Labels: triage

#8573 Refactor config loading
  lib/galaxy/config/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/unit/config/test_load_config.py
Labels: area/admin, kind/refactoring

#8592 Update version to 19.09.rc1
  lib/galaxy/version.py
Labels: merge

#8591 Version 20.01.dev
  lib/galaxy/version.py
Labels: merge

#8600 Change reloadable config + misc cleanup
  lib/galaxy/config/__init__.py
  lib/galaxy/config/schema.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/unit/config/config_manage/test_appschema.py
  test/unit/config/test_load_config.py
  test/unit/config/test_reload_config.py
  test/unit/config/test_reloadable_properties.py
Labels: area/admin, area/cleanup, kind/refactoring

#8603 [19.05] Backport #8181
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/mapper.py
  test/integration/test_fail_job_tool_unavailable.py
Labels: merge

#8608 [19.09] Viz building cache ignore
  .gitignore
Labels: area/visualizations, kind/bug

#8613 [19.09] backport of #8589
  lib/galaxy/config/sample/tool_conf.xml.sample
  tools/interactive/default_notebook.ipynb
  tools/interactive/interactivetool_askomics.xml
  tools/interactive/interactivetool_bam_iobio.xml
  tools/interactive/interactivetool_cellxgene.xml
  tools/interactive/interactivetool_ethercalc.xml
  tools/interactive/interactivetool_hicbrowser.xml
  tools/interactive/interactivetool_jupyter_notebook.xml
  tools/interactive/interactivetool_neo4j.xml
  tools/interactive/interactivetool_phinch.xml
Labels: merge

#8611 [19.09] regenerate ts search indexes in tmp directory
  scripts/tool_shed/build_ts_whoosh_index.py
Labels: area/toolshed, kind/bug

#8614 [19.05] Fix container property parsing for Singularity.
  lib/galaxy/tools/deps/container_classes.py
Labels: area/jobs, kind/bug

#8623 [19.09] Fix config validation for changes in 19.09.
  lib/galaxy/config/config_manage.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/unit/config/config_manage/embedded/config/galaxy.yml
  test/unit/config/config_manage/simple/config/galaxy.yml
  test/unit/config/config_manage/test_config_manage.py
Labels: area/framework, kind/bug

#8609 [19.09] Fix default for docker_sudo in new jobs configs.
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tool_util/deps/container_classes.py
  lib/galaxy/tool_util/deps/docker_util.py
Labels: area/jobs, kind/bug, kind/enhancement

#8631 Case-insensitive match user-supplied email when logging in
  lib/galaxy/auth/__init__.py
  lib/galaxy/auth/providers/__init__.py
  lib/galaxy/auth/providers/ldap_ad.py
  lib/galaxy/auth/util.py
  lib/galaxy/managers/users.py
  lib/galaxy/security/validate_user_input.py
  lib/galaxy/webapps/galaxy/controllers/user.py
  lib/galaxy/webapps/tool_shed/api/users.py
  lib/galaxy/webapps/tool_shed/controllers/user.py
  lib/tool_shed/util/repository_util.py
  test/shed_functional/base/twilltestcase.py
  test/shed_functional/functional/test_0000_basic_repository_features.py
Labels: area/auth, kind/bug, kind/refactoring

#8638 [19.09] fix and refactor the allow query filters for TS searching
  lib/galaxy/webapps/tool_shed/search/repo_search.py
Labels: area/toolshed, kind/bug

#8640 Change MySQL from deprecated to unsupported
  doc/source/admin/production.md
Labels: area/documentation, kind/bug

#8634 Fix a bug that occurs while installing a data manager.
  lib/galaxy/tools/data/__init__.py
  lib/tool_shed/metadata/metadata_generator.py
Labels: area/toolshed, kind/bug

#8635 [19.09] Add clear search button to toolshed repository search input
  client/galaxy/scripts/components/Toolshed/Index.vue
Labels: area/UI-UX

#8650 [19.09] Bugfix for reports with output collections.
  lib/galaxy/model/__init__.py
Labels: area/workflows, kind/bug, minor

#8652 Encode lines in filter_file_fields
  lib/galaxy/tools/data/__init__.py
Labels: area/admin, kind/bug

#8610 [19.09] Fix autocreation of shed_*_conf.xml
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config_watchers.py
  lib/galaxy/queue_worker.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/tools/toolbox/watcher.py
  lib/galaxy/util/tool_shed/xml_util.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/tool_shed/galaxy_install/installed_repository_manager.py
  lib/tool_shed/galaxy_install/tools/data_manager.py
  lib/tool_shed/galaxy_install/tools/tool_panel_manager.py
Labels: area/framework, area/tool-framework, kind/bug

#8654 [19.09] Backport tool shed and data manager fixes
  lib/galaxy/tools/data/__init__.py
  lib/tool_shed/metadata/metadata_generator.py
Labels: area/admin, area/toolshed, kind/bug

#8660 Fix bug in build_dependency_manager()
  lib/galaxy/config/__init__.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/webapps/reports/config.py
  lib/galaxy/webapps/tool_shed/config.py
Labels: area/toolshed, kind/bug

#8663 [19.09] Format client.
  client/galaxy/scripts/components/Tool.vue
  client/galaxy/scripts/components/Toolshed/Index.vue
  client/galaxy/scripts/entry/panels/tool-panel.js
  client/galaxy/scripts/mvc/library/library-dataset-view.js
  client/galaxy/scripts/mvc/library/library-folderrow-view.js
  client/galaxy/scripts/mvc/tool/tools.js
  client/galaxy/style/scss/base.scss
Labels: area/client, kind/bug, minor

#8665 Add area/configuration label
  doc/source/project/issues.rst
Labels: kind/enhancement

#8658 [19.09] Fix parsing error in 🎉-Markdown
  lib/galaxy/managers/markdown_util.py
Labels: area/workflows, kind/bug, minor

#8667 Get rid of fix timeout in admin app Selenium test.
  test/selenium_tests/test_admin_app.py
Labels: area/UI-UX, area/testing/selenium, kind/bug

#8666 Update BootstrapVue to 2.0.1
  client/galaxy/scripts/components/DataDialog/DataDialog.test.js
  client/galaxy/scripts/components/DataDialog/DataDialogTable.vue
  client/galaxy/scripts/components/MaskedInput.js
  client/galaxy/scripts/components/Tags/Tags.test.js
  client/galaxy/scripts/components/User/CloudAuth/CloudAuth.test.js
  client/package.json
  client/yarn.lock
Labels: area/UI-UX, kind/enhancement

#8678 Improve CI reliability by annotating external resources.
  test/api/test_dataset_collections.py
  test/api/test_tools_upload.py
  test/base/populators.py
  test/integration/test_data_manager_table_reload.py
  test/integration/test_shed_tool_tests.py
  test/selenium_tests/test_tool_form.py
  test/selenium_tests/test_workflow_management.py
Labels: area/testing, kind/enhancement

#8679 [19.05] Bugfix - Kill testing container when test script is killed.
  run_tests.sh
Labels: area/testing, kind/bug

#8661 Extend the list of attributes to be reported.
  lib/galaxy/webapps/tool_shed/model/__init__.py
Labels: area/API, area/toolshed, kind/enhancement

#8674 Merge remote-tracking branch 'upstream/release_19.09' into dev
  client/galaxy/scripts/components/Tool.vue
  client/galaxy/scripts/components/Toolshed/Index.vue
  client/galaxy/scripts/entry/panels/tool-panel.js
  client/galaxy/scripts/mvc/library/library-dataset-view.js
  client/galaxy/scripts/mvc/library/library-folderrow-view.js
  client/galaxy/scripts/mvc/tool/tools.js
  client/galaxy/style/scss/base.scss
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config_watchers.py
  lib/galaxy/queue_worker.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/tools/toolbox/watcher.py
  lib/galaxy/util/tool_shed/xml_util.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/tool_shed/galaxy_install/installed_repository_manager.py
  lib/tool_shed/galaxy_install/tools/data_manager.py
  lib/tool_shed/galaxy_install/tools/tool_panel_manager.py
Labels: merge

#8677 add .gitattributes file and normalize line endings to use LF in…
  .gitattributes
  display_applications/biom/biom_simple.xml
  display_applications/icn3d/icn3d_simple.xml
  display_applications/igv/bam.xml
  display_applications/igv/gff.xml
  display_applications/igv/interval_as_bed.xml
  display_applications/intermine/intermine_simple.xml
  display_applications/iobio/bam.xml
  scripts/microbes/README.txt
  test/functional/tools/catDocker.xml
  test/functional/tools/for_workflows/cat.xml
  test/shed_functional/test_data/filtering/readme.txt
Labels: area/framework, kind/enhancement

#8662 Have CI ensure client PRs are formatted.
  .circleci/config.yml
  Makefile
  client/galaxy/scripts/components/DataDialog/DataDialog.test.js
  client/galaxy/scripts/components/DataDialog/DataDialogTable.vue
  client/package.json
Labels: area/client-build, kind/enhancement

#8684 Fixes for BootstrapVue Tables
  client/galaxy/scripts/components/Toolshed/Categories.vue
  client/galaxy/scripts/components/Toolshed/Repositories.vue
  client/galaxy/scripts/components/Toolshed/RepositoryDetails.vue
  client/galaxy/scripts/components/Workflow/WorkflowList.vue
  client/galaxy/scripts/components/admin/DisplayApplications.vue
Labels: area/UI-UX, kind/bug

#8692 More bootstrap vue upgrade fixes.
  client/galaxy/scripts/components/Sharing.vue
  client/galaxy/scripts/components/admin/DataManager/DataManagerJobs.vue
Labels: area/UI-UX, kind/bug

#8690 Remove unused Docker Swarm options
  config/plugins/interactive_environments/bam_iobio/config/bam_iobio.ini.sample
  config/plugins/interactive_environments/jupyter/config/jupyter.ini.sample
  config/plugins/interactive_environments/neo/config/neo.ini.sample
  config/plugins/interactive_environments/phinch/config/phinch.ini.sample
  config/plugins/interactive_environments/rstudio/config/rstudio.ini.sample
  config/swarm_manager_conf.yml.sample
  doc/source/admin/galaxy_options.rst
  doc/source/admin/special_topics/interactive_environments.rst
  doc/source/dev/interactive_environments.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/swarm_manager_conf.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/GIEs, area/configuration, kind/enhancement

#8693 [19.09] Drop "Manage" from admin workflow Invocation link.
  client/galaxy/scripts/entry/panels/admin-panel.js
Labels: area/workflows, kind/enhancement

#8685 Restrict `/api/histories/shared_with_me` to logged-in users
  lib/galaxy/web/framework/decorators.py
  lib/galaxy/webapps/galaxy/api/histories.py
Labels: area/API, kind/enhancement

#8694 [minor] Fix client formatting.
  client/galaxy/scripts/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/galaxy/scripts/components/admin/AdminServices.js
Labels: area/UI-UX, kind/bug, minor

#8687 [19.09] Restore resolution of relative paths w.r.t. Galaxy root
  lib/galaxy/config/__init__.py
Labels: area/configuration, kind/bug

#8639 Modify schema defaults and their loading
  lib/galaxy/config/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/unit/tools/test_toolbox.py
Labels: area/cleanup, area/configuration, kind/refactoring

#8681 [19.09] Backport of: Extend the list of attributes to be reported.
  lib/galaxy/webapps/tool_shed/model/__init__.py
Labels: area/API, triage

#8701 [19.05] Decrease amqp log level to INFO
  lib/galaxy/config.py
Labels: area/framework, kind/bug

#8696 [19.09] Build dependency manager only for galaxy app
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/tool_shed/app.py
  test/api/test_tools.py
  test/base/driver_util.py
Labels: area/configuration, area/tool-dependencies, kind/bug

#8698 [19.09] Bug fix in loading stored workflows from workflow ids.
  lib/galaxy/managers/workflows.py
Labels: area/workflows, kind/bug, minor

#8647 Fix tool JSON wrapper fail to wrap paths
  lib/galaxy/tools/parameters/wrapped_json.py
Labels: triage

#8657 Datatypes for MassSpec DIA dlib,elib
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/test.dlib
  lib/galaxy/datatypes/test/test.elib
Labels: area/datatypes, kind/enhancement

#8625 Improvements to Galaxy and Pulsar job execution
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/job_execution/datasets.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/wrappers.py
  test/integration/embedded_pulsar_docker_job_conf.yml
  test/integration/embedded_pulsar_singularity_job_conf.yml
  test/integration/test_containerized_jobs.py
  test/integration/test_pulsar_embedded.py
  test/integration/test_pulsar_embedded_containers.py
  test/unit/jobs/test_command_factory.py
  test/unit/tools/test_evaluation.py
  test/unit/tools/test_wrappers.py
Labels: area/jobs, kind/bug, kind/enhancement

#8676 More robust login/logout with Selenium.
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  test/selenium_tests/framework.py
  test/selenium_tests/test_library_landing.py
Labels: area/testing/selenium, kind/bug

#8651 Refactor/cleanup config loading (misc edits)
  lib/galaxy/config/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/cleanup, area/configuration, kind/refactoring

#8705 Add bus as binary, remove extra datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: triage

#8708 Upgrade eslint (major version), fix compliance with new standard rules.
  client/.eslintrc.js
  client/galaxy/scripts/app/galaxy.js
  client/galaxy/scripts/components/User/CloudAuth/model/service.js
  client/galaxy/scripts/i18n.js
  client/galaxy/scripts/mvc/base-mvc.js
  client/galaxy/scripts/mvc/collection/list-collection-creator.js
  client/galaxy/scripts/mvc/collection/list-of-pairs-collection-creator.js
  client/galaxy/scripts/mvc/dataset/dataset-choice.js
  client/galaxy/scripts/mvc/history/history-view-edit.js
  client/galaxy/scripts/mvc/ui/ui-select-default.js
  client/galaxy/scripts/mvc/workflow/workflow-canvas.js
  client/galaxy/scripts/polyfills.js
  client/galaxy/scripts/utils/ajax-queue.js
  client/galaxy/scripts/utils/graph.js
  client/galaxy/scripts/utils/localization.js
  client/galaxy/scripts/utils/metrics-logger.js
  client/galaxy/scripts/utils/safeAssign.js
  client/package.json
  client/yarn.lock
Labels: area/client, kind/enhancement, kind/refactoring

#8702 [19.09] Specify a default tool error reports plugin config rather than reading it from the sample
  lib/galaxy/tool_util/deps/__init__.py
  lib/galaxy/tools/error_reports/__init__.py
  lib/galaxy/util/plugin_config.py
Labels: area/framework, kind/bug

#8703 [19.09] Backport #8647.
  lib/galaxy/tools/parameters/wrapped_json.py
Labels: area/tool-framework, kind/bug, merge

#8697 LDAP search member of filter
  lib/galaxy/auth/providers/ldap_ad.py
  lib/galaxy/config/sample/auth_conf.xml.sample
  lib/galaxy/security/validate_user_input.py
  lib/galaxy/webapps/tool_shed/controllers/user.py
Labels: area/auth, kind/enhancement

#8709 Merge release_19.09 into dev
  lib/galaxy/config/__init__.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/tool_util/deps/__init__.py
  lib/galaxy/tools/error_reports/__init__.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/util/plugin_config.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/tool_shed/app.py
  run_tests.sh
  test/api/test_tools.py
  test/base/driver_util.py
Labels: merge

#8713 Rebuild and prettify config sample and doc
  doc/source/admin/galaxy_options.rst
  doc/source/admin/reports_options.rst
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/reports.yml.sample
  lib/galaxy/config/sample/tool_shed.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/documentation, kind/enhancement

#8721 [19.09] Fix grammatical issue in fixedValueColumn tool.
  tools/filters/fixedValueColumn.xml
Labels: minor

#8722 Remove unused Tags file since it was converted to a Vue component
  client/galaxy/scripts/mvc/tag.js
Labels: area/cleanup, kind/refactoring

#8719 [19.09] Fix typo in workflow invocations admin header.
  client/galaxy/scripts/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/galaxy/scripts/components/admin/AdminServices.js
  client/galaxy/scripts/components/admin/Invocations.vue
Labels: area/UI-UX, kind/bug, minor

#8712 GRT: Ensure correct encoding, no partial lines
  scripts/grt/export.py
Labels: area/scripts, kind/bug

#8643 [19.09] Fix issue with xml comment handling on python 3
  lib/galaxy/util/tool_shed/xml_util.py
  lib/tool_shed/galaxy_install/tools/data_manager.py
Labels: area/python3, area/toolshed, kind/bug

#8620 GitLab error reporting
  lib/galaxy/tools/error_reports/plugins/gitlab.py
Labels: status/WIP, triage

#8720 Revise toolshed config dependency check error message in repository install manager
  lib/tool_shed/galaxy_install/install_manager.py
Labels: area/toolshed, kind/bug

#8724 Fix data dialog height, modal test case and table slots
  client/galaxy/scripts/components/DataDialog/DataDialog.test.js
  client/galaxy/scripts/components/DataDialog/DataDialog.vue
  client/galaxy/scripts/components/DataDialog/DataDialogTable.vue
Labels: area/UI-UX, kind/bug

#8683 [19.09] Small fixes for issues with the invocation report editor.
  client/galaxy/scripts/components/Markdown/MarkdownEditor.vue
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  templates/webapps/galaxy/workflow/editor.mako
Labels: area/workflows, kind/bug

#8727 add rDock active site format
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes, kind/feature

#8616 [19.09] Polish YAML based job configuration for 19.09 release.
  lib/galaxy/config/sample/job_conf.xml.sample_advanced
  lib/galaxy/job_metrics/__init__.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy/jobs/runners/pulsar.py
  test/unit/jobs/job_conf.sample_advanced.yml
  test/unit/jobs/test_job_configuration.py
Labels: area/documentation, area/jobs, kind/bug, kind/enhancement

#8731 Replace hardcoded configuration
  lib/galaxy/tools/toolbox/base.py
  test/unit/tools/test_toolbox.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/configuration, kind/bug

#8730 Update slot syntax to v-slot across the board.
  client/galaxy/scripts/components/Citations.vue
  client/galaxy/scripts/components/DataDialog/DataDialog.vue
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
  client/galaxy/scripts/components/Sharing.vue
  client/galaxy/scripts/components/Tags/StatelessTags.vue
  client/galaxy/scripts/components/Toolshed/InstallationSettings.vue
  client/galaxy/scripts/components/admin/DataManager/DataManagerJob.vue
  client/galaxy/scripts/components/admin/DataManager/DataManagerJobs.vue
  client/galaxy/scripts/components/admin/DataManager/DataManagerTable.vue
  client/galaxy/scripts/components/admin/DataTablesGrid.vue
  client/galaxy/scripts/components/admin/DataTypes.vue
  client/galaxy/scripts/components/admin/Invocations.vue
  client/galaxy/scripts/components/admin/Jobs.vue
  client/galaxy/scripts/components/xrefs.vue
Labels: area/client, kind/refactoring

#8735 Fix client formatting
  Makefile
  client/galaxy/scripts/components/Markdown/MarkdownEditor.vue
Labels: area/client, kind/bug, minor
