Repository galaxyproject/galaxy, pull requests merged in 2019-03, with the labels that each got.

#7429 [18.09] Catch another Slurm memory cgroup creation error message
  lib/galaxy/jobs/runners/slurm.py
Labels: area/jobs, kind/bug, status/review

#7432 [19.01] send post data in payload
  client/galaxy/scripts/mvc/library/library-foldertoolbar-view.js
Labels: area/libraries, kind/bug

#7437 Add tool hover
  client/galaxy/style/scss/base.scss
Labels: area/UI-UX, kind/enhancement

#7438 [18.09] Fix LocalShellRunner
  lib/galaxy/jobs/runners/util/cli/shell/local.py
Labels: area/jobs, kind/bug

#7443 Remove or replace references to Biostars
  README.rst
  client/galaxy/scripts/mvc/library/library-folderlist-view.js
  client/galaxy/scripts/mvc/library/library-librarylist-view.js
  scripts/bootstrap_history.py
Labels: area/documentation, kind/bug, status/review

#7445 Remove unused code
  lib/galaxy/tools/cache.py
  lib/galaxy/tools/verify/interactor.py
Labels: area/cleanup, kind/enhancement, status/review

#7400 ENH: multifile zip testing
  CONTRIBUTORS.md
  lib/galaxy/tools/verify/asserts/__init__.py
  lib/galaxy/tools/verify/asserts/archive.py
  lib/galaxy/tools/xsd/galaxy.xsd
  test-data/testdir1.tar
  test-data/testdir1.tar.gz
  test/functional/tools/samples_tool_conf.xml
  test/functional/tools/validation_tar.xml
  test/functional/tools/validation_tar_gz.xml
  test/functional/tools/validation_zip.xml
Labels: area/datatypes, area/testing, area/tools, kind/enhancement

#7424 experiment - run all travis tests on circleci
  .circleci/config.yml
Labels: area/testing, kind/feature, status/review

#7449 [18.09] Remove broken tool_submission_burst
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config.py
  lib/galaxy/tools/execute.py
  lib/galaxy/webapps/config_manage.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: kind/bug

#7448 [18.09] Fix loading workflows with steps without default label
  lib/galaxy/managers/workflows.py
Labels: area/workflows, kind/bug

#7452 Restore get_filename to galaxy.tools.verify:verify()
  lib/galaxy/tools/verify/__init__.py
Labels: area/testing, kind/bug

#7451 Fix shallow clone on CircleCI for PRs
  .circleci/config.yml
Labels: area/testing, kind/bug, status/review

#7428 Allow configuration location of user preferences extra configuration
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/documentation, area/framework, kind/enhancement

#7439 New testing image
  run_tests.sh
  test/base/integration_util.py
  test/docker/base/Dockerfile
  test/docker/base/ansible_vars.yml
  test/integration/test_containerized_jobs.py
Labels: area/testing, kind/enhancement, status/review

#7435 Allow connecting nested collections to multiple=true inputs in workflow editor
  client/galaxy/scripts/mvc/workflow/workflow-terminals.js
  client/galaxy/scripts/mvc/workflow/workflow-view-terminals.js
  client/galaxy/scripts/qunit/tests/workflow_editor_tests.js
Labels: area/workflows, kind/enhancement, status/review

#7270 Tagging component
  client/.babelrc
  client/galaxy/scripts/bundleEntries.js
  client/galaxy/scripts/components/Tags/GalaxyTags.test.js
  client/galaxy/scripts/components/Tags/GalaxyTags.usage.txt
  client/galaxy/scripts/components/Tags/GalaxyTags.vue
  client/galaxy/scripts/components/Tags/StandardTags.test.js
  client/galaxy/scripts/components/Tags/StandardTags.vue
  client/galaxy/scripts/components/Tags/index.js
  client/galaxy/scripts/components/Tags/inits.js
  client/galaxy/scripts/components/Tags/model.js
  client/galaxy/scripts/components/Tags/model.test.js
  client/galaxy/scripts/components/Tags/tagService.js
  client/galaxy/scripts/components/Tags/tagService.test.js
  client/galaxy/scripts/components/Tags/testData/autocompleteResponse.txt
  client/galaxy/scripts/entry/analysis/AnalysisRouter.js
  client/galaxy/scripts/mvc/grid/grid-view.js
  client/galaxy/scripts/sample.test.js
  client/galaxy/scripts/store/gridSearchStore.js
  client/galaxy/scripts/store/index.js
  client/galaxy/scripts/ui/autocom_tagging.js
  client/galaxy/scripts/unitTestBundle.js
  client/galaxy/scripts/utils/mock.js
  client/galaxy/scripts/utils/mountVueComponent.js
  client/galaxy/scripts/utils/redirect.js
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/mixins.scss
  client/karma/karma.config.mocha.js
  client/karma/karma.config.qunit.js
  client/karma/webpack.config.unittest.js
  client/package.json
  client/webpack.config.js
  client/yarn.lock
  lib/galaxy/web/framework/helpers/grids.py
  lib/galaxy/webapps/galaxy/controllers/tag.py
  lib/galaxy/webapps/reports/framework/grids.py
  templates/tagging_common.mako
  templates/webapps/galaxy/workflow/editor.mako
  test/selenium_tests/test_published_histories_grid.py
  test/selenium_tests/test_saved_histories.py
Labels: area/UI-UX, area/testing, kind/refactoring

#7453 Fix doc for statsd conf for uwsgi?
  doc/source/admin/special_topics/performance_tracking.rst
Labels: triage

#7446 Use a lock on cleanup, expire_tool and cache_tool
  lib/galaxy/tools/cache.py
  test/unit/tools/test_toolbox.py
  test/unit/tools_support.py
Labels: area/tool-framework, kind/bug, status/review

#7459 set_metadata "unit" tests
  test/unit/tools/test_metadata.py
  test/unit/tools_support.py
Labels: area/jobs, kind/enhancement, status/review

#7462 fix syntax of xsd tool schema
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: area/documentation, kind/bug

#7458 [19.01] Fix hidden parameter use in workflows
  lib/galaxy/workflow/modules.py
  run_tests.sh
  test/api/test_workflows.py
  test/functional/tools/hidden_param.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/workflows, kind/bug, status/review

#7466 Simple filter_output
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/workflow/modules.py
  test/api/test_workflows.py
  test/functional/tools/output_filter_with_input.xml
  test/unit/tools/test_toolbox.py
  test/unit/workflows/test_modules.py
Labels: area/UI-UX, area/workflows, kind/bug, kind/enhancement, status/review

#7095 More Structured Job I/O Tracking
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/output_checker.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/local.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0147_job_messages.py
  lib/galaxy/tools/imp_exp/__init__.py
  lib/galaxy/tools/linters/tests.py
  lib/galaxy/tools/verify/interactor.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  templates/show_params.mako
  test/api/test_jobs.py
  test/functional/tools/detect_errors.xml
  test/functional/tools/job_environment_default.xml
  test/functional/tools/samples_tool_conf.xml
  test/integration/io_injection_job_conf.xml
  test/integration/test_job_environments.py
  test/unit/jobs/test_command_factory.py
  test/unit/jobs/test_job_output_checker.py
  test/unit/tools/test_history_imp_exp.py
  test/unit/tools/test_parsing.py
Labels: area/UI-UX, area/jobs, kind/bug, kind/enhancement, status/review

#7461 Note `cannot import name _remove_dead_weakref` error and solution
  doc/source/admin/framework_dependencies.rst
Labels: area/documentation, kind/enhancement

#7472 Fix workflow building typo
  lib/galaxy/webapps/galaxy/api/workflows.py
  test/api/test_workflows.py
Labels: kind/bug, status/review

#7476 correct virtualenv download with no wget/curl
  scripts/common_startup.sh
Labels: triage

#7471 Collected Refactoring of Job Output Handling Code
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/output_collect.py
  test/unit/tools/test_collect_primary_datasets.py
Labels: area/jobs, kind/refactoring, status/review

#7477 added option to pass in individual globs to unit test watcher
  client/karma/karma.config.mocha.js
Labels: triage

#7457 Adding microarrays data types Gpr and Gal
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/microarrays.py
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/datatypes/test/test.gal
  lib/galaxy/datatypes/test/test.gpr
Labels: area/datatypes, kind/enhancement

#7442 Inform users if an exception has happened authenticating via OIDC
  lib/galaxy/authnz/managers.py
  lib/galaxy/webapps/galaxy/controllers/authnz.py
Labels: area/auth, kind/enhancement, status/review

#7288 Add a validator that ensures one metadata is between min and max values
  lib/galaxy/tools/parameters/validation.py
  lib/galaxy/tools/xsd/galaxy.xsd
  test/functional/tools/samples_tool_conf.xml
  test/functional/tools/validation_metadata_in_range.xml
Labels: area/UI-UX, area/tool-framework, kind/enhancement, status/review

#7486 Update Platform LSF to Spectrum LSF
  doc/source/admin/cluster.md
Labels: area/documentation, kind/bug

#7483 Log exception in set_metadata.py.
  lib/galaxy_ext/metadata/set_metadata.py
Labels: area/datatype-framework, kind/enhancement

#7478 Update of tours overview according to #5860
  client/galaxy/scripts/mvc/tours.js
Labels: area/UI-UX, kind/enhancement, status/review

#7499 [18.05] Restrict loading of JSON files on the server via the workflow API to Galaxy admins
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/API, area/security, kind/bug, status/review

#7470 Implement portable metadata generation.
  lib/galaxy/config.py
  lib/galaxy/datatypes/set_metadata_tool.xml
  lib/galaxy/jobs/__init__.py
  lib/galaxy/metadata/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/metadata.py
  lib/galaxy/tools/provided_metadata.py
  lib/galaxy_ext/metadata/_provided_metadata.py
  lib/galaxy_ext/metadata/set_metadata.py
  test/unit/tools/test_metadata.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/jobs, kind/enhancement, status/review

#7504 [18.09] Fix warning message formatting in sharing controller
  lib/galaxy/web/base/controller.py
Labels: area/framework, kind/bug, status/review

#7463 Update to PSA 3.1 and support login with Globus identity
  config/oidc_backends_config.xml.sample
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/pinned-requirements.txt
Labels: area/auth, kind/feature, status/review

#7480 Fix post job actions for Database Operation tools, implement change_datatype for collection output
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/jobs/actions/post.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/workflow/modules.py
  test/api/test_workflows.py
  test/base/populators.py
Labels: area/UI-UX, area/dataset-collections, area/workflows, kind/bug, kind/enhancement, status/review

#7510 remove biostar integrations
  client/galaxy/scripts/layout/menu.js
  client/galaxy/scripts/mvc/tool/tool-form-base.js
  client/galaxy/scripts/qunit/tests/masthead_tests.js
  config/error_report.yml.sample
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config.py
  lib/galaxy/managers/configuration.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/error_reports/plugins/biostars.py
  lib/galaxy/util/biostar.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/controllers/biostar.py
  lib/galaxy/webapps/tool_shed/api/tools.py
  lib/galaxy/webapps/tool_shed/config.py
  templates/webapps/galaxy/biostar/post_redirect.mako
  templates/webapps/galaxy/galaxy.masthead.mako
  test/functional/webhooks/masthead_test/config.yml
Labels: area/cleanup, kind/refactoring

#7511 [19.01] Backport Fix post job actions for Database Operation tools, implement change_datatype for collection output
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/jobs/actions/post.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/workflow/modules.py
  test/api/test_workflows.py
  test/base/populators.py
Labels: area/dataset-collections, area/workflows, kind/bug, kind/enhancement, status/review

#7475 Fix default value handling of color parameter
  client/galaxy/scripts/mvc/ui/ui-color-picker.js
  lib/galaxy/tools/parameters/basic.py
Labels: area/UI-UX, kind/refactoring, status/review

#7517 Make sure ``temp_output_dir`` path is absolute
  lib/galaxy/tools/imp_exp/__init__.py
Labels: area/histories, kind/bug, status/review

#7518 Fix narrow style for favorites button in tool form header
  client/galaxy/scripts/mvc/tool/tool-form-base.js
Labels: area/UI-UX, kind/enhancement, minor, status/WIP

#7481 Use a relative output.publicPath to avoid 404 errors when serving with a url prefix
  client/webpack.config.js
  templates/webapps/galaxy/galaxy.panels.mako
Labels: triage

#7487 Implement dataset source and hash tracking.
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0148_add_checksum_table.py
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/tools/parameters/output_collect.py
  lib/galaxy/util/hash_util.py
  test/api/test_libraries.py
Labels: area/API, kind/enhancement, status/review

#7515 Updated documentation in admin/scaling.md
  doc/source/admin/scaling.md
Labels: triage

#7521 Eliminate import dependency of datatypes on galaxy.web (url_for).
  lib/galaxy/app.py
  lib/galaxy/datatypes/display_applications/application.py
  lib/galaxy/datatypes/display_applications/parameters.py
  lib/galaxy/datatypes/genetics.py
  lib/galaxy/datatypes/interval.py
Labels: area/datatype-framework, kind/enhancement, kind/refactoring

#7522 Move create_history_template out of galaxy.util.
  lib/galaxy/webapps/galaxy/controllers/_create_history_template.py
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: area/cleanup, kind/refactoring

#7519 Create directory before copying file there
  lib/galaxy/tools/verify/__init__.py
Labels: area/tool-framework, kind/bug, status/review

#7530 Refactor TagManager (back) to TagHandler.
  lib/galaxy/app.py
  lib/galaxy/managers/collections.py
  lib/galaxy/managers/library_datasets.py
  lib/galaxy/managers/taggable.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/tags.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/web/base/controller.py
  lib/galaxy/webapps/tool_shed/app.py
  test/unit/managers/test_TagHandler.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: kind/refactoring

#7529 Refactor galaxy.web.form_builder into galaxy.util.form_builder.
  lib/galaxy/model/__init__.py
  lib/galaxy/model/metadata.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/util/form_builder.py
  lib/galaxy/web/form_builder.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: kind/refactoring

#7379 implement sniffing of datatypes for lddas
  client/galaxy/scripts/mvc/library/library-dataset-view.js
  lib/galaxy/jobs/handler.py
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/library_datasets.py
  lib/galaxy/tools/actions/metadata.py
  test/api/test_libraries.py
Labels: area/API, kind/feature, status/review

#7507 Legacy History Import Testing
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/imp_exp/__init__.py
  test-data/exports/1901_two_datasets.tgz
  test/api/test_histories.py
  test/base/populators.py
  test/manual/gen_history_export_test_artifacts.py
  test/unit/tools/test_history_imp_exp.py
Labels: area/testing/api, kind/enhancement, status/review

#7505 Slightly improved import/export testing.
  lib/galaxy/model/__init__.py
  test/api/test_histories.py
  test/base/populators.py
Labels: area/dataset-collections, area/histories, area/testing/api, kind/enhancement, status/review

#7536 Small object store fixes.
  lib/galaxy/model/__init__.py
  lib/galaxy/objectstore/__init__.py
Labels: area/objectstore, kind/bug, status/review

#7537 Fix logic around importing histories and deleted datasets.
  lib/galaxy/tools/imp_exp/__init__.py
  test/api/test_histories.py
Labels: area/testing/api, kind/bug

#7543 [19.01] Fix entering workflow parameter in workflow run form
  lib/galaxy/tools/parameters/basic.py
Labels: area/workflows, kind/bug, status/review

#7541 Refactor output_collect.py toward a database session-less modality.
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/output_collect.py
  test/unit/tools/test_collect_primary_datasets.py
Labels: area/jobs, kind/refactoring, status/review

#7460 Upgrade data dialog, allow selection of datasets within collections
  client/galaxy/scripts/components/DataDialog.vue
  client/galaxy/scripts/layout/data.js
Labels: area/UI-UX, kind/enhancement, status/review

#7539 run circleCI on merge rather than head of PR's fork
  .circleci/config.yml
Labels: area/testing, kind/enhancement

#7549 Fix dataset checksum database migration downgrade.
  lib/galaxy/model/migrate/versions/0148_add_checksum_table.py
Labels: area/database, kind/bug, status/review

#7547 Extend reload test case logging
  lib/galaxy/webapps/galaxy/config_watchers.py
  test/unit/tools/test_toolbox.py
Labels: area/testing, kind/bug, status/review

#7554 Fix dependency cycle between galaxy.security and galaxy.model.
  lib/galaxy/app.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/security.py
  lib/galaxy/security/__init__.py
Labels: area/cleanup, kind/bug, kind/refactoring, status/review

#7558 Improve linking between job conf handler assignment and documentation
  config/job_conf.xml.sample_advanced
  doc/source/admin/scaling.md
Labels: area/documentation

#7542 Drop d3 from publicly provided libs
  client/galaxy/scripts/reports/run_stats.js
  client/galaxy/scripts/viz/phyloviz.js
  client/galaxy/scripts/viz/sweepster.js
  client/gulpfile.js
  config/plugins/visualizations/aequatus/static/scripts/d3.min.js
  config/plugins/visualizations/aequatus/templates/aequatus.mako
  templates/webapps/galaxy/galaxy.panels.mako
Labels: area/client-build, area/visualizations, kind/refactoring, status/review

#7538 Swap from 'slug.js' to 'slugify.js'. Saves 10 MB in client bundles.
  client/galaxy/scripts/mvc/grid/grid-view.js
  client/package.json
  client/yarn.lock
Labels: area/UI-UX, kind/enhancement, status/review

#7534 [19.01] Fix displaying and editing SelectTagParameters in workflow editor
  client/galaxy/scripts/mvc/form/form-parameters.js
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/UI-UX, area/workflows, kind/bug, status/review

#7561 [19.01] Correct db-self handler assignment method
  lib/galaxy/util/handlers.py
Labels: area/jobs, kind/bug

#7272 Add Azure and GCP support for ObjectStore Cloud backend
  config/object_store_conf.xml.sample
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/objectstore/cloud.py
  test/unit/test_objectstore.py
Labels: area/objectstore, kind/enhancement

#7398 Environment modules mapping
  config/environment_modules_mapping.yml.sample
  lib/galaxy/tools/deps/resolvers/modules.py
Labels: triage

#7500 metadata and value validators
  lib/galaxy/tools/parameters/validation.py
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: triage

#7562 Fix database config doctests when env vars are in use for dburi
  lib/galaxy/model/orm/scripts.py
Labels: area/testing, kind/bug

#7527 [19.01] User facing release notes
  doc/source/releases/19.01.rst
  doc/source/releases/19.01_announce_user.rst
  doc/source/releases/19.01_prs.rst
  doc/source/releases/images/19.01-colourful-tags.png
  doc/source/releases/images/19.01-help-site.png
  doc/source/releases/images/19.01-new-wf-inputs.png
  doc/source/releases/images/19.01-new-wf-types.png
  doc/source/releases/images/19.01-revised-ui.png
  scripts/bootstrap_history.py
Labels: area/documentation, kind/enhancement

#7555 Refactor XSD output elements to share common output attributes.
  doc/parse_gx_xsd.py
  doc/schema_template.md
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: area/documentation, area/tool-framework, kind/enhancement, kind/refactoring

#7545 Allow Admins to Import Dynamic JSON-based Tools
  lib/galaxy/app.py
  lib/galaxy/config.py
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/jobs/__init__.py
  lib/galaxy/managers/tools.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0149_dynamic_tools.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/metadata.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/tools/deps/container_classes.py
  lib/galaxy/tools/parser/__init__.py
  lib/galaxy/tools/parser/factory.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/webapps/galaxy/api/dynamic_tools.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/workflow/modules.py
  test/api/embed_test_1.gxwf.yml
  test/api/embed_test_1_tool.gxtool.yml
  test/api/test_tools.py
  test/api/test_workflows.py
  test/api/test_workflows_from_yaml.py
  test/base/populators.py
  test/unit/workflows/workflow_support.py
Labels: area/API, area/cwl, area/testing/api, area/tool-framework, kind/enhancement, status/review

#7565 move the 'create new history' out of the history context menu
  client/galaxy/scripts/entry/panels/history-panel.js
  client/galaxy/scripts/mvc/history/options-menu.js
  test/galaxy_selenium/navigates_galaxy.py
  test/galaxy_selenium/navigation.yml
Labels: area/UI-UX, kind/enhancement

#7560 Refactor galaxy.web.security into galaxy.security.idencoding.
  lib/galaxy/config.py
  lib/galaxy/security/idencoding.py
  lib/galaxy/webapps/reports/app.py
  lib/galaxy/webapps/tool_shed/app.py
  scripts/communication/communication_server.py
  scripts/helper.py
  scripts/pages_identifier_conversion.py
  scripts/secret_decoder_ring.py
  scripts/tool_shed/bootstrap_tool_shed/create_user_with_api_key.py
  test/base/testcase.py
  test/shed_functional/base/twilltestcase.py
  test/unit/test_id_encode_decode.py
  test/unit/unittest_utils/galaxy_mock.py
  test/unit/workflows/workflow_support.py
Labels: area/cleanup, kind/enhancement, kind/refactoring, status/review

#7532 Static plugin staging as a part of client build instead of startup
  client/gulpfile.js
  client/package.json
  client/yarn.lock
  config/plugins/visualizations/aequatus/static/aequatus-vis/scripts/jquery/js/jquery.svg.js
  scripts/common_startup.sh
  scripts/get_uwsgi_args.py
  scripts/plugin_staging.py
Labels: area/client-build, kind/enhancement, status/review

#7523 [19.01] Fix routing when serving Galaxy at a prefix
  client/galaxy/scripts/layout/menu.js
  client/galaxy/scripts/layout/panel.js
  client/galaxy/scripts/layout/router.js
Labels: area/UI-UX, kind/bug, status/review

#7566 [19.01] Fix help warnings style
  client/galaxy/scripts/mvc/form/form-input.js
  client/galaxy/scripts/mvc/tool/tool-form-base.js
  client/galaxy/style/scss/base.scss
Labels: area/UI-UX, kind/bug, status/review

#7485 Git providers error reporting plugins
  config/error_report.yml.sample
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/tools/error_reports/plugins/base_git.py
  lib/galaxy/tools/error_reports/plugins/github.py
  lib/galaxy/tools/error_reports/plugins/gitlab.py
Labels: area/jobs, kind/enhancement

#7556 Implement expression tools and non-data tool outputs.
  config/datatypes_conf.xml.sample
  lib/galaxy/config.py
  lib/galaxy/datatypes/text.py
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/expressions/__init__.py
  lib/galaxy/tools/expressions/cwlNodeEngine.js
  lib/galaxy/tools/expressions/evaluation.py
  lib/galaxy/tools/expressions/script.py
  lib/galaxy/tools/expressions/util.py
  lib/galaxy/tools/parameters/wrapped_json.py
  lib/galaxy/tools/parser/interface.py
  lib/galaxy/tools/parser/output_objects.py
  lib/galaxy/tools/parser/xml.py
  lib/galaxy/tools/parser/yaml.py
  lib/galaxy/tools/xsd/galaxy.xsd
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run.py
  lib/galaxy_ext/expressions/__init__.py
  lib/galaxy_ext/expressions/handle_job.py
  scripts/common_startup.sh
  test/api/test_tools.py
  test/api/test_workflows.py
  test/functional/tools/expression_forty_two.xml
  test/functional/tools/expression_log_line_count.xml
  test/functional/tools/expression_parse_int.xml
  test/functional/tools/samples_tool_conf.xml
  test/unit/jobs/test_expression_run.py
  test/unit/tools/test_expression_basics.py
  test/unit/tools/test_parsing.py
  test/unit/workflows/test_modules.py
Labels: area/cwl, area/tool-framework, area/workflows, kind/enhancement, status/review

#7571 Eslint build fix
  client/galaxy/scripts/mvc/workflow/workflow-view.js
Labels: area/client-build, minor, status/review

#7573 Fix running CircleCI on PR merge
  .circleci/config.yml
Labels: area/testing, kind/bug, status/review

#7570 Fix double class declaration in provided_metadata.py.
  lib/galaxy/tools/provided_metadata.py
Labels: area/jobs, kind/bug, minor

#7575 Remove unused attribute on Job class.
  lib/galaxy/model/__init__.py
Labels: area/jobs, kind/bug, minor

#7572 Fix numeric connection test for Python 3.
  test/api/test_workflows.py
Labels: area/testing/api, area/workflows, kind/bug, minor

#7577 [19.01] Backport workflow output rectification
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
Labels: area/workflows, kind/bug, status/review

#7576 [19.01] Backport #7466: Don't display outputs that aren't going to be produced in workflow editor
  lib/galaxy/workflow/modules.py
  test/api/test_workflows.py
  test/functional/tools/output_filter_with_input.xml
  test/unit/workflows/test_modules.py
Labels: area/workflows, kind/bug

#7578 [19.01] Backport fix saving imported subworkflows
  lib/galaxy/model/__init__.py
Labels: area/workflows/subworkflows, kind/bug, status/review

#7574 trim down travis config, only run osx first startup
  .travis.yml
Labels: area/testing, kind/enhancement

#7584 Makefile: run bootstrap_history.py inside the VENV
  Makefile
Labels: area/framework, kind/bug, status/review

#7581 [cli-lsf] Make LSF project configurable in job
  config/job_conf.xml.sample_advanced
  lib/galaxy/jobs/runners/util/cli/job/lsf.py
Labels: area/jobs, kind/feature

#7583 [18.05] backport circleci testing
  .circleci/config.yml
Labels: area/testing, kind/enhancement, minor

#7586 Update cloud imports to adhere with cloudbridge interface changes.
  lib/galaxy/managers/cloud.py
  tools/cloud/send.py
Labels: area/objectstore, kind/bug

#6866 Handling out of memory for cli-plugin runner (LSF only).
  lib/galaxy/jobs/runners/cli.py
  lib/galaxy/jobs/runners/util/cli/job/__init__.py
  lib/galaxy/jobs/runners/util/cli/job/lsf.py
Labels: area/jobs, kind/feature, status/review

#7588 Refactor galaxy.dataset_collections into galaxy.model.dataset_collections.
  lib/galaxy/managers/collections.py
  lib/galaxy/model/dataset_collections/__init__.py
  lib/galaxy/model/dataset_collections/builder.py
  lib/galaxy/model/dataset_collections/matching.py
  lib/galaxy/model/dataset_collections/registry.py
  lib/galaxy/model/dataset_collections/structure.py
  lib/galaxy/model/dataset_collections/subcollections.py
  lib/galaxy/model/dataset_collections/type_description.py
  lib/galaxy/model/dataset_collections/types/__init__.py
  lib/galaxy/model/dataset_collections/types/list.py
  lib/galaxy/model/dataset_collections/types/paired.py
  lib/galaxy/tools/actions/upload.py
  lib/galaxy/tools/execute.py
  lib/galaxy/tools/parameters/meta.py
  lib/galaxy/tools/parameters/output_collect.py
  lib/galaxy/workflow/modules.py
  test/unit/dataset_collections/test_matching.py
Labels: area/dataset-collections, kind/refactoring, status/review

#7540 History Import/Export Fixes and Enhancements Ahead of New Format
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tools/actions/history_imp_exp.py
  lib/galaxy/tools/imp_exp/__init__.py
  lib/galaxy/tools/imp_exp/export_history.py
  test/api/test_histories.py
  test/base/populators.py
  test/unit/test_objectstore.py
  test/unit/tools/test_history_imp_exp.py
Labels: area/histories, area/testing/api, kind/bug, status/review

#7592 Format authnz-related api responses as JSON objects.
  lib/galaxy/webapps/galaxy/controllers/authnz.py
Labels: area/auth, kind/bug

#7546 Dockerized variant of update.sh for project dependencies.
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/docker/Dockerfile
  lib/galaxy/dependencies/pipfiles/docker/Makefile
  lib/galaxy/dependencies/pipfiles/docker/docker_script.sh
  lib/galaxy/dependencies/pipfiles/update.sh
Labels: area/dependencies, kind/enhancement, status/review

#7268 Add a Galaxy IE for cellxgene.
  client/galaxy/scripts/galaxy.interactive_environments.js
  config/datatypes_conf.xml.sample
  config/plugins/interactive_environments/cellxgene/config/allowed_images.yml.sample
  config/plugins/interactive_environments/cellxgene/config/cellxgene.ini.sample
  config/plugins/interactive_environments/cellxgene/config/cellxgene.xml
  config/plugins/interactive_environments/cellxgene/docker/Dockerfile
  config/plugins/interactive_environments/cellxgene/docker/run_cellxgene.sh
  config/plugins/interactive_environments/cellxgene/templates/cellxgene.mako
  config/plugins/interactive_environments/ethercalc/static/js/ethercalc.js
  config/plugins/interactive_environments/ethercalc/templates/ethercalc.mako
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/pbmc3k_tiny.h5ad
Labels: area/GIEs, kind/enhancement, status/review

#7589 Add ``py35-first_startup`` macOS job to Travis
  .travis.yml
Labels: area/testing, kind/enhancement, status/review

#7601 Add extra verbosity in client build startup logic
  scripts/common_startup.sh
Labels: area/client-build, kind/enhancement, minor

#7598 Add a DELETE api for CloudAuthz
  lib/galaxy/managers/cloudauthzs.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0150_add_deleted_and_create_time_fields_for_cloudauthz.py
  lib/galaxy/webapps/galaxy/api/cloudauthz.py
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: area/API, area/auth, kind/feature

#7602 Fix styleguide
  .gitignore
  client/package.json
  client/styleguide.config.js
  client/yarn.lock
Labels: area/client-build, area/documentation, kind/bug, status/review

#7596 Eliminate duplication in generating input/output dicts for jobs.
  lib/galaxy/jobs/__init__.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/evaluation.py
Labels: area/jobs, kind/enhancement, kind/refactoring

#7544 Client dep upgrades 19 03
  client/galaxy/scripts/components/Tags/StatelessTags.test.js
  client/galaxy/scripts/mvc/library/library-dataset-view.js
  client/galaxy/scripts/mvc/workflow/workflow-connector.js
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  client/galaxy/scripts/mvc/workflow/workflow-view-terminals.js
  client/package.json
  client/yarn.lock
Labels: area/UI-UX, area/client-build, kind/enhancement, status/review

#7514 Redefining Cel data type
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/microarrays.py
  lib/galaxy/datatypes/test/affy_v_3.cel
  lib/galaxy/datatypes/test/affy_v_4.cel
  lib/galaxy/datatypes/test/affy_v_agcc.cel
  lib/galaxy/datatypes/test/test.cel
Labels: area/datatypes, kind/enhancement, status/review

#7605 Webpack bundle overhaul and initial dynamic loading.
  client/galaxy/scripts/entry/panels/history-panel.js
  client/galaxy/scripts/galaxy.interactive_environments.js
  client/galaxy/scripts/mvc/collection/list-collection-creator.js
  client/galaxy/scripts/mvc/form/form-parameters.js
  client/galaxy/scripts/mvc/history/history-view-edit.js
  client/gulpfile.js
  client/package.json
  client/webpack.config.js
  client/yarn.lock
Labels: area/UI-UX, area/client-build, area/performance, kind/enhancement, kind/refactoring, status/review

#7595 Make galaxy.model.dataset_collections more usable outside manager context.
  lib/galaxy/managers/collections.py
  lib/galaxy/model/dataset_collections/builder.py
  lib/galaxy/model/dataset_collections/registry.py
  lib/galaxy/model/dataset_collections/type_description.py
  test/unit/dataset_collections/test_matching.py
Labels: area/dataset-collections, kind/enhancement, kind/refactoring

#7614 Minor cli and metadata fixes
  lib/galaxy/jobs/runners/util/cli/job/__init__.py
  lib/galaxy/metadata/__init__.py
Labels: area/jobs, kind/bug, status/review

#7616 [19.01] Improve string escaping and changeset validation on toolshed
  lib/galaxy/webapps/tool_shed/controllers/repository.py
  templates/message.mako
  test/shed_functional/base/twilltestcase.py
Labels: area/security, area/toolshed, kind/bug, status/review

#7630 Don't unhide mapped-over outputs when job fails
  lib/galaxy/jobs/__init__.py
  test/api/test_jobs.py
  test/functional/tools/detect_errors_aggressive.xml
Labels: area/UI-UX, kind/enhancement, status/review

#7627 [19.01] backport fix from #7519
  lib/galaxy/tools/verify/__init__.py
Labels: area/tool-framework, kind/bug, status/review
