Repository galaxyproject/galaxy, pull requests merged in 2019-08, with the labels that each got.

#7730 Fix assert_command is not executed
  lib/galaxy/tool_util/verify/interactor.py
Labels: area/testing, kind/bug, status/review

#8398 [19.05] Fix workflow tags lost on save
  .circleci/config.yml
  lib/galaxy/webapps/galaxy/api/workflows.py
  test/api/test_workflows.py
Labels: area/UI-UX, area/workflows, kind/bug, status/review

#8395 [19.05] Backport #7730 Fix ignored assert_command tests
  lib/galaxy/tools/verify/interactor.py
Labels: area/testing, kind/bug, merge

#8371 Use bootstrap classes to fix form css issue
  client/galaxy/scripts/mvc/ui/ui-select-content.js
  client/galaxy/style/scss/ui.scss
Labels: area/UI-UX, kind/bug, kind/enhancement

#8331 Issue#8105: Make tool favourite query a toggle
  client/galaxy/scripts/entry/panels/tool-panel.js
Labels: area/UI-UX, kind/enhancement

#8388 Improve color relationships between text and background
  client/galaxy/scripts/components/PluginList.vue
  client/galaxy/scripts/layout/page.js
  client/galaxy/scripts/mvc/workflow/workflow.js
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/charts.scss
  client/galaxy/style/scss/dataset.scss
  client/galaxy/style/scss/frame.scss
  client/galaxy/style/scss/history.scss
  client/galaxy/style/scss/job.scss
  client/galaxy/style/scss/library.scss
  client/galaxy/style/scss/list-item.scss
  client/galaxy/style/scss/overrides.scss
  client/galaxy/style/scss/theme/blue.scss
  client/galaxy/style/scss/ui.scss
  client/galaxy/style/scss/ui/icon-btn.scss
  client/galaxy/style/scss/ui/paired-collection-creator.scss
  client/galaxy/style/scss/ui/search-input.scss
  client/galaxy/style/scss/upload.scss
Labels: area/UI-UX, kind/enhancement, status/review

#8407 docs - change mysql support to deprecated
  doc/source/admin/production.md
Labels: area/documentation, kind/enhancement

#8410 Add basic unit test for lint_inputs
  packages/tool_util/tests/test_tool_linters.py
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, kind/enhancement, status/review

#8404 mention IGB in the docs
  doc/source/admin/nginx.md
Labels: area/documentation, kind/enhancement

#8405 client auto format
  client/galaxy/scripts/components/PluginList.vue
  client/galaxy/scripts/components/Tags/model.js
  client/galaxy/scripts/components/Toolshed/InstallationSettings.vue
  client/galaxy/scripts/components/Toolshed/RepositoryDetails.vue
  client/galaxy/scripts/components/admin/DataManager/DataManagerView.vue
  client/galaxy/scripts/components/login/Register.vue
  client/galaxy/scripts/components/xrefs.vue
  client/galaxy/scripts/mvc/history/multi-panel.js
  client/galaxy/scripts/mvc/library/library-folderlist-view.js
  client/galaxy/scripts/mvc/library/library-model.js
  client/galaxy/scripts/mvc/library/library-util.js
  client/galaxy/scripts/mvc/tag.js
  client/galaxy/scripts/mvc/tool/tool-form-base.js
  client/galaxy/scripts/mvc/workflow/workflow-canvas.js
  client/galaxy/scripts/viz/trackster/filters.js
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/history.scss
  client/galaxy/style/scss/overrides.scss
Labels: area/client, kind/refactoring

#8394 make cleanup script use logging instead of print
  scripts/cleanup_datasets/cleanup_datasets.py
Labels: area/scripts, kind/enhancement

#8422 Don't parse HTML for tool help search index.
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/search/__init__.py
Labels: area/tool-framework, kind/enhancement

#8423 [19.05] Backport tool search index building speedup
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/search/__init__.py
Labels: area/tool-framework, kind/enhancement

#8421 Speed up tool shed cache.
  lib/galaxy/tools/cache.py
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
Labels: area/performance, kind/bug, kind/enhancement, status/review

#8418 [19.05] Try to fix too many workflow step output associations.
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run.py
Labels: area/workflows, kind/bug

#8430 optimize unrestricted library dataset permission checks
  lib/galaxy/webapps/galaxy/api/folder_contents.py
Labels: area/libraries, kind/enhancement

#8426 Remove seemingly unneeded deepcopy's in macro expansion.
  lib/galaxy/util/xml_macros.py
  test/unit/tool_util/test_tool_loader.py
Labels: area/performance, area/tool-framework, kind/enhancement, status/review

#8433 Improve variable naming
  lib/galaxy/config/__init__.py
Labels: kind/refactoring, status/review

#8437 document undocumented workflow_schedulers_config_file
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/documentation, kind/enhancement

#8431 Fix config file finding for the manage_db script
  scripts/manage_db.py
Labels: area/scripts, kind/bug, status/review

#8451 fix memory statement for drmaa (SGE/UNIVA)
  lib/galaxy/jobs/runners/util/job_script/MEMORY_STATEMENT.sh
Labels: area/jobs, kind/bug, status/review

#8455 Implement #8183 for further GitLab integration.
  lib/galaxy/config/sample/error_report.yml.sample
  lib/galaxy/tools/error_reports/plugins/base_git.py
  lib/galaxy/tools/error_reports/plugins/gitlab.py
Labels: area/framework, kind/enhancement

#8414 Record Galaxy version job was created with.
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0155_job_galaxy_version.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/history_imp_exp.py
  lib/galaxy/tools/actions/metadata.py
  lib/galaxy/tools/actions/upload_common.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/jobs, kind/enhancement, status/review

#8457 Add pointer to client/README.md
  scripts/common_startup.sh
Labels: area/documentation, minor

#8458 add pgp and osw filetype as used in OpenSWATH experiments
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes, kind/enhancement

#8452 Replace in-python quota calc with a SQL query
  lib/galaxy/model/__init__.py
  lib/galaxy/model/util.py
  scripts/set_user_disk_usage.py
Labels: area/performance, kind/refactoring

#8450 Allow admins to disable the visualizations tab in the masthead
  client/galaxy/scripts/layout/menu.js
  client/galaxy/scripts/mvc/dataset/dataset-li-edit.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/managers/configuration.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/UI-UX, kind/feature, status/review

#8462 Refactor reading config properties from a file
  lib/galaxy/exceptions/__init__.py
  lib/galaxy/exceptions/error_codes.json
  lib/galaxy/util/properties.py
  test/unit/util/test_properties.py
  test/unit/util/test_utils.py
Labels: area/testing, area/util, kind/refactoring, status/review

#8466 Fix absolutely positioned elements and children from displaying off-screen.
  client/galaxy/style/scss/base.scss
  templates/base/base_panels.mako
Labels: area/UI-UX, kind/bug, status/review

#8461 [19.05] Add XML Schema Definition (XSD) for GEDAs
  display_applications/ucsc/interval_as_bed.xml
  display_applications/ucsc/maf_customtrack.xml
  lib/galaxy/datatypes/display_applications/xsd/geda.xsd
Labels: area/datatype-framework, area/documentation, kind/bug

#8468 Don't cleanup integration tests twice.
  lib/galaxy/webapps/galaxy/buildapp.py
  test/base/driver_util.py
Labels: area/testing/integration, kind/bug

#8465 Remove deprecated scripts
  scripts/cleanup_datasets/update_dataset_size.py
  scripts/cleanup_datasets/update_metadata.py
  scripts/sync_reports_config.py
  scripts/transfer.py
Labels: area/cleanup, kind/refactoring

#8470 Fix #975
  scripts/cleanup_datasets/purge_datasets.sh
  scripts/cleanup_datasets/purge_folders.sh
  scripts/cleanup_datasets/purge_histories.sh
  scripts/cleanup_datasets/purge_libraries.sh
Labels: area/scripts, kind/enhancement

#8469 Try separate amqp connection from database for integration testing.
  test/base/driver_util.py
  test/integration/test_data_manager_table_reload.py
Labels: area/testing/integration, kind/bug

#8456 Add file extensions when downloading from data libraries
  lib/galaxy/webapps/galaxy/api/library_datasets.py
Labels: area/libraries, kind/enhancement, status/review

#8104 Swap out galaxy.util.odict for core python collections.OrderedDicts
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/display_applications/application.py
  lib/galaxy/datatypes/registry.py
  lib/galaxy/datatypes/util/gff_util.py
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/managers/collections.py
  lib/galaxy/model/dataset_collections/builder.py
  lib/galaxy/model/metadata.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/openid/providers.py
  lib/galaxy/tool_util/cwl/parser.py
  lib/galaxy/tool_util/cwl/representation.py
  lib/galaxy/tool_util/deps/container_classes.py
  lib/galaxy/tool_util/parser/cwl.py
  lib/galaxy/tool_util/parser/factory.py
  lib/galaxy/tool_util/parser/output_objects.py
  lib/galaxy/tool_util/parser/util.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/history_imp_exp.py
  lib/galaxy/tools/actions/metadata.py
  lib/galaxy/tools/actions/model_operations.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/tools/data/__init__.py
  lib/galaxy/tools/data_manager/manager.py
  lib/galaxy/tools/parameters/__init__.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/tools/wrappers.py
  lib/galaxy/util/odict.py
  lib/galaxy/util/simplegraph.py
  lib/galaxy/util/tool_shed/common_util.py
  lib/galaxy/util/topsort.py
  lib/galaxy/visualization/plugins/registry.py
  lib/galaxy/web/framework/helpers/grids.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy/webapps/reports/framework/grids.py
  lib/galaxy/webapps/tool_shed/controllers/repository_review.py
  lib/galaxy/workflow/extract.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run.py
  lib/tool_shed/capsule/capsule_manager.py
  lib/tool_shed/dependencies/attribute_handlers.py
  lib/tool_shed/galaxy_install/migrate/check.py
  lib/tool_shed/galaxy_install/tool_migration_manager.py
  lib/tool_shed/repository_types/registry.py
  lib/tool_shed/tool_shed_registry.py
  lib/tool_shed/util/review_util.py
  lib/tool_shed/utility_containers/utility_container_manager.py
  test/unit/tools/test_execution.py
  test/unit/workflows/test_extract_summary.py
  tools/filters/secure_hash_message_digest.py
Labels: kind/bug, kind/refactoring

#8477 Fix startup checks when using a Conda env
  scripts/common_startup.sh
  scripts/common_startup_functions.sh
Labels: area/dependencies, kind/bug, status/review

#8315 Config updates for installable Galaxy
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/script.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/documentation, kind/enhancement, status/review

#8334 Update anchor tags and enhance navigation cues for screen readers
  client/galaxy/docs/bootstrap.md
  client/galaxy/docs/galaxy-buttons.md
  client/galaxy/scripts/components/PageEditor/PageEditorHtml.vue
  client/galaxy/scripts/components/Tags/StatelessTags.vue
  client/galaxy/scripts/components/Toolshed/Categories.vue
  client/galaxy/scripts/components/Toolshed/Repositories.vue
  client/galaxy/scripts/components/Toolshed/RepositoryTools.vue
  client/galaxy/scripts/components/Toolshed/ServerSelection.vue
  client/galaxy/scripts/components/login/Login.vue
  client/galaxy/scripts/components/login/Register.vue
  client/galaxy/scripts/layout/masthead.js
  client/galaxy/scripts/legacy/grid/grid-template.js
  client/galaxy/scripts/legacy/grid/grid-view.js
  client/galaxy/scripts/mvc/collection/list-collection-creator.js
  client/galaxy/scripts/mvc/collection/list-of-pairs-collection-creator.js
  client/galaxy/scripts/mvc/grid/grid-template.js
  client/galaxy/scripts/mvc/grid/grid-view.js
  client/galaxy/scripts/mvc/history/hdca-li-edit.js
  client/galaxy/scripts/mvc/library/library-dataset-view.js
  client/galaxy/scripts/mvc/library/library-folderlist-view.js
  client/galaxy/scripts/mvc/library/library-foldertoolbar-view.js
  client/galaxy/scripts/mvc/library/library-librarylist-view.js
  client/galaxy/scripts/mvc/tool/tools.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  client/galaxy/scripts/ui/popupmenu.js
  client/galaxy/scripts/viz/trackster.js
  config/plugins/visualizations/hivtrace/templates/index.mako
  config/plugins/visualizations/unipept/templates/unipept.mako
  templates/webapps/galaxy/dataset/display.mako
  templates/webapps/galaxy/workflow/editor.mako
  templates/webapps/galaxy/workflow/sharing.mako
  templates/webapps/tool_shed/base_panels.mako
Labels: area/UI-UX, kind/enhancement

#8409 argument tag: automatically replace dashes by underscores
  lib/galaxy/tool_util/linters/_util.py
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/linters/outputs.py
  lib/galaxy/tool_util/output_checker.py
  lib/galaxy/tool_util/parser/cwl.py
  lib/galaxy/tool_util/parser/error_level.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/stdio.py
  lib/galaxy/tool_util/parser/util.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/basic.py
  test/unit/tool_util/test_output_checker.py
Labels: area/tool-framework, kind/enhancement, status/review

#8424 Fix authentication provider exception not logged
  lib/galaxy/auth/__init__.py
  lib/galaxy/webapps/galaxy/controllers/user.py
Labels: area/auth, kind/enhancement, status/review

#8446 [PROCEDURES] add Matthias Bernt to the committers group
  doc/source/project/organization.rst
Labels: kind/enhancement, procedures, status/review

#8479 Use default backdrop color for modals
  client/galaxy/style/scss/frame.scss
  client/galaxy/style/scss/ui.scss
Labels: area/UI-UX, kind/bug, status/review

#8078 Delegate config file watching to single handler
  lib/galaxy/app.py
  lib/galaxy/config_watchers.py
  lib/galaxy/model/database_heartbeat.py
  lib/galaxy/queue_worker.py
  lib/galaxy/tools/data_manager/manager.py
  lib/galaxy/tools/toolbox/watcher.py
  lib/galaxy/util/watcher.py
  lib/galaxy/webapps/galaxy/api/configuration.py
  lib/galaxy/webapps/galaxy/api/display_applications.py
  lib/galaxy/webapps/galaxy/api/tool_data.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy/webapps/galaxy/controllers/data_manager.py
  test/unit/queue_worker/test_database_heartbeat.py
  test/unit/queue_worker/test_queue_worker.py
  test/unit/tools/test_toolbox.py
  test/unit/tools/test_watcher.py
Labels: area/cleanup, area/performance, kind/enhancement, kind/refactoring, status/review

#8474 Node is called nodejs in conda land.
  client/.node_version
  scripts/common_startup.sh
Labels: area/dependencies, kind/bug, status/review

#8482 [19.05] Fix zipped files autodetection
  lib/galaxy/datatypes/test/1.excel.xlsx
  lib/galaxy/util/compression_utils.py
Labels: merge

#8485 [19.05] Fix shed_tool_conf isolated tool (not in section) removal
  lib/tool_shed/galaxy_install/tools/tool_panel_manager.py
Labels: area/tool-framework, kind/bug

#8494 Do not warn for not configured ``user_preferences_extra_conf_path``
  lib/galaxy/config/__init__.py
Labels: area/framework, kind/bug, status/review

#8211 new regular expression filter, and efficient sort filter
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/dynamic_options.py
  test/functional/tools/dbkey_filter_multi_input.xml
  test/functional/tools/filter_static_regexp.xml
  test/functional/tools/samples_tool_conf.xml
Labels: triage

#8439 Change 'a when tag has not been defined for' level to debug
  lib/galaxy/tools/__init__.py
Labels: area/framework, kind/enhancement, status/review

#8291 Make styleguide work for vue components.
  client/galaxy/scripts/components/Alert.md
  client/galaxy/scripts/components/Alert.vue
  client/galaxy/scripts/components/Tags/StatelessTags.md
  client/styleguide.config.js
Labels: area/UI-UX, kind/bug, kind/enhancement

#8250 Data managers - allow removal of entries
  doc/source/dev/data_managers.rst
  doc/source/dev/data_managers_schematic_overview.png
  doc/source/dev/index.rst
  lib/galaxy/tools/data_manager/manager.py
  test/functional/tools/data_manager_add.xml
  test/functional/tools/data_manager_add_remove.xml
Labels: area/tool-framework, kind/enhancement, status/review

#8495 Fix two bugs introduced in #8078
  lib/galaxy/model/database_heartbeat.py
  scripts/galaxy-main
Labels: area/framework, kind/bug, minor, status/review

#8499 Auto convert python 2 code files using 2to3
  lib/galaxy/tools/__init__.py
  lib/galaxy/util/template.py
Labels: area/tool-framework, kind/enhancement, status/review

#8475 Enable dynamic reloading of select config options
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config_watchers.py
  lib/galaxy/webapps/config_manage.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/unit/config/test_reload_config.py
  test/unit/config/test_reloadable_properties.py
  test/unit/unittest_utils/galaxy_mock.py
  test/unit/webapps/config_manage/1607_root_filters/config/galaxy.ini
  test/unit/webapps/config_manage/1607_root_filters/config/tool_shed.ini
  test/unit/webapps/config_manage/1607_root_samples/config/galaxy.ini
  test/unit/webapps/config_manage/1607_root_samples/config/reports.ini
  test/unit/webapps/config_manage/1607_root_samples/config/tool_shed.ini
  test/unit/webapps/config_manage/1705_allow_path_paste/config/galaxy.ini
  test/unit/webapps/config_manage/__init__.py
  test/unit/webapps/config_manage/test_appschema.py
  test/unit/webapps/config_manage/test_config_manage.py
Labels: area/admin, area/testing, area/util, kind/feature, kind/refactoring, status/review

#8440 add assert for n_lines in tool output verifications
  lib/galaxy/tool_util/verify/asserts/text.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/functional/tools/validation_default.xml
Labels: area/tools

#8492 [19.05] remove gops from venv list
  lib/galaxy/tools/__init__.py
Labels: area/tool-dependencies, area/tools, kind/bug, status/review

#8490 Fix some data_dir stuff in galaxy.config.
  lib/galaxy/config/__init__.py
Labels: kind/bug, minor

#8503 Documentation update for #8250
  doc/source/dev/data_managers.rst
Labels: triage

#8502 Move config_manage out of webapps/ into config/
  Makefile
  lib/galaxy/config/__init__.py
  lib/galaxy/config/config_manage.py
  test/unit/webapps/config_manage/test_appschema.py
  test/unit/webapps/config_manage/test_config_manage.py
Labels: area/packaging, kind/refactoring, status/review

#8509 Factor out yaml read/write from config_manage.py
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/schema.py
  lib/galaxy/util/yaml_util.py
  test/unit/config/test_schema.py
Labels: kind/refactoring, status/review

#8510 Fix default job metrics in dev/.
  lib/galaxy/config/__init__.py
Labels: area/jobs, kind/bug, minor

#8506 Little more RealTimeTools cleanup.
  lib/galaxy/managers/realtime.py
  scripts/interactivetools/key_type_token_mapping.py
Labels: status/review

#8091 Added option to delete or preserve k8s pods after completion
  lib/galaxy/jobs/runners/kubernetes.py
  test/integration/test_kubernetes_runner.py
Labels: area/admin, area/jobs, status/review

#8523 Small cleanup for job runners kill
  lib/galaxy/jobs/runners/local.py
  lib/galaxy/jobs/runners/util/__init__.py
  lib/galaxy/jobs/runners/util/cli/shell/local.py
  lib/galaxy/jobs/runners/util/kill.py
Labels: area/jobs, kind/enhancement, status/review

#8527 Use default background for scratchbook
  client/galaxy/style/scss/frame.scss
Labels: area/UI-UX, kind/bug, status/review

#8532 merge in 19.05
  display_applications/ucsc/interval_as_bed.xml
  display_applications/ucsc/maf_customtrack.xml
  lib/galaxy/datatypes/display_applications/xsd/geda.xsd
  lib/galaxy/tools/__init__.py
  lib/tool_shed/galaxy_install/tools/tool_panel_manager.py
Labels: merge

#8489 Update requirements and use pyuwsgi
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/pinned-requirements.txt
Labels: area/dependencies, kind/enhancement

#8537 Make InteractiveTools compatible with Let's Encrypt certificates.
  config/galaxy.yml.interactivetools
  lib/galaxy/managers/realtime.py
Labels: kind/enhancement, minor, status/review

#8539 Enable GEDA parameters to declare allow_cors="true"
  display_applications/icn3d/icn3d_simple.xml
  display_applications/intermine/intermine_simple.xml
  lib/galaxy/datatypes/display_applications/application.py
  lib/galaxy/datatypes/display_applications/parameters.py
  lib/galaxy/datatypes/display_applications/xsd/geda.xsd
  lib/galaxy/web/framework/webapp.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
Labels: area/datatypes, area/visualizations, kind/enhancement, status/review

#8538 Improve and refactor process group handling in the local job runners.
  lib/galaxy/jobs/runners/local.py
  lib/galaxy/jobs/runners/util/cli/shell/local.py
  lib/galaxy/jobs/runners/util/process_groups.py
Labels: area/jobs, kind/bug, status/review

#8542 update repo issue handling
  doc/source/project/issues.rst
Labels: area/documentation, kind/enhancement

#8549 Format client
  client/galaxy/scripts/components/Alert.vue
  client/galaxy/scripts/components/Tags/StatelessTags.vue
  client/galaxy/scripts/components/ToolEntryPoints/ToolEntryPoints.vue
  client/galaxy/scripts/components/Toolshed/Categories.vue
  client/galaxy/scripts/components/login/Login.vue
  client/galaxy/scripts/components/login/Register.vue
  client/galaxy/scripts/mvc/entrypoints/poll.js
  client/galaxy/scripts/mvc/entrypoints/view.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
Labels: area/client, kind/refactoring

#8543 Implement workflow invocation reports (🎉 syntax)
  client/galaxy/scripts/components/Markdown/Markdown.vue
  client/galaxy/scripts/components/Markdown/MarkdownEditor.vue
  client/galaxy/scripts/components/WorkflowInvocationReport.vue
  client/galaxy/scripts/entry/analysis/AnalysisRouter.js
  client/galaxy/scripts/mvc/history/history-contents.js
  client/galaxy/scripts/mvc/history/job-states-model.js
  client/galaxy/scripts/mvc/workflow/workflow-canvas.js
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  client/galaxy/scripts/ui/popupmenu.js
  client/package.json
  client/yarn.lock
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0158_workflow_reports.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/workflow/reports/__init__.py
  lib/galaxy/workflow/reports/generators/__init__.py
  lib/galaxy/workflow/reports/generators/markdown.py
  templates/webapps/galaxy/workflow/editor.mako
  test/api/test_workflows.py
  test/base/populators.py
  test/base/workflow_fixtures.py
  test/functional/tools/qc_stdout.xml
  test/functional/tools/sample_datatypes_conf.xml
  test/selenium_tests/test_workflow_run.py
  test/unit/test_markdown_validate.py
  test/unit/workflows/test_workflow_markdown.py
  test/unit/workflows/test_workflow_progress.py
Labels: area/API, area/UI-UX, area/workflows, kind/feature

#8359 catch exceptions occuring in expression validators
  lib/galaxy/tools/parameters/validation.py
Labels: area/tool-framework, kind/enhancement

#8521 Fix killing containers error-ing out jobs.
  lib/galaxy/tool_util/deps/container_classes.py
Labels: area/jobs, kind/bug, minor

#8541 improve API docs
  lib/galaxy/webapps/galaxy/api/folder_contents.py
  lib/galaxy/webapps/galaxy/api/folders.py
  lib/galaxy/webapps/galaxy/api/library_contents.py
  lib/galaxy/webapps/galaxy/api/library_datasets.py
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/API, area/documentation, kind/enhancement

#8544 explicitly declare expression as sql.text
  lib/tool_shed/repository_registry.py
Labels: area/toolshed, kind/bug

#8530 Add API to tag library datasets
  client/galaxy/scripts/mvc/library/library-dataset-view.js
  client/galaxy/scripts/mvc/library/library-folderlist-view.js
  client/galaxy/scripts/mvc/library/library-folderrow-view.js
  lib/galaxy/actions/library.py
  lib/galaxy/managers/library_datasets.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/tools/parameters/grouping.py
  lib/galaxy/webapps/galaxy/api/folder_contents.py
  lib/galaxy/webapps/galaxy/api/library_contents.py
  lib/galaxy/webapps/galaxy/api/library_datasets.py
Labels: area/libraries, kind/enhancement

#8533 [19.05] Hack to fix Pulsar for containerized jobs.
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/pulsar.py
Labels: area/jobs, kind/bug

#8536 Fix/cleanup a few minor things
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/util/watcher.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/unit/config/config_manage/1607_root_filters/config/galaxy.ini
  test/unit/config/config_manage/1607_root_filters/config/tool_shed.ini
  test/unit/config/config_manage/1607_root_samples/config/galaxy.ini
  test/unit/config/config_manage/1607_root_samples/config/reports.ini
  test/unit/config/config_manage/1607_root_samples/config/tool_shed.ini
  test/unit/config/config_manage/1705_allow_path_paste/config/galaxy.ini
  test/unit/config/config_manage/__init__.py
  test/unit/config/config_manage/test_appschema.py
  test/unit/config/config_manage/test_config_manage.py
Labels: area/cleanup, kind/refactoring
