Repository galaxyproject/galaxy, pull requests merged in 2019-05, with the labels that each got.

#7864 Fix comment starttag in oidc sample
  config/oidc_backends_config.xml.sample
Labels: area/documentation, kind/bug, minor

#7865 [19.05] Rev pulsar for latest fixes.
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/jobs, kind/bug

#7819 [19.05] Add shapefile datatype
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/gis.py
  lib/galaxy/jobs/__init__.py
  test/functional/tools/composite_shapefile.xml
  test/functional/tools/sample_datatypes_conf.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/datatypes

#7866 [19.05] Favorite filtering only for logged-in users
  client/galaxy/scripts/entry/panels/tool-panel.js
Labels: kind/bug, minor

#7859 Fix flag for library dataset option in data selector
  client/galaxy/scripts/mvc/ui/ui-select-content.js
Labels: area/UI-UX, kind/bug, status/review

#7875 [19.05] Add Reset button to composite upload interface
  client/galaxy/scripts/mvc/upload/composite/composite-view.js
Labels: area/UI-UX, area/upload, kind/bug, kind/enhancement

#7872 [19.01] Allow composite upload if all non-optional files are selected
  client/galaxy/scripts/mvc/upload/composite/composite-view.js
  client/galaxy/scripts/mvc/upload/upload-model.js
  client/galaxy/scripts/mvc/upload/upload-view.js
Labels: area/UI-UX, area/upload, kind/bug, kind/enhancement, status/review

#7873 Add file missing from #7694
  test/integration/embedded_pulsar_metadata_job_conf.xml
Labels: area/jobs, area/testing/integration, kind/bug

#7870 [19.01] Fix bug preventing handler runner plugin handling.
  lib/galaxy/util/handlers.py
  test/unit/jobs/test_job_configuration.py
Labels: area/jobs, kind/bug

#7877 [19.05] Fix click targeting for quota usage details
  client/galaxy/style/scss/base.scss
Labels: area/UI-UX, kind/bug, status/review

#7885 Fix failing integration test.
  test/integration/simple_job_conf.xml
Labels: area/testing/integration, kind/bug, minor

#7887 [19.05] Update Cheetah dependency, fixes `AssertionError: Requested __call__ …
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/dependencies, kind/bug, status/review

#7891 Raise detailed exception for broken citation
  lib/galaxy/managers/citations.py
Labels: area/tool-framework, kind/enhancement, status/review

#7892 Fix Kubernetes test for job I/O separation.
  test/integration/test_kubernetes_runner.py
Labels: area/jobs, kind/bug

#7857 [19.01] Fix the job config's shared _get_default() method
  lib/galaxy/util/handlers.py
Labels: area/jobs, kind/bug, status/review

#7882 Cleanup job_conf documentation and improve testing.
  config/job_conf.xml.sample_advanced
  test/unit/jobs/test_job_configuration.py
Labels: area/documentation, area/jobs, kind/bug, kind/enhancement, kind/refactoring, status/review

#7871 Align popup/dropdown menu templating
  client/galaxy/scripts/components/Tags/tagService.js
  client/galaxy/scripts/components/login/Login.vue
  client/galaxy/scripts/mvc/collection/list-collection-creator.js
  client/galaxy/scripts/mvc/collection/list-of-pairs-collection-creator.js
  client/galaxy/scripts/mvc/dataset/dataset-li-edit.js
  client/galaxy/scripts/mvc/dataset/dataset-li.js
  client/galaxy/scripts/mvc/history/multi-panel.js
  client/galaxy/scripts/mvc/list/list-view.js
  client/galaxy/scripts/mvc/ui/popup-menu.js
  client/galaxy/scripts/mvc/ui/ui-buttons.js
  client/galaxy/scripts/mvc/workflow/workflow.js
  client/galaxy/scripts/ui/filter-control.js
  client/galaxy/scripts/ui/popupmenu.js
  client/galaxy/style/scss/base.scss
  test/functional/tool-data/testbeta.loc
  test/galaxy_selenium/navigates_galaxy.py
  test/galaxy_selenium/navigation.yml
Labels: area/UI-UX, kind/refactoring, status/review

#7890 Added unit testing section to the client README
  client/README.md
Labels: area/documentation, kind/feature

#7897 Fix config-validate in dev
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: kind/bug, minor

#7896 [19.05] Add local namespaced resolver to default container resolvers
  lib/galaxy/tools/deps/containers.py
Labels: area/performance, area/tool-dependencies, kind/bug, kind/enhancement, status/review

#7895 added dada2 datatypes
  config/datatypes_conf.xml.sample
Labels: area/datatypes, kind/feature, status/review

#7810 Requirejs template purge
  templates/base.mako
  templates/js-app.mako
Labels: area/client-build, kind/bug, status/review

#7670 Track basename at the time of creation for datasets.
  lib/galaxy/jobs/__init__.py
  lib/galaxy/managers/hdas.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0152_add_metadata_file_uuid.py
  lib/galaxy/model/migrate/versions/0154_created_from_basename.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/tools/verify/interactor.py
  test/api/test_libraries.py
  test/functional/tools/output_format.xml
  test/functional/tools/tool_provided_metadata_9.xml
Labels: area/cwl, area/jobs, area/tool-framework, kind/enhancement, status/review

#7750 [19.05] Workflow editor accessibility fixes
  client/galaxy/scripts/mvc/workflow/workflow-view.js
Labels: area/UI-UX, kind/bug, kind/enhancement, status/review

#7824 [19.01] Possible fix for WSGI process issue #7758
  lib/galaxy/objectstore/s3_multipart_upload.py
Labels: area/objectstore, kind/bug, status/review

#7766 [19.01] Catch and filter *all* Slurm cgroup-related messages
  lib/galaxy/jobs/runners/slurm.py
Labels: area/jobs, kind/bug, status/review

#7854 Allow YAML/JSON job configuration.
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/jobs/runners/state_handlers/resubmit.py
  lib/galaxy/web/stack/handlers.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/job_config_schema.yml
  lib/galaxy/workflow/scheduling_manager.py
  test/integration/delay_job_conf.xml
  test/integration/delay_job_conf.yml
  test/integration/embedded_pulsar_metadata_job_conf.xml
  test/integration/embedded_pulsar_metadata_job_conf.yml
  test/integration/io_injection_job_conf.xml
  test/integration/io_injection_job_conf.yml
  test/integration/resubmission_default_job_conf.xml
  test/integration/resubmission_default_job_conf.yml
  test/integration/resubmission_dynamic_job_conf.xml
  test/integration/resubmission_job_conf.xml
  test/integration/resubmission_job_conf.yml
  test/integration/resubmission_job_resource_parameters_conf.xml
  test/integration/resubmission_rules/rules.py
  test/integration/resubmission_small_memory_job_conf.xml
  test/integration/test_job_environments.py
  test/integration/test_job_recovery.py
  test/integration/test_job_resubmission.py
  test/integration/test_pulsar_embedded_metadata.py
  test/unit/jobs/job_conf.sample_advanced.yml
  test/unit/jobs/test_job_configuration.py
Labels: area/jobs, kind/enhancement, status/review

#7906 [19.05] Fix multi-history copying of collections.
  client/galaxy/scripts/mvc/history/history-contents.js
Labels: area/UI-UX, area/dataset-collections, kind/bug, status/review

#7880 [19.05] Allow typing e in float param field
  client/galaxy/scripts/mvc/ui/ui-slider.js
Labels: area/UI-UX, kind/bug

#7904 [19.05] Fix application of history default permissions to anonymous histories carried over upon login
  lib/galaxy/web/framework/webapp.py
Labels: area/auth, area/security, kind/bug, status/review

#7808 Remove GFF headers during conversion.
  tools/filters/bed_to_gff_converter.py
Labels: kind/bug, status/review

#7911 Remove ``file`` attribute of bibtex citation
  lib/galaxy/managers/citations.py
  lib/galaxy/tools/__init__.py
  test/unit/tools/test_citations.py
Labels: area/tool-framework, kind/enhancement, status/review

#7909 Merge release_19.05 into dev.
  client/galaxy/scripts/mvc/history/history-contents.js
  client/galaxy/scripts/mvc/ui/ui-slider.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/jobs/runners/slurm.py
  lib/galaxy/objectstore/s3_multipart_upload.py
  lib/galaxy/tools/deps/containers.py
  lib/galaxy/web/framework/webapp.py
  lib/galaxy/web/stack/handlers.py
  test/integration/delay_job_conf.yml
  test/unit/jobs/job_conf.sample_advanced.yml
Labels: merge

#7867 [19.05] Run futurize for python2 cheetah templates, fix scope issue for py3 comprehensions
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/parser/cwl.py
  lib/galaxy/tools/parser/interface.py
  lib/galaxy/tools/parser/xml.py
  lib/galaxy/tools/parser/yaml.py
  lib/galaxy/tools/xsd/galaxy.xsd
  lib/galaxy/util/template.py
  lib/galaxy/webapps/galaxy/controllers/tag.py
  lib/galaxy/workflow/modules.py
  test/base/api.py
  test/unit/tools/test_evaluation.py
  test/unit/tools/test_fill_template.py
Labels: area/python3, kind/enhancement, status/review

#7916 [19.05] Remove GFF headers during conversion and test fix
  tools/filters/bed2gff.xml
  tools/filters/bed_to_gff_converter.py
Labels: kind/bug, status/review

#7918 Update instructions on conda upgrade
  doc/source/admin/conda_faq.rst
Labels: area/documentation, kind/bug, status/review

#7925 [19.05] Fix default image
  config/plugins/interactive_environments/rstudio/config/allowed_images.yml.sample
Labels: kind/bug

#7923 [19.05] Fix community tags showing JSON file
  client/galaxy/scripts/components/Tags/mounts.js
  templates/display_common.mako
  templates/tagging_common.mako
Labels: area/UI-UX, kind/bug

#7908 Fix help text in ftp-uploader dialog
  client/galaxy/scripts/mvc/upload/upload-ftp.js
Labels: area/UI-UX, kind/bug, status/review

#7929 Use transparent background in default welcome page
  static/welcome.html.sample
Labels: area/UI-UX, kind/enhancement, status/review

#7917 [19.05] Interactive Environment Fixes
  client/galaxy/scripts/bundleEntries.js
  client/galaxy/scripts/galaxy.interactive_environments.js
  config/galaxy.yml.sample
  config/plugins/interactive_environments/askomics/static/js/askomics.js
  config/plugins/interactive_environments/askomics/static/js/main.js
  config/plugins/interactive_environments/askomics/templates/askomics.mako
  config/plugins/interactive_environments/bam_iobio/static/js/main.js
  config/plugins/interactive_environments/bam_iobio/templates/bam_iobio.mako
  config/plugins/interactive_environments/cellxgene/templates/cellxgene.mako
  config/plugins/interactive_environments/common/templates/ie.mako
  config/plugins/interactive_environments/ethercalc/static/js/main.js
  config/plugins/interactive_environments/ethercalc/templates/ethercalc.mako
  config/plugins/interactive_environments/hicbrowser/static/js/main.js
  config/plugins/interactive_environments/hicbrowser/templates/hicbrowser.mako
  config/plugins/interactive_environments/jupyter/static/js/main.js
  config/plugins/interactive_environments/jupyter/templates/jupyter.mako
  config/plugins/interactive_environments/neo/static/js/main.js
  config/plugins/interactive_environments/neo/templates/neo.mako
  config/plugins/interactive_environments/phinch/static/js/main.js
  config/plugins/interactive_environments/phinch/static/js/phinch.js
  config/plugins/interactive_environments/phinch/templates/phinch.mako
  config/plugins/interactive_environments/rstudio/static/js/main.js
  config/plugins/interactive_environments/rstudio/static/js/rstudio.js
  config/plugins/interactive_environments/rstudio/templates/rstudio.mako
  doc/source/admin/galaxy_options.rst
  doc/source/admin/special_topics/interactive_environments.rst
  doc/source/dev/interactive_environments.rst
  lib/galaxy/visualization/plugins/interactive_environments.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/client-build, area/visualizations, kind/bug, kind/refactoring, status/review

#7934 [19.05] Fix doc building
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: area/documentation, kind/bug, status/review

#7933 [19.05] Fix upload of gzipped VCF files
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/test/vcf_gzipped.vcf.gz
  test/integration/test_datatype_upload.py
  test/unit/datatypes/test_vcf.py
Labels: area/datatypes, kind/bug, status/review

#7935 Remove view button, fix library flag in data dialog
  client/galaxy/scripts/components/DataDialog/DataDialog.test.js
  client/galaxy/scripts/components/DataDialog/DataDialog.vue
  client/galaxy/scripts/components/DataDialog/DataDialogSearch.vue
  client/galaxy/scripts/components/DataDialog/DataDialogTable.vue
  client/galaxy/scripts/entry/panels/tool-panel.js
  client/galaxy/scripts/mvc/ui/ui-select-content.js
  client/galaxy/scripts/mvc/upload/composite/composite-view.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
Labels: area/UI-UX, kind/bug, status/review

#7954 [19.05] Fix job working directory in stdout
  lib/galaxy/metadata/__init__.py
Labels: kind/bug, minor, status/review

#7943 [19.05] Listen to history changes in tool form until job has been submitted
  client/galaxy/scripts/mvc/tool/tool-form-base.js
  client/galaxy/scripts/mvc/tool/tool-form.js
Labels: area/UI-UX, kind/bug, status/review

#7944 [19.05] Allow mapping over of expression tool params
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run.py
  test/api/test_workflows.py
  test/functional/tools/parse_values_from_file.xml
  test/functional/tools/samples_tool_conf.xml
  tools/expression_tools/parse_values_from_file.xml
Labels: area/UI-UX, area/workflows, kind/bug, kind/enhancement, status/review

#7955 [19.05] Re-version 19.05 as 19.05 - introducing the new 19.05.
  lib/galaxy/version.py
Labels: merge, minor

#7956 [19.05] Backport requirejs inclusion in templates removal
  templates/base.mako
  templates/js-app.mako
Labels: merge, status/review

#7958 [19.05] Backport of revise data dialog #7935
  client/galaxy/scripts/components/DataDialog/DataDialog.test.js
  client/galaxy/scripts/components/DataDialog/DataDialog.vue
  client/galaxy/scripts/components/DataDialog/DataDialogSearch.vue
  client/galaxy/scripts/components/DataDialog/DataDialogTable.vue
  client/galaxy/scripts/components/Tags/tagService.js
  client/galaxy/scripts/components/login/Login.vue
  client/galaxy/scripts/entry/panels/tool-panel.js
  client/galaxy/scripts/galaxy.interactive_environments.js
  client/galaxy/scripts/mvc/ui/ui-select-content.js
  client/galaxy/scripts/mvc/upload/composite/composite-view.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
Labels: merge

#7927 change keyboard input for floats and switch to es6 features
  client/galaxy/scripts/mvc/ui/ui-slider.js
Labels: area/UI-UX, kind/refactoring, status/review

#7966 output_checker: fixed wrong comparison
  lib/galaxy/jobs/output_checker.py
Labels: area/jobs, kind/bug, status/review

#7945 cellxgene GIE: use API to get datasets.
  config/plugins/interactive_environments/cellxgene/config/allowed_images.yml.sample
  config/plugins/interactive_environments/cellxgene/docker/Dockerfile
  config/plugins/interactive_environments/cellxgene/docker/run_cellxgene.sh
  config/plugins/interactive_environments/cellxgene/templates/cellxgene.mako
Labels: area/GIEs, kind/enhancement, status/review

#7953 Fix populators.py workflow testing for non-text inputs.
  test/base/populators.py
Labels: area/testing, kind/bug, status/review

#7969 [19.05] Backport 7966
  lib/galaxy/jobs/output_checker.py
Labels: kind/bug, merge

#7972 [19.05] Include type in subworkflow parameter input module
  lib/galaxy/workflow/modules.py
Labels: area/workflows/subworkflows, kind/bug, status/review

#7790 Vue rewrite of admin jobs page
  client/galaxy/scripts/components/admin/Jobs.vue
  client/galaxy/scripts/entry/admin/AdminRouter.js
  client/galaxy/scripts/entry/panels/admin-panel.js
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  templates/admin/jobs.mako
Labels: area/UI-UX, kind/refactoring

#7979 [19.05] Fix attachable for multiple="true" list input
  client/galaxy/scripts/mvc/workflow/workflow-terminals.js
Labels: area/UI-UX, area/workflows, kind/bug

#7983 Fixed wrong example for amqp_ack_republish_time in job_conf.xml.sample_advanced
  config/job_conf.xml.sample_advanced
Labels: triage

#7985 Only show colon when a port exists in URL
  client/galaxy/scripts/components/Sharing.vue
Labels: area/UI-UX, kind/bug

#7986 Fix Selenium tests for job management screenshot.
  client/galaxy/scripts/components/admin/Jobs.vue
  test/selenium_tests/test_admin_app.py
Labels: area/UI-UX, area/jobs, area/testing/selenium, kind/bug, minor, status/review

#7991 remove href from a tag to prevent backbone page reload and change som…
  client/galaxy/scripts/components/Sharing.vue
Labels: triage

#7939 Fix non-eager object store with nested object stores
  lib/galaxy/model/__init__.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/tools/parameters/output_collect.py
  lib/galaxy/tools/wrappers.py
  run_tests.sh
  test/base/driver_util.py
  test/unit/jobs/test_job_wrapper.py
  test/unit/test_model_store.py
  test/unit/tools/test_actions.py
  test/unit/tools/test_collect_primary_datasets.py
Labels: kind/bug, status/review

#7999 [19.01] Fix variable name for work mem in pgcleanup.py
  scripts/cleanup_datasets/pgcleanup.py
Labels: area/cleanup, kind/bug, status/review

#7995 Datatype I/O fixes
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/test/0_nonewline
  lib/galaxy/datatypes/test/1imzml
  lib/galaxy/datatypes/test/dosimzml
  test/integration/test_datatype_upload.py
  test/unit/datatypes/test_data.py
  test/unit/datatypes/test_sniff.py
Labels: area/datatype-framework, kind/bug, status/review

#7952 Fix extra newlines in peek code.
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/test/0_nonewline
  test/integration/test_datatype_upload.py
  test/unit/datatypes/test_data.py
Labels: area/datatype-framework, kind/bug

#7967 [19.05] Use node-watch instead of fs.watch to watch for db changes
  lib/galaxy/web/proxy/js/lib/mapper.js
  lib/galaxy/web/proxy/js/package.json
Labels: area/GIEs, kind/bug, kind/enhancement, status/review

#8000 [19.05] Backport #7995
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/test/0_nonewline
  lib/galaxy/datatypes/test/1imzml
  lib/galaxy/datatypes/test/dosimzml
  test/integration/test_datatype_upload.py
  test/unit/datatypes/test_data.py
  test/unit/datatypes/test_sniff.py
Labels: area/datatype-framework, kind/bug, status/review

#7993 Add mcool datatypeand extend h5 tool output testing
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/matrix.mcool
  lib/galaxy/tools/verify/asserts/hdf5.py
  lib/galaxy/tools/xsd/galaxy.xsd
  test/functional/tools/validation_hdf5.xml
Labels: area/datatypes

#8002 [19.01] Fix use of pgcleanup's purge_deleted_users when there are no users to purge
  scripts/cleanup_datasets/pgcleanup.py
Labels: area/cleanup, kind/bug, status/review

#8003 Merge 19.01 into 19.05
  scripts/cleanup_datasets/pgcleanup.py
Labels: merge

#7980 output_checker: fix superficial condition
  lib/galaxy/jobs/output_checker.py
Labels: area/jobs, kind/refactoring, status/review

#8004 [19.05] Add missing commits from #7995 backport
  lib/galaxy/datatypes/sniff.py
  test/unit/datatypes/test_sniff.py
Labels: triage

#8001 Don't close popup menu if header item is clicked
  client/galaxy/scripts/mvc/ui/popup-menu.js
Labels: area/UI-UX, kind/bug

#7989 [19.05] Update tool output datatype in workflow editor if datatype changes
  client/galaxy/scripts/mvc/workflow/workflow-forms.js
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  client/galaxy/scripts/mvc/workflow/workflow-node.js
  client/galaxy/scripts/mvc/workflow/workflow-terminals.js
  client/galaxy/scripts/mvc/workflow/workflow-view-data.js
  client/galaxy/scripts/mvc/workflow/workflow-view-node.js
  client/galaxy/scripts/mvc/workflow/workflow-view-terminals.js
  client/galaxy/scripts/qunit/tests/workflow_editor_tests.js
  lib/galaxy/managers/workflows.py
Labels: area/UI-UX, area/workflows, area/workflows/subworkflows, kind/bug, kind/enhancement, status/review

#7665 Authnz UI and associated api
  client/.eslintrc.js
  client/galaxy/scripts/components/MaskedInput.js
  client/galaxy/scripts/components/User/CloudAuth/CloudAuth.test.js
  client/galaxy/scripts/components/User/CloudAuth/CloudAuth.vue
  client/galaxy/scripts/components/User/CloudAuth/CloudAuthItem.vue
  client/galaxy/scripts/components/User/CloudAuth/CredentialConfig.vue
  client/galaxy/scripts/components/User/CloudAuth/CredentialForm.vue
  client/galaxy/scripts/components/User/CloudAuth/index.js
  client/galaxy/scripts/components/User/CloudAuth/model/AwsConfig.js
  client/galaxy/scripts/components/User/CloudAuth/model/AwsConfig.test.js
  client/galaxy/scripts/components/User/CloudAuth/model/AzureConfig.js
  client/galaxy/scripts/components/User/CloudAuth/model/AzureConfig.test.js
  client/galaxy/scripts/components/User/CloudAuth/model/BaseModel.js
  client/galaxy/scripts/components/User/CloudAuth/model/Credential.js
  client/galaxy/scripts/components/User/CloudAuth/model/Credential.test.js
  client/galaxy/scripts/components/User/CloudAuth/model/IdentityProvider.js
  client/galaxy/scripts/components/User/CloudAuth/model/ResourceProviders.js
  client/galaxy/scripts/components/User/CloudAuth/model/index.js
  client/galaxy/scripts/components/User/CloudAuth/model/service.js
  client/galaxy/scripts/components/User/CloudAuth/testdata/listCredentials.json
  client/galaxy/scripts/entry/analysis/AnalysisRouter.js
  client/galaxy/scripts/mvc/user/user-preferences.js
  client/galaxy/scripts/utils/safeAssign.js
  client/galaxy/style/scss/mixins.scss
  client/package.json
  client/webpack.config.js
  client/yarn.lock
  lib/galaxy/managers/cloudauthzs.py
Labels: area/auth, kind/feature, status/review

#8009 Change username to public name
  client/galaxy/scripts/components/login/Login.vue
  client/galaxy/scripts/mvc/user/user-preferences.js
Labels: triage

#8016 Refactor comments in sample object stores to remove nested comments.
  config/object_store_conf.xml.sample
Labels: area/documentation, kind/bug

#8021 [19.05] Fix repo cache when no install database is present
  lib/galaxy/tools/cache.py
Labels: kind/bug

#8029 [19.05] Disable create user button while request is being processed
  client/galaxy/scripts/components/login/Register.vue
Labels: area/UI-UX, kind/bug, status/review

#8032 [19.01] Backport #7799 Skip recording workflow outputs for input parameters
  lib/galaxy/model/__init__.py
Labels: area/workflows, kind/bug, merge, status/review

#8022 Rework dataset job properties tables into components+APIs
  client/galaxy/scripts/bundleEntries.js
  client/galaxy/scripts/components/JobMetrics/JobMetrics.vue
  client/galaxy/scripts/components/JobMetrics/index.js
  client/galaxy/scripts/components/JobMetrics/mount.js
  client/galaxy/scripts/components/JobParameters/JobParameters.vue
  client/galaxy/scripts/components/JobParameters/index.js
  client/galaxy/scripts/components/JobParameters/mount.js
  lib/galaxy/managers/jobs.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/buildapp.py
  templates/show_params.mako
  test/base/populators.py
Labels: area/API, area/UI-UX, area/jobs, kind/enhancement, kind/refactoring, status/review

#8025 Es6 upgrades in galaxy.js
  client/galaxy/scripts/app/galaxy.js
Labels: kind/refactoring

#8024 History menu (cog) updates.
  client/galaxy/scripts/components/Sharing.vue
  client/galaxy/scripts/layout/menu.js
  client/galaxy/scripts/mvc/history/options-menu.js
  client/galaxy/scripts/mvc/ui/ui-slider.js
  client/galaxy/scripts/mvc/workflow/workflow-terminals.js
  test/galaxy_selenium/navigation.yml
  test/selenium_tests/test_histories_list.py
Labels: area/UI-UX, kind/enhancement, kind/refactoring

#8028 switch var to let and const for vue components
  client/galaxy/scripts/components/Citations.vue
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
  client/galaxy/scripts/components/Select2.js
  client/galaxy/scripts/components/Tags/tagService.test.js
  client/galaxy/scripts/components/admin/DataManager/DataManager.vue
  client/galaxy/scripts/components/admin/DataTypes.vue
Labels: kind/refactoring

#8023 Fix column assign bug
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/jobs/actions/post.py
  lib/galaxy/workflow/modules.py
  test/api/test_workflows.py
Labels: area/workflows, kind/bug

#8034 es6 upgrades in entry folder
  client/galaxy/scripts/entry/admin/AdminRouter.js
  client/galaxy/scripts/entry/analysis/AnalysisRouter.js
  client/galaxy/scripts/entry/login/index.js
  client/galaxy/scripts/entry/panels/admin-panel.js
  client/galaxy/scripts/entry/panels/history-panel.js
  client/galaxy/scripts/entry/panels/tool-panel.js
Labels: kind/refactoring

#8010 [19.05] Use byte comparison for contains and files_re_match
  lib/galaxy/tools/verify/__init__.py
  test/unit/test_verify.py
Labels: area/tool-framework, kind/bug, status/review

#8039 [19.05] Backport 7939: Fix non-eager object store with nested object stores
  lib/galaxy/model/__init__.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/tools/parameters/output_collect.py
  lib/galaxy/tools/wrappers.py
  run_tests.sh
  test/base/driver_util.py
  test/unit/jobs/test_job_wrapper.py
  test/unit/test_model_store.py
  test/unit/tools/test_actions.py
  test/unit/tools/test_collect_primary_datasets.py
Labels: area/objectstore, kind/bug

#8048 [19.05] Update Conda for new installs to v4.6.14
  lib/galaxy/tools/deps/conda_util.py
Labels: area/tool-dependencies, kind/enhancement, status/review

#8046 Fix Selenium DatasetPopulator for more interesting uploads.
  test/selenium_tests/framework.py
Labels: area/testing/selenium, kind/bug

#8038 Database operation tool improvements
  lib/galaxy/model/tags.py
  lib/galaxy/tools/relabel_from_file.xml
  lib/galaxy/tools/tag_collection_from_file.xml
  test-data/new_tags_1.txt
Labels: area/UI-UX, area/tools, status/review

#8045 Fixes for JobParameters Vue components.
  client/galaxy/scripts/components/JobParameters/JobParameters.vue
Labels: area/UI-UX, area/jobs, kind/bug, minor

#8040 [19.05] Update node.post_job_actions when changing post job actions
  client/galaxy/scripts/mvc/workflow/workflow-node.js
  client/galaxy/scripts/mvc/workflow/workflow-view-node.js
Labels: area/client, area/workflows, status/review

#8050 Fix stream_to_open_named_file for non-utf8 text
  lib/galaxy/datatypes/sniff.py
Labels: area/upload, kind/bug, status/review

#8059 [19.01] Fixes for job handler and worklflow scheduler self-assignment grab limits
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/util/handlers.py
  lib/galaxy/workflow/scheduling_manager.py
Labels: area/documentation, area/jobs, kind/bug, status/review

#8060 [19.01] Document the handler max_grab config param
  config/job_conf.xml.sample_advanced
Labels: area/documentation, area/jobs, kind/bug, status/review

#8061 Fix typo grap -> grab
  lib/galaxy/web/stack/handlers.py
Labels: area/jobs, kind/bug, status/review

#8056 [19.05] Release ampq connection after initial connect
  lib/galaxy/queue_worker.py
Labels: area/database, area/framework, kind/bug, status/review

#8036 Prefer const and let over var in layout folder
  client/galaxy/scripts/layout/communication-server-view.js
  client/galaxy/scripts/layout/data.js
  client/galaxy/scripts/layout/masthead.js
  client/galaxy/scripts/layout/menu.js
  client/galaxy/scripts/layout/modal.js
  client/galaxy/scripts/layout/page.js
  client/galaxy/scripts/layout/panel.js
  client/galaxy/scripts/layout/router.js
  client/galaxy/scripts/layout/scratchbook.js
Labels: area/cleanup, area/client, status/review

#8035 enhance TS repo search capabilities
  config/tool_shed.yml.sample
  lib/galaxy/webapps/tool_shed/api/repositories.py
  lib/galaxy/webapps/tool_shed/api/tools.py
  lib/galaxy/webapps/tool_shed/config_schema.yml
  lib/galaxy/webapps/tool_shed/search/repo_search.py
  lib/galaxy/webapps/tool_shed/search/tool_search.py
  scripts/tool_shed/build_ts_whoosh_index.py
Labels: area/API, area/toolshed, kind/feature, status/review
