Repository galaxyproject/galaxy, pull requests merged in 2019-07, with the labels that each got.

#8231 [19.05] Fix cancelling jobs with a message from the admin panel
  lib/galaxy/jobs/handler.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/verify/interactor.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  test/integration/test_local_job_cancellation.py
Labels: area/jobs, kind/bug, status/review

#8254 [19.05] Fix regex rule count
  client/galaxy/scripts/mvc/rules/rule-definitions.js
Labels: area/UI-UX, area/dataset-collections, kind/bug

#8256 Adjust minimum tag length
  lib/galaxy/model/tags.py
Labels: area/UI-UX, kind/enhancement

#7905 Implement "xref" tag on the tool structure (with visualisation)
  client/galaxy/scripts/components/xrefs.vue
  client/galaxy/scripts/mvc/tool/tool-form-base.js
  doc/schema_template.md
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/__init__.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/buildapp.py
  test/unit/tools/test_parsing.py
Labels: area/UI-UX, area/tool-framework, kind/enhancement

#8268 Ignore files in database/shed_tools directory
  .gitignore
Labels: area/admin, kind/enhancement, status/review

#8266 Move loader_directory from tools to tool_util
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tool_util/deps/dockerfiles.py
  lib/galaxy/tool_util/loader_directory.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tools/toolbox/base.py
  lib/tool_shed/metadata/metadata_generator.py
  packages/test.sh
  scripts/tool_shed/build_ts_whoosh_index.py
Labels: area/tool-framework, kind/enhancement

#8269 test packages/job_execution
  packages/job_execution/tests/test_metadata.py
  packages/test.sh
Labels: area/testing, kind/bug

#8276 Move linters from tools into tool_util
  lib/galaxy/tool_util/lint.py
  lib/galaxy/tool_util/linters/__init__.py
  lib/galaxy/tool_util/linters/_util.py
  lib/galaxy/tool_util/linters/citations.py
  lib/galaxy/tool_util/linters/command.py
  lib/galaxy/tool_util/linters/cwl.py
  lib/galaxy/tool_util/linters/general.py
  lib/galaxy/tool_util/linters/help.py
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/linters/outputs.py
  lib/galaxy/tool_util/linters/stdio.py
  lib/galaxy/tool_util/linters/tests.py
  lib/galaxy/tool_util/linters/xml_order.py
  packages/tool_util/setup.py
Labels: area/framework, area/tool-framework, kind/enhancement

#8275 Fix small issues
  client/galaxy/docs/bootstrap.md
  client/galaxy/scripts/components/PluginList.vue
  client/galaxy/scripts/components/Tags/model.js
  client/galaxy/scripts/entry/analysis/AnalysisRouter.js
  client/galaxy/scripts/layout/communication-server-view.js
  client/galaxy/scripts/layout/masthead.js
  client/galaxy/scripts/mvc/collection/collection-model.js
  client/galaxy/scripts/mvc/collection/list-of-pairs-collection-creator.js
  client/galaxy/scripts/mvc/history/history-contents.js
  client/galaxy/scripts/mvc/history/history-list.js
  client/galaxy/scripts/mvc/history/history-view.js
  client/galaxy/scripts/mvc/history/multi-panel.js
  client/galaxy/scripts/mvc/job/job-li.js
  client/galaxy/scripts/mvc/lazy/lazy-limited.js
  client/galaxy/scripts/mvc/library/library-foldertoolbar-view.js
  client/galaxy/scripts/mvc/library/library-model.js
  client/galaxy/scripts/mvc/list/list-item.js
  client/galaxy/scripts/mvc/list/list-view.js
  client/galaxy/scripts/mvc/rules/rule-definitions.js
  client/galaxy/scripts/mvc/tag.js
  client/galaxy/scripts/mvc/toolshed/repository-view.js
  client/galaxy/scripts/mvc/toolshed/util.js
  client/galaxy/scripts/mvc/visualization/chart/views/description.js
  client/galaxy/scripts/mvc/workflow/workflow-node.js
  client/galaxy/scripts/mvc/workflow/workflow-terminals.js
  client/galaxy/scripts/mvc/workflow/workflow-view-node.js
  client/galaxy/scripts/mvc/workflow/workflow-view-terminals.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  client/galaxy/scripts/qunit/tests/workflow_editor_tests.js
  client/galaxy/scripts/reports/run_stats.js
  client/galaxy/scripts/ui/peek-column-selector.js
  client/galaxy/scripts/ui/popupmenu.js
  client/galaxy/scripts/utils/installMonitor.js
  client/galaxy/scripts/viz/trackster/filters.js
  client/galaxy/style/scss/autocomplete_tagging.scss
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/frame.scss
  client/galaxy/style/scss/history.scss
  client/galaxy/style/scss/overrides.scss
  client/galaxy/style/scss/trackster.scss
  client/galaxy/style/scss/ui.scss
Labels: area/client, kind/refactoring, status/review

#8281 Sortable library
  client/galaxy/scripts/mvc/library/library-dataset-view.js
  client/galaxy/scripts/mvc/library/library-folderlist-view.js
  client/galaxy/scripts/mvc/library/library-model.js
  client/galaxy/scripts/mvc/library/library-util.js
  lib/galaxy/webapps/galaxy/api/folder_contents.py
Labels: area/libraries, kind/enhancement, status/review

#8277 Data libraries folder filter
  client/galaxy/scripts/mvc/library/library-folderlist-view.js
  client/galaxy/scripts/mvc/library/library-foldertoolbar-view.js
  client/galaxy/scripts/mvc/library/library-model.js
Labels: area/libraries, kind/feature, status/review

#8152 Re-try dependency manager serialization and embedded config.
  lib/galaxy/config.py
  lib/galaxy/model/tool_shed_install/__init__.py
  lib/galaxy/tool_util/deps/__init__.py
  lib/galaxy/tool_util/deps/resolvers/conda.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/tool_shed/galaxy_install/dependency_display.py
  lib/tool_shed/galaxy_install/install_manager.py
  lib/tool_shed/galaxy_install/tool_dependencies/recipe/step_handler.py
  lib/tool_shed/galaxy_install/tool_migration_manager.py
  lib/tool_shed/util/tool_dependency_util.py
  scripts/manage_tool_dependencies.py
  templates/admin/tool_shed_repository/common.mako
  templates/admin/tool_shed_repository/install_tool_dependencies_with_update.mako
  templates/admin/tool_shed_repository/uninstall_tool_dependencies.mako
  test/unit/tools/test_tool_deps.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/tool-dependencies, kind/bug, kind/enhancement, status/review

#8289 Fix typo in run_tests.sh help text
  run_tests.sh
Labels: triage

#8293 package-ify top-level Python files in lib/galaxy.
  lib/galaxy/app.py
  lib/galaxy/config_watchers.py
  packages/app/galaxy/app.py
  packages/app/galaxy/config.py
  packages/app/galaxy/config_watchers.py
  packages/app/galaxy/main.py
  packages/app/galaxy/queue_worker.py
  packages/app/galaxy/queues.py
  packages/app/galaxy/version.py
  test/unit/tools/test_toolbox.py
Labels: area/framework, kind/bug, kind/enhancement, kind/refactoring

#8280 get tests on data package running
  lib/galaxy/datatypes/converters/maf_to_fasta_converter.py
  lib/galaxy/datatypes/converters/maf_to_interval_converter.py
  lib/galaxy/datatypes/test/temp2.txt
  lib/galaxy/datatypes/util/maf_utilities.py
  lib/galaxy/model/tool_shed_install/__init__.py
  lib/galaxy/tools/util/maf_utilities.py
  lib/galaxy/util/tool_shed/__init__.py
  lib/galaxy/util/tool_shed/common_util.py
  lib/galaxy/util/tool_shed/encoding_util.py
  lib/galaxy/util/tool_shed/xml_util.py
  lib/tool_shed/util/common_util.py
  lib/tool_shed/util/encoding_util.py
  lib/tool_shed/util/xml_util.py
  packages/data/requirements.txt
  packages/data/tests/unittest_utils/__init__.py
  packages/data/tests/unittest_utils/tempfilecache.py
  packages/data/tests/unittest_utils/utility.py
  packages/test.sh
  packages/util/requirements.txt
Labels: area/database, area/datatype-framework, area/framework, area/security, kind/enhancement, status/review

#8302 dummy tests for containers package
  packages/containers/tests/test_containers.py
  packages/test.sh
  test/unit/test_containers.py
Labels: area/framework, area/testing, status/review

#8285 Some work on tool menu styles
  client/galaxy/scripts/entry/panels/tool-panel.js
  client/galaxy/style/scss/base.scss
  templates/webapps/galaxy/workflow/editor.mako
Labels: area/UI-UX, kind/enhancement, status/review

#8306 Remove psyco_full.py - unused as far as I can tell.
  doc/source/lib/modules.rst
  doc/source/lib/psyco_full.rst
  lib/psyco_full.py
Labels: area/cleanup, kind/enhancement

#8290 Don't show the pip progress bar when installing under CI
  packages/test.sh
  scripts/common_startup.sh
  tox.ini
Labels: area/testing, kind/bug, status/review

#8304 Use temporary file for sniff tests
  lib/galaxy/datatypes/test/temp2.txt
  test/unit/datatypes/test_sniff.py
Labels: area/testing, kind/bug, status/review

#8310 Add and run tests for auth package
  packages/auth/tests/test_auth.py
  packages/test.sh
  test/unit/test_auth.py
Labels: area/auth, area/testing, kind/enhancement, status/review

#8305 Remove log_tempfile.
  doc/source/lib/log_tempfile.rst
  doc/source/lib/modules.rst
  lib/log_tempfile.py
  scripts/paster.py
Labels: area/cleanup, kind/enhancement

#8257 Fix and unify search bar handling
  client/galaxy/scripts/components/PluginList.vue
  client/galaxy/scripts/mvc/collection/list-of-pairs-collection-creator.js
  client/galaxy/scripts/mvc/tool/tools.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/history.scss
  client/galaxy/style/scss/theme/blue.scss
  client/galaxy/style/scss/ui/search-input.scss
  templates/webapps/galaxy/workflow/editor.mako
Labels: area/UI-UX, kind/bug, status/review

#8307 Remove mimeparse package in lib/ root.
  doc/source/lib/mimeparse.rst
  doc/source/lib/modules.rst
  lib/mimeparse.py
Labels: area/cleanup, kind/enhancement

#7402 Activate api-based Toolshed interface in Admin panel
  client/galaxy/scripts/entry/panels/admin-panel.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/managers/configuration.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  templates/webapps/galaxy/admin/tool_sheds.mako
  test/shed_functional/base/twilltestcase.py
  test/shed_functional/functional/test_1000_install_basic_repository.py
Labels: area/UI-UX, kind/refactoring, status/WIP

#8320 Merge 19.05 20190709
  client/galaxy/scripts/mvc/rules/rule-definitions.js
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/util/job_script/DEFAULT_JOB_FILE_TEMPLATE.sh
  lib/galaxy/managers/jobs.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrate/versions/0145_add_workflow_step_input.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/verify/interactor.py
  lib/galaxy/workflow/run.py
  test/integration/test_local_job_cancellation.py
Labels: merge

#8319 Use lowercase true/false in config_schema.yml
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/documentation, kind/enhancement, status/review

#8321 Fix kubernetes runner on py3
  lib/galaxy/jobs/runners/util/pykube_util.py
Labels: area/jobs, area/python3, kind/bug, status/review

#8324 Updates interactor to not ignore numbers in user email address
  lib/galaxy/tools/verify/interactor.py
Labels: area/testing/api, kind/bug, status/review

#8323 Restore docs building
  doc/Makefile
Labels: area/documentation, kind/bug, status/review

#8300 Skip migrations on entirely clean new databases
  lib/galaxy/config/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/check.py
  lib/galaxy/model/tool_shed_install/migrate/check.py
Labels: area/database, kind/enhancement, status/review

#8296 Add ability to strip whitespace from tool environment_variables.
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/evaluation.py
Labels: area/tool-framework, area/tools, kind/enhancement

#8292 [19.05] Pass through tool defined environment_variables to Docker.
  lib/galaxy/tools/__init__.py
Labels: area/dependencies, area/tools, kind/bug

#8294 Library date propagate
  client/galaxy/scripts/mvc/library/library-dataset-view.js
  client/galaxy/scripts/mvc/library/library-folderlist-view.js
  client/galaxy/scripts/mvc/library/library-util.js
  lib/galaxy/managers/library_datasets.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/api/folder_contents.py
  test/api/test_libraries.py
Labels: area/libraries, kind/enhancement, status/review

#8322 Sniff fastqsanger more aggressively
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/test/4.fastqsanger
Labels: area/datatypes, kind/enhancement, status/review

#8284 Move tools/verify/ into tool_util/verify/
  lib/galaxy/app.py
  lib/galaxy/tool_util/verify/__init__.py
  lib/galaxy/tool_util/verify/asserts/__init__.py
  lib/galaxy/tool_util/verify/asserts/archive.py
  lib/galaxy/tool_util/verify/asserts/hdf5.py
  lib/galaxy/tool_util/verify/asserts/tabular.py
  lib/galaxy/tool_util/verify/asserts/text.py
  lib/galaxy/tool_util/verify/asserts/xml.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tool_util/verify/script.py
  lib/galaxy/tool_util/verify/test_data.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/test.py
  packages/app/setup.py
  packages/tool_util/setup.py
  test/api/test_tools_upload.py
  test/base/driver_util.py
  test/base/integration_util.py
  test/base/interactor.py
  test/base/populators.py
  test/base/testcase.py
  test/functional/test_toolbox.py
  test/unit/test_verify.py
Labels: area/tool-framework, kind/enhancement, status/review

#8329 Cast uwsgi option to unicode, fixes startup under python 3
  lib/galaxy/util/__init__.py
  lib/tool_shed/galaxy_install/migrate/check.py
  test/api/test_pages.py
Labels: area/python3, kind/bug, minor, status/review

#8123 Enable authorization to Google Cloud Platform
  lib/galaxy/app.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/pinned-requirements.txt
  lib/galaxy/managers/cloud.py
Labels: triage

#8337 test removing uwsgi weird python package from circleci
  .circleci/config.yml
Labels: area/testing, kind/bug, status/review

#8326 check correct permission for allowing a user to modify lib folder
  lib/galaxy/managers/folders.py
Labels: area/libraries, kind/bug, kind/enhancement, status/review

#8327 Remove legacy backbone toolshed code and entry points
  client/galaxy/scripts/admin.toolshed.js
  client/galaxy/scripts/bundleEntries.js
  client/galaxy/scripts/mvc/toolshed/categories-view.js
  client/galaxy/scripts/mvc/toolshed/repo-status-view.js
  client/galaxy/scripts/mvc/toolshed/repositories-view.js
  client/galaxy/scripts/mvc/toolshed/repository-queue-view.js
  client/galaxy/scripts/mvc/toolshed/repository-view.js
  client/galaxy/scripts/mvc/toolshed/shed-list-view.js
  client/galaxy/scripts/mvc/toolshed/toolshed-model.js
  client/galaxy/scripts/mvc/toolshed/util.js
  client/galaxy/scripts/mvc/toolshed/workflows-view.js
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
Labels: area/toolshed, kind/refactoring, status/review

#8303 make admin/users grid filter on purged
  lib/galaxy/web/framework/helpers/grids.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
Labels: area/UI-UX, area/admin, kind/enhancement, status/review

#8287 Fix library folder sorting
  client/galaxy/scripts/mvc/library/library-folderlist-view.js
  client/galaxy/scripts/mvc/library/library-model.js
Labels: area/libraries, kind/bug, status/review

#8308 Push galaxy-meta scripts into appropiate subpackages.
  packages/app/setup.py
  packages/data/setup.py
  packages/meta/setup.py
  scripts/build_universe_config.py
  scripts/check_galaxy.py
Labels: area/framework, kind/enhancement, status/review

#8339 [19.05] Correct uWSGI socket path in nginx/Apache docs
  doc/source/admin/apache.md
  doc/source/admin/nginx.md
Labels: area/documentation, kind/bug, status/review

#8314 Fix bug in a unit test
  packages/tool_util/tests/__init__.py
  packages/tool_util/tests/util.py
  test/unit/tools/test_tool_deps.py
  test/unit/tools/test_util.py
  test/unit/tools/util.py
Labels: area/testing, kind/bug, status/WIP

#8343 Fix use of ``PIP_PROGRESS_BAR`` env variable
  packages/test.sh
  scripts/common_startup.sh
Labels: area/testing, kind/bug, status/review

#8342 Add ``galaxy-tool-test`` entry-point to ``galaxy-tool-util`` package
  packages/tool_util/setup.py
Labels: area/tool-framework, kind/enhancement, status/review

#8345 Restructure unit tests for tool_util package
  packages/tool_util/tests/sample_data.py
  packages/tool_util/tests/test_conda_resolution.py
  packages/tool_util/tests/test_output_checker.py
  packages/tool_util/tests/test_parsing.py
  packages/tool_util/tests/test_tool_deps.py
  packages/tool_util/tests/test_tool_loader.py
  packages/tool_util/tests/test_util.py
  packages/tool_util/tests/util.py
  test/unit/tool_util/__init__.py
  test/unit/tool_util/sample_data.py
  test/unit/tool_util/test_conda_resolution.py
  test/unit/tool_util/test_output_checker.py
  test/unit/tool_util/test_parsing.py
  test/unit/tool_util/test_tool_deps.py
  test/unit/tool_util/test_tool_loader.py
  test/unit/tool_util/test_util.py
  test/unit/tool_util/util.py
  test/unit/tools/test_toolbox.py
  test/unit/unittest_utils/sample_data.py
Labels: area/packaging, kind/enhancement, kind/refactoring, status/review

#8346 Startup fixes
  lib/galaxy/config/__init__.py
  scripts/common_startup.sh
Labels: area/framework, kind/bug

#8347 Add GEDA for iCn3D
  display_applications/icn3d/icn3d_simple.xml
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/config/sample/tool_data_table_conf.xml.sample
  tool-data/icn3d_simple_display.loc.sample
Labels: area/datatypes, area/visualizations, kind/enhancement

#8351 Add links to admin entry page
  templates/webapps/galaxy/admin/center.mako
Labels: area/admin, kind/enhancement

#8301 Zoom reset feature
  client/galaxy/scripts/mvc/workflow/workflow-canvas.js
Labels: area/UI-UX, area/client, area/workflows, kind/bug, kind/enhancement, status/review

#8335 Integration test for 'outputs_to_working_directory' with Pulsar.
  test/integration/test_pulsar_embedded_copy_working.py
  test/integration/test_pulsar_embedded_metadata.py
Labels: area/testing/integration, kind/feature

#8316 Adjustments for panel spacing changes
  client/galaxy/scripts/entry/panels/admin-panel.js
  client/galaxy/style/scss/base.scss
Labels: area/UI-UX, kind/bug, status/review

#8298 Create galaxy-selenium package.
  lib/galaxy/selenium/__init__.py
  lib/galaxy/selenium/cli.py
  lib/galaxy/selenium/components.py
  lib/galaxy/selenium/data.py
  lib/galaxy/selenium/driver_factory.py
  lib/galaxy/selenium/has_driver.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation-data.yml
  lib/galaxy/selenium/navigation.yml
  lib/galaxy/selenium/scripts/__init__.py
  lib/galaxy/selenium/scripts/dump_tour.py
  lib/galaxy/selenium/sizzle.py
  lib/galaxy/selenium/smart_components.py
  packages/selenium/HISTORY.rst
  packages/selenium/LICENSE
  packages/selenium/MANIFEST.in
  packages/selenium/Makefile
  packages/selenium/README.rst
  packages/selenium/dev-requirements.txt
  packages/selenium/galaxy/__init__.py
  packages/selenium/galaxy/project_galaxy_selenium.py
  packages/selenium/galaxy/selenium
  packages/selenium/requirements.txt
  packages/selenium/scripts
  packages/selenium/setup.cfg
  packages/selenium/setup.py
  test/selenium_tests/framework.py
  test/selenium_tests/test_navigates_galaxy.py
  test/selenium_tests/test_tool_form.py
Labels: area/framework, kind/enhancement, status/review

#8355 Better config isolation for integration tests.
  test/base/driver_util.py
  test/base/integration_util.py
Labels: area/testing/integration, kind/bug, kind/enhancement

#8357 Fix broken link in ``galaxy-app`` package
  packages/app/galaxy/config
  packages/app/galaxy/config.py
Labels: area/packaging, kind/bug, status/review

#8362 Fix autodetection of zip file format (including xlsx)
  lib/galaxy/datatypes/test/1.excel.xlsx
  lib/galaxy/util/compression_utils.py
  test/unit/test_compression_util.py
Labels: area/upload, kind/bug, status/review

#8360 Fix default involucro path
  lib/galaxy/config/__init__.py
Labels: area/dependencies, kind/bug, status/review

#8365 Remove some test interdependencies in unit/tools
  test/unit/tools/test_column_parameters.py
  test/unit/tools/test_data_parameters.py
  test/unit/tools/test_parameter_parsing.py
  test/unit/tools/test_select_parameters.py
  test/unit/tools/util.py
Labels: area/testing, kind/refactoring, status/review

#8363 Update RST files to reflect code structure changes
  doc/source/lib/galaxy.config.rst
  doc/source/lib/galaxy.datatypes.util.rst
  doc/source/lib/galaxy.rst
  doc/source/lib/galaxy.selenium.rst
  doc/source/lib/galaxy.selenium.scripts.rst
  doc/source/lib/galaxy.tool_util.linters.rst
  doc/source/lib/galaxy.tool_util.rst
  doc/source/lib/galaxy.tool_util.verify.asserts.rst
  doc/source/lib/galaxy.tool_util.verify.rst
  doc/source/lib/galaxy.tools.linters.rst
  doc/source/lib/galaxy.tools.rst
  doc/source/lib/galaxy.tools.verify.asserts.rst
  doc/source/lib/galaxy.tools.verify.rst
  doc/source/lib/galaxy.util.rst
  doc/source/lib/galaxy.util.tool_shed.rst
  doc/source/lib/galaxy.web.base.rst
  doc/source/lib/galaxy.web.rst
  doc/source/lib/galaxy.webapps.base.rst
  doc/source/lib/galaxy.webapps.galaxy.rst
  doc/source/lib/galaxy.webapps.rst
  doc/source/lib/galaxy.webapps.tool_shed.model.migrate.rst
  doc/source/lib/galaxy.webapps.tool_shed.model.migrate.versions.rst
  doc/source/lib/tool_shed.galaxy_install.migrate.rst
  doc/source/lib/tool_shed.galaxy_install.migrate.versions.rst
Labels: area/documentation, status/review

#8366 Sort Collection: add missing when tags
  lib/galaxy/tools/sort_collection_list.xml
Labels: area/tools, kind/bug

#8373 Hide references card if array is empty
  client/galaxy/scripts/mvc/tool/tool-form-base.js
Labels: area/UI-UX, kind/bug, status/review

#8377 Fix exception thrown with invalid session key
  lib/galaxy/web/framework/webapp.py
Labels: area/auth, kind/bug, status/review

#8385 univa runner: fix check for drmaa python module
  lib/galaxy/dependencies/__init__.py
Labels: triage

#8376 Identify visualization static path from absolute path
  lib/galaxy/visualization/plugins/plugin.py
  lib/galaxy/visualization/plugins/registry.py
Labels: area/UI-UX, kind/bug, status/review

#8386 Better isolation of embedded Pulsar tests.
  lib/galaxy/jobs/runners/pulsar.py
Labels: area/testing/integration, kind/bug
