Repository galaxyproject/galaxy, pull requests merged in 2019-10, with the labels that each got.

#8728 Do not overwrite existing attributes
  lib/galaxy/config/__init__.py
Labels: area/configuration, kind/bug

#8718 Allow assigning UUID job ids with Pulsar in MQ mode.
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0159_add_job_external_id_index.py
Labels: area/jobs, kind/bug, kind/enhancement

#8732 JobMetrics.vue unit test.
  client/galaxy/scripts/components/JobMetrics/JobMetrics.test.js
  client/galaxy/scripts/components/JobMetrics/JobMetrics.vue
  client/galaxy/scripts/store/index.js
  client/galaxy/scripts/store/jobMetricsStore.test.js
Labels: area/client, area/testing, kind/bug, kind/enhancement

#8747 [19.05] Fix `planemo test --update_test_data` for missing test files
  lib/galaxy/tools/verify/__init__.py
Labels: area/tool-framework, kind/bug

#8749 axios-mock-adapter for cleaner, more expansive testing
  client/galaxy/scripts/components/JobMetrics/JobMetrics.test.js
  client/package.json
  client/yarn.lock
Labels: area/client, area/testing, kind/enhancement

#8742 Client build process refinement
  client/gulpfile.js
  client/package.json
Labels: area/client-build, kind/refactoring

#8750 [19.05] Register job data when testing a tool with missing input file
  lib/galaxy/tools/verify/interactor.py
Labels: area/tool-framework, kind/bug

#8601 Add Tool Manager Component for Admin Panel
  client/galaxy/scripts/components/LoadingSpan.vue
  client/galaxy/scripts/components/Toolshed/Index.vue
  client/galaxy/scripts/components/Toolshed/InstalledList/Details.test.js
  client/galaxy/scripts/components/Toolshed/InstalledList/Details.vue
  client/galaxy/scripts/components/Toolshed/InstalledList/Index.test.js
  client/galaxy/scripts/components/Toolshed/InstalledList/Index.vue
  client/galaxy/scripts/components/Toolshed/RepositoryDetails/Index.test.js
  client/galaxy/scripts/components/Toolshed/RepositoryDetails/Index.vue
  client/galaxy/scripts/components/Toolshed/RepositoryDetails/InstallationButton.test.js
  client/galaxy/scripts/components/Toolshed/RepositoryDetails/InstallationButton.vue
  client/galaxy/scripts/components/Toolshed/RepositoryDetails/InstallationSettings.test.js
  client/galaxy/scripts/components/Toolshed/RepositoryDetails/InstallationSettings.vue
  client/galaxy/scripts/components/Toolshed/RepositoryDetails/RepositoryTools.test.js
  client/galaxy/scripts/components/Toolshed/RepositoryDetails/RepositoryTools.vue
  client/galaxy/scripts/components/Toolshed/SearchList/Categories.test.js
  client/galaxy/scripts/components/Toolshed/SearchList/Categories.vue
  client/galaxy/scripts/components/Toolshed/SearchList/Index.vue
  client/galaxy/scripts/components/Toolshed/SearchList/Repositories.test.js
  client/galaxy/scripts/components/Toolshed/SearchList/Repositories.vue
  client/galaxy/scripts/components/Toolshed/SearchList/ServerSelection.test.js
  client/galaxy/scripts/components/Toolshed/SearchList/ServerSelection.vue
  client/galaxy/scripts/components/Toolshed/services.js
  client/galaxy/scripts/components/admin/Invocations.vue
  client/galaxy/scripts/entry/admin/AdminRouter.js
  client/galaxy/scripts/entry/panels/admin-panel.js
  lib/galaxy/model/tool_shed_install/__init__.py
  lib/galaxy/webapps/galaxy/api/tool_shed_repositories.py
  lib/tool_shed/util/shed_util_common.py
  templates/admin/tool_shed_repository/monitor_repository_installation.mako
Labels: area/admin, kind/enhancement

#8759 Small fixes for k8s.
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs, kind/bug

#8753 [19.09] More invocation report fixes.
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  lib/galaxy/managers/markdown_util.py
  templates/webapps/galaxy/workflow/editor.mako
  test/unit/test_markdown_validate.py
Labels: area/workflows, kind/bug, kind/enhancement

#8738 Release notes for 19.09.
  doc/source/releases/19.09.rst
  doc/source/releases/19.09_announce.rst
  doc/source/releases/19.09_announce_user.rst
  doc/source/releases/19.09_prs.rst
  doc/source/releases/20.01_announce.rst
  doc/source/releases/images/19.09-history-menu.png
  doc/source/releases/images/19.09-wf-reports.gif
  doc/source/releases/index.rst
  lib/galaxy/config/config_manage.py
  scripts/bootstrap_history.py
Labels: kind/enhancement

#8764 Fix visibility of tool panel footer
  client/galaxy/scripts/components/ToolBox.vue
Labels: kind/bug

#8763 [19.09] release notes final touch
  doc/source/releases/19.09_announce.rst
  doc/source/releases/19.09_announce_user.rst
Labels: area/documentation, kind/enhancement

#8765 [19.09] Backport tool panel toggle fix
  client/galaxy/scripts/components/Markdown/MarkdownEditor.vue
  client/galaxy/scripts/components/ToolBox.vue
Labels: area/UI-UX, area/client, kind/bug, triage

#8762 merge 19.09 in dev
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  doc/source/releases/19.09.rst
  doc/source/releases/19.09_announce.rst
  doc/source/releases/19.09_announce_user.rst
  doc/source/releases/19.09_prs.rst
  doc/source/releases/20.01_announce.rst
  doc/source/releases/images/19.09-history-menu.png
  doc/source/releases/images/19.09-wf-reports.gif
  doc/source/releases/index.rst
  lib/galaxy/config/config_manage.py
  lib/galaxy/managers/markdown_util.py
  scripts/bootstrap_history.py
  templates/webapps/galaxy/workflow/editor.mako
  test/unit/test_markdown_validate.py
Labels: merge

#8645 [19.09]Openlayers viz fixes
  config/plugins/visualizations/openlayers/package.json
  config/plugins/visualizations/openlayers/src/script.js
Labels: kind/bug

#8773 [19.09] Fix (and simplify) dataset calculation.
  lib/galaxy/model/__init__.py
Labels: area/database, kind/bug

#8775 [19.09] Release notes fixes
  doc/source/releases/19.09.rst
  doc/source/releases/19.09_announce.rst
Labels: area/documentation, kind/bug

#8779 [19.09] Fix to 'portable' metadata for output metadata files.
  lib/galaxy/metadata/set_metadata.py
Labels: area/jobs, kind/bug

#8778 [19.09] Force a flush after user disk usage recalculation.
  lib/galaxy/model/__init__.py
Labels: area/database, kind/bug

#8780 [19.09] Fix detached parent instance error in 8769
  lib/galaxy/model/tool_shed_install/mapping.py
Labels: area/toolshed, kind/bug

#8784 data_manager_conf.xml.sample is missing
  config/data_manager_conf.xml.sample
  lib/galaxy/config/sample/data_manager_conf.xml.sample
Labels: area/configuration, kind/bug

#8785 Drop DetachedInstanceError workaround
  lib/galaxy/tools/cache.py
Labels: kind/refactoring

#8791 Revert "[19.09] Fix detached parent instance error in 8769"
  lib/galaxy/model/tool_shed_install/mapping.py
Labels: triage

#8794 Simplify code for expand_meta_parameters
  lib/galaxy/tools/parameters/meta.py
Labels: area/cleanup, area/tool-framework, kind/refactoring

#8734 Remove deprecated Toolshed API endpoints
  lib/galaxy/webapps/galaxy/api/tool_shed_repositories.py
  lib/galaxy/webapps/galaxy/api/toolshed.py
Labels: area/toolshed, kind/refactoring

#8689 Automate path resolution for config options
  lib/galaxy/config/__init__.py
  test/unit/config/test_path_graph.py
  test/unit/config/test_path_resolves_to.py
Labels: area/configuration, kind/enhancement

#8787 [19.09] remove inherited #center overflow
  client/galaxy/style/scss/base.scss
Labels: area/client, area/libraries, kind/bug

#8754 Add vue component and endpoint to reset repository metadata
  client/galaxy/scripts/components/admin/AdminServices.js
  client/galaxy/scripts/components/admin/BaseList.test.js
  client/galaxy/scripts/components/admin/BaseList.vue
  client/galaxy/scripts/components/admin/DisplayApplications.vue
  client/galaxy/scripts/components/admin/ResetMetadata.vue
  client/galaxy/scripts/entry/admin/AdminRouter.js
  client/galaxy/scripts/entry/panels/admin-panel.js
  lib/galaxy/webapps/galaxy/api/tool_shed_repositories.py
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: area/UI-UX, kind/refactoring

#8789 [19.09] improve tool panel searching
  lib/galaxy/tools/search/__init__.py
  test/api/test_tools.py
Labels: area/tools, kind/bug, kind/enhancement

#8739 Fix `new_secure_hash()` when passed an empty string
  lib/galaxy/util/hash_util.py
Labels: area/auth, area/security, kind/bug

#8746 Multi subdomains cookie support
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/managers/configuration.py
  lib/galaxy/web/framework/webapp.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/reports/config.py
  lib/galaxy/webapps/tool_shed/config.py
Labels: area/framework, kind/enhancement

#8618 python-ldap python3 update and documentation change
  lib/galaxy/config/sample/auth_conf.xml.sample
  lib/galaxy/dependencies/conditional-requirements.txt
Labels: area/auth, kind/enhancement

#8776 Cleanup SQL query in ``_calculate_or_set_disk_usage()``
  lib/galaxy/model/__init__.py
Labels: area/database, kind/refactoring

#8725 Update zh/locale.js
  client/galaxy/scripts/nls/zh/locale.js
Labels: triage

#8788 [19.09] tweak config sample files
  config/data_manager_conf.xml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/data_manager_conf.xml.sample
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/configuration, kind/bug

#8806 [19.09] Fix nested macro with yield
  lib/galaxy/util/xml_macros.py
  test/unit/tool_util/test_tool_loader.py
Labels: area/tool-framework, kind/bug, minor

#8809 Stop trying to guess a web port
  lib/galaxy/visualization/plugins/interactive_environments.py
Labels: area/GIEs, area/configuration, kind/bug

#8757 Allow space, dot and comma in relabel identifier tool
  lib/galaxy/tools/__init__.py
Labels: area/dataset-collections, area/tools, kind/bug, kind/enhancement

#8571 Remove collection ID character restriction from 'Relabel collection from file' tool
  lib/galaxy/tools/__init__.py
Labels: triage

#8812 [19.09] Fix workflow scheduler conf default path.
  lib/galaxy/config/__init__.py
Labels: area/configuration, area/workflows, kind/bug

#8700 Make Masthead and workflow page screenreader friendly
  client/galaxy/scripts/components/FavoritesButton.vue
  client/galaxy/scripts/components/Tool.vue
  client/galaxy/scripts/components/ToolSection.vue
  client/galaxy/scripts/components/UploadButton.vue
  client/galaxy/scripts/layout/masthead.js
  client/galaxy/scripts/layout/menu.js
  client/galaxy/scripts/layout/panel.js
  client/galaxy/scripts/mvc/tool/tool-form-base.js
  client/galaxy/scripts/mvc/ui/ui-options.js
  client/galaxy/scripts/mvc/ui/ui-portlet.js
  client/galaxy/scripts/mvc/workflow/workflow-view-terminals.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  client/galaxy/scripts/utils/ariaAlert.js
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/ui.scss
  templates/webapps/galaxy/workflow/editor.mako
Labels: triage

#8737 Start using path_resolves_to; add integration tests
  lib/galaxy/config/__init__.py
  lib/galaxy/config/config_manage.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/integration/test_config_defaults.py
  test/integration/test_config_resolve_paths.py
Labels: area/configuration, kind/enhancement, kind/refactoring

#8813 client-side current user store module
  client/galaxy/scripts/store/index.js
  client/galaxy/scripts/store/userStore/User.js
  client/galaxy/scripts/store/userStore/index.js
  client/galaxy/scripts/store/userStore/queries.js
  client/galaxy/scripts/store/userStore/userStore.js
Labels: area/client, kind/refactoring

#8814 [19.09] Don't fail container resolution if `docker images` is b…
  lib/galaxy/tool_util/deps/container_resolvers/mulled.py
Labels: area/jobs, kind/bug

#8818 [19.09] Don't use a thread local ToolShedRepositoryCache, this may have been …
  lib/galaxy/tools/cache.py
  test/unit/tools/test_tool_shed_repository_cache.py
Labels: area/toolshed, kind/bug

#8824 [19.09] Fix detached parent instance again
  lib/galaxy/model/tool_shed_install/mapping.py
Labels: merge

#8821 Add postcss-loader and autoprefixer dependencies
  client/package.json
  client/webpack.config.js
  client/yarn.lock
Labels: triage

#8793 One test case to rule them all
  test/integration/conftest.py
  test/integration/test_config_defaults.py
Labels: area/configuration, area/testing/integration, kind/enhancement

#8823 LDAP fixes
  lib/galaxy/auth/providers/ldap_ad.py
  lib/galaxy/config/sample/auth_conf.xml.sample
Labels: area/auth, kind/bug

#8840 fix plugin name
  lib/galaxy/job_metrics/instrumenters/hostname.py
Labels: area/documentation, kind/bug

#8839 [19.09] First update defaults with explicit kwds, then update with env overrides
  lib/galaxy/util/properties.py
Labels: area/configuration, kind/bug, minor

#8841 [19.09] First update defaults with explicit kwds, then update with env overrides
  lib/galaxy/util/properties.py
Labels: area/configuration, kind/bug, minor

#8835 [19.09] Only use cached repositories where needed & safe
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/data_manager/manager.py
  lib/tool_shed/galaxy_install/install_manager.py
  lib/tool_shed/util/repository_util.py
Labels: area/toolshed, kind/bug

#8837 Fix rare bug in config loading + add unit test
  lib/galaxy/config/__init__.py
  test/unit/config/test_path_resolves_to.py
Labels: area/configuration, kind/bug

#8827 Added client-side application configs for each target environment
  client/galaxy/config/development.js
  client/galaxy/config/production.js
  client/galaxy/config/testing.js
  client/galaxy/scripts/onload/index.js
  client/karma/karma.config.base.js
  client/karma/karma.config.mocha.js
  client/karma/karma.config.qunit.js
  client/karma/webpack.config.qunit.js
  client/karma/webpack.config.unittest.js
  client/webpack.config.js
Labels: area/client, area/client-build, kind/enhancement

#8848 [19.09] Only raise ObjectNotFound if visualization xml can't be found
  lib/galaxy/visualization/plugins/registry.py
Labels: area/admin, kind/bug, minor

#8845 [19.05] Backported cryptography update;
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/dependencies, kind/bug, merge

#8850 [19.09] add caret to toolsheds dropdown in admin menu
  client/galaxy/scripts/components/Toolshed/Index.vue
  client/galaxy/scripts/components/Toolshed/ServerSelection.vue
Labels: kind/bug

#8847 [19.09] Cast to string in TrimmedString
  lib/galaxy/model/custom_types.py
Labels: area/UI-UX, area/database, kind/bug

#8836 Ensure app.config.config_file is an absolute path
  lib/galaxy/config/__init__.py
  test/integration/test_config_defaults.py
Labels: area/configuration, kind/bug

#8810 Add installation monitor popup to toolshed client
  client/galaxy/scripts/components/Toolshed/Index.vue
  client/galaxy/scripts/components/Toolshed/InstalledList/Index.test.js
  client/galaxy/scripts/components/Toolshed/InstalledList/Index.vue
  client/galaxy/scripts/components/Toolshed/InstalledList/Monitor.test.js
  client/galaxy/scripts/components/Toolshed/InstalledList/Monitor.vue
  client/galaxy/scripts/components/Toolshed/RepositoryDetails/Index.vue
  client/galaxy/scripts/components/Toolshed/RepositoryDetails/InstallationButton.vue
  client/galaxy/scripts/components/Toolshed/SearchList/Categories.vue
  client/galaxy/scripts/components/Toolshed/SearchList/Repositories.vue
  client/galaxy/scripts/components/Toolshed/services.js
  client/galaxy/scripts/components/Toolshed/services.test.js
Labels: area/UI-UX, area/toolshed, kind/enhancement, kind/refactoring

#8817 [19.09] Fix data_manager_manual with new data tables + cleanup and fixes
  lib/galaxy/model/tool_shed_install/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/data_manager/manager.py
  lib/galaxy/tools/toolbox/base.py
  test/integration/test_data_manager.py
  test/unit/tools/conftest.py
  test/unit/tools/test_tool_conf_repository.py
  test/unit/tools/test_tool_shed_repository_cache.py
  test/unit/web/framework/test_webapp.py
Labels: area/admin, area/toolshed, kind/bug

#8849 [19.09] Explicitly fail dataset upload with invalid extension
  lib/galaxy/actions/library.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/webapps/galaxy/api/_fetch_util.py
  test/api/test_libraries.py
Labels: area/API, area/libraries, area/upload, kind/bug, kind/enhancement

#8852 Add has_size option
  lib/galaxy/tool_util/verify/asserts/__init__.py
  lib/galaxy/tool_util/verify/asserts/size.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/functional/tools/validation_default.xml
Labels: area/tool-framework, kind/feature

#8854 [19.09] Fix toolshed selection display glitch
  client/galaxy/scripts/components/Toolshed/ServerSelection.vue
Labels: area/UI-UX, kind/bug

#8843 General server dependency updates (was/including catalina fix)
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/update.sh
Labels: area/dependencies, kind/bug, kind/enhancement

#8858 Refactor pretty-datatime_format config loading
  lib/galaxy/config/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/configuration, kind/refactoring

#8857 Refactor infrastructure_url/port values; fix tests
  lib/galaxy/config/__init__.py
  test/integration/test_config_defaults.py
Labels: area/configuration, kind/refactoring

#8855 Refactor database_connection config loading
  lib/galaxy/config/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/configuration, kind/refactoring

#8856 Refactor default_locale config option; test
  lib/galaxy/config/__init__.py
  templates/webapps/galaxy/galaxy.masthead.mako
  test/integration/test_config_defaults.py
Labels: area/configuration, kind/refactoring

#8861 Merge 19.09 into dev
  client/galaxy/scripts/components/Toolshed/Index.vue
  client/galaxy/scripts/components/Toolshed/SearchList/ServerSelection.vue
  lib/galaxy/actions/library.py
  lib/galaxy/model/custom_types.py
  lib/galaxy/model/tool_shed_install/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/tools/data_manager/manager.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/visualization/plugins/registry.py
  lib/galaxy/webapps/galaxy/api/_fetch_util.py
  test/api/test_libraries.py
  test/integration/test_data_manager.py
  test/unit/tools/conftest.py
  test/unit/tools/test_tool_conf_repository.py
  test/unit/tools/test_tool_shed_repository_cache.py
  test/unit/web/framework/test_webapp.py
Labels: merge

#8865 Do not specify None as default in dict.get()
  lib/galaxy/config/__init__.py
Labels: area/cleanup, area/configuration, kind/refactoring

#8866 Prevent potential bug in config loading; test
  lib/galaxy/config/__init__.py
  test/unit/config/test_load_config.py
Labels: area/configuration, kind/bug

#8863 Make message_box style and visible options reloadable
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/UI-UX, area/configuration

#8815 [19.09] Fix non-version (minor) tool shed repository updates when installing revisions through the API
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/tool_shed/galaxy_install/install_manager.py
  lib/tool_shed/galaxy_install/repository_dependencies/repository_dependency_manager.py
  lib/tool_shed/util/repository_util.py
Labels: area/tool-framework, kind/bug

#8859 Fix misc. integration tests for config values
  lib/galaxy/config/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/integration/test_config_defaults.py
Labels: area/configuration, kind/refactoring

#8853 [19.09] Use pathlib for finding the parent repository dir
  lib/galaxy/tools/__init__.py
Labels: area/tool-framework, kind/bug

#8803 Convert User Preferences page to Vue Component
  client/galaxy/scripts/components/User/UserPreferences.vue
  client/galaxy/scripts/components/User/UserPreferencesModel.js
  client/galaxy/scripts/entry/analysis/AnalysisRouter.js
  client/galaxy/scripts/mvc/user/user-preferences.js
Labels: kind/refactoring

#8774 Add data dialog input element to client form parameter list
  client/galaxy/scripts/app/galaxy.js
  client/galaxy/scripts/layout/data.js
  client/galaxy/scripts/layout/page.js
  client/galaxy/scripts/mvc/form/form-parameters.js
  client/galaxy/scripts/mvc/ui/ui-data-picker.js
  client/galaxy/scripts/utils/data.js
  config/plugins/visualizations/example/config/example.xml
Labels: area/visualizations, kind/feature

#8864 Restore portlet section style for repeat blocks
  client/galaxy/scripts/mvc/ui/ui-portlet.js
  client/galaxy/style/scss/ui.scss
Labels: area/UI-UX, kind/bug

#8870 Delete 'resolve path' integration tests
  test/integration/test_config_resolve_paths.py
Labels: area/cleanup, area/configuration

#8872 Update check_py3_compatibility script for new ack versions.
  .ci/check_py3_compatibility.sh
Labels: area/testing, kind/bug

#8860 Add badge to indicate availability of a newer toolshed repository version
  client/galaxy/scripts/components/Toolshed/InstalledList/Index.test.js
  client/galaxy/scripts/components/Toolshed/InstalledList/Index.vue
  client/galaxy/scripts/components/Toolshed/SearchList/Repositories.vue
  client/galaxy/scripts/components/Toolshed/SearchList/ServerSelection.vue
  lib/galaxy/webapps/galaxy/api/tool_shed_repositories.py
Labels: area/UI-UX, area/toolshed, kind/enhancement

#8871 Fix authnz manager's oidc config parsing for python3
  lib/galaxy/authnz/managers.py
Labels: area/python3, kind/bug

#8869 Backport oidc config file fix: yml to xml
  lib/galaxy/config.py
Labels: area/configuration, kind/bug

#8877 Eliminate interactive debugging middleware
  doc/source/admin/galaxy_options.rst
  doc/source/admin/production.md
  doc/source/admin/reports_options.rst
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/reports.yml.sample
  lib/galaxy/config/sample/tool_shed.yml.sample
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/reports/buildapp.py
  lib/galaxy/webapps/reports/config_schema.yml
  lib/galaxy/webapps/tool_shed/buildapp.py
  lib/galaxy/webapps/tool_shed/config_schema.yml
Labels: area/framework, area/python3, kind/bug, kind/refactoring

#8878 [19.09] Galaxy InteractiveTools cluster support fixes from EU
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy_ext/container_monitor/monitor.py
  tools/interactive/interactivetool_jupyter_notebook.xml
Labels: area/tool-framework, kind/bug

#8876 Do not raise Exception to manage control flow
  lib/galaxy/util/properties.py
Labels: area/configuration, kind/refactoring

#8874 Remove 'area/cleanup', edit 'kind/refactoring'
  doc/source/project/issues.rst
Labels: area/documentation, kind/enhancement

#8799 Handles k8s job recently created with no status set yet
  lib/galaxy/jobs/runners/kubernetes.py
Labels: kind/bug

#8873 Tweak pre-creating empty outputs 🤢 to fix #8756.
  lib/galaxy/tool_util/provided_metadata.py
  lib/galaxy/tools/evaluation.py
  test/integration/test_upload_configuration_options.py
  tools/data_source/upload.py
Labels: area/jobs, kind/bug, minor

#8879 [19.09] Install manager unit test and python 3 hg util exception handling fixes
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/galaxy/webapps/tool_shed/api/repositories.py
  lib/galaxy/webapps/tool_shed/controllers/repository.py
  lib/tool_shed/galaxy_install/install_manager.py
  lib/tool_shed/galaxy_install/repair_repository_manager.py
  lib/tool_shed/galaxy_install/repository_dependencies/repository_dependency_manager.py
  lib/tool_shed/galaxy_install/tool_migration_manager.py
  lib/tool_shed/util/hg_util.py
  lib/tool_shed/util/repository_util.py
  test/unit/shed_unit/test_installed_repository_manager.py
  test/unit/tools/test_toolbox.py
Labels: area/python3, area/testing, area/toolshed, kind/bug, kind/refactoring

#8888 Fix script shebangs
  scripts/tool_shed/bootstrap_tool_shed/bootstrap_util.py
  tools/filters/commWrapper.pl
  tools/filters/commWrapper.xml
  tools/filters/condense_characters.pl
  tools/filters/condense_characters.xml
  tools/filters/convert_characters.pl
  tools/filters/cutWrapper.pl
  tools/filters/cutWrapper.xml
  tools/filters/fixedValueColumn.pl
  tools/filters/headWrapper.pl
  tools/filters/joinWrapper.pl
  tools/filters/pasteWrapper.pl
  tools/filters/remove_beginning.pl
  tools/filters/sff_extract.py
  tools/filters/tailWrapper.pl
  tools/next_gen_conversion/bwa_solid2fastq_modified.pl
  tools/phenotype_association/master2gd_snp.pl
  tools/phenotype_association/master2pg.pl
  tools/phenotype_association/vcf2pgSnpMult.pl
Labels: area/tools, kind/enhancement

#8887 [19.09] Fix excessive memory consumption by not loading repository.metadata column
  lib/galaxy/model/tool_shed_install/mapping.py
  lib/galaxy/tools/cache.py
  lib/tool_shed/metadata/metadata_generator.py
Labels: area/performance, kind/bug

#8891 [19.05] Fix unicodify on exceptions with non-utf bytestring args
  lib/galaxy/util/__init__.py
Labels: area/framework, kind/bug

#8890 Cleanup config loading (minor fixes)
  lib/galaxy/config/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/integration/test_config_defaults.py
Labels: area/configuration, kind/refactoring

#8885 Use schema defaults in galaxy masthead
  templates/webapps/galaxy/galaxy.masthead.mako
Labels: area/configuration, kind/bug, kind/refactoring

#8886 [19.09] Discard messages created before QueueWorker was started
  lib/galaxy/queue_worker.py
  test/unit/queue_worker/test_queue_worker.py
Labels: area/framework, kind/bug

#8895 [19.05] Safer fix for ``unicodify`` on exceptions with bytestring message
  lib/galaxy/util/__init__.py
Labels: area/framework, kind/bug

#8894 If config_file is None, use cwd, not its parent
  lib/galaxy/config/__init__.py
Labels: area/configuration, kind/bug

#8883 Unpin bdbag.
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/dependencies, kind/enhancement

#8896 [19.09] If config_file is None, use cwd, not its parent
  lib/galaxy/config/__init__.py
Labels: area/configuration, kind/bug

#8882 Normalize myexperiment_target_url / myexperiment_url
  lib/galaxy/config/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  test/unit/config/config_manage/1607_root_filters/config/galaxy.ini
  test/unit/config/config_manage/1607_root_samples/config/galaxy.ini
Labels: area/configuration, kind/refactoring

#8902 remove dada2_derep data type
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes, kind/enhancement

#8907 Log LDAP authenticate exceptions at the right level
  lib/galaxy/auth/providers/ldap_ad.py
Labels: area/auth, kind/bug

#8904 Add separate knob for masthead colors
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/theme/blue.scss
Labels: area/UI-UX, kind/enhancement

#8915 Refactor _set_config_base; fix config_dir value
  lib/galaxy/config/__init__.py
Labels: area/configuration, kind/bug, kind/refactoring

#8914 Simplify logo replacement, fix height and alignment
  client/galaxy/scripts/qunit/tests/masthead_tests.js
  client/galaxy/style/scss/base.scss
  lib/galaxy/managers/configuration.py
  static/favicon.png
  templates/webapps/galaxy/galaxy.masthead.mako
  templates/webapps/reports/base_panels.mako
  templates/webapps/tool_shed/base_panels.mako
Labels: area/UI-UX, kind/bug, kind/enhancement
