Repository galaxyproject/galaxy, pull requests merged in 2019-04, with the labels that each got.

#7634 [19.01] Fix float to int casting
  lib/galaxy/tools/wrappers.py
  test/functional/tools/cheetah_casting.xml
Labels: area/tool-framework, kind/bug

#7626 [18.09] backport xss
  lib/galaxy/webapps/tool_shed/controllers/repository.py
  templates/message.mako
  test/shed_functional/base/twilltestcase.py
Labels: merge

#7637 Update to bootstrap 4.3
  client/galaxy/scripts/mvc/tours.js
  client/package.json
  client/yarn.lock
Labels: area/UI-UX, area/client-build, kind/bug, kind/enhancement, status/review

#7633 [19.01] Delay workflow step execution for discovered & mapped-over input
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/execute.py
  test/api/test_workflows.py
Labels: area/workflows, kind/bug, status/review

#7548 More robust task messaging
  lib/galaxy/app.py
  lib/galaxy/config.py
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0151_add_worker_process.py
  lib/galaxy/queue_worker.py
  lib/galaxy/queues.py
  lib/galaxy/web/stack/database_heartbeat.py
  scripts/galaxy-main
  test/base/driver_util.py
  test/unit/queue_worker/__init__.py
  test/unit/queue_worker/conftest.py
  test/unit/queue_worker/test_database_heartbeat.py
  test/unit/queue_worker/test_queue_worker.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/admin, area/database, area/testing, kind/enhancement, kind/feature, kind/refactoring, status/review

#7639 Delete cloudauthz record from database instead of marking it as deleted
  lib/galaxy/managers/cloudauthzs.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0150_add_create_time_field_for_cloudauthz.py
  lib/galaxy/webapps/galaxy/api/cloudauthz.py
Labels: area/API, area/auth, kind/enhancement

#7642 Provide feedback on why workflow editor nodes won't connect.
  client/galaxy/scripts/mvc/workflow/workflow-connector.js
  client/galaxy/scripts/mvc/workflow/workflow-terminals.js
  client/galaxy/scripts/mvc/workflow/workflow-view-terminals.js
  client/galaxy/scripts/qunit/tests/workflow_editor_tests.js
  client/galaxy/style/scss/base.scss
  test/functional/tools/collection_paired_test.xml
Labels: area/UI-UX, area/workflows, kind/enhancement, status/review

#7645 Adjust test_run_with_numeric_input_connection to extra line
  test/api/test_workflows.py
Labels: area/testing/api, kind/bug

#7652 Fix exception logging in queue worker
  lib/galaxy/queue_worker.py
Labels: area/framework, kind/bug, minor

#7641 Continue gracefully in set_meta if unable to count number of dataset lines.
  lib/galaxy/datatypes/data.py
Labels: area/datatypes, kind/enhancement

#7524 Decompose Galaxy into Python libraries in-tree.
  .gitignore
  lib/galaxy/util/__init__.py
  packages/data/HISTORY.rst
  packages/data/LICENSE
  packages/data/MANIFEST.in
  packages/data/README.rst
  packages/data/galaxy/__init__.py
  packages/data/galaxy/datatypes
  packages/data/galaxy/model
  packages/data/galaxy/project_galaxy_data.py
  packages/data/galaxy/security
  packages/data/requirements.txt
  packages/data/setup.cfg
  packages/data/setup.py
  packages/data/tests/__init__.py
  packages/data/tests/datatypes
  packages/data/tests/test_galaxy_mapping.py
  packages/data/tests/unittest_utils
  packages/objectstore/HISTORY.rst
  packages/objectstore/LICENSE
  packages/objectstore/MANIFEST.in
  packages/objectstore/README.rst
  packages/objectstore/galaxy/__init__.py
  packages/objectstore/galaxy/objectstore
  packages/objectstore/galaxy/project_galaxy_objectstore.py
  packages/objectstore/requirements.txt
  packages/objectstore/setup.cfg
  packages/objectstore/setup.py
  packages/objectstore/tests/test_objectstore.py
  packages/util/HISTORY.rst
  packages/util/LICENSE
  packages/util/MANIFEST.in
  packages/util/README.rst
  packages/util/galaxy/__init__.py
  packages/util/galaxy/exceptions
  packages/util/galaxy/project_galaxy_util.py
  packages/util/galaxy/util
  packages/util/requirements.txt
  packages/util/setup.cfg
  packages/util/setup.py
  packages/util/tests/test_utils.py
  test/unit/datatypes/test_data.py
Labels: area/cleanup, kind/enhancement

#7646 [19.01] Fix incorrect lddas being used as collection members
  client/galaxy/scripts/mvc/library/library-foldertoolbar-view.js
  lib/galaxy/webapps/galaxy/api/folder_contents.py
Labels: area/libraries, kind/bug

#6652 Ts api improvements
  client/galaxy/scripts/admin.toolshed.js
  client/galaxy/scripts/mvc/toolshed/categories-view.js
  client/galaxy/scripts/mvc/toolshed/repositories-view.js
  lib/galaxy/webapps/galaxy/api/toolshed.py
  lib/galaxy/webapps/tool_shed/api/categories.py
  lib/galaxy/webapps/tool_shed/model/__init__.py
  lib/galaxy/webapps/tool_shed/model/mapping.py
  lib/galaxy/webapps/tool_shed/model/migrate/versions/0026_add_numeric_revision_column.py
  lib/tool_shed/util/metadata_util.py
  lib/tool_shed/util/repository_util.py
  lib/tool_shed/util/shed_util_common.py
Labels: area/API, area/toolshed, kind/enhancement, status/WIP

#7655 Minor typo in library-foldertoolbar-view.
  client/galaxy/scripts/admin.toolshed.js
  client/galaxy/scripts/mvc/library/library-foldertoolbar-view.js
  client/galaxy/scripts/mvc/toolshed/repositories-view.js
  client/galaxy/scripts/mvc/tours.js
Labels: kind/refactoring, minor, status/review

#7656 fix package-project typos
  .gitignore
  lib/galaxy/util/__init__.py
Labels: minor

#7660 Drop now unused import endpoint from workflow controller.
  lib/galaxy/webapps/galaxy/controllers/workflow.py
Labels: area/cleanup, area/workflows, kind/bug

#7666 Make heartbeat unit tests a bit more robust.
  test/unit/queue_worker/test_database_heartbeat.py
Labels: area/testing, kind/bug, minor

#7664 Fix client styleguide asset handling
  client/package.json
  client/styleguide.config.js
  client/yarn.lock
Labels: kind/bug, kind/refactoring, status/review

#7658 Bugfix for input selection w/ tag representation in ui-select-default
  client/galaxy/scripts/mvc/ui/ui-select-default.js
Labels: area/UI-UX, kind/bug, status/review

#7663 [19.01] Fix for trans.redirect not setting cookies/headers.
  lib/galaxy/web/framework/base.py
  lib/galaxy/web/framework/decorators.py
Labels: area/framework, kind/bug, status/review

#7667 Fix shutdown for Pulsar MQ Runner
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/util/monitors.py
Labels: area/jobs, kind/bug

#7612 Fix history options menu href navigation
  client/galaxy/scripts/mvc/history/options-menu.js
Labels: area/UI-UX, kind/bug, status/review

#7678 [19.01] Fix data column parameter specification in workflow editor
  client/galaxy/scripts/mvc/form/form-parameters.js
Labels: area/workflows, kind/bug, minor, status/review

#7677 Drop .pyc files before attempting to migrate
  manage_db.sh
Labels: area/admin, kind/enhancement, status/review

#7674 [19.01] Bugfix: when removing tags from a dataset, only the first tag can be removed
  lib/galaxy/managers/tags.py
  test/unit/managers/test_TagManager.py
Labels: area/UI-UX, area/workflows, kind/bug, status/review

#7657 Refactor IntegrationTestCase to allow integration test functions.
  test/base/integration_util.py
  test/integration/test_datatype_upload.py
  test/integration/test_pulsar_embedded.py
  test/integration/test_upload_configuration_options.py
Labels: area/testing/integration, kind/enhancement, kind/refactoring, status/review

#7679 [19.01] Detect errors using exit_code for sort tool
  tools/filters/sorter.py
  tools/filters/sorter.xml
Labels: area/tools, kind/bug, status/review

#7681 Quote *.pyc in the find/cleanup command for manage_db.sh
  manage_db.sh
Labels: area/database, minor, status/review

#7680 [19.01] Tags remove_tags_from_list fix update
  lib/galaxy/managers/tags.py
Labels: area/UI-UX, area/workflows, kind/bug, kind/refactoring, status/review

#7606 History panel header button organization, tweaks.
  client/galaxy/scripts/entry/panels/history-panel.js
Labels: area/UI-UX, kind/enhancement, status/review

#7640 Toastr debowerization, refactoring.
  client/bower.json
  client/galaxy/scripts/galaxy.library.js
  client/galaxy/scripts/libs/jquery/jquery.event.drag.js
  client/galaxy/scripts/libs/jquery/jquery.event.hover.js
  client/galaxy/scripts/libs/toastr.js
  client/galaxy/scripts/mvc/library/library-dataset-view.js
  client/galaxy/scripts/mvc/library/library-folder-view.js
  client/galaxy/scripts/mvc/library/library-folderlist-view.js
  client/galaxy/scripts/mvc/library/library-folderrow-view.js
  client/galaxy/scripts/mvc/library/library-foldertoolbar-view.js
  client/galaxy/scripts/mvc/library/library-library-view.js
  client/galaxy/scripts/mvc/library/library-librarylist-view.js
  client/galaxy/scripts/mvc/library/library-libraryrow-view.js
  client/galaxy/scripts/mvc/library/library-librarytoolbar-view.js
  client/galaxy/scripts/mvc/workflow/workflow-connector.js
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  client/galaxy/scripts/mvc/workflow/workflow.js
  client/galaxy/scripts/toolshed/groups/group-detail-view.js
  client/galaxy/scripts/toolshed/groups/group-list-view.js
  client/galaxy/scripts/ui/toast.js
  client/package.json
  client/yarn.lock
Labels: area/client-build, kind/refactoring, status/review

#7367 Rework and Generalize History Import and Export
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/tools/imp_exp/__init__.py
  lib/galaxy/tools/imp_exp/export_history.py
  lib/galaxy/util/dictifiable.py
  test/api/test_histories.py
  test/api/test_workflow_extraction.py
  test/base/populators.py
  test/unit/test_model_store.py
  test/unit/tools/test_history_imp_exp.py
Labels: area/API, area/histories, kind/enhancement, kind/feature, status/review

#7682 [19.01] Fix format_source for implicit conversion inputs and fasta.gz upload
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/test/1.fasta.gz
  lib/galaxy/model/mapping.py
  lib/galaxy/tools/actions/__init__.py
  test-data/1.fasta.gz
  test/functional/tools/implicit_conversion.xml
  test/functional/tools/inheritance_simple.xml
  test/functional/tools/sample_datatypes_conf.xml
Labels: area/datatype-framework, area/datatypes, kind/bug, status/review

#7651 Implement functional dict-ifiable tool outputs and error detection.
  lib/galaxy/tools/parser/interface.py
  lib/galaxy/tools/parser/output_collection_def.py
  lib/galaxy/tools/parser/output_objects.py
  lib/galaxy/tools/parser/yaml.py
Labels: area/jobs, area/tool-framework, kind/enhancement, status/review

#7689 Plugin static staging fix
  client/gulpfile.js
  client/package.json
  client/yarn.lock
Labels: area/client-build, kind/bug, status/review

#7647 Fix genomespace_importer tool
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  tools/genomespace/genomespace_importer.xml
Labels: area/tools, kind/bug, status/review

#7195 Custos integration
  config/oidc_backends_config.xml.sample
  lib/galaxy/authnz/__init__.py
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0152_add_custos_authnz_token_table.py
  test/unit/authnz/__init__.py
  test/unit/authnz/test_custos_authnz.py
Labels: area/auth, kind/feature

#7695 More refactoring of model migrations
  lib/galaxy/model/migrate/versions/0003_security_and_libraries.py
  lib/galaxy/model/migrate/versions/0004_indexes_and_defaults.py
  lib/galaxy/model/migrate/versions/0014_pages.py
  lib/galaxy/model/migrate/versions/0025_user_info.py
  lib/galaxy/model/migrate/versions/0073_add_ldda_to_implicit_conversion_table.py
  lib/galaxy/model/migrate/versions/0084_add_ldda_id_to_implicit_conversion_table.py
  lib/galaxy/model/migrate/versions/0106_add_missing_indexes.py
  lib/galaxy/model/migrate/versions/0147_job_messages.py
  lib/galaxy/model/migrate/versions/0151_add_worker_process.py
  lib/galaxy/model/migrate/versions/util.py
Labels: area/database, kind/refactoring, status/review

#7696 Patch for metadata setting of minimal BIOM1 files
  lib/galaxy/datatypes/text.py
Labels: area/datatypes, kind/bug

#7569 Add mtx datatype
  client/galaxy/scripts/mvc/dataset/data.js
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/test/1.mtx
  lib/galaxy/datatypes/test/2.mtx
Labels: area/datatypes, kind/feature, status/review

#7702 Relax the 1st line sniffing for mtx (not only real coordinate)
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/test/3.mtx
Labels: area/datatypes, kind/bug

#6437 declutter the history 'cog' menu
  client/galaxy/scripts/mvc/history/options-menu.js
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: area/UI-UX, kind/refactoring, status/review

#7705 [19.01] Backport GenomeSpace Exporter fix
  tools/genomespace/genomespace_exporter.xml
Labels: merge, triage

#7342 Fall back to binary comparison if BAM conversion fails
  lib/galaxy/tools/verify/__init__.py
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: area/testing, kind/enhancement, status/review

#7703 Update pytest-posgresql to 1.4.0, which removes a hard dependency on psycopg2
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
Labels: area/cleanup, area/testing, kind/bug, status/review

#7709 Fix runner param validation in the DRMAA runner
  lib/galaxy/jobs/runners/drmaa.py
Labels: area/jobs, kind/bug, status/review

#7708 Improve error message if GFF file is missing attribute col
  lib/galaxy/datatypes/util/gff_util.py
Labels: area/datatypes, kind/enhancement, status/review

#7699 [19.01] Only check for exit code on actual sort command
  tools/filters/sorter.py
Labels: area/tools, kind/bug, status/review

#7690 Fix side panel styling, adjust appearance in reports
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/reports.scss
  templates/webapps/reports/base_panels.mako
  templates/webapps/reports/index.mako
Labels: area/UI-UX, kind/bug, status/review

#7694 Fix pulsar remote metadata with metadata_strategy == 'directory'.
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/pulsar.py
  test/integration/test_pulsar_embedded_metadata.py
Labels: area/jobs, kind/bug

#7711 [19.01] Restrict workflow invocation index to current user
  lib/galaxy/webapps/galaxy/api/workflows.py
  test/api/test_workflows.py
Labels: area/API, area/workflows, kind/bug, status/review

#7716 Fix uWSGI startup with separate ini file under Python 3
  lib/galaxy/web/stack/__init__.py
Labels: area/framework, kind/bug, status/review

#7722 Fix (re)starting Galaxy using paste, ``GALAXY_RUN_ALL=1`` and ``--wait`` under macOS
  run.sh
Labels: area/scripts, kind/bug, status/review

#7717 Fix mtx datatype sniffer configuration
  config/datatypes_conf.xml.sample
Labels: area/datatypes, kind/bug, status/review

#5495 Batch bulk hide and delete operations when multi-selected.
  client/galaxy/scripts/mvc/history/history-view-edit.js
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/hdas.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy/webapps/galaxy/buildapp.py
  test/api/test_history_contents.py
Labels: area/API, area/histories, area/performance, kind/bug, kind/enhancement, status/review

#7725 [18.05] Backport other CI config changes
  .circleci/config.yml
  .travis.yml
  tox.ini
Labels: area/testing, kind/bug, status/review

#7248 Modest refactoring of the migration stages code.
  lib/galaxy/webapps/galaxy/controllers/admin.py
Labels: area/admin, kind/refactoring, status/review

#7720 OIDC login buttons based on configuration
  client/galaxy/scripts/components/login/Login.vue
  lib/galaxy/authnz/managers.py
  lib/galaxy/config.py
  lib/galaxy/managers/configuration.py
Labels: area/UI-UX

#7727 Commented-out cloudbridge requirement for the cloud/send tool.
  tools/cloud/send.xml
Labels: triage

#7723 [19.01] Fix check on links in ``CompressedFile.safemembers()``
  lib/galaxy/util/compression_utils.py
  test-data/safe_relative_symlink.tar
  test/unit/test_compression_util.py
Labels: area/framework, kind/bug, status/review

#7738 Fix comments
  scripts/common_startup.sh
  test/api/test_histories.py
Labels: area/documentation, kind/bug, status/review

#7713 Copy tools_by_id before collecting dependency status
  lib/galaxy/webapps/galaxy/controllers/admin.py
Labels: area/admin, area/toolshed, kind/bug, status/review

#7553 Add data dialog option to tool form data selector
  client/galaxy/scripts/components/DataDialog.vue
  client/galaxy/scripts/components/DataDialog/DataDialog.test.js
  client/galaxy/scripts/components/DataDialog/DataDialog.vue
  client/galaxy/scripts/components/DataDialog/DataDialogSearch.vue
  client/galaxy/scripts/components/DataDialog/DataDialogTable.vue
  client/galaxy/scripts/components/DataDialog/model.js
  client/galaxy/scripts/components/DataDialog/services.js
  client/galaxy/scripts/components/DataDialog/utilities.js
  client/galaxy/scripts/layout/data.js
  client/galaxy/scripts/mvc/ui/ui-options.js
  client/galaxy/scripts/mvc/ui/ui-select-content.js
  client/galaxy/scripts/qunit/tests/ui_tests.js
  client/galaxy/style/scss/ui.scss
Labels: area/UI-UX, kind/feature, status/review

#7724 Unpause dependent jobs when resuming jobs
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/actions/__init__.py
  test/api/test_workflows.py
Labels: area/jobs, kind/bug, status/review

#7712 Add hostname to task message queues
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0151_add_worker_process.py
  lib/galaxy/queue_worker.py
  lib/galaxy/queues.py
  lib/galaxy/web/stack/database_heartbeat.py
Labels: area/admin, kind/bug, kind/enhancement, status/review

#7675 [19.01] Bugfix: "Run workflow" jumps when clicked
  client/galaxy/scripts/mvc/tool/tool-form-composite.js
  client/galaxy/style/scss/base.scss
Labels: area/UI-UX, kind/bug, status/review

#7737 Many more migration fixes
  lib/galaxy/model/migrate/versions/0003_security_and_libraries.py
  lib/galaxy/model/migrate/versions/0006_change_qual_datatype.py
  lib/galaxy/model/migrate/versions/0011_v0010_mysql_index_fix.py
  lib/galaxy/model/migrate/versions/0016_v0015_mysql_index_fix.py
  lib/galaxy/model/migrate/versions/0020_library_upload_job.py
  lib/galaxy/model/migrate/versions/0024_page_slug_unique_constraint.py
  lib/galaxy/model/migrate/versions/0025_user_info.py
  lib/galaxy/model/migrate/versions/0031_community_and_workflow_tags.py
  lib/galaxy/model/migrate/versions/0037_samples_library.py
  lib/galaxy/model/migrate/versions/0044_add_notify_column_to_request_table.py
  lib/galaxy/model/migrate/versions/0047_job_table_user_id_column.py
  lib/galaxy/model/migrate/versions/0053_item_ratings.py
  lib/galaxy/model/migrate/versions/0057_request_notify.py
  lib/galaxy/model/migrate/versions/0068_rename_sequencer_to_external_services.py
  lib/galaxy/model/migrate/versions/0073_add_ldda_to_implicit_conversion_table.py
  lib/galaxy/model/migrate/versions/0084_add_ldda_id_to_implicit_conversion_table.py
  lib/galaxy/model/migrate/versions/0101_drop_installed_changeset_revision_column.py
  lib/galaxy/model/migrate/versions/0106_add_missing_indexes.py
  lib/galaxy/model/migrate/versions/util.py
Labels: area/database, kind/enhancement, status/review

#7740 Python dependency upgrades
  Makefile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/update.sh
Labels: area/dependencies, kind/enhancement, status/review

#7751 Sanitize html in messages using galaxy.util.sanitize_html
  templates/message.mako
Labels: area/UI-UX, kind/bug, status/review

#7744 Upgrade pulsar-galaxy-lib to 0.9.0
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/framework, area/jobs, kind/bug, status/review

#7748 Replace ``enable_beta_export_format2_default`` with ``default_workflow_export_format``
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/API, kind/enhancement, status/review

#7719 Fix spacing in tool panel labels
  client/galaxy/style/scss/base.scss
Labels: area/UI-UX, kind/bug, minor, status/review

#7754 Fix Kubernetes integration tests for Docker on Mac.
  test/integration/test_kubernetes_runner.py
Labels: area/testing/integration, kind/bug

#7755 Report a couple common errors in dataset/job report.
  client/galaxy/scripts/mvc/dataset/dataset-error.js
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/buildapp.py
  test/api/test_jobs.py
Labels: area/jobs, kind/enhancement, status/review

#7246 Add converters between tabular and CSV.
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/converters/csv_to_tabular.xml
  lib/galaxy/datatypes/converters/tabular_csv.py
  lib/galaxy/datatypes/converters/tabular_to_csv.xml
Labels: area/datatypes, kind/enhancement, triage

#7718 spaln database type
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/spaln.py
Labels: area/datatypes, kind/enhancement

#7404 Automatically set cookie_path using url_for()
  config/galaxy.yml.sample
  config/reports.yml.sample
  config/tool_shed.yml.sample
  doc/source/admin/apache.md
  doc/source/admin/galaxy_options.rst
  doc/source/admin/nginx.md
  doc/source/admin/reports_options.rst
  lib/galaxy/config.py
  lib/galaxy/visualization/plugins/interactive_environments.py
  lib/galaxy/web/framework/webapp.py
  lib/galaxy/web/proxy/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/reports/config.py
  lib/galaxy/webapps/reports/config_schema.yml
  lib/galaxy/webapps/tool_shed/config.py
  lib/galaxy/webapps/tool_shed/config_schema.yml
Labels: area/framework, kind/enhancement, status/review

#7756 Define fontawesome icon in login component using 'i' and not 'icon'
  client/galaxy/scripts/components/login/Login.vue
Labels: area/UI-UX, kind/bug, status/review

#7684 Script to populate datasets/libraries directly into an objectstore and model store.
  lib/galaxy/model/__init__.py
  lib/galaxy/model/metadata.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/model/store/build_objects.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/tools/parameters/output_collect.py
  lib/galaxy/webapps/galaxy/api/_fetch_util.py
  packages/data/requirements.txt
  packages/data/setup.py
  test/unit/test_model_discovery.py
  test/unit/test_model_store.py
  test/unit/test_objectstore.py
  test/unit/tools/test_history_imp_exp.py
Labels: area/libraries, area/objectstore, kind/enhancement, status/review

#7760 Add singularity to valid types, allow customization of test history name
  lib/galaxy/tools/verify/interactor.py
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: area/documentation, area/testing, kind/enhancement, status/review

#7706 [PROCEDURES] exempt notes, changelogs, and packages from mandatory review
  doc/source/project/organization.rst
Labels: procedures, status/review

#7704 Allow discovering collections for build model object script.
  lib/galaxy/model/store/__init__.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/tools/parameters/output_collect.py
  test/unit/test_model_discovery.py
  test/unit/test_model_store.py
Labels: area/database, kind/bug, kind/enhancement, status/review

#7707 [PROCEDURES] relax the vote requirement for fixing bugs in releases
  doc/source/project/organization.rst
Labels: procedures, status/review

#7745 Extend dataset search and add search API endpoint
  lib/galaxy/managers/annotatable.py
  lib/galaxy/managers/base.py
  lib/galaxy/managers/history_contents.py
  lib/galaxy/managers/taggable.py
  lib/galaxy/managers/tools.py
  lib/galaxy/util/__init__.py
  lib/galaxy/web/base/controller.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  test/api/test_datasets.py
  test/unit/managers/base.py
  test/unit/managers/test_HDAManager.py
  test/unit/managers/test_HistoryContentsManager.py
  test/unit/managers/test_HistoryManager.py
Labels: area/API, kind/enhancement, kind/feature, status/review

#7772 Fix raise syntax error
  lib/galaxy/webapps/galaxy/controllers/visualization.py
Labels: kind/bug

#7770 Create repository clone path if it doesn't exist.
  lib/tool_shed/util/hg_util.py
Labels: area/toolshed, kind/bug, status/review

#7779 Symlink two more images that are accessed via non-webpack'd applicati…
  static/images/delete.gif
  static/images/star.gif
Labels: area/client-build, kind/bug, status/review

#7778 Fix BootstrapVue component specification in Citations
  client/galaxy/scripts/components/Citations.vue
Labels: area/UI-UX, kind/bug, status/review

#6321 Remove reset handler from ruler input element
  client/galaxy/scripts/mvc/tool/tool-form.js
  client/galaxy/scripts/mvc/ui/ui-rules-edit.js
Labels: area/UI-UX, kind/refactoring, status/review

#7782 Make url_get return unicode
  lib/galaxy/util/__init__.py
Labels: area/python3, kind/bug

#7783 [19.01] Fix shutdown for Pulsar MQ Runner
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/util/monitors.py
Labels: area/jobs, kind/bug, status/review

#7777 Make paired check more defensive
  client/galaxy/scripts/mvc/workflow/workflow-terminals.js
Labels: area/workflows, kind/bug, minor, status/review

#7780 Update parameter_input type when changing parameter type
  client/galaxy/scripts/mvc/workflow/workflow-node.js
Labels: area/UI-UX, area/workflows, kind/enhancement

#7789 Restrict search to items in owned histories
  lib/galaxy/managers/history_contents.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  test/api/test_datasets.py
Labels: area/API, kind/bug, minor, status/review

#7788 Disable flexible spreading of radio buttons by default
  client/galaxy/scripts/mvc/ui/ui-options.js
  client/galaxy/style/scss/ui.scss
Labels: area/UI-UX, kind/bug, status/review

#7785 bump python dependencies
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: minor

#7798 Don't clean up jobs when running tests if `$GALAXY_TEST_NO_CLEANUP` is set
  test/base/driver_util.py
Labels: area/testing, kind/enhancement, status/review

#7773 Add GeoJSON datatype
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/test/gis.geojson
  lib/galaxy/datatypes/text.py
Labels: area/datatypes, kind/feature, status/review

#7796 Add general purpose expression tool
  config/tool_conf.xml.sample
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/wrapped_json.py
  lib/galaxy/tools/parser/xml.py
  lib/galaxy/tools/xsd/galaxy.xsd
  tools/expression_tools/parse_values_from_file.xml
Labels: area/tool-framework, area/tools, kind/enhancement, kind/feature, status/review

#7800 Fix various Python deprecations
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/datatypes/binary.py
  lib/galaxy/jobs/dynamic_tool_destination.py
  lib/galaxy/managers/jobs.py
  lib/galaxy/model/store/build_objects.py
  lib/galaxy/tools/parser/xml.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/resources/__init__.py
  scripts/api/fetch_to_library.py
  scripts/extract_toolbox_sections.py
  test/api/test_workflows_from_yaml.py
  test/integration/test_workflow_sync.py
  test/unit/config/test_config_manage.py
Labels: area/cleanup, kind/bug, status/review

#7804 Fix 'postgres' dialect name has been renamed to 'postgresql' deprecat…
  test/docker/base/run_test_wrapper.sh
Labels: area/cleanup, area/testing, kind/refactoring, status/review

#7594 improve workflow cog menu ux
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  client/galaxy/scripts/ui/popupmenu.js
  templates/webapps/galaxy/workflow/editor.mako
  test/galaxy_selenium/navigates_galaxy.py
  test/selenium_tests/test_workflow_editor.py
Labels: area/UI-UX, kind/enhancement, status/review

#7805 gops_intersect_1 imports galaxy
  lib/galaxy/tools/__init__.py
Labels: kind/bug

#7806 Return HTTP 400 for `GET /api/datasets/nonexistent_id`
  lib/galaxy/webapps/galaxy/api/datasets.py
Labels: area/API, kind/bug, status/review

#7786 [19.01] Fix the use of JobMappingException
  lib/galaxy/jobs/__init__.py
Labels: area/jobs, kind/bug, status/review

#7797 Hide ExpressionTools in main analysis app
  client/galaxy/scripts/mvc/tool/tools.js
Labels: area/UI-UX, kind/enhancement, status/review

#7799 Don't let parameter_input steps be workflow outputs
  lib/galaxy/model/__init__.py
Labels: area/workflows, kind/bug, status/review

#7815 More concise tool error warning message.
  client/galaxy/scripts/mvc/dataset/dataset-error.js
Labels: area/UI-UX, kind/enhancement, minor

#7812 Encode email messages using UTF-8
  lib/galaxy/util/__init__.py
Labels: area/python3, kind/bug, status/review

#7829 Fix tool search function
  client/galaxy/scripts/mvc/tool/tools.js
Labels: area/UI-UX, kind/bug, minor

#7830 grt small bugfix for ancient data, deprecated params table
  scripts/grt/export.py
  scripts/grt/upload.py
Labels: area/scripts, kind/bug

#7828 Allow specifying maxseconds in verify_tool
  lib/galaxy/tools/verify/interactor.py
Labels: area/testing/api, kind/enhancement

#7826 Fix InputValueWrapper gt/ge/lt/le comparisons
  lib/galaxy/tools/wrappers.py
  test/unit/tools/test_wrappers.py
Labels: area/python3, kind/bug, status/review

#7823 Fix nested macro/token expansion on python 3
  lib/galaxy/util/xml_macros.py
  test/unit/tools/test_parsing.py
Labels: area/python3, kind/bug, status/review

#7834 Remove recursion from ``expand_nested_tokens()``
  lib/galaxy/util/xml_macros.py
  test/unit/tools/test_parsing.py
Labels: area/tool-framework, kind/enhancement, status/review

#7832 Fix failure in resubmitting job more than once
  lib/galaxy/jobs/runners/cli.py
Labels: area/jobs, kind/bug, status/review

#7838 Use getfullargspec on python3
  lib/galaxy/jobs/mapper.py
  lib/galaxy/jobs/splitters/multi.py
  lib/galaxy/tools/lint.py
  lib/galaxy/tools/verify/asserts/__init__.py
  lib/galaxy/util/getargspec.py
  lib/galaxy/util/pastescript/loadwsgi.py
  lib/galaxy/web/framework/decorators.py
  test/unit/test_fix_type_error.py
Labels: area/python3, kind/refactoring

#7837 Use markupsafe.escape instead of cgi.escape
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/genetics.py
  lib/galaxy/datatypes/isa.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/tools/errors.py
  lib/galaxy/web/framework/middleware/error.py
  lib/galaxy/web/framework/middleware/profile.py
  templates/tagging_common.mako
  templates/webapps/galaxy/workflow/display.mako
Labels: area/python3, kind/refactoring

#7839 [19.05] Update version to 19.05.rc1
  lib/galaxy/version.py
Labels: kind/enhancement, merge

#7840 Version 19.09.dev
  lib/galaxy/version.py
Labels: kind/enhancement, merge

#7843 Bootstrap style deprecation warning fix
  client/galaxy/style/scss/base.scss
Labels: area/client-build, minor, status/review

#7746 Enable the selection of library datasets in the tool form
  client/galaxy/scripts/components/DataDialog/DataDialog.test.js
  client/galaxy/scripts/components/DataDialog/DataDialog.vue
  client/galaxy/scripts/components/DataDialog/DataDialogSearch.vue
  client/galaxy/scripts/components/DataDialog/DataDialogTable.vue
  client/galaxy/scripts/components/DataDialog/services.js
  client/galaxy/scripts/components/login/Login.vue
  client/galaxy/scripts/entry/panels/history-panel.js
  client/galaxy/scripts/mvc/dataset/data.js
  client/galaxy/scripts/mvc/form/form-parameters.js
  client/galaxy/scripts/mvc/history/options-menu.js
  client/galaxy/scripts/mvc/tool/tool-form-base.js
  client/galaxy/scripts/mvc/tool/tool-form.js
  client/galaxy/scripts/mvc/ui/ui-select-content.js
  client/galaxy/scripts/qunit/tests/ui_tests.js
  client/galaxy/style/scss/base.scss
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/webapps/galaxy/api/tools.py
Labels: area/UI-UX, kind/enhancement, status/review

#7827 Add option to wait for db to become available
  config/galaxy.yml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/database, kind/enhancement, status/review

#7845 [19.01] Fix trackster issue w/ constraining (overflow:non-visible) containers
  client/galaxy/scripts/viz/trackster/tracks.js
Labels: area/UI-UX, area/visualizations, kind/bug, status/review

#7844 [19.05] Fix grouping1 with modern sort, fix test data
  test-data/groupby_out1.dat
  test-data/groupby_out2.dat
  test-data/groupby_out3.tabular
  test-data/groupby_out4.tabular
  tools/stats/grouping.py
  tools/stats/grouping.xml
Labels: area/tools, kind/bug, status/review

#7749 Fix automatic user registration
  client/galaxy/scripts/components/login/Login.vue
  client/galaxy/scripts/layout/menu.js
  lib/galaxy/managers/users.py
  lib/galaxy/webapps/galaxy/controllers/user.py
Labels: area/auth, kind/bug, status/review

#7850 [19.01] Backport of #7696
  lib/galaxy/datatypes/text.py
Labels: kind/bug, merge

#7852 Add ELIXIR OIDC backend, upgrade social-auth-core requirement version
  config/oidc_backends_config.xml.sample
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/auth, kind/enhancement, status/review

#7851 [19.05] Adjust appearance of user creation form in admin panel
  client/galaxy/scripts/components/login/Register.vue
Labels: area/UI-UX, kind/bug, status/review

#7853 [19.01] Use just the env name when checking ``CONDA_DEFAULT_ENV``
  lib/galaxy/tools/deps/resolvers/conda.py
Labels: area/performance, kind/bug, status/review

#7855 [19.01] Fix workflow extraction for jobs whose JobToDatasetOutputAssociation references a discovered dataset
  lib/galaxy/workflow/extract.py
Labels: area/UI-UX, area/histories, area/workflows, kind/bug, status/review

#7848 [19.05] improve upload ux
  client/galaxy/scripts/mvc/ui/ui-modal.js
  client/galaxy/scripts/mvc/ui/ui-tabs.js
Labels: area/UI-UX, area/upload, kind/bug

#7856 [19.05] backport of: "added elixir oidc backend, python soical auth version upgraded"
  config/oidc_backends_config.xml.sample
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/auth, merge
