Repository galaxyproject/galaxy, pull requests merged in 2019-11, with the labels that each got.

#8924 Config: drop redundant `template_cache` attribute
  lib/galaxy/app.py
  lib/galaxy/config/__init__.py
  lib/galaxy/web/framework/webapp.py
  lib/galaxy/webapps/reports/config.py
  lib/galaxy/webapps/tool_shed/config.py
  test/unit/test_routes.py
Labels: area/configuration, kind/enhancement

#8913 Enable interactivetools with other beta tools...
  run.sh
Labels: area/tool-framework, kind/enhancement

#8925 [19.09] Fix `TypeError` in logging commands
  scripts/cleanup_datasets/cleanup_datasets.py
Labels: area/scripts, kind/bug

#8908 make pgcleanup also delete HDAs
  scripts/cleanup_datasets/pgcleanup.py
Labels: area/database, kind/bug

#8921 Simplify Python deps installation in `testing-base` Dockerfile
  test/docker/README.md
  test/docker/base/Dockerfile
  test/docker/base/provision.yml
Labels: area/testing, kind/enhancement

#8916 [19.09] Fix galaxy-data package requirements.
  packages/data/requirements.txt
Labels: area/dependencies, area/packaging, kind/bug

#8910 Do not re-compute job input_ext/dbkey in job finish.
  lib/galaxy/jobs/__init__.py
  lib/galaxy/managers/jobs.py
  lib/galaxy/tools/actions/__init__.py
Labels: area/jobs, kind/enhancement

#8929 Set up a cache dir for pip when running tests with Docker
  run_tests.sh
Labels: area/testing, kind/enhancement

#8922 Prettier upgrade, and an attempt to fix vue component html formatting.
  client/galaxy/scripts/components/DataDialog/services.js
  client/galaxy/scripts/components/PageEditor/PageEditorHtml.vue
  client/galaxy/scripts/components/Tags/tagService.js
  client/galaxy/scripts/components/User/UserPreferences.vue
  client/galaxy/scripts/components/Workflow/WorkflowImport.vue
  client/galaxy/scripts/layout/modal.js
  client/galaxy/scripts/legacy/grid/grid-template.js
  client/galaxy/scripts/mvc/grid/grid-template.js
  client/galaxy/scripts/mvc/ui/ui-table.js
  client/galaxy/scripts/mvc/upload/collection/collection-row.js
  client/galaxy/scripts/mvc/upload/collection/collection-view.js
  client/galaxy/scripts/mvc/upload/default/default-view.js
  client/galaxy/scripts/mvc/upload/upload-ftp.js
  client/package.json
  client/yarn.lock
Labels: area/client, kind/refactoring, minor

#8884 Do not override schema defaults if they exist
  lib/galaxy/managers/configuration.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/configuration, kind/refactoring

#8932 [19.05] Fix implicitly converted datasets unused when mapping over
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/dataset_matcher.py
  lib/galaxy/tools/parameters/wrapped.py
  lib/galaxy/tools/wrappers.py
  test/api/test_tools.py
  test/functional/tools/column_multi_param.xml
Labels: area/datatype-framework, area/tool-framework, kind/bug

#8931 Refactor some workflow editor plumbing to VueJS
  client/galaxy/scripts/bundleEntries.js
  client/galaxy/scripts/components/Markdown/MarkdownEditor.vue
  client/galaxy/scripts/components/Workflow/Editor/WorkflowEditor.vue
  client/galaxy/scripts/components/Workflow/Editor/mount.js
  client/galaxy/scripts/components/Workflow/Editor/reportHelp.js
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  templates/webapps/galaxy/workflow/editor.mako
Labels: area/client, area/workflows, kind/enhancement, kind/refactoring

#8935 Fix unbounded variable error in GET /api/datasets/{encoded_dataset_id…
  lib/galaxy/webapps/galaxy/api/datasets.py
Labels: kind/bug

#8800 Allow recording more performance statistics to statsd.
  lib/galaxy/app.py
  lib/galaxy/config/__init__.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/orm/engine_factory.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/execute.py
  lib/galaxy/util/__init__.py
  lib/galaxy/web/framework/middleware/sqldebug.py
  lib/galaxy/web/framework/middleware/statsd.py
  lib/galaxy/web/statsd_client.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/workflow/scheduling_manager.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/performance, kind/enhancement

#8934 [19.09] Don't re-determine if job failed in exec_after_process hook
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tools/__init__.py
  test/functional/tools/data_manager.xml
  test/functional/tools/data_manager_add.xml
  test/functional/tools/data_manager_add_remove.xml
Labels: area/admin, area/tool-framework, kind/bug, kind/enhancement, kind/refactoring

#8933 [19.09] Fix DetachedInstanceError when tool shed packages are in play
  lib/galaxy/tools/cache.py
Labels: area/tool-dependencies, area/toolshed, kind/bug

#8938 [19.09] Broaden library description/info/message
  lib/galaxy/webapps/galaxy/api/folder_contents.py
Labels: area/libraries, kind/bug, kind/enhancement

#8901 [19.09] Revert hacking IPs in container monitor script.
  lib/galaxy/tool_util/deps/docker_util.py
  lib/galaxy_ext/container_monitor/monitor.py
Labels: area/jobs, kind/bug

#8897 [19.09] Structured access to Galaxy internals for (Interactive) Tools
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/evaluation.py
  test/functional/tools/environment_variables_inject.xml
  test/functional/tools/interactivetool_simple.xml
  test/functional/tools/interactivetool_two_entry_points.xml
  test/functional/tools/samples_tool_conf.xml
  test/unit/tool_util/test_parsing.py
  test/unit/tools/test_evaluation.py
  tools/interactive/interactivetool_askomics.xml
  tools/interactive/interactivetool_jupyter_notebook.xml
Labels: area/jobs, kind/enhancement

#8936 Add link for interactive tools
  client/galaxy/scripts/components/ToolEntryPoints/ToolEntryPoints.vue
Labels: area/UI-UX

#8939 [19.09] check_for_entry_points() more agressively in the condor job runner
  lib/galaxy/jobs/runners/condor.py
Labels: area/jobs, kind/bug, minor

#8941 Fix default logo path in configuration manager
  lib/galaxy/managers/configuration.py
Labels: area/UI-UX, kind/bug

#8945 [19.09] Fix send local control task usage
  lib/galaxy/webapps/galaxy/controllers/user.py
Labels: area/framework, kind/bug, minor

#8942 [19.09] Fix reading loc file samples
  lib/galaxy/tools/data/__init__.py
Labels: area/admin, kind/bug

#8944 [19.09] Validate tag strings as well as list of tags
  lib/galaxy/managers/library_datasets.py
Labels: area/libraries, kind/bug, minor

#8955 Remove deprecated tool dependency scripts.
  scripts/tool_shed/check_download_urls.py
  scripts/tool_shed/check_filesystem_for_empty_tool_dependency_installation_paths.py
  scripts/tool_shed/check_s3_for_empty_tool_dependency_installation_paths.py
  scripts/tool_shed/clean_up_tool_dependency_directory.py
  scripts/tool_shed/show_tool_dependency_installation_dir_contents.py
Labels: area/toolshed, kind/enhancement

#8950 [19.09] Fix the running icon wobblies
  client/galaxy/style/scss/dataset.scss
Labels: area/UI-UX, kind/bug

#8957 Remove script for migrating tools to the tool shed...
  scripts/tool_shed/migrate_tools_to_repositories.py
  scripts/tool_shed/migrate_tools_to_repositories.sh
Labels: area/toolshed, kind/enhancement

#8940 Set `deleted` attribute of history datasets when purging histories from grid
  lib/galaxy/model/migrate/versions/0134_hda_set_deleted_if_purged.py
  lib/galaxy/model/migrate/versions/0160_hda_set_deleted_if_purged_again.py
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: area/histories, kind/bug

#8956 Remove tool shed API examples.
  scripts/tool_shed/api/add_repository_registry_entry.py
  scripts/tool_shed/api/export.py
  scripts/tool_shed/api/get_filtered_repository_revisions.py
  scripts/tool_shed/api/import_capsule.py
  scripts/tool_shed/api/remove_repository_registry_entry.py
  scripts/tool_shed/api/reset_metadata_on_repositories.py
  scripts/tool_shed/api/tool_shed_repository_revision_update.py
Labels: area/toolshed, kind/enhancement

#8961 [19.09] add note to RN about GS
  doc/source/releases/19.09_announce.rst
Labels: area/documentation, kind/refactoring

#8967 add gff3.gz and gff3.bz2 datatypes
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes, triage

#8953 grouping: strip newlines
  tools/stats/grouping.py
  tools/stats/grouping.xml
Labels: area/tools, kind/bug

#8947 Library tags tweaks and tests
  client/galaxy/scripts/mvc/library/library-dataset-view.js
  client/galaxy/style/scss/base.scss
  lib/galaxy/managers/library_datasets.py
  lib/galaxy/model/tags.py
  test/api/test_libraries.py
Labels: area/libraries, kind/bug, kind/refactoring

#8964 Add new GROMACS datatypes: ndx, xvg, edr
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/md.edr
Labels: area/datatypes, kind/enhancement

#8969 [19.09] Backport 8759 (k8s fixes)
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs, kind/bug, minor

#8970 [19.05] Backport #8953 grouping strip newline
  tools/stats/grouping.py
  tools/stats/grouping.xml
Labels: area/tools, kind/bug

#8930 Implement extended job metadata collection
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/metadata/__init__.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/tools/actions/metadata.py
  test/integration/test_extended_metadata.py
  test/unit/tools/test_metadata.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/jobs, kind/enhancement

#8980 [19.05] Fix test repository self reference URL broken in dev.
  test/selenium_tests/test_workflow_management.py
Labels: area/testing/selenium, kind/bug

#8978 Remove workflow support from tool shed.
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/galaxy_test/selenium/test_workflow_management.py
  lib/tool_shed/test/base/twilltestcase.py
  lib/tool_shed/test/functional/test_0060_workflows.py
  lib/tool_shed/test/functional/test_1060_install_repository_with_workflow.py
  lib/tool_shed/util/workflow_util.py
  lib/tool_shed/webapp/controllers/repository.py
  lib/tool_shed/webapp/templates/admin/tool_shed_repository/repository_actions_menu.mako
  lib/tool_shed/webapp/templates/admin/tool_shed_repository/view_workflow.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/admin/statistics.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/common/repository_actions_menu.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/index.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/common.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/find_workflows.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/view_workflow.mako
  templates/admin/tool_shed_repository/repository_actions_menu.mako
  templates/admin/tool_shed_repository/view_workflow.mako
  templates/webapps/tool_shed/repository/common.mako
Labels: area/toolshed, kind/enhancement

#8984 Implement extended job metadata collection + fixes
  lib/galaxy/jobs/__init__.py
  lib/galaxy/metadata/__init__.py
  test/integration/test_extended_metadata.py
Labels: area/jobs, kind/bug, kind/enhancement

#8971 [19.09] Only index latest version of tools
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/search/__init__.py
Labels: area/tool-framework, kind/bug

#8951 [19.09] Several registration fixes.
  client/galaxy/scripts/components/login/Index.vue
  client/galaxy/scripts/components/login/Register.vue
  client/galaxy/scripts/entry/login/index.js
Labels: kind/bug, kind/enhancement

#8959 [19.09] Make repository updates more robust
  lib/galaxy/model/tool_shed_install/__init__.py
  lib/tool_shed/galaxy_install/install_manager.py
  lib/tool_shed/galaxy_install/metadata/installed_repository_metadata_manager.py
  lib/tool_shed/metadata/metadata_generator.py
  test/integration/test_repository_operations.py
  test/integration/uses_shed.py
Labels: area/tool-framework, kind/bug

#8985 [19.09] Use path as source of truth for installed_changeset_revision
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/toolbox/base.py
Labels: area/admin, area/tool-framework, kind/bug, kind/enhancement

#8989 Remove unused helper code from twilltestcase.
  lib/tool_shed/test/base/twilltestcase.py
Labels: area/testing, area/toolshed, kind/refactoring

#8990 Assorted fixes for extended metadata handling.
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/metadata/__init__.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/tool_util/provided_metadata.py
  test/integration/test_extended_metadata.py
Labels: area/jobs, kind/bug, minor

#8995 Make mol2 visible
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes, kind/enhancement

#8976 [19.09] do not force library tags to be `name:` tags + backport
  client/galaxy/scripts/mvc/library/library-dataset-view.js
  client/galaxy/style/scss/base.scss
  lib/galaxy/managers/library_datasets.py
  lib/galaxy/model/tags.py
  lib/galaxy/tools/actions/upload_common.py
  test/api/test_libraries.py
Labels: area/API, area/libraries, kind/bug

#9004 [19.09] Swap 'danger' to 'info' for the registration bonus message
  client/galaxy/scripts/components/login/Register.vue
Labels: area/UI-UX, kind/bug

#8988 Remove admin tool shed controller code (Part 1)
  lib/galaxy/webapps/galaxy/api/tool_shed_repositories.py
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/tool_shed/galaxy_install/grids/admin_toolshed_grids.py
  lib/tool_shed/test/base/twilltestcase.py
  lib/tool_shed/test/functional/test_1110_install_tool_from_tool_search.py
  lib/tool_shed/webapp/templates/admin/tool_shed_repository/repository_actions_menu.mako
  templates/admin/tool_shed_repository/repository_actions_menu.mako
  templates/admin/tool_shed_repository/reset_metadata_on_selected_repositories.mako
Labels: area/toolshed, kind/refactoring

#9003 Allow admins to import tools/workflows from paths.
  lib/galaxy/managers/executables.py
  lib/galaxy/managers/tools.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/dynamic_tools.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/api/test_tools.py
  lib/galaxy_test/base/data/minimal_tool_no_id.json
  lib/galaxy_test/base/populators.py
Labels: area/cwl, area/tools, area/workflows, kind/enhancement

#8999 [19.09] Fix unspecified shed_tool_config_file taking precedence over old shed_tool_conf.xml
  lib/galaxy/config/__init__.py
  lib/galaxy/model/tool_shed_install/__init__.py
  lib/galaxy/tools/data_manager/manager.py
  lib/galaxy/tools/toolbox/base.py
  lib/tool_shed/galaxy_install/install_manager.py
  lib/tool_shed/galaxy_install/metadata/installed_repository_metadata_manager.py
  lib/tool_shed/galaxy_install/tools/tool_panel_manager.py
  lib/tool_shed/util/shed_util_common.py
  test/integration/test_data_manager.py
  test/integration/uses_shed.py
Labels: area/admin, area/configuration, area/toolshed, kind/bug

#8994 Merge 19.09 into dev
  client/galaxy/scripts/components/login/Index.vue
  client/galaxy/scripts/components/login/Register.vue
  client/galaxy/scripts/entry/login/index.js
  client/galaxy/style/scss/dataset.scss
  doc/source/releases/19.09_announce.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/model/tool_shed_install/__init__.py
  lib/galaxy/tool_shed/galaxy_install/install_manager.py
  lib/galaxy/tool_shed/galaxy_install/metadata/installed_repository_metadata_manager.py
  lib/galaxy/tool_shed/galaxy_install/tools/tool_panel_manager.py
  lib/galaxy/tool_shed/metadata/metadata_generator.py
  lib/galaxy/tool_shed/util/shed_util_common.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/tools/data_manager/manager.py
  lib/galaxy/tools/search/__init__.py
  lib/galaxy/tools/toolbox/base.py
  test/integration/test_data_manager.py
  test/integration/test_repository_operations.py
  test/integration/uses_shed.py
Labels: merge

#9006 Fix tool image loading (was broken due to failing repo dir resolution)
  lib/galaxy/tools/__init__.py
Labels: kind/bug, kind/refactoring

#8993 [19.09] make toolshed repo index understand yaml
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/sample/tool_shed.yml.sample
  scripts/get_uwsgi_args.py
  scripts/tool_shed/build_ts_whoosh_index.py
Labels: kind/bug

#9007 fix path to ts uwsgi app
  scripts/get_uwsgi_args.py
Labels: kind/bug

#9009 Track non-history content outputs.
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0161_add_workflow_invocation_output_table.py
  lib/galaxy_test/api/test_workflows.py
Labels: area/workflows, kind/enhancement

#9013 Merge 19.09 into dev
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/sample/tool_shed.yml.sample
  scripts/get_uwsgi_args.py
  scripts/tool_shed/build_ts_whoosh_index.py
Labels: merge

#9015 Fix API decorator order
  lib/galaxy/webapps/galaxy/api/configuration.py
  lib/galaxy/webapps/galaxy/api/display_applications.py
  lib/galaxy/webapps/galaxy/api/dynamic_tools.py
  lib/galaxy/webapps/galaxy/api/group_roles.py
  lib/galaxy/webapps/galaxy/api/group_users.py
  lib/galaxy/webapps/galaxy/api/groups.py
  lib/galaxy/webapps/galaxy/api/quotas.py
  lib/galaxy/webapps/galaxy/api/tool_dependencies.py
  lib/galaxy/webapps/galaxy/api/tool_shed_repositories.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/api/toolshed.py
  lib/galaxy/webapps/galaxy/api/tours.py
  lib/galaxy/webapps/galaxy/api/users.py
Labels: area/API, kind/bug

#9014 [19.09] Fix name and version for export of a previous workflow version
  lib/galaxy/managers/workflows.py
Labels: area/API, area/workflows, kind/bug

#9020 [19.09] Package release fixes
  packages/build_scripts/commit_version.py
  packages/build_scripts/new_version.py
  packages/package.Makefile
  packages/util/HISTORY.rst
  packages/util/galaxy/project_galaxy_util.py
Labels: area/packaging, kind/bug, merge

#9026 [19.09] do not use var from inner scope
  lib/galaxy/webapps/tool_shed/api/groups.py
Labels: area/toolshed, kind/bug

#9033 when building ts index log parse errors at debug level
  scripts/tool_shed/build_ts_whoosh_index.py
Labels: area/toolshed, kind/enhancement

#9029 Hot module reloading using webpack-dev-server for client dev
  Makefile
  client/package.json
  client/webpack.config.js
  client/yarn.lock
  scripts/common_startup.sh
  scripts/get_uwsgi_args.py
Labels: area/client-build, kind/enhancement

#9041 [19.09] Add requirements to interval_to_bed_converter.xml
  lib/galaxy/datatypes/converters/interval_to_bed_converter.xml
Labels: area/tools, kind/bug

#9023 Default format 2 workflows to be downloaded as YAML.
  lib/galaxy/web/__init__.py
  lib/galaxy/web/framework/decorators.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
Labels: area/API, area/workflows, kind/enhancement

#9044 Update quickstart.rst
  doc/source/api/quickstart.rst
Labels: area/documentation, kind/enhancement

#7936 CLI tools for installing/testing Docker and Singularity containers
  doc/source/admin/special_topics/mulled_containers.rst
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/tool_util/deps/conda_util.py
  lib/galaxy/tool_util/deps/mulled/get_tests.py
  lib/galaxy/tool_util/deps/mulled/mulled_list.py
  lib/galaxy/tool_util/deps/mulled/mulled_search.py
  lib/galaxy/tool_util/deps/mulled/mulled_update_singularity_containers.py
  lib/galaxy/tool_util/deps/mulled/util.py
  packages/test.sh
  packages/tool_util/setup.py
  test/unit/tool_util/mulled/__init__.py
  test/unit/tool_util/mulled/test_get_tests.py
  test/unit/tool_util/mulled/test_mulled_list.py
  test/unit/tool_util/mulled/test_mulled_search.py
  test/unit/tool_util/mulled/test_mulled_update_singularity_containers.py
  test/unit/tool_util/test_conda_resolution.py
Labels: area/util, kind/feature

#9032 Make tours reloadable
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config_watchers.py
  lib/galaxy/tours/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/configuration, kind/feature

#9047 [19.05] Fix input parameter comparisons
  lib/galaxy/tools/wrappers.py
  test/unit/tools/test_wrappers.py
Labels: area/tool-framework, kind/bug

#9052 [19.05] Restore casting a boolean param to str when comparing with one
  lib/galaxy/tools/wrappers.py
  test/unit/tools/test_wrappers.py
Labels: area/tool-framework, kind/bug
