Repository galaxyproject/galaxy, pull requests merged in 2019-02, with the labels that each got.

#7191 [19.01] Properly document handler assignment method configuration and fix logging configuration docs
  config/job_conf.xml.sample_advanced
  doc/Makefile
  doc/source/admin/apache.md
  doc/source/admin/config_logging.rst
  doc/source/admin/nginx.md
  doc/source/admin/scaling.md
Labels: area/documentation, kind/bug, status/review

#7291 Drop support for Python 3.4. Officially support Python >=3.5
  .travis.yml
  config/datatypes_conf.xml.sample
  scripts/check_python.py
  tox.ini
Labels: area/datatypes, area/framework, kind/bug, kind/feature, status/review

#7286 Fix ObjectNotFound exception when exporting an history
  lib/galaxy/tools/imp_exp/__init__.py
Labels: triage

#7300 Do not remove tools from other installed revisions when uninstalling TS repo
  lib/tool_shed/galaxy_install/tools/tool_panel_manager.py
  templates/webapps/tool_shed/common/common.mako
  test/unit/shed_unit/test_tool_panel_manager.py
  test/unit/tools/test_toolbox.py
Labels: area/tool-framework, kind/bug, status/review

#7208 Update IE proxy dependencies
  lib/galaxy/web/proxy/js/package.json
Labels: area/GIEs, status/review

#7302 [19.01] Don't reduce list:list in multi data input workflow step
  lib/galaxy/workflow/modules.py
  test/api/test_workflows.py
Labels: area/workflows, kind/bug, status/review

#7303 Define doctype method on XMLParser target
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/tools/verify/__init__.py
  lib/galaxy/util/compression_utils.py
  lib/tool_shed/util/xml_util.py
Labels: area/cleanup, kind/refactoring, status/review

#7310 [19.01] Fix emoji tags
  lib/galaxy/util/__init__.py
Labels: area/API, area/UI-UX, kind/bug

#7234 Use es6 literal for library toolbar header, use icon buttons, left align
  client/galaxy/scripts/mvc/library/library-foldertoolbar-view.js
  client/galaxy/scripts/mvc/library/library-librarytoolbar-view.js
Labels: area/UI-UX, kind/refactoring, status/review

#6621 Replace registration mako with vue component
  client/galaxy/scripts/components/login/Index.vue
  client/galaxy/scripts/components/login/Login.vue
  client/galaxy/scripts/components/login/Register.vue
  client/galaxy/scripts/entry/admin/AdminRouter.js
  client/galaxy/scripts/entry/login/index.js
  client/galaxy/scripts/layout/menu.js
  client/galaxy/scripts/mvc/upload/collection/collection-view.js
  client/galaxy/scripts/mvc/upload/composite/composite-row.js
  client/galaxy/scripts/mvc/upload/composite/composite-view.js
  lib/galaxy/managers/configuration.py
  lib/galaxy/managers/users.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy/webapps/galaxy/controllers/user.py
  lib/galaxy/webapps/tool_shed/controllers/user.py
  templates/webapps/tool_shed/user/login.mako
  templates/webapps/tool_shed/user/register.mako
  test/galaxy_selenium/navigates_galaxy.py
  test/galaxy_selenium/navigation.yml
  test/selenium_tests/test_registration.py
  test/shed_functional/base/twilltestcase.py
Labels: area/UI-UX, kind/enhancement, status/review

#7315 Remove unused keyword in resend email helper
  lib/galaxy/webapps/galaxy/controllers/user.py
Labels: area/framework, kind/bug, status/review

#7313 Build tool XML schema docs using ``sphinx_markdown_tables``
  .gitignore
  Makefile
  doc/Makefile
  doc/fix_schema_rst.sh
  doc/parse_gx_xsd.py
  doc/source/admin/apache.md
  doc/source/admin/cluster.md
  doc/source/admin/config.rst
  doc/source/admin/jobs.md
  doc/source/admin/nginx.md
  doc/source/admin/production.md
  doc/source/admin/scaling.md
  doc/source/conf.py
  doc/source/releases/16.10.rst
  doc/source/releases/17.09_announce.rst
  doc/source/slideshow/architecture/galaxy_architecture.md
  doc/source/slideshow/architecture/images/backbone-model-view.svg
  doc/source/slideshow/architecture/images/cluster_support.svg
  doc/source/slideshow/architecture/images/data_managers.svg
  doc/source/slideshow/architecture/images/docker-chart.png
  doc/source/slideshow/architecture/images/family/team.png
  doc/source/slideshow/architecture/images/galaxy_schema.png
  doc/source/slideshow/architecture/images/hda.svg
  doc/source/slideshow/architecture/images/hda_dataset.plantuml.svg
  doc/source/slideshow/architecture/images/hda_dataset.plantuml.txt
  doc/source/slideshow/architecture/images/hda_hdca.plantuml.svg
  doc/source/slideshow/architecture/images/hda_hdca.plantuml.txt
  doc/source/slideshow/architecture/images/jsload.png
  doc/source/slideshow/architecture/images/libraries.svg
  doc/source/slideshow/architecture/images/library_permissions.svg
  doc/source/slideshow/architecture/images/objectstore.plantuml.svg
  doc/source/slideshow/architecture/images/objectstore.plantuml.txt
  doc/source/slideshow/architecture/images/objectstore_diagram.svg
  doc/source/slideshow/architecture/images/plantuml_options.txt
  doc/source/slideshow/architecture/images/sequence.json
  doc/source/slideshow/architecture/images/server_client.plantuml.svg
  doc/source/slideshow/architecture/images/server_client.plantuml.txt
  doc/source/slideshow/architecture/images/server_client_old.plantuml.svg
  doc/source/slideshow/architecture/images/server_client_old.plantuml.txt
  doc/source/slideshow/architecture/images/sqla_arch_small.png
  doc/source/slideshow/architecture/images/usegalaxy_webservers.svg
  doc/source/slideshow/architecture/images/usegalaxyorg.svg
  doc/source/slideshow/architecture/images/webapp.plantuml.svg
  doc/source/slideshow/architecture/images/webapp.plantuml.txt
  doc/source/slideshow/architecture/images/what-is-webpack.svg
  doc/source/slideshow/architecture/images/workflow_definition.svg
  doc/source/slideshow/architecture/images/workflow_run.svg
  doc/source/slideshow/architecture/images/wsgi_app.svg
  doc/source/slideshow/architecture/images/wsgi_request.svg
  doc/source/slideshow/architecture/remark-latest.min.js
  doc/source/slideshow/architecture/style.css
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: area/documentation, kind/bug, kind/enhancement, status/review

#7319 Fix trackster toolbox filter for logged-in users
  lib/galaxy/tools/toolbox/filters/__init__.py
  test/unit/tools/test_toolbox_filters.py
Labels: area/tool-framework, kind/bug, status/review

#7301 Add new test syntax specific for HDF5 files
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/tools/verify/asserts/__init__.py
  lib/galaxy/tools/verify/asserts/hdf5.py
  lib/galaxy/tools/xsd/galaxy.xsd
  test-data/matrix.cool
  test/functional/tools/samples_tool_conf.xml
  test/functional/tools/validation_hdf5.xml
Labels: area/testing, area/tools

#7323 Add note about Range support
  doc/source/admin/nginx.md
Labels: area/documentation, kind/enhancement

#7309 [19.01] More contrast in CSS
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/theme/blue.scss
Labels: area/UI-UX, kind/enhancement

#7334 Add note about HTTP Range also to Apache docs
  doc/source/admin/apache.md
  doc/source/admin/nginx.md
Labels: area/documentation, kind/enhancement, status/review

#7321 Remove overlapping tooltip from dropdown button in library toolbar
  client/galaxy/scripts/mvc/library/library-foldertoolbar-view.js
Labels: area/testing/selenium, kind/bug, status/review

#7235 remove underline from history datasets
  client/galaxy/style/scss/list-item.scss
Labels: area/UI-UX, kind/enhancement

#7338 Fix CORS issue in legacy test tool frame installation
  client/galaxy/scripts/onload/initQueue.js
Labels: area/UI-UX, area/client-build, kind/bug

#7339 Refactor galaxy.util.handlers -> galaxy.web.stack.handlers.
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/web/stack/__init__.py
  lib/galaxy/web/stack/handlers.py
  lib/galaxy/workflow/scheduling_manager.py
Labels: kind/refactoring

#7299 Add datatypes and sniffers for tar archives of directory-based MS formats and WIFF/SCAN pairs
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/brukerbaf.d.tar
  lib/galaxy/datatypes/test/some.wiff.tar
Labels: area/datatypes

#7340 Fix ``test_import_metadata_regeneration`` API test
  test/api/test_histories.py
Labels: area/testing/api, kind/bug, status/review

#7337 ui fixes to datalibs
  client/galaxy/scripts/mvc/library/library-foldertoolbar-view.js
Labels: kind/bug

#7345 Remove ``ToolsController._rerun_tool()`` API method
  lib/galaxy/web/framework/__init__.py
  lib/galaxy/webapps/galaxy/api/tools.py
Labels: area/cleanup, area/tool-framework, kind/enhancement, status/review

#7344 Update ``area`` issue/PR labels
  doc/source/project/issues.rst
Labels: kind/enhancement, status/review

#7239 [18.09] Add/pin configurable node version
  scripts/common_startup.sh
Labels: area/client-build, kind/bug, status/review

#7331 [19.01] Discriminate data managers and allow managed testing
  lib/galaxy/tools/data_manager/manager.py
  lib/galaxy/tools/loader_directory.py
Labels: area/testing, kind/enhancement, status/review

#7350 Merge 19.01 into dev
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/theme/blue.scss
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/brukerbaf.d.tar
  lib/galaxy/datatypes/test/some.wiff.tar
  lib/galaxy/tools/verify/asserts/__init__.py
  lib/galaxy/tools/verify/asserts/hdf5.py
  lib/galaxy/tools/xsd/galaxy.xsd
  lib/galaxy/util/__init__.py
  scripts/common_startup.sh
  test-data/matrix.cool
  test/functional/tools/samples_tool_conf.xml
  test/functional/tools/validation_hdf5.xml
Labels: merge

#7357 Separate client node version requirement into individual dotfile for …
  client/.node_version
  scripts/common_startup.sh
Labels: area/client-build, kind/enhancement, status/review

#7354 [19.01] Communication Server Display Fixes
  client/galaxy/scripts/layout/communication-server-view.js
  client/galaxy/style/scss/base.scss
Labels: area/UI-UX, kind/bug, status/review

#7346 Refactor item_attrs for reuse without mixin inheritance.
  lib/galaxy/model/item_attrs.py
  lib/galaxy/tools/imp_exp/__init__.py
  lib/galaxy/web/framework/helpers/grids.py
  lib/galaxy/webapps/reports/framework/grids.py
Labels: area/cleanup, kind/enhancement, kind/refactoring, status/review

#7359 test: added a test check for counting paired collections
  test/functional/tools/output_filter.xml
Labels: area/testing, area/tool-framework, status/review

#7352 fix the filename of saved test-data
  lib/galaxy/tools/verify/__init__.py
Labels: area/tools, kind/bug

#7358 Eliminate web framework import in history export.
  lib/galaxy/tools/imp_exp/__init__.py
Labels: area/histories, kind/enhancement

#7205 group: don't remove empty cells at the begin/start of lines
  test-data/groupby_out1.dat
  test-data/groupby_out2.dat
  test-data/groupby_out3.tabular
  test-data/groupby_out4.tabular
  tools/stats/grouping.py
  tools/stats/grouping.xml
Labels: area/tools, kind/enhancement, status/review

#7147 make job script actually return tool exit code
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/util/job_script/DEFAULT_JOB_FILE_TEMPLATE.sh
  lib/galaxy/jobs/runners/util/job_script/__init__.py
  test/unit/jobs/test_command_factory.py
Labels: triage

#7156 Stronger ToolProvidedMetadata abstraction.
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/output_collect.py
  lib/galaxy/tools/provided_metadata.py
  test/unit/tools/test_collect_primary_datasets.py
Labels: area/tool-framework, kind/refactoring, status/review

#7356 Add --force_path_paste argument to tool test verify script.
  lib/galaxy/tools/verify/interactor.py
  lib/galaxy/tools/verify/script.py
Labels: area/API, area/tool-framework, kind/enhancement, status/review

#7353 Improve error message during tool testing
  lib/galaxy/tools/verify/interactor.py
Labels: area/tools, kind/enhancement

#7363 Remove unused exported variables in history export.
  lib/galaxy/tools/imp_exp/__init__.py
  test/unit/tools/test_history_imp_exp.py
Labels: area/cleanup, area/histories, kind/enhancement

#7347 Overhaul OIDC login handling
  client/galaxy/scripts/components/login/Login.vue
  client/galaxy/scripts/components/login/Register.vue
  lib/galaxy/config.py
  lib/galaxy/web/base/controller.py
  lib/galaxy/webapps/galaxy/controllers/authnz.py
  lib/galaxy/webapps/galaxy/controllers/root.py
Labels: area/UI-UX, area/auth, kind/bug, kind/enhancement, status/review

#7366 Remove another unused variables from history export.
  lib/galaxy/tools/imp_exp/__init__.py
  test/unit/tools/test_history_imp_exp.py
Labels: area/cleanup, area/histories, kind/enhancement

#7370 Reduce comment spam in history import/export.
  lib/galaxy/tools/imp_exp/__init__.py
Labels: area/cleanup, kind/enhancement

#7371 Do not default to DEV_WHEELS=1 if no Git is found
  scripts/common_startup.sh
Labels: triage

#7374 Possible fix for fasta file never getting filesize
  lib/galaxy/jobs/dynamic_tool_destination.py
Labels: area/jobs, kind/bug

#7209 introduce the ability to favorite tools
  client/galaxy/scripts/entry/panels/tool-panel.js
  client/galaxy/scripts/mvc/tool/tool-form-base.js
  client/galaxy/scripts/mvc/tool/tools.js
  client/galaxy/scripts/mvc/upload/upload-button.js
  client/galaxy/scripts/mvc/user/user-model.js
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/upload.scss
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/buildapp.py
  test/api/test_tools.py
  test/api/test_users.py
  test/base/api.py
Labels: area/UI-UX, kind/feature

#7329 Remove logout mako, redirect to login page
  client/galaxy/scripts/components/login/Login.vue
  client/galaxy/scripts/components/login/Register.vue
  client/galaxy/scripts/layout/menu.js
  lib/galaxy/web/framework/webapp.py
  lib/galaxy/webapps/galaxy/controllers/user.py
  lib/galaxy/webapps/tool_shed/controllers/user.py
  templates/user/index.mako
  templates/webapps/tool_shed/user/logout.mako
  test/selenium_tests/test_anon_history.py
  test/shed_functional/base/twilltestcase.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/UI-UX, kind/enhancement, status/review

#7381 Fix upload button style
  client/galaxy/style/scss/upload.scss
Labels: area/UI-UX, kind/bug, status/review

#7384 [19.01] Fix HDF5 test assert docs
  doc/parse_gx_xsd.py
  lib/galaxy/tools/xsd/galaxy.xsd
Labels: area/documentation, kind/bug, minor

#7385 [19.01] Add datatypes for Anvi'o
  config/datatypes_conf.xml.sample
  lib/galaxy/datatypes/anvio.py
Labels: area/datatypes, status/review

#7387 Restore gray scale difference between panel vs portlet background color for contrast
  client/galaxy/style/scss/theme/blue.scss
Labels: area/UI-UX, kind/enhancement, status/review

#7388 Fix link doc syntax
  doc/source/admin/scaling.md
Labels: area/documentation, kind/bug

#7365 Remove pin on Sphinx. Update all dependencies
  client/README.md
  doc/source/admin/framework_dependencies.rst
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/update.sh
  scripts/common_startup.sh
Labels: area/dependencies, area/documentation, kind/enhancement, status/review

#7391 Update application documentation
  doc/source/api/guidelines.rst
  doc/source/lib/galaxy.datatypes.rst
  doc/source/lib/galaxy.jobs.runners.rst
  doc/source/lib/galaxy.jobs.runners.util.cli.job.rst
  doc/source/lib/galaxy.managers.rst
  doc/source/lib/galaxy.metadata.rst
  doc/source/lib/galaxy.rst
  doc/source/lib/galaxy.tools.deps.rst
  doc/source/lib/galaxy.tools.rst
  doc/source/lib/galaxy.tools.verify.asserts.rst
  doc/source/lib/galaxy.util.rst
  doc/source/lib/galaxy.web.stack.rst
  doc/source/lib/galaxy.webapps.galaxy.api.rst
Labels: area/documentation, kind/bug, status/review

#7308 [19.01] Release notes for 19.01.
  doc/source/releases/19.01.rst
  doc/source/releases/19.01_announce.rst
  doc/source/releases/19.05_announce.rst
  doc/source/releases/index.rst
Labels: area/documentation, kind/enhancement, status/review

#7390 [19.01] Report line number mismatch in sort collection tool
  lib/galaxy/tools/__init__.py
Labels: area/dataset-collections, kind/bug, kind/enhancement, status/review

#7395 Remove openid related legacy check
  templates/display_common.mako
Labels: area/UI-UX, kind/bug, status/review

#7399 [19.01] Bump yarn network tolerance
  Makefile
  scripts/common_startup.sh
Labels: area/client-build, kind/bug, status/review

#7322 Refactor dataset controller to reuse input validation checks between get/set
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  test/api/test_history_contents.py
  test/api/test_jobs.py
Labels: area/API, area/cleanup, kind/bug, kind/enhancement

#7394 Restore admin client router handling
  lib/galaxy/web/base/controller.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
Labels: area/UI-UX, kind/refactoring, status/review

#6958 Kubernetes job runner integration test and enhancements
  config/job_conf.xml.sample_advanced
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/chronos.py
  lib/galaxy/jobs/runners/cli.py
  lib/galaxy/jobs/runners/condor.py
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy/jobs/runners/godocker.py
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/local.py
  lib/galaxy/jobs/runners/pbs.py
  lib/galaxy/jobs/runners/util/job_script/CLUSTER_SLOTS_STATEMENT.sh
  lib/galaxy/jobs/runners/util/job_script/DEFAULT_JOB_FILE_TEMPLATE.sh
  lib/galaxy/jobs/runners/util/job_script/__init__.py
  lib/galaxy/tools/deps/dependencies.py
  lib/galaxy/util/bytesize.py
  test/base/integration_util.py
  test/functional/tools/samples_tool_conf.xml
  test/integration/test_containerized_jobs.py
  test/integration/test_job_recovery.py
  test/integration/test_kubernetes_runner.py
  test/unit/jobs/test_command_factory.py
Labels: area/jobs, area/testing/integration, kind/enhancement, status/review

#7401 Place oidc login button under regular login form
  client/galaxy/scripts/components/login/Login.vue
Labels: area/UI-UX, kind/enhancement, status/review

#7216 [18.09] Update configuration samples
  config/galaxy.yml.sample
  config/reports.yml.sample
  config/tool_shed.yml.sample
  doc/source/admin/galaxy_options.rst
  doc/source/admin/reports_options.rst
  lib/galaxy/webapps/config_manage.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/reports/config_schema.yml
  lib/galaxy/webapps/tool_shed/config_schema.yml
Labels: area/documentation, kind/bug, status/review

#7405 Add a brief security note for 19.01.
  doc/source/releases/19.01_announce.rst
Labels: area/documentation, kind/enhancement

#7397 specify generic exceptions more precisely
  lib/galaxy/exceptions/error_codes.json
  lib/galaxy/webapps/galaxy/api/users.py
Labels: area/API, kind/enhancement, status/review

#7369 Simplify tag handling in history export.
  lib/galaxy/tools/imp_exp/__init__.py
Labels: area/cleanup, area/histories, kind/enhancement, status/review

#7396 Fix pie chart and portlet height in flexboxes
  client/galaxy/style/scss/ui.scss
  config/plugins/visualizations/nvd3/nvd3_bar/package.json
  config/plugins/visualizations/nvd3/nvd3_bar/src/nvd3.js
  config/plugins/visualizations/nvd3/nvd3_bar/static/nvd3.css
  config/plugins/visualizations/nvd3/nvd3_bar/static/nvd3.js
  config/plugins/visualizations/nvd3/nvd3_pie/config/nvd3_pie.xml
Labels: area/visualizations, kind/bug, status/review

#7414 [19.01] Fix analyze 75 datatype upload
  lib/galaxy/datatypes/proteomics.py
  tools/data_source/upload.py
Labels: area/datatypes, kind/bug, status/review

#7415 [19.01] Fix workflow list drop-to-upload
  client/galaxy/scripts/apps/extended.js
  client/galaxy/scripts/components/admin/ErrorStack.vue
  client/galaxy/scripts/galaxy.interactive_environments.js
  client/galaxy/scripts/mvc/tool/tool-form-composite.js
  client/galaxy/scripts/mvc/workflow/workflow.js
  client/galaxy/style/scss/base.scss
Labels: area/UI-UX, kind/bug, status/review

#7214 Cleanup History Export CLI Call
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/tools/imp_exp/__init__.py
  lib/galaxy/tools/imp_exp/export_history.py
Labels: area/cleanup, kind/enhancement, status/review

#7316 Support loading/using tools that are not in the install database
  lib/galaxy/model/tool_shed_install/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/cache.py
  lib/galaxy/tools/data_manager/manager.py
  lib/galaxy/tools/repositories.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/shed_tool_static.py
  lib/tool_shed/tools/tool_validator.py
  lib/tool_shed/util/common_util.py
  lib/tool_shed/util/readme_util.py
  lib/tool_shed/util/shed_util_common.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/tool-framework, kind/enhancement, status/review

#7418 [19.01] Fix dependency installation in UI
  lib/galaxy/tools/deps/views.py
Labels: area/UI-UX, area/tool-dependencies, kind/bug, status/review

#7422 [18.09] Fix workflow loading on systems with ASCII locale
  lib/galaxy/managers/workflows.py
Labels: area/UI-UX, area/workflows, kind/bug

#7423 Drop unused install keyword and load TS workflows with utf-8 encoding
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/tool-dependencies, area/workflows, kind/refactoring, status/review
