Repository galaxyproject/galaxy, pull requests merged in 2020-02, with the labels that each got.

#9294 [20.01] Prevent caching of bootstrapped client data
  lib/galaxy/webapps/base/controller.py
Labels: area/UI-UX, kind/bug

#9297 [19.09] Add build_sites_config_file option to config_schema
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/configuration, kind/bug

#9300 Faster and cleaner set creation
  lib/galaxy/containers/__init__.py
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/dataproviders/dataset.py
  lib/galaxy/job_metrics/collectl/processes.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy/managers/base.py
  lib/galaxy/managers/pages.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/tags.py
  lib/galaxy/queue_worker.py
  lib/galaxy/tool_shed/galaxy_install/install_manager.py
  lib/galaxy/tool_util/cwl/representation.py
  lib/galaxy/tool_util/deps/mulled/mulled_build.py
  lib/galaxy/tool_util/deps/resolvers/conda.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/util/__init__.py
  lib/galaxy/visualization/plugins/interactive_environments.py
  lib/galaxy/web_stack/__init__.py
  lib/galaxy/webapps/galaxy/api/datatypes.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/api/tool_dependencies.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  test/unit/jobs/test_rule_helper.py
  test/unit/test_containers.py
  test/unit/tool_util/test_tool_deps.py
  tools/phenotype_association/pagetag.py
Labels: kind/refactoring

#9301 Add more info to debug logging for loading datatypes.
  lib/galaxy/datatypes/registry.py
Labels: area/datatype-framework

#9305 Fixes reports app under py3
  lib/galaxy/webapps/reports/app.py
  lib/galaxy/webapps/reports/config.py
Labels: area/python3, area/reports, kind/bug

#9302 Remove broken script
  scripts/cleanup_datasets/update_metadata.sh
Labels: area/scripts, kind/refactoring

#9309 [20.01] Backport reports config/py3 fix
  lib/galaxy/webapps/reports/app.py
  lib/galaxy/webapps/reports/config.py
Labels: area/python3, area/reports, kind/bug

#9292 Remove a dead symlink
  static/toolshed/src
Labels: area/UI-UX, kind/bug

#9299 Update CONTRIBUTING.md
  CONTRIBUTING.md
  test/TESTING.md
Labels: area/documentation, kind/enhancement

#9281 [20.01] Tag display fixes for ui-select.
  client/galaxy/scripts/mvc/ui/ui-select-default.js
Labels: area/UI-UX, kind/bug

#9306 Clean up old 'blue' style path, update documentation and samples
  doc/source/admin/apache.md
  doc/source/admin/galaxy_options.rst
  doc/source/admin/nginx.md
  doc/source/admin/scaling.md
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/reports.yml.sample
  lib/galaxy/config/sample/tool_shed.yml.sample
  lib/galaxy/config/script.py
  lib/galaxy/web/framework/webapp.py
  lib/galaxy_test/driver/driver_util.py
  lib/tool_shed/webapp/config_schema.yml
  scripts/get_uwsgi_args.py
  test/unit/config/config_manage/embedded/config/galaxy.yml
  test/unit/config/config_manage/simple/config/galaxy.yml
Labels: area/configuration, area/documentation, kind/refactoring

#9319 [20.01] Python3: unicodify the output of ``subprocess.check_output()``
  lib/galaxy/tool_util/deps/mulled/mulled_build.py
  lib/galaxy/tool_util/deps/mulled/mulled_update_singularity_containers.py
  lib/galaxy/webapps/reports/controllers/system.py
  lib/tool_shed/util/hg_util.py
  test/integration/test_kubernetes_runner.py
  test/integration/test_scripts.py
  test/unit/tool_util/mulled/test_mulled_update_singularity_containers.py
  tools/stats/grouping.py
Labels: area/python3, kind/bug

#9314 [20.01] Mount tool_data_path (ro) when running containerized tools
  lib/galaxy/config/__init__.py
  lib/galaxy/tool_util/deps/container_classes.py
  lib/galaxy/tool_util/deps/dependencies.py
Labels: area/jobs, kind/bug, kind/enhancement

#9311 Add do_not_cache decorator, apply to codebase.
  lib/galaxy/web/__init__.py
  lib/galaxy/web/framework/decorators.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/tool_shed/webapp/controllers/repository.py
Labels: area/framework, kind/enhancement, kind/refactoring

#9293 [20.01] Allow tabular.gz / add embl to uploadable formats
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#9316 [20.01] Various fixes and enhancements to reports
  client/galaxy/scripts/components/Workflow/Editor/reportHelp.js
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/images.py
  lib/galaxy/managers/markdown_export_base.css
  lib/galaxy/managers/markdown_util.py
Labels: area/UI-UX, area/workflows

#9321 [20.01] Fix reports disk usage query for python 3
  lib/galaxy/webapps/reports/controllers/users.py
Labels: area/python3, area/reports, kind/bug

#9324 Use Bootstrap components to build the Workflow Editor Toolbar
  client/galaxy/scripts/components/Workflow/Editor/Index.vue
  client/galaxy/scripts/components/Workflow/Editor/Options.vue
  client/galaxy/scripts/components/Workflow/Editor/WorkflowEditor.vue
  client/galaxy/scripts/components/Workflow/Editor/mount.js
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: area/UI-UX, kind/enhancement

#9320 [19.09] Move sam_pileup to GALAXY_LIB_TOOLS_VERSIONED
  lib/galaxy/tools/__init__.py
Labels: area/tool-dependencies, area/tools

#9327 [20.01] Fix string module use
  lib/galaxy/visualization/plugins/interactive_environments.py
  tools/plotting/bar_chart.py
Labels: area/python3, kind/bug

#9322 Use requests for slots instead of limit
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs, kind/bug

#9329 [20.01] Fix Python 3 error in containers lib
  lib/galaxy/containers/docker.py
Labels: area/GIEs, area/python3, kind/bug

#9330 [20.01] Fix use of next() as a meethod instead of a function
  lib/galaxy/containers/docker.py
  lib/galaxy/containers/docker_swarm.py
Labels: area/GIEs, area/python3, kind/bug

#9315 [20.01] Fix workflow editor save as functionality
  lib/galaxy/webapps/galaxy/controllers/workflow.py
Labels: area/workflows, kind/bug

#9334 [20.01] Various doc fixes
  doc/source/admin/config_logging.rst
  doc/source/admin/framework_dependencies.rst
  doc/source/admin/nginx.md
  doc/source/admin/reports.md
  doc/source/admin/reports.rst
  doc/source/admin/reports_options.rst
  doc/source/admin/special_topics/index.rst
  doc/source/admin/special_topics/interactivetools.rst
  doc/source/conf.py
  doc/source/dev/build_a_job_runner.rst
  doc/source/dev/data_managers.rst
  doc/source/dev/data_types.md
  lib/galaxy/config/sample/reports.yml.sample
  lib/galaxy/webapps/reports/config_schema.yml
Labels: area/documentation, kind/bug

#9339 [19.09] Fix app reference in guess_shed_config
  lib/galaxy/model/tool_shed_install/__init__.py
Labels: kind/bug

#9337 [20.01] Various python 3 fixes from sentry
  client/galaxy/scripts/viz/trackster.js
  lib/galaxy/datatypes/dataproviders/dataset.py
  lib/galaxy/datatypes/interval.py
  lib/galaxy/openid/openid_manager.py
  lib/galaxy/tools/data/__init__.py
  lib/galaxy/visualization/data_providers/genome.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/api/library_datasets.py
Labels: area/UI-UX, area/client, area/python3, area/visualizations, kind/bug

#9273 Add icons to dropdowns in dataset and workflow list
  client/galaxy/scripts/components/Dataset/DatasetName.test.js
  client/galaxy/scripts/components/Dataset/DatasetName.vue
  client/galaxy/scripts/components/Workflow/WorkflowDropdown.vue
Labels: area/UI-UX, kind/enhancement

#9332 Replacing Workflow Editor Node with Vue-component
  client/galaxy/scripts/components/Workflow/Editor/Index.vue
  client/galaxy/scripts/components/Workflow/Editor/Node.vue
  client/galaxy/scripts/components/Workflow/Editor/mount.js
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  client/galaxy/scripts/mvc/workflow/workflow-node.js
  client/galaxy/scripts/mvc/workflow/workflow-view-data.js
  client/galaxy/scripts/mvc/workflow/workflow-view-node.js
  client/galaxy/scripts/mvc/workflow/workflow-view-terminals.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  client/galaxy/scripts/qunit/tests/workflow_editor_tests.js
Labels: area/UI-UX, kind/enhancement

#9344 Create Python3 virtualenv by default
  .circleci/config.yml
  doc/source/admin/framework_dependencies.rst
  doc/source/admin/index.rst
  doc/source/admin/python.md
  doc/source/conf.versioning.py
  run_tests.sh
  scripts/check_python.py
  scripts/common_startup.sh
  tox.ini
Labels: area/dependencies, area/python3, kind/feature

#9350 [19.09] Fix version in which ``sam_pileup`` was fixed
  lib/galaxy/tools/__init__.py
Labels: area/tools, kind/bug

#9351 Consistent "import" of maketrans
  lib/galaxy/datatypes/util/maf_utilities.py
  lib/galaxy/webapps/galaxy/api/library_datasets.py
  tools/next_gen_conversion/solid2fastq.py
Labels: area/python3, kind/refactoring

#9357 Skip ``test_config_option[build_sites_config_file]``
  test/integration/test_config_defaults.py
Labels: area/testing/integration, kind/bug

#9360 [20.01] Only get non-deleted datasets when listing custom dbkeys
  lib/galaxy/webapps/galaxy/api/users.py
Labels: area/UI-UX, kind/bug

#9348 [20.01] Make linters more robust on python 3
  lib/galaxy/tool_util/linters/general.py
  lib/galaxy/tool_util/loader_directory.py
Labels: kind/bug

#9359 [20.01] Use RenamedTemporaryFile for safer integrated_tool_panel_file writing
  lib/galaxy/tools/toolbox/integrated_panel.py
Labels: kind/bug

#9364 [19.09] Always add shed_tool_config file to tool_configs
  lib/galaxy/config/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/toolbox/base.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/admin, area/configuration, area/toolshed, kind/bug

#9366 Prevent duplicate listing of doi link and link (text, with href doi link)
  client/galaxy/scripts/components/Citations.vue
Labels: area/UI-UX, kind/bug

#9363 [20.01] Remove GenomeSpace tools, OpenID, UI and requirements
  client/galaxy/scripts/components/User/UserPreferences.vue
  client/galaxy/scripts/components/User/UserPreferencesModel.js
  client/galaxy/scripts/mvc/form/form-parameters.js
  client/galaxy/scripts/mvc/tool/tool-genomespace.js
  client/galaxy/scripts/mvc/ui/ui-select-genomespace.js
  client/galaxy/scripts/nls/fr/locale.js
  client/galaxy/scripts/nls/locale.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/tool_conf.xml.main
  lib/galaxy/config/sample/tool_conf.xml.sample
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/update.sh
  lib/galaxy/managers/configuration.py
  lib/galaxy/openid/genomespace.xml
  lib/galaxy/openid/openid_conf.xml
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/integration/test_config_defaults.py
  tools/genomespace/genomespace_exporter.py
  tools/genomespace/genomespace_exporter.xml
  tools/genomespace/genomespace_file_browser.py
  tools/genomespace/genomespace_importer.py
  tools/genomespace/genomespace_importer.xml
  tools/genomespace/genomespace_push.xml
Labels: area/dependencies, area/tools, kind/feature

#9289 MS Edge Fixes
  client/galaxy/scripts/mvc/ui/ui-slider.js
  client/karma/webpack.config.unittest.js
  client/package.json
  client/webpack.config.js
  client/yarn.lock
Labels: area/UI-UX, area/client, area/client-build, kind/bug, kind/enhancement

#9367 [20.01] Styleguide fixes
  client/styleguide.config.js
  client/webpack.config.js
Labels: area/UI-UX, area/documentation, kind/bug

#9373 fix special characters in citation field
  lib/galaxy/managers/citations.py
Labels: area/tool-framework, kind/bug

#9138 Refactor Workflow Run Form Toward Vue (part 1)
  client/galaxy/scripts/components/WaitButton.vue
  client/galaxy/scripts/components/Workflow/Run/WorkflowRun.vue
  client/galaxy/scripts/components/Workflow/Run/WorkflowRunSuccess.vue
  client/galaxy/scripts/entry/analysis/AnalysisRouter.js
  client/galaxy/scripts/mvc/tool/tool-form-composite.js
Labels: area/UI-UX, area/workflows, kind/enhancement

#9331 [20.01] Automatically resolve and add static-safe mappings for client-based images
  scripts/get_uwsgi_args.py
Labels: area/client-build, area/framework, kind/bug

#9375 [20.01] Backport edge fixes for 20.01
  client/galaxy/scripts/mvc/ui/ui-slider.js
  client/karma/webpack.config.unittest.js
  client/webpack.config.js
Labels: merge

#9336 [20.01] Add requirements, fix legacy tools and move them out of GALAXY_LIB_TOOLS_UNVERSIONED
  lib/galaxy/datatypes/converters/fastq_to_fqtoc.py
  lib/galaxy/datatypes/converters/fastq_to_fqtoc.xml
  lib/galaxy/datatypes/converters/tar_to_directory.xml
  lib/galaxy/datatypes/converters/wiggle_to_simple_converter.py
  lib/galaxy/datatypes/converters/wiggle_to_simple_converter.xml
  lib/galaxy/datatypes/util/maf_utilities.py
  lib/galaxy/tools/__init__.py
  tools/filters/joiner.xml
  tools/filters/secure_hash_message_digest.xml
  tools/filters/wiggle_to_simple.py
  tools/filters/wiggle_to_simple.xml
  tools/maf/interval_maf_to_merged_fasta.py
  tools/maf/vcf_to_maf_customtrack.py
  tools/maf/vcf_to_maf_customtrack.xml
  tools/stats/aggregate_binned_scores_in_intervals.xml
  tools/stats/aggregate_scores_in_intervals.py
Labels: area/tool-dependencies, area/tools, kind/bug, kind/refactoring

#9385 [19.09] Prevent tool execution getting stuck in history when a chromInfo data…
  lib/galaxy/managers/context.py
Labels: area/datatype-framework, area/tool-framework, kind/bug

#9354 [19.09] Expunge tool shed repository objects, prevents ParentInstanceDetachedError
  lib/galaxy/tools/cache.py
  test/unit/tools/conftest.py
  test/unit/tools/test_tool_shed_repository_cache.py
Labels: area/tools, kind/bug

#9346 Remove Backbone and Globals dependency from Workflow client code
  client/galaxy/scripts/bundleEntries.js
  client/galaxy/scripts/components/Panels/Common/ToolSection.test.js
  client/galaxy/scripts/components/Panels/SidePanel.vue
  client/galaxy/scripts/components/Panels/ToolBoxWorkflow.vue
  client/galaxy/scripts/components/Panels/mount.js
  client/galaxy/scripts/components/SelectionDialog/SelectionDialog.test.js
  client/galaxy/scripts/components/Tags/StatelessTags.vue
  client/galaxy/scripts/components/Workflow/Editor/Attributes.test.js
  client/galaxy/scripts/components/Workflow/Editor/Attributes.vue
  client/galaxy/scripts/components/Workflow/Editor/EditorPanel.vue
  client/galaxy/scripts/components/Workflow/Editor/Index.vue
  client/galaxy/scripts/components/Workflow/Editor/Node.test.js
  client/galaxy/scripts/components/Workflow/Editor/Node.vue
  client/galaxy/scripts/components/Workflow/Editor/Options.vue
  client/galaxy/scripts/components/Workflow/Editor/ReportHelp.vue
  client/galaxy/scripts/components/Workflow/Editor/WorkflowPanel.vue
  client/galaxy/scripts/components/Workflow/Editor/ZoomControl.vue
  client/galaxy/scripts/components/Workflow/Editor/mount.js
  client/galaxy/scripts/components/Workflow/Editor/reportDefault.js
  client/galaxy/scripts/components/Workflow/Editor/reportHelp.js
  client/galaxy/scripts/components/Workflow/Editor/services.js
  client/galaxy/scripts/components/Workflow/Editor/utilities.js
  client/galaxy/scripts/components/Workflow/icons.js
  client/galaxy/scripts/mvc/tool/tool-form-composite.js
  client/galaxy/scripts/mvc/workflow/workflow-canvas.js
  client/galaxy/scripts/mvc/workflow/workflow-connector.js
  client/galaxy/scripts/mvc/workflow/workflow-forms.js
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  client/galaxy/scripts/mvc/workflow/workflow-node.js
  client/galaxy/scripts/mvc/workflow/workflow-terminals.js
  client/galaxy/scripts/mvc/workflow/workflow-view-data.js
  client/galaxy/scripts/mvc/workflow/workflow-view-node.js
  client/galaxy/scripts/mvc/workflow/workflow-view-terminals.js
  client/galaxy/scripts/mvc/workflow/workflow-view.js
  client/galaxy/scripts/qunit/tests/workflow_editor_tests.js
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/theme/blue.scss
  client/galaxy/style/scss/workflow.scss
  lib/galaxy/selenium/navigation.yml
  templates/webapps/galaxy/workflow/editor.mako
Labels: area/UI-UX, area/workflows, kind/enhancement, kind/refactoring

#9368 Fix success message in user preferences, add help text to toolbox filter page
  client/galaxy/scripts/components/User/UserPreferences.vue
  client/galaxy/scripts/components/User/UserPreferencesModel.js
  client/galaxy/scripts/entry/analysis/AnalysisRouter.js
  lib/galaxy/actions/admin.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: area/UI-UX, kind/bug, kind/enhancement

#9391 [20.01] Fix for qp method used in GEDAs.
  lib/galaxy/datatypes/display_applications/application.py
Labels: kind/bug

#9388 [19.09] Move migrated_tools_conf > mutable_config_dir (#9376)
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/configuration, kind/bug

#9384 [20.01] Hyphy-vision fix and updates.
  .gitignore
  client/gulpfile.js
  config/plugins/visualizations/hyphyvision/package.json
  config/plugins/visualizations/hyphyvision/src/index.js
  config/plugins/visualizations/hyphyvision/src/package.json
  config/plugins/visualizations/hyphyvision/src/webpack.config.js
  config/plugins/visualizations/hyphyvision/static/674f50d287a8c48dc19ba404d20fe713.eot
  config/plugins/visualizations/hyphyvision/static/912ec66d7572ff821749319396470bde.svg
  config/plugins/visualizations/hyphyvision/static/af7ae505a9eed503f8b8e6982036873e.woff2
  config/plugins/visualizations/hyphyvision/static/b06871f281fee6b241d60582ae9369b9.ttf
  config/plugins/visualizations/hyphyvision/static/bundle.js
  config/plugins/visualizations/hyphyvision/static/fee66e712a8a08eef5805a46892932ad.woff
  config/plugins/visualizations/hyphyvision/static/main.css
  config/plugins/visualizations/hyphyvision/templates/hyphyvision.mako
  config/plugins/visualizations/hyphyvision/webpack.config.js
Labels: area/client-build, area/visualizations, kind/bug, kind/enhancement

#9398 [20.01] Fix hid comparison failing with hdas without hid
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/parameters/basic.py
Labels: area/python3, kind/bug

#9392 Replace editor grid image with css, add editor client unit tests
  client/galaxy/images/light_gray_grid.gif
  client/galaxy/scripts/components/Workflow/Editor/Node.test.js
  client/galaxy/scripts/components/Workflow/Editor/Options.vue
  client/galaxy/scripts/components/Workflow/Editor/ZoomControl.test.js
  client/galaxy/scripts/components/Workflow/Editor/ZoomControl.vue
  client/galaxy/style/scss/theme/blue.scss
  client/galaxy/style/scss/workflow.scss
Labels: area/UI-UX, kind/enhancement

#9399 [20.01] XML fix for joiner.xml.
  tools/filters/joiner.xml
Labels: area/tools, kind/bug, minor

#9395 [20.01] Make set metadata exec after process more robust
  lib/galaxy/tools/__init__.py
Labels: area/jobs, kind/bug

#9397 [20.01] Backport citation fixes
  client/galaxy/scripts/components/Citations.vue
  lib/galaxy/managers/citations.py
Labels: merge

#9393 [20.01] Fix maf tools
  lib/galaxy/datatypes/util/maf_utilities.py
  tools/maf/maf_to_bed.py
  tools/maf/maf_to_bed.xml
Labels: area/tool-dependencies, area/tools, kind/bug

#9349 [20.01] Allow remote jobs to configure entry points.
  lib/galaxy/config/__init__.py
  lib/galaxy/job_execution/ports/__init__.py
  lib/galaxy/job_execution/ports/view.py
  lib/galaxy/job_execution/setup.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/webapps/galaxy/api/job_ports.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy_ext/container_monitor/monitor.py
  test/integration/embedded_pulsar_docker_job_conf.yml
  test/integration/test_interactivetools_api.py
Labels: area/jobs, kind/bug, kind/enhancement

#9390 Added conda python update
  doc/source/admin/python.md
Labels: area/documentation, kind/enhancement

#9312 Fix galaxy_tool_util for composite file input testing in workflows.
  lib/galaxy/tool_util/cwl/util.py
  lib/galaxy/tool_util/verify/interactor.py
Labels: area/tool-framework, area/workflows, kind/bug, kind/enhancement

#9404 [20.01] Don't raise exception if anon goes to <galaxy_url>/user/resend_verification
  lib/galaxy/webapps/galaxy/controllers/user.py
Labels: kind/bug

#9400 [20.01] Prevent anonymous users from being able to request email notification on job completion
  lib/galaxy/jobs/actions/post.py
  lib/galaxy/webapps/galaxy/api/tools.py
Labels: kind/bug, minor

#9402 Full Python dependencies update
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/update.sh
Labels: area/dependencies, kind/enhancement

#9279 extend config file inputs tests
  lib/galaxy/tools/parameters/wrapped_json.py
  test-data/configfile.json
  test/functional/tools/column_param_configfile.xml
  test/functional/tools/inputs_as_json.xml
  test/functional/tools/inputs_as_json_with_paths.xml
Labels: triage

#8644 Issue #8445: Clicking on user/email in User menu triggers a page refresh - fix
  client/galaxy/scripts/layout/menu.js
  client/galaxy/style/scss/base.scss
Labels: area/UI-UX, kind/enhancement

#9386 CSS changes for a modern look and feel
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/history.scss
  client/galaxy/style/scss/list-item.scss
  client/galaxy/style/scss/overrides.scss
  client/galaxy/style/scss/theme/blue.scss
  client/galaxy/style/scss/ui.scss
  client/galaxy/style/scss/upload.scss
Labels: triage

#9408 [19.01] Update bleach to 3.1.1
  .circleci/config.yml
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/security, kind/bug

#9418 Handles floats correctly in ByteSize
  lib/galaxy/util/bytesize.py
Labels: triage

#9406 [20.01] Make dataset discovery respect final_job_state
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/tools/__init__.py
  lib/galaxy_test/api/test_tools.py
  test/functional/tools/collection_creates_dynamic_nested.xml
Labels: area/jobs, kind/bug

#9416 [20.01] Fix wrong map use in many places
  lib/galaxy/jobs/dynamic_tool_destination.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/tool_util/deps/dependencies.py
  lib/galaxy/tool_util/deps/resolvers/__init__.py
  lib/galaxy/tool_util/parser/cwl.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/util/object_wrapper.py
  lib/galaxy/webapps/reports/controllers/jobs.py
  lib/galaxy/webapps/reports/controllers/users.py
  lib/galaxy/webapps/reports/controllers/workflows.py
Labels: area/python3, kind/bug

#9412 Use ES6 function declaration to handle error response in workflow form
  client/galaxy/scripts/mvc/tool/tool-form-composite.js
Labels: area/UI-UX, kind/bug

#9410 Parse highlight property in default uploader component
  client/galaxy/scripts/components/Upload/Collection.vue
  client/galaxy/scripts/components/Upload/Default.vue
  client/galaxy/scripts/components/Upload/UploadWrapper.vue
Labels: area/UI-UX, kind/bug, minor

#9421 [20.01] Conda startup fixes
  .github/workflows/converter_tests.yaml
  .github/workflows/integration.yaml
  .github/workflows/mulled.yaml
  scripts/common_startup_functions.sh
  tox.ini
Labels: area/framework, kind/bug

#9411 [20.01] Fix shed image resolution
  lib/galaxy/webapps/galaxy/controllers/shed_tool_static.py
Labels: kind/bug

#9415 [20.01] Fixes for get_estimated_display_viewport
  lib/galaxy/datatypes/interval.py
  lib/galaxy/jobs/dynamic_tool_destination.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/util/__init__.py
  lib/galaxy/webapps/reports/controllers/jobs.py
  lib/galaxy/webapps/reports/controllers/users.py
  lib/galaxy/webapps/reports/controllers/workflows.py
Labels: kind/bug

#9429 Use a Galaxy root path with a space for converters and mulled tests
  .github/workflows/converter_tests.yaml
  .github/workflows/integration.yaml
  .github/workflows/mulled.yaml
Labels: area/testing, area/testing/integration, kind/bug

#9427 Remove '.sample' from default value; rebuild schema
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/configuration, kind/bug

#9431 [20.01] Build sites config fix
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: kind/bug, merge

#9434 [20.01] Fix uploading workflow archives
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/upload, kind/bug

#9424 fix two cases of opening a file binary
  lib/galaxy/tool_shed/galaxy_install/tool_dependencies/recipe/step_handler.py
  lib/galaxy/tool_shed/galaxy_install/tool_dependencies/recipe/tag_handler.py
Labels: area/python3, kind/bug

#9430 [20.01] Strip unicode null characters from traceback and job_messages
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tool_util/output_checker.py
Labels: area/jobs, kind/bug

#9436 [19.09] Fix toolshed package installation on python 3
  lib/tool_shed/galaxy_install/tool_dependencies/recipe/step_handler.py
  lib/tool_shed/galaxy_install/tool_dependencies/recipe/tag_handler.py
Labels: kind/bug, merge

#9433 [20.01] Fix TwoBitFile handle not opened in binary mode
  lib/galaxy/visualization/genomes.py
  tools/extract/extract_genomic_dna.py
Labels: area/python3, kind/bug

#9423 Fix first_startup Travis tests
  .travis.yml
  scripts/common_startup.sh
  tox.ini
Labels: area/testing, kind/bug

#9441 [20.01] Fix to_dict for upload1 tool
  lib/galaxy/tools/__init__.py
Labels: area/API, kind/bug

#9432 [20.01] Fix login to accounts using different email capitalization
  lib/galaxy/managers/users.py
  lib/galaxy/webapps/galaxy/controllers/user.py
Labels: area/auth, kind/bug

#9442 [20.01] Fix data tables vue display
  client/galaxy/scripts/components/admin/DataTablesGrid.vue
Labels: area/UI-UX, kind/bug

#9446 [20.01] Fix `UserManager.get_reset_token()` after #9432
  lib/galaxy/managers/users.py
Labels: area/auth, kind/bug

#9437 [19.09] Fix `SearchGuiArchive.set_meta()`
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes, kind/bug

#9447 Remove `virtualenv<20` requirement for mulled tests
  .github/workflows/mulled.yaml
Labels: area/testing, kind/enhancement

#9450 Followup to shed tool static fixes
  lib/galaxy/webapps/galaxy/controllers/shed_tool_static.py
Labels: kind/enhancement, kind/refactoring

#9443 Vue slot refactoring
  client/galaxy/scripts/components/Toolshed/InstalledList/Index.vue
  client/galaxy/scripts/components/admin/DataManager/DataManagerJobs.vue
  client/galaxy/scripts/components/admin/Dependencies/ContainerIndex.vue
  client/galaxy/scripts/components/admin/Dependencies/ResolutionIndex.vue
Labels: area/client, kind/refactoring

#9439 Unify default values used for delta (sim_size)
  lib/galaxy/tool_util/parser/util.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/tool_util/verify/__init__.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: kind/refactoring, triage

#9271 [20.01] Release notes for 20.01
  .circleci/config.yml
  doc/source/admin/framework_dependencies.rst
  doc/source/admin/index.rst
  doc/source/admin/python.md
  doc/source/conf.versioning.py
  doc/source/releases/20.01.rst
  doc/source/releases/20.01_announce.rst
  doc/source/releases/20.01_announce_user.rst
  doc/source/releases/20.01_prs.rst
  doc/source/releases/index.rst
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  run_tests.sh
  scripts/bootstrap_history.py
  scripts/check_python.py
  scripts/common_startup.sh
  tox.ini
Labels: area/documentation

#9453 Update version to 20.01.rc1
  lib/galaxy/version.py
Labels: triage

#9454 Version 20.05.dev
  lib/galaxy/version.py
Labels: triage

#8187 Added trigger to dataset table to update history.update_time
  lib/galaxy/managers/base.py
  lib/galaxy/managers/histories.py
  lib/galaxy/managers/history_contents.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0165_add_content_update_time.py
  lib/galaxy/model/triggers.py
Labels: area/database, area/histories, kind/enhancement

#9456 [20.01] Fix newlines in final release notes
  doc/source/releases/20.01.rst
Labels: area/documentation, kind/bug

#9444 Make mutable_config_dir configurable + rename
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/tool_shed/webapp/config.py
  test/integration/test_config_defaults.py
Labels: area/configuration, kind/enhancement

#9458 Fix `test_run_simple()` test broken on Python 2 by virtualenv 20.0.5
  .circleci/config.yml
  test/unit/jobs/test_expression_run.py
Labels: area/testing, kind/bug

#9460 [20.01] Use browser locale over global default
  client/galaxy/scripts/app/galaxy.js
Labels: area/i18n, kind/bug

#9463 [20.01] Add missing `pygithub` dev-requirement
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  scripts/bootstrap_history.py
Labels: area/scripts, kind/bug
