Repository galaxyproject/galaxy, pull requests merged in 2020-07, with the labels that each got.

#9949 Modify email address domain extraction
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/security/validate_user_input.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/unit/security/test_passwords.py
  test/unit/security/test_validate_user_input.py
Labels: area/security, kind/enhancement, kind/refactoring

#9947 Strip leading whitespace before calling urlparse
  lib/galaxy/tools/actions/upload_common.py
Labels: area/upload, kind/bug

#9943 Fix issues reported by flake8-bugbear and W504 errors 1/N
  lib/galaxy/config/__init__.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/text.py
  lib/galaxy/jobs/dynamic_tool_destination.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/cli.py
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/pbs.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/jobs/runners/slurm.py
  lib/galaxy/jobs/runners/univa.py
  lib/galaxy/jobs/runners/util/cli/shell/local.py
  lib/galaxy/jobs/runners/util/job_script/__init__.py
  lib/galaxy/metadata/__init__.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/model/__init__.py
  lib/galaxy/quota/__init__.py
  lib/galaxy/tool_util/deps/__init__.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/checkers.py
  lib/tool_shed/util/commit_util.py
  test/unit/tool_util/test_tool_deps.py
Labels: area/framework, kind/bug

#9938 Implement more Galaxy Markdown components.
  client/galaxy/scripts/components/Dataset/DatasetAsImage/DatasetAsImage.vue
  client/galaxy/scripts/components/Dataset/DatasetIndex/DatasetIndex.vue
  client/galaxy/scripts/components/Dataset/DatasetLink/DatasetLink.vue
  client/galaxy/scripts/components/Dataset/compositeDatasetUtils.js
  client/galaxy/scripts/components/Dataset/mount.js
  client/galaxy/scripts/components/Dataset/services.js
  client/galaxy/scripts/components/Markdown/Markdown.vue
  client/galaxy/scripts/store/datasetExtFilesStore.js
  client/galaxy/scripts/store/datasetPathDestinationStore.js
  client/galaxy/scripts/store/index.js
  lib/galaxy/managers/markdown_parse.py
  lib/galaxy/managers/markdown_util.py
  test/unit/managers/test_markdown_export.py
  test/unit/test_markdown_validate.py
Labels: area/workflows, kind/enhancement

#9950 [20.05] Fixes to package dependency declarations.
  lib/galaxy_test/base/instrument.py
  packages/app/requirements.txt
  packages/test_driver/requirements.txt
Labels: area/packaging, kind/bug

#9952 [20.05] Various small fixes for galaxy packages.
  packages/containers/tests/__init__.py
  packages/containers/tests/containers
  packages/containers/tests/test_containers.py
  packages/objectstore/requirements.txt
  packages/package.Makefile
  packages/test.sh
  test/unit/containers/__init__.py
  test/unit/containers/test_containers.py
Labels: area/packaging, kind/bug

#9953 Small tweaks to packaging of unit test utilities.
  lib/galaxy/util/__init__.py
  packages/data/tests/unittest_utils/__init__.py
  packages/data/tests/unittest_utils/tempfilecache.py
  packages/data/tests/unittest_utils/utility.py
  test/unit/datatypes/dataproviders/test_base_dataproviders.py
  test/unit/unittest_utils/tempfilecache.py
  test/unit/unittest_utils/utility.py
  test/unit/util/test_utils.py
  test/unit/visualizations/plugins/test_VisualizationPlugin.py
  test/unit/visualizations/plugins/test_VisualizationsRegistry.py
Labels: area/packaging, kind/refactoring

#9955 Rework client datatype handling logic for reuse
  client/galaxy/scripts/components/Datatypes/factory.js
  client/galaxy/scripts/components/Datatypes/index.js
  client/galaxy/scripts/components/Datatypes/index.test.js
  client/galaxy/scripts/components/Datatypes/model.js
  client/galaxy/scripts/components/Datatypes/services.js
  client/galaxy/scripts/components/Datatypes/test_fixtures.js
  client/galaxy/scripts/components/ToolRecommendation.vue
  client/galaxy/scripts/components/Workflow/Editor/Index.vue
  client/galaxy/scripts/components/Workflow/Editor/Node.vue
  client/galaxy/scripts/components/Workflow/Editor/NodeInput.vue
  client/galaxy/scripts/components/Workflow/Editor/Recommendations.vue
  client/galaxy/scripts/components/Workflow/Editor/modules/services.js
  client/galaxy/scripts/components/Workflow/Editor/modules/terminals.js
  client/galaxy/scripts/qunit/tests/workflow_editor_tests.js
  lib/galaxy/webapps/galaxy/api/datatypes.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy_test/api/test_datatypes.py
Labels: area/client, area/datatype-framework, area/workflows, kind/enhancement, kind/refactoring

#9951 Refactor toward real cohesion toward testing packages. (1/n)
  lib/galaxy/webapps/galaxy/api/dataset_collections.py
  lib/galaxy_test/api/test_configuration.py
  lib/galaxy_test/api/test_dataset_collections.py
  lib/galaxy_test/api/test_users.py
  lib/galaxy_test/base/api_asserts.py
  lib/galaxy_test/base/env.py
  lib/galaxy_test/driver/driver_util.py
  lib/galaxy_test/driver/testcase.py
  test/functional/test_toolbox.py
  test/integration/test_configuration_decode.py
Labels: area/packaging, area/testing, area/testing/api, kind/enhancement, kind/refactoring

#9958 Stub unit tests for galaxy-web-stack.
  packages/test.sh
  packages/web_stack/tests/web_stack
  test/unit/web_stack/__init__.py
  test/unit/web_stack/test_message.py
Labels: area/packaging, area/testing, kind/enhancement

#9944 Using context manager for irods session object
  lib/galaxy/objectstore/irods.py
Labels: triage

#9957 [20.05] Update pysam to 0.16.0.1
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/dependencies, kind/bug, merge

#9956 [20.05] Allow setting metadata_strategy per destination
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/job_conf.xml.sample_advanced
  lib/galaxy/jobs/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/integration/embedded_pulsar_metadata_job_conf.yml
  test/integration/test_pulsar_embedded_metadata.py
Labels: area/documentation, area/jobs, kind/bug, kind/enhancement

#9926 Speed up output discovery
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/model/store/discover.py
  lib/galaxy/model/tags.py
  test/unit/jobs/test_job_context.py
Labels: area/performance, kind/enhancement

#9959 Progress toward proper packaging of galaxy-web-framework package.
  lib/galaxy/authnz/managers.py
  lib/galaxy/managers/cloud.py
  lib/galaxy/web/framework/helpers/__init__.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/api/cloud.py
  lib/galaxy/webapps/galaxy/api/cloudauthz.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/authnz.py
  lib/galaxy/webapps/reports/buildapp.py
  lib/galaxy/webapps/util.py
  lib/tool_shed/webapp/buildapp.py
  packages/test.sh
  packages/web_framework/requirements.txt
  packages/web_framework/tests/__init__.py
  packages/web_framework/tests/web_framework
  test/unit/test_routes.py
  test/unit/web_framework/__init__.py
  test/unit/web_framework/framework/test_framework_base.py
  test/unit/webapps/__init__.py
  test/unit/webapps/test_webapp_base.py
Labels: area/framework, area/packaging, kind/bug, kind/enhancement

#9966 Refactor more unit tests into the galaxy-data package.
  packages/data/tests/data
  packages/data/tests/datatypes
  packages/data/tests/test_galaxy_mapping.py
  packages/data/tests/unittest_utils/__init__.py
  packages/data/tests/unittest_utils/objectstore_helpers.py
  packages/objectstore/tests/unittest_utils/__init__.py
  packages/objectstore/tests/unittest_utils/objectstore_helpers.py
  test/unit/data/__init__.py
  test/unit/data/datatypes/__init__.py
  test/unit/data/datatypes/converters/__init__.py
  test/unit/data/datatypes/converters/test_interval_to_tabix.py
  test/unit/data/datatypes/dataproviders/__init__.py
  test/unit/data/datatypes/dataproviders/test_base_dataproviders.py
  test/unit/data/datatypes/dataproviders/test_line_dataproviders.py
  test/unit/data/datatypes/test_bam.py
  test/unit/data/datatypes/test_bcf.py
  test/unit/data/datatypes/test_cram.py
  test/unit/data/datatypes/test_data.py
  test/unit/data/datatypes/test_datatypes_registry.py
  test/unit/data/datatypes/test_sniff.py
  test/unit/data/datatypes/test_validation.py
  test/unit/data/datatypes/test_vcf.py
  test/unit/data/datatypes/util.py
  test/unit/data/security/test_id_encode_decode.py
  test/unit/data/security/test_passwords.py
  test/unit/data/security/test_validate_user_input.py
  test/unit/data/test_galaxy_mapping.py
  test/unit/data/test_model_copy.py
  test/unit/objectstore/__init__.py
  test/unit/objectstore/test_objectstore.py
  test/unit/tools/test_history_imp_exp.py
  test/unit/unittest_utils/objectstore_helpers.py
Labels: area/packaging, kind/enhancement

#9971 Fix workflow run default icon
  client/galaxy/scripts/components/WaitButton.vue
Labels: area/UI-UX, kind/bug

#9975 Remove unnecessary log statements for number of connections
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/objectstore/irods.py
Labels: area/objectstore, kind/bug

#9974 [20.05] Fix MetadataFile handing with metadata_strategy: extended
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/model/metadata.py
  test/functional/tools/metadata_bam.xml
  test/integration/test_pulsar_embedded_metadata.py
Labels: area/jobs, kind/bug

#9960 Decouple API and Selenium tests from galaxy-test-driver (and the whole app!)
  lib/galaxy/util/__init__.py
  lib/galaxy_test/api/_framework.py
  lib/galaxy_test/base/api.py
  lib/galaxy_test/base/env.py
  lib/galaxy_test/base/testcase.py
  lib/galaxy_test/driver/driver_util.py
  lib/galaxy_test/driver/integration_util.py
  lib/galaxy_test/driver/testcase.py
  lib/galaxy_test/selenium/framework.py
  lib/tool_shed/test/base/twilltestcase.py
  scripts/functional_tests.py
  test/functional/test_toolbox.py
Labels: area/packaging, area/testing, kind/enhancement

#9982 Small refactoring for plugin_config.
  lib/galaxy/util/plugin_config.py
Labels: area/util, kind/refactoring

#9978 Revise workflow invocation status page
  client/galaxy/scripts/components/JobStates/mixin.js
  client/galaxy/scripts/components/ProgressBar.vue
  client/galaxy/scripts/components/Workflow/Run/WorkflowRunSuccess.vue
  client/galaxy/scripts/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/galaxy/scripts/layout/page.js
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/overrides.scss
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_admin_app.py
  lib/galaxy_test/selenium/test_workflow_run.py
  templates/base/base_panels.mako
Labels: area/UI-UX, kind/enhancement

#9980 Use optimized path of setting dataset size during output discovery
  lib/galaxy/model/store/discover.py
Labels: area/performance, kind/bug

#9991 [20.01] Cookie names to work with PR #9921 and py3 Exception printing
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
Labels: kind/bug

#9984 Cleanup WorkflowRun.test.js with flush promises.
  client/galaxy/scripts/components/Workflow/Run/WorkflowRun.test.js
Labels: kind/refactoring

#9985 Flush once per mapped over execution
  lib/galaxy/managers/collections.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/tags.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/data_manager.py
  lib/galaxy/tools/execute.py
  lib/galaxy/workflow/modules.py
  test/unit/tools/test_actions.py
  test/unit/tools/test_execution.py
Labels: area/jobs, area/performance, kind/bug, kind/enhancement

#9992 Tweak requirements for recent changes to package structure.
  packages/web_framework/requirements.txt
  packages/webapps/requirements.txt
Labels: area/packaging, kind/bug

#9994 [20.05] Merge 20.01 forward (minor conflict resolved)
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
Labels: merge

#9990 Use compression_utils to safely peek in compressed datasets
  lib/galaxy/datatypes/data.py
  lib/galaxy/model/__init__.py
Labels: area/datatypes, kind/bug

#9998 Optimize iRODS ``_exists()`` method
  lib/galaxy/objectstore/irods.py
Labels: area/objectstore, kind/enhancement

#9962 actually `set -e` for non-legacy tools
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/functional/tools/samples_tool_conf.xml
  test/functional/tools/strict_shell_profile.xml
Labels: kind/bug

#10009 Properly update active version in workflow attribute form
  client/galaxy/scripts/components/Workflow/Editor/Attributes.vue
Labels: area/UI-UX, kind/bug

#9993 Move unit tests to more appropriate packages.
  test/unit/tool_util/test_cwl_util.py
  test/unit/util/test_fill_template.py
Labels: area/packaging, kind/enhancement, status/WIP

#10014 [20.05] Fix pip error around markdown tables.
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
Labels: area/dependencies, kind/bug

#10015 [20.05] Backport dogpile logging reduction.
  lib/galaxy/config/__init__.py
Labels: area/configuration, kind/bug

#10018 [20.05] Pass stdin to hg clone to fix planemo tests
  lib/galaxy/tool_shed/util/hg_util.py
Labels: area/toolshed, kind/bug

#10011 [20.05] Hyphyvision visualization dependency fix
  config/plugins/visualizations/hyphyvision/package.json
  config/plugins/visualizations/hyphyvision/webpack.config.js
Labels: area/visualizations, kind/bug

#10017 [20.05] Properly update active version in workflow attributes form
  client/galaxy/scripts/components/Workflow/Editor/Attributes.vue
Labels: area/workflows, kind/bug, merge

#9860 Allow composite and extra file uploads via data fetch API.
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/tool_util/client/staging.py
  lib/galaxy/tool_util/cwl/util.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tool_util/verify/wait.py
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy_test/api/test_tools.py
  lib/galaxy_test/api/test_tools_upload.py
  lib/galaxy_test/base/api.py
  lib/galaxy_test/base/interactor.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/base/rules_test_data.py
  lib/galaxy_test/selenium/framework.py
  lib/galaxy_test/selenium/test_tool_form.py
  tools/data_source/upload.py
Labels: area/API, area/upload, area/workflows, kind/enhancement

#10028 [20.05] Rev gxformat2 for a bunch of bug fixes.
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/workflows, kind/bug

#7926 Add VCF_BGZIP to VCF converter
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/converters/gz_to_uncompressed.xml
  test-data/test.vcf
Labels: area/datatypes, kind/enhancement, status/WIP

#9986 Simplify workflow invocations grid, remove drop down, add workflow execution option
  client/galaxy/scripts/components/User/RecentInvocations.vue
  client/galaxy/scripts/components/Workflow/Invocations.vue
  client/galaxy/scripts/store/historyStore.js
  client/galaxy/scripts/store/workflowStore.js
Labels: area/UI-UX, kind/enhancement

#10024 GTN in Galaxy
  config/plugins/webhooks/gtn/config.yml
  config/plugins/webhooks/gtn/script.js
  config/plugins/webhooks/gtn/styles.css
  doc/source/admin/special_topics/gtn.md
  doc/source/admin/special_topics/gtn1.png
  doc/source/admin/special_topics/gtn2.png
Labels: area/UI-UX, kind/feature

#10019 Flush once for enqueue / workflow handler assignment
  lib/galaxy/jobs/manager.py
  lib/galaxy/tools/execute.py
  lib/galaxy/web_stack/handlers.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/workflow/run.py
  lib/galaxy/workflow/scheduling_manager.py
Labels: area/jobs, area/performance, area/workflows

#10008 Don't flush after each dataset creation in DistributedObjectStore
  lib/galaxy/objectstore/__init__.py
  test/unit/objectstore/test_objectstore.py
Labels: area/objectstore, area/performance, kind/bug, kind/enhancement

#10032 [20.01] Backport Elixir AAI configuration fixes
  lib/galaxy/authnz/psa_authnz.py
Labels: triage

#9989 [PROCEDURES] Update Code of Conduct
  CODE_OF_CONDUCT.md
Labels: kind/enhancement, procedures

#9888 Pluggable URI handling across upload components.
  client/galaxy/scripts/components/FilesDialog/FilesDialog.vue
  client/galaxy/scripts/components/FilesDialog/index.js
  client/galaxy/scripts/components/FilesDialog/model.js
  client/galaxy/scripts/components/FilesDialog/services.js
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
  client/galaxy/scripts/components/SelectionDialog/DataDialogTable.vue
  client/galaxy/scripts/components/Upload/Collection.vue
  client/galaxy/scripts/components/Upload/Default.vue
  client/galaxy/scripts/components/Upload/RulesInput.vue
  client/galaxy/scripts/components/Upload/UploadBoxMixin.js
  client/galaxy/scripts/components/Upload/UploadModal.vue
  client/galaxy/scripts/components/Upload/config.js
  client/galaxy/scripts/mvc/rules/rule-definitions.js
  client/galaxy/scripts/mvc/upload/upload-utils.js
  client/galaxy/scripts/utils/data.js
  lib/galaxy/app.py
  lib/galaxy/config/__init__.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/files/__init__.py
  lib/galaxy/files/sources/__init__.py
  lib/galaxy/files/sources/_pyfilesystem2.py
  lib/galaxy/files/sources/dropbox.py
  lib/galaxy/files/sources/galaxy.py
  lib/galaxy/files/sources/posix.py
  lib/galaxy/files/sources/webdav.py
  lib/galaxy/managers/configuration.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/tools/data_fetch.xml
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/parameters/grouping.py
  lib/galaxy/util/plugin_config.py
  lib/galaxy/webapps/galaxy/api/_fetch_util.py
  lib/galaxy/webapps/galaxy/api/remote_files.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy_test/base/api_asserts.py
  test/integration/file_sources_conf.yml
  test/integration/test_config_defaults.py
  test/integration/test_remote_files.py
  test/integration/test_webdav.py
  test/integration/webdav/DavLock
  test/integration/webdav/data/a
  test/integration/webdav/data/folder1/b
  test/integration/webdav/data/subdir1/c
  test/integration/webdav/data/subdir1/subdir2/d
  test/unit/config/test_config_values.py
  test/unit/files/__init__.py
  test/unit/files/_util.py
  test/unit/files/dropbox.py
  test/unit/files/dropbox_file_sources_conf.yml
  test/unit/files/posix.py
  test/unit/files/webdav.py
  test/unit/files/webdav_file_sources_conf.yml
  test/unit/files/webdav_user_file_sources_conf.yml
  tools/data_source/upload.py
  tools/data_source/upload.xml
Labels: area/upload, kind/feature

#10036 Touch up of toolbox search adjustments and messages
  client/galaxy/scripts/components/Panels/ToolBox.vue
  client/galaxy/scripts/components/Panels/utilities.js
Labels: kind/bug, kind/enhancement

#9917 Do not automatically overwrite the output labels for subworkflows
  lib/galaxy/workflow/modules.py
  test/unit/workflows/test_modules.py
Labels: area/workflows/subworkflows, kind/bug

#10027 [20.01] Backport webpack bundle prefix fix
  client/galaxy/scripts/onload/index.js
  client/galaxy/scripts/onload/publicPath.js
Labels: triage

#10044 Add GALAXY_ALLOW_FUTURE_DATABASE option in migration check
  lib/galaxy/model/migrate/check.py
Labels: area/database, kind/enhancement

#10042 [20.05] fix OSError in fastq_to_fqtoc converter
  lib/galaxy/datatypes/converters/fastq_to_fqtoc.py
Labels: area/datatypes, kind/bug

#10049 Merge 20.05 -> dev (resolved conflict in requirements.txt)
  lib/galaxy/datatypes/converters/fastq_to_fqtoc.py
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: triage

#10048 [20.01] Fix running workflows with parameters restricted on connections...
  lib/galaxy/workflow/modules.py
Labels: area/workflows, kind/bug

#10045 Improve workflow layout algorithm
  client/galaxy/scripts/components/Workflow/Editor/Index.vue
  client/galaxy/scripts/components/Workflow/Editor/modules/layout.js
  client/package.json
  client/webpack.config.js
  client/yarn.lock
Labels: area/UI-UX, kind/enhancement

#10050 Upload tests to clarify behavior around handling files without trailing newlines.
  lib/galaxy_test/api/test_tools.py
  lib/galaxy_test/api/test_tools_upload.py
  lib/galaxy_test/base/constants.py
Labels: area/API, area/testing/api, area/upload, kind/enhancement
