Repository galaxyproject/galaxy, pull requests merged in 2020-04, with the labels that each got.

#9545 Improvement to the selenium test to change password from user preferences
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_change_password.py
Labels: area/testing/selenium, kind/enhancement

#9379 Remove more duplication from TS, galaxy config
  lib/galaxy/config/__init__.py
  lib/tool_shed/webapp/config.py
Labels: area/configuration, area/toolshed, kind/refactoring

#9580 TS performance fixes
  lib/galaxy/tool_shed/metadata/metadata_generator.py
  lib/galaxy/tool_shed/util/hg_util.py
  lib/galaxy/tool_shed/util/repository_util.py
  lib/galaxy/tool_shed/util/tool_util.py
  lib/tool_shed/grids/repository_grids.py
  lib/tool_shed/grids/repository_review_grids.py
  lib/tool_shed/grids/util.py
  lib/tool_shed/metadata/repository_metadata_manager.py
  lib/tool_shed/repository_registry.py
  lib/tool_shed/repository_types/metadata.py
  lib/tool_shed/repository_types/repository_suite_definition.py
  lib/tool_shed/repository_types/tool_dependency_definition.py
  lib/tool_shed/repository_types/unrestricted.py
  lib/tool_shed/repository_types/util.py
  lib/tool_shed/test/base/twilltestcase.py
  lib/tool_shed/tools/tool_validator.py
  lib/tool_shed/tools/tool_version_manager.py
  lib/tool_shed/util/commit_util.py
  lib/tool_shed/util/hg_util.py
  lib/tool_shed/util/hgweb_config.py
  lib/tool_shed/util/metadata_util.py
  lib/tool_shed/util/readme_util.py
  lib/tool_shed/util/repository_content_util.py
  lib/tool_shed/util/review_util.py
  lib/tool_shed/util/shed_index.py
  lib/tool_shed/util/shed_util_common.py
  lib/tool_shed/webapp/api/repositories.py
  lib/tool_shed/webapp/app.py
  lib/tool_shed/webapp/controllers/admin.py
  lib/tool_shed/webapp/controllers/repository.py
  lib/tool_shed/webapp/controllers/repository_review.py
  lib/tool_shed/webapp/controllers/upload.py
  lib/tool_shed/webapp/model/__init__.py
  lib/tool_shed/webapp/model/mapping.py
  lib/tool_shed/webapp/security/__init__.py
  lib/tool_shed/webapp/templates/webapps/tool_shed/common/repository_actions_menu.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/browse_repository.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/manage_repository.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/preview_tools_in_changeset.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/rate_repository.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/upload.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/view_changelog.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/view_changeset.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/view_repository.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/view_tool_metadata.mako
Labels: area/performance, area/toolshed, kind/enhancement

#9592 [19.09] Add PAF, GFA1 and odgi datatypes
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/test/A-3105.paf
  lib/galaxy/datatypes/test/big.gfa1
  lib/galaxy/datatypes/text.py
Labels: area/datatypes

#9593 [20.01] Add xg, vg and protobuf datatypes
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes, kind/bug

#9606 Fix removal of workflow outputs from workflow nodes in editor
  client/galaxy/scripts/mvc/workflow/workflow-node.js
Labels: area/UI-UX, kind/bug

#9595 Sniffer for multi-member zip archives
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes, kind/enhancement

#9528 Make Toolshed Python 3 compatible & tests
  .github/workflows/toolshed.yaml
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/model/tool_shed_install/migrate/check.py
  lib/galaxy/tool_shed/galaxy_install/tool_dependencies/recipe/asynchronous_reader.py
  lib/galaxy/tool_shed/galaxy_install/tool_dependencies/recipe/install_environment.py
  lib/galaxy/tool_shed/util/hg_util.py
  lib/galaxy/webapps/galaxy/controllers/user.py
  lib/tool_shed/metadata/repository_metadata_manager.py
  lib/tool_shed/repository_types/repository_suite_definition.py
  lib/tool_shed/repository_types/tool_dependency_definition.py
  lib/tool_shed/test/base/twilltestcase.py
  lib/tool_shed/test/functional/test_1400_review_migration_stages.py
  lib/tool_shed/test/functional_tests.py
  lib/tool_shed/test/test_data/filtering/readme.txt
  lib/tool_shed/tools/tool_validator.py
  lib/tool_shed/util/hg_util.py
  lib/tool_shed/util/hgweb_config.py
  lib/tool_shed/util/readme_util.py
  lib/tool_shed/util/repository_util.py
  lib/tool_shed/webapp/controllers/hg.py
  lib/tool_shed/webapp/controllers/repository.py
  lib/tool_shed/webapp/model/__init__.py
  lib/tool_shed/webapp/model/migrate/check.py
  lib/tool_shed/webapp/templates/webapps/tool_shed/common/common.mako
Labels: area/python3, area/testing, area/toolshed, kind/bug, kind/refactoring

#9569 Tool recommendations in workflow editor
  client/galaxy/scripts/components/ToolRecommendation.vue
  client/galaxy/scripts/components/Workflow/Editor/Node.vue
  client/galaxy/scripts/components/Workflow/Editor/Recommendations.vue
  client/galaxy/scripts/components/Workflow/Editor/services.js
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/workflow.scss
  lib/galaxy/tools/recommendations.py
Labels: area/UI-UX, kind/feature, triage

#9529 Full Python dependencies update
  .ci/jenkins/api-py3
  .ci/jenkins/api-py3/run_tests.sh
  .ci/jenkins/framework-py3
  .ci/jenkins/framework-py3/run_tests.sh
  .ci/jenkins/integration-py3
  .ci/jenkins/integration-py3/run_tests.sh
  .ci/jenkins/main-tools-py3
  .ci/jenkins/main-tools-py3/run_tests.sh
  .ci/jenkins/selenium-compose/run_galaxy.bash
  .ci/jenkins/selenium-py3
  .ci/jenkins/selenium-py3/run_tests.sh
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/pinned-requirements.txt
  lib/galaxy_test/api/embed_test_1.gxwf.yml
  lib/galaxy_test/api/test_workflow_extraction.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/api/test_workflows_from_yaml.py
  lib/galaxy_test/base/workflow_fixtures.py
  lib/tool_shed/test/base/twilltestcase.py
  run_tests.sh
  test/docker/base/Dockerfile
  test/docker/base/ansible_vars.yml
  test/docker/base/run_test_wrapper.sh
  test/integration/test_fail_job_tool_unavailable.py
Labels: area/dependencies, kind/enhancement

#9616 Add IDs to admin links and selenium navigation.
  client/galaxy/scripts/entry/panels/admin-panel.js
  lib/galaxy/selenium/navigation.yml
Labels: area/testing, area/testing/selenium, kind/enhancement

#9583 Vuefy Job Destination Parameters
  client/galaxy/scripts/bundleEntries.js
  client/galaxy/scripts/components/JobDestinationParams/JobDestinationParams.test.js
  client/galaxy/scripts/components/JobDestinationParams/JobDestinationParams.vue
  client/galaxy/scripts/components/JobDestinationParams/index.js
  client/galaxy/scripts/components/JobDestinationParams/mount.js
  client/galaxy/scripts/components/JobDestinationParams/testData/jobDestinationResponse.json
  client/galaxy/scripts/store/index.js
  client/galaxy/scripts/store/jobDestinationParametersStore.js
  lib/galaxy/managers/jobs.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/buildapp.py
  templates/show_params.mako
Labels: area/UI-UX, kind/enhancement, kind/refactoring

#9620 Fix ELIXIR AAI
  lib/galaxy/authnz/psa_authnz.py
Labels: triage

#9622 Fix tensorflow bug
  lib/galaxy/tools/recommendations.py
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: kind/bug

#9628 Add selenium test for admin toolshed operations.
  client/galaxy/scripts/components/Toolshed/Index.vue
  client/galaxy/scripts/components/Toolshed/RepositoryDetails/InstallationSettings.vue
  client/galaxy/scripts/components/Toolshed/SearchList/Repositories.vue
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_admin_app.py
Labels: area/testing, area/testing/selenium, triage

#9633 fix links in Galaxy xsd docs
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/documentation, kind/bug

#9072 Disable the admin_toolshed controller (except for tests).
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
Labels: area/testing, kind/enhancement

#8109 new data types for OpenMS
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/proteomics.py
  lib/galaxy/datatypes/registry.py
  lib/galaxy/datatypes/test/test.dta2d
  lib/galaxy/datatypes/test/test.edta
  lib/galaxy/datatypes/test/test.kroenik
  lib/galaxy/datatypes/test/test.mztab
  lib/galaxy/datatypes/test/test.mztab2
  lib/galaxy/datatypes/test/test.osw
  lib/galaxy/datatypes/test/test.peff
  lib/galaxy/datatypes/test/test.peplist
  lib/galaxy/datatypes/test/test.pqp
  lib/galaxy/datatypes/test/test.psms
  lib/galaxy/datatypes/test/test.sqmass
Labels: area/datatypes, triage

#9310 Allow setting container path for docker_volumes
  lib/galaxy/tool_util/deps/container_classes.py
Labels: area/tool-framework, kind/bug

#9518 Drop remaining Python 2.7 CircleCI tests
  .circleci/config.yml
Labels: area/python3, area/testing, kind/enhancement

#9543 fix documentation for data checksum attribute
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/documentation, kind/bug

#9554 Abstract ObjectStore interface implementation
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/azure_blob.py
  lib/galaxy/objectstore/cloud.py
  lib/galaxy/objectstore/irods.py
  lib/galaxy/objectstore/pithos.py
  lib/galaxy/objectstore/pulsar.py
  lib/galaxy/objectstore/s3.py
Labels: area/framework, area/objectstore, kind/refactoring

#9613 Datasource tool for SRA manifest
  lib/galaxy/config/sample/tool_conf.xml.sample
  tools/data_source/sra.xml
Labels: area/tools, kind/feature

#9353 add a new function to get the local ip address
  lib/galaxy/util/sockets.py
  lib/galaxy_ext/container_monitor/monitor.py
Labels: area/jobs, kind/enhancement

#9160 Add more repository installation test cases
  test/integration/test_repository_operations.py
Labels: area/testing/integration, area/toolshed

#9546 Implementation of Selenium test for signout from user preferences
  client/galaxy/scripts/components/User/UserPreferencesModel.js
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_sign_out.py
Labels: area/testing/selenium, kind/enhancement

#9559 It migrate from EU
  tools/interactive/interactivetool_climate_notebook.xml
  tools/interactive/interactivetool_geoexplorer.xml
  tools/interactive/interactivetool_guacamole_desktop.xml
  tools/interactive/interactivetool_higlass.xml
  tools/interactive/interactivetool_openrefine.xml
  tools/interactive/interactivetool_panoply.xml
  tools/interactive/interactivetool_paraview.xml
  tools/interactive/interactivetool_pyiron.xml
  tools/interactive/interactivetool_radiant.xml
  tools/interactive/interactivetool_vcf_iobio.xml
Labels: triage

#9626 Change session timeout redirect URL to login entrypoint.
  lib/galaxy/web/framework/webapp.py
Labels: area/auth, kind/bug

#9627 Changed CSS overflow property from scroll to hidden to make table scr…
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
Labels: area/UI-UX, kind/bug

#9619 Feature/refactor rule builder
  client/galaxy/scripts/components/RuleBuilder/ColumnSelector.vue
  client/galaxy/scripts/components/RuleBuilder/IdentifierDisplay.vue
  client/galaxy/scripts/components/RuleBuilder/RegularExpressionInput.vue
  client/galaxy/scripts/components/RuleBuilder/RuleComponent.vue
  client/galaxy/scripts/components/RuleBuilder/RuleDisplay.vue
  client/galaxy/scripts/components/RuleBuilder/RuleModalFooter.vue
  client/galaxy/scripts/components/RuleBuilder/RuleModalHeader.vue
  client/galaxy/scripts/components/RuleBuilder/RuleModalMiddle.vue
  client/galaxy/scripts/components/RuleBuilder/RuleTargetComponent.vue
  client/galaxy/scripts/components/RuleBuilder/StateDiv.vue
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
Labels: triage

#9637 Use PyGithub for issue creation
  scripts/bootstrap_history.py
Labels: area/scripts, kind/refactoring

#9631 Add unit tests for all schema-defined config properties
  lib/galaxy/config/__init__.py
  test/unit/config/test_config_values.py
  test/unit/config/test_load_config.py
  test/unit/config/test_path_graph.py
  test/unit/config/test_path_resolves_to.py
  test/unit/config/test_reload_config.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/configuration, area/testing, kind/enhancement

#9635 update the main readme with new python version
  README.rst
Labels: area/documentation, kind/enhancement

#9496 Drop custom json encoding for tool test API endpoint
  lib/galaxy/webapps/galaxy/api/tools.py
Labels: area/API, kind/bug

#9340 Refactor toward testing workflow collection outputs.
  lib/galaxy/tool_util/cwl/util.py
  lib/galaxy/tool_util/verify/interactor.py
Labels: area/testing, area/workflows, kind/bug, kind/enhancement

#9621 Port and Vuefy AWS estimate from EU
  client/galaxy/scripts/components/JobMetrics/JobMetrics.test.js
  client/galaxy/scripts/components/JobMetrics/JobMetrics.vue
  client/galaxy/scripts/components/JobMetrics/ec2.json
  client/galaxy/scripts/components/JobMetrics/mount.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/managers/configuration.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  templates/show_params.mako
Labels: area/UI-UX, area/jobs, kind/enhancement

#9291 Do not strip tab characters from data_column reference and clarify documentation for use_header_names
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/basic.py
  test/functional/tools/column_param.xml
Labels: area/documentation, area/tool-framework, kind/enhancement

#9527 Combine selenium tests for creating and switching histories
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_history_multi_view.py
Labels: area/testing, area/testing/selenium, kind/refactoring

#9638 Fix ts integration test failures
  test/integration/test_repository_operations.py
  test/integration/uses_shed.py
Labels: area/testing/integration, kind/bug, minor

#9640 [19.09] Fix `TypeError: OSError object is not subscriptable` under Python 3
  lib/galaxy/util/pastescript/serve.py
  test/base/driver_util.py
Labels: area/testing/integration, kind/bug

#9204 Fix sending email error on python-3.7
  lib/galaxy/util/__init__.py
Labels: area/python3, kind/bug

#9609 Enabled various object store types to store data objects by uuid.
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/azure_blob.py
  lib/galaxy/objectstore/cloud.py
  lib/galaxy/objectstore/irods.py
  lib/galaxy/objectstore/pithos.py
  lib/tool_shed/webapp/model/__init__.py
  test/integration/objectstore/test_objectstore_datatype_upload.py
  test/integration/test_datatype_upload.py
  test/integration/test_datatype_upload_irods.py
Labels: area/objectstore, kind/enhancement

#9643 clean up code to use helper function instead
  client/galaxy/scripts/entry/analysis/AnalysisRouter.js
Labels: area/client, kind/refactoring

#9642 Python37 lock fix
  lib/galaxy/security/passwords.py
Labels: area/python3, area/security, kind/bug

#9644 Remove DO_NOT_TEST from config unit tests
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/unit/config/test_config_values.py
Labels: area/configuration, area/testing, kind/enhancement, kind/refactoring

#9582 Misc. refactoring of galaxy+TS config
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/tool_shed.yml.sample
  lib/tool_shed/webapp/config.py
  lib/tool_shed/webapp/config_schema.yml
Labels: area/configuration, area/toolshed, kind/refactoring

#7497 Add Okta as OIDC authentication option
  client/galaxy/scripts/components/login/Login.vue
  doc/source/admin/authentication.md
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/config/sample/oidc_backends_config.xml.sample
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/auth, kind/enhancement

#9634 Skip visualization build, if no changes were registered
  .gitignore
  client/gulpfile.js
Labels: area/client-build, area/visualizations, kind/enhancement

#9653 [20.01] Fix vcf_bgzip mimetype, allow cors, tbi from metadata element
  .github/workflows/integration.yaml
  display_applications/igv/vcf.xml
Labels: kind/bug

#9657 Hide "python: not found" error when Python 2 is not installed
  scripts/common_startup_functions.sh
Labels: area/scripts, kind/bug

#9652 Framework for Browser Testing of Custom Configured Galaxy Instances
  .github/workflows/integration_selenium.yaml
  client/galaxy/scripts/components/Upload/UploadBoxMixin.js
  client/galaxy/scripts/mvc/ui/ui-popover.js
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/driver/integration_util.py
  lib/galaxy_test/selenium/framework.py
  run_tests.sh
  test/integration/test_upload_configuration_options.py
  test/integration_selenium/__init__.py
  test/integration_selenium/framework.py
  test/integration_selenium/test_upload_ftp.py
Labels: area/testing/integration, area/testing/selenium, kind/enhancement

#9661 Merge 20.01 forward
  display_applications/igv/vcf.xml
  lib/galaxy/config/__init__.py
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/jobs/runners/util/pykube_util.py
  lib/galaxy/managers/interactivetool.py
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/driver/integration_util.py
  test/integration/test_interactivetools_api.py
  test/integration/test_kubernetes_staging.py
  test/integration/test_local_job_cancellation.py
  test/unit/jobs/job_conf.sample_advanced.yml
  test/unit/jobs/test_runner_local.py
Labels: triage

#9665 fix error in bundled tool: shrimp_color_wrapper
  tools/metag_tools/shrimp_color_wrapper.xml
Labels: area/tools, kind/bug

#9610 Startup speedups (XML doc cache, delay non-essential tool param parsing & indexing)
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app.py
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/queue_worker.py
  lib/galaxy/tool_shed/tools/tool_validator.py
  lib/galaxy/tool_util/parser/factory.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/cache.py
  lib/galaxy/tools/search/__init__.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/tools/toolbox/lineages/interface.py
  lib/galaxy/tools/toolbox/parser.py
  lib/galaxy/tools/toolbox/watcher.py
  lib/galaxy/util/yaml_util.py
  lib/galaxy/web/framework/webapp.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/workflow/modules.py
  lib/tool_shed/util/shed_index.py
  lib/tool_shed/webapp/app.py
  scripts/galaxy-main
  test/unit/config/test_config_values.py
  test/unit/tools_support.py
  test/unit/unittest_utils/galaxy_mock.py
  test/unit/workflows/test_modules.py
Labels: area/performance, kind/enhancement

#9650 It docs additional info
  doc/source/admin/special_topics/interactivetools.rst
Labels: area/GIEs, area/admin, kind/enhancement

#9664 Added documentation for debugging Galaxy and unit/integration tests
  doc/source/dev/debugging_galaxy.md
  doc/source/dev/debugging_tests.md
  doc/source/dev/index.rst
  doc/source/dev/tests.png
Labels: area/documentation, kind/feature

#9666 Fix for `time.clock()` removal in Python 3.8
  lib/galaxy/model/orm/logging_connection_proxy.py
Labels: area/python3, kind/bug

#9674 add doc for discover_datasets sort_by
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/documentation, area/tool-framework, kind/enhancement

#9670 Clear error message for wrong authenticator type
  lib/galaxy/auth/util.py
Labels: area/auth, kind/enhancement

#9668 Minor IT doc clarification
  doc/source/admin/special_topics/interactivetools.rst
Labels: area/documentation, kind/enhancement

#9632 [PROCEDURES] Officially allow adding new datatypes to the latest tagged release
  CONTRIBUTING.md
  doc/source/project/organization.rst
Labels: kind/enhancement, procedures

#9659 Respect retry-after header, raise on unexpected status codes
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/tool_shed/galaxy_install/install_manager.py
  lib/galaxy/tool_shed/galaxy_install/repository_dependencies/repository_dependency_manager.py
  lib/galaxy/tool_shed/galaxy_install/tool_dependencies/recipe/step_handler.py
  lib/galaxy/tool_shed/galaxy_install/tool_dependencies/recipe/tag_handler.py
  lib/galaxy/tool_shed/galaxy_install/update_repository_manager.py
  lib/galaxy/tool_shed/tool_shed_registry.py
  lib/galaxy/tool_shed/util/metadata_util.py
  lib/galaxy/tool_shed/util/repository_util.py
  lib/galaxy/tool_shed/util/shed_util_common.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/tool_shed/common_util.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/tool_shed/galaxy_install/dependency_display.py
  lib/tool_shed/util/readme_util.py
  lib/tool_shed/util/shed_util_common.py
  packages/util/requirements.txt
  test/unit/util/test_get_url.py
Labels: kind/refactoring

#9544 unify usage of Popen
  lib/galaxy/auth/providers/pam_auth.py
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/datatypes/util/generic_util.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy/jobs/runners/slurm.py
  lib/galaxy/jobs/runners/univa.py
  lib/galaxy/jobs/runners/util/condor/__init__.py
  lib/galaxy/tool_util/deps/conda_util.py
  lib/galaxy/tool_util/deps/container_resolvers/mulled.py
  lib/galaxy/tool_util/deps/docker_util.py
  lib/galaxy/tool_util/deps/dockerfiles.py
  lib/galaxy/tool_util/deps/mulled/mulled_build.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/tools/expressions/util.py
  lib/galaxy/util/commands.py
  lib/galaxy/util/sockets.py
  lib/galaxy_test/driver/integration_util.py
  test/integration/test_containerized_jobs.py
Labels: area/python3, kind/refactoring

#9677 Fixed an issue in object store integration tests
  test/integration/objectstore/test_objectstore_datatype_upload.py
Labels: area/objectstore, kind/bug

#9562 Chira visualization for Chimeras
  client/gulpfile.js
  config/plugins/visualizations/chiraviz/config/chiraviz.xml
  config/plugins/visualizations/chiraviz/package.json
  config/plugins/visualizations/chiraviz/src/css/rna.viz.css
  config/plugins/visualizations/chiraviz/src/images/plus-icon.png
  config/plugins/visualizations/chiraviz/src/images/search-icon.png
  config/plugins/visualizations/chiraviz/src/index.js
  config/plugins/visualizations/chiraviz/src/js/rna-viz.js
  config/plugins/visualizations/chiraviz/src/js/visualize-alignment.js
  config/plugins/visualizations/chiraviz/templates/chiraviz.mako
  config/plugins/visualizations/chiraviz/webpack.config.js
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
Labels: area/visualizations, kind/feature

#9147 Refactor Workflow Run Form Toward Vue (part 2)
  client/galaxy/scripts/components/Upload/index.js
  client/galaxy/scripts/components/Workflow/Run/WorkflowRun.test.js
  client/galaxy/scripts/components/Workflow/Run/WorkflowRun.vue
  client/galaxy/scripts/components/Workflow/Run/WorkflowRunForm.vue
  client/galaxy/scripts/components/Workflow/Run/index.js
  client/galaxy/scripts/components/Workflow/Run/model.js
  client/galaxy/scripts/components/Workflow/Run/services.js
  client/galaxy/scripts/components/Workflow/Run/testdata/run1.json
  client/galaxy/scripts/mvc/tool/tool-form-composite.js
Labels: area/UI-UX, area/workflows, kind/refactoring

#9678 Enhance toolshed selenium test.
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_admin_app.py
Labels: area/testing, area/testing/selenium, kind/enhancement

#9680 Optimize history_content union and filtering query
  lib/galaxy/managers/history_contents.py
  test/unit/managers/test_HistoryContentsManager.py
Labels: area/API, area/histories, area/performance, kind/enhancement

#9667 Checkbox bugfix
  client/galaxy/style/scss/ui.scss
  client/galaxy/style/scss/ui/paired-collection-creator.scss
  client/package.json
  client/yarn.lock
Labels: area/client, kind/bug

#9679 Plugin build hash bugfix
  client/gulpfile.js
Labels: area/client-build, kind/bug

#9683 [20.01] Fix outputs written to storage despite outputs_to_working_directory
  lib/galaxy/tools/evaluation.py
Labels: area/jobs, kind/bug

#9681 [20.01] Backport auth process lock fix
  lib/galaxy/security/passwords.py
Labels: area/auth, kind/bug

#9690 Add CSS class to messages in error report pages to make errors more visible
  client/galaxy/scripts/mvc/dataset/dataset-error.js
Labels: area/UI-UX, kind/enhancement

#9685 [20.01] Don't treat ConnectedValues as runtime input
  lib/galaxy/tools/parameters/__init__.py
  lib/galaxy/workflow/modules.py
Labels: area/workflows, kind/bug, triage

#9688 Fix history panel collapse
  client/galaxy/scripts/layout/panel.js
Labels: area/UI-UX, kind/bug
