Repository galaxyproject/galaxy, pull requests merged in 2020-12, with the labels that each got.

#10828 Drop legacy_eager_objectstore_initialization option.
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/admin, kind/enhancement, kind/refactoring

#10757 Add datatype converters for various MD filetypes
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/converters/gro_to_pdb.xml
  lib/galaxy/datatypes/converters/pdb_to_gro.xml
  lib/galaxy/datatypes/converters/trr_or_dcd_to_xtc.xml
  lib/galaxy/datatypes/converters/xtc_or_dcd_to_trr.xml
  lib/galaxy/datatypes/converters/xtc_or_trr_to_dcd.xml
Labels: area/datatypes, kind/enhancement

#10404 Adds Visualization options to Markdown Editor
  client/src/components/Form/Form.vue
  client/src/components/Markdown/Elements/Visualization.vue
  client/src/components/Markdown/Markdown.vue
  client/src/components/Markdown/MarkdownDialog.vue
  client/src/components/Markdown/MarkdownToolBox.vue
  client/src/components/Markdown/MarkdownVisualization.test.js
  client/src/components/Markdown/MarkdownVisualization.vue
  client/src/components/Workflow/Run/WorkflowRunForm.vue
  client/src/mvc/form/form-view.js
  client/src/mvc/visualization/chart/components/model.js
  client/src/mvc/visualization/chart/views/settings.js
  config/plugins/visualizations/annotate_image/config/annotate_image.xml
  config/plugins/visualizations/editor/config/editor.xml
  config/plugins/visualizations/example/config/example.xml
  config/plugins/visualizations/heatmap/heatmap_cluster/config/heatmap_cluster.xml
  config/plugins/visualizations/heatmap/heatmap_default/config/heatmap_default.xml
  config/plugins/visualizations/jqplot/jqplot_box/config/jqplot_box.xml
  config/plugins/visualizations/jqplot/jqplot_histogram/config/jqplot_histogram.xml
  config/plugins/visualizations/ngl/config/ngl.xml
  config/plugins/visualizations/ngl/src/ngl.js
  config/plugins/visualizations/nvd3/nvd3_bar/config/nvd3_shared.xml
  config/plugins/visualizations/nvd3/nvd3_histogram/config/nvd3_histogram.xml
  config/plugins/visualizations/nvd3/nvd3_histogram_discrete/config/nvd3_histogram_discrete.xml
  config/plugins/visualizations/pv/config/pv.xml
  config/plugins/visualizations/sweepster/config/sweepster.xml
  config/plugins/visualizations/trackster/config/trackster.xml
  lib/galaxy/managers/markdown_parse.py
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/visualization/plugins/config_parser.py
  lib/galaxy/visualization/plugins/plugin.py
  lib/galaxy/visualization/plugins/registry.py
  lib/galaxy/webapps/galaxy/api/plugins.py
  test/unit/test_markdown_validate.py
Labels: area/UI-UX, kind/enhancement

#10842 Move new config files samples to `lib/galaxy/config/sample/`
  config/tool_recommendations_overwrite.yml.sample
  config/trs_servers_conf.yml.sample
  lib/galaxy/config/sample/tool_recommendations_overwrite.yml.sample
  lib/galaxy/config/sample/trs_servers_conf.yml.sample
Labels: area/packaging, kind/bug

#10756 Add the OpenSeadragon viewer for deep zoom images
  client/gulpfile.js
  config/plugins/visualizations/openseadragon/config/openseadragon.xml
  config/plugins/visualizations/openseadragon/package.json
  config/plugins/visualizations/openseadragon/static/logo.png
  config/plugins/visualizations/openseadragon/templates/openseadragon.mako
Labels: area/client, area/visualizations

#10844 Use `github-script` action for maintenance_bot job too
  .github/workflows/labels-verifier.yaml
  .github/workflows/maintenance_bot.yaml
Labels: area/testing, kind/enhancement

#10353 Vuefy Job information
  client/src/bundleEntries.js
  client/src/components/DatasetInformation/testData/datasetResponse.json
  client/src/components/JobInformation/JobInformation.test.js
  client/src/components/JobInformation/JobInformation.vue
  client/src/components/JobInformation/index.js
  client/src/components/JobInformation/mount.js
  client/src/components/JobInformation/services.js
  client/src/components/JobInformation/testData/jobInformationResponse.json
  client/src/store/index.js
  client/src/store/jobStore.js
  lib/galaxy/webapps/galaxy/api/jobs.py
  templates/show_params.mako
Labels: area/API, area/UI-UX

#10826 [20.01] Update `sphinx-markdown-tables` to fix conflict
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
Labels: area/dependencies, kind/bug, merge

#10851 [20.01] Fix workflow preview for repeats without title
  lib/galaxy/tools/parameters/grouping.py
Labels: area/tool-framework, area/workflows, kind/bug

#10847 Always expand tool about section if metadata is available
  client/src/components/Tool/ToolFooter.vue
  lib/galaxy/selenium/navigation.yml
Labels: area/UI-UX, area/testing/selenium, kind/enhancement

#10804 Speedup xml replacement
  lib/galaxy/util/xml_macros.py
  packages/tool_util/requirements.txt
Labels: area/performance, area/tools

#10857 Fix mulled unit test
  test/unit/tool_util/mulled/test_mulled_search.py
Labels: area/testing

#10854 Convert datasets.set_edit to modern decorator, reuse manager.
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/hdas.py
  lib/galaxy/managers/libraries.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/security.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
Labels: area/API, kind/refactoring

#10835 [WIP] Rework a few model security operations to not require trans.
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/hdas.py
  lib/galaxy/managers/libraries.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/security.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
Labels: kind/refactoring

#10852 [20.09] Close tempfile file descriptor
  lib/galaxy/datatypes/converters/pbed_ldreduced_converter.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/util/maf_utilities.py
  lib/galaxy/tool_util/verify/__init__.py
  lib/tool_shed/webapp/controllers/upload.py
  tools/extract/liftOver_wrapper.py
Labels: area/testing/api, kind/bug

#10811 Add GitHub workflow to build docs
  .github/workflows/docs.yaml
Labels: area/documentation, area/testing, kind/enhancement

#10867 Small edits objectstore code.
  lib/galaxy/objectstore/__init__.py
  test/unit/objectstore/test_objectstore.py
Labels: area/objectstore, kind/refactoring

#10861 Run CI labeler on reopened PRs, but skip if area labels are present
  .github/workflows/maintenance_bot.yaml
Labels: area/testing, kind/enhancement

#10870 [20.01] Backport mulled unit test
  test/unit/tool_util/mulled/test_mulled_search.py
Labels: area/testing, kind/bug

#10869 [20.09] Pass optional subworkflow inputs to editor
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/api/test_workflows.py
  test/unit/workflows/workflow_support.py
Labels: area/workflows/subworkflows, kind/bug

#10871 Allow build_list inputs to be optional
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/build_list.xml
Labels: area/tools

#10863 Allow build_list inputs to be optional
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/build_list.xml
Labels: area/tool-framework

#10872 Import `Mapping` from `collection.abc`
  .github/workflows/maintenance_bot.yaml
  lib/galaxy/model/metadata.py
Labels: area/python3, kind/bug

#10853 Switch out tag image
  client/src/assets/images/tags-solid.svg
  client/src/components/Tags/StatelessTags.vue
Labels: area/UI-UX

#10834 Test cases and fix for config option new_user_dataset_access_role_default_private
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy_test/api/test_history_contents.py
  lib/galaxy_test/base/api.py
  lib/galaxy_test/base/populators.py
  test/integration/test_default_permissions.py
Labels: area/API, area/histories, area/testing, area/testing/integration, kind/bug

#10833 Improved error handling in API Interactor
  lib/galaxy/tool_util/verify/interactor.py
Labels: area/testing, kind/bug, kind/enhancement

#10866 Don't fetch dev on dev. Map AWS secrets to environment variables
  .github/workflows/docs.yaml
Labels: area/testing

#10779 Fix and improve handling of input upload problems while running tool tests.
  lib/galaxy/tool_util/verify/interactor.py
Labels: area/testing, kind/bug, kind/enhancement

#10878 Update askomics IT to 4.1.1
  tools/interactive/interactivetool_askomics.xml
Labels: area/tools

#10883 Merge branch 'release_20.09' into dev
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/api/test_workflows.py
  test/unit/workflows/workflow_support.py
Labels: area/testing, area/testing/api, area/workflows, merge

#10882 [20.01] Update lxml for CVE-2020-27783
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/dependencies, area/security, kind/bug

#10856 Make model somewhat compatible with sqlalchemy-1.4
  lib/galaxy/model/mapping.py
  lib/galaxy/model/orm/engine_factory.py
  lib/galaxy/model/orm/logging_connection_proxy.py
  lib/galaxy/model/security.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: area/database, kind/refactoring

#10886 Allow relative paths when staging jobs (e.g. with planemo run)
  lib/galaxy/tool_util/client/staging.py
Labels: area/API, area/workflows, kind/bug, kind/enhancement

#10845 Unit testing and optimization for creating private roles and dataset sharing.
  lib/galaxy/model/__init__.py
  lib/galaxy/model/security.py
  lib/galaxy_test/base/populators.py
  test/unit/data/test_galaxy_mapping.py
Labels: area/database, area/testing, kind/enhancement

#10879 Report galaxy URL in tool test script, optionally publish history
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tool_util/verify/script.py
  lib/galaxy/webapps/galaxy/api/roles.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  test/unit/tool_util/test_verify_script.py
Labels: area/scripts

#10821 [20.09] Drop trigger and update time queries
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
Labels: area/database, area/dataset-collections, area/performance, kind/bug

#10907 Remove trans from stream_dataset_collection()
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/managers/hdcas.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
Labels: area/API, kind/refactoring

#10910 [20.09] Update makefile target, verbiage for jest.
  Makefile
Labels: area/testing, kind/bug

#10908 More improvements to tool test scripting.
  lib/galaxy/exceptions/__init__.py
  lib/galaxy/exceptions/error_codes.json
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tool_util/verify/script.py
  lib/galaxy/tools/__init__.py
  test/unit/tool_util/test_verify_script.py
Labels: area/testing, area/tool-framework, kind/enhancement

#10917 [20.09] Backport database operation speedup
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/model_operations.py
  lib/galaxy/tools/execute.py
  test/unit/jobs/test_job_context.py
  test/unit/tools/test_actions.py
Labels: area/performance, kind/bug, kind/enhancement, merge

#10933 [20.05] Fix OSX tests
  .github/workflows/osx_startup.yaml
Labels: area/testing, kind/bug

#10934 [20.09] Execute immediate post job actions just after creating jobs and outputs
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/model_operations.py
  lib/galaxy/tools/execute.py
Labels: area/workflows, kind/bug

#10198 set up confirmation page for new custos/oidc users
  client/src/components/login/Confirmation.vue
  client/src/components/login/Login.vue
  client/src/entry/analysis/AnalysisRouter.js
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/authnz.py
  test/unit/authnz/test_custos_authnz.py
Labels: area/UI-UX, area/auth, area/testing, kind/bug, kind/enhancement

#10698 Add refresh_time to irods configuration, so that connections older than refresh_time are re-created.
  lib/galaxy/config/sample/object_store_conf.xml.sample
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/objectstore/irods.py
Labels: area/objectstore, kind/bug

#10952 Remove extra word
  client/src/components/login/Confirmation.vue
Labels: area/UI-UX

#10956 Use "email_from" value from schema for tool error report email
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/security/validate_user_input.py
  lib/galaxy/tools/errors.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/tools, kind/bug, kind/refactoring

#10961 Fix show tool help button in beta history.
  client/src/components/History/ContentItem/Dataset/DatasetMenu.vue
Labels: area/UI-UX, area/client, kind/bug, minor

#10904 Vue unit test cleanup, removing jquery, mocking ajax calls
  client/.babelrc
  client/README.md
  client/package.json
  client/src/components/DataDialog/DataDialog.test.js
  client/src/components/Dataset/DatasetName.test.js
  client/src/components/InteractiveTools/InteractiveTools.test.js
  client/src/components/JobDestinationParams/JobDestinationParams.test.js
  client/src/components/Markdown/MarkdownVisualization.test.js
  client/src/components/Masthead/Masthead.test.js
  client/src/components/Masthead/MastheadItem.test.js
  client/src/components/Panels/Common/Tool.test.js
  client/src/components/Panels/Common/ToolSection.test.js
  client/src/components/RuleBuilder/SavedRulesSelector.test.js
  client/src/components/Tags/StatelessTags.test.js
  client/src/components/ToolsView/ToolsSchemaJson/ToolsJson.test.js
  client/src/components/ToolsView/ToolsView.test.js
  client/src/components/Toolshed/InstalledList/Details.test.js
  client/src/components/Toolshed/InstalledList/Index.test.js
  client/src/components/Toolshed/InstalledList/Monitor.test.js
  client/src/components/Toolshed/RepositoryDetails/Index.test.js
  client/src/components/Toolshed/RepositoryDetails/InstallationSettings.test.js
  client/src/components/Toolshed/RepositoryDetails/RepositoryTools.test.js
  client/src/components/Toolshed/SearchList/Categories.test.js
  client/src/components/Toolshed/SearchList/Repositories.test.js
  client/src/components/User/CloudAuth/CloudAuth.test.js
  client/src/components/Workflow/Editor/Attributes.test.js
  client/src/components/Workflow/Editor/Node.test.js
  client/src/components/Workflow/Editor/ZoomControl.test.js
  client/src/components/admin/BaseList.test.js
  client/tests/jest/helpers.js
  client/tests/jest/jest.config.js
  client/tests/karma/webpack.config.unittest.js
  client/yarn.lock
Labels: area/UI-UX

#10945 Allow YAML list format for config options
  lib/galaxy/config/__init__.py
  test/unit/config/test_path_resolves_to.py
Labels: area/configuration, kind/bug

#10862 Replace usage of mkstemp with NamedTemporaryFile
  lib/galaxy/datatypes/converters/pbed_ldreduced_converter.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/util/maf_utilities.py
  lib/galaxy/metadata/__init__.py
  lib/galaxy/tool_util/deps/conda_util.py
  lib/galaxy/tool_util/locations/__init__.py
  lib/galaxy/tool_util/verify/__init__.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/visualization/data_providers/genome.py
  lib/tool_shed/util/commit_util.py
  lib/tool_shed/webapp/controllers/upload.py
  test/functional/tools/directory_uri_copy_to.py
  test/integration/test_work_queue_put_failure.py
  test/integration/test_workflow_handler_configuration.py
  test/unit/data/datatypes/util.py
  test/unit/files/_util.py
  test/unit/queue_worker/conftest.py
  test/unit/test_verify.py
  test/unit/tools/test_history_imp_exp.py
  test/unit/util/test_utils.py
  tools/extract/liftOver_wrapper.py
Labels: area/framework, kind/refactoring

#10970 [20.09] Record invocation_step outputs as appropriate
  lib/galaxy/tools/execute.py
Labels: area/workflows, kind/bug

#10964 [20.09] Fix generation of BCO `object_id` and `etag`
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/API, area/workflows, kind/bug

#10969 Some more small fixes to tool test script.
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy_test/api/test_galaxy_interactor.py
Labels: area/scripts, area/testing, area/tool-framework, kind/bug, minor

#10911 Add screenshot decorators to selenium tests
  lib/galaxy_test/selenium/test_uploads.py
  pytest.ini
Labels: area/testing, area/testing/selenium

#10497 Support stopping Interactive Tools without deleting their outputs
  client/src/components/InteractiveTools/InteractiveTools.test.js
  client/src/components/InteractiveTools/InteractiveTools.vue
  client/src/components/InteractiveTools/services.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/chronos.py
  lib/galaxy/jobs/runners/cli.py
  lib/galaxy/jobs/runners/condor.py
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy/jobs/runners/godocker.py
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/pbs.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/managers/interactivetool.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/tool_entry_points.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/controllers/interactivetool.py
  lib/galaxy_test/api/test_jobs.py
  lib/galaxy_test/base/populators.py
  test/functional/tools/interactivetool_two_entry_points.xml
  test/integration/test_interactivetools_api.py
Labels: area/GIEs, area/jobs, kind/enhancement, paper-cut

#10720 Ensure build_for_rerun output is accepted by the tool run API and add remappable method to job model
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/__init__.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy_test/api/test_tools.py
Labels: area/API, kind/enhancement

#10975 Fix workflow parameter text value restriction when connected to select and text parameter
  lib/galaxy/managers/workflows.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
Labels: area/testing/api, area/workflows, kind/bug

#10957 Add tooltip to workflow node checkbox
  client/src/components/Workflow/Editor/NodeOutput.vue
Labels: area/UI-UX, paper-cut

#10953 Add cancel option to workflow create form
  client/src/entry/analysis/AnalysisRouter.js
  client/src/mvc/form/form-wrapper.js
  client/src/mvc/ui/ui-portlet.js
Labels: area/UI-UX, paper-cut

#10919 Replace StreamBall, replace tarballs with zip
  client/src/components/LibraryFolder/TopToolbar/FolderTopBar.vue
  doc/source/admin/galaxy_options.rst
  doc/source/admin/nginx.md
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/datatypes/data.py
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/managers/hdcas.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/util/streamball.py
  lib/galaxy/util/zipstream.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy/webapps/galaxy/api/library_datasets.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy_test/api/test_dataset_collections.py
  lib/galaxy_test/api/test_tools.py
  lib/galaxy_test/selenium/test_library_contents.py
  packages/util/requirements.txt
Labels: area/API, area/client, area/libraries, kind/enhancement

#10823 Add FastAPI framework as next step for API framework
  .github/workflows/api_paste.yaml
  lib/galaxy/app.py
  lib/galaxy/config/__init__.py
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/pinned-requirements.txt
  lib/galaxy/managers/context.py
  lib/galaxy/managers/jobs.py
  lib/galaxy/managers/roles.py
  lib/galaxy/managers/session.py
  lib/galaxy/managers/users.py
  lib/galaxy/model/__init__.py
  lib/galaxy/schema/__init__.py
  lib/galaxy/schema/fields.py
  lib/galaxy/schema/schema.py
  lib/galaxy/web/framework/decorators.py
  lib/galaxy/web/framework/middleware/batch.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy/webapps/galaxy/api/job_lock.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/api/roles.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  lib/galaxy/webapps/galaxy/controllers/root.py
  lib/galaxy/webapps/galaxy/fast_app.py
  lib/galaxy/work/context.py
  lib/galaxy_test/api/test_jobs.py
  lib/galaxy_test/api/test_roles.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/driver/driver_util.py
  lib/tool_shed/webapp/model/__init__.py
  packages/web_framework/requirements.txt
  scripts/fapi.py
  scripts/galaxy-main
  scripts/galaxy_main.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/API, kind/feature

#10983 Overwrite uwsgi default py-call-osafterfork
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/reports.yml.sample
  lib/galaxy/config/sample/tool_shed.yml.sample
Labels: area/configuration, kind/bug

#10980 Simplify JobInformation and DatasetInformation components
  client/src/components/DatasetInformation/DatasetInformation.test.js
  client/src/components/DatasetInformation/DatasetInformation.vue
  client/src/components/DecodedId.vue
  client/src/components/JobInformation/CodeRow.vue
  client/src/components/JobInformation/JobInformation.test.js
  client/src/components/JobInformation/JobInformation.vue
  client/src/components/JobInformation/mount.js
  client/src/components/JobInformation/testData/jobInformationResponse.json
  client/src/components/JobParameters/JobParameters.vue
  client/src/components/admin/JobDetails.vue
  client/src/style/scss/overrides.scss
  templates/show_params.mako
Labels: area/UI-UX, area/admin, area/client, area/jobs

#10991 drop migration hack from htcondor
  lib/galaxy/jobs/runners/condor.py
Labels: area/jobs, kind/refactoring

#10996 convert log.warn() to log.warning()
  lib/galaxy/managers/licenses.py
  lib/galaxy/model/__init__.py
  lib/galaxy/objectstore/irods.py
  lib/galaxy/tools/error_reports/plugins/gitlab.py
  lib/galaxy/tools/parameters/dynamic_options.py
  lib/galaxy/workflow/modules.py
Labels: area/objectstore, area/tool-dependencies, area/tool-framework, area/workflows

#10993 API support for history import/export from/to galaxy.files plugins
  lib/galaxy/job_execution/setup.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/actions/history_imp_exp.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/imp_exp/__init__.py
  lib/galaxy/tools/imp_exp/exp_history_to_uri.xml
  lib/galaxy/tools/imp_exp/export_history.py
  lib/galaxy/tools/imp_exp/imp_history_from_archive.xml
  lib/galaxy/tools/imp_exp/unpack_tar_gz_archive.py
  lib/galaxy/tools/special_tools.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy_test/api/test_histories.py
  lib/galaxy_test/base/populators.py
  test/integration/test_remote_files.py
  test/integration/test_remote_files_histories.py
  test/unit/tools/test_history_imp_exp.py
Labels: area/histories, area/testing/integration, kind/enhancement

#10990 Drop temp hacks for upgrading export jobs from 19.01 to 19.05.
  lib/galaxy/tools/imp_exp/export_history.py
Labels: area/histories, kind/enhancement, kind/refactoring

#10987 Fixes for license and creator saving and updating.
  client/src/components/Workflow/Editor/Attributes.vue
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/modules/model.js
Labels: area/UI-UX, area/workflows, kind/bug, kind/enhancement, minor

#10998 remove mutatable arguments from function calls
  lib/galaxy/datatypes/util/maf_utilities.py
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/dynamic_tool_destination.py
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/model/security.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/tool_util/lint.py
  lib/galaxy/tool_util/loader_directory.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tools/actions/history_imp_exp.py
  lib/galaxy/tools/actions/metadata.py
  lib/galaxy/tools/actions/model_operations.py
  lib/galaxy/tools/actions/upload.py
  lib/galaxy/tools/data_manager/manager.py
  lib/galaxy/tools/parameters/__init__.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/test.py
  lib/galaxy/tools/toolbox/integrated_panel.py
  lib/galaxy/tools/wrappers.py
  lib/galaxy/visualization/data_providers/genome.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/user.py
Labels: area/API, area/datatypes, area/jobs, area/tool-framework, kind/bug

#10992 Start mypy type checking during CI
  .github/workflows/lint.yaml
  lib/galaxy/exceptions/__init__.py
  lib/galaxy/exceptions/error_codes.py
  lib/galaxy/job_metrics/collectl/subsystems.py
  lib/galaxy/objectstore/irods.py
  lib/galaxy/objectstore/s3.py
  lib/galaxy/objectstore/s3_multipart_upload.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/object_wrapper.py
  lib/galaxy/util/pastescript/loadwsgi.py
  lib/galaxy/util/pastescript/serve.py
  lib/galaxy/util/path/__init__.py
  lib/galaxy/util/plugin_config.py
  lib/galaxy/util/rules_dsl.py
  lib/galaxy/util/yaml_util.py
  lib/galaxy_test/api/_framework.py
  packages/job_metrics/galaxy/__init__.py
  packages/objectstore/galaxy/__init__.py
  packages/package-dev-requirements.txt
  packages/package.Makefile
  packages/test.sh
  packages/util/galaxy/__init__.py
  setup.cfg
  test/integration/objectstore/test_objectstore_datatype_upload.py
  test/integration/resubmission_runners.py
  test/integration/test_repository_operations.py
  test/unit/tools/test_toolbox.py
  tox.ini
Labels: area/objectstore, area/packaging, area/testing, area/testing/api, area/testing/integration, area/util

#10995 Test case and cleanup for DatasetStorage.vue.
  client/src/components/Dataset/DatasetStorage/DatasetStorage.test.js
  client/src/components/Dataset/DatasetStorage/DatasetStorage.vue
  client/src/utils/simple-error.js
Labels: area/UI-UX, area/objectstore, kind/enhancement, minor

#10999 Only enable the workflow save button if it has changes.
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Options.test.js
  client/src/components/Workflow/Editor/Options.vue
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: area/UI-UX, area/client, area/testing, area/workflows, kind/enhancement

#11000 Check Python typing for galaxy-containers and galaxy-tool-util during CI.
  lib/galaxy/containers/__init__.py
  lib/galaxy/containers/docker.py
  lib/galaxy/containers/docker_swarm.py
  lib/galaxy/tool_util/cwl/cwltool_deps.py
  lib/galaxy/tool_util/cwl/representation.py
  lib/galaxy/tool_util/deps/container_resolvers/mulled.py
  lib/galaxy/tool_util/deps/mulled/get_tests.py
  lib/galaxy/tool_util/deps/mulled/mulled_build.py
  lib/galaxy/tool_util/deps/mulled/mulled_build_files.py
  lib/galaxy/tool_util/deps/mulled/mulled_list.py
  lib/galaxy/tool_util/deps/mulled/mulled_search.py
  lib/galaxy/tool_util/deps/resolvers/__init__.py
  lib/galaxy/tool_util/locations/dockstore.py
  lib/galaxy/tool_util/verify/interactor.py
  packages/containers/galaxy/__init__.py
  packages/test.sh
  packages/tool_util/galaxy/__init__.py
Labels: area/packaging, kind/bug, kind/enhancement

#11003 More mutable fixes
  lib/galaxy/datatypes/anvio.py
  lib/galaxy/datatypes/converters/fastqsolexa_to_qual_converter.py
  lib/galaxy/datatypes/converters/lped_to_fped_converter.py
  lib/galaxy/datatypes/converters/lped_to_pbed_converter.py
  lib/galaxy/datatypes/converters/pbed_ldreduced_converter.py
  lib/galaxy/datatypes/converters/pbed_to_lped_converter.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/dataproviders/base.py
  lib/galaxy/datatypes/interval.py
  lib/galaxy/datatypes/registry.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/spaln.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/util/gff_util.py
  lib/galaxy/managers/collections.py
  lib/galaxy/managers/configuration.py
  lib/galaxy/managers/jobs.py
  lib/galaxy/managers/workflows.py
  lib/galaxy_test/api/test_configuration.py
  lib/galaxy_test/api/test_datatypes.py
  lib/galaxy_test/api/test_histories.py
  lib/galaxy_test/api/test_workflow_extraction.py
  lib/galaxy_test/base/nose_util.py
  lib/galaxy_test/selenium/framework.py
  lib/galaxy_test/selenium/test_history_dataset_state.py
  lib/galaxy_test/selenium/test_uploads.py
Labels: area/datatypes, area/testing, area/testing/api, area/testing/selenium

#11007 Type checking fixes for galaxy-data (datatypes and models).
  lib/galaxy/datatypes/anvio.py
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/blast.py
  lib/galaxy/datatypes/constructive_solid_geometry.py
  lib/galaxy/datatypes/converters/fasta_to_tabular_converter.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/dataproviders/base.py
  lib/galaxy/datatypes/display_applications/parameters.py
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/datatypes/msa.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/util/maf_utilities.py
  lib/galaxy/datatypes/xml.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0005_cleanup_datasets_fix.py
  lib/galaxy/model/migrate/versions/0104_update_genome_downloader_job_parameters.py
  lib/galaxy/model/search.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/model/tool_shed_install/__init__.py
  packages/data/galaxy/__init__.py
  packages/test.sh
  test/unit/data/datatypes/dataproviders/test_base_dataproviders.py
  test/unit/data/datatypes/dataproviders/test_line_dataproviders.py
Labels: area/packaging, kind/bug, kind/enhancement, kind/refactoring

#10988 UI & API for Supporting Best Practice Workflows
  client/src/components/Workflow/Editor/Attributes.test.js
  client/src/components/Workflow/Editor/Attributes.vue
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Lint.vue
  client/src/components/Workflow/Editor/LintSection.vue
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/Options.vue
  client/src/components/Workflow/Editor/modules/model.js
  client/src/components/Workflow/Editor/modules/services.js
  client/src/components/Workflow/Editor/modules/utilities.js
  client/src/components/Workflow/Run/model.js
  lib/galaxy/app.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/refactor/__init__.py
  lib/galaxy/workflow/refactor/execute.py
  lib/galaxy/workflow/refactor/schema.py
  lib/galaxy/workflow/run_request.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/data/test_workflow_randomlines_legacy_params.ga
  lib/galaxy_test/base/data/test_workflow_randomlines_legacy_params_mixed_types.ga
  lib/galaxy_test/base/populators.py
  test/integration/test_workflow_refactoring.py
  test/unit/workflows/test_refactor_models.py
Labels: area/API, area/UI-UX, area/workflows, kind/feature

#11010 Small improvements to try to get galaxy-app closer to working.
  lib/galaxy/util/__init__.py
  packages/app/galaxy/files
  packages/app/galaxy/schema
  packages/app/pytest.ini
  packages/app/requirements.txt
  packages/app/setup.py
  packages/app/tests/__init__.py
  packages/test.sh
Labels: area/packaging, kind/bug

#11013 mypy type checking for galaxy-app
  lib/galaxy/app.py
  lib/galaxy/config/__init__.py
  lib/galaxy/config/config_manage.py
  lib/galaxy/forms/forms.py
  lib/galaxy/jobs/dynamic_tool_destination.py
  lib/galaxy/jobs/runners/util/cli/factory.py
  lib/galaxy/jobs/runners/util/job_script/__init__.py
  lib/galaxy/managers/base.py
  lib/galaxy/managers/containers.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/data/__init__.py
  lib/galaxy/tools/error_reports/plugins/base_git.py
  lib/galaxy/tools/toolbox/lineages/interface.py
  lib/galaxy/visualization/data_providers/genome.py
  lib/galaxy/work/context.py
  lib/galaxy/workflow/refactor/execute.py
  lib/galaxy/workflow/refactor/schema.py
  packages/app/galaxy/__init__.py
  packages/test.sh
  scripts/galaxy_main.py
Labels: area/packaging, kind/refactoring

#11018 Fix change feed
  client/src/components/History/caching/CacheApi.js
  client/src/components/History/caching/db/changes.js
  client/src/components/History/caching/db/changes.test.js
  client/src/components/History/caching/db/db.test.js
  client/src/components/History/caching/db/find.test.js
  client/src/components/History/caching/db/index.js
  client/src/components/History/caching/db/monitorQuery.test.js
  client/src/components/History/caching/db/pouch.js
  client/src/components/History/caching/db/wipeDatabase.js
  client/src/components/History/caching/loadHistoryContents.js
  client/src/components/History/caching/monitorHistoryContent.test.js
  client/src/components/History/providers/DscProvider/DscProvider.test.js
  client/src/components/Masthead/Masthead.test.js
  client/src/components/Upload/UploadModal.test.js
  client/src/config/development.js
  client/src/config/production.js
  client/src/config/testing.js
  client/tests/jest/__mocks__/config.js
Labels: area/UI-UX, area/histories, kind/bug

#11019 More type checking fixes.
  lib/galaxy/model/__init__.py
  lib/galaxy/model/tool_shed_install/__init__.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/web/framework/helpers/grids.py
  lib/tool_shed/webapp/model/__init__.py
  packages/test.sh
  packages/webapps/tests/__init__.py
Labels: area/packaging, area/testing/selenium

#11015 Cleanup updating stored_workflow attributes in workflows manager.
  lib/galaxy/managers/workflows.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
Labels: area/API, area/workflows, kind/bug, minor
