Repository galaxyproject/galaxy, pull requests merged in 2020-06, with the labels that each got.

#9831 Add option to text asserts to specify number of occurrences
  lib/galaxy/tool_util/verify/asserts/text.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/functional/tools/validation_default.xml
Labels: area/testing, kind/enhancement

#9776 [20.05] inputs config file generation depend on profile
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/parameters/wrapped_json.py
  test/functional/tools/inputs_as_json_profile.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/tool-framework, kind/bug

#9824 [20.01] Tolerate exception in container resolution
  lib/galaxy/tool_util/deps/containers.py
  lib/galaxy/tool_util/deps/mulled/util.py
Labels: area/tool-dependencies, kind/bug

#9791 [20.05] Backport linkifying library description
  client/galaxy/scripts/mvc/library/library-librarylist-view.js
  client/galaxy/scripts/mvc/library/library-libraryrow-view.js
  client/galaxy/scripts/mvc/library/library-util.js
  client/package.json
  client/yarn.lock
Labels: merge

#9833 [20.05] Migrate condor runner to jwd for job-files
  lib/galaxy/jobs/runners/condor.py
Labels: area/jobs, kind/bug

#9835 [20.01] Fix disappearing datatypes after restart
  lib/galaxy/app.py
  lib/galaxy/config/__init__.py
  lib/galaxy/tool_shed/galaxy_install/installed_repository_manager.py
  lib/galaxy_test/base/populators.py
  test/integration/test_shed_tool_tests.py
Labels: area/datatypes, kind/bug

#9757 Citations overhaul
  client/galaxy/scripts/components/Citations.vue
  client/galaxy/scripts/components/JobParameters/JobParameters.vue
  client/galaxy/scripts/components/User/ExternalIdentities/ExternalIdentities.vue
  client/galaxy/scripts/components/WaitButton.vue
  client/galaxy/scripts/components/Workflow/Run/WorkflowRun.vue
  client/galaxy/scripts/components/Workflow/Run/WorkflowRunSuccess.vue
  client/galaxy/style/scss/base.scss
  client/gulpfile.js
  client/package.json
  client/yarn.lock
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_tool_form.py
Labels: area/UI-UX, area/tools, kind/enhancement

#9736 [20.01] Allow anonymous downloading of public workflows
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/api/test_workflows.py
Labels: area/API, area/workflows, kind/enhancement

#9830 i18n for tool page about email notification
  client/galaxy/scripts/mvc/tool/tool-form.js
Labels: area/UI-UX, kind/enhancement

#9820 Add selenium test for user API keys
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_personal_information.py
Labels: area/testing, area/testing/selenium, kind/enhancement

#9587 [20.05] Assign random password in user manager if none specified
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/managers/users.py
  lib/galaxy/model/__init__.py
  lib/galaxy/security/passwords.py
  lib/galaxy/security/validate_user_input.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/tool_shed/util/admin_util.py
  lib/tool_shed/webapp/model/__init__.py
  scripts/tool_shed/bootstrap_tool_shed/create_user_with_api_key.py
  test/unit/managers/test_UserManager.py
  test/unit/test_auth.py
Labels: area/auth, kind/bug

#9722 Implement HDCA update_time
  lib/galaxy/jobs/__init__.py
  lib/galaxy/model/__init__.py
  test/unit/test_galaxy_mapping.py
Labels: area/API, area/database, area/dataset-collections, area/histories, kind/enhancement

#9837 Merge 20.05 into dev
  lib/galaxy/app.py
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/config/__init__.py
  lib/galaxy/jobs/runners/condor.py
  lib/galaxy/managers/users.py
  lib/galaxy/model/__init__.py
  lib/galaxy/security/passwords.py
  lib/galaxy/security/validate_user_input.py
  lib/galaxy/tool_shed/galaxy_install/installed_repository_manager.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
  lib/tool_shed/util/admin_util.py
  lib/tool_shed/webapp/model/__init__.py
  scripts/tool_shed/bootstrap_tool_shed/create_user_with_api_key.py
  test/integration/test_shed_tool_tests.py
  test/unit/managers/test_UserManager.py
  test/unit/test_auth.py
Labels: merge

#9850 [20.05] Move some tools that no longer need galaxy on the PATH
  lib/galaxy/tools/__init__.py
Labels: area/tools, kind/bug

#9851 [20.05] Follow-up on #9587
  lib/galaxy/model/__init__.py
  lib/galaxy/security/validate_user_input.py
  lib/tool_shed/util/admin_util.py
  lib/tool_shed/webapp/model/__init__.py
  scripts/tool_shed/bootstrap_tool_shed/create_user_with_api_key.py
Labels: area/framework, kind/bug, kind/refactoring

#9852 Add note about Custos and CILogon
  doc/source/releases/20.05_announce_user.rst
Labels: area/documentation

#9846 [Selenium] History Panel Tags&Annotation
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_history_panel.py
  lib/galaxy_test/selenium/test_published_histories_grid.py
Labels: area/histories, area/testing/selenium, kind/enhancement

#9845 Fix line-height property for upload button in tool panel
  client/galaxy/style/scss/upload.scss
Labels: area/UI-UX, kind/bug

#9866 [20.05] Invalidate tool cache when tool modified outside of Galaxy
  lib/galaxy/tool_util/parser/cwl.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/cache.py
Labels: area/tool-framework, kind/bug

#9864 Change usage of whitelist/blacklist terms to allowlist/blocklist
  client/galaxy/scripts/entry/panels/admin-panel.js
  client/galaxy/scripts/nls/fr/locale.js
  client/galaxy/scripts/nls/ja/locale.js
  client/galaxy/scripts/nls/locale.js
  client/galaxy/scripts/nls/zh/locale.js
  config/disposable_email_blacklist.conf.sample
  config/disposable_email_blocklist.conf.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/actions/library.py
  lib/galaxy/app.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/disposable_email_blocklist.conf.sample
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/tool_shed.yml.sample
  lib/galaxy/datatypes/data.py
  lib/galaxy/jobs/runners/state_handlers/_safe_eval.py
  lib/galaxy/managers/base.py
  lib/galaxy/queue_worker.py
  lib/galaxy/security/validate_user_input.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy/tool_util/deps/mulled/mulled_list.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/util/path/__init__.py
  lib/galaxy/web/framework/middleware/remoteuser.py
  lib/galaxy/webapps/galaxy/api/_fetch_util.py
  lib/galaxy/webapps/galaxy/api/library_datasets.py
  lib/galaxy/webapps/galaxy/api/remote_files.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/tool_shed/util/repository_util.py
  lib/tool_shed/webapp/config.py
  lib/tool_shed/webapp/config_schema.yml
  templates/webapps/galaxy/admin/sanitize_allowlist.mako
  test/integration/test_config_defaults.py
  test/unit/config/test_config_values.py
  test/unit/config/test_load_config.py
  test/unit/managers/test_HistoryManager.py
  test/unit/test_sqlite_utils.py
  test/unit/tool_util/mulled/test_mulled_list.py
Labels: area/client, area/configuration, kind/enhancement

#9878 [20.05] Improved UploadModal state handling during initialization.
  client/galaxy/scripts/components/Upload/UploadModal.vue
Labels: kind/bug, merge

#9718 Feature/persist rule builder collection in web storage
  client/galaxy/scripts/components/RuleBuilder/SavedRulesSelector.test.js
  client/galaxy/scripts/components/RuleBuilder/SavedRulesSelector.vue
  client/galaxy/scripts/components/RuleCollectionBuilder.vue
Labels: triage

#9838 Release notes for 20.05
  doc/source/releases/20.05.rst
  doc/source/releases/20.05_announce.rst
  doc/source/releases/20.05_announce_user.rst
  doc/source/releases/20.05_prs.rst
  doc/source/releases/20.09_announce.rst
  doc/source/releases/images/20.05-new-its.png
  doc/source/releases/images/20.05-rule-based.gif
  doc/source/releases/images/20.05-tool-prediction.gif
  doc/source/releases/index.rst
  scripts/bootstrap_history.py
Labels: area/documentation

#9870 [20.05] Only cache xml tool files
  lib/galaxy/tools/__init__.py
Labels: kind/bug, minor

#9884 [20.01] Input dataset module format filtering fix;
  lib/galaxy/workflow/modules.py
Labels: area/workflows, kind/bug

#9730 [20.05] oidc-based authnz provider overhaul; breaking changes for keycloak
  client/galaxy/scripts/components/InteractiveTools/InteractiveTools.test.js
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/config/sample/oidc_backends_config.xml.sample
  test/unit/authnz/test_custos_authnz.py
Labels: area/auth, kind/bug

#9859 hide expression tools
  client/galaxy/scripts/components/Panels/utilities.js
Labels: triage

#9889 [20.05] Custos spec fixes
  client/galaxy/scripts/components/login/Login.vue
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/config/sample/oidc_backends_config.xml.sample
  test/unit/authnz/test_custos_authnz.py
Labels: kind/bug

#9712 Add NcbiTaxonomySQlite class to describe NCBI Taxonomy SQLite databases
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/test.ncbitaxonomy.sqlite
Labels: area/datatypes, kind/enhancement

#9890 [20.05] hide expression tools
  client/galaxy/scripts/components/Panels/utilities.js
Labels: merge

#9874 Feature/9669 sort collection for paired collections
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/sort_collection_list.xml
Labels: area/dataset-collections, kind/enhancement

#9899 Fix DeprecationWarning: Flags not at the start of the expression
  lib/galaxy/util/inflection.py
Labels: area/util, kind/bug, kind/refactoring

#9894 [20.05] Custos login notice wording tweak
  client/galaxy/scripts/components/login/Login.vue
Labels: minor

#9896 [20.05] Fixes for flake8 3.8 and bugbear
  lib/galaxy/datatypes/mothur.py
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/pithos.py
  lib/galaxy/tool_util/deps/mulled/mulled_update_singularity_containers.py
  lib/galaxy/web_stack/message.py
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/base/populators.py
  packages/util/tests/test_utils.py
  test/integration/test_kubernetes_staging.py
  tools/filters/axt_to_lav.py
Labels: area/framework, area/python3, kind/bug

#9898 [20.05] Fix webpack import proxy prefix
  client/galaxy/scripts/onload/index.js
  client/galaxy/scripts/onload/publicPath.js
Labels: area/UI-UX, area/client-build, kind/bug

#9897 [20.05] Python 2.7 is officially unsupported on 20.05
  .circleci/config.yml
  doc/source/admin/python.md
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/docker/Dockerfile
  scripts/check_python.py
  tox.ini
Labels: area/python3, kind/enhancement

#9892 [20.05] Output SRA manifest as tabular dataset
  client/galaxy/scripts/mvc/dataset/data.js
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/tabular.py
  tools/data_source/sra.xml
Labels: area/datatypes, area/tools, kind/bug, kind/enhancement

#9782 Add selenium test for user toolbox filters.
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy/selenium/toolbox/__init__.py
  lib/galaxy/selenium/toolbox/filters.py
  lib/galaxy/tools/toolbox/filters/examples.py.sample
  lib/galaxy_test/selenium/test_personal_information.py
  test/functional/tools/samples_tool_conf.xml
  test/integration_selenium/test_toolbox_filters.py
Labels: area/testing, area/testing/selenium, kind/enhancement

#9802 Allow tool submission with DatasetCollectionElements / make build_for_rerun consumable by API
  client/galaxy/scripts/mvc/ui/ui-select-content.js
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0167_add_job_to_input_dataset_collection_element_association.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/parameters/__init__.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/grouping.py
  lib/galaxy/tools/parameters/meta.py
  lib/galaxy_test/api/test_jobs.py
Labels: area/jobs, kind/bug, kind/enhancement

#9909 Typo in the uWSGI default umask description
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/reports.yml.sample
  lib/galaxy/config/sample/tool_shed.yml.sample
Labels: area/configuration, kind/bug

#9902 Trim the inflector
  lib/galaxy/util/__init__.py
  lib/galaxy/util/inflection.py
  test/unit/util/test_inflection.py
Labels: area/util, kind/bug, kind/refactoring

#9913 [20.01] Fix extra preference values leaking between requests
  lib/galaxy/webapps/galaxy/api/users.py
Labels: area/API, kind/bug

#9914 Fix name of container resolver method name.
  lib/galaxy/tool_util/deps/containers.py
Labels: area/dependencies, kind/refactoring

#9912 Full Python dependencies update
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/flake8/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/update.sh
  lib/galaxy/util/checkers.py
  lib/tool_shed/util/commit_util.py
  packages/util/requirements.txt
Labels: area/dependencies, kind/enhancement

#9883 Mount workflow nodes in v-for loop
  client/galaxy/scripts/components/Workflow/Editor/Index.vue
  client/galaxy/scripts/components/Workflow/Editor/Node.test.js
  client/galaxy/scripts/components/Workflow/Editor/Node.vue
  client/galaxy/scripts/components/Workflow/Editor/NodeInput.vue
  client/galaxy/scripts/components/Workflow/Editor/Options.vue
  client/galaxy/scripts/components/Workflow/Editor/modules/aria.js
  client/galaxy/scripts/components/Workflow/Editor/modules/canvas.js
  client/galaxy/scripts/components/Workflow/Editor/modules/dragging.js
  client/galaxy/scripts/components/Workflow/Editor/modules/layout.js
  client/galaxy/scripts/components/Workflow/Editor/modules/manager.js
  client/galaxy/scripts/components/Workflow/Editor/modules/model.js
  client/galaxy/scripts/components/Workflow/Editor/modules/services.js
  client/galaxy/scripts/components/Workflow/Editor/modules/terminals.js
  client/galaxy/scripts/components/Workflow/Editor/modules/utilities.js
  client/galaxy/scripts/components/Workflow/Editor/mount.js
  client/galaxy/scripts/qunit/tests/workflow_editor_tests.js
  client/galaxy/style/scss/theme/blue.scss
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: area/UI-UX, kind/refactoring

#9858 [Selenium] History structure
  client/galaxy/scripts/utils/metrics-logger.js
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_history_structure.py
Labels: triage

#9907 [20.01] Fix incorrect variable assignment
  lib/galaxy/web_stack/__init__.py
Labels: area/jobs, kind/bug

#9836 Tool recommendation node bug
  client/galaxy/scripts/components/Workflow/Editor/Node.vue
  client/galaxy/scripts/components/Workflow/Editor/Recommendations.vue
Labels: area/client, kind/bug

#9918 Documentation on Galaxy startup
  doc/source/dev/index.rst
  doc/source/dev/starting_galaxy.md
Labels: area/documentation, kind/enhancement

#9920 [20.01] Rewrite `check_html()` and `Text.count_data_lines()` to read a chunk of each line
  lib/galaxy/datatypes/data.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/checkers.py
  test/unit/util/test_checkers.py
Labels: area/upload, kind/bug

#9932 [20.05] Move the `--debug` flag after the conda subcommand
  lib/galaxy/tool_util/deps/conda_util.py
Labels: area/tool-dependencies, kind/bug

#9931 [20.05] Explicitly cast oidc providers to a list
  lib/galaxy/webapps/galaxy/controllers/root.py
Labels: area/python3, kind/bug

#9925 [20.05] Enable regex validator to validate lists of values.
  lib/galaxy/tools/parameters/validation.py
Labels: area/tool-framework, kind/bug

#9921 [20.01] Make cookie handling more robust
  lib/galaxy/web/framework/base.py
Labels: area/python3, kind/bug

#9936 [20.05] Backport Chira sniffer fix
  lib/galaxy/datatypes/binary.py
Labels: kind/bug, merge, minor

#9940 [20.05] Update 20.05 release notes with later PRs
  doc/source/releases/20.05.rst
  doc/source/releases/20.05_prs.rst
Labels: area/documentation, minor
