Repository galaxyproject/galaxy, pull requests merged in 2020-11, with the labels that each got.

#10555 [20.09] AnnData Peek Fix
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/import.loom.krumsiek11.h5ad
Labels: area/datatypes, kind/bug

#10599 [20.09] Fix linting in binary.py
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes, kind/bug, minor

#10598 Merge 20.09 forward
  client/src/components/JobStates/CollectionJobStates.vue
  client/src/components/ProgressBar.vue
  client/src/components/User/ExternalIdentities/ExternalLogin.vue
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/modules/utilities.js
  client/src/mvc/form/form-section.js
  lib/galaxy/authnz/managers.py
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/import.loom.krumsiek11.h5ad
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/files/__init__.py
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tool_util/verify/script.py
  lib/galaxy/tool_util/verify/test_config.sample.yml
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/tools/test.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/api/_fetch_util.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/api/test_dataset_collections.py
  lib/galaxy_test/api/test_libraries.py
  lib/galaxy_test/api/test_tools_upload.py
  lib/galaxy_test/base/populators.py
  packages/tool_util/HISTORY.rst
  packages/tool_util/MANIFEST.in
  packages/tool_util/galaxy/project_galaxy_tool_util.py
  packages/util/HISTORY.rst
  packages/util/galaxy/project_galaxy_util.py
  test/unit/app/dependencies/__init__.py
  test/unit/app/dependencies/test_deps.py
  test/unit/app/tools/test_data_fetch.py
  test/unit/data/test_galaxy_mapping.py
  test/unit/jobs/test_job_configuration.py
  test/unit/test_model_discovery.py
Labels: triage

#10606 [20.09] Fix IntegrityError when flushing DC/DCE relationship
  lib/galaxy/managers/collections.py
  lib/galaxy/model/dataset_collections/builder.py
  lib/galaxy/model/dataset_collections/registry.py
  test/unit/data/test_model_copy.py
  test/unit/managers/test_markdown_export.py
  test/unit/tools/test_execution.py
  test/unit/workflows/test_extract_summary.py
Labels: area/jobs, kind/bug

#10597 [20.09] Fix workflow editor version switching
  client/src/components/Workflow/Editor/modules/model.js
  client/src/components/Workflow/Editor/modules/services.js
Labels: area/UI-UX, area/workflows, kind/bug

#10602 [20.09] Mark test cases that use data tables or loc files
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tools/test.py
  lib/galaxy_test/api/test_tools.py
Labels: area/testing, area/tool-framework, kind/enhancement

#10549 Improve performance of copying HDAs and HDCAs
  lib/galaxy/managers/collections.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/metadata.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/execute.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  test/unit/tools/test_history_imp_exp.py
Labels: area/performance, kind/enhancement

#10615 [20.09] Move linting to GitHub action, fix linting
  .circleci/config.yml
  .github/workflows/lint.yaml
  test/unit/managers/test_markdown_export.py
Labels: area/testing, kind/refactoring

#10613 [20.09] Backport GTF Sniffer Fix
  lib/galaxy/datatypes/interval.py
  lib/galaxy/datatypes/test/grch37.75.gtf
Labels: kind/bug, merge

#10609 [20.01] Change response body from str to bytes
  lib/galaxy/web/framework/base.py
Labels: area/python3, kind/bug, merge

#10610 [20.09] Backport Fix trailing commas
  client/src/mvc/history/history-view-edit.js
Labels: area/UI-UX, kind/bug, merge

#10616 [20.09] fix trs_id and trs_server query strings
  client/src/components/Workflow/TrsImport.vue
Labels: area/workflows

#10612 [20.09] Backport Fix drag and drop highlighting in tool form for data inputs
  client/src/style/scss/ui.scss
Labels: area/UI-UX, kind/bug, merge

#10611 [20.09] Backport Properly scale workflow node coordinates before saving workflow
  client/src/components/Workflow/Editor/modules/model.js
  client/src/components/Workflow/Editor/modules/utilities.js
Labels: area/workflows, kind/bug, merge

#10569 [20.09] Allow execution of workflows for certain tool updates
  lib/galaxy/tools/__init__.py
  lib/galaxy/workflow/modules.py
Labels: area/tool-framework, area/workflows, kind/bug, kind/enhancement

#10582 [20.09] Resolve LDDA <-> Library Dataset circular dependency
  client/src/components/LibraryFolder/TopToolbar/add-datasets.js
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  test/unit/data/test_galaxy_mapping.py
Labels: area/libraries, kind/bug

#10560 [20.05] Fix workflow extraction if nested collection in input step
  lib/galaxy/workflow/extract.py
  lib/galaxy_test/api/test_workflow_extraction.py
Labels: area/workflows, kind/bug

#10617 [20.09] Fix file_path bug; change default assignment of file_path and id/uuid
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/unit/config/test_config_dataset_storage.py
  test/unit/config/test_path_resolves_to.py
Labels: area/configuration, kind/bug

#10625 Don't specify default bind type for singularity
  lib/galaxy/tool_util/deps/container_classes.py
Labels: area/admin, area/jobs, kind/bug, kind/enhancement

#10623 [20.09] Restore welcome html link for non-uwsgi setups
  lib/galaxy/webapps/base/static
Labels: area/admin, area/framework, area/packaging, kind/bug

#10626 [20.09] Fix Workflow node input terminal not updating
  client/src/components/Workflow/Editor/Node.vue
Labels: area/workflows, kind/bug

#10632 [20.09] Update input label on workflow node when input changes
  client/src/components/Workflow/Editor/Node.vue
Labels: area/workflows, kind/bug

#10649 [20.09] Fix cache key for lint CI workflow
  .github/workflows/lint.yaml
Labels: area/testing, kind/bug

#10499 Move upload button below Tool panel header, increase size, add label
  client/src/components/Panels/Buttons/UploadButton.vue
  client/src/components/Panels/ToolBox.vue
  client/src/style/scss/upload.scss
Labels: area/UI-UX, kind/enhancement, paper-cut

#10637 Fix saving rule builder rules when uploading in rule editing view
  client/src/components/RuleBuilder/SaveRules.vue
  client/src/components/RuleBuilder/SavedRulesSelector.test.js
  client/src/components/RuleBuilder/SavedRulesSelector.vue
  client/src/components/RuleCollectionBuilder.vue
Labels: area/UI-UX, kind/bug, kind/enhancement

#10650 Fix ObjectUploadTarget handling in tool util staging code.
  lib/galaxy/datatypes/text.py
  lib/galaxy/tool_util/cwl/util.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy_test/api/test_tools_upload.py
Labels: area/cwl, kind/bug

#10652 [20.09] fix dataset_manipulation and logged_dataset_manipulation
  client/src/components/LibraryFolder/TopToolbar/FolderTopBar.vue
Labels: area/libraries, kind/bug, minor

#10619 auto-import workflow with trs
  client/src/components/Workflow/TrsImport.vue
  client/src/components/Workflow/WorkflowImport.vue
  client/src/components/Workflow/trsMixin.js
  client/src/components/Workflow/utils.js
  client/src/entry/analysis/AnalysisRouter.js
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: triage

#10644 [20.09] Fix hide history panel glitch
  client/src/style/scss/base.scss
Labels: area/UI-UX, kind/bug

#10583 Make extract wf action more visible
  templates/webapps/galaxy/workflow/build_from_current_history.mako
Labels: area/UI-UX, kind/enhancement

#10657 Refactor logic for workflow_step.input_type into model.
  lib/galaxy/model/__init__.py
  lib/galaxy/workflow/modules.py
Labels: area/cwl, kind/refactoring

#10641 [20.09] Fix masthead items disappearing on small screens
  client/src/components/Masthead/Masthead.vue
  client/src/layout/page.js
Labels: area/UI-UX, kind/bug

#10658 Rev cwltool to 3.0.20201109103151
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/cwl, area/dependencies, kind/enhancement

#10659 Merge forward release_20.09
  .github/workflows/lint.yaml
  client/src/components/Workflow/Editor/Node.vue
Labels: merge

#10489 Revise style of radio button groups to improve visibility
  client/src/mvc/form/form-parameters.js
  client/src/mvc/ui/ui-misc.js
  client/src/mvc/ui/ui-options.js
  client/src/mvc/ui/ui-switch.js
  client/src/style/scss/ui.scss
Labels: area/UI-UX, kind/enhancement, paper-cut

#10669 API workflow test showing structure of default/optionals parameters.
  lib/galaxy_test/api/test_workflows_from_yaml.py
Labels: area/testing/api, area/workflows, kind/enhancement

#10673 fix link to job config sample in docs
  doc/source/admin/jobs.md
Labels: area/documentation, kind/bug

#10668 wait_for_invocation should take in an assert_ok flag like other wait methods.
  lib/galaxy_test/base/populators.py
Labels: area/workflows, kind/enhancement

#10675 [20.09] Fix border between list items
  client/src/style/scss/dataset.scss
  client/src/style/scss/history.scss
  client/src/style/scss/list-item.scss
Labels: area/UI-UX, kind/bug

#8599 dynamic options and metadata filter for collections and metadata filter fix
  lib/galaxy/model/metadata.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/dynamic_options.py
  test/functional/tools/dbkey_filter_collection.xml
  test/functional/tools/dbkey_filter_input.xml
  test/functional/tools/dbkey_filter_multi_input.xml
  test/functional/tools/samples_tool_conf.xml
  test/functional/tools/select_from_dataset.xml
  test/unit/tools/test_select_parameters.py
Labels: kind/bug, kind/enhancement

#10676 Produce a clean list of dataset instances if not datasets in collection
  lib/galaxy/model/__init__.py
Labels: area/dataset-collections, kind/bug

#10674 Migrate API tests to GitHub workflow
  .github/workflows/api.yaml
  lib/galaxy/tools/evaluation.py
  test/functional/tools/for_workflows/mapper.xml
  test/functional/tools/for_workflows/mapper2.xml
  test/functional/tools/for_workflows/pileup.xml
  tools/filters/catWrapper.xml
Labels: area/testing/api, kind/enhancement

#10661 [20.09] Backport: Fix saving rule builder rules when uploading in rule editing view
  client/src/components/RuleBuilder/SaveRules.vue
  client/src/components/RuleBuilder/SavedRulesSelector.test.js
  client/src/components/RuleBuilder/SavedRulesSelector.vue
  client/src/components/RuleCollectionBuilder.vue
Labels: area/upload, kind/bug

#10653 [20.09] Fix building collection from library in new history
  client/src/components/LibraryFolder/TopToolbar/import-to-history/import-collection.js
Labels: area/libraries, kind/bug, minor

#10654 [20.09] Fix creating hdas without history when creating collection from library
  lib/galaxy/managers/collections.py
  lib/galaxy_test/api/test_libraries.py
Labels: area/dataset-collections, area/libraries, kind/bug

#10655 [20.09] Ignore failures to get/set documents in tool document cache
  lib/galaxy/tools/cache.py
Labels: area/admin, area/toolshed, kind/bug, minor

#10310 Release notes for 20.09
  doc/source/_static/20.09-gtn-in-galaxy.mp4
  doc/source/_static/20.09-upload-form.mp4
  doc/source/releases/20.09.rst
  doc/source/releases/20.09_announce.rst
  doc/source/releases/20.09_announce_user.rst
  doc/source/releases/20.09_prs.rst
  doc/source/releases/21.01_announce.rst
  doc/source/releases/images/20.09-gtn-in-galaxy.mp4
  doc/source/releases/images/20.09-mvp.png
  doc/source/releases/images/20.09-upload-dropbox-gx.png
  doc/source/releases/images/20.09-upload-dropbox.png
  doc/source/releases/images/20.09-upload-form.mp4
  doc/source/releases/images/20.09-upload-search.png
  doc/source/releases/images/20.09-video.png
  doc/source/releases/images/20.09-wf-after.png
  doc/source/releases/images/20.09-wf-before.png
  doc/source/releases/images/20.09-wf-report-list.png
Labels: area/documentation, kind/enhancement

#10678 [20.09] Fix UTC Date date change
  client/src/components/UtcDate.vue
Labels: area/UI-UX, kind/bug, triage

#10640 [20.09] Fix Anndata index access, use numpy-safe JSON encoder
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/adata_0_6_small.h5ad
  lib/galaxy/datatypes/test/adata_0_6_small2.h5ad
  lib/galaxy/datatypes/test/adata_0_7_4_small.h5ad
  lib/galaxy/datatypes/test/adata_0_7_4_small2.h5ad
  lib/galaxy/datatypes/test/adata_unk.h5ad
  lib/galaxy/datatypes/test/adata_unk2.h5ad
  lib/galaxy/model/metadata.py
  lib/galaxy/model/store/__init__.py
Labels: area/datatype-framework, area/datatypes, kind/bug

#10680 [20.09] Several fixes for multipanel interface
  client/src/mvc/history/multi-panel.js
  client/src/style/scss/history.scss
  client/src/ui/search-input.js
Labels: area/UI-UX, kind/bug

#10693 [20.09] Bugfix for tool search filtering for tools outside sections.
  client/src/components/Panels/utilities.js
  client/src/components/UtcDate.vue
Labels: area/UI-UX, kind/bug

#10694 Harden, formalize 'null' handling around boolean tool parameters.
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/verify/__init__.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/expressions/evaluation.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/wrapped_json.py
  lib/galaxy/tools/test.py
  lib/galaxy/util/__init__.py
  lib/galaxy_ext/expressions/handle_job.py
  lib/galaxy_test/api/test_tools.py
  test/functional/tools/expression_null_handling_boolean.xml
  test/functional/tools/samples_tool_conf.xml
  test/unit/tool_util/test_parsing.py
Labels: area/cwl, area/testing, area/tool-framework, kind/enhancement, status/WIP

#10702 Rename flake8 ignorelist
  .ci/autopep8.sh
  .ci/flake8_ignorelist.txt
  .ci/flake8_wrapper.sh
  .ci/flake8_wrapper_docstrings.sh
Labels: area/testing, kind/refactoring

#10620 Enhancements for galaxy-tool-test script.
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tool_util/verify/script.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy_test/api/test_tools.py
  test/functional/tools/multiple_versions_v01.xml
  test/functional/tools/multiple_versions_v02.xml
  test/unit/tool_util/test_verify_script.py
Labels: area/tools, kind/enhancement

#10691 Fix element_is_set for MetadataWrapper
  lib/galaxy/tools/wrappers.py
Labels: area/datatype-framework, kind/bug

#10700 Allow expression tools to output copies of input HDAs.
  lib/galaxy/model/__init__.py
  lib/galaxy/tool_util/parser/output_objects.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/wrapped_json.py
  test/functional/tools/expression_pick_larger_file.xml
  test/functional/tools/samples_tool_conf.xml
  test/unit/tool_util/test_parsing.py
Labels: area/cwl, area/tool-framework, kind/enhancement

#10705 [20.09] #8599 and #10691 backport dynamic options and metadata filter fix
  lib/galaxy/model/metadata.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/dynamic_options.py
  lib/galaxy/tools/wrappers.py
  test/functional/tools/dbkey_filter_collection.xml
  test/functional/tools/dbkey_filter_input.xml
  test/functional/tools/dbkey_filter_multi_input.xml
  test/functional/tools/samples_tool_conf.xml
  test/functional/tools/select_from_dataset.xml
  test/unit/tools/test_select_parameters.py
Labels: area/tool-framework, kind/bug, kind/enhancement, merge

#10709 [20.09] Add 'Constant' to allowed node types.
  lib/galaxy/jobs/runners/state_handlers/_safe_eval.py
Labels: kind/bug

#10711 [20.09] Speed up invocation serialization
  lib/galaxy/managers/workflows.py
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/UI-UX, area/performance, area/workflows

#10710 [20.09] Rework pollUntil* to avoid building up queries
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
Labels: area/performance, area/workflows, kind/bug

#10696 Improve visibility of upload button
  client/src/components/Panels/ToolBox.vue
  client/src/style/scss/upload.scss
Labels: area/UI-UX, kind/enhancement

#10713 Fix toolbox filters integration tests.
  lib/galaxy/selenium/navigation.yml
  test/integration_selenium/test_toolbox_filters.py
Labels: area/testing/integration, area/testing/selenium, kind/bug, minor

#10703 Null handling and optional values for integers, floats, and text params.
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/wrapped_json.py
  test/functional/tools/expression_null_handling_float.xml
  test/functional/tools/expression_null_handling_integer.xml
  test/functional/tools/expression_null_handling_text.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/cwl, area/tool-framework, kind/enhancement

#10476 Fix report's library function call in dataset_info.mako.
  lib/galaxy/managers/libraries.py
  lib/galaxy/webapps/reports/controllers/system.py
  lib/galaxy/webapps/reports/controllers/tools.py
  templates/webapps/reports/dataset_info.mako
  templates/webapps/reports/system.mako
Labels: area/reports, kind/bug

#10722 Recover step output value
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/workflow/run.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/data/test_subworkflow_with_integer_input.ga
Labels: area/workflows/subworkflows, kind/bug

#10716 Re-sync galaxy.tool_util.cwl with CWL branch of Galaxy.
  lib/galaxy/tool_util/cwl/cwltool_deps.py
  lib/galaxy/tool_util/cwl/parser.py
  lib/galaxy/tool_util/cwl/runnable.py
  lib/galaxy/tool_util/cwl/runtime_actions.py
  lib/galaxy/tool_util/cwl/schema.py
  lib/galaxy/tool_util/cwl/util.py
Labels: area/cwl, area/tool-framework, kind/enhancement

#10725 More fixes/enhancements for tool testing script.
  lib/galaxy/tool_util/verify/script.py
  test/unit/tool_util/test_verify_script.py
Labels: area/tool-framework, kind/bug, kind/enhancement

#10704 [20.01] Bump cryptography dependency to 3.2.1
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/jobs/runners/util/job_script/DEFAULT_JOB_FILE_TEMPLATE.sh
Labels: area/dependencies, kind/bug

#10723 [20.01] Backport invocation step output value recovery
  lib/galaxy/model/mapping.py
  lib/galaxy/workflow/run.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/data/test_subworkflow_with_integer_input.ga
Labels: area/workflows, area/workflows/subworkflows, kind/bug, merge

#10633 Document toolshed repository response object
  lib/galaxy/webapps/galaxy/api/tool_shed_repositories.py
Labels: triage

#10726 Merge 20.09 forward
  client/src/components/LibraryFolder/TopToolbar/import-to-history/import-collection.js
  client/src/components/Masthead/Masthead.vue
  client/src/components/Panels/utilities.js
  client/src/components/UtcDate.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/mvc/history/multi-panel.js
  client/src/style/scss/base.scss
  client/src/style/scss/dataset.scss
  client/src/style/scss/history.scss
  client/src/style/scss/list-item.scss
  client/src/ui/search-input.js
  doc/source/_static/20.09-gtn-in-galaxy.mp4
  doc/source/_static/20.09-upload-form.mp4
  doc/source/releases/20.09.rst
  doc/source/releases/20.09_announce.rst
  doc/source/releases/20.09_announce_user.rst
  doc/source/releases/20.09_prs.rst
  doc/source/releases/21.01_announce.rst
  doc/source/releases/images/20.09-gtn-in-galaxy.mp4
  doc/source/releases/images/20.09-mvp.png
  doc/source/releases/images/20.09-upload-dropbox-gx.png
  doc/source/releases/images/20.09-upload-dropbox.png
  doc/source/releases/images/20.09-upload-form.mp4
  doc/source/releases/images/20.09-upload-search.png
  doc/source/releases/images/20.09-video.png
  doc/source/releases/images/20.09-wf-after.png
  doc/source/releases/images/20.09-wf-before.png
  doc/source/releases/images/20.09-wf-report-list.png
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/adata_0_6_small.h5ad
  lib/galaxy/datatypes/test/adata_0_6_small2.h5ad
  lib/galaxy/datatypes/test/adata_0_7_4_small.h5ad
  lib/galaxy/datatypes/test/adata_0_7_4_small2.h5ad
  lib/galaxy/datatypes/test/adata_unk.h5ad
  lib/galaxy/datatypes/test/adata_unk2.h5ad
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/jobs/runners/state_handlers/_safe_eval.py
  lib/galaxy/jobs/runners/util/job_script/DEFAULT_JOB_FILE_TEMPLATE.sh
  lib/galaxy/managers/collections.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/metadata.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/tools/cache.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/api/test_libraries.py
Labels: merge

#10731 [20.05] Use newer setup-miniconda action
  .github/workflows/osx_startup.yaml
Labels: area/testing, kind/bug

#10724 [20.09] Pathbar race bugfix
  client/src/components/LibraryFolder/TopToolbar/FolderTopBar.vue
  client/src/components/LibraryFolder/path-bar.js
Labels: area/libraries, kind/bug

#10730 [20.09] Backport list-of-pair copy fix, apply same fix to list builder
  client/src/components/LibraryFolder/TopToolbar/import-to-history/import-collection.js
  client/src/mvc/collection/list-of-pairs-collection-creator.js
  lib/galaxy/model/__init__.py
  lib/galaxy_test/selenium/test_collection_builders.py
Labels: area/UI-UX, area/dataset-collections

#10498 Add guidelines for proper commit messages
  CONTRIBUTING.md
Labels: area/documentation, kind/enhancement, paper-cut

#10745 Drop API Key listings from user list
  lib/galaxy/webapps/galaxy/controllers/admin.py
Labels: area/admin, kind/enhancement, paper-cut

#10712 Implement expression tool for picking non-null values for CWL-style merging of conditional branches in native Galaxy workflows
  lib/galaxy/tools/__init__.py
  lib/galaxy/util/xml_macros.py
  lib/galaxy_ext/expressions/handle_job.py
  test/functional/tools/expression_tools
  test/functional/tools/parse_values_from_file.xml
  test/functional/tools/samples_tool_conf.xml
  tools/expression_tools/expression_macros.xml
  tools/expression_tools/parse_values_from_file.xml
  tools/expression_tools/pick_value.xml
Labels: area/cwl, area/workflows, kind/enhancement

#10666 Display user disk usage in admin user panel
  lib/galaxy/webapps/galaxy/controllers/admin.py
Labels: area/UI-UX, area/admin, kind/enhancement, paper-cut

#10667 Add default dbkey when collecting builds
  lib/galaxy/util/__init__.py
  lib/galaxy/util/dbkeys.py
  tool-data/shared/ucsc/builds.txt.sample
Labels: area/upload, kind/bug, kind/enhancement

#10565 Update to new LTS nodejs version
  client/.node_version
Labels: area/client-build

#10608 Remove IUC conda channel from default configuration
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/tool_util/deps/resolvers/conda.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/tool-dependencies, kind/bug, kind/enhancement

#10589 Disable dataset edit button after the dataset has been deleted
  client/src/mvc/dataset/dataset-li-edit.js
Labels: area/UI-UX, area/client, kind/enhancement

#10546 Add support for the dzi (Deep Zoom Image) data format
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/test/1.dzi
  lib/galaxy/datatypes/xml.py
Labels: area/datatypes, kind/enhancement

#10487 Autofocus upload name in upload dialog
  client/src/mvc/upload/default/default-row.js
Labels: area/UI-UX, area/upload, kind/enhancement

#10408 Microdata for tools and workflows.
  client/package.json
  client/src/components/Citation/Citation.vue
  client/src/components/Citation/Citations.vue
  client/src/components/Citation/services.js
  client/src/components/License/License.vue
  client/src/components/License/LicenseSelector.vue
  client/src/components/SchemaOrg/CreatorEditor.vue
  client/src/components/SchemaOrg/CreatorViewer.vue
  client/src/components/SchemaOrg/Creators.vue
  client/src/components/SchemaOrg/OrganizationForm.vue
  client/src/components/SchemaOrg/OrganizationViewer.vue
  client/src/components/SchemaOrg/PersonForm.vue
  client/src/components/SchemaOrg/PersonViewer.vue
  client/src/components/SchemaOrg/ThingFormMixin.js
  client/src/components/SchemaOrg/ThingViewerMixin.js
  client/src/components/Tool/ToolFooter.vue
  client/src/components/ToolsView/ToolsView.vue
  client/src/components/Workflow/Editor/Attributes.vue
  client/src/components/Workflow/Editor/Index.vue
  client/src/entry/analysis/AnalysisRouter.js
  client/src/mvc/tool/tool-form-base.js
  client/src/mvc/tool/tool-form.js
  client/src/utils/clipboard.js
  client/tests/qunit/tests/form_tests.js
  client/yarn.lock
  lib/galaxy/managers/licenses.json
  lib/galaxy/managers/licenses.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0171_schemaorg_metadata.py
  lib/galaxy/tool_util/parser/cwl.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/__init__.py
  lib/galaxy/webapps/galaxy/api/licenses.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy_test/base/workflow_fixtures.py
  test/functional/tools/bibtex.xml
  test/functional/tools/mulled_example_multi_1.xml
  test/unit/tool_util/test_parsing.py
Labels: area/tool-framework, area/workflows, kind/enhancement

#10212 Implement quota interface - with better logic isolation and unit tests.
  client/src/layout/masthead.js
  client/src/mvc/user/user-quotameter.js
  lib/galaxy/app.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/managers/configuration.py
  lib/galaxy/managers/users.py
  lib/galaxy/quota/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy_test/base/populators.py
  lib/tool_shed/webapp/app.py
  test/integration/test_quota.py
  test/unit/data/test_galaxy_mapping.py
  test/unit/data/test_quota.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/admin, kind/enhancement, kind/refactoring

#10748 Add/document API for publishing/tagging workflows
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/api/test_workflows.py
Labels: area/API, area/workflows, kind/enhancement, paper-cut

#10660 Full Python dependencies update
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/docker/Dockerfile
  lib/galaxy/dependencies/pipfiles/docker/Makefile
  lib/galaxy/dependencies/pipfiles/docker/docker_script.sh
  lib/galaxy/dependencies/pipfiles/flake8/pinned-requirements.txt
  lib/galaxy/dependencies/pipfiles/update.sh
Labels: area/dependencies, kind/enhancement

#10505 Use dataset selector in rules input dialog.
  client/src/components/DataDialog/DataDialog.vue
  client/src/components/Upload/RulesInput.vue
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_uploads.py
Labels: area/UI-UX, area/dataset-collections, kind/bug, kind/enhancement, paper-cut

#10735 More tool test script fixes.
  lib/galaxy/tool_util/verify/script.py
  test/unit/tool_util/test_verify_script.py
Labels: area/tool-framework, kind/bug, minor

#10747 [20.09] Fix anonymous user uploads if file sources configured
  lib/galaxy/files/__init__.py
  lib/galaxy/model/__init__.py
Labels: area/upload, kind/bug, paper-cut

#10751 Upgrade syntax using `pyupgrade --py36-plus`
  lib/galaxy/config/__init__.py
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tool_util/cwl/runnable.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tool_util/verify/script.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/tools/parameters/dynamic_options.py
  lib/galaxy/tools/toolbox/watcher.py
  lib/galaxy/util/checkers.py
  lib/galaxy/web/framework/base.py
  lib/galaxy/webapps/base/webapp.py
  packages/app/galaxy/project_galaxy_app.py
  packages/auth/galaxy/project_galaxy_auth.py
  packages/data/galaxy/project_galaxy_data.py
  packages/job_execution/galaxy/project_galaxy_job_execution.py
  packages/job_metrics/galaxy/project_galaxy_job_metrics.py
  packages/objectstore/galaxy/project_galaxy_objectstore.py
  packages/selenium/galaxy/project_galaxy_selenium.py
  packages/test_api/galaxy/project_galaxy_test_api.py
  packages/test_base/galaxy/project_galaxy_test_base.py
  packages/test_driver/galaxy/project_galaxy_test_driver.py
  packages/test_selenium/galaxy/project_galaxy_test_selenium.py
  packages/tool_util/galaxy/project_galaxy_tool_util.py
  packages/util/galaxy/project_galaxy_util.py
  packages/web_framework/galaxy/project_galaxy_web_framework.py
  scripts/release-diff.py
  test/integration/test_kubernetes_staging.py
  test/unit/app/tools/test_data_fetch.py
  test/unit/tool_util/test_verify_script.py
Labels: area/python3, kind/bug, kind/enhancement, kind/refactoring

#10759 [20.09] Don't preload editor mako with hidden workflows
  lib/galaxy/webapps/galaxy/controllers/workflow.py
Labels: area/workflows, area/workflows/subworkflows, kind/bug

#10762 [20.09] Cleanup announce samples
  doc/source/releases/20.09_announce.rst
Labels: area/documentation, kind/bug, paper-cut

#10760 [20.09] Include dataset and state in valid state exception
  lib/galaxy/tools/__init__.py
Labels: area/jobs, kind/bug

#10771 Fix Example links
  doc/source/admin/jobs.md
Labels: area/documentation, kind/bug

#10775 [20.09] Fix collectl plugin
  lib/galaxy/job_metrics/instrumenters/collectl.py
Labels: area/python3, kind/bug

#10774 [20.09] Fixes for singularity execution and resolution
  lib/galaxy/tool_util/deps/container_classes.py
  lib/galaxy/tool_util/deps/container_resolvers/mulled.py
Labels: area/jobs, kind/bug, minor

#10776 [20.09] Speed up quay.io interaction by using requests session
  lib/galaxy/tool_util/deps/container_resolvers/mulled.py
  lib/galaxy/tool_util/deps/containers.py
  lib/galaxy/tool_util/deps/mulled/mulled_build_channel.py
  lib/galaxy/tool_util/deps/mulled/util.py
  lib/galaxy/tool_util/deps/views.py
  lib/galaxy/webapps/galaxy/api/container_resolution.py
Labels: area/performance, kind/bug

#10769 Fix title wrapping in workflow editor
  client/src/style/scss/base.scss
Labels: area/UI-UX, kind/bug

#10767 Allow retrying test output downloads for NFS issues.
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tool_util/verify/script.py
Labels: area/tool-framework, kind/bug, kind/enhancement

#10777 [20.09] Fix selection of tool ids in container resolver admin view
  client/src/components/admin/Dependencies/ContainerIndex.vue
Labels: area/UI-UX, area/admin, kind/bug

#10529 'copy to clipboard' button on datasets
  client/src/mvc/dataset/dataset-li.js
  client/src/mvc/tool/tool-form-base.js
  client/src/ui/fa-icon-button.js
  lib/galaxy/selenium/navigates_galaxy.py
Labels: area/UI-UX, kind/enhancement

#10754 Revision of sharing component, adds url copy to clipboard feature
  client/src/components/Common/SlugInput.vue
  client/src/components/Sharing.vue
  lib/galaxy/webapps/base/controller.py
Labels: area/UI-UX, kind/enhancement

#10782 [20.09] Fix reference error
  config/plugins/visualizations/mvpapp/src/index.js
Labels: area/visualizations, kind/bug

#10785 Improve update handling for switches, use es6 and listento functions
  client/src/mvc/ui/ui-options.js
  client/src/mvc/ui/ui-switch.js
Labels: area/UI-UX, kind/bug

#10755 Fix currently failing selenium tests, move to github workflow
  .github/workflows/selenium.yaml
  client/src/components/Sharing.vue
  client/src/components/Tool/ToolFooter.vue
  client/src/components/Workflow/Editor/Attributes.vue
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/modules/forms.js
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/model/item_attrs.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy/selenium/sizzle.py
  lib/galaxy_test/selenium/test_histories_list.py
  lib/galaxy_test/selenium/test_published_histories_grid.py
  lib/galaxy_test/selenium/test_tool_form.py
  lib/galaxy_test/selenium/test_workflow_editor.py
  run_tests.sh
Labels: area/testing/selenium, area/workflows, kind/bug

#10788 Fix conditional rendering of license in tool form.
  client/src/components/Tool/ToolFooter.vue
Labels: area/UI-UX, area/tool-framework, kind/enhancement, minor

#10432 Filter duplicate workflow output labels when initializing workflow step outputs
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/modules/forms.js
  client/src/components/Workflow/Editor/modules/outputs.js
  client/src/components/Workflow/Editor/modules/outputs.test.js
  lib/galaxy/managers/workflows.py
Labels: area/workflows, kind/bug

#10806 Retry failing selenium test once
  .github/workflows/selenium.yaml
Labels: area/testing/selenium, kind/enhancement

#10789 Render OpenEBench in new tool metadata.
  client/src/components/Tool/ToolFooter.vue
Labels: area/tool-framework, kind/enhancement

#10812 fix vue-unit test in toolsview.test.js
  client/src/components/ToolsView/ToolsSchemaJson/ToolsJson.test.js
  client/src/components/ToolsView/ToolsView.test.js
  client/src/components/ToolsView/testData/toolsList.json
Labels: area/testing, kind/bug

#10808 [20.09] Disable tool cache if there is a problem
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/cache.py
Labels: area/tools, kind/bug

#10799 Small fixes to client tests.
  client/src/components/SelectionDialog/WorkflowDialog.test.js
  client/src/components/SelectionDialog/WorkflowDialog.vue
  client/src/components/Workflow/Editor/Attributes.test.js
  client/src/utils/data.js
Labels: area/client, area/testing, kind/refactoring, minor

#10807 Fix Library Folder performance
  client/src/components/LibraryFolder/LibraryFolder.vue
  client/src/components/LibraryFolder/TopToolbar/FolderTopBar.vue
Labels: area/libraries, area/performance, kind/enhancement

#10803 extension lookup with lower case extension
  lib/galaxy/model/__init__.py
Labels: area/datatype-framework, kind/enhancement

#10796 [20.09] Fix list of cached Docker images not getting updated
  lib/galaxy/tool_util/deps/containers.py
Labels: area/tool-framework, kind/bug

#10809 [Selenium] fix bibtex test
  lib/galaxy_test/selenium/test_tool_form.py
Labels: area/testing/selenium, kind/bug

#10817 Allow TRS servers to not be defined
  lib/galaxy/workflow/trs_proxy.py
Labels: area/admin, area/configuration, kind/bug, kind/enhancement

#10819 document optional default for multiple in xsd
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/documentation, kind/enhancement

#10814 [20.09] Restore the ability to pull containers from admin menu
  lib/galaxy/tool_util/deps/container_resolvers/mulled.py
  lib/galaxy/tool_util/deps/containers.py
Labels: area/admin, kind/bug

#10818 [20.09] Various bugfixes for reloading the toolbox
  lib/galaxy/tools/cache.py
  lib/galaxy/tools/search/__init__.py
Labels: area/tool-framework, kind/bug

#10825 [20.01] Cast `ncores` to str for `subprocess.call()`
  lib/galaxy/objectstore/s3.py
Labels: area/objectstore, kind/bug

#10827 [20.09] backport of TRS workflow auto-import and Anonymous warning
  client/src/components/Workflow/TrsImport.vue
  client/src/components/Workflow/WorkflowImport.vue
  client/src/components/Workflow/trsMixin.js
  client/src/components/Workflow/utils.js
  client/src/entry/analysis/AnalysisRouter.js
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/UI-UX, area/workflows, kind/enhancement
