Repository galaxyproject/galaxy, pull requests merged in 2020-05, with the labels that each got.

#9696 Feature/3937 advanced search tooltip
  client/galaxy/scripts/mvc/history/multi-panel.js
  client/galaxy/scripts/mvc/list/list-view.js
  client/galaxy/scripts/ui/search-input.js
  client/galaxy/style/scss/ui/search-input.scss
Labels: area/UI-UX, kind/enhancement

#9697 Full Python dependencies update
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
Labels: area/dependencies, kind/enhancement

#9699 [20.01] Cannot find migrate directory for tools database
  lib/galaxy/model/orm/scripts.py
Labels: area/admin, kind/bug

#9704 Allow oidc login icons to be specified through backend_config xml
  client/galaxy/scripts/components/login/Login.vue
  lib/galaxy/authnz/managers.py
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/oidc_backends_config.xml.sample
  lib/galaxy/webapps/galaxy/controllers/root.py
Labels: area/UI-UX, area/auth, kind/enhancement

#9490 Remove deprecated ``interpreter`` attribute from tools ``<command>``
  test/functional/tools/test_data_source.xml
  tools/data_source/biomart.xml
  tools/data_source/biomart_test.xml
  tools/data_source/cbi_rice_mart.xml
  tools/data_source/ebi_sra.xml
  tools/data_source/eupathdb.xml
  tools/data_source/fly_modencode.xml
  tools/data_source/flymine.xml
  tools/data_source/flymine_test.xml
  tools/data_source/genbank.xml
  tools/data_source/gramene_mart.xml
  tools/data_source/hapmapmart.xml
  tools/data_source/hbvar.xml
  tools/data_source/import.xml
  tools/data_source/intermine.xml
  tools/data_source/metabolicmine.xml
  tools/data_source/microbial_import.xml
  tools/data_source/modmine.xml
  tools/data_source/mousemine.xml
  tools/data_source/ratmine.xml
  tools/data_source/ucsc_tablebrowser.xml
  tools/data_source/ucsc_tablebrowser_archaea.xml
  tools/data_source/ucsc_tablebrowser_test.xml
  tools/data_source/worm_modencode.xml
  tools/data_source/wormbase.xml
  tools/data_source/wormbase_test.xml
  tools/data_source/yeastmine.xml
  tools/data_source/zebrafishmine.xml
  tools/visualization/LAJ.xml
Labels: area/tools, kind/enhancement

#9705 [20.01] Rename galaxy.util.logging to galaxy.util.custom_logging
  doc/source/lib/galaxy.util.logging.rst
  doc/source/lib/galaxy.util.rst
  lib/galaxy/app.py
  lib/galaxy/config/__init__.py
  lib/galaxy/jobs/actions/post.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/slurm.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/custom_logging/__init__.py
  lib/galaxy/util/custom_logging/fluent_log.py
  lib/galaxy/workflow/scheduling_manager.py
  packages/util/setup.py
Labels: kind/bug

#9695 Trigger onchange event, fixes tool version changes being lost
  client/galaxy/scripts/mvc/tool/tool-form-base.js
Labels: area/workflows, kind/bug

#9707 restore tool_util.deps.commands
  lib/galaxy/tool_util/deps/commands.py
Labels: area/tool-dependencies, kind/refactoring

#9691 Optimize setting external ID for jobs.
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/cli.py
  lib/galaxy/jobs/runners/condor.py
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/local.py
  lib/galaxy/jobs/runners/pulsar.py
  test/unit/jobs/test_runner_local.py
Labels: area/jobs, area/performance, kind/enhancement

#9570 index with -c flag for large bam (one region larger than 2**29 - 1)
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes, kind/enhancement

#9600 Allow Tool Data Tables to be backed by refgenie.
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/tool_data_table_conf.xml.sample
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/tools/data/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: kind/enhancement

#9676 Fix ChangeOutputDatatype being dropped on node update
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  client/galaxy/scripts/mvc/workflow/workflow-node.js
  lib/galaxy/managers/workflows.py
Labels: area/workflows, kind/bug

#9425 Add delta_frac for sim_size to specify relative file size differences
  lib/galaxy/tool_util/parser/util.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/tool_util/verify/__init__.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/functional/tools/samples_tool_conf.xml
  test/functional/tools/sim_size_delta.xml
  test/unit/test_verify.py
Labels: area/tool-framework, kind/enhancement

#9060 Third Party Identity Management
  client/galaxy/scripts/components/User/ExternalIdentities/ExternalIdKey.vue
  client/galaxy/scripts/components/User/ExternalIdentities/ExternalIdentities.vue
  client/galaxy/scripts/components/User/ExternalIdentities/index.js
  client/galaxy/scripts/components/User/ExternalIdentities/service.js
  client/galaxy/scripts/components/User/UserPreferencesModel.js
  client/galaxy/scripts/components/login/Login.vue
  client/galaxy/scripts/entry/analysis/AnalysisRouter.js
  client/galaxy/scripts/layout/menu.js
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/authnz.py
  test/unit/authnz/test_custos_authnz.py
Labels: area/auth, kind/enhancement

#9715 [20.01] Make collection import from library import into correct history
  lib/galaxy/managers/collections.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy_test/api/test_history_contents.py
Labels: area/libraries, kind/bug

#9579 Sort Tool Search Result by ranking
  client/galaxy/scripts/components/Panels/ToolBox.vue
  client/galaxy/scripts/components/Panels/ToolBoxWorkflow.vue
  client/galaxy/scripts/components/Panels/utilities.js
Labels: area/UI-UX, kind/enhancement, status/WIP

#9723 Skip check for branch protection
  scripts/bootstrap_history.py
Labels: area/scripts, kind/enhancement

#9726 [20.05] Fix custos credential fetching in python3
  lib/galaxy/authnz/custos_authnz.py
Labels: area/auth, area/python3, kind/bug

#9733 [20.01] Force container image names to lower case to satisfy Docker
  lib/galaxy/tool_util/deps/requirements.py
  test/functional/tools/mulled_example_invalid_case.xml
  test/functional/tools/samples_tool_conf.xml
  test/integration/test_containerized_jobs.py
Labels: area/jobs, area/tool-dependencies, kind/bug

#9728 Move containers test from selenium to selenium integration.
  lib/galaxy/selenium/navigation.yml
  test/integration_selenium/test_admin_dependencies.py
Labels: area/testing, area/testing/integration, area/testing/selenium, kind/enhancement

#9734 [20.01] Use right extension in bz2_to_uncompressed.xml
  lib/galaxy/datatypes/converters/bz2_to_uncompressed.xml
Labels: area/datatypes, kind/bug

#9686 Workflow reports: multiple argument & add single job parameter
  client/galaxy/scripts/components/JobParameters/JobParameters.test.js
  client/galaxy/scripts/components/JobParameters/JobParameters.vue
  client/galaxy/scripts/components/JobParameters/JobParametersArrayValue.vue
  client/galaxy/scripts/components/JobParameters/mount.js
  client/galaxy/scripts/components/JobParameters/parameters-response.json
  client/galaxy/scripts/components/Markdown/Markdown.vue
  client/galaxy/scripts/components/Workflow/Editor/ReportHelp.vue
  lib/galaxy/managers/markdown_parse.py
Labels: triage

#9725 Upgrade to the newer nodejs lts (v10 -> v12; 12.16.3)
  client/.node_version
Labels: area/client-build, kind/enhancement

#9735 Update to IT comment
  config/galaxy.yml.interactivetools
Labels: triage

#9740 [20.05] Sort Workflow list by last updated time instead of created time
  client/galaxy/scripts/components/Workflow/WorkflowList.vue
  lib/galaxy/model/__init__.py
Labels: area/UI-UX, kind/bug

#9738 [20.01] Make watcher more resilient to missing files
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs, kind/bug

#9700 Refactor helper functions
  client/galaxy/scripts/entry/analysis/AnalysisRouter.js
Labels: area/UI-UX, kind/refactoring

#9749 Minor fixes to docs on how to build a job runner
  doc/source/dev/build_a_job_runner.rst
Labels: triage

#9748 [20.05] extract_genomic_dna.py: import Comment, Header from bx.tabular.io instead of bx.intervals.io
  tools/extract/extract_genomic_dna.py
Labels: area/tools

#9708 [20.05] Improve tool recommendations
  client/galaxy/scripts/components/ToolRecommendation.vue
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/tools/recommendations.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: kind/bug, triage

#9752 Remove dummy tool sequence
  lib/galaxy/tools/recommendations.py
Labels: kind/bug

#9737 Swap out node-sass for the new standard sass compiler
  client/galaxy/style/scss/base.scss
  client/package.json
  client/yarn.lock
Labels: area/client-build, kind/enhancement

#9731 [20.01] Fix gff3.gz and gff3.bz2 datatypes
  lib/galaxy/datatypes/interval.py
  lib/galaxy/datatypes/test/gff.gff3.gz
  lib/galaxy/util/__init__.py
  lib/galaxy/util/compression_utils.py
Labels: area/datatypes, kind/bug

#9724 [20.05] Fix workflow steps import feature in workflow editor
  client/galaxy/scripts/components/Workflow/Editor/services.js
  client/galaxy/scripts/components/Workflow/Editor/utilities.js
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
Labels: area/UI-UX, kind/bug

#9755 Client watch fix -- force everything to use modern chokidar
  client/package.json
  client/yarn.lock
Labels: area/client-build, kind/bug

#9754 Add build artifact destination for plugins
  .gitignore
  config/plugins/visualizations/chiraviz/templates/chiraviz.mako
  config/plugins/visualizations/chiraviz/webpack.config.js
Labels: area/client-build, area/visualizations, kind/enhancement

#9761 [19.09] Fix the cleanup condition when job state is OK and cleanup_job is set as "onsuccess'
  lib/galaxy/jobs/runners/__init__.py
Labels: area/jobs, kind/bug

#9759 [20.05] Switch to lxml for xml parsing
  lib/galaxy/auth/util.py
  lib/galaxy/authnz/__init__.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/datatypes/dataproviders/hierarchy.py
  lib/galaxy/datatypes/registry.py
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/dynamic_tool_destination.py
  lib/galaxy/jobs/runners/util/cli/job/torque.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/pithos.py
  lib/galaxy/tool_shed/galaxy_install/tools/data_manager.py
  lib/galaxy/tool_shed/galaxy_install/tools/tool_panel_manager.py
  lib/galaxy/tool_shed/tool_shed_registry.py
  lib/galaxy/tool_shed/tools/data_table_manager.py
  lib/galaxy/tool_util/deps/requirements.py
  lib/galaxy/tool_util/deps/resolvers/brewed_tool_shed_packages.py
  lib/galaxy/tool_util/verify/asserts/xml.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/data/__init__.py
  lib/galaxy/tools/parameters/__init__.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/input_translation.py
  lib/galaxy/tools/parameters/sanitize.py
  lib/galaxy/tools/parameters/validation.py
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/plugin_config.py
  lib/galaxy/util/tool_shed/xml_util.py
  lib/galaxy/util/xml_macros.py
  lib/galaxy/visualization/data_providers/phyloviz/phyloxmlparser.py
  lib/galaxy/visualization/plugins/config_parser.py
  lib/galaxy/web_stack/handlers.py
  lib/galaxy/webapps/galaxy/api/forms.py
  lib/galaxy/workflow/scheduling_manager.py
  lib/tool_shed/test/functional/test_0010_repository_with_tool_dependencies.py
  scripts/validate_tools.sh
  test/unit/objectstore/test_irods.py
  test/unit/test_objectstore.py
  test/unit/tool_util/test_tool_linters.py
  test/unit/tools/test_actions.py
  test/unit/tools/test_dataset_matcher.py
  test/unit/tools/test_evaluation.py
  test/unit/tools/test_tool_panel.py
  test/unit/tools/test_wrappers.py
  test/unit/tools/util.py
  test/unit/util/test_utils.py
Labels: area/framework, kind/bug

#9753 [20.01] Check dataset is accessible and use payload in job error API
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy_test/api/test_jobs.py
  lib/galaxy_test/api/test_search.py
  lib/galaxy_test/api/test_tools.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/selenium/test_history_sharing.py
Labels: area/API, area/jobs, kind/bug

#9742 doc: dynamic destinations better set the id in JobDestination
  doc/source/admin/jobs.md
Labels: area/documentation

#9713 View support for galaxy model, hdca.job_state_summary option
  lib/galaxy/managers/hdcas.py
  lib/galaxy/managers/history_contents.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0166_job_state_summary_view.py
  lib/galaxy/model/view/__init__.py
  lib/galaxy/model/view/utils.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy_test/api/test_history_contents.py
Labels: area/API, area/histories, area/jobs, kind/enhancement

#9682 Collection pagination api resource route
  lib/galaxy/managers/collections.py
  lib/galaxy/managers/collections_util.py
  lib/galaxy/managers/hdcas.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/dataset_collections.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy_test/api/test_dataset_collections.py
  test/unit/managers/test_markdown_export.py
Labels: area/API, area/dataset-collections, area/histories, kind/enhancement

#9766 Remove unused code and other fixes
  lib/galaxy/config_watchers.py
  lib/galaxy/managers/users.py
  lib/galaxy/model/metadata.py
  lib/galaxy/workflow/run_request.py
  run.sh
  run_reports.sh
Labels: area/framework, kind/bug

#9768 Added the missing return value. Added try/catch for another irods call.
  lib/galaxy/objectstore/irods.py
Labels: area/objectstore, kind/bug

#9751 [20.01] Improved exception handling for kubernetes runner
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs, kind/bug

#8122 Add support for cleaning up k8s jobs after a specified number of seconds since finish
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/util/pykube_util.py
Labels: area/admin, area/jobs, kind/enhancement, status/WIP

#9574 Add Vue components for Workflow Inputs and Outputs, reduce Workflow loading time
  client/galaxy/scripts/components/ToolRecommendation.vue
  client/galaxy/scripts/components/Workflow/Editor/Index.vue
  client/galaxy/scripts/components/Workflow/Editor/Node.test.js
  client/galaxy/scripts/components/Workflow/Editor/Node.vue
  client/galaxy/scripts/components/Workflow/Editor/NodeInput.vue
  client/galaxy/scripts/components/Workflow/Editor/NodeOutput.vue
  client/galaxy/scripts/components/Workflow/Editor/Recommendations.vue
  client/galaxy/scripts/components/Workflow/Editor/ZoomControl.vue
  client/galaxy/scripts/components/Workflow/Editor/modules/aria.js
  client/galaxy/scripts/components/Workflow/Editor/modules/canvas.js
  client/galaxy/scripts/components/Workflow/Editor/modules/connector.js
  client/galaxy/scripts/components/Workflow/Editor/modules/dragging.js
  client/galaxy/scripts/components/Workflow/Editor/modules/forms.js
  client/galaxy/scripts/components/Workflow/Editor/modules/manager.js
  client/galaxy/scripts/components/Workflow/Editor/modules/outputs.js
  client/galaxy/scripts/components/Workflow/Editor/modules/services.js
  client/galaxy/scripts/components/Workflow/Editor/modules/terminals.js
  client/galaxy/scripts/components/Workflow/Editor/modules/utilities.js
  client/galaxy/scripts/mvc/workflow/workflow-manager.js
  client/galaxy/scripts/mvc/workflow/workflow-node.js
  client/galaxy/scripts/mvc/workflow/workflow-view-data.js
  client/galaxy/scripts/mvc/workflow/workflow-view-node.js
  client/galaxy/scripts/mvc/workflow/workflow-view-terminals.js
  client/galaxy/scripts/qunit/tests/workflow_editor_tests.js
  client/galaxy/style/scss/base.scss
  client/galaxy/style/scss/workflow.scss
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: area/UI-UX, area/workflows, kind/refactoring

#9746 linkify Data Libraries description and bugfix
  client/galaxy/scripts/mvc/library/library-librarylist-view.js
  client/galaxy/scripts/mvc/library/library-libraryrow-view.js
  client/galaxy/scripts/mvc/library/library-util.js
  client/package.json
  client/yarn.lock
Labels: area/UI-UX, area/libraries, kind/enhancement

#9071 [WIP] Porting Masthead to Vue.js
  client/galaxy/scripts/components/Masthead/Masthead.test.js
  client/galaxy/scripts/components/Masthead/Masthead.vue
  client/galaxy/scripts/components/Masthead/MastheadItem.test.js
  client/galaxy/scripts/components/Masthead/MastheadItem.vue
  client/galaxy/scripts/components/Masthead/initMasthead.js
  client/galaxy/scripts/layout/masthead.js
  client/galaxy/scripts/layout/menu.js
  client/galaxy/scripts/layout/scratchbook.js
  client/galaxy/scripts/qunit/test.js
  client/galaxy/scripts/qunit/tests/masthead_tests.js
  client/galaxy/style/scss/base.scss
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
Labels: status/WIP, triage

#9781 [20.05] Pass through IOError/OSError in tool_shed parse_xml
  lib/galaxy/util/tool_shed/xml_util.py
Labels: area/framework, kind/bug

#9788 [20.05] Backport Restore IOError/OSError
  lib/galaxy/util/tool_shed/xml_util.py
Labels: merge

#9709 [20.01] Fix collection mapping in extended metadata mode.
  lib/galaxy/jobs/__init__.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy_test/api/test_tools.py
  test/integration/test_extended_metadata_mapping.py
Labels: area/dataset-collections, area/jobs, kind/bug

#9784 Don't rely on ttlSecondsAfterFinished for cleanup in k8s as it must…
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/util/pykube_util.py
Labels: area/jobs, kind/bug, minor

#9760 [20.01] Set UTF-8 for parsing tool xml
  lib/galaxy/util/tool_shed/xml_util.py
Labels: area/tool-framework, kind/bug

#9789 Hide masthead dropdown on iframe click
  client/galaxy/scripts/components/Masthead/MastheadItem.vue
Labels: area/UI-UX, kind/bug

#9721 Various spelling and log message error fixes.
  lib/galaxy/app.py
  lib/galaxy/config/__init__.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/model/orm/engine_factory.py
  lib/galaxy/web_stack/handlers.py
Labels: area/documentation, kind/bug

#9800 InteractiveTool unit test fix
  client/galaxy/scripts/components/InteractiveTools/InteractiveTools.test.js
  client/galaxy/scripts/components/Toolshed/SearchList/Repositories.test.js
Labels: area/testing, kind/bug

#9799 Reduce default dogpile logging for testing...
  lib/galaxy/config/__init__.py
Labels: area/testing, kind/bug, minor

#9797 Minor improvements to API errors
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/tools.py
Labels: area/API, kind/bug, kind/enhancement

#9795 Babel peer dependency fix,
  client/package.json
  client/yarn.lock
Labels: area/testing, kind/bug

#9793 Modify loading of email white/blacklists
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/unit/config/test_config_values.py
Labels: area/configuration, kind/bug, kind/refactoring

#9774 Added config parameter for irods connection pool size.
  lib/galaxy/objectstore/irods.py
  test/integration/objectstore/test_objectstore_datatype_upload.py
  test/unit/objectstore/irods_object_store_conf.xml
  test/unit/objectstore/irods_object_store_conf_no_auth.xml
  test/unit/objectstore/irods_object_store_conf_no_extra_dir.xml
Labels: area/objectstore, kind/bug, kind/enhancement

#9808 Fix bug: add self arg to method
  lib/galaxy/config/__init__.py
Labels: area/configuration, kind/bug

#9815 [20.05] Maintain whitespace when parsing token from xml
  lib/galaxy/tools/cache.py
  lib/galaxy/util/xml_macros.py
  test/unit/tool_util/test_parsing.py
Labels: area/tool-framework, kind/bug

#9816 [20.05] Log exception if reading tool file failed unexpectedly
  lib/galaxy/tools/toolbox/base.py
Labels: area/tool-framework, kind/bug

#9817 [20.05] Drop custom in-process lock class
  lib/galaxy/tools/cache.py
Labels: kind/bug

#9821 [20.05] Update NoseHTML to 0.4.6 for Python 3.8 compatibility
  lib/galaxy/dependencies/pipfiles/default/pinned-dev-requirements.txt
Labels: area/dependencies, area/testing, kind/bug

#9822 More reactive, tested Masthead.
  client/galaxy/scripts/components/Masthead/Masthead.test.js
  client/galaxy/scripts/components/Masthead/Masthead.vue
  client/galaxy/scripts/components/Masthead/MastheadItem.vue
  client/galaxy/scripts/components/Masthead/_webhooks.js
  client/galaxy/scripts/components/Masthead/initMasthead.js
  client/galaxy/scripts/layout/masthead.js
  client/galaxy/scripts/layout/menu.js
  client/galaxy/scripts/layout/page.js
  client/galaxy/scripts/layout/scratchbook.js
Labels: area/UI-UX

#9798 Improve mocha test output for rule DSL specification tests.
  client/galaxy/scripts/mocha/tests/rules_tests.js
  lib/galaxy_test/base/data/rules_dsl_spec.yml
Labels: area/client, area/dataset-collections, kind/enhancement

#9806 switch branch of IUC CI earlier in release process
  scripts/bootstrap_history.py
Labels: area/documentation, kind/enhancement

#9825 Cleanup big masthead refactoring.
  client/galaxy/scripts/components/Masthead/MastheadItem.vue
  client/galaxy/scripts/layout/page.js
Labels: area/UI-UX, kind/refactoring, minor

#9827 Cleanup and refactoring client code around upload/data dialog
  client/galaxy/scripts/components/Upload/Collection.vue
  client/galaxy/scripts/components/Upload/UploadBoxMixin.js
  client/galaxy/scripts/components/Upload/UploadModal.vue
  client/galaxy/scripts/components/Upload/config.js
  client/galaxy/scripts/components/Upload/index.js
  client/galaxy/scripts/components/Upload/utils.js
  client/galaxy/scripts/entry/panels/tool-panel.js
  client/galaxy/scripts/mvc/ui/ui-select-content.js
Labels: area/UI-UX, area/upload, kind/refactoring

#9739 Early 20.09 full client dependency update.
  .circleci/config.yml
  client/galaxy/config/testing.js
  client/galaxy/scripts/app/singleton.js
  client/galaxy/scripts/components/ToolsView/ToolsView.test.js
  client/galaxy/scripts/components/User/ExternalIdentities/ExternalIdKey.vue
  client/galaxy/scripts/qunit/test-app.js
  client/package.json
  client/styleguide.config.js
  client/yarn.lock
Labels: area/client, kind/enhancement

#9832 Fix conditional conda activate syntax in job script
  lib/galaxy/tool_util/deps/resolvers/conda.py
Labels: area/tool-dependencies, kind/bug
