Repository galaxyproject/galaxy, pull requests merged in 2021-05, with the labels that each got.

#11913 [21.01] Use keep_original in pysam.tabix_index to not remove original data
  lib/galaxy/datatypes/tabular.py
Labels: area/datatypes

#11909 Add toml datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes, kind/enhancement

#11910 Fix S3 backend support in iRODS object store
  lib/galaxy/objectstore/irods.py
Labels: area/objectstore

#11911 fix GalaxyInteractorApi get_tool_tests
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy_test/api/test_galaxy_interactor.py
  lib/galaxy_test/api/test_tools.py
  test/functional/tools/multiple_versions_v01galaxy6.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/testing, area/testing/api

#11905 Add ``delete account`` selenium test
  client/src/components/User/UserPreferences.vue
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_personal_information.py
Labels: area/UI-UX, area/testing, area/testing/selenium, kind/enhancement

#11881 [21.01] Backport #11871
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/API

#11882 Allow to filter /api/invocations by job_id
  lib/galaxy/managers/workflows.py
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/API, kind/enhancement

#11877 Rev mypy.
  lib/galaxy/dependencies/lint-requirements.txt
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/tool_shed/tool_shed_registry.py
  lib/galaxy/tool_util/deps/mulled/mulled_build_files.py
  lib/galaxy/tool_util/deps/mulled/util.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/toolbox/base.py
  test/integration/test_cli_runners.py
  test/integration/test_datatype_upload.py
  test/integration/test_job_environments.py
  test/integration/test_kubernetes_runner.py
  test/integration/test_repository_operations.py
  test/unit/tools/test_toolbox.py
  tools/__init__.py
  tools/data_source/__init__.py
  tools/extract/liftOver_wrapper.py
  tools/filters/sff_extract.py
  tools/metag_tools/blat_wrapper.py
  tools/metag_tools/shrimp_color_wrapper.py
  tools/next_gen_conversion/solid2fastq.py
  tools/stats/__init__.py
Labels: area/testing, kind/enhancement

#11918 Stabilize test_history_options selenium test
  lib/galaxy_test/selenium/test_history_options.py
Labels: area/testing/selenium, kind/bug

#11908 improve three debug messages
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy_test/driver/driver_util.py
  run_tests.sh
Labels: area/jobs, area/tool-framework

#11873 Fix "Choose remote files" uploads
  client/src/components/FilesDialog/FilesDialog.vue
  client/src/components/Upload/UploadBoxMixin.js
  client/src/components/Upload/UploadModalContent.vue
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/driver/integration_setup.py
  test/integration/test_remote_files_posix.py
  test/integration_selenium/test_upload_file_sources.py
Labels: area/UI-UX, area/upload, kind/bug, minor

#11832 Make tool parameter options capable of referring to metadata file
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/dynamic_options.py
  test/functional/tools/options_from_metadata_file.xml
  test/functional/tools/samples_tool_conf.xml
  test/unit/tool_util/test_tool_linters.py
Labels: area/tool-framework

#11825 Make datatype h5_model for machine leaning models
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/1.h5mlm
Labels: area/datatypes, kind/enhancement

#11904 Abstraction for fetching qualified app URL across webapp types
  lib/galaxy/managers/context.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy/work/context.py
  lib/galaxy_test/api/test_tools.py
  lib/galaxy_test/base/populators.py
  test/unit/test_routes.py
  test/unit/tools/test_execution.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/API, area/testing, area/tool-framework

#11902 Make _metadata regular JSONType field
  lib/galaxy/model/custom_types.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/metadata.py
  lib/galaxy/model/tool_shed_install/mapping.py
  lib/tool_shed/webapp/model/mapping.py
Labels: area/database, area/performance, kind/bug, kind/enhancement

#11859 grep, tail, head: add option to keep header
  lib/galaxy/tools/__init__.py
  tools/filters/grep.py
  tools/filters/grep.xml
  tools/filters/headWrapper.pl
  tools/filters/headWrapper.xml
  tools/filters/tailWrapper.pl
  tools/filters/tailWrapper.xml
Labels: area/tools, kind/enhancement

#11922 expose copied_from_ldda_id on dataset api endpoint
  lib/galaxy/managers/hdas.py
Labels: kind/enhancement

#11925 Eslint tweaks
  client/.eslintrc.js
  client/package.json
  client/src/components/Collections/PairCollectionCreator.vue
  client/src/components/Dataset/DatasetAsImage/DatasetAsImage.vue
  client/src/components/Dataset/DatasetLink/DatasetLink.vue
  client/src/components/History/ContentItem/ContentItem.js
  client/src/components/History/ContentItem/Dataset/DatasetMenu.vue
  client/src/components/History/ContentTags.vue
  client/src/components/History/Scroller.vue
  client/src/components/History/caching/db/pouch.js
  client/src/components/History/caching/operators/lastCachedDate.js
  client/src/components/History/caching/operators/requestWithUpdateTime.js
  client/src/components/History/caching/workerClient.js
  client/src/components/History/model/History.js
  client/src/components/History/model/JobStateSummary.js
  client/src/components/History/model/SearchParams.js
  client/src/components/History/model/queries.js
  client/src/components/History/providers/CollectionContentProvider/CollectionContentProvider.test.js
  client/src/components/History/providers/HistoryContentProvider/contentPayload.test.js
  client/src/components/History/providers/UserHistories/UserHistories.test.js
  client/src/components/History/test/testHistory.js
  client/src/components/JobMetrics/JobMetrics.test.js
  client/src/components/JobMetrics/JobMetrics.vue
  client/src/components/JobParameters/JobParameters.vue
  client/src/components/Libraries/LibrariesList.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolder.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/LibraryFolderDatasetPermissions.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/LibraryFolderPermissions.vue
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
  client/src/components/Libraries/LibraryPermissions/LibraryPermissions.vue
  client/src/components/Libraries/LibraryPermissions/PermissionsInputField.vue
  client/src/components/Markdown/Markdown.vue
  client/src/components/Masthead/MastheadItem.vue
  client/src/components/PageEditor/PageEditorHtml.vue
  client/src/components/PriorityMenu/Menu.vue
  client/src/components/RuleCollectionBuilder.vue
  client/src/components/Tags/model.js
  client/src/components/Toolshed/services.js
  client/src/components/User/ExternalIdentities/ExternalLogin.vue
  client/src/components/admin/Dependencies/ResolutionIndex.vue
  client/src/components/admin/JobDetails.vue
  client/src/components/plugins/legacyNavigation.js
  client/src/components/plugins/vueRxShortcuts.js
  client/src/galaxy.interactive_environments.js
  client/src/layout/scratchbook.js
  client/src/mvc/dataset/data.js
  client/src/mvc/dataset/dataset-li.js
  client/src/mvc/grid/grid-view.js
  client/src/mvc/history/history-view.js
  client/src/mvc/library/library-model.js
  client/src/mvc/ui/icon-button.js
  client/src/polyfills.js
  client/src/utils/color.js
  client/src/utils/observable/rxjsDebugging.js
  client/src/utils/sorting.js
  client/src/viz/circster.js
  client/src/viz/trackster.js
  client/yarn.lock
Labels: area/UI-UX, area/admin, area/client, kind/refactoring

#11928 Fix up package structure for recent filter linting changes.
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/tool-framework, kind/bug, minor

#11933 Fix `GET /api/datasets/` docs
  lib/galaxy/webapps/galaxy/api/datasets.py
Labels: area/API, area/documentation, kind/bug

#11934 Don't move the `update_time` goalpost
  lib/galaxy_test/api/test_history_contents.py
Labels: area/testing, area/testing/api

#11383 [21.05] ITs on Kubernetes
  config/job_conf.xml.interactivetools
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/util/pykube_util.py
  lib/galaxy/managers/interactivetool.py
Labels: area/jobs, status/WIP

#11945 [21.01] Backport #11900
  lib/galaxy/config/script.py
Labels: area/testing, kind/bug, merge

#11946 [21.05] Fix usage of sed -i on macOS in release script
  scripts/release.sh
Labels: area/scripts, kind/bug, minor

#11950 [21.05] Don't let webless handlers join job-handlers pool automatically
  scripts/galaxy_main.py
Labels: area/configuration, area/jobs, area/scripts, kind/bug, minor

#11951 [20.09] Fix anonymous user job walltime query
  lib/galaxy/jobs/handler.py
Labels: area/admin, area/configuration, area/jobs, kind/bug

#11953 [21.05] Include more info on test input staging exception
  lib/galaxy/tool_util/verify/interactor.py
Labels: area/testing, kind/bug, kind/enhancement

#11955 [20.09] Fix container port parsing if IPv6 hostname is ``::``
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tool_util/deps/docker_util.py
  lib/galaxy_ext/container_monitor/monitor.py
  test/integration/test_interactivetools_api.py
Labels: area/jobs, kind/bug

#11961 Merge release_20.09 forward and move string formatting to f-strings
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/tool_util/deps/docker_util.py
  lib/galaxy_ext/container_monitor/monitor.py
  test/integration/test_interactivetools_api.py
Labels: area/jobs, area/testing, area/testing/integration, area/tool-dependencies, area/tool-framework, merge

#11962 [21.01] Fix non-closing masthread downdown
  client/src/components/Masthead/MastheadItem.vue
Labels: area/UI-UX

#11965 [20.09] Force galaxy_id to string in galactic_job_json
  lib/galaxy/tool_util/cwl/util.py
Labels: kind/bug

#11963 [21.05] Use dateutil for python 3.6 compatibility
  lib/galaxy/webapps/galaxy/api/history_contents.py
Labels: area/API, kind/bug, minor

#11947 [21.05] ITs on K8S tweaks and SSL
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/job_conf.xml.sample_advanced
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/managers/interactivetool.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/jobs, area/kubernetes-runner

#11914 [21.05] Create history_audit table to avoid write deadlocks during history.update_time updates
  config/celery.ini
  config/dev.ini
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app.py
  lib/galaxy/celery/__init__.py
  lib/galaxy/celery/tasks.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/managers/histories.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/triggers/__init__.py
  lib/galaxy/model/migrate/triggers/history_update_time_field.py
  lib/galaxy/model/migrate/triggers/update_audit_table.py
  lib/galaxy/model/migrate/versions/0165_add_content_update_time.py
  lib/galaxy/model/migrate/versions/0174_readd_update_time_triggers.py
  lib/galaxy/model/migrate/versions/0175_history_audit.py
  lib/galaxy/model/migrate/versions/util.py
  lib/galaxy/util/task.py
  lib/galaxy/web/framework/helpers/grids.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy/webapps/reports/controllers/system.py
  scripts/cleanup_datasets/cleanup_datasets.py
  test/unit/data/test_galaxy_mapping.py
  test/unit/util/test_task.py
Labels: area/database, area/histories, area/performance, kind/bug

#11973 [21.05] Change default prefix
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/admin, area/documentation

#11966 [21.01] Update default base images, make DEFAULT_CHANNELS configurable via env var
  lib/galaxy/tool_util/deps/mulled/invfile.lua
  lib/galaxy/tool_util/deps/mulled/mulled_build.py
Labels: area/dependencies, kind/bug

#11960 add double quotes to cp for from_work_dir
  lib/galaxy/jobs/command_factory.py
  test/unit/jobs/test_command_factory.py
Labels: area/jobs, kind/bug, kind/refactoring

#11979 [21.01] Fix mulled singularity building
  lib/galaxy/tool_util/deps/mulled/invfile.lua
  test/unit/tool_util/mulled/test_mulled_build.py
Labels: area/scripts, area/tool-dependencies, kind/bug

#11988 [21.05] Add indexes on update_time columns used in ORDER BY clauses
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0176_add_indexes_on_update_time.py
Labels: area/performance, kind/bug, kind/enhancement

#11991 [21.05] Fix FTP upload if remote file sources are not set up
  client/src/components/Upload/Collection.vue
  client/src/components/Upload/Default.vue
  client/src/components/Upload/UploadBoxMixin.js
  client/src/components/Upload/UploadModalContent.vue
  client/src/mvc/upload/upload-model.js
  test/integration_selenium/test_upload_ftp.py
Labels: area/UI-UX, area/upload, kind/bug, minor

#12001 [21.01] Open input file in read mode in liftover wrapper
  tools/extract/liftOver_wrapper.py
Labels: area/tools, kind/bug

#12016 [21.05] Disable import button during "Import to History"
  client/src/components/Libraries/LibraryFolder/TopToolbar/import-to-history/import-dataset.js
Labels: area/UI-UX, area/testing, area/testing/integration

#12015 [21.05] fix library dataset permissions
  client/src/components/Libraries/library-utils.js
Labels: area/UI-UX

#11998 [21.05] Fix breadcrumb in dataset details in libraries
  client/src/mvc/library/library-dataset-view.js
Labels: area/UI-UX

#11996 [21.05] restrict invalid input in library pagination
  client/src/components/Libraries/LibrariesList.vue
Labels: area/UI-UX, kind/bug

#12026 Update tensorflow to 2.5.0.
  lib/galaxy/dependencies/conditional-requirements.txt
Labels: area/dependencies, paper-cut

#12027 Prettier version update to new release
  client/package.json
  client/src/components/Collections/PairedListCollectionCreator.vue
  client/src/components/History/caching/monitorHistoryContent.js
  client/src/components/ToolsView/ToolsView.vue
  client/src/components/Workflow/Editor/modules/forms.js
  client/src/components/WorkflowInvocationState/providers/monitors.test.js
  client/src/galaxy.interactive_environments.js
  client/src/mvc/history/history-contents.js
  client/src/mvc/visualization/chart/views/menu.js
  client/src/store/jobMetricsStore.js
  client/src/utils/observable/monitorXHR.js
  client/src/utils/sorting.js
  client/src/viz/trackster/tracks.js
  client/yarn.lock
Labels: area/UI-UX, area/client

#12011 [21.05]Fix deleted libs for user
  client/src/components/Libraries/LibrariesList.vue
  lib/galaxy/managers/libraries.py
Labels: area/UI-UX, paper-cut

#12021 [21.05] Allow trs_version to refer to name or id field
  client/src/components/Workflow/TrsImport.vue
  client/src/components/Workflow/trsMixin.js
Labels: area/client, area/workflows, kind/bug

#12020 [21.05] Fix history import for anonymous users
  lib/galaxy/webapps/galaxy/api/histories.py
Labels: area/API, kind/bug, minor

#12029 [21.05] Fix subworkflow / update all steps upgrade action
  client/src/components/Workflow/Editor/Index.vue
Labels: area/UI-UX, kind/bug

#11737 Migrate to SQLAlchemy 1.4
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/model/custom_types.py
  lib/galaxy/model/database_utils.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/orm/engine_factory.py
  lib/galaxy/model/view/utils.py
  lib/galaxy/tools/cache.py
  lib/galaxy/webapps/galaxy/api/cloudauthz.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  packages/data/requirements.txt
  packages/test_driver/requirements.txt
  packages/web_framework/requirements.txt
  packages/web_stack/requirements.txt
  pyproject.toml
  scripts/check_model.py
  scripts/cleanup_datasets/pgcleanup.py
  test/unit/tools/test_evaluation.py
  test/unit/workflows/test_extract_summary.py
Labels: area/database, kind/refactoring

#12028 [21.05] Fix downloading (sub)folders from data-libraries
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
Labels: area/UI-UX, area/libraries, kind/bug, paper-cut

#11984 Upgraded to v0.9.0 of irods client that supports parallel put/get
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/dependencies/dev-requirements.txt
Labels: area/dependencies

#12030 [21.05] Fix uploading multiple files in ftp upload / choose remote files
  client/src/components/Upload/UploadModalContent.vue
  test/integration_selenium/test_upload_ftp.py
Labels: area/UI-UX, area/testing, area/testing/integration

#12039 [21.01] add GALAXY_MEMORY_MB* to passt hrough
  lib/galaxy/tool_util/deps/dependencies.py
  lib/galaxy/tool_util/parser/interface.py
Labels: area/tool-dependencies, area/tool-framework

#12023 [21.05] Hide edit libraries for users
  client/src/components/Libraries/LibrariesList.vue
Labels: area/UI-UX, area/libraries, kind/bug, paper-cut

#11827 Create central pydantic models
  lib/galaxy/managers/users.py
  lib/galaxy/schema/fields.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/configuration.py
Labels: area/API

#11983 Migrate Libraries API (top level) to FastAPI
  client/src/components/Libraries/LibraryPermissions/services.js
  lib/galaxy/actions/library.py
  lib/galaxy/managers/libraries.py
  lib/galaxy/managers/roles.py
  lib/galaxy/webapps/galaxy/api/libraries.py
  lib/galaxy_test/api/test_folder_contents.py
  lib/galaxy_test/api/test_libraries.py
  lib/galaxy_test/base/populators.py
Labels: area/API, area/libraries, area/testing, area/testing/api, kind/enhancement

#12042 Initial setup for migrating to declarative mapping
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
Labels: area/database, kind/enhancement

#12047 Fix query parameter in `/api/libraries/{id}/permissions`
  lib/galaxy/webapps/galaxy/api/libraries.py
Labels: area/API, area/libraries, kind/bug

#12037 [21.05] Fix isolated job home dir on pulsar
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/jobs/runners/pulsar.py
  test/integration/test_job_environments.py
Labels: area/jobs, area/testing, area/testing/integration, kind/bug

#12049 Unquote globs in from_work_dir ouptuts
  lib/galaxy/jobs/command_factory.py
  test/unit/jobs/test_command_factory.py
Labels: area/jobs, kind/bug

#12050 Add/drop index together with `job_id` column
  lib/galaxy/model/migrate/versions/0123_add_workflow_request_tables.py
  lib/galaxy/model/migrate/versions/0173_add_job_id_to_dataset.py
Labels: area/database, kind/bug

#12060 Set cache_ok flag for SQLAlchemy custom types
  lib/galaxy/model/custom_types.py
Labels: area/database, kind/refactoring

#12057 Increase API tests coverage for Data Library GET permissions
  lib/galaxy_test/api/test_libraries.py
  lib/galaxy_test/base/populators.py
Labels: area/testing, area/testing/api

#11715 Handle k8s job creation failures
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/util/pykube_util.py
Labels: area/jobs, kind/bug, status/WIP

#12063 Tweak PR template to be a bit more flexible and lightweight.
  pull_request_template.md
Labels: area/documentation, kind/enhancement

#12070 [21.05] invocation_time report fix
  lib/galaxy/managers/markdown_parse.py
  lib/galaxy/managers/markdown_util.py
  test/unit/workflows/test_workflow_markdown.py
Labels: area/testing

#12061 [21.01] Fix pysam.view call
  lib/galaxy/tool_util/verify/__init__.py
  test/functional/tools/sam_to_bam.xml
Labels: area/tool-framework

#12079 [21.05] Fix trigger statements on postgresql less than 11
  .github/workflows/db_indexes.yaml
  lib/galaxy/model/migrate/triggers/update_audit_table.py
Labels: area/database, kind/bug, minor
