Repository galaxyproject/galaxy, pull requests merged in 2021-10, with the labels that each got.

#12608 [21.05] fix the problem where the 'user_library_import_symlink_allowlist' is not respected
  lib/galaxy/util/path/__init__.py
Labels: area/util

#12598 [21.09] Sync reset mapping with Node component map-over state
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/NodeInput.vue
  client/src/components/Workflow/Editor/NodeOutput.vue
  client/src/components/Workflow/Editor/modules/terminals.js
  client/tests/qunit/tests/workflow_editor_tests.js
Labels: kind/bug, area/UI-UX

#12554 Move more webapps unit tests in test/unit/webapps.
  test/unit/webapps/api/test_configuration.py
  test/unit/webapps/test_routes.py
Labels: kind/refactoring, area/testing, area/API, area/packaging

#12599 [21.09] Remove Interactive Environments from Visualizations
  client/src/layout/menu.js
Labels: kind/bug, area/UI-UX

#12623 [21.09] Allow users to retry tool job submissions if an error occurs
  client/src/components/Tool/ToolForm.vue
Labels: kind/bug, area/UI-UX

#12618 [21.09] Fix history export link copy
  client/src/components/HistoryExport/ExportLink.vue
Labels: kind/bug, area/UI-UX

#12544 [PROCEDURES] Add Oleg Zharkov to committers group
  doc/source/project/organization.rst
Labels: kind/enhancement, procedures, area/documentation

#12545 [PROCEDURES] Add David López to committers group
  doc/source/project/organization.rst
Labels: kind/enhancement, procedures, area/documentation

#12617 [21.09] Refgenie fixes for incompatible configurations
  lib/galaxy/tools/data/__init__.py
Labels: kind/bug, kind/enhancement, area/tool-framework

#12624 [21.09] Restore overwritten styles
  client/src/components/Markdown/Elements/HistoryDatasetCollection/CollectionDisplay.vue
  client/src/components/Markdown/Elements/HistoryDatasetDisplay.vue
  client/src/components/Markdown/Elements/ToolStd.vue
  client/src/components/Markdown/Elements/Workflow/WorkflowDisplay.vue
  client/src/components/NewUserWelcome/NewUserWelcome.vue
Labels: kind/bug, area/UI-UX

#12625 [21.09] Allow empty `truevalue` for conditional test parameters
  client/src/components/Form/utilities.js
  client/src/components/Form/utilities.test.js
  client/src/mvc/form/form-data.js
Labels: kind/bug, area/UI-UX

#12616 [21.05] Fix: encode all ids when returning a `ldda` in datasets API `show` operation
  lib/galaxy/webapps/galaxy/api/datasets.py
Labels: kind/bug, area/API

#12584 [21.09] Use new sentry-sdk and adapt usage pattern
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app.py
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/error_report.yml.sample
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/tools/error_reports/__init__.py
  lib/galaxy/tools/error_reports/plugins/sentry.py
  lib/galaxy/web/framework/middleware/sentry.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/fast_app.py
Labels: kind/bug, kind/enhancement, area/framework

#12633 [21.09] Update conditional psycopg2-binary dependency
  lib/galaxy/dependencies/conditional-requirements.txt
Labels: kind/bug, kind/enhancement, area/dependencies

#12634 [21.05] Fix id encoding in datasets API `show` method
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy_test/api/test_libraries.py
  lib/galaxy_test/base/populators.py
  test/integration/test_upload_configuration_options.py
Labels: kind/bug, area/testing, area/API, area/testing/api

#12627 [21.09] Dispose previously mounted Vue-components in Analysis router
  client/src/components/HistoryExport/ExportLink.vue
  client/src/components/Tool/ToolForm.vue
  client/src/entry/analysis/AnalysisRouter.js
Labels: kind/bug, area/UI-UX

#12630 [21.09] Fix new user welcome styles
  client/src/components/NewUserWelcome/NewUserWelcome.vue
Labels: area/UI-UX

#12636 More typing for API tests (especially test_workflows).
  lib/galaxy/web/statsd_client.py
  lib/galaxy_test/api/sharable.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
Labels: kind/enhancement, area/testing/api

#12638 Better model store abstractions.
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/__init__.py
Labels: kind/enhancement, kind/refactoring, area/database

#12626 Fix selenium populators to respect the json parameter.
  lib/galaxy_test/selenium/framework.py
Labels: kind/bug, area/testing/selenium

#12640 [21.01] Disable text input for unselected inputs
  templates/webapps/galaxy/workflow/build_from_current_history.mako
Labels: kind/bug, area/workflows, area/histories

#12644 Typing fixes for various unit tests.
  lib/galaxy/model/__init__.py
  lib/galaxy/tool_util/output_checker.py
  test/unit/data/datatypes/dataproviders/test_base_dataproviders.py
  test/unit/data/datatypes/util.py
  test/unit/data/model/test_model_store.py
  test/unit/data/model/test_test_mapping.py
  test/unit/data/test_galaxy_mapping.py
  test/unit/data/test_model_copy.py
  test/unit/files/test_posix.py
  test/unit/jobs/dynamic_tool_destination/mockGalaxy.py
  test/unit/jobs/test_command_factory.py
  test/unit/queue_worker/test_database_heartbeat.py
  test/unit/shed_unit/test_shed_index.py
  test/unit/shed_unit/test_td_common_util.py
  test/unit/test_galaxy_transactions.py
  test/unit/tool_util/biotools/test_edam_parsing.py
  test/unit/tool_util/test_output_checker.py
  test/unit/tool_util/test_parsing.py
  test/unit/tool_util/test_tool_deps.py
  test/unit/tool_util/test_util.py
  test/unit/tool_util/test_verify.py
  test/unit/tool_util/toolbox/test_toolbox_filters.py
  test/unit/util/test_checkers.py
  test/unit/util/test_compression_util.py
  test/unit/util/test_utils.py
  test/unit/workflows/test_extract_summary.py
Labels: kind/bug, area/packaging

#12649 Annotate more tests as requiring Github to be online.
  lib/galaxy_test/api/test_libraries.py
  lib/galaxy_test/api/test_tools.py
  lib/galaxy_test/api/test_tools_upload.py
Labels: kind/enhancement, area/testing

#12510 Cut history service worker
  client/package.json
  client/src/components/History/caching/CacheWorker.worker.js
  client/src/components/History/caching/index.js
  client/src/components/History/caching/loadDscContent.js
  client/src/components/History/caching/loadHistoryContents.js
  client/src/components/History/caching/workerClient.js
  client/src/components/History/caching/workerConfig.js
  client/webpack.config.js
  client/yarn.lock
Labels: area/UI-UX, area/client

#12648 [21.09] Move node update requests to workflow component
  client/src/components/Workflow/Editor/Forms/FormDefault.vue
  client/src/components/Workflow/Editor/Forms/FormTool.vue
  client/src/components/Workflow/Editor/Index.vue
Labels: kind/bug, area/UI-UX

#12812 More type fixes for managers code.
  lib/galaxy/managers/annotatable.py
  lib/galaxy/managers/base.py
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/deletable.py
  lib/galaxy/managers/hdas.py
  lib/galaxy/managers/histories.py
  lib/galaxy/managers/history_contents.py
  lib/galaxy/managers/jobs.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  setup.cfg
Labels: kind/bug, kind/enhancement, area/framework

#12813 Fixes and test for PDF generation.
  .github/workflows/api.yaml
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/schema/__init__.py
  lib/galaxy/webapps/galaxy/services/pages.py
  lib/galaxy/workflow/reports/generators/__init__.py
  lib/galaxy_test/api/test_pages.py
  setup.cfg
Labels: kind/enhancement, area/API, area/testing/api

#12814 [21.09] Restore ToolEntryPoints component
  client/src/components/Tool/ToolForm.vue
Labels: kind/bug, area/UI-UX, minor

#12810 refactor workflow bookmark
  client/src/components/Workflow/WorkflowList.vue
Labels: area/UI-UX

#12819 [21.09] Set profile version of ncbi_datasets so it can run containerized
  tools/data_source/ncbi_datasets.xml
Labels: kind/bug, minor, area/tools

#12818 [21.09] Backport list builder pairing fix
  client/src/components/Collections/PairedListCollectionCreator.vue
Labels: area/UI-UX, merge
