Repository galaxyproject/galaxy, pull requests merged in 2021-07, with the labels that each got.

#12212 [21.01] Fix running metadata tool on LDDAs
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy_test/api/test_libraries.py
  lib/galaxy_test/base/populators.py
Labels: area/libraries, area/testing/api, kind/bug

#12211 Cancel in progress CI on same branch, cache yarn cache
  .github/workflows/api.yaml
  .github/workflows/api_paste.yaml
  .github/workflows/converter_tests.yaml
  .github/workflows/db_indexes.yaml
  .github/workflows/docs.yaml
  .github/workflows/first_startup.yaml
  .github/workflows/framework.yaml
  .github/workflows/integration.yaml
  .github/workflows/integration_selenium.yaml
  .github/workflows/jest.yaml
  .github/workflows/labels-verifier.yaml
  .github/workflows/lint.yaml
  .github/workflows/maintenance_bot.yaml
  .github/workflows/mulled.yaml
  .github/workflows/osx_startup.yaml
  .github/workflows/performance.yaml
  .github/workflows/selenium.yaml
  .github/workflows/toolshed.yaml
  .github/workflows/unit.yaml
  Makefile
  scripts/common_startup.sh
Labels: area/testing

#12195 Refactor Histories API controller
  lib/galaxy/managers/base.py
  lib/galaxy/managers/histories.py
  lib/galaxy/schema/__init__.py
  lib/galaxy/schema/schema.py
  lib/galaxy/schema/types.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/api/common.py
  lib/galaxy/webapps/galaxy/api/histories.py
  test/unit/api/test_configuration.py
Labels: area/API, area/histories, area/testing, kind/refactoring

#12217 [21.05] Work around null hid
  lib/galaxy/tools/parameters/basic.py
Labels: area/tool-framework, kind/bug

#12215 [21.05] Fix crash when uwsgi + mules has unhandled jobs at startup
  lib/galaxy/app.py
  lib/galaxy/jobs/manager.py
Labels: area/jobs, kind/bug

#12131 Add FastAPI routes for Library Folders
  lib/galaxy/managers/folders.py
  lib/galaxy/managers/libraries.py
  lib/galaxy/managers/roles.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/folders.py
  lib/galaxy/webapps/galaxy/api/libraries.py
  lib/galaxy/webapps/galaxy/api/roles.py
  lib/galaxy_test/api/test_folder_contents.py
  lib/galaxy_test/api/test_folders.py
  lib/galaxy_test/api/test_libraries.py
Labels: area/API, area/libraries, area/testing, area/testing/api, kind/enhancement, kind/refactoring

#12220 [21.05] Don't let reports auto-create database tables
  lib/galaxy/webapps/reports/app.py
Labels: area/database, area/reports, kind/bug

#12221 Fix broken mypy check in dev.
  lib/galaxy/schema/schema.py
Labels: area/libraries, minor

#12223 [21.01] Fix job script performance for large collections in multiple="true" data input
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/util/__init__.py
  lib/galaxy_test/api/test_tools.py
Labels: area/performance, kind/bug

#12229 Update SQLAlchmey to 1.4.20
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  packages/data/requirements.txt
  packages/web_framework/requirements.txt
  packages/web_stack/requirements.txt
  pyproject.toml
Labels: area/database, area/dependencies, kind/refactoring

#12218 Assorted fixes to debugging documentation
  doc/source/dev/debugging_galaxy.md
Labels: area/documentation

#12234 Add a note to get Python extension and set interpreter
  doc/source/dev/debugging_tests.md
  doc/source/dev/select_python_interpreter.png
Labels: area/documentation

#12235 [21.05] Fix fugue pencil on old sharing not showing up correctly.
  templates/webapps/galaxy/workflow/sharing.mako
Labels: area/UI-UX

#12242 add <creator> to the tool schema template, use live links in xsd
  doc/schema_template.md
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/tools, kind/enhancement

#12243 k8s - handle metadata explicitly instead of relying on legacy fallback
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs

#12245 [21.05] Fix version command when using extended metadata
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/__init__.py
  test/integration/test_extended_metadata.py
Labels: area/jobs, area/testing, area/testing/integration, kind/bug

#12253 [21.05] Fix string formatting bug in test interactor
  lib/galaxy/tool_util/verify/interactor.py
Labels: area/testing, kind/bug

#12228 [21.05] Small fixes for beta history panel.
  client/src/components/History/HistoryDetails.vue
  client/src/components/History/adapters/buildCollectionModal.js
Labels: area/UI-UX, area/histories, kind/bug

#12252 [21.05] Restore Grep1 version 1.0.1
  lib/galaxy/config/sample/tool_conf.xml.sample
  lib/galaxy/tools/search/__init__.py
  tools/filters/grep.py
  tools/filters/grep_1.0.1.xml
Labels: area/tools, area/workflows, kind/bug

#12246 Lint for whitespace in tool XML
  lib/galaxy/tool_util/linters/general.py
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, area/tool-framework

#12031 Vueify Tool Form Wrapper
  client/package.json
  client/src/components/Common/ButtonSpinner.vue
  client/src/components/Common/Webhook.vue
  client/src/components/Form/Elements/FormBoolean.test.js
  client/src/components/Form/Elements/FormBoolean.vue
  client/src/components/Form/Elements/FormInput.test.js
  client/src/components/Form/Elements/FormInput.vue
  client/src/components/Form/Form.vue
  client/src/components/Form/FormCard.test.js
  client/src/components/Form/FormCard.vue
  client/src/components/Form/FormDisplay.vue
  client/src/components/Form/FormElement.test.js
  client/src/components/Form/FormElement.vue
  client/src/components/Form/FormInput.vue
  client/src/components/Markdown/MarkdownVisualization.vue
  client/src/components/Panels/ToolBox.vue
  client/src/components/Tool/ToolCard.test.js
  client/src/components/Tool/ToolCard.vue
  client/src/components/Tool/ToolFooter.vue
  client/src/components/Tool/ToolForm.test.js
  client/src/components/Tool/ToolForm.vue
  client/src/components/Tool/ToolSuccess.vue
  client/src/components/Tool/services.js
  client/src/components/Tool/utilities.js
  client/src/components/Workflow/Editor/Forms/FormDefault.vue
  client/src/components/Workflow/Editor/Forms/FormSection.vue
  client/src/components/Workflow/Editor/Forms/FormTool.vue
  client/src/components/Workflow/Editor/Options.vue
  client/src/components/providers/MockConfigProvider.js
  client/src/entry/analysis/AnalysisRouter.js
  client/src/mvc/form/form-input.js
  client/src/mvc/form/form-view.js
  client/src/mvc/tool/tool-form.js
  client/src/style/scss/base.scss
  client/src/style/scss/overrides.scss
  client/tests/qunit/tests/form_tests.js
  client/yarn.lock
  lib/galaxy/selenium/navigation.yml
Labels: area/UI-UX, kind/refactoring

#12254 Use relative path in recursive discover_datasets tag
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/tool_util/parser/output_collection_def.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/functional/tools/multi_output_recurse.xml
Labels: area/tool-framework, kind/enhancement

#12259 [21.05] Fix composite inputs when using Pulsar.
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  test/integration/test_pulsar_embedded.py
Labels: area/jobs, kind/bug

#12260 [21.05] Fix Pulsar dynamic output discovery for various simple tool specified patterns.
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/tool_util/parser/output_collection_def.py
  lib/galaxy/tool_util/parser/output_objects.py
  lib/galaxy/tools/__init__.py
  test/integration/test_pulsar_embedded.py
Labels: area/jobs, kind/bug

#12231 Refactor History contents API
  lib/galaxy/app.py
  lib/galaxy/managers/base.py
  lib/galaxy/managers/history_contents.py
  lib/galaxy/managers/library_datasets.py
  lib/galaxy/schema/__init__.py
  lib/galaxy/schema/fields.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
Labels: area/API, area/histories, kind/refactoring

#12266 Move PR template to `.github`
  .github/pull_request_template.md
Labels: minor

#12267 [21.05] Fix galaxy.json dynamic file collection in Pulsar.
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/jobs/runners/pulsar.py
  pyproject.toml
  test/integration/test_pulsar_embedded.py
Labels: area/jobs, kind/bug, kind/enhancement

#12269 Added check to install 'fs.sshfs' package
  lib/galaxy/dependencies/__init__.py
Labels: area/dependencies

#12275 [21.05] Improve handling of unexpected values in is_empty_file
  lib/galaxy/tools/parameters/basic.py
Labels: area/tool-framework, kind/bug

#12276 Improve `GitHubSearch` class
  lib/galaxy/tool_util/deps/mulled/mulled_search.py
  test/unit/tool_util/mulled/test_mulled_search.py
Labels: area/testing, area/tool-dependencies, area/tool-framework, kind/refactoring

#12273 [21.01] Fix edta metadata setting
  lib/galaxy/datatypes/proteomics.py
Labels: area/datatypes

#12270 Enhance page functionalities in data-library folder
  client/src/components/Libraries/LibraryFolder/LibraryFolder.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/LibraryFolderPermissions.vue
  client/src/components/Libraries/LibraryFolderRouter.js
  client/src/components/Libraries/LibraryPermissions/LibraryPermissions.vue
  client/src/components/Libraries/LibraryPermissions/PermissionsHeader.vue
  lib/galaxy/selenium/navigation.yml
Labels: area/UI-UX, area/libraries, kind/enhancement

#12262 add linting for validators
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/validation.py
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, area/tool-framework

#12282 [21.05] Backport #12269
  lib/galaxy/dependencies/__init__.py
Labels: area/dependencies, merge

#12271 fix type of `page` and `page_limit` in Libraries Folder permissions
  lib/galaxy/webapps/galaxy/api/folders.py
Labels: area/libraries, kind/bug

#12265 Create a bug-report issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area/documentation, kind/enhancement

#10965 Test configuration for running Selenium tests against beta history panel.
  .github/workflows/selenium_beta.yaml
  client/src/components/History/ContentItem/Dataset/DatasetUI.vue
  client/src/components/History/ContentItem/DatasetCollection/DatasetCollection.vue
  client/src/components/History/ContentItem/DatasetCollection/DscUI.vue
  client/src/components/History/ContentOperations.vue
  client/src/components/History/CurrentCollection/Details.vue
  client/src/components/History/CurrentCollection/Panel.vue
  client/src/components/History/CurrentCollection/TopNav.vue
  client/src/components/History/CurrentHistoryPanel.vue
  client/src/components/History/HistoriesMenu.vue
  client/src/components/History/HistoryDetails.vue
  client/src/components/History/HistoryEmpty.vue
  client/src/components/PriorityMenu/Menu.vue
  client/src/entry/panels/history-panel.js
  client/src/mvc/collection/collection-li.js
  client/src/mvc/dataset/dataset-li.js
  client/src/mvc/history/hda-li.js
  client/src/mvc/history/hdca-li.js
  client/src/mvc/history/history-view-edit.js
  client/src/mvc/history/history-view.js
  client/src/mvc/history/options-menu.js
  client/src/mvc/list/list-view.js
  client/src/mvc/ui/popup-menu.js
  lib/galaxy/selenium/components.py
  lib/galaxy/selenium/driver_factory.py
  lib/galaxy/selenium/has_driver.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy/selenium/smart_components.py
  lib/galaxy_test/selenium/framework.py
  lib/galaxy_test/selenium/test_collection_builders.py
  lib/galaxy_test/selenium/test_history_multi_view.py
  lib/galaxy_test/selenium/test_history_panel.py
  lib/galaxy_test/selenium/test_history_panel_collections.py
  lib/galaxy_test/selenium/test_history_structure.py
  lib/galaxy_test/selenium/test_navigates_galaxy.py
Labels: area/histories, area/testing/selenium, kind/enhancement

#12290 Allow scrolling in autocomplete options, fix search word filtering
  client/src/mvc/ui/ui-misc.js
  client/src/style/scss/ui.scss
Labels: area/UI-UX, kind/bug

#12277 Added additional guard conditions in k8s runner to prevent KeyError
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/util/pykube_util.py
Labels: area/jobs, kind/bug

#12289 Allow bio.tools mappings for legacy tools.
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/biotools_mappings.tsv
  lib/galaxy_test/api/test_tools.py
  packages/app/MANIFEST.in
Labels: area/tool-framework, area/tools, kind/enhancement

#12292 Refactor base toolbox code de-coupled from app & config into tool_util.
  lib/galaxy/config_watchers.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/tool_shed/galaxy_install/tool_migration_manager.py
  lib/galaxy/tool_util/toolbox/__init__.py
  lib/galaxy/tool_util/toolbox/base.py
  lib/galaxy/tool_util/toolbox/filters/__init__.py
  lib/galaxy/tool_util/toolbox/filters/examples.py.sample
  lib/galaxy/tool_util/toolbox/integrated_panel.py
  lib/galaxy/tool_util/toolbox/lineages/__init__.py
  lib/galaxy/tool_util/toolbox/lineages/factory.py
  lib/galaxy/tool_util/toolbox/lineages/interface.py
  lib/galaxy/tool_util/toolbox/panel.py
  lib/galaxy/tool_util/toolbox/parser.py
  lib/galaxy/tool_util/toolbox/tags.py
  lib/galaxy/tool_util/toolbox/watcher.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/cache.py
  lib/galaxy/tools/filters/__init__.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/odict.py
  lib/galaxy/util/watcher.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  packages/app/requirements.txt
  packages/app/setup.py
  packages/tool_util/requirements.txt
  packages/tool_util/setup.py
  test/unit/tool_util/toolbox/__init__.py
  test/unit/tool_util/toolbox/filter_modules/__init__.py
  test/unit/tool_util/toolbox/filter_modules/filtermod.py
  test/unit/tool_util/toolbox/test_tool_panel.py
  test/unit/tool_util/toolbox/test_toolbox_filters.py
  test/unit/tool_util/toolbox/test_watcher.py
  test/unit/tools/conftest.py
  test/unit/tools/test_toolbox.py
Labels: area/tool-framework, kind/enhancement, kind/refactoring

#12303 Fix histories content filtering by type
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy_test/api/test_history_contents.py
Labels: area/API, area/testing, area/testing/api, kind/bug, kind/refactoring

#12227 Vueify Workflow Run form
  client/src/components/Form/FormCard.vue
  client/src/components/Form/FormDisplay.vue
  client/src/components/Form/FormMessage.vue
  client/src/components/Form/utilities.js
  client/src/components/History/providers/UserHistories/UserHistories.js
  client/src/components/Tool/ToolCard.vue
  client/src/components/Tool/ToolForm.vue
  client/src/components/Tool/services.js
  client/src/components/Tool/utilities.js
  client/src/components/WaitButton.vue
  client/src/components/Workflow/Editor/Forms/FormDefault.vue
  client/src/components/Workflow/Run/WorkflowRun.vue
  client/src/components/Workflow/Run/WorkflowRunDefaultStep.vue
  client/src/components/Workflow/Run/WorkflowRunForm.vue
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/components/Workflow/Run/WorkflowRunToolStep.vue
  client/src/components/Workflow/Run/model.js
  client/src/components/Workflow/Run/services.js
  client/src/mvc/form/form-data.js
  client/src/mvc/form/form-input.js
  client/src/mvc/form/form-view.js
  client/src/mvc/tool/tool-form-base.js
  client/src/mvc/tool/tool-form-composite.js
  client/src/style/scss/base.scss
  client/src/style/scss/ui.scss
  lib/galaxy/managers/configuration.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_history_panel.py
Labels: area/UI-UX, kind/refactoring

#12306 [21.01] Fix repository_update test
  test/integration/test_repository_operations.py
Labels: area/testing, area/testing/integration

#12308 [21.01] Fix test_repository_update
  test/integration/test_repository_operations.py
  test/integration/uses_shed.py
Labels: area/testing, area/testing/integration

#12305 [21.05] Fix order of dataset instances
  .github/workflows/integration_selenium.yaml
  lib/galaxy/model/__init__.py
  test/unit/data/test_galaxy_mapping.py
Labels: area/testing
