Repository galaxyproject/galaxy, pull requests merged in 2021-11, with the labels that each got.

#12823 [21.09] Add missing tool_ids to workflow invocation failure message
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/bug, kind/enhancement, area/testing, area/API, area/testing/api

#12817 [21.09] Allow dataset and dataset collection deletion for anonymous users
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy_test/api/test_history_contents.py
  lib/galaxy_test/api/test_jobs.py
  lib/galaxy_test/base/api.py
Labels: kind/bug, area/dataset-collections, paper-cut

#12815 [21.09] Fix remote object store datasets not purged
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/azure_blob.py
  lib/galaxy/objectstore/cloud.py
  lib/galaxy/objectstore/irods.py
  lib/galaxy/objectstore/s3.py
  lib/galaxy/util/__init__.py
  lib/galaxy_test/base/populators.py
  test/integration/objectstore/_base.py
  test/integration/objectstore/test_remote_objectstore_cache_operations.py
  test/integration/objectstore/test_swift_objectstore.py
  test/unit/objectstore/test_objectstore.py
Labels: kind/bug, area/objectstore

#12816 [21.09] Fix ``from_work_dir`` glob with extended metadata and pulsar
  lib/galaxy/metadata/set_metadata.py
  test/functional/tools/from_work_dir_glob.xml
  test/functional/tools/samples_tool_conf.xml
  test/integration/test_pulsar_embedded_extended_metadata.py
Labels: kind/bug, area/jobs

#12826 Fix mypy tests that broke while merging forward
  test/integration/objectstore/_base.py
Labels: kind/bug, minor, area/testing, area/testing/integration

#12829 Create new history for anonymous API users via history/current_histor…
  lib/galaxy_test/api/test_history_contents.py
  lib/galaxy_test/api/test_jobs.py
Labels: kind/bug, area/testing/api

#12830 [21.09] Allow sessionless access to some datasets API endpoints
  lib/galaxy/webapps/galaxy/api/datasets.py
Labels: kind/bug, area/API

#12827 [21.09] Pin a resolution for ua-parser-js to 0.7.30
  client/package.json
  client/yarn.lock
Labels: area/security, area/client-build

#12821 [21.09] Finalize release notes
  doc/source/releases/21.09.rst
  doc/source/releases/21.09_announce.rst
  doc/source/releases/21.09_announce_user.rst
  doc/source/releases/21.09_prs.rst
  doc/source/releases/index.rst
  scripts/bootstrap_history.py
  scripts/release-diff.py
Labels: area/documentation, area/scripts

#12832 [21.05] Disable dockerhub pushes
  .github/workflows/build_container_image.yaml
Labels: kind/bug, minor

#12839 [21.09] Backport #12527 - needed to fix the converter tests.
  lib/galaxy/tool_util/linters/general.py
  test/unit/tool_util/test_tool_linters.py
Labels: kind/bug, area/testing, merge, area/tool-framework

#12840 Fix bookmarking workflow twice
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: kind/bug, area/API

#12838 fix typo in bookmarking
  client/src/components/Workflow/WorkflowList.vue
Labels: area/UI-UX

#12843 fix yarn lock
  client/yarn.lock
Labels: area/client

#12836 Upgrade FastAPI to v0.70.0
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  pyproject.toml
Labels: kind/enhancement, area/dependencies

#12844 [21.09] Version bump galaxy tool util and converter dependency fix
  lib/galaxy/datatypes/converters/fasta_to_bowtie_base_index_converter.xml
  lib/galaxy/datatypes/converters/fasta_to_bowtie_color_index_converter.xml
  packages/tool_util/HISTORY.rst
  packages/tool_util/galaxy/project_galaxy_tool_util.py
Labels: kind/bug, area/datatypes, area/packaging

#12851 [21.09] Downgrade bowtie requirement for CONVERTER_fasta_to_bowtie_color_index
  lib/galaxy/datatypes/converters/fasta_to_bowtie_color_index_converter.xml
Labels: kind/bug, area/tools, area/datatypes

#12853 [21.09] Backport #12833
  lib/galaxy/managers/interactivetool.py
Labels: kind/bug, area/interactive-tools, merge

#12856 Temporary downgrade FastAPI to v0.68.2
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  pyproject.toml
Labels: area/dependencies

#12860 [21.09] Fix startup with edam
  lib/galaxy/tool_util/toolbox/views/edam.py
Labels: area/tool-framework

#12820 Replace boolean input parameter with Vue component in forms
  client/src/components/Form/Elements/FormBoolean.vue
  client/src/components/Form/FormElement.vue
  client/src/mvc/visualization/chart/views/viewer.js
  config/plugins/visualizations/heatmap/heatmap_default/src/script.js
  config/plugins/visualizations/jqplot/jqplot_bar/src/script.js
  config/plugins/visualizations/msa/static/script.js
  config/plugins/visualizations/ngl/src/ngl.js
  config/plugins/visualizations/nvd3/nvd3_bar/src/nvd3.js
  config/plugins/visualizations/nvd3/nvd3_bar/static/nvd3.css
  config/plugins/visualizations/nvd3/nvd3_bar/static/nvd3.js
  lib/galaxy/selenium/navigation.yml
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  test/integration_selenium/test_toolbox_filters.py
Labels: area/UI-UX, kind/refactoring

#12831 Avoid console error when cloning newly created nodes
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/modules/model.js
Labels: kind/bug, area/UI-UX

#12845 Stronger typing of upload code.
  .github/workflows/lint.yaml
  lib/galaxy/actions/library.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/upload_util.py
  lib/galaxy/dependencies/lint-requirements.txt
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/managers/markdown_parse.py
  lib/galaxy/model/tags.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/webapps/galaxy/api/library_contents.py
  lib/galaxy_test/api/test_tools_upload.py
  setup.cfg
  test/unit/data/datatypes/test_sniff.py
  tools/data_source/upload.py
Labels: kind/enhancement, area/framework, area/upload

#12883 Fixes for packages
  lib/galaxy/security/ssh_util.py
  lib/galaxy/tool_util/cwl/schema.py
  packages/app/requirements.txt
  packages/test.sh
  packages/tool_util/setup.py
  test/integration/test_cli_runners.py
  test/unit/app/test_remote_shell.py
Labels: kind/bug, area/packaging, BioHackEU21

#12888 Fix `parse_input_sources()` method to return a list
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/parser/yaml.py
  test/unit/tool_util/test_parsing.py
Labels: kind/bug, area/tool-framework, BioHackEU21

#12889 Polyfill overhaul, fixes.
  .github/workflows/jest.yaml
  client/package.json
  client/src/polyfills.js
  client/tests/karma/karma.config.qunit.js
  client/yarn.lock
Labels: area/UI-UX, area/client

#12858 Update all Python dependencies
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/dependencies/update.sh
  lib/galaxy/dependencies/update_lint_requirements.sh
  packages/test_driver/requirements.txt
  packages/util/requirements.txt
  packages/web_framework/requirements.txt
  pyproject.toml
Labels: kind/enhancement, area/dependencies, area/packaging

#12894 Show error codes when running mypy
  setup.cfg
Labels: kind/enhancement, area/testing, BioHackEU21

#12891 [21.09] Agp datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/goldenpath.py
  lib/galaxy/datatypes/test/eg1.agp
  lib/galaxy/datatypes/test/eg2.agp
  lib/galaxy/visualization/data_providers/registry.py
Labels: area/datatypes

#12841 Replace hidden field input element with Vue
  client/src/components/Form/Elements/FormHidden.test.js
  client/src/components/Form/Elements/FormHidden.vue
  client/src/components/Form/Elements/parameters.js
  client/src/components/Form/FormElement.vue
  client/src/mvc/ui/ui-misc.js
  client/tests/qunit/tests/ui_tests.js
Labels: area/UI-UX, kind/refactoring

#12895 Update cwltool pin to 3.1.20211107152837
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  pyproject.toml
Labels: area/dependencies, BioHackEU21

#12896 Rev pulsar-galaxy-lib.
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  pyproject.toml
Labels: kind/bug, area/jobs, area/dependencies

#12861 Drop legacy uploadpost
  client/src/components/Upload/Collection.vue
  client/src/components/Upload/Composite.vue
  client/src/components/Upload/Default.vue
  client/src/components/Upload/UploadBoxMixin.js
  client/src/components/Upload/UploadModalContent.vue
  client/src/components/Upload/helpers.js
  client/src/utils/data.js
  client/src/utils/uploadbox.js
  lib/galaxy/tools/data_fetch.py
  lib/galaxy_test/selenium/test_history_dataset_state.py
Labels: area/UI-UX

#12868 Type updates
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/registry.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/metadata.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/wrapped_json.py
  lib/galaxy/tools/wrappers.py
  lib/galaxy/util/compression_utils.py
  lib/galaxy/visualization/data_providers/genome.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run.py
  lib/galaxy/workflow/run_request.py
  setup.cfg
  test/unit/app/tools/test_wrappers.py
Labels: kind/enhancement, area/workflows, BioHackEU21

#12904 Sync package deps with `pyproject.toml`
  lib/galaxy/tool_util/cwl/cwltool_deps.py
  lib/galaxy/tool_util/cwl/schema.py
  packages/app/requirements.txt
  packages/test.sh
  packages/tool_util/setup.py
  packages/webapps/requirements.txt
  pyproject.toml
Labels: kind/bug, area/tool-framework, area/packaging, BioHackEU21

#12902 [21.09] Increase directory check specificity, of particular use with AnVIL
  lib/galaxy/files/sources/_pyfilesystem2.py
Labels: kind/bug, kind/enhancement, area/upload

#12905 Simplify Augustus datatype sniffer
  lib/galaxy/datatypes/annotation.py
Labels: kind/refactoring, area/datatypes

#12892 Modify history contents/near endpoint to support new history scroller
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
  lib/galaxy_test/api/test_history_contents.py
  test/unit/webapps/services/test_history_contents.py
Labels: kind/feature, area/API

#12897 Consider a history not new once there are any items in it
  lib/galaxy/managers/histories.py
  lib/galaxy/model/__init__.py
  test/integration/test_upload_configuration_options.py
  test/unit/app/managers/test_HistoryManager.py
Labels: kind/bug, area/histories, BioHackEU21

#12910 Tweak docs for container_resolver_* options
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/documentation

#12867 Vuefy color input form element
  client/src/components/Form/Elements/FormColor.vue
  client/src/components/Form/Elements/parameters.js
  client/src/components/Form/FormElement.vue
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
  client/src/components/Libraries/LibraryFolder/TopToolbar/pointer.css
  client/src/components/Libraries/LibraryFolder/library-folder-table.css
  client/src/mvc/ui/ui-color-picker.js
  client/src/style/scss/ui.scss
Labels: area/UI-UX, highlight

#12913 3rd round of type updates to support CWL import
  lib/galaxy/config/__init__.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/images.py
  lib/galaxy/tool_util/cwl/parser.py
  lib/galaxy/tool_util/cwl/util.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/compression_utils.py
  lib/galaxy/workflow/modules.py
  setup.cfg
  test/integration/test_upload_configuration_options.py
Labels: area/testing, area/workflows, area/datatypes, area/tool-framework, area/util, area/testing/integration, BioHackEU21

#12850 [21.05] Fix activation token sending for emails with characters that are escaped in html
  lib/galaxy/managers/users.py
Labels: kind/bug, paper-cut

#12885 Create sniffer for GRO file type
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/datatypes/test/5e5z.gro
Labels: kind/enhancement, area/datatypes

#12893 [21.09] Fix parsing of yml job conf file in galaxy.dependencies
  lib/galaxy/dependencies/__init__.py
  test/unit/app/dependencies/test_deps.py
Labels: area/testing

#12890 Remove chart utilities and artifacts from code base
  client/gulpfile.js
  client/src/bundleEntries.js
  client/src/mvc/visualization/chart/utilities/datasets.js
  client/src/mvc/visualization/chart/utilities/jobs.js
  client/src/mvc/visualization/chart/utilities/series.js
  client/src/mvc/visualization/chart/views/settings.js
  client/src/mvc/visualization/chart/views/viewer.js
  config/plugins/visualizations/annotate_image/package.json
  config/plugins/visualizations/annotate_image/src/script.js
  config/plugins/visualizations/cytoscape/src/script.js
  config/plugins/visualizations/cytoscape/static/script.js
  config/plugins/visualizations/drawrna/src/script.js
  config/plugins/visualizations/drawrna/static/script.js
  config/plugins/visualizations/example/config/example.xml
  config/plugins/visualizations/example/package.json
  config/plugins/visualizations/example/src/script.js
  config/plugins/visualizations/example/static/script.js
  config/plugins/visualizations/heatmap/heatmap_cluster/config/heatmap_cluster.xml
  config/plugins/visualizations/heatmap/heatmap_default/config/heatmap_default.xml
  config/plugins/visualizations/heatmap/heatmap_default/package.json
  config/plugins/visualizations/heatmap/heatmap_default/src/script.js
  config/plugins/visualizations/jqplot/jqplot_bar/config/jqplot_shared.xml
  config/plugins/visualizations/jqplot/jqplot_bar/package.json
  config/plugins/visualizations/jqplot/jqplot_bar/src/script.js
  config/plugins/visualizations/jqplot/jqplot_bar/static/script.css
  config/plugins/visualizations/jqplot/jqplot_bar/static/script.js
  config/plugins/visualizations/msa/static/script.js
  config/plugins/visualizations/ngl/src/ngl.js
  config/plugins/visualizations/nora/config/nora.xml
  config/plugins/visualizations/nvd3/nvd3_bar/config/nvd3_shared.xml
  config/plugins/visualizations/nvd3/nvd3_bar/package.json
  config/plugins/visualizations/nvd3/nvd3_bar/src/nvd3.js
  config/plugins/visualizations/nvd3/nvd3_bar/static/nvd3.js
  config/plugins/visualizations/openlayers/src/script.js
  config/plugins/visualizations/phylocanvas/src/script.js
  config/plugins/visualizations/phylocanvas/static/script.js
  config/plugins/visualizations/pv/src/pv.js
  config/plugins/visualizations/venn/config/venn.xml
  config/plugins/visualizations/venn/package.json
  config/plugins/visualizations/venn/src/script.js
  config/plugins/visualizations/venn/static/script.js
Labels: area/UI-UX, kind/refactoring, area/visualizations

#12919 [21.09] Fix installation of tools with biotools id
  lib/galaxy/tools/repositories.py
  test/integration/test_shed_tool_tests.py
Labels: area/testing, area/tool-framework, area/testing/integration

#12923 Fix OpenAPI docs not rendering
  lib/galaxy/schema/schema.py
Labels: kind/bug, area/API

#12925 Fix output step name in docker image build
  .github/workflows/build_container_image.yaml
Labels: kind/bug

#12926 Fix default value of `runners` in `job_conf_dict`
  lib/galaxy/dependencies/__init__.py
Labels: kind/bug, area/dependencies

#12723 Tool linter: simple test for test params absent from inputs
  lib/galaxy/tool_util/linters/tests.py
  test/unit/tool_util/test_tool_linters.py
Labels: kind/enhancement, area/testing, area/tool-framework

#12899 Type updates from @mr-c - part 2
  lib/galaxy/managers/collections.py
  lib/galaxy/managers/collections_util.py
  lib/galaxy/managers/tools.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/execute.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/grouping.py
  lib/galaxy/tools/test.py
  lib/galaxy/workflow/modules.py
  setup.cfg
Labels: kind/enhancement, area/testing, area/datatypes, area/tool-framework, BioHackEU21

#12912 Improved Upload Provenance and Correctness
  client/src/components/DatasetInformation/DatasetHash.vue
  client/src/components/DatasetInformation/DatasetHashes.vue
  client/src/components/DatasetInformation/DatasetInformation.vue
  client/src/components/DatasetInformation/DatasetSource.vue
  client/src/components/DatasetInformation/DatasetSourceTransform.vue
  client/src/components/DatasetInformation/DatasetSources.vue
  lib/galaxy/actions/library.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/upload_util.py
  lib/galaxy/managers/hdas.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/selenium/components.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/webapps/galaxy/api/library_contents.py
  lib/galaxy_test/api/test_tools_upload.py
  lib/galaxy_test/base/constants.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/driver/integration_setup.py
  test-data/simple_line_x2_windows.txt
  test/integration_selenium/test_dataset_details_source_transforms.py
  test/unit/data/datatypes/test_sniff.py
  tools/data_source/upload.py
Labels: kind/bug, kind/enhancement, area/UI-UX, area/testing/selenium, area/upload, highlight

#12914 Modify logic in history_contents/near to accommodate scroller
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
  test/unit/webapps/services/test_history_contents.py
Labels: kind/refactoring, area/API

#12847 Refactor datasets API
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/common.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/services/base.py
  lib/galaxy/webapps/galaxy/services/datasets.py
Labels: kind/refactoring, area/API

#12936 [21.09] fix value_in_data_table validator for multiple selects
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/basic.py
  test/functional/tools/validation_value_in_datatable.xml
Labels: area/testing, area/tool-framework

#12935 Add a few charts artifacts to gitignore.
  .gitignore
Labels: minor

#12932 Move the `titleonly` option to input element component
  client/src/components/Form/Elements/parameters.js
  client/src/components/Form/FormElement.test.js
  client/src/components/Form/FormElement.vue
Labels: kind/bug, area/UI-UX

#12921 lint for option wo text or value
  lib/galaxy/tool_util/linters/inputs.py
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, area/tool-framework

#12931 Provide 2 types of scoped_session in DI (initially "type of session parameter should be scoped_session")
  lib/galaxy/app.py
  lib/galaxy/app_unittest_utils/galaxy_mock.py
  lib/galaxy/celery/tasks.py
  lib/galaxy/managers/annotatable.py
  lib/galaxy/managers/context.py
  lib/galaxy/managers/jobs.py
  lib/galaxy/model/base.py
  lib/galaxy/model/scoped_session.py
  lib/galaxy/model/tags.py
  lib/galaxy/tools/cache.py
Labels: kind/bug, area/database

#12944 Small tweaks to facilitate deferred dataset implementation.
  client/src/components/Details/DatasetDetails.vue
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
Labels: kind/refactoring, area/testing/api

#12915 [21.09] Fix containerized NCBI Datasets Genomes data source tool
  lib/galaxy/config/sample/tool_conf.xml.sample
  tools/data_source/ncbi_datasets.xml
Labels: kind/bug, area/tools

#12906 Fix menu overflow in right panel
  client/src/mvc/list/list-view.js
  client/src/nls/es/locale.js
  client/src/style/scss/base.scss
Labels: area/UI-UX

#12946 Update link to "Python for Biologists" page.
  client/src/components/RuleBuilder/RegularExpressionInput.vue
Labels: area/UI-UX

#12920 [21.09] fix linter for select inputs
  lib/galaxy/tool_util/linters/inputs.py
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, area/tool-framework

#12948 Modifications to next hid_counter generation
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  test/unit/data/test_galaxy_mapping.py
Labels: kind/refactoring, area/database, area/histories

#12942 Eliminate a lot of while: True loops in datatype code
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/annotation.py
  lib/galaxy/datatypes/assembly.py
  lib/galaxy/datatypes/blast.py
  lib/galaxy/datatypes/constructive_solid_geometry.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/flow.py
  lib/galaxy/datatypes/genetics.py
  lib/galaxy/datatypes/goldenpath.py
  lib/galaxy/datatypes/images.py
  lib/galaxy/datatypes/interval.py
  lib/galaxy/datatypes/metacyto.py
  lib/galaxy/datatypes/microarrays.py
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/datatypes/mothur.py
  lib/galaxy/datatypes/msa.py
  lib/galaxy/datatypes/phylip.py
  lib/galaxy/datatypes/plant_tribes.py
  lib/galaxy/datatypes/proteomics.py
  lib/galaxy/datatypes/qualityscore.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/text.py
  lib/galaxy/datatypes/triples.py
  lib/galaxy/datatypes/util/gff_util.py
  lib/galaxy/datatypes/xml.py
  lib/galaxy/util/__init__.py
  test/unit/util/test_utils.py
Labels: kind/refactoring, area/datatypes

#12939 Allow labeling of subworkflow outputs in parent workflow
  client/src/components/Form/Elements/FormInput.test.js
  client/src/components/Workflow/Editor/Forms/FormDefault.test.js
  client/src/components/Workflow/Editor/Forms/FormDefault.vue
  client/src/components/Workflow/Editor/Forms/FormOutput.vue
  client/src/components/Workflow/Editor/Forms/FormOutputLabel.test.js
  client/src/components/Workflow/Editor/Forms/FormOutputLabel.vue
  client/src/components/Workflow/Editor/Forms/FormSection.vue
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/NodeOutput.vue
Labels: kind/enhancement, area/UI-UX

#12954 Move `wait_for_invocation_and_jobs()` method to `BaseWorkflowPopulator`
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
Labels: kind/refactoring, area/testing, area/cwl, area/testing/api

#12908 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: kind/enhancement, area/security, BioHackEU21

#12949 Don't bind model's MetaData to engine
  lib/galaxy/model/mapping.py
  lib/galaxy/model/tool_shed_install/mapping.py
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: kind/refactoring, area/database

#12962 Use ``lazy="joined"`` instead of ``lazy=False``
  lib/galaxy/model/__init__.py
Labels: kind/refactoring

#12963 Minor type fixes
  lib/galaxy/celery/tasks.py
  lib/galaxy/managers/jobs.py
  lib/galaxy/tools/parameters/basic.py
Labels: kind/bug, kind/refactoring, area/tool-framework

#12945 Sort icon on List Collection Creator
  client/src/components/Collections/ListCollectionCreator.vue
Labels: area/UI-UX, kind/feature

#12968 [21.09] Backport lint select fix #12920
  lib/galaxy/tool_util/linters/inputs.py
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, merge, area/tool-framework

#12898 Vuefy DirectoryUri form input field
  client/src/components/Form/Elements/FormDirectory.test.js
  client/src/components/Form/Elements/FormDirectory.vue
  client/src/components/Form/Elements/parameters.js
  client/src/components/Form/FormElement.vue
  client/src/mvc/ui/ui-file-source.js
  client/src/utils/mountBreadcrump.js
Labels: area/UI-UX, kind/refactoring

#12811 Display tool source in tool form
  client/package.json
  client/src/components/Tool/ToolCard.test.js
  client/src/components/Tool/ToolCard.vue
  client/src/components/Tool/ToolSource.vue
  client/src/components/Tool/ToolSourceMenuItem.vue
  client/src/components/providers/SingleQueryProvider.js
  client/src/components/providers/ToolSourceProvider.js
  client/yarn.lock
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/managers/configuration.py
  lib/galaxy/tool_util/parser/cwl.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy_test/api/test_tools.py
Labels: area/UI-UX, area/API, area/tool-framework, area/client, highlight

#12965 tighten type ignores
  lib/galaxy/__init__.py
  lib/galaxy/app.py
  lib/galaxy/config/script.py
  lib/galaxy/containers/docker.py
  lib/galaxy/datatypes/constructive_solid_geometry.py
  lib/galaxy/files/sources/ftp.py
  lib/galaxy/jobs/runners/util/cli/factory.py
  lib/galaxy/jobs/runners/util/cli/job/__init__.py
  lib/galaxy/managers/tags.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/tool_shed_install/__init__.py
  lib/galaxy/objectstore/s3.py
  lib/galaxy/objectstore/s3_multipart_upload.py
  lib/galaxy/tool_util/cwl/cwltool_deps.py
  lib/galaxy/tool_util/deps/mulled/get_tests.py
  lib/galaxy/tool_util/deps/mulled/mulled_search.py
  lib/galaxy/tools/wrappers.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/path/__init__.py
  lib/galaxy/util/yaml_util.py
  lib/galaxy/visualization/data_providers/genome.py
  lib/galaxy/web/buildapp.py
  lib/galaxy/web_stack/__init__.py
  lib/galaxy/web_stack/message.py
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy/webapps/galaxy/api/tours.py
  lib/galaxy/webapps/galaxy/api/webhooks.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/refactor/execute.py
  lib/galaxy/workflow/refactor/schema.py
  lib/galaxy_ext/expressions/handle_job.py
  lib/galaxy_test/api/_framework.py
  lib/galaxy_test/selenium/framework.py
  lib/tool_shed/webapp/model/__init__.py
  packages/app/galaxy/__init__.py
  packages/auth/galaxy/__init__.py
  packages/containers/galaxy/__init__.py
  packages/data/galaxy/__init__.py
  packages/files/galaxy/__init__.py
  packages/job_execution/galaxy/__init__.py
  packages/job_metrics/galaxy/__init__.py
  packages/objectstore/galaxy/__init__.py
  packages/tool_util/galaxy/__init__.py
  packages/util/galaxy/__init__.py
  packages/web_framework/galaxy/__init__.py
  packages/web_stack/galaxy/__init__.py
  packages/webapps/galaxy/__init__.py
  setup.cfg
  test/unit/data/model/mapping/common.py
  test/unit/data/model/test_model_store.py
  test/unit/webapps/test_request_scoped_sqlalchemy_sessions.py
  test/unit/webapps/test_webapp_base.py
  tools/interactive/isee/render.py
  tools/next_gen_conversion/solid2fastq.py
  tox.ini
Labels: area/testing, area/API, area/jobs, area/workflows, area/tools, area/datatypes, area/tool-framework, area/util, area/tool-dependencies, area/objectstore, area/testing/api, area/testing/selenium, area/packaging

#12966 Add CWL conformance API tests
  .ci/flake8_ignorelist.txt
  .github/workflows/cwl_conformance.yaml
  .gitignore
  Makefile
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/managers/tools.py
  lib/galaxy/tool_util/client/staging.py
  lib/galaxy_test/api/cwl/__init__.py
  lib/galaxy_test/api/test_workflows_cwl.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/driver/driver_util.py
  pyproject.toml
  pytest.ini
  run_tests.sh
  scripts/cwl_conformance_to_test_cases.py
  scripts/update_cwl_conformance_tests.sh
Labels: area/testing, area/scripts, area/tool-framework, area/cwl, area/dependencies, area/testing/api

#12972 Misc fixes
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/tool_util/cwl/parser.py
  lib/galaxy/tool_util/cwl/representation.py
  packages/app/requirements.txt
  packages/data/requirements.txt
  packages/files/requirements.txt
  packages/tool_util/requirements.txt
  packages/util/requirements.txt
  packages/webapps/requirements.txt
  pyproject.toml
Labels: kind/bug, area/tool-framework, area/dependencies, area/packaging

#12976 Add type hints to JobHandlerQueue
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/structured_app.py
  test/unit/app/jobs/test_job_wrapper.py
Labels: kind/refactoring, area/jobs

#12977 Support running celery when cwd is not galaxy_root by setting $GALAXY_ROOT_DIR
  lib/galaxy/celery/__init__.py
  lib/galaxy/config/__init__.py
Labels: kind/enhancement

#12980 Fix flaky legacy API tests (hopefully)
  lib/galaxy_test/api/test_histories.py
  lib/galaxy_test/api/test_libraries.py
Labels: kind/refactoring, area/testing, area/testing/api

#12973 [21.09] BugFix: Update social-auth-core library version to fix OIDC problem
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  packages/data/requirements.txt
  pyproject.toml
Labels: area/packaging

#12929 FastAPI: Add response wrapper for `SessionRequestContext`
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy/work/context.py
  test/unit/webapps/test_response_wrapper.py
Labels: kind/refactoring, area/API

#12956 Avoid setting response headers through `trans` in datatypes
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/blast.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/isa.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/spaln.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/text.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  lib/galaxy/webapps/galaxy/services/datasets.py
Labels: kind/refactoring, area/API, area/datatypes

#12982 Misc fixes - round 2
  lib/galaxy/jobs/runners/local.py
  lib/galaxy/tool_util/cwl/schema.py
  lib/galaxy/tool_util/cwl/util.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/workflow/run.py
  lib/galaxy_test/base/populators.py
  scripts/cwl_conformance_to_test_cases.py
Labels: kind/bug, area/testing, area/jobs, area/workflows, area/scripts, area/tool-framework, area/cwl

#12951 Assorted mapping cleanup
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/web_stack/__init__.py
Labels: kind/refactoring, area/database

#12989 [21.09] Reconstruct separate scoped session for ToolShedRepositoryCache
  lib/galaxy/tools/cache.py
Labels: kind/bug, area/tool-framework

#12993 Misc fixes - round 3
  lib/galaxy/tool_util/cwl/util.py
  lib/galaxy/tools/error_reports/plugins/github.py
  lib/galaxy/util/__init__.py
  lib/galaxy_test/base/populators.py
  scripts/cwl_conformance_to_test_cases.py
  test/unit/util/test_fill_template.py
Labels: kind/bug, area/testing, area/scripts, area/tool-framework, area/util

#12991 Remove unused dataset conversion code
  lib/galaxy/tools/evaluation.py
Labels: kind/refactoring, area/tool-framework

#12983 Create select() construct explicitly
  lib/galaxy/jobs/handler.py
  lib/galaxy/model/__init__.py
Labels: area/jobs

#12990 Update interactivetool_pyiron.xml
  tools/interactive/interactivetool_pyiron.xml
Labels: kind/bug, area/tools

#12960 Linting: check for test expecting failure with outputs
  lib/galaxy/tool_util/linters/tests.py
  test/unit/tool_util/test_tool_linters.py
Labels: kind/enhancement, area/testing, area/tool-framework

#12994 Split `run_tool_raw()` out of `BaseDatasetPopulator.run_tool()`
  lib/galaxy_test/api/test_datasets.py
  lib/galaxy_test/api/test_histories.py
  lib/galaxy_test/api/test_history_contents.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/selenium/test_admin_app.py
  lib/galaxy_test/selenium/test_history_panel_collections.py
  test/integration/objectstore/test_jobs.py
  test/integration/objectstore/test_selection.py
  test/integration/test_data_manager.py
  test/integration/test_data_manager_refgenie.py
  test/integration/test_interactivetools_api.py
  test/integration/test_job_recovery.py
  test/integration/test_kubernetes_runner.py
  test/integration/test_local_job_cancellation.py
Labels: kind/bug, kind/enhancement, area/testing, area/cwl, area/testing/api, area/testing/integration, area/testing/selenium

#12984 Fix Rerun in the new form
  client/src/components/Form/FormElement.test.js
  client/src/components/Form/FormElement.vue
  client/src/components/Tool/ToolForm.vue
  client/src/components/Workflow/Editor/Forms/FormSection.vue
  client/src/components/Workflow/Editor/Forms/FormTool.vue
Labels: kind/bug, area/UI-UX

#13000 Move ``galaxy_tasks`` decorator to ``galaxy.celery``
  lib/galaxy/app_unittest_utils/celery_helper.py
  lib/galaxy/celery/__init__.py
  lib/galaxy/celery/tasks.py
  scripts/celery_shell.py
  scripts/db_shell.py
Labels: kind/enhancement, area/scripts

#12974 lint for inputs with redundant name
  lib/galaxy/tool_util/linters/inputs.py
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, area/tool-framework

#13002 Remove unnecessary list creations
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/dataproviders/line.py
  lib/galaxy/datatypes/genetics.py
  lib/galaxy/datatypes/goldenpath.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/jobs/runners/util/job_script/__init__.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tools/wrappers.py
  lib/galaxy/web/framework/middleware/remoteuser.py
  lib/galaxy/web_stack/__init__.py
  lib/galaxy/web_stack/handlers.py
  lib/galaxy_test/api/test_dataset_collections.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/selenium/test_tool_form.py
  scripts/cwl_conformance_to_test_cases.py
  scripts/objectstore/copy_files_to_irods.py
  test/integration/test_resolvers.py
  test/manual/workflows_scaling.py
  test/unit/app/authnz/test_custos_authnz.py
  test/unit/shed_unit/test_td_common_util.py
Labels: kind/refactoring, area/testing, area/jobs, area/datatypes, area/scripts, area/tool-framework, area/testing/api, area/testing/integration, area/testing/selenium

#13007 Don't use triple-quoted strings as comments
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/images.py
  lib/galaxy/datatypes/interval.py
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/datatypes/mothur.py
  lib/galaxy/datatypes/phylip.py
  lib/galaxy/datatypes/proteomics.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/text.py
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/jobs/runners/godocker.py
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tool_util/deps/resolvers/unlinked_tool_shed_packages.py
  lib/galaxy/visualization/data_providers/genome.py
  lib/tool_shed/test/base/twilltestcase.py
  lib/tool_shed/test/functional/test_0000_basic_repository_features.py
  lib/tool_shed/test/functional/test_0010_repository_with_tool_dependencies.py
  lib/tool_shed/test/functional/test_0120_simple_repository_dependency_multiple_owners.py
  lib/tool_shed/test/functional/test_0130_datatype_converters.py
  lib/tool_shed/test/functional/test_0140_tool_help_images.py
  lib/tool_shed/test/functional/test_0150_prior_installation_required.py
  lib/tool_shed/test/functional/test_0160_circular_prior_installation_required.py
  lib/tool_shed/test/functional/test_0170_complex_prior_installation_required.py
  lib/tool_shed/test/functional/test_0310_hg_api_features.py
  lib/tool_shed/test/functional/test_0400_repository_component_reviews.py
  lib/tool_shed/test/functional/test_0410_repository_component_review_access_control.py
  lib/tool_shed/test/functional/test_0420_citable_urls_for_repositories.py
  lib/tool_shed/test/functional/test_0430_browse_utilities.py
  lib/tool_shed/test/functional/test_0440_deleting_dependency_definitions.py
  lib/tool_shed/test/functional/test_0460_upload_to_repository.py
  lib/tool_shed/test/functional/test_0470_tool_dependency_repository_type.py
  lib/tool_shed/test/functional/test_0480_tool_dependency_xml_verification.py
  lib/tool_shed/test/functional/test_0530_repository_admin_feature.py
  lib/tool_shed/test/functional/test_1120_install_repository_with_complex_dependencies.py
  lib/tool_shed/test/functional/test_1140_simple_repository_dependency_multiple_owners.py
  lib/tool_shed/test/functional/test_1150_datatype_converters.py
  lib/tool_shed/test/functional/test_1160_tool_help_images.py
  lib/tool_shed/test/functional/test_1170_prior_installation_required.py
  lib/tool_shed/test/functional/test_1180_circular_prior_installation_required.py
  lib/tool_shed/test/functional/test_1190_complex_prior_installation_required.py
  lib/tool_shed/test/functional/test_1410_update_manager.py
  lib/tool_shed/test/functional/test_1420_tool_dependency_environment_inheritance.py
  lib/tool_shed/test/functional/test_1430_repair_installed_repository.py
  lib/tool_shed/test/functional/test_1440_missing_env_sh_files.py
  lib/tool_shed/test/functional/test_1450_installing_datatypes_sniffers.py
  lib/tool_shed/test/functional/test_1460_data_managers.py
  lib/tool_shed/test/functional/test_1470_updating_installed_repositories.py
  lib/tool_shed/webapp/model/__init__.py
  scripts/update_shed_config_path.py
  tools/stats/grouping.py
Labels: kind/refactoring, area/jobs, area/tools, area/datatypes, area/scripts, area/tool-framework, area/tool-dependencies, area/dependencies

#13009 known marcos --> known macros
  lib/galaxy/util/xml_macros.py
Labels: kind/bug, area/util
