Repository galaxyproject/galaxy, pull requests merged in 2021-01, with the labels that each got.

#11022 More type and package fixes.
  lib/galaxy/__init__.py
  lib/galaxy/managers/annotatable.py
  lib/galaxy/managers/base.py
  lib/galaxy/managers/cloudauthzs.py
  lib/galaxy/managers/containers.py
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/history_contents.py
  lib/galaxy/managers/ratable.py
  lib/galaxy/managers/rbac_secured.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/managers/taggable.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/tool_shed_install/__init__.py
  lib/galaxy/web/buildapp.py
  lib/galaxy/web/framework/helpers/grids.py
  lib/galaxy/web/legacy_framework/__init__.py
  lib/galaxy/web/legacy_framework/grids.py
  lib/galaxy/web_stack/handlers.py
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/reports/controllers/jobs.py
  lib/galaxy/webapps/reports/controllers/workflows.py
  lib/galaxy_test/base/testcase.py
  lib/galaxy_test/selenium/framework.py
  lib/tool_shed/grids/admin_grids.py
  lib/tool_shed/grids/repository_grids.py
  lib/tool_shed/grids/repository_review_grids.py
  lib/tool_shed/webapp/controllers/repository.py
  lib/tool_shed/webapp/model/__init__.py
  lib/tool_shed/webapp/templates/legacy/grid_base.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/common/grid_common.mako
  packages/web_framework/setup.py
  packages/webapps/setup.py
  templates/legacy/grid_base.mako
Labels: area/packaging, kind/enhancement, kind/refactoring

#11024 Workflow editor cleanup and unit tests.
  client/src/components/Workflow/Editor/Index.test.js
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Lint.test.js
  client/src/components/Workflow/Editor/Lint.vue
Labels: area/workflows, kind/enhancement

#11025 Implementing highlighting and scrolling to nodes in canvas from lint panel.
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Lint.vue
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/modules/canvas.js
  client/src/components/Workflow/Editor/modules/utilities.js
  client/src/style/scss/workflow.scss
Labels: area/UI-UX

#11017 Expand image formats for viewing in OpenSeadragon
  config/plugins/visualizations/openseadragon/config/openseadragon.xml
  config/plugins/visualizations/openseadragon/templates/openseadragon.mako
Labels: area/visualizations

#11029 Misc fixes
  lib/galaxy/managers/collections.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/tool_util/cwl/parser.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/base/populators.py
  test/integration/test_config_defaults.py
Labels: area/API, area/testing, area/testing/integration, area/tool-framework, area/workflows, kind/bug

#10986 AnnData Peek Fix
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes

#11030 Upload test results as artifact in case of failure
  .github/workflows/api.yaml
  .github/workflows/api_paste.yaml
  .github/workflows/integration.yaml
  .github/workflows/integration_selenium.yaml
  .github/workflows/selenium.yaml
  .github/workflows/toolshed.yaml
Labels: area/testing, kind/enhancement

#11031 Pass `job` to `setup_external_metadata()` in `SetMetadataToolAction.execute_via_app()`
  lib/galaxy/metadata/__init__.py
  lib/galaxy/tools/actions/metadata.py
Labels: area/tool-framework, kind/bug

#11028 add gifti fileformat
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/images.py
  lib/galaxy/datatypes/test/Human.colin.R.activations.label.gii
Labels: area/datatypes

#11016 More structured workflow create/update parameter handling
  lib/galaxy/managers/workflows.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
Labels: area/API, area/testing

#11039 More type annotation fixes.
  lib/galaxy/model/__init__.py
  lib/galaxy/model/view/__init__.py
  lib/galaxy/tool_util/client/__init__.py
  lib/galaxy_ext/expressions/handle_job.py
Labels: area/packaging, kind/enhancement

#11027 Python 3 - Convert a bunch of Bunchs to string Enums
  lib/galaxy/forms/forms.py
  lib/galaxy/jobs/runners/util/cli/job/__init__.py
  lib/galaxy/jobs/runners/util/cli/job/lsf.py
  lib/galaxy/jobs/runners/util/cli/job/slurm.py
  lib/galaxy/jobs/runners/util/cli/job/torque.py
  lib/galaxy/managers/rbac_secured.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/tool_shed_install/__init__.py
  lib/galaxy/tool_util/cwl/representation.py
Labels: area/jobs, area/tool-framework, kind/enhancement, kind/refactoring

#11040 Remove unused tag_outputs workflow controller action.
  lib/galaxy/webapps/galaxy/controllers/workflow.py
Labels: area/workflows, kind/refactoring

#11036 Vue-ify Workflow State Upgrade Message Modal
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/StateUpgradeModal.test.js
  client/src/components/Workflow/Editor/StateUpgradeModal.vue
  client/src/components/Workflow/Editor/modules/utilities.js
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/base/workflow_fixtures.py
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: area/client, area/workflows, kind/enhancement

#11042 Vue-ify warnings about embedded subworkflows.
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/StateUpgradeModal.vue
  client/src/components/Workflow/Editor/modules/utilities.js
Labels: area/UI-UX, area/workflows, kind/enhancement

#11045 Support complex markers in `run_tests.sh`
  run_tests.sh
  test/docker/base/run_test_wrapper.sh
Labels: area/testing

#11044 Ensure `requirements` in a `DependenciesDescription` is a `ToolRequirements`
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/tool_util/deps/dependencies.py
Labels: area/jobs, area/tool-dependencies, area/tool-framework, kind/bug

#10802 Close empty multi view, fix icon alignment
  client/src/components/Masthead/Masthead.test.js
  client/src/components/Masthead/Masthead.vue
  client/src/components/Masthead/MastheadItem.test.js
  client/src/components/Masthead/MastheadItem.vue
  client/src/components/Masthead/index.vue
  client/src/layout/masthead.js
  client/src/mvc/ui/ui-frames.js
  client/src/style/scss/base.scss
Labels: area/UI-UX, kind/bug, paper-cut

#10949 Added handler for history options menu webhook
  client/src/mvc/history/options-menu.js
Labels: area/UI-UX, paper-cut

#10959 Add custom activation email message
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/managers/users.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/configuration, kind/feature

#11038 Remove migration logic that will never be used now.
  lib/galaxy/model/migrate/versions/0005_cleanup_datasets_fix.py
  lib/galaxy/model/migrate/versions/0104_update_genome_downloader_job_parameters.py
Labels: area/database, kind/enhancement, kind/refactoring

#11049 Optimized binary datatype sniffing for various binary datatypes.
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/sniff.py
Labels: area/datatype-framework, kind/enhancement

#11041 Drop 'unreachable'-ish showWarnings method in workflow editor.
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/modules/utilities.js
Labels: area/UI-UX, area/client, area/workflows, kind/refactoring

#11047 add basic Apache Parquet datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/example.parquet
Labels: area/datatypes

#10347 Stub MQ docs
  doc/source/admin/mq.md
Labels: area/configuration, area/documentation, kind/enhancement

#11061 Document min, max, and optional for data parameters
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/documentation, area/tool-framework, kind/bug

#11067 Clarify `master_api_key` intended use
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/admin, area/documentation, kind/enhancement

#11072 make yaml really parse expect_failure
  lib/galaxy/tool_util/parser/yaml.py
Labels: area/tool-framework, kind/bug

#11062 Add empty preferences attribute to BootstrapAdminUser
  lib/galaxy/managers/users.py
  lib/galaxy/schema/__init__.py
Labels: area/tool-framework

#10260 Set undesired execution hosts to avoid in LSF
  lib/galaxy/config/sample/job_conf.xml.sample_advanced
  lib/galaxy/jobs/runners/util/cli/job/lsf.py
Labels: area/admin, area/jobs, kind/enhancement

#11011 Update locale.js
  client/src/nls/zh/locale.js
Labels: area/UI-UX

#11058 Allow setting filename_pattern by client
  lib/galaxy/datatypes/data.py
Labels: kind/enhancement

#11020 Add nifti1 and nifti2 datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/images.py
  lib/galaxy/datatypes/proteomics.py
  lib/galaxy/datatypes/test/T1_top_350bytes.nii1
  lib/galaxy/datatypes/test/avg152T1_LR_nifti2_top_100bytes.nii2
Labels: area/datatypes

#10573 Document data manager repository layout
  doc/source/dev/data_managers.rst
Labels: area/documentation, kind/enhancement

#10594 pgcleanup can redirect logging to stdout
  lib/galaxy/util/script.py
  scripts/cleanup_datasets/pgcleanup.py
Labels: area/scripts, kind/enhancement

#11074 Build FastAPI app in a single location
  lib/galaxy/webapps/galaxy/fast_app.py
  scripts/fapi.py
Labels: area/scripts

#8596 Allow InteractiveTools to use path-based proxying when requires_domain=False
  config/galaxy.yml.interactivetools
  lib/galaxy/managers/interactivetool.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0172_it_entrypoint_requires_domain.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/evaluation.py
Labels: area/tool-framework

#10783 Refactor more generally useful Selenium code into reusable library code.
  lib/galaxy/selenium/context.py
  lib/galaxy/selenium/driver_factory.py
  lib/galaxy_test/selenium/framework.py
Labels: area/testing/selenium, kind/refactoring

#10520 Override some k8s runner params with destination params
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs, paper-cut

#11073 Verify behavior of non-existent from_work_dir outputs.
  test/functional/tools/collection_creates_pair_from_work_dir.xml
  test/functional/tools/output_empty_work_dir.xml
  test/functional/tools/samples_tool_conf.xml
  test/integration/test_job_outputs_to_working_directory.py
Labels: area/testing, area/testing/integration, kind/enhancement

#10270 initial commit for gfa2
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/test/sample.gfa2
  lib/galaxy/datatypes/text.py
Labels: area/datatypes, kind/enhancement, kind/feature

#11071 Sync vuex to galaxy
  .gitignore
  client/src/components/History/ContentItem/Dataset/DatasetMenu.vue
  client/src/components/History/index.js
  client/src/components/History/model/syncCurrentHistoryToGalaxy.js
  client/src/components/History/providers/CollectionContentProvider/CollectionContentProvider.test.js
  client/src/components/History/providers/DscProvider/DscProvider.test.js
  client/src/components/History/providers/HistoryContentProvider/HistoryContentProvider.test.js
  client/src/components/Upload/UploadBoxMixin.js
  client/src/components/Upload/UploadModal.vue
  client/src/components/Workflow/Editor/Options.vue
  client/src/store/configStore/index.js
  client/src/store/configStore/syncConfigToGalaxy.js
  client/src/store/index.js
  client/src/store/syncVuextoGalaxy.js
  client/src/store/userStore/syncUserToGalaxy.js
  client/src/store/userStore/userStore.js
  client/src/utils/observable/debugging.js
  client/src/utils/observable/monitorBackboneModel.js
  client/src/utils/observable/monitorChange.js
  client/src/utils/observable/waitForInit.js
  client/tests/jest/helpers.js
Labels: area/UI-UX, area/client, kind/bug, kind/refactoring

#10701 Update ftp document for rounds=100000
  doc/source/admin/special_topics/ftp.md
Labels: area/documentation, kind/bug, kind/enhancement

#11046 Vue-ify Workflow Editor Modals
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/MessagesModal.vue
  client/src/components/Workflow/Editor/modules/utilities.js
Labels: area/UI-UX, area/workflows, kind/enhancement

#11056 Add FastAPI migration of licenses endpoints
  lib/galaxy/managers/licenses.py
  lib/galaxy/webapps/galaxy/api/licenses.py
  lib/galaxy/webapps/galaxy/fast_app.py
  lib/galaxy_test/api/test_licenses.py
Labels: area/API, kind/feature

#11021 add tck and trk datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/images.py
  lib/galaxy/datatypes/test/IIT2mean_top_2000bytes.trk
  lib/galaxy/datatypes/test/fibers_sparse_top_6_lines.tck
Labels: area/datatypes, status/WIP

#11079 allow empty file uploads
  tools/data_source/upload.py
Labels: area/tools

#11083 Show OpenAPI documentation for API tags
  lib/galaxy/webapps/galaxy/fast_app.py
Labels: area/API, area/documentation, kind/enhancement

#10960 Add version tab which links to release notes to help tab
  client/src/layout/menu.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/managers/configuration.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  templates/webapps/galaxy/galaxy.masthead.mako
Labels: area/UI-UX

#10592 EDAM tool panel
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/tools/apply_rules.xml
  lib/galaxy/tools/build_list.xml
  lib/galaxy/tools/data_fetch.xml
  lib/galaxy/tools/extract_dataset.xml
  lib/galaxy/tools/filter_empty_collection.xml
  lib/galaxy/tools/filter_failed_collection.xml
  lib/galaxy/tools/filter_from_file.xml
  lib/galaxy/tools/flatten_collection.xml
  lib/galaxy/tools/merge_collection.xml
  lib/galaxy/tools/relabel_from_file.xml
  lib/galaxy/tools/sort_collection_list.xml
  lib/galaxy/tools/tag_collection_from_file.xml
  lib/galaxy/tools/toolbox/base.py
  lib/galaxy/tools/unzip_collection.xml
  lib/galaxy/tools/zip_collection.xml
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/unit/config/test_config_values.py
  test/unit/unittest_utils/galaxy_mock.py
  tools/data_source/biomart.xml
  tools/data_source/biomart_test.xml
  tools/data_source/cbi_rice_mart.xml
  tools/data_source/ebi_sra.xml
  tools/data_source/eupathdb.xml
  tools/data_source/fly_modencode.xml
  tools/data_source/flymine.xml
  tools/data_source/flymine_test.xml
  tools/data_source/genbank.xml
  tools/data_source/gramene_mart.xml
  tools/data_source/hapmapmart.xml
  tools/data_source/hbvar.xml
  tools/data_source/import.xml
  tools/data_source/intermine.xml
  tools/data_source/metabolicmine.xml
  tools/data_source/microbial_import.xml
  tools/data_source/modmine.xml
  tools/data_source/mousemine.xml
  tools/data_source/ratmine.xml
  tools/data_source/sra.xml
  tools/data_source/ucsc_tablebrowser.xml
  tools/data_source/ucsc_tablebrowser_archaea.xml
  tools/data_source/ucsc_tablebrowser_test.xml
  tools/data_source/upload.xml
  tools/data_source/worm_modencode.xml
  tools/data_source/wormbase.xml
  tools/data_source/wormbase_test.xml
  tools/data_source/yeastmine.xml
  tools/data_source/zebrafishmine.xml
  tools/filters/axt_to_concat_fasta.xml
  tools/filters/catWrapper.xml
  tools/filters/commWrapper.xml
  tools/filters/compare.xml
  tools/filters/cutWrapper.xml
  tools/filters/fileGrep.xml
  tools/filters/fixedValueColumn.xml
  tools/filters/grep.xml
  tools/filters/headWrapper.xml
Labels: area/UI-UX, area/tools, kind/enhancement, status/WIP

#11084 Add minimal `msf` datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/msa.py
Labels: area/datatypes, kind/enhancement

#10822 Implement read-only conda resolver (alternative)
  doc/source/admin/dependency_resolvers.rst
  lib/galaxy/tool_util/deps/container_resolvers/__init__.py
  lib/galaxy/tool_util/deps/resolvers/__init__.py
  lib/galaxy/tool_util/deps/resolvers/conda.py
  lib/galaxy/tool_util/deps/views.py
  test/unit/tool_util/test_conda_resolution.py
Labels: area/tool-dependencies, area/tool-framework, kind/enhancement

#10810 Implement read-only conda resolver.
  doc/source/admin/dependency_resolvers.rst
  lib/galaxy/tool_util/deps/container_resolvers/__init__.py
  lib/galaxy/tool_util/deps/resolvers/__init__.py
  lib/galaxy/tool_util/deps/resolvers/conda.py
  test/unit/tool_util/test_conda_resolution.py
Labels: area/tool-dependencies, kind/enhancement

#11088 Documentation for Writing Tests
  doc/Makefile
  doc/source/conf.py
  doc/source/dev/index.rst
  doc/source/dev/run_tests_help.txt
  doc/source/dev/writing_tests.md
  doc/source/index.rst
  run_tests.sh
Labels: area/documentation, area/testing

#11093 Fix type column in library folder
  client/src/components/LibraryFolder/LibraryFolder.vue
Labels: area/UI-UX, area/libraries

#11097 Cleanup a variety of sphinx warning and update lib structure.
  doc/source/admin/galaxy_options.rst
  doc/source/admin/special_topics/index.rst
  doc/source/dev/writing_tests.md
  doc/source/lib/galaxy.managers.rst
  doc/source/lib/galaxy.model.migrate.versions.rst
  doc/source/lib/galaxy.rst
  doc/source/lib/galaxy.selenium.rst
  doc/source/lib/galaxy.tool_util.deps.rst
  doc/source/lib/galaxy.tool_util.rst
  doc/source/lib/galaxy.util.rst
  doc/source/lib/galaxy.web.rst
  doc/source/lib/galaxy.webapps.galaxy.api.rst
  doc/source/lib/galaxy.webapps.galaxy.controllers.rst
  doc/source/lib/galaxy.webapps.galaxy.rst
  doc/source/lib/galaxy.webapps.reports.rst
  doc/source/lib/galaxy.workflow.rst
  doc/source/lib/galaxy_test.api.rst
  doc/source/releases/16.07_announce.rst
  doc/source/releases/20.05.rst
  doc/source/releases/20.05_announce.rst
  doc/source/releases/20.05_announce_user.rst
  doc/source/releases/20.09_announce_user.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/webapps/galaxy/api/authenticate.py
  lib/galaxy/webapps/galaxy/api/cloud.py
  lib/galaxy/webapps/galaxy/api/cloudauthz.py
  lib/galaxy/webapps/galaxy/api/dataset_collections.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/api/folders.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy/webapps/galaxy/api/job_files.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/api/libraries.py
  lib/galaxy/webapps/galaxy/api/library_contents.py
  lib/galaxy/webapps/galaxy/api/library_datasets.py
  lib/galaxy/webapps/galaxy/api/metrics.py
  lib/galaxy/webapps/galaxy/api/pages.py
  lib/galaxy/webapps/galaxy/api/tags.py
  lib/galaxy/webapps/galaxy/api/tool_data.py
  lib/galaxy/webapps/galaxy/api/tool_shed_repositories.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/api/tours.py
  lib/galaxy/webapps/galaxy/api/webhooks.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/tool_shed/webapp/api/authenticate.py
  lib/tool_shed/webapp/api/repositories.py
  tox.ini
Labels: area/documentation, kind/bug

#11100 [20.09] Backport #11093
  client/src/components/LibraryFolder/LibraryFolder.vue
Labels: merge

#10240 Converting Collections to Vue
  client/package.json
  client/src/components/Collections/ListCollectionCreator.vue
  client/src/components/Collections/ListCollectionCreatorModal.js
  client/src/components/Collections/ListDatasetCollectionElementView.vue
  client/src/components/Collections/PairCollectionCreator.vue
  client/src/components/Collections/PairCollectionCreatorModal.js
  client/src/components/Collections/PairedElementView.vue
  client/src/components/Collections/PairedListCollectionCreator.test.js
  client/src/components/Collections/PairedListCollectionCreator.vue
  client/src/components/Collections/PairedListCollectionCreatorModal.js
  client/src/components/Collections/RuleBasedCollectionCreatorModal.js
  client/src/components/Collections/UnpairedDatasetElementView.vue
  client/src/components/Collections/common/ClickToEdit.vue
  client/src/components/Collections/common/CollectionCreator.vue
  client/src/components/Collections/common/mixin.js
  client/src/components/Collections/common/modal.js
  client/src/components/Collections/common/modal.test.js
  client/src/components/History/adapters/buildCollectionModal.js
  client/src/components/LibraryFolder/TopToolbar/import-to-history/import-collection.js
  client/src/components/PriorityMenu/Menu.vue
  client/src/components/VirtualScroller/scroller.scss
  client/src/mvc/collection/base-creator.js
  client/src/mvc/collection/list-collection-creator.js
  client/src/mvc/collection/list-of-pairs-collection-creator.js
  client/src/mvc/collection/pair-collection-creator.js
  client/src/mvc/history/history-view-edit.js
  client/src/mvc/ui/ui-rules-edit.js
  client/src/style/scss/base.scss
  client/src/style/scss/ui/paired-collection-creator.scss
  client/tests/qunit/testBundle.js
  client/tests/qunit/tests/list_of_pairs_collection_creator_tests.js
  client/yarn.lock
  lib/galaxy_test/selenium/test_collection_builders.py
  lib/galaxy_test/selenium/test_uploads.py
Labels: area/UI-UX, area/dataset-collections, kind/enhancement

#11099 fix 'per page' in data library
  client/src/components/LibraryFolder/LibraryFolder.vue
Labels: area/UI-UX, area/libraries

#10976 Add workflow invocation detail component
  client/src/components/DatasetInformation/DatasetInformation.test.js
  client/src/components/DatasetInformation/DatasetInformation.vue
  client/src/components/DecodedId.vue
  client/src/components/History/ContentItem/ContentItem.js
  client/src/components/History/ContentItem/Dataset/DatasetUI.vue
  client/src/components/History/ContentItem/DatasetCollection/DscUI.vue
  client/src/components/History/ContentItem/HistoryContentItem.js
  client/src/components/History/ContentItem/Subcollection.vue
  client/src/components/History/History.vue
  client/src/components/History/HistoryPanel.vue
  client/src/components/History/caching/db/monitorQuery.js
  client/src/components/History/caching/loadHistoryContents.js
  client/src/components/History/caching/operators/requestWithUpdateTime.js
  client/src/components/History/model/Content.js
  client/src/components/History/model/Dataset.js
  client/src/components/History/model/Dataset.test.js
  client/src/components/PriorityMenu/Menu.vue
  client/src/components/User/RecentInvocations.test.js
  client/src/components/User/RecentInvocations.vue
  client/src/components/User/UserServices.js
  client/src/components/User/__mocks__/UserServices.js
  client/src/components/Workflow/Invocations.test.js
  client/src/components/Workflow/Invocations.vue
  client/src/components/Workflow/test/json/invocation.json
  client/src/components/WorkflowInvocationState/DatasetCollectionContents.vue
  client/src/components/WorkflowInvocationState/DatasetCollectionUIWrapper.test.js
  client/src/components/WorkflowInvocationState/DatasetCollectionUIWrapper.vue
  client/src/components/WorkflowInvocationState/DatasetUIWrapper.test.js
  client/src/components/WorkflowInvocationState/DatasetUIWrapper.vue
  client/src/components/WorkflowInvocationState/JobStep.vue
  client/src/components/WorkflowInvocationState/ParameterStep.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationDataContents.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationDetails.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationStep.vue
  client/src/components/WorkflowInvocationState/providers/DatasetCollectionProvider.js
  client/src/components/WorkflowInvocationState/providers/DatasetProvider.js
  client/src/components/WorkflowInvocationState/providers/InvocationStepProvider.js
  client/src/components/WorkflowInvocationState/providers/fetch.js
  client/src/components/WorkflowInvocationState/providers/index.js
  client/src/components/WorkflowInvocationState/providers/monitors.js
  client/src/components/WorkflowInvocationState/providers/monitors.test.js
  client/src/components/WorkflowInvocationState/providers/rxProviders.js
  client/src/components/WorkflowInvocationState/providers/storeProviders.js
  client/src/components/admin/JobDetails.vue
  client/src/components/admin/Jobs.vue
  client/src/store/configStore/index.js
  client/src/store/datasetsStore.js
  client/src/store/index.js
  client/src/store/invocationStore.js
  client/src/store/toolStore.js
  client/webpack.config.js
  lib/galaxy/managers/collections_util.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/dataset_collections.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/api/test_workflows.py
Labels: area/API, area/UI-UX, area/admin, area/client, area/testing, area/testing/api

#11102 Update coverage documentation in run_tests.sh
  run_tests.sh
Labels: area/documentation, area/testing, paper-cut

#11096 Fix spurious "Select" button in upload.
  client/src/components/Upload/Default.vue
  client/src/components/Upload/UploadBoxMixin.js
  client/src/components/Upload/UploadModal.vue
Labels: area/UI-UX, kind/bug

#11054 Revise user experience for history import and export.
  client/src/components/FilesDialog/FilesInput.vue
  client/src/components/History/HistoryDetails.vue
  client/src/components/HistoryExport/ExportLink.vue
  client/src/components/HistoryExport/Index.test.js
  client/src/components/HistoryExport/Index.vue
  client/src/components/HistoryExport/ToLink.test.js
  client/src/components/HistoryExport/ToLink.vue
  client/src/components/HistoryExport/ToRemoteFile.test.js
  client/src/components/HistoryExport/ToRemoteFile.vue
  client/src/components/HistoryExport/index.js
  client/src/components/HistoryImport.test.js
  client/src/components/HistoryImport.vue
  client/src/components/JobInformation/JobError.vue
  client/src/components/JobInformation/JobInformation.vue
  client/src/components/JobStates/wait.js
  client/src/entry/analysis/AnalysisRouter.js
  client/src/mvc/history/job-states-model.js
  client/src/mvc/history/options-menu.js
  client/src/utils/simple-error.js
  lib/galaxy/managers/histories.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: area/UI-UX, area/histories, kind/enhancement

#11108 Allow setting filename_pattern by client
  lib/galaxy/datatypes/data.py
Labels: area/datatype-framework, area/datatypes, kind/enhancement

#10571 Galaxy schema rendering script
  scripts/galaxy_schemadisp.py
Labels: area/documentation, kind/enhancement, kind/feature

#11063 add validation for collection parameters
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/basic.py
  test-data/empty.txt
  test/functional/tools/validation_empty_dataset.xml
Labels: area/testing, area/tool-framework

#11078 Allow extra job metadata to be specified for k8s
  lib/galaxy/config/sample/job_conf.xml.sample_advanced
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs

#10681 Added dockerfile [biohackathon]
  .dockerignore
  .k8s_ci.Dockerfile
Labels: area/testing

#11104 Make minor improvements, add ToC
  doc/source/dev/writing_tests.md
Labels: area/documentation, kind/enhancement

#10522 Simpler API for getting user API key
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: area/API, kind/enhancement, paper-cut

#10981 If input file is empty, and you are trying to access anything but column 1 of the input file
  lib/galaxy/tools/parameters/basic.py
Labels: area/tool-framework

#11026 Document how parameters in sections are referenced
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/documentation, area/tool-framework, kind/enhancement

#11035 [WIP] NORA's image viewer. A medical image viewer and annotation tool
  client/gulpfile.js
  config/plugins/visualizations/nora/config/nora.xml
  config/plugins/visualizations/nora/package.json
  config/plugins/visualizations/nora/static/logo.png
Labels: area/visualizations, kind/feature, status/WIP

#11089 Add FastAPI routes for tours
  config/plugins/tours/core.galaxy_ui.yaml
  config/plugins/tours/core.scratchbook.yaml
  lib/galaxy/app.py
  lib/galaxy/schema/__init__.py
  lib/galaxy/tours/__init__.py
  lib/galaxy/tours/_impl.py
  lib/galaxy/tours/_interface.py
  lib/galaxy/tours/_schema.py
  lib/galaxy/webapps/galaxy/api/tours.py
  lib/galaxy/webapps/galaxy/fast_app.py
  lib/galaxy_test/api/test_tours.py
Labels: area/API, kind/feature

#10880 Dynamic select parameters: also allow to choose legal options by name
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy_test/api/test_tools.py
  test-data/2.tabular
  test/functional/tool-data/fasta_indexes.loc
  test/functional/tools/dbkey_filter_collection.xml
  test/functional/tools/dbkey_filter_input.xml
  test/functional/tools/dbkey_filter_multi_input.xml
  test/functional/tools/dbkey_output_action.xml
  test/functional/tools/filter_static_regexp.xml
  test/functional/tools/remove_value.xml
  test/functional/tools/select_from_dataset.xml
Labels: area/testing, area/tool-framework, kind/enhancement

#10984 Put new toolshed tools in existing tool panel sections if the ID matches
  lib/galaxy/tool_shed/galaxy_install/tools/tool_panel_manager.py
Labels: area/tools, area/toolshed, kind/bug

#10524 informative error message on /api/authenticate/baseauth
  lib/galaxy/webapps/galaxy/api/authenticate.py
Labels: triage

#9873 Show favourited tools independent of version
  client/src/components/Panels/utilities.js
Labels: area/UI-UX, kind/feature, status/WIP

#11113 Establish a best practice for trans dependency management.
  lib/galaxy/managers/context.py
  lib/galaxy/managers/roles.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/api/roles.py
  lib/galaxy/work/context.py
  test/integration/test_workflow_refactoring.py
  test/unit/test_galaxy_transactions.py
Labels: area/framework, area/jobs, kind/enhancement

#11098 Add FastAPI routes for datatypes
  lib/galaxy/datatypes/_schema.py
  lib/galaxy/managers/datatypes.py
  lib/galaxy/webapps/galaxy/api/datatypes.py
  lib/galaxy/webapps/galaxy/fast_app.py
  lib/galaxy_test/api/test_datatypes.py
  packages/data/requirements.txt
Labels: area/API, area/datatypes, area/testing, area/testing/api, kind/feature

#11124 Dynamic discovery of FastAPI routers.
  lib/galaxy/web/framework/base.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/api/job_lock.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/api/roles.py
  lib/galaxy/webapps/galaxy/fast_app.py
Labels: area/framework, kind/enhancement

#11116 uvicorn-compatible factory function for fastapi.
  lib/galaxy/main_config.py
  lib/galaxy/webapps/galaxy/fast_factory.py
  packages/app/galaxy/main_config.py
  scripts/galaxy_main.py
Labels: area/framework, kind/enhancement

#11115 Updated API Design Guidelines
  doc/source/api/guidelines.rst
  doc/source/api/quickstart.rst
  doc/source/api_doc.rst
  doc/source/dev/api_guidelines.rst
  doc/source/dev/index.rst
Labels: area/documentation, kind/enhancement

#11128 Revert "Make all fastapi methods async (for consistency)."
  lib/galaxy/webapps/galaxy/api/job_lock.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/api/roles.py
Labels: area/API, area/framework, kind/bug, minor

#11135 Minor spelling error fix
  lib/galaxy/tool_util/verify/interactor.py
Labels: area/tool-framework

#11132 Fix mypy error with Union in response_model
  lib/galaxy/webapps/galaxy/api/datatypes.py
  lib/galaxy/webapps/galaxy/api/licenses.py
Labels: area/API

#11138 replaced global vue with test vue in unit tests
  client/src/components/DatasetInformation/DatasetInformation.test.js
  client/src/components/HistoryExport/Index.vue
  client/src/components/ToolsView/ToolsSchemaJson/ToolsJson.test.js
  client/src/components/Toolshed/InstalledList/Index.test.js
  client/src/components/Toolshed/RepositoryDetails/InstallationButton.test.js
  client/src/components/Toolshed/RepositoryDetails/InstallationSettings.test.js
  client/src/components/Toolshed/RepositoryDetails/RepositoryTools.test.js
  client/src/components/Toolshed/SearchList/ServerSelection.test.js
  client/src/components/Upload/UploadModal.test.js
  client/src/components/User/CloudAuth/CloudAuth.test.js
  client/src/components/User/RecentInvocations.test.js
  client/src/components/Workflow/Editor/RefactorConfirmationModal.test.js
  client/src/components/Workflow/Invocations.test.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.js
  client/src/components/admin/BaseList.test.js
Labels: area/UI-UX, area/admin, area/client, area/testing

#11144 [21.01] Maintain expanded state of JobStep during polling
  client/src/components/WorkflowInvocationState/JobStep.test.js
  client/src/components/WorkflowInvocationState/JobStep.vue
  client/src/components/WorkflowInvocationState/test/json/jobs.json
Labels: area/workflows, kind/bug

#11134 [20.09] Don't attempt to use docker cli if it is not available
  lib/galaxy/tool_util/deps/container_resolvers/mulled.py
  lib/galaxy/tool_util/deps/containers.py
  packages/tool_util/test-requirements.txt
  test/unit/tool_util/test_container_resolution.py
Labels: area/tool-dependencies, kind/bug

#10955 Allow toggling favorites button in tool panel
  client/src/components/Panels/Buttons/FavoritesButton.vue
  client/src/components/Panels/ToolBox.vue
Labels: area/UI-UX, kind/bug, paper-cut

#11147 [20.09] Fix favorite toggle
  client/src/components/Panels/Buttons/FavoritesButton.vue
  client/src/components/Panels/ToolBox.vue
Labels: area/UI-UX, kind/bug, merge

#11150 [20.09] Fix requirements of `data` package and remove Py2 from packages
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  packages/app/setup.py
  packages/auth/setup.py
  packages/containers/setup.py
  packages/data/requirements.txt
  packages/data/setup.py
  packages/job_execution/setup.py
  packages/job_metrics/setup.py
  packages/meta/setup.py
  packages/objectstore/setup.py
  packages/selenium/setup.py
  packages/test_api/setup.py
  packages/test_base/setup.py
  packages/test_driver/setup.py
  packages/test_selenium/setup.py
  packages/tool_util/setup.py
  packages/util/setup.py
  packages/web_framework/setup.py
  packages/web_stack/setup.py
  packages/webapps/setup.py
Labels: area/dependencies, area/packaging, kind/bug

#11154 [21.01] Fix bugbear detected with wf refactor execution.
  lib/galaxy/workflow/refactor/execute.py
Labels: area/workflows, kind/bug, merge

#11157 fix error message
  lib/galaxy/tool_util/loader_directory.py
Labels: area/tool-framework

#11159 [21.01] Small tweaks to invocations display
  client/src/components/Workflow/Invocations.test.js
  client/src/components/Workflow/Invocations.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
Labels: area/workflows, kind/enhancement, minor

#11160 Selenium test case for invocation grid + display.
  client/src/components/Workflow/Invocations.test.js
  client/src/components/Workflow/Invocations.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationDetails.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationStep.vue
  lib/galaxy/selenium/context.py
  lib/galaxy/selenium/driver_factory.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy/tool_util/verify/wait.py
  lib/galaxy_test/api/test_history_contents.py
  lib/galaxy_test/api/test_libraries.py
  lib/galaxy_test/base/api.py
  lib/galaxy_test/base/api_util.py
  lib/galaxy_test/base/env.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/base/testcase.py
  lib/galaxy_test/driver/driver_util.py
  lib/galaxy_test/selenium/framework.py
  lib/galaxy_test/selenium/test_workflow_invocation_details.py
  lib/tool_shed/test/base/twilltestcase.py
  scripts/functional_tests.py
  test/unit/tool_util/test_wait.py
Labels: area/testing/selenium, area/workflows, kind/enhancement

#11152 [21.01] Selenium tests for 21.01 history import and export UIs.
  client/src/components/FilesDialog/FilesInput.vue
  client/src/components/HistoryExport/ExportLink.vue
  client/src/components/HistoryExport/Index.vue
  client/src/components/HistoryExport/ToRemoteFile.vue
  client/src/components/HistoryImport.vue
  client/src/components/JobInformation/JobError.vue
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_histories_list.py
  lib/galaxy_test/selenium/test_history_export.py
  test/integration_selenium/test_history_import_export_ftp.py
Labels: area/testing/selenium, kind/bug

#11165 [20.09] Fix import of histories with collections copied from another history
  lib/galaxy/model/store/__init__.py
Labels: area/histories, kind/bug

#11142 Start type signature for UniverseApplication.
  lib/galaxy/app.py
  lib/galaxy/managers/context.py
  lib/galaxy/managers/roles.py
  lib/galaxy/model/mapping.py
  lib/galaxy/queues.py
  lib/galaxy/structured_app.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/web_stack/__init__.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/api/annotations.py
  lib/galaxy/webapps/galaxy/api/authenticate.py
  lib/galaxy/webapps/galaxy/api/dataset_collections.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/api/remote_files.py
  lib/galaxy/webapps/galaxy/api/search.py
  lib/galaxy/webapps/galaxy/api/tags.py
  lib/galaxy/webapps/galaxy/api/tool_data.py
  lib/galaxy/webapps/galaxy/api/tool_dependencies.py
  lib/galaxy/webapps/galaxy/api/tool_entry_points.py
  lib/galaxy/webapps/galaxy/api/tool_shed_repositories.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/api/visualizations.py
  lib/galaxy/webapps/galaxy/api/webhooks.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/work/context.py
  packages/app/galaxy/structured_app.py
Labels: area/API, kind/enhancement

#11148 [20.09] Fix mule job messaging
  lib/galaxy/tools/execute.py
  lib/galaxy/web_stack/handlers.py
Labels: area/jobs, kind/bug

#11169 [21.01] Don't use copy when serializing JSON in safe_dumps
  lib/galaxy/util/json.py
Labels: area/util, kind/bug

#11170 [21.01] Fix history import job done before import complete
  client/src/components/HistoryExport/ToLink.vue
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tools/__init__.py
Labels: area/jobs, area/tool-framework, kind/bug

#11171 [21.01] add more markers for screenshooting
  lib/galaxy_test/selenium/test_tool_form.py
  lib/galaxy_test/selenium/test_uploads.py
Labels: area/testing, area/testing/selenium

#11151 [21.01] Fix certain classes of workflow extraction on copied objects.
  lib/galaxy/workflow/extract.py
  test/unit/workflows/test_extract_summary.py
Labels: area/workflows, kind/bug

#11179 Remove unused TS methods.
  lib/galaxy/tool_shed/galaxy_install/installed_repository_manager.py
Labels: area/toolshed, kind/refactoring

#11172 Fixed sync between legacy galaxy variable and Vuex current history
  client/src/components/History/HistoryTopNav.vue
  client/src/components/History/adapters/HistoryPanelProxy.js
  client/src/components/History/adapters/betaToggle.js
  client/src/components/History/model/syncCurrentHistoryToGalaxy.js
  client/src/components/Upload/UploadModal.vue
  client/src/entry/analysis/index.js
  client/src/mvc/history/options-menu.js
  client/src/store/syncVuextoGalaxy.js
Labels: area/client, area/histories, kind/bug, kind/enhancement

#11181 [21.01] History sync retries backport
  client/src/components/History/HistoryTopNav.vue
  client/src/components/History/adapters/HistoryPanelProxy.js
  client/src/components/History/adapters/betaToggle.js
  client/src/components/History/model/syncCurrentHistoryToGalaxy.js
  client/src/components/Upload/UploadModal.vue
  client/src/entry/analysis/index.js
  client/src/mvc/history/options-menu.js
  client/src/store/syncVuextoGalaxy.js
Labels: area/UI-UX, merge

#11173 Recommend 2FA and commit signing
  CONTRIBUTING.md
Labels: area/documentation

#11187 [20.09] Fix pulling of singularity images if docker cli not available
  lib/galaxy/tool_util/deps/container_resolvers/mulled.py
  lib/galaxy/tool_util/deps/containers.py
  test/unit/tool_util/test_container_resolution.py
Labels: area/jobs, kind/bug

#11167 FastAPI routes for tool data tables
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  lib/galaxy/managers/tool_data.py
  lib/galaxy/tools/data/__init__.py
  lib/galaxy/tools/data/_schema.py
  lib/galaxy/webapps/galaxy/api/tool_data.py
  lib/galaxy/webapps/galaxy/fast_app.py
  lib/galaxy_test/api/test_tool_data.py
  test/integration/test_tool_data_delete.py
Labels: area/API, area/dependencies, area/testing, area/testing/api, area/tool-framework, kind/enhancement, kind/refactoring

#11137 [20.09] Fix permission in user dir library import
  client/src/components/LibraryFolder/TopToolbar/FolderTopBar.vue
  client/src/components/LibraryFolder/TopToolbar/add-datasets.js
  lib/galaxy/managers/configuration.py
Labels: area/UI-UX, area/libraries

#11186 [21.01] Add setting that lets admins enable/disable the tool document cache
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/tools/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/admin, area/documentation, area/tool-framework, kind/bug, kind/enhancement

#11188 [Selenium] library_import_dir test
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_library_contents.py
Labels: area/testing, area/testing/selenium

#11178 History beta poll decay time reset
  client/src/components/History/providers/HistoryContentProvider/loadContents.js
  client/src/utils/observable/decay.js
  client/src/utils/observable/monitorXHR.js
  client/src/utils/observable/monitorXHR.test.js
Labels: area/UI-UX, kind/enhancement

#11198 Add missing xml:lang attribute to documentation annotations
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/documentation, area/tool-framework, kind/enhancement, paper-cut

#11197 be more verbose on output filter errors
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/execute.py
  lib/galaxy/workflow/modules.py
Labels: area/tool-framework, area/workflows

#11201 [20.09] When compiling dynamic installation confs, ensure location is actually writeable
  lib/galaxy/tools/toolbox/base.py
Labels: kind/bug, merge

#11202 Add cache_dir to schema
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/integration/test_config_defaults.py
  test/unit/config/test_config_values.py
Labels: area/configuration, kind/feature

#11204 changing tooltip to match functionality
  client/src/components/RuleCollectionBuilder.vue
Labels: area/UI-UX

#11194 Fix bug: code expects dictionary, but value can be string
  scripts/api/common.py
Labels: area/API, area/scripts, kind/bug

#11203 Selenium tests for user library import dir
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/framework.py
  lib/galaxy_test/selenium/test_library_contents.py
  test/integration_selenium/framework.py
  test/integration_selenium/test_user_library_import_dir.py
Labels: area/testing, area/testing/integration, area/testing/selenium, kind/enhancement, kind/refactoring

#11177 Documentation and helpers for using galaxy-selenium package within Jupyter
  .gitignore
  Makefile
  doc/source/dev/writing_tests.md
  doc/source/lib/galaxy.selenium.rst
  doc/source/lib/galaxy_test.selenium.jupyter.rst
  doc/source/lib/galaxy_test.selenium.rst
  lib/galaxy/selenium/context.py
  lib/galaxy/selenium/data.py
  lib/galaxy/selenium/driver_factory.py
  lib/galaxy/selenium/jupyter_context.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation-data.yml
  lib/galaxy_test/selenium/jupyter/__init__.py
  lib/galaxy_test/selenium/jupyter/galaxy_selenium_context.yml.sample
  lib/galaxy_test/selenium/jupyter/notebook_example_library.ipynb
  lib/galaxy_test/selenium/jupyter/notebook_example_testing.ipynb
  lib/galaxy_test/selenium/jupyter_context.py
  packages/test_selenium/setup.py
Labels: area/documentation, area/testing/selenium, kind/enhancement

#11191 [21.01] Allow specifying remote pulsar app config by path.
  lib/galaxy/jobs/runners/pulsar.py
Labels: area/jobs, kind/bug

#11214 Add database/cache to gitignore
  .gitignore
Labels: minor

#11213 [21.01] Pin mypy.
  packages/test.sh
  tox.ini
Labels: area/framework, kind/bug

#11211 FastAPI route for remote files
  lib/galaxy/files/_schema.py
  lib/galaxy/managers/remote_files.py
  lib/galaxy/webapps/galaxy/api/remote_files.py
  lib/galaxy/webapps/galaxy/fast_app.py
Labels: area/API, kind/enhancement

#11216 [Merge] release21.01 into dev (for mypy fixes)
  packages/test.sh
Labels: area/packaging, kind/bug, merge

#11126 FastAPI routes for configuration
  lib/galaxy/managers/configuration.py
  lib/galaxy/managers/users.py
  lib/galaxy/schema/fields.py
  lib/galaxy/schema/types.py
  lib/galaxy/web/framework/decorators.py
  lib/galaxy/webapps/galaxy/api/common.py
  lib/galaxy/webapps/galaxy/api/configuration.py
  lib/galaxy/webapps/galaxy/fast_app.py
  lib/galaxy_test/api/test_configuration.py
  templates/galaxy_client_app.mako
  test/unit/api/test_configuration.py
Labels: area/API, kind/enhancement

#11217 More debug info for failed integration selenium tests during CI.
  .github/workflows/integration_selenium.yaml
Labels: area/testing/integration, area/testing/selenium, kind/enhancement

#11226 fix `test_user_library_import_dir_warning`
  lib/galaxy/selenium/navigation.yml
  test/integration_selenium/test_user_library_import_dir.py
Labels: area/testing, area/testing/integration

#11232 add ActionChains example in documentation of galaxy-selenium package within Jupyter
  lib/galaxy_test/selenium/jupyter/__init__.py
  lib/galaxy_test/selenium/jupyter/notebook_example_testing.ipynb
Labels: area/testing, area/testing/selenium

#11227 Adding GALAXY_MEMORY_MB_PER_SLOT to k8s runner
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs, kind/enhancement

#11235 Sync x-frame-options handling across frameworks and test.
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/fast_app.py
  lib/galaxy/webapps/galaxy/fast_factory.py
  lib/galaxy_test/api/test_framework.py
  lib/galaxy_test/driver/driver_util.py
Labels: area/framework, kind/enhancement, kind/refactoring

#11238 Drop unused transfer_manager.py
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app.py
  lib/galaxy/config/__init__.py
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/jobs/transfer_manager.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/scripts, kind/refactoring

#11240 FastAPI/ASGI CORS handling.
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/fast_app.py
  lib/galaxy/webapps/galaxy/fast_factory.py
  lib/galaxy_test/driver/driver_util.py
  test/integration/test_web_framework_config.py
Labels: area/framework, kind/enhancement

#11215 [20.09] Fix regression of 'disabled' masthead items.
  client/src/components/Masthead/MastheadItem.vue
  client/src/layout/menu.js
Labels: area/UI-UX, kind/bug, paper-cut

#11243 [21.01] Fix arguments in create_api_key
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy_test/api/test_users.py
Labels: area/API, kind/bug

#11254 [21.01] Another attempt at using pulsar_app_config_path for secure Pulsar K8S parameters.
  lib/galaxy/jobs/runners/pulsar.py
Labels: area/jobs, kind/bug

#11253 Get rid of legacy decorator in api/tours
  lib/galaxy/webapps/galaxy/api/tours.py
Labels: area/API

#11230 Remove `folder_up` button from data folder
  client/src/components/LibraryFolder/LibraryFolder.vue
  client/src/components/LibraryFolder/TopToolbar/FolderTopBar.vue
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_library_contents.py
Labels: area/UI-UX, area/libraries, kind/enhancement, paper-cut

#11256 [21.01] Copy Pulsar params so we don't modify the actual param dict in place
  lib/galaxy/jobs/runners/pulsar.py
Labels: area/jobs, kind/bug

#11258 Update vscode dev instructions, drop helper script
  doc/source/dev/debugging_galaxy.md
  scripts/fapi.py
Labels: area/documentation, area/scripts, kind/refactoring

#11251 Make OIDC email matching case-insensitive
  lib/galaxy/model/__init__.py
Labels: area/auth, kind/bug

#11205 [21.01] Admin jobs fixes
  client/src/components/UtcDate.vue
  client/src/components/admin/Jobs.vue
  lib/galaxy/webapps/galaxy/controllers/admin.py
Labels: area/UI-UX, area/admin, paper-cut, status/WIP

#11261 [21.01] Copy params so we don't modify the actual param dict in place
  lib/galaxy/jobs/runners/pulsar.py
Labels: area/jobs, kind/bug

#11264 Replace $.isArray with Array prototype check
  client/src/mvc/form/form-parameters.js
  client/src/mvc/tool/tool-form-composite.js
  client/src/mvc/tool/tool-form.js
  client/src/mvc/ui/ui-drilldown.js
  client/src/mvc/ui/ui-list.js
  client/src/mvc/ui/ui-misc.js
  client/src/mvc/ui/ui-options.js
  client/src/mvc/ui/ui-select-content.js
  client/src/mvc/ui/ui-select-default.js
Labels: area/UI-UX, kind/refactoring

#11257 [20.09] Fix tool version switch in workflow editor
  client/src/components/Workflow/Editor/Node.vue
  client/src/mvc/tool/tool-form-base.js
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: area/workflows, kind/bug

#11260 [21.01] Routing fixes for username path components, username validation fixes
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/buildapp.py
  test/unit/data/security/test_validate_user_input.py
Labels: area/API, area/testing
