Repository galaxyproject/galaxy, pull requests merged in 2021-03, with the labels that each got.

#11511 [21.01] Fix DefaultQuotaAssociation access to Enum values
  lib/galaxy/actions/admin.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
Labels: area/admin, kind/bug

#11507 add sshfs plugin to the new file infrastructure
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/files/sources/ssh.py
Labels: area/dependencies

#11512 [21.01] Fix web framework requests for pydantic 1.8 not working.
  packages/web_framework/requirements.txt
Labels: area/packaging

#11509 Add ready-to-go gitpod config
  .gitpod.yml
  .vscode/.test.env
  .vscode/launch_gitpod.json
  .vscode/settings_gitpod.json
  lib/galaxy/web/framework/base.py
Labels: kind/enhancement

#11486 Remove filter from list:paired element names when filter is not _1
  client/src/components/Collections/PairedListCollectionCreator.vue
Labels: area/UI-UX, area/client, kind/bug, paper-cut

#11515 [20.09] Add logging if installable tool config file not found
  lib/galaxy/tools/toolbox/base.py
Labels: area/admin, area/toolshed, kind/bug

#11517 [20.09] Fix embedding subworkflow
  client/src/components/Panels/ToolBoxWorkflow.vue
  client/src/components/Workflow/Editor/Node.vue
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: area/client, area/testing/selenium, area/workflows/subworkflows, kind/bug

#11513 [20.09] Fix random-ish workflow error with maximum_workflow_jobs_per_scheduling_iteration
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/execute.py
  lib/galaxy/workflow/run.py
  test/integration/test_workflow_scheduling_options.py
Labels: area/workflows, kind/bug

#11525 [21.01] Fix workflow metadata being lost after refactoring step.
  client/src/components/Workflow/Editor/Index.vue
Labels: area/workflows, kind/bug, minor

#11527 [21.01] Fix bug to prevent workflow refactor indices from being wrong.
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Options.vue
  client/src/components/Workflow/Editor/modules/services.js
Labels: area/UI-UX, area/workflows, kind/bug, minor

#11520 [20.09] OIDC Logout+Redirect fix.
  lib/galaxy/webapps/galaxy/controllers/authnz.py
Labels: area/auth, kind/bug

#11530 Create pull_request_template.md
  pull_request_template.md
Labels: procedure/discussion

#11534 [21.01] Fix markdown tag visualizations
  client/src/components/Markdown/MarkdownVisualization.vue
Labels: area/UI-UX, kind/bug

#11535 [21.01] Fix unhandled error when creating tags with multiple dots
  lib/galaxy/model/tags.py
  test/unit/managers/test_TagHandler.py
Labels: area/testing, kind/bug

#11218 [21.01] Add ffindex and ffdata database file types
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes, kind/enhancement

#11533 [21.01] Mark workflow as changed when editing step label or annotation
  client/src/components/Workflow/Editor/Node.vue
Labels: area/UI-UX, area/workflows, kind/bug

#11514 Handle the case where column list is a comma-separated string
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy_test/api/test_workflows.py
  test/functional/tools/column_param_list.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/tool-framework

#11526 Fix clearing of search inputs
  client/src/ui/search-input.js
Labels: area/UI-UX, kind/bug

#9807 Add FlowCytometry and MetaCyto datatypes
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/flow.py
  lib/galaxy/datatypes/metacyto.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/test/Accuri_C6_A01_H2O.fcs
  lib/galaxy/datatypes/test/mc_preprocess_summ.metacyto_summary.txt
Labels: area/datatypes, kind/enhancement

#11536 [21.01] allow format attribute in output collections
  lib/galaxy/tool_util/linters/outputs.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/functional/tools/collection_creates_pair.xml
  test/functional/tools/collection_creates_pair_format.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/tool-framework

#11543 [21.01] Bug fix - cannot set dbkeys in workflow tests.
  lib/galaxy/tool_util/client/staging.py
  lib/galaxy/tool_util/cwl/util.py
  lib/galaxy_test/api/test_tools_upload.py
Labels: area/testing, area/testing/api, area/upload, area/workflows, kind/bug, kind/enhancement

#11548 [21.01] Fix ToolShed link in Admin->Local Data
  client/src/components/admin/DataManager/DataManagerView.vue
Labels: area/UI-UX, area/admin, kind/bug

#11544 [21.01] cleanup the supported filestypes for Nora
  config/plugins/visualizations/nora/config/nora.xml
Labels: area/visualizations, kind/bug

#11545 [21.01] some pyiron interactive tools fixes from EU
  tools/interactive/interactivetool_pyiron.xml
Labels: area/GIEs, area/tools, kind/bug

#11546 [21.01] update the cellxgene IT container
  tools/interactive/interactivetool_cellxgene.xml
Labels: area/tools

#11547 [21.01] allow using Openrefine without data inputs
  tools/interactive/interactivetool_openrefine.xml
Labels: area/GIEs, area/tools, kind/bug

#11552 Augment PR template for refactorings with existing 100% test coverage.
  pull_request_template.md
Labels: area/documentation, kind/enhancement, minor

#11553 [21.01] Various Rule Builder Fixes
  client/src/components/RuleBuilder/ColumnSelector.vue
  client/src/components/RulesDisplay.vue
  client/src/mvc/rules/rule-definitions.js
Labels: area/UI-UX, kind/bug

#11539 Change two vue-routers to plain javascript modules
  client/src/components/LibraryFolder/LibraryFolderRouter.js
  client/src/components/admin/DataManager/DataManagerRouter.js
  client/src/entry/admin/AdminRouter.js
  client/src/entry/analysis/AnalysisRouter.js
Labels: area/UI-UX, area/admin, area/libraries, minor

#11555 [21.01] Add display_in_upload for protobuf datatypes.
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes, kind/bug

#11566 Better webpack-dev-server handling.
  client/README.md
  client/webpack.config.js
  scripts/common_startup.sh
  scripts/get_uwsgi_args.py
Labels: area/client, area/scripts

#11556 Merge 21.01 into dev.
  client/src/components/Markdown/MarkdownVisualization.vue
  client/src/components/RuleBuilder/ColumnSelector.vue
  client/src/components/RulesDisplay.vue
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/admin/DataManager/DataManagerView.vue
  client/src/mvc/rules/rule-definitions.js
  config/plugins/visualizations/nora/config/nora.xml
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/model/tags.py
  lib/galaxy/tool_util/client/staging.py
  lib/galaxy/tool_util/cwl/util.py
  lib/galaxy/tool_util/linters/outputs.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy_test/api/test_tools_upload.py
  test/functional/tools/collection_creates_pair.xml
  test/functional/tools/collection_creates_pair_format.xml
  test/functional/tools/samples_tool_conf.xml
  test/unit/managers/test_TagHandler.py
  tools/interactive/interactivetool_cellxgene.xml
  tools/interactive/interactivetool_openrefine.xml
  tools/interactive/interactivetool_pyiron.xml
Labels: area/UI-UX, area/admin, area/datatypes, area/testing, area/testing/api, area/tool-framework, area/tools, area/visualizations, merge

#11567 Add compressed paf datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#11219 Implement abstraction around InferringApiRouter tailored to typical Galaxy usage.
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy/webapps/galaxy/api/configuration.py
  lib/galaxy/webapps/galaxy/api/datatypes.py
  lib/galaxy/webapps/galaxy/api/job_lock.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/api/licenses.py
  lib/galaxy/webapps/galaxy/api/remote_files.py
  lib/galaxy/webapps/galaxy/api/roles.py
  lib/galaxy/webapps/galaxy/api/tool_data.py
  lib/galaxy/webapps/galaxy/api/tours.py
Labels: area/framework, kind/enhancement

#11457 Upload select button 11432
  client/src/components/DataDialog/DataDialog.vue
  client/src/components/Upload/Collection.vue
  client/src/components/Upload/Composite.vue
  client/src/components/Upload/Default.vue
  client/src/components/Upload/RulesInput.vue
  client/src/components/Upload/UploadBoxMixin.js
  client/src/components/Upload/UploadButton.vue
  client/src/components/Upload/UploadModal.vue
  client/src/components/Upload/UploadModalContent.vue
  client/src/components/Upload/config.js
  client/src/components/Upload/helpers.js
  client/src/components/Upload/index.js
  client/src/components/Upload/mount.js
  client/src/utils/data.js
Labels: area/client, area/upload, kind/bug, minor

#11574 [20.09] Don't display obs_names in select list
  lib/galaxy/datatypes/binary.py
Labels: area/UI-UX, area/datatypes, kind/bug

#11572 [21.01] Fix upload button tooltip blocking tool search field
  client/src/components/Upload/UploadButton.vue
Labels: area/UI-UX, kind/bug

#11576 [21.01] Fix name and hid when selecting uploaded datasets
  client/src/components/Upload/Default.vue
Labels: area/UI-UX, kind/bug

#11561 Allow requesting extra scopes
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/config/sample/oidc_backends_config.xml.sample
Labels: area/auth, kind/feature

#11542 [21.01] Fix workflow terminals not updating appropriately
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/NodeInput.vue
  client/src/components/Workflow/Editor/NodeOutput.vue
  client/src/components/Workflow/Editor/modules/connector.js
  client/tests/qunit/tests/workflow_editor_tests.js
Labels: area/workflows, kind/bug, kind/refactoring

#10351 update SQLNamedQuery for proftpd configuration
  doc/source/admin/special_topics/ftp.md
Labels: area/documentation, kind/bug

#11577 [21.01] Fix $HOME for some gxit requiring a specific one
  tools/interactive/interactivetool_climate_notebook.xml
  tools/interactive/interactivetool_ethercalc.xml
  tools/interactive/interactivetool_jupyter_notebook.xml
  tools/interactive/interactivetool_pyiron.xml
Labels: area/tools

#10108 properly log out of oidc on galaxy logout
  client/src/components/User/ExternalIdentities/ExternalLogin.vue
  client/src/layout/menu.js
  lib/galaxy/webapps/galaxy/controllers/authnz.py
Labels: area/auth, kind/bug, status/WIP

#11570 Github workflow for updating dependencies
  .github/workflows/dependencies.yaml
  lib/galaxy/dependencies/update_lint_requirements.sh
Labels: area/dependencies, kind/feature

#11581 [21.01] Improve feedback for remote file listing exceptions.
  lib/galaxy/webapps/galaxy/api/remote_files.py
Labels: area/upload, kind/bug

#11584 [21.01] Backport oidc logout fix
  client/src/components/User/ExternalIdentities/ExternalLogin.vue
  client/src/layout/menu.js
  lib/galaxy/webapps/galaxy/controllers/authnz.py
Labels: area/UI-UX, kind/bug, merge

#11580 Sample conf for dropbox and owncloud file sources
  config/file_sources_conf.yml.sample
  lib/galaxy/config/sample/file_sources_conf.yml.sample
  lib/galaxy/config/sample/user_preferences_extra_conf.yml.sample
Labels: area/documentation, kind/enhancement

#11585 [21.01] Backport Handle the case where column list is a comma-separated string
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy_test/api/test_workflows.py
  test/functional/tools/column_param_list.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/testing, area/testing/api, area/tool-framework, kind/bug, merge, minor

#11541 [21.01] fix Upload button tool-tip for screenshooter
  client/src/components/RuleCollectionBuilder.vue
  client/src/components/TooltipOnHover.vue
Labels: area/UI-UX

#11589 [21.01] Backport anvilfs conditional dependency
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/files/sources/anvil.py
Labels: area/dependencies, merge

#11532 [21.01] Add input step data label when extracting workflow
  lib/galaxy/workflow/extract.py
Labels: area/workflows, kind/bug

#11590 [21.01] Fix workflow best practices panel requiring save when nothing changed
  client/src/components/Workflow/Editor/Index.vue
Labels: area/workflows, kind/bug, minor

#11591 Use galaxy Router instead of InferringRouter
  lib/galaxy/webapps/galaxy/api/genomes.py
  lib/galaxy/webapps/galaxy/api/pages.py
  lib/galaxy/webapps/galaxy/api/tags.py
Labels: area/API, kind/refactoring

#11588 Added jest debugging instructions to docs
  .vscode/launch_gitpod.json
  client/docs/src/component-design/unit-testing/debugging-unit-tests.md
Labels: area/client, area/documentation, area/testing, minor

#11592 Allow line break html tag in markdown pages
  client/package.json
  client/src/components/Markdown/Markdown.vue
  client/yarn.lock
Labels: area/UI-UX, area/client, kind/feature

#11598 [21.01] Add handler name and pid to item grab logging
  lib/galaxy/jobs/handler.py
Labels: area/jobs

#11568 Migrate metrics API to FastAPI
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/managers/metrics.py
  lib/galaxy/webapps/galaxy/api/metrics.py
  pyproject.toml
  test/integration/test_fluent_metrics.py
Labels: area/API, area/testing, area/testing/api, kind/enhancement, kind/refactoring

#11609 [21.01] Add server name, PID and thread name to each handler log message
  lib/galaxy/jobs/handler.py
  lib/galaxy/web_stack/__init__.py
Labels: area/framework, kind/enhancement

#11603 [20.09] Fix ``metadata_bcf`` framework test
  lib/galaxy/tool_util/verify/__init__.py
  packages/test.sh
  test-data/bcf_index_metadata_test.txt
  test/functional/tools/metadata_bcf.xml
Labels: area/testing, kind/bug

#11604 [21.01] Fix workflow labelling
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/modules/outputs.js
  client/src/components/Workflow/Editor/modules/outputs.test.js
Labels: area/UI-UX, kind/bug

#11600 Allow any extra field in Pages API
  lib/galaxy/managers/pages.py
Labels: area/API, kind/bug

#11616 Remove unused `TraceLogger` class
  lib/galaxy/util/custom_logging/__init__.py
Labels: area/framework, kind/refactoring

#11485 Libraries rewrite
  client/src/components/Libraries/LibrariesList.vue
  client/src/components/Libraries/LibraryEditField.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolder.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/LibraryFolderDatasetPermissions.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/LibraryFolderPermissions.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/LibraryPermissionsWarning.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/PermissionsInputField.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/services.js
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/utils.js
  client/src/components/Libraries/LibraryFolder/SearchField.vue
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
  client/src/components/Libraries/LibraryFolder/TopToolbar/add-datasets.js
  client/src/components/Libraries/LibraryFolder/TopToolbar/delete-selected.js
  client/src/components/Libraries/LibraryFolder/TopToolbar/details-modal.js
  client/src/components/Libraries/LibraryFolder/TopToolbar/download.js
  client/src/components/Libraries/LibraryFolder/TopToolbar/import-to-history/import-collection.js
  client/src/components/Libraries/LibraryFolder/TopToolbar/import-to-history/import-dataset.js
  client/src/components/Libraries/LibraryFolder/TopToolbar/pointer.css
  client/src/components/Libraries/LibraryFolder/library-folder-table.css
  client/src/components/Libraries/LibraryFolder/services.js
  client/src/components/Libraries/LibraryFolder/table-fields.js
  client/src/components/Libraries/LibraryFolderRouter.js
  client/src/components/Libraries/icons.js
  client/src/components/Libraries/library-utils.js
  client/src/components/Libraries/services.js
  client/src/components/Libraries/table-fields.js
  client/src/components/LibraryFolder/LibraryFolderRouter.js
  client/src/entry/analysis/AnalysisRouter.js
  client/src/galaxy.library.js
  client/src/layout/menu.js
  client/src/mvc/library/library-dataset-view.js
  client/src/mvc/library/library-library-view.js
  client/src/mvc/library/library-librarylist-view.js
  client/src/mvc/library/library-librarytoolbar-view.js
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy_test/selenium/test_library_landing.py
Labels: area/UI-UX, area/libraries

#11605 [20.09] fix saving FileSource parameter in a workflow
  client/src/mvc/ui/ui-file-source.js
Labels: area/UI-UX, area/workflows, kind/bug

#11595 [21.01] Avoid false positives in Phylip sniffer
  .github/workflows/maintenance_bot.yaml
  lib/galaxy/datatypes/phylip.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/test/test_relaxed_interleaved.phylip
  lib/galaxy/datatypes/test/test_strict_interleaved.phylip
Labels: area/datatypes, kind/bug

#11621 [21.01] Fix collection mapping over filtered output problem.
  lib/galaxy/tools/execute.py
  lib/galaxy_test/api/test_tools.py
  lib/galaxy_test/api/test_workflows.py
  test/functional/tools/output_filter_with_input_optional.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/testing/api, area/workflows, kind/bug

#11596 [21.01] Fix workflow runs with data_column runtime parameter changes
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy_test/api/test_workflows.py
Labels: area/tool-framework, area/workflows, kind/bug

#11379 [21.01] Release Notes for 21.01
  doc/source/releases/21.01.rst
  doc/source/releases/21.01_announce.rst
  doc/source/releases/21.01_announce_user.rst
  doc/source/releases/21.01_prs.rst
  doc/source/releases/images/21.01-beta-hist.png
  doc/source/releases/images/21.01-hist-exp.png
  doc/source/releases/images/21.01-hist-imp.png
  doc/source/releases/images/21.01-nora.png
  doc/source/releases/images/21.01-remote-weather.png
  doc/source/releases/images/21.01-remote.png
  doc/source/releases/index.rst
  scripts/bootstrap_history.py
Labels: area/documentation

#11614 Front-end Library Routing refactor
  client/src/components/Libraries/LibraryFolder/LibraryFolder.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/LibraryFolderDatasetPermissions.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/LibraryFolderPermissions.vue
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
  client/src/components/Libraries/LibraryFolderRouter.js
  client/src/entry/analysis/AnalysisRouter.js
  client/src/layout/menu.js
  client/src/mvc/library/library-dataset-view.js
  client/src/mvc/library/library-library-view.js
  client/src/mvc/library/library-libraryrow-view.js
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: area/UI-UX, area/libraries, area/testing, area/testing/selenium

#11633 Add missing ssl keyword in nginx example [docs]
  doc/source/admin/nginx.md
Labels: area/admin, area/documentation

#11634 [21.01] Change Upload button tooltip position
  client/src/components/Upload/UploadButton.vue
Labels: area/UI-UX

#11635 [21.01] Fix "Edit Dataset Tags" button title in Beta History Panel
  client/src/components/History/ContentItem/Dataset/DatasetMenu.vue
Labels: area/UI-UX, kind/bug

#11623 [20.09] fix exporting datasets from library as collection
  client/src/components/LibraryFolder/TopToolbar/import-to-history/import-collection.js
Labels: area/UI-UX, area/libraries

#11639 Fix linting error in bootstrap script
  scripts/bootstrap_history.py
Labels: area/scripts, kind/bug, minor

#11625 [21.01] fix exporting datasets from library as collection
  client/src/components/LibraryFolder/TopToolbar/import-to-history/import-collection.js
Labels: area/UI-UX, area/libraries

#11626 [21.01] Fix optional workflow parameter inputs not recovered when setting step outputs
  lib/galaxy/workflow/run.py
  lib/galaxy_test/api/test_workflows.py
Labels: area/workflows, area/workflows/subworkflows, kind/bug

#11640 [21.01] Final touchup for the release notes
  doc/source/releases/21.01.rst
  doc/source/releases/21.01_prs.rst
Labels: area/documentation, minor

#11629 Pin SQAlchemy to ~1.3.22
  packages/data/requirements.txt
  packages/web_framework/requirements.txt
  packages/web_stack/requirements.txt
  pyproject.toml
Labels: area/dependencies

#11638 Fix prop mutation in FolderTopBar
  client/src/components/Libraries/LibraryFolder/LibraryFolder.vue
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
Labels: area/UI-UX

#11619 An attempt to improve dependency management
  lib/galaxy/dependencies/update.sh
Labels: area/dependencies, kind/enhancement

#11643 Set minimum requirements for starlette-context and fastapi
  pyproject.toml
Labels: area/dependencies, kind/bug

#11560 Add more filtering options to api/jobs endpoint
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy_test/api/test_jobs.py
Labels: area/API, area/testing, area/testing/api

#11646 [21.01] Match environment variable set up by doc building workflow
  doc/source/conf.versioning.py
  lib/galaxy/dependencies/pipfiles/default/Pipfile
  lib/galaxy/version.py
  packages/app/requirements.txt
  packages/data/requirements.txt
  packages/web_framework/requirements.txt
  packages/web_stack/requirements.txt
Labels: area/documentation, kind/bug

#11649 Update all Python dependencies
  .github/workflows/mulled.yaml
  .github/workflows/performance.yaml
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: area/dependencies, kind/enhancement

#11650 Library folder_contents API tests + small fixes
  lib/galaxy/webapps/galaxy/api/folder_contents.py
  lib/galaxy_test/api/test_folder_contents.py
Labels: area/API, area/testing/api, kind/bug

#11652 [21.01] Fix conditional and section parameters becoming runtime parameters
  client/src/components/Workflow/Editor/modules/forms.js
  client/src/mvc/form/form-parameters.js
Labels: area/client, area/workflows, kind/bug

#11648 Pin fs.webdavfs requirement to latest version
  lib/galaxy/dependencies/conditional-requirements.txt
Labels: area/dependencies

#11660 [21.01] Fix reconnecting terminals
  client/src/components/Workflow/Editor/NodeInput.vue
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: area/UI-UX, area/workflows, kind/bug

#11664 [21.01] Fix datatype defined column name display
  lib/galaxy/model/__init__.py
Labels: kind/bug

#11663 [21.01] Fix tags not included when importing shared workflow
  lib/galaxy/webapps/base/controller.py
Labels: area/sharing, area/workflows, kind/bug, paper-cut

#11655 update to cope with impending changes to cwltool internals
  lib/galaxy/tool_util/cwl/cwltool_deps.py
  lib/galaxy/tool_util/cwl/schema.py
Labels: area/tool-framework

#11670 [21.01] Fix workflow rename dropping metadata.
  lib/galaxy/model/__init__.py
  lib/galaxy_test/api/test_workflows.py
Labels: area/workflows, kind/bug, paper-cut

#11671 Avoid appending imported source on workflow name multiple times.
  lib/galaxy/managers/workflows.py
Labels: area/workflows, kind/enhancement, paper-cut

#11676 Add option to download collections in markdown pages
  client/src/components/Markdown/Elements/HistoryDatasetCollection/CollectionDisplay.vue
Labels: area/UI-UX, kind/feature

#11662 Lint for duplicated options
  lib/galaxy/tool_util/linters/inputs.py
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, area/tool-framework

#11678 [21.01] Use Modal to show wrong RuntimeValue
  client/src/mvc/tool/tool-form-composite.js
  lib/galaxy/tools/parameters/__init__.py
  lib/galaxy/tools/parameters/basic.py
Labels: area/UI-UX, area/workflows, kind/bug

#11637 Rewrite Library Permissions
  client/src/components/Libraries/LibrariesList.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolder.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/LibraryFolderDatasetPermissions.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/LibraryFolderPermissions.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/utils.js
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
  client/src/components/Libraries/LibraryFolderRouter.js
  client/src/components/Libraries/LibraryPermissions/LibraryPermissions.vue
  client/src/components/Libraries/LibraryPermissions/PermissionsHeader.vue
  client/src/components/Libraries/LibraryPermissions/PermissionsInputField.vue
  client/src/components/Libraries/LibraryPermissions/services.js
  client/src/components/Libraries/library-utils.js
  client/src/mvc/library/library-dataset-view.js
  lib/galaxy/selenium/navigation.yml
  test/integration_selenium/test_user_library_permissions.py
Labels: area/UI-UX

#11689 [21.01] Backport #11655 "update to cope with impending changes to cwltool internals"
  lib/galaxy/tool_util/cwl/cwltool_deps.py
  lib/galaxy/tool_util/cwl/schema.py
Labels: area/tool-framework, merge

#11673 [21.01] Prevent endless fail_job cycles
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/__init__.py
Labels: area/admin, area/jobs, kind/bug

#11684 [21.01] Redraw connections when adding or removing inputs
  client/src/components/Workflow/Editor/Node.vue
Labels: area/workflows, kind/bug

#11680 Add the SimText shiny app as Interactive Tool
  tools/interactive/interactivetool_simtext_app.xml
  tools/interactive/simtext_app.R
Labels: area/GIEs, area/tools, kind/feature

#11694 [21.01] add meryldb datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes, kind/enhancement

#11687 [21.01] Expose command line if expose_dataset_path is set
  lib/galaxy/managers/jobs.py
  lib/galaxy_test/api/test_jobs.py
Labels: area/UI-UX, kind/bug

#11669 [21.01] Single User Mode - Disable irrelevant and broken options
  client/src/components/Masthead/MastheadItem.vue
  client/src/components/User/UserPreferences.vue
  client/src/components/User/UserPreferencesModel.js
  client/src/layout/menu.js
  client/src/mvc/history/options-menu.js
  lib/galaxy/managers/configuration.py
Labels: area/UI-UX, kind/bug, kind/enhancement

#11692 [21.01] Fix displaying data column parameters in workflow editor
  client/src/mvc/form/form-parameters.js
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_workflow_editor.py
  test/functional/tools/column_param_list.xml
Labels: area/workflows, kind/bug

#11700 [21.01] Hotfix/paired list builder from data library
  client/src/components/LibraryFolder/TopToolbar/import-to-history/import-collection.js
Labels: area/UI-UX, area/libraries

#11674 Swap 'Analyze Data' to home icon
  client/src/layout/menu.js
  client/src/style/scss/base.scss
Labels: area/UI-UX, paper-cut

#11661 [21.01] Add HHR datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes, kind/enhancement

#11703 enable the S3 plugin to use non-AWS resrouces
  lib/galaxy/config/sample/file_sources_conf.yml.sample
  lib/galaxy/files/sources/s3fs.py
Labels: area/objectstore, kind/enhancement

#11708 [20.09] Make extra user preferences behave like defaultdict
  lib/galaxy/model/__init__.py
Labels: kind/bug

#11697 Break up dynamic dataset collection into chunks
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/managers/collections.py
  lib/galaxy/model/dataset_collections/builder.py
  lib/galaxy/model/dataset_collections/types/paired.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/util/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/integration/test_flush_per_n_datasets.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/tool-framework, area/util

#11702 Update Python dependencies
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  pyproject.toml
Labels: area/dependencies, kind/refactoring

#11686 Refactor library folder contents api
  lib/galaxy/webapps/galaxy/api/folder_contents.py
  lib/galaxy_test/api/test_folder_contents.py
Labels: area/API, area/libraries, area/testing, area/testing/api, kind/refactoring

#11696 Replace sqlalchemy-utilities with local implementation
  lib/galaxy/config/__init__.py
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/model/database_utils.py
  lib/galaxy/model/migrate/check.py
  lib/galaxy/model/migrate/versions/0166_job_state_summary_view.py
  lib/galaxy/model/tool_shed_install/migrate/check.py
  lib/galaxy/model/view/__init__.py
  lib/galaxy/model/view/utils.py
  lib/galaxy_test/driver/driver_util.py
  lib/tool_shed/webapp/model/migrate/check.py
  pyproject.toml
  test/unit/data/test_galaxy_mapping.py
  test/unit/model/__init__.py
  test/unit/model/common.py
  test/unit/model/conftest.py
  test/unit/model/test_database_utils.py
  test/unit/model/test_views.py
Labels: area/dependencies, kind/feature

#11718 [21.01] Fix importing collections to new history and import correct elements
  client/src/components/LibraryFolder/TopToolbar/import-to-history/import-collection.js
Labels: area/UI-UX, area/libraries

#11724 [21.01] Removedreference to remove-extensions
  client/src/components/Collections/PairCollectionCreator.vue
Labels: area/UI-UX, kind/bug

#11276 Bugfix/8488/rule builder fails for one bad url
  client/src/components/Upload/Collection.vue
  client/src/components/Upload/Composite.vue
  client/src/components/Upload/Default.vue
  client/src/components/Upload/UploadBoxMixin.js
  client/src/components/Upload/UploadModalContent.vue
  client/src/utils/uploadbox.js
Labels: area/UI-UX

#11489 adding nameSuggestion to PairCollectionCreator
  client/src/components/Collections/ListCollectionCreator.vue
  client/src/components/Collections/PairCollectionCreator.vue
  client/src/components/Collections/PairedListCollectionCreator.vue
  client/src/components/Collections/common/CollectionCreator.vue
  client/src/components/Collections/common/mixin.js
Labels: area/UI-UX

#11711 Merge 20.09 into dev
  client/src/components/Libraries/LibraryFolder/TopToolbar/import-to-history/import-collection.js
  client/src/components/Masthead/MastheadItem.vue
  client/src/components/User/UserPreferences.vue
  client/src/components/User/UserPreferencesModel.js
  client/src/components/Workflow/Editor/Node.vue
  client/src/layout/menu.js
  client/src/mvc/form/form-parameters.js
  client/src/mvc/history/options-menu.js
  client/src/mvc/tool/tool-form-composite.js
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/managers/configuration.py
  lib/galaxy/model/__init__.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy/tools/parameters/__init__.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy_test/selenium/test_workflow_editor.py
  packages/containers/HISTORY.rst
  packages/containers/galaxy/project_galaxy_containers.py
  packages/tool_util/HISTORY.rst
  packages/tool_util/galaxy/project_galaxy_tool_util.py
  packages/util/HISTORY.rst
  packages/util/galaxy/project_galaxy_util.py
  test/functional/tools/column_param_list.xml
Labels: area/UI-UX, area/datatypes, area/jobs, area/packaging, area/testing, area/testing/selenium, area/tool-framework, merge

#11731 Refactor stdout/stderr in Job Information
  client/src/components/JobInformation/CodeRow.vue
Labels: area/UI-UX, kind/enhancement, kind/refactoring

#11736 Fix job filtering by `date_range_max` / `date_range_mix`
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy_test/api/test_jobs.py
Labels: area/API, area/testing, area/testing/api, kind/bug

#11712 Partial refactor ShareableMixin into ShareableService
  lib/galaxy/managers/histories.py
  lib/galaxy/managers/pages.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/managers/visualizations.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/api/page_revisions.py
  lib/galaxy/webapps/galaxy/api/pages.py
  lib/galaxy/webapps/galaxy/api/visualizations.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy/webapps/galaxy/controllers/page.py
  lib/galaxy/webapps/galaxy/controllers/visualization.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  lib/galaxy_test/api/sharable.py
  lib/galaxy_test/api/test_histories.py
  lib/galaxy_test/api/test_pages.py
  lib/galaxy_test/api/test_visualizations.py
Labels: area/API, area/testing, area/testing/api, kind/bug, kind/refactoring

#11740 Fix CI docs build for feature branches
  .github/workflows/docs.yaml
  doc/source/conf.versioning.py
Labels: area/documentation, kind/bug, kind/enhancement

#11741 [21.01] Fix a bug when unzipping collections with nametags.
  lib/galaxy/model/__init__.py
  lib/galaxy_test/api/test_tools.py
Labels: area/tool-framework, kind/bug

#11732 Copy collections dbkey
  lib/galaxy/managers/collections.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy_test/api/test_history_contents.py
Labels: area/API, area/dataset-collections, area/testing, area/testing/api, kind/enhancement

#11747 Add datatype for PretextMap output
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/sample.pretext
Labels: area/datatypes, kind/enhancement

#11751 Fix API job filtering by workflow or invocation
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/jobs.py
Labels: area/API, kind/bug

#11720 Circus + Celery - MVP
  config/dev.ini
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app.py
  lib/galaxy/celery/__init__.py
  lib/galaxy/celery/tasks.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/manager.py
  lib/galaxy/managers/base.py
  lib/galaxy/managers/configuration.py
  lib/galaxy/managers/context.py
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/group_roles.py
  lib/galaxy/managers/group_users.py
  lib/galaxy/managers/groups.py
  lib/galaxy/managers/hdas.py
  lib/galaxy/managers/hdcas.py
  lib/galaxy/managers/histories.py
  lib/galaxy/managers/history_contents.py
  lib/galaxy/managers/jobs.py
  lib/galaxy/managers/lddas.py
  lib/galaxy/managers/metrics.py
  lib/galaxy/managers/pages.py
  lib/galaxy/managers/remote_files.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/managers/users.py
  lib/galaxy/managers/visualizations.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/orm/engine_factory.py
  lib/galaxy/structured_app.py
  lib/galaxy/tools/cache.py
  lib/galaxy/tools/data_manager/manager.py
  lib/galaxy/visualization/genomes.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/controllers/user.py
  packages/app/galaxy/celery
  packages/app/requirements.txt
  pyproject.toml
  test/unit/managers/test_HDAManager.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: area/dependencies, area/framework, area/performance, kind/feature

#11753 [21.01] Create install database with create_db.sh
  lib/galaxy/model/orm/scripts.py
  scripts/create_db.py
Labels: area/admin, kind/bug, kind/enhancement

#11599 [21.01] Fix bug with Pulsar and $__tool_directory__
  lib/galaxy/jobs/runners/pulsar.py
  test/functional/tools/samples_tool_conf.xml
  test/functional/tools/tool_directory_docker.xml
  test/integration/test_pulsar_embedded_containers.py
Labels: area/testing, area/testing/integration
