Repository galaxyproject/galaxy, pull requests merged in 2021-04, with the labels that each got.

#11763 [21.01] Pulsar: mark cancelled jobs as finished
  lib/galaxy/jobs/runners/pulsar.py
Labels: area/jobs

#11765 [21.01] galaxy.webapps.tool_shed to webapp.tool_shed
  lib/galaxy/config/config_manage.py
  test/unit/config/config_manage/1607_root_filters/config/tool_shed.ini
  test/unit/config/config_manage/1607_root_samples/config/tool_shed.ini
Labels: area/configuration, area/testing, area/toolshed

#11764 [21.01] Fix format="input" with implicit conversions
  lib/galaxy/tools/actions/__init__.py
  test/functional/tools/implicit_conversion_format_input.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/tool-framework

#11762 [21.01] Assorted tool shed fixes
  lib/tool_shed/grids/repository_grids.py
  lib/tool_shed/util/commit_util.py
  lib/tool_shed/util/shed_util_common.py
  lib/tool_shed/webapp/controllers/repository.py
  lib/tool_shed/webapp/model/__init__.py
  lib/tool_shed/webapp/model/mapping.py
  lib/tool_shed/webapp/search/tool_search.py
Labels: area/toolshed, kind/bug

#11749 Fix value of 'unknown_error' resubmit condition variable
  lib/galaxy/jobs/runners/state_handlers/resubmit.py
Labels: area/jobs

#10222 Store job_id on Dataset table.
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0173_add_job_id_to_dataset.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/tools/execute.py
  test/integration/test_save_job_id_on_datasets.py
  test/unit/data/test_galaxy_mapping.py
Labels: area/database, area/jobs, kind/enhancement

#11757 Allow AWS s3 access for ec2 instances without hardcoding credentials
  lib/galaxy/objectstore/s3.py
  lib/galaxy/objectstore/s3_multipart_upload.py
Labels: area/objectstore

#11773 [21.01] Fix auto-pair naming in list paired creator.
  client/src/components/Collections/PairedListCollectionCreator.vue
Labels: area/UI-UX, area/dataset-collections, kind/bug

#11758 [21.0] add new datatype class for meryldb
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/read-db.meryldb
Labels: area/datatypes

#11778 Fix workflow refactor schema parsing for pydantic 1.8.
  lib/galaxy/workflow/refactor/schema.py
Labels: area/workflows, kind/bug

#11776 [21.01] Fix library scrolling
  client/src/style/scss/library.scss
Labels: area/UI-UX, area/libraries, kind/bug

#11783 Use `assertRaisesRegex()` to fix new B017 linting errors
  test/unit/authnz/test_custos_authnz.py
  test/unit/tool_util/test_parsing.py
  test/unit/util/test_compression_util.py
Labels: area/testing, kind/bug

#11790 Handle deprecated postgresql db urls; update postgres version in ci
  .github/workflows/api.yaml
  .github/workflows/api_paste.yaml
  .github/workflows/db_indexes.yaml
  .github/workflows/framework.yaml
  .github/workflows/integration.yaml
  .github/workflows/integration_selenium.yaml
  .github/workflows/performance.yaml
  .github/workflows/selenium.yaml
  .github/workflows/toolshed.yaml
  lib/galaxy/config/__init__.py
  test/unit/config/config_manage/1607_root_samples/config/reports.ini
  test/unit/config/test_load_config.py
Labels: area/configuration, area/database, kind/enhancement

#11777 Add an explicit statement of assent to licensing to the pull request template
  pull_request_template.md
Labels: area/documentation, kind/enhancement

#11791 Update localisation options to include Español
  client/src/nls/locale.js
  lib/galaxy/config/sample/user_preferences_extra_conf.yml.sample
Labels: area/UI-UX, kind/enhancement

#11641 Overhaul make-based release process
  .circleci/config.yml
  Makefile
  packages/package.Makefile
  scripts/bootstrap_history.py
  scripts/release.sh
  test/release.sh
  tox.ini
Labels: area/packaging, kind/enhancement

#11779 Fixes for installed Galaxy
  lib/galaxy/config/__init__.py
  lib/galaxy/datatypes/display_applications/configs/biom/biom_simple.xml
  lib/galaxy/datatypes/display_applications/configs/ensembl/ensembl_bam.xml
  lib/galaxy/datatypes/display_applications/configs/ensembl/ensembl_gff.xml
  lib/galaxy/datatypes/display_applications/configs/ensembl/ensembl_interval_as_bed.xml
  lib/galaxy/datatypes/display_applications/configs/gbrowse/gbrowse_gff.xml
  lib/galaxy/datatypes/display_applications/configs/gbrowse/gbrowse_interval_as_bed.xml
  lib/galaxy/datatypes/display_applications/configs/gbrowse/gbrowse_wig.xml
  lib/galaxy/datatypes/display_applications/configs/icn3d/icn3d_simple.xml
  lib/galaxy/datatypes/display_applications/configs/igb/bam.xml
  lib/galaxy/datatypes/display_applications/configs/igb/bb.xml
  lib/galaxy/datatypes/display_applications/configs/igb/bed.xml
  lib/galaxy/datatypes/display_applications/configs/igb/bedgraph.xml
  lib/galaxy/datatypes/display_applications/configs/igb/bigwig.xml
  lib/galaxy/datatypes/display_applications/configs/igb/gtf.xml
  lib/galaxy/datatypes/display_applications/configs/igb/wig.xml
  lib/galaxy/datatypes/display_applications/configs/igv/bam.xml
  lib/galaxy/datatypes/display_applications/configs/igv/bigwig.xml
  lib/galaxy/datatypes/display_applications/configs/igv/genbank.xml
  lib/galaxy/datatypes/display_applications/configs/igv/genome_fasta.xml
  lib/galaxy/datatypes/display_applications/configs/igv/gff.xml
  lib/galaxy/datatypes/display_applications/configs/igv/interval_as_bed.xml
  lib/galaxy/datatypes/display_applications/configs/igv/vcf.xml
  lib/galaxy/datatypes/display_applications/configs/intermine/intermine_simple.xml
  lib/galaxy/datatypes/display_applications/configs/iobio/bam.xml
  lib/galaxy/datatypes/display_applications/configs/iobio/vcf.xml
  lib/galaxy/datatypes/display_applications/configs/rviewer/bed.xml
  lib/galaxy/datatypes/display_applications/configs/rviewer/vcf.xml
  lib/galaxy/datatypes/display_applications/configs/ucsc/bam.xml
  lib/galaxy/datatypes/display_applications/configs/ucsc/bigbed.xml
  lib/galaxy/datatypes/display_applications/configs/ucsc/bigwig.xml
  lib/galaxy/datatypes/display_applications/configs/ucsc/interval_as_bed.xml
  lib/galaxy/datatypes/display_applications/configs/ucsc/maf_customtrack.xml
  lib/galaxy/datatypes/display_applications/configs/ucsc/trackhub.xml
  lib/galaxy/datatypes/display_applications/configs/ucsc/vcf.xml
  packages/app/MANIFEST.in
  packages/app/galaxy/config_schema.yml
  packages/app/galaxy/job_config_schema.yml
  packages/app/galaxy/uwsgi_schema.yml
  packages/app/setup.py
  packages/data/MANIFEST.in
  packages/data/setup.py
  packages/job_execution/setup.py
  packages/util/setup.py
  packages/webapps/MANIFEST.in
  packages/webapps/galaxy/datatypes/display_applications/configs
  packages/webapps/requirements.txt
Labels: area/configuration, area/packaging, kind/enhancement

#11769 Support role and group permissions in file sources plugins
  lib/galaxy/files/__init__.py
  lib/galaxy/files/_schema.py
  lib/galaxy/files/sources/__init__.py
  lib/galaxy/files/sources/_pyfilesystem2.py
  lib/galaxy/files/sources/posix.py
  lib/galaxy/files/sources/s3fs.py
  lib/galaxy/util/bool_expressions.py
  lib/galaxy/webapps/galaxy/api/remote_files.py
  test/integration/test_remote_files_posix.py
  test/unit/files/_util.py
  test/unit/files/test_posix.py
  test/unit/util/test_bool_expressions.py
Labels: area/API, area/configuration, area/security, area/testing, area/testing/integration, kind/feature

#11794 [21.01] Fix typo in `upstream_mod_zip` admin docs
  doc/source/admin/nginx.md
Labels: area/documentation, kind/bug

#11793 [21.01] Lower tool id case while populating resource params
  lib/galaxy/tools/__init__.py
Labels: area/jobs, kind/bug

#11234 Remove some seemingly unused cruft in GalaxyWebTransaction
  lib/galaxy/webapps/base/webapp.py
Labels: area/framework, kind/refactoring

#11220 Add mrc datatype (and Python dependency)
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/images.py
  lib/galaxy/datatypes/test/1.mrc
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  packages/data/requirements.txt
  pyproject.toml
Labels: area/dependencies

#11497 xsd: use validator as child of param
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/documentation, area/tool-framework

#11683 Ensure new outputs have correct mapOver state
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/modules/terminals.js
Labels: area/workflows, kind/bug

#8481 add tests for filters
  test/functional/tools/filter_multiple_splitter.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/testing

#11307 ignore subdirectories if recurse is false
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/tool_util/verify/interactor.py
  test/functional/tools/discover_sort_by.xml
Labels: area/tool-framework

#11631 Refactor library folder API logic into FoldersService
  lib/galaxy/managers/folders.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/api/folders.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy/webapps/galaxy/api/library_contents.py
  lib/galaxy_test/api/test_folders.py
Labels: area/API, area/testing, area/testing/api, kind/refactoring

#11795 Open update deps PRs from galaxybot's fork
  .github/workflows/dependencies.yaml
Labels: area/dependencies, area/testing, kind/enhancement

#11425 Check for binary files at the middle of the file instead of at the beginning
  lib/galaxy/util/checkers.py
Labels: area/util

#11557 Add documentation on how to setup Pulsar's two-container job runner
  doc/source/admin/jobs.md
Labels: area/admin, area/documentation

#10496 Handle unschedulable jobs in k8s runner
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/util/pykube_util.py
Labels: area/jobs, kind/enhancement, paper-cut, status/needs feedback

#11800 Activate virtualenv in `updateucsc.sh.sample`
  cron/updateucsc.sh.sample
Labels: area/scripts, kind/bug

#11727 lint for checkboxes select
  client/src/mvc/tool/tool-form.js
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, area/tool-framework

#11111 really test variables in conditionals
  test/functional/tools/identifier_in_conditional.xml
Labels: area/testing, area/tool-framework, kind/enhancement

#11798 Fix tool profile details in schema docs
  doc/parse_gx_xsd.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/documentation, area/tool-framework, kind/bug

#11654 Refactor default mounting of $tmp_directory in containers
  lib/galaxy/tool_util/deps/container_classes.py
Labels: area/tool-dependencies, area/tool-framework, kind/bug

#11801 Make Avivator GEDA and sniffer for ome.tiff datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/display_applications/configs/image/avivator.xml
  lib/galaxy/datatypes/images.py
  lib/galaxy/datatypes/test/1.ome.tiff
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  packages/data/requirements.txt
  pyproject.toml
Labels: area/datatypes, area/dependencies, area/packaging

#11351 Add support for Plausible analytics and Matomo analytics
  client/src/galaxy.library.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/tool_shed.yml.sample
  lib/galaxy/managers/configuration.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/tool_shed/webapp/config_schema.yml
  lib/tool_shed/webapp/templates/base.mako
  lib/tool_shed/webapp/templates/base/base_panels.mako
  lib/tool_shed/webapp/templates/galaxy_client_app.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/base_panels.mako
  templates/base.mako
  templates/base/base_panels.mako
  templates/galaxy_client_app.mako
  templates/js-app.mako
Labels: area/UI-UX

#11575 SLURM: stop editing job stderr file
  lib/galaxy/jobs/runners/slurm.py
Labels: area/jobs, kind/enhancement

#11811 fixed distracting error output in jest unit test
  client/src/components/JobInformation/JobInformation.test.js
Labels: area/UI-UX, area/client, area/testing, javascript, kind/bug, minor

#11812 add new datatype JPEG 2000 in Galaxy
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/registry.py
  lib/galaxy/datatypes/test/test.jp2
Labels: area/datatypes

#11808 Don't overwrite $GALAXY_MEMORY_MB if it's already set
  lib/galaxy/jobs/runners/util/job_script/MEMORY_STATEMENT.sh
Labels: area/jobs, kind/bug

#11810 Incorporate changes from Pulsar's copy of galaxy.jobs.runners.util
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/util/__init__.py
  lib/galaxy/jobs/runners/util/cli/job/lsf.py
  lib/galaxy/jobs/runners/util/condor/__init__.py
Labels: area/jobs, kind/refactoring

#11802 jellyfish db datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#11815 [21.01] Don't write job and job-related attributes when creating export model
  lib/galaxy/metadata/__init__.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/model/store/__init__.py
Labels: area/jobs, area/performance

#11816 [21.01] Backport #11815: Don't write job and job-related attributes when creating export model
  lib/galaxy/metadata/__init__.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/model/store/__init__.py
Labels: area/performance, kind/bug

#11772 Add circus + gunicorn option when using run.sh
  .ci/first_startup.sh
  .github/workflows/first_startup.yaml
  config/dev.ini
  lib/galaxy/celery/__init__.py
  lib/galaxy/config/__init__.py
  lib/galaxy/webapps/galaxy/fast_factory.py
  lib/galaxy/webapps/galaxy/workers.py
  run.sh
  scripts/common_startup_functions.sh
  tox.ini
Labels: area/scripts, area/util

#11792 Switch default handler assignment to skip locked or transaction isolation if possible
  doc/source/admin/scaling.md
  lib/galaxy/config/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/web_stack/__init__.py
  lib/galaxy/web_stack/handlers.py
  lib/galaxy/workflow/scheduling_manager.py
  lib/galaxy_test/driver/driver_util.py
  scripts/galaxy_main.py
  test/integration/test_kubernetes_staging.py
  test/integration/test_pulsar_embedded_mq.py
  test/integration/test_workflow_handler_configuration.py
  test/unit/jobs/test_job_configuration.py
Labels: area/admin, area/configuration, area/jobs, area/workflows, kind/enhancement

#11788 Fixes for extended metadata working with Pulsar.
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/tool_util/verify/asserts/text.py
  test/integration/embedded_pulsar_metadata_job_conf.yml
  test/integration/test_pulsar_embedded_metadata.py
Labels: area/jobs, kind/bug, kind/enhancement

#11830 Fixed uploader link on tool list and legacy empty history message
  client/src/components/Panels/ToolBox.vue
  client/src/mvc/history/history-view-edit-current.js
Labels: area/UI-UX

#11826 Make k8s container 39 MB smaller by using vim-tiny
  .k8s_ci.Dockerfile
Labels: area/deployment, kind/enhancement

#11835 [21.01]Join QueueWorker thread
  lib/galaxy/queue_worker.py
Labels: area/testing, kind/bug

#11839 Fix attribute error in converter tests
  lib/galaxy/web_stack/__init__.py
Labels: kind/bug, minor

#11840 Separate tests for "remote" and "remote + extended" metadata.
  test/integration/test_pulsar_embedded_extended_metadata.py
  test/integration/test_pulsar_embedded_remote_metadata.py
Labels: area/jobs, area/testing/integration, kind/refactoring

#11716 [Selenium] Library collections export
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_library_contents.py
  lib/galaxy_test/selenium/test_library_to_collections.py
  test/integration_selenium/test_user_library_permissions.py
Labels: area/testing, area/testing/integration, area/testing/selenium, kind/enhancement

#11838 [21.01] Patch to click the button which should be more stable
  config/plugins/webhooks/gtn/script.js
Labels: area/UI-UX, area/webhooks, kind/bug

#11845 fix data stickiness on folder change
  client/src/components/Libraries/LibraryFolder/LibraryFolder.vue
Labels: area/UI-UX, kind/bug, paper-cut

#11843 Restore triggers dropped in #10821
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrate/versions/0174_readd_update_time_triggers.py
  lib/galaxy/model/triggers.py
Labels: area/database

#11847 fixes upload link in beta history empty history message
  client/src/components/History/HistoryEmpty.vue
Labels: area/UI-UX, area/client, area/histories, kind/bug, minor

#11846 Improve error handling when creating a new History with the master API key
  lib/galaxy/exceptions/__init__.py
  lib/galaxy/exceptions/error_codes.json
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy_test/api/test_histories.py
Labels: area/API, area/testing, area/testing/api, kind/enhancement, paper-cut

#11831 Add support for the Relion STAR data format
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/images.py
  lib/galaxy/datatypes/test/1.star
Labels: area/datatypes

#11852 Test a better Pulsar configuration for extended metadata.
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/jobs/runners/pulsar.py
  pyproject.toml
  test/integration/embedded_pulsar_metadata_extended_job_conf.yml
  test/integration/test_pulsar_embedded_extended_metadata.py
Labels: area/jobs, area/testing/integration, kind/enhancement

#11856 Unify security decode id exceptions
  lib/galaxy/managers/base.py
  lib/galaxy/managers/cloudauthzs.py
  lib/galaxy/managers/folders.py
  lib/galaxy/managers/libraries.py
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/security/idencoding.py
  lib/galaxy/visualization/plugins/resource_parser.py
  lib/galaxy/webapps/galaxy/api/cloudauthz.py
  lib/galaxy/webapps/galaxy/api/library_contents.py
  lib/galaxy/workflow/run_request.py
  lib/tool_shed/webapp/api/repositories.py
  test/unit/managers/test_HistoryManager.py
Labels: area/API, area/security, area/workflows, kind/refactoring, paper-cut

#11844 Do not invoke workflow if not all tools are available
  lib/galaxy/managers/workflows.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/api/test_workflows.py
Labels: area/API, area/testing, area/testing/api

#11861 BUGFIX: Also check for boolean True, not just string 'True' when evaluating conditional dependencies.
  lib/galaxy/dependencies/__init__.py
Labels: area/dependencies

#11750 [PROCEDURES] Updated Code of Conduct to point to the exact copy of this CoC on the hub.
  CODE_OF_CONDUCT.md
Labels: procedures

#11867 Backport to 20.05: watchdog dependency check bugfix.
  lib/galaxy/dependencies/__init__.py
Labels: merge

#11871 Expose StoredWorkflowId in invocation API
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/API

#11863 Allow importing histories through pages / reports
  client/src/components/Markdown/Elements/HistoryLink.vue
  client/src/components/Markdown/Markdown.vue
  client/src/components/Markdown/MarkdownDialog.vue
  client/src/components/Markdown/MarkdownToolBox.vue
  lib/galaxy/managers/markdown_parse.py
  lib/galaxy/managers/markdown_util.py
  test/unit/managers/test_markdown_export.py
Labels: area/UI-UX, kind/feature

#11874 add a bit of docs to the add tags tool
  lib/galaxy/tools/tag_collection_from_file.xml
  test-data/new_tags_1.txt
Labels: area/testing, area/tool-framework

#11868 Add handler column in admin jobs, remove webcontroller
  client/package.json
  client/src/components/JobInformation/JobInformation.vue
  client/src/components/admin/JobDetails.vue
  client/src/components/admin/JobFields.js
  client/src/components/admin/Jobs.vue
  client/src/store/jobStore.js
  client/yarn.lock
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy_test/api/test_jobs.py
Labels: area/UI-UX, area/admin, area/jobs, kind/enhancement

#11818 do not chown pasted urls
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/util/__init__.py
  lib/galaxy_test/api/test_tools_upload.py
  tools/data_source/upload.py
Labels: area/tool-framework, kind/bug

#11876 [20.09] Fix user total walltime calculation when jobs are missing states in job state history
  lib/galaxy/jobs/handler.py
Labels: area/jobs, kind/bug

#11872 Create FastAPI entry points for Tool Shed and Reports
  lib/galaxy/main_config.py
  lib/galaxy/webapps/base/api.py
  lib/galaxy/webapps/galaxy/fast_app.py
  lib/galaxy/webapps/galaxy/fast_factory.py
  lib/galaxy/webapps/reports/api/__init__.py
  lib/galaxy/webapps/reports/app.py
  lib/galaxy/webapps/reports/fast_app.py
  lib/galaxy/webapps/reports/fast_factory.py
  lib/tool_shed/webapp/fast_app.py
  lib/tool_shed/webapp/fast_factory.py
Labels: area/API, area/reports, area/toolshed, kind/enhancement

#11850 Beta history current history mismatch with legacy code.
  client/src/components/History/History.vue
  client/src/components/History/Scroller.vue
  client/src/components/History/adapters/changeGalaxyHistory.js
  client/src/components/History/caching/monitorHistoryContent.js
  client/src/components/History/model/History.js
  client/src/components/History/model/historyStore.js
  client/src/components/History/model/queries.js
  client/src/components/History/model/syncCurrentHistoryToGalaxy.js
  client/src/components/History/providers/HistoryContentProvider/contentPayload.js
  client/src/components/History/providers/UserHistories/UserHistories.js
  client/src/utils/observable/vuex.js
Labels: area/UI-UX, area/client, area/histories, kind/bug

#11878 [WIP] Reposition history scroller as fresh updates are cached
  client/src/components/History/History.vue
  client/src/components/History/Scroller.vue
  client/src/components/History/adapters/changeGalaxyHistory.js
  client/src/components/History/caching/monitorHistoryContent.js
  client/src/components/History/model/History.js
  client/src/components/History/model/historyStore.js
  client/src/components/History/model/queries.js
  client/src/components/History/model/syncCurrentHistoryToGalaxy.js
  client/src/components/History/providers/HistoryContentProvider/contentPayload.js
  client/src/components/History/providers/UserHistories/UserHistories.js
  client/src/utils/observable/vuex.js
Labels: area/UI-UX, area/client, area/histories, javascript, kind/bug, minor, status/WIP

#11879 Reposition history scroller during new updates
  client/src/components/History/providers/ContentProvider/ContentProvider.js
  client/src/components/History/providers/ContentProvider/processContentStreams.js
  client/src/components/History/providers/HistoryContentProvider/contentPayload.js
  client/src/components/History/providers/UserHistories/UserHistories.test.js
Labels: area/client, area/histories, javascript, kind/bug

#11883 Speed up get history list
  client/src/components/History/model/queries.js
Labels: area/API, area/UI-UX, area/client, area/histories, kind/bug, kind/enhancement

#11886 Handle resubmission before changing job state in CLI runner
  lib/galaxy/jobs/runners/cli.py
Labels: area/jobs, kind/bug

#11897 [21.01] Fix ``Delete account`` visibility
  client/src/components/providers/ConfigProvider.js
Labels: area/UI-UX, kind/bug

#11891 Complete Spanish language version
  client/src/nls/es/locale.js
Labels: area/UI-UX

#11896 [21.01] Backport of #11687: Expose command line if expose_dataset_path is set
  lib/galaxy/managers/jobs.py
  lib/galaxy_test/api/test_jobs.py
Labels: area/testing, area/testing/api, merge

#11900 Fix package CI.
  lib/galaxy/config/script.py
Labels: kind/bug, minor

#11880 add minerva display app for covid
  lib/galaxy/datatypes/display_applications/configs/minerva/tabular.xml
Labels: area/datatypes, kind/enhancement

#11901 Limit max column in tabular dataset preview
  lib/galaxy/datatypes/tabular.py
Labels: area/datatypes, kind/bug

#11907 Update framework dependencies
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  pyproject.toml
Labels: area/dependencies, kind/enhancement

#11899 Add subpathing to k8s_persistent_volume_claims
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/kubernetes-runner

#11884 Optimized beta history polling by leveraging history.update_time + loading behavior bug fixes
  client/src/components/History/History.vue
  client/src/components/History/HistoryEmpty.vue
  client/src/components/History/Scroller.vue
  client/src/components/History/adapters/HistoryPanelProxy.js
  client/src/components/History/caching/loadHistoryContents.js
  client/src/components/History/caching/operators/requestWithUpdateTime.js
  client/src/components/History/model/History.js
  client/src/components/History/model/historyStore.js
  client/src/components/History/model/queries.js
  client/src/components/History/providers/CollectionContentProvider/collectionPayload.js
  client/src/components/History/providers/ContentProvider/ContentProvider.js
  client/src/components/History/providers/ContentProvider/helpers.js
  client/src/components/History/providers/ContentProvider/index.js
  client/src/components/History/providers/ContentProvider/processContentStreams.js
  client/src/components/History/providers/HistoryContentProvider/contentPayload.js
  client/src/components/History/providers/HistoryContentProvider/loadContents.js
  client/src/components/History/providers/UserHistories/UserHistories.test.js
  client/src/utils/math.js
  client/src/utils/observable/decay.js
  client/src/utils/validation.js
  lib/galaxy/webapps/galaxy/api/history_contents.py
Labels: area/client, area/histories, javascript, kind/bug, kind/refactoring

#11906 [21.01] Shared visualization display fix
  templates/webapps/galaxy/visualization/display_in_frame.mako
Labels: area/visualizations, kind/bug

#11895 Implement switch to history modal for beta history panel
  client/src/components/History/CurrentHistoryPanel.vue
  client/src/components/History/HistoriesMenu.vue
  client/src/components/History/HistorySelector.vue
  lib/galaxy/managers/histories.py
Labels: area/UI-UX, area/client, area/histories
