Repository galaxyproject/galaxy, pull requests merged in 2021-09, with the labels that each got.

#12405 Revert a couple changes to Selenium tests to fix legacy Selenium tests.
  lib/galaxy/selenium/navigates_galaxy.py
Labels: kind/bug, minor, area/testing/selenium

#12406 Fix hids, alignment, other style issues in beta history.
  client/src/components/History/ContentItem/Dataset/DatasetUI.vue
  client/src/components/History/ContentItem/DatasetCollection/DscUI.vue
Labels: area/UI-UX

#12403 Debug Galaxy (that uses a Slurm cluster, not a LocalRunner) in VSCode
  doc/source/dev/debugging_galaxy_slurm.md
  doc/source/dev/index.rst
Labels: area/documentation

#12408 [21.05] Downgrade Cheetah3 to 3.2.6.post1
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: kind/bug, area/dependencies

#12401 Hide details header in dataset error page if details are unavailable
  client/src/components/DatasetInformation/DatasetError.vue
  client/src/components/DatasetInformation/DatasetErrorDetails.vue
Labels: kind/bug, area/UI-UX, minor

#12413 [21.01] Install Tempita from a fork due to `use_2to3` deprecation
  lib/galaxy/dependencies/pipfiles/default/pinned-requirements.txt
  packages/data/requirements.txt
Labels: kind/bug, area/packaging

#12407 Fixes to selenium testing with beta history panel enabled.
  client/src/components/History/HistoriesMenu.vue
  client/src/components/History/HistoryMenu.vue
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_history_multi_view.py
  lib/galaxy_test/selenium/test_history_structure.py
Labels: kind/bug, area/testing/selenium

#12361 tmp_dir can be an expression or the string True - fix sample job_conf…
  lib/galaxy/jobs/__init__.py
Labels: kind/bug, area/jobs

#12347 [21.01] Fix setting metadata for some Loom files
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/test_binary_loom_spec_version.loom
  lib/galaxy/model/metadata.py
Labels: kind/bug, area/datatypes

#12409 Don't allow beta history panel Selenium tests to fail.
  .github/workflows/selenium_beta.yaml
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_history_panel_collections.py
Labels: kind/enhancement, area/UI-UX, area/histories

#12230 show target datatype in datatype conversion
  lib/galaxy/webapps/galaxy/controllers/dataset.py
Labels: kind/enhancement, area/UI-UX

#12291 Parse edam operation and topic data from bio.tools if available.
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/tool_util/biotools/__init__.py
  lib/galaxy/tool_util/biotools/interface.py
  lib/galaxy/tool_util/biotools/source.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/biotools.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/integration/mock_biotools_content/data/Citation.js/Citation.js.biotools.json
  test/integration/mock_biotools_content/data/bwa/bwa.biotools.json
  test/integration/test_dynamic_edam_loading.py
  test/unit/config/test_config_values.py
  test/unit/tool_util/biotools/__init__.py
  test/unit/tool_util/biotools/_util.py
  test/unit/tool_util/biotools/mock_content/data/bwa/bwa.biotools.json
  test/unit/tool_util/biotools/test_edam_parsing.py
  test/unit/tool_util/biotools/test_metadata_source.py
Labels: kind/enhancement, area/tool-framework, highlight

#12388 create dirs when needed for the pyfilesystem export plugins
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/files/sources/_pyfilesystem2.py
  lib/galaxy/files/sources/ftp.py
  packages/app/requirements.txt
  pyproject.toml
Labels: kind/enhancement, area/framework

#12373 Improve k8s docker image
  .k8s_ci.Dockerfile
Labels: kind/enhancement, kind/refactoring, area/kubernetes-runner

#12097 Adding new subclass types
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#12064 Declarative mappings + tests for all models
  lib/galaxy/managers/ratable.py
  lib/galaxy/managers/users.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/item_attrs.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/metadata.py
  lib/galaxy/model/tags.py
  lib/galaxy/quota/__init__.py
  lib/galaxy/security/object_wrapper.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/wrappers.py
  lib/galaxy/util/dbkeys.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  packages/util/requirements.txt
  test/unit/data/test_galaxy_mapping.py
  test/unit/model/test_mapping.py
  test/unit/model/test_model.py
  test/unit/model/test_test_mapping.py
Labels: kind/enhancement, area/testing, area/database

#12336 Add "ExpressionSet RData object" Datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#11537 Update bam.iobio interactive tool wrapper
  tools/interactive/interactivetool_bam_iobio.xml
Labels: kind/enhancement, area/tools

#11068 Changes to Collection Operation Help sections and parameter names
  lib/galaxy/tools/apply_rules.xml
  lib/galaxy/tools/build_list.xml
  lib/galaxy/tools/extract_dataset.xml
  lib/galaxy/tools/filter_empty_collection.xml
  lib/galaxy/tools/filter_failed_collection.xml
  lib/galaxy/tools/filter_from_file.xml
  lib/galaxy/tools/flatten_collection.xml
  lib/galaxy/tools/merge_collection.xml
  lib/galaxy/tools/relabel_from_file.xml
  lib/galaxy/tools/sort_collection_list.xml
  lib/galaxy/tools/tag_collection_from_file.xml
  lib/galaxy/tools/unzip_collection.xml
  lib/galaxy/tools/zip_collection.xml
  static/images/tools/collection_ops/build_list.svg
  static/images/tools/collection_ops/filter_empty.svg
  static/images/tools/collection_ops/filter_error.svg
  static/images/tools/collection_ops/flatten.svg
  static/images/tools/collection_ops/unzip.svg
  static/images/tools/collection_ops/zip.svg
Labels: area/tools

#11315 Prepare FastAPI route for quotas
  lib/galaxy/actions/admin.py
  lib/galaxy/managers/quotas.py
  lib/galaxy/quota/_schema.py
  lib/galaxy/schema/schema.py
  lib/galaxy/web/params.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/api/quotas.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  packages/data/galaxy/schema
  test/integration/test_quota.py
Labels: kind/enhancement, kind/refactoring, area/API, area/testing/api, area/testing/integration

#11931 Added documentation for FASTQ datatypes and implemented quality check
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/sequence.py
Labels: area/datatypes

#11935 Make dataset preview for h5mlm datatype
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/1.h5mlm
Labels: kind/enhancement, area/datatypes

#12310 implement selecting a folder in file source (upload modal)
  client/src/components/FilesDialog/FilesDialog.test.js
  client/src/components/FilesDialog/FilesDialog.vue
  client/src/components/FilesDialog/model.js
  client/src/components/FilesDialog/services.js
  client/src/components/FilesDialog/testingData.js
  client/src/components/FilesDialog/utilities.js
  client/src/components/SelectionDialog/DataDialogTable.vue
  client/src/components/SelectionDialog/SelectionDialog.test.js
  client/src/components/SelectionDialog/selectionStates.js
Labels: kind/enhancement, area/UI-UX, area/upload, highlight

#12396 Implement news webhook to handle release announcements
  config/plugins/webhooks/news/config.yml
  config/plugins/webhooks/news/script.js
  config/plugins/webhooks/news/styles.css
Labels: area/documentation, area/UI-UX, kind/feature

#12255 Deprecate data manager version
  doc/source/dev/data_managers.rst
  lib/galaxy/tools/data_manager/manager.py
  scripts/fix_dm_versions.py
Labels: area/documentation, area/tool-framework

#12417 Adapt quotas tests to use JSON payload
  test/integration/test_quota.py
Labels: kind/refactoring, area/testing/api, area/testing/integration

#12423 Fix flaky failing workflow editor selenium test.
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: area/testing, area/testing/selenium

#12261 Add "View Details" button for collections
  client/src/app/singleton.js
  client/src/components/DatasetInformation/DatasetAttributes.test.js
  client/src/components/DatasetInformation/DatasetError.test.js
  client/src/components/DatasetInformation/DatasetError.vue
  client/src/components/DatasetInformation/DatasetInformation.test.js
  client/src/components/DatasetInformation/DatasetInformation.vue
  client/src/components/History/ContentItem/Dataset/DatasetMenu.vue
  client/src/components/History/ContentItem/DatasetCollection/DscMenu.vue
  client/src/components/History/ContentItem/DatasetCollection/DscUI.vue
  client/src/components/History/ContentItem/GenericContentItem/DatasetCollectionContents.vue
  client/src/components/History/ContentItem/GenericContentItem/DatasetCollectionUIWrapper.test.js
  client/src/components/History/ContentItem/GenericContentItem/DatasetCollectionUIWrapper.vue
  client/src/components/History/ContentItem/GenericContentItem/DatasetUIWrapper.test.js
  client/src/components/History/ContentItem/GenericContentItem/DatasetUIWrapper.vue
  client/src/components/History/ContentItem/GenericContentItem/GenericHistoryContent.vue
  client/src/components/HistoryExport/Index.test.js
  client/src/components/HistoryExport/ToLink.test.js
  client/src/components/HistoryExport/ToRemoteFile.test.js
  client/src/components/HistoryImport.test.js
  client/src/components/JobInformation/JobDetails.vue
  client/src/components/JobInformation/JobInformation.test.js
  client/src/components/JobInformation/JobOutputs.test.js
  client/src/components/JobInformation/JobOutputs.vue
  client/src/components/JobParameters/JobParameters.test.js
  client/src/components/JobParameters/JobParameters.vue
  client/src/components/JobParameters/JobParametersArrayValue.vue
  client/src/components/Masthead/Masthead.test.js
  client/src/components/Tool/ToolForm.test.js
  client/src/components/Upload/UploadModal.test.js
  client/src/components/Upload/UploadModal.vue
  client/src/components/User/RecentInvocations.test.js
  client/src/components/Workflow/Invocations.test.js
  client/src/components/WorkflowInvocationState/JobStep.test.js
  client/src/components/WorkflowInvocationState/JobStep.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationDetails.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationStep.vue
  client/src/components/WorkflowInvocationState/providers/DatasetProvider.js
  client/src/components/admin/Jobs.vue
  client/src/components/plugins/legacyNavigation.js
  client/src/components/providers/DatasetCollectionProvider.js
  client/src/components/providers/DatasetProvider.js
  client/src/components/providers/InvocationStepProvider.js
  client/src/components/providers/fetch.js
  client/src/components/providers/index.js
  client/src/components/providers/monitors.js
  client/src/components/providers/monitors.test.js
  client/src/components/providers/rxProviders.js
  client/src/components/providers/storeProviders.js
  client/src/entry/analysis/AnalysisRouter.js
  lib/galaxy/managers/jobs.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy_test/selenium/test_tool_form.py
Labels: area/UI-UX, area/admin, highlight

#12426 Fix is_of_type for datasets in a collection
  lib/galaxy/tools/wrappers.py
  test/functional/tools/is_of_type.xml
  test/functional/tools/samples_tool_conf.xml
Labels: kind/bug, minor, area/tool-framework

#12429 Add ONNX datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#12422 Selenium test for EDAM tool panel views.
  client/src/components/Panels/Buttons/PanelViewMenuItem.vue
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_workflow_editor.py
  test/integration_selenium/test_edam_tool_panel_views.py
Labels: kind/enhancement, area/testing/integration, area/testing/selenium

#12430 Fix mapping error in JobToInputDatasetCollectionAssociation
  lib/galaxy/model/__init__.py
Labels: kind/bug, minor, area/database

#12433 Improvements to Selenium testing
  client/src/mvc/annotation.js
  client/src/mvc/history/history-view-edit.js
  client/src/mvc/history/history-view.js
  client/src/ui/editable-text.js
  lib/galaxy/selenium/components.py
  lib/galaxy/selenium/data.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_history_panel.py
  lib/galaxy_test/selenium/test_history_panel_collections.py
  lib/galaxy_test/selenium/test_library_contents.py
Labels: area/UI-UX, area/testing, area/testing/selenium

#12365 Provide more context in EDAM Tool Panel
  client/src/components/Panels/Common/Tool.vue
  client/src/components/Panels/Common/ToolPanelLabel.vue
  client/src/components/Panels/Common/ToolPanelLinks.vue
  client/src/components/Panels/Common/ToolSection.test.js
  client/src/components/Panels/Common/ToolSection.vue
  client/src/components/Panels/ToolBox.vue
  client/src/style/scss/base.scss
  lib/galaxy/tool_util/edam_util.py
  lib/galaxy/tool_util/toolbox/panel.py
  lib/galaxy/tool_util/toolbox/views/edam.py
  test/unit/tool_util/test_edam_util.py
Labels: area/UI-UX, area/testing, area/tool-framework

#12434 Minor 'libary' typo fixes.
  client/src/components/Libraries/LibrariesList.vue
  client/src/components/Libraries/icons.js
  lib/galaxy/model/migrate/versions/0074_add_purged_column_to_library_dataset_table.py
  lib/galaxy/webapps/galaxy/api/tools.py
Labels: area/UI-UX, kind/refactoring, minor, area/API, area/tool-framework

#12392 also parse sam metadata from sam files
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/test/bam_from_sam.bam
  lib/galaxy/datatypes/test/sam_with_header.sam
  test/unit/data/datatypes/test_bam.py
Labels: kind/enhancement, area/datatypes

#12438 Set default constructor for SA models
  lib/galaxy/model/__init__.py
  test/unit/model/test_model.py
Labels: kind/bug, kind/enhancement, area/database

#12435 Update refgenconf (refgenie) to 0.12.0. Requires version 0.4 of confi…
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/tools/data/__init__.py
  pyproject.toml
Labels: area/dependencies, config/breaking

#12225 converters: Unify bcf converters
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/converters/bcf_bcf_uncompressed_converter.xml
  lib/galaxy/datatypes/converters/bcf_to_bcf_uncompressed_converter.xml
  lib/galaxy/datatypes/converters/bcf_uncompressed_to_bcf_converter.xml
Labels: area/datatypes

#12224 Converters: Unify dcd, trr, xtc
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/converters/mdconvert.xml
  lib/galaxy/datatypes/converters/trr_or_dcd_to_xtc.xml
  lib/galaxy/datatypes/converters/xtc_or_dcd_to_trr.xml
  lib/galaxy/datatypes/converters/xtc_or_trr_to_dcd.xml
Labels: area/datatypes

#12213 Converters: Unify converters to tabix and bgzip
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/converters/bed_to_bgzip_converter.xml
  lib/galaxy/datatypes/converters/bed_to_tabix_converter.xml
  lib/galaxy/datatypes/converters/encodepeak_to_bgzip_converter.xml
  lib/galaxy/datatypes/converters/encodepeak_to_tabix_converter.xml
  lib/galaxy/datatypes/converters/gff_to_bgzip_converter.xml
  lib/galaxy/datatypes/converters/gff_to_tabix_converter.xml
  lib/galaxy/datatypes/converters/interval_to_bgzip_converter.xml
  lib/galaxy/datatypes/converters/interval_to_tabix_converter.xml
  lib/galaxy/datatypes/converters/vcf_to_bgzip_converter.xml
  lib/galaxy/datatypes/converters/vcf_to_tabix_converter.xml
Labels: area/datatypes

#12424 Declarative mapping follow-up: model constructors cleanup
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/base/controller.py
  test/unit/model/test_mapping.py
Labels: kind/refactoring, area/database

#12280 mothur datatype: PairwiseDistanceMatrix sniffer may be too unspecific
  lib/galaxy/datatypes/mothur.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/test/2.tabular
  lib/galaxy/datatypes/test/test_tab2.tabular
Labels: kind/bug, area/datatypes

#12450 Fix typo in docs
  client/README.md
Labels: kind/bug, area/documentation, area/client

#12447 Make Role description field optional
  lib/galaxy/schema/schema.py
Labels: kind/bug, area/API

#12451 Drop sylink to tool_conf.xml.main
  config/tool_conf.xml.main
Labels: kind/bug, area/configuration

#12446 Lock location file before adding values
  lib/galaxy/tools/data/__init__.py
Labels: kind/enhancement, kind/refactoring, area/tools

#12432 Vuefy show_params.mako
  client/src/bundleEntries.js
  client/src/components/Dataset/DatasetStorage/index.js
  client/src/components/Dataset/DatasetStorage/mount.js
  client/src/components/DatasetInformation/index.js
  client/src/components/DatasetInformation/mount.js
  client/src/components/Details/DatasetDetails.vue
  client/src/components/History/ContentItem/Dataset/DatasetMenu.vue
  client/src/components/History/model/Dataset.js
  client/src/components/InheritanceChain/InheritanceChain.vue
  client/src/components/InheritanceChain/services.js
  client/src/components/JobDependencies/JobDependencies.vue
  client/src/components/JobDestinationParams/JobDestinationParams.test.js
  client/src/components/JobDestinationParams/JobDestinationParams.vue
  client/src/components/JobDestinationParams/index.js
  client/src/components/JobDestinationParams/mount.js
  client/src/components/JobInformation/JobDetails.vue
  client/src/components/JobInformation/JobInformation.vue
  client/src/components/JobInformation/index.js
  client/src/components/JobInformation/mount.js
  client/src/components/JobMetrics/JobMetrics.test.js
  client/src/components/JobMetrics/JobMetrics.vue
  client/src/components/JobMetrics/index.js
  client/src/components/JobMetrics/mount.js
  client/src/components/JobParameters/index.js
  client/src/components/JobParameters/mount.js
  client/src/entry/analysis/AnalysisRouter.js
  client/src/mvc/dataset/dataset-li.js
  client/src/mvc/dataset/dataset-model.js
  lib/galaxy/managers/jobs.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  lib/galaxy_test/selenium/test_tool_form.py
  templates/show_params.mako
Labels: area/UI-UX, area/API

#12444 Fix keycloak user creation username handling.
  lib/galaxy/authnz/custos_authnz.py
  test/unit/authnz/test_custos_authnz.py
Labels: area/testing

#12460 Backport Make components full width to 21.05
  client/src/components/Dataset/DatasetAsImage/DatasetAsImage.vue
  client/src/components/Markdown/Elements/HistoryDatasetCollection/CollectionDisplay.vue
  client/src/components/Markdown/Elements/HistoryDatasetDisplay.vue
  client/src/components/Markdown/Elements/JobMetrics.vue
  client/src/components/Markdown/Elements/JobParameters.vue
  client/src/components/Markdown/Elements/ToolStd.vue
  client/src/components/Markdown/Elements/Visualization.vue
  client/src/components/Markdown/Elements/Workflow/WorkflowDisplay.vue
Labels: area/UI-UX

#12427 Spanish Translations for remaining untranslated UI components
  client/src/components/Common/DelayedInput.vue
  client/src/components/DatasetInformation/DatasetAttributes.vue
  client/src/components/History/HistoryDetails.vue
  client/src/components/History/HistoryEmpty.vue
  client/src/components/Libraries/LibrariesList.vue
  client/src/components/Libraries/LibraryFolder/SearchField.vue
  client/src/components/Panels/Buttons/FavoritesButton.vue
  client/src/components/Panels/ToolBox.vue
  client/src/components/PluginList.vue
  client/src/components/Toolshed/Index.vue
  client/src/components/User/CloudAuth/CloudAuth.vue
  client/src/components/User/UserPreferences.vue
  client/src/components/User/UserPreferencesModel.js
  client/src/components/Workflow/WorkflowList.vue
  client/src/nls/de/locale.js
  client/src/nls/es/locale.js
  client/src/nls/fr/locale.js
  client/src/nls/locale.js
  client/src/nls/zh/locale.js
  doc/source/dev/index.rst
  doc/source/dev/translating.rst
Labels: status/WIP, area/UI-UX

#12461 Drop unused models: DeferredJob and TransferJob
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrate/versions/0178_drop_deferredjob_table.py
  lib/galaxy/model/migrate/versions/0179_drop_transferjob_table.py
  test/unit/model/test_mapping.py
Labels: kind/refactoring, area/database

#12456 Fix history contents API update batch with collections
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy_test/api/test_history_contents.py
Labels: kind/bug, area/testing, area/API, area/testing/api

#12462 Fix quota `bytes` type in pydantic
  lib/galaxy/quota/_schema.py
Labels: kind/bug, minor, area/API

#12214 Converters: Unify molecules converters
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/converters/cml_to_inchi_converter.xml
  lib/galaxy/datatypes/converters/cml_to_mol2_converter.xml
  lib/galaxy/datatypes/converters/cml_to_sdf_converter.xml
  lib/galaxy/datatypes/converters/inchi_to_cml_converter.xml
  lib/galaxy/datatypes/converters/inchi_to_mol2_converter.xml
  lib/galaxy/datatypes/converters/inchi_to_sdf_converter.xml
  lib/galaxy/datatypes/converters/inchi_to_smi_converter.xml
  lib/galaxy/datatypes/converters/mol2_to_cml_converter.xml
  lib/galaxy/datatypes/converters/mol2_to_inchi_converter.xml
  lib/galaxy/datatypes/converters/mol2_to_sdf_converter.xml
  lib/galaxy/datatypes/converters/mol2_to_smi_converter.xml
  lib/galaxy/datatypes/converters/mol_to_cml_converter.xml
  lib/galaxy/datatypes/converters/mol_to_inchi_converter.xml
  lib/galaxy/datatypes/converters/mol_to_mol2_converter.xml
  lib/galaxy/datatypes/converters/mol_to_smi_converter.xml
  lib/galaxy/datatypes/converters/molecules_converter.xml
  lib/galaxy/datatypes/converters/sdf_to_cml_converter.xml
  lib/galaxy/datatypes/converters/sdf_to_inchi_converter.xml
  lib/galaxy/datatypes/converters/sdf_to_mol2_converter.xml
  lib/galaxy/datatypes/converters/sdf_to_smi_converter.xml
  lib/galaxy/datatypes/converters/smi_to_cml_converter.xml
  lib/galaxy/datatypes/converters/smi_to_inchi_converter.xml
  lib/galaxy/datatypes/converters/smi_to_mol2_converter.xml
  lib/galaxy/datatypes/converters/smi_to_sdf_converter.xml
  test-data/drugbank_drugs.mol
Labels: area/datatypes

#12457 Return `tool_name` only when `show_job` is full
  lib/galaxy/managers/jobs.py
  lib/galaxy/webapps/galaxy/api/datasets.py
Labels: kind/refactoring, area/API

#11799 Feature/6965/change datatype and dbkey
  client/src/components/Collections/common/CollectionEditView.vue
  client/src/components/Collections/common/DatabaseEditTab.vue
  client/src/components/Collections/common/SuitableConvertersTab.vue
  client/src/components/History/ContentItem/DatasetCollection/DscMenu.vue
  client/src/components/providers/index.js
  client/src/components/providers/storeProviders.js
  client/src/entry/analysis/AnalysisRouter.js
  client/src/store/collectionAttributesStore.js
  client/src/store/datatypeStore.js
  client/src/store/genomeStore.js
  client/src/store/index.js
  lib/galaxy/datatypes/data.py
  lib/galaxy/managers/collections.py
  lib/galaxy/managers/hdcas.py
  lib/galaxy/model/__init__.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy/webapps/galaxy/api/dataset_collections.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy_test/api/test_dataset_collections.py
  lib/galaxy_test/api/test_tools.py
  lib/galaxy_test/selenium/test_collection_edit.py
  test/unit/data/test_galaxy_mapping.py
Labels: area/UI-UX, area/testing, area/API, area/testing/selenium

#12448 Easier to use static tool panel views.
  lib/galaxy/tool_util/toolbox/views/definitions.py
  lib/galaxy/tool_util/toolbox/views/static.py
  test/integration/panel_views_1/custom_11.yml
  test/integration/panel_views_1/custom_12.yml
  test/integration/test_panel_views.py
Labels: minor, area/tool-framework, area/testing/integration

#11043 Add `negate` attribute to validators .. and tests for all
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/dynamic_options.py
  lib/galaxy/tools/parameters/test/1.tabular
  lib/galaxy/tools/parameters/test/empty.txt
  lib/galaxy/tools/parameters/validation.py
  packages/test.sh
  test/functional/tools/samples_tool_conf.xml
  test/functional/tools/validation_dataset_metadata_in_file.xml
  test/functional/tools/validation_metadata_in_datatable.xml
  test/functional/tools/validation_value_in_datatable.xml
Labels: area/tool-framework

#11484 GPU enabled jupyter notebook for machine learning powered by Jupyter lab and Tensorflow
  tools/interactive/interactivetool_ml_jupyter_notebook.xml
Labels: kind/feature, area/tools, highlight

#12463 Remove default pagination in `LibraryPopulator.get_permissions()`
  lib/galaxy_test/api/test_libraries.py
  lib/galaxy_test/base/populators.py
Labels: kind/bug, area/testing, area/testing/api

#12472 Drop bcftools requirement from set_metadata tool
  lib/galaxy/datatypes/set_metadata_tool.xml
Labels: kind/refactoring, area/datatypes

#12481 removing appended name field for default_value
  lib/galaxy/util/dbkeys.py
  lib/galaxy_test/selenium/test_collection_edit.py
Labels: kind/bug, area/API

#12474 stripping whitespace on urls when uploading
  client/src/components/RuleCollectionBuilder.vue
Labels: kind/bug, area/API, paper-cut

#12484 Make the subject and body of the mailing list join message configurable
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/managers/users.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/documentation, area/admin, paper-cut

#12473 Add config options for controlling handler and runner monitor thread sleep.
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/webapps/galaxy/config_schema.yml
Labels: area/documentation, area/jobs, area/admin, paper-cut

#12465 Drop tool_name from dataset details
  client/src/components/Details/DatasetDetails.vue
  lib/galaxy/managers/jobs.py
Labels: kind/bug, area/UI-UX

#12483 Explicitly set `page_limit` in `test_get_library_available_permissions`
  lib/galaxy_test/base/populators.py
Labels: area/testing, area/testing/api

#12485 Update dataset edit toggle button to refer to dataset instead of coll…
  client/src/components/History/ContentItem/Dataset/DatasetUI.vue
Labels: kind/bug, area/UI-UX, paper-cut

#11085 New User Welcome page
  .gitignore
  client/gulpfile.js
  client/src/components/NewUserWelcome/NewUserWelcome.test.js
  client/src/components/NewUserWelcome/NewUserWelcome.vue
  client/src/components/NewUserWelcome/__mocks__/testing.json
  client/src/components/NewUserWelcome/components/Slides.vue
  client/src/components/NewUserWelcome/components/Subtopics.vue
  client/src/components/NewUserWelcome/components/Topics.vue
  client/src/components/NewUserWelcome/testData.json
  client/src/components/login/Register.vue
  client/src/entry/analysis/AnalysisRouter.js
  client/src/layout/menu.js
  config/plugins/welcome_page/new_user/package.json
  config/plugins/welcome_page/new_user/src/index.js
  config/plugins/welcome_page/new_user/webpack.config.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/managers/configuration.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/controllers/admin.py
Labels: area/UI-UX, kind/feature, highlight

#12471 Fix quota message in Edit Collection Attributes component
  client/src/components/Collections/common/CollectionEditView.vue
  client/src/components/providers/storeProviders.js
Labels: kind/bug, area/UI-UX, minor

#12494 revert a change to xsd
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: kind/bug, area/documentation, area/tool-framework

#12496 [21.05] Add PostgreSQL < 9.5 deprecation notice to 21.05 release announce
  doc/source/releases/21.05_announce.rst
Labels: kind/bug, area/documentation

#12497 Fix indention for admin panel links
  client/src/entry/panels/admin-panel.js
Labels: kind/bug, area/UI-UX

#12488 Handle deleted panel views in the UI.
  client/src/store/panelStore.js
  lib/galaxy/webapps/galaxy/api/tools.py
Labels: kind/bug, area/UI-UX, area/tool-framework

#12466 Add options to override the history name and reuse histories in the tool test script
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tool_util/verify/script.py
  test/unit/tool_util/test_verify_script.py
Labels: area/tool-framework

#12501 let invalid profile trigger linter error
  lib/galaxy/tool_util/linters/general.py
Labels: kind/enhancement, area/tool-framework

#12489 Fix bug when restarting Galaxy in selenium integration tests.
  lib/galaxy_test/selenium/framework.py
  test/integration_selenium/framework.py
Labels: kind/bug, area/testing/selenium

#11309 build list: list identifiers
  lib/galaxy/config/sample/tool_conf.xml.sample
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/build_list_1.2.0.xml
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/api/test_workflows.py
  test/functional/tools/samples_tool_conf.xml
Labels: kind/enhancement, area/tool-framework

#11738 NCBI Datasets data source tool
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/basic.py
  tools/data_source/ncbi_datasets.xml
Labels: area/tools, area/tool-framework

#12495 Fail data manager job when processing table entry fails
  client/src/components/JobInformation/JobInformation.vue
  lib/galaxy/jobs/__init__.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/data/__init__.py
  test/integration/test_data_manager.py
Labels: kind/bug, area/UI-UX, area/testing, area/jobs, area/tool-framework, area/testing/integration

#12283 Vuefy and improve granularity for tool HTML sanitization
  client/src/components/admin/BaseGrid.vue
  client/src/components/admin/DataTablesGrid.vue
  client/src/components/admin/Home.vue
  client/src/components/admin/SanitizeAllow.vue
  client/src/entry/admin/AdminRouter.js
  client/src/entry/panels/admin-panel.js
  client/src/style/scss/theme/blue.scss
  lib/galaxy/config/__init__.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/webapps/galaxy/api/sanitize_allow.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  templates/webapps/galaxy/admin/sanitize_allowlist.mako
Labels: kind/enhancement, kind/feature, area/tools, area/admin, area/client

#12504 Revert "Install Tempita from a fork due to `use_2to3` deprecation"
  packages/data/requirements.txt
Labels: kind/refactoring, area/packaging

#11701 Refactor Sharing
  client/src/components/Sharing.vue
  client/src/components/Sharing/Sharing.vue
  client/src/entry/analysis/AnalysisRouter.js
  client/src/utils/clipboard.js
  lib/galaxy/managers/configuration.py
  lib/galaxy/managers/histories.py
  lib/galaxy/managers/pages.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/managers/visualizations.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/api/pages.py
  lib/galaxy/webapps/galaxy/api/visualizations.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy/webapps/galaxy/controllers/page.py
  lib/galaxy/webapps/galaxy/controllers/visualization.py
  lib/galaxy_test/api/sharable.py
  lib/galaxy_test/api/test_histories.py
  lib/galaxy_test/selenium/test_history_sharing.py
  templates/webapps/galaxy/history/share.mako
Labels: area/UI-UX, kind/refactoring, area/framework, area/sharing

#12360 Refactor k8s IT checks to make logic more obvious
  lib/galaxy/jobs/runners/kubernetes.py
Labels: kind/refactoring, area/jobs, area/kubernetes-runner

#12505 FastAPI: explicitly return empty response with 204 status
  lib/galaxy/webapps/galaxy/api/pages.py
  lib/galaxy/webapps/galaxy/api/tags.py
Labels: kind/refactoring, area/API, paper-cut

#12507 Update version to 21.09.rc1
  lib/galaxy/version.py
  packages/app/galaxy/project_galaxy_app.py
  packages/auth/galaxy/project_galaxy_auth.py
  packages/containers/galaxy/project_galaxy_containers.py
  packages/data/galaxy/project_galaxy_data.py
  packages/job_execution/galaxy/project_galaxy_job_execution.py
  packages/job_metrics/galaxy/project_galaxy_job_metrics.py
  packages/meta/galaxy/project_galaxy_meta.py
  packages/objectstore/galaxy/project_galaxy_objectstore.py
  packages/selenium/galaxy/project_galaxy_selenium.py
  packages/test_api/galaxy/project_galaxy_test_api.py
  packages/test_base/galaxy/project_galaxy_test_base.py
  packages/test_driver/galaxy/project_galaxy_test_driver.py
  packages/test_selenium/galaxy/project_galaxy_test_selenium.py
  packages/tool_util/galaxy/project_galaxy_tool_util.py
  packages/util/galaxy/project_galaxy_util.py
  packages/web_framework/galaxy/project_galaxy_web_framework.py
  packages/web_stack/galaxy/project_galaxy_web_stack.py
  packages/webapps/galaxy/project_galaxy_webapps.py
Labels: merge

#12508 Version 22.01.dev
  Makefile
  lib/galaxy/version.py
  packages/app/galaxy/project_galaxy_app.py
  packages/auth/galaxy/project_galaxy_auth.py
  packages/containers/galaxy/project_galaxy_containers.py
  packages/data/galaxy/project_galaxy_data.py
  packages/job_execution/galaxy/project_galaxy_job_execution.py
  packages/job_metrics/galaxy/project_galaxy_job_metrics.py
  packages/meta/galaxy/project_galaxy_meta.py
  packages/objectstore/galaxy/project_galaxy_objectstore.py
  packages/selenium/galaxy/project_galaxy_selenium.py
  packages/test_api/galaxy/project_galaxy_test_api.py
  packages/test_base/galaxy/project_galaxy_test_base.py
  packages/test_driver/galaxy/project_galaxy_test_driver.py
  packages/test_selenium/galaxy/project_galaxy_test_selenium.py
  packages/tool_util/galaxy/project_galaxy_tool_util.py
  packages/util/galaxy/project_galaxy_util.py
  packages/web_framework/galaxy/project_galaxy_web_framework.py
  packages/web_stack/galaxy/project_galaxy_web_stack.py
  packages/webapps/galaxy/project_galaxy_webapps.py
Labels: merge

#12509 Fix cmap sniffer
  lib/galaxy/datatypes/tabular.py
Labels: area/datatypes

#12511 [21.09] Drop leftover error logging
  lib/galaxy/tools/parameters/validation.py
Labels: kind/bug, minor, area/tool-framework

#12521 [21.09] Restore truthy/falsy ExpressionValidator behavior
  lib/galaxy/tools/parameters/validation.py
Labels: kind/bug, minor, area/tool-framework

#12530 [21.09] Fix startup if a tool uses an unknown edam term
  lib/galaxy/tool_util/toolbox/views/edam.py
Labels: kind/bug, minor, area/tool-framework

#12386 FastAPI: Histories API migration
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/managers/configuration.py
  lib/galaxy/managers/histories.py
  lib/galaxy/managers/history_contents.py
  lib/galaxy/schema/__init__.py
  lib/galaxy/schema/schema.py
  lib/galaxy/schema/types.py
  lib/galaxy/web/framework/decorators.py
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy/webapps/galaxy/api/common.py
  lib/galaxy/webapps/galaxy/api/configuration.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy_test/api/test_framework.py
  lib/galaxy_test/api/test_histories.py
  pyproject.toml
  test/unit/api/test_configuration.py
Labels: kind/refactoring, area/testing, area/API, area/histories, area/testing/api

#12536 [21.09] Add profile that strips whitespace in from_work_dir outputs
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: kind/bug, area/tool-framework

#12524 Add support for caching the Singularity cached images directory
  lib/galaxy/tool_util/deps/container_resolvers/mulled.py
  test/unit/tool_util/test_container_resolution.py
Labels: kind/feature, area/tool-framework, area/tool-dependencies

#12522 Revised download() so parallel get() is utilized. Small refactor.
  lib/galaxy/objectstore/irods.py
Labels: area/objectstore

#12512 Remove workflow API hooks for tool shed.
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: kind/refactoring, area/API, area/workflows

#12513 Test cases to verify only admins can import workflows from paths.
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
Labels: area/workflows, area/testing/api

#12531 FastAPI: Add request wrapper for `SessionRequestContext`
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy/work/context.py
Labels: area/API

#12540 Modify description of the "database" label
  doc/source/project/issues.rst
Labels: kind/enhancement, area/documentation

#12537 Preserve important dataset metadata when importing/exporting histories.
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/__init__.py
  test/unit/tools/test_history_imp_exp.py
Labels: kind/bug, kind/enhancement, area/database, area/histories

#12538 Update SQLAlchemy to 1.4.25
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  packages/data/requirements.txt
  packages/web_framework/requirements.txt
  packages/web_stack/requirements.txt
  pyproject.toml
Labels: kind/refactoring, area/database, area/dependencies

#12468 Remove unused relationships from model
  lib/galaxy/model/__init__.py
  lib/galaxy/workflow/run.py
  test/unit/data/test_galaxy_mapping.py
  test/unit/model/test_mapping.py
Labels: kind/refactoring, area/database

#12547 fix test_sharing_valid_by_id selenium test
  lib/galaxy_test/selenium/test_history_sharing.py
Labels: area/testing, area/testing/selenium

#12550 Establish galaxy-job-execution unit test directory.
  packages/job_execution/tests/__init__.py
  packages/job_execution/tests/job_execution
  packages/job_execution/tests/test_datasets.py
  test/unit/job_execution/__init__.py
  test/unit/job_execution/test_datasets.py
Labels: kind/refactoring, area/testing, area/packaging

#12551 Establish galaxy-job-metrics unit test directory.
  packages/job_metrics/tests/__init__.py
  packages/job_metrics/tests/job_metrics
  packages/job_metrics/tests/test_job_metrics.py
  test/unit/job_metrics/__init__.py
  test/unit/job_metrics/test_job_metrics.py
Labels: area/testing, area/packaging

#12552 Fix up small issues around packaging of galaxy-tool-util code.
  lib/galaxy/tool_util/unittest_utils/__init__.py
  lib/galaxy/tool_util/unittest_utils/sample_data.py
  test/unit/tool_util/sample_data.py
  test/unit/tool_util/test_tool_loader.py
  test/unit/tool_util/test_verify.py
  test/unit/tools/test_toolbox.py
Labels: kind/refactoring, area/testing, area/packaging

#12539 [21.09] Respect tool version in verify_tool
  lib/galaxy/tool_util/verify/interactor.py
  test/functional/tools/multiple_versions_v01.xml
  test/functional/tools/multiple_versions_v02.xml
  test/integration/test_galaxy_interactor.py
Labels: kind/bug, area/testing

#12527 More linting for requirements
  lib/galaxy/tool_util/linters/general.py
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, area/tool-framework

#12515 [21.09] Enable data_source tools with requirements
  lib/galaxy/tools/__init__.py
Labels: area/tool-framework

#12548 Move API services to their own package
  lib/galaxy/managers/base.py
  lib/galaxy/managers/folders.py
  lib/galaxy/managers/histories.py
  lib/galaxy/managers/libraries.py
  lib/galaxy/managers/pages.py
  lib/galaxy/managers/quotas.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/managers/visualizations.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/folder_contents.py
  lib/galaxy/webapps/galaxy/api/folders.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy/webapps/galaxy/api/libraries.py
  lib/galaxy/webapps/galaxy/api/pages.py
  lib/galaxy/webapps/galaxy/api/quotas.py
  lib/galaxy/webapps/galaxy/api/visualizations.py
  lib/galaxy/webapps/galaxy/services/__init__.py
  lib/galaxy/webapps/galaxy/services/base.py
  lib/galaxy/webapps/galaxy/services/histories.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
  lib/galaxy/webapps/galaxy/services/libraries.py
  lib/galaxy/webapps/galaxy/services/library_folder_contents.py
  lib/galaxy/webapps/galaxy/services/library_folders.py
  lib/galaxy/webapps/galaxy/services/pages.py
  lib/galaxy/webapps/galaxy/services/quotas.py
  lib/galaxy/webapps/galaxy/services/sharable.py
  lib/galaxy/webapps/galaxy/services/visualizations.py
Labels: kind/refactoring, area/API, area/libraries

#12555 Share a tool_util unittest method via packing to fix up unit test dependencies.
  lib/galaxy/tool_util/unittest_utils/__init__.py
  test/unit/tool_util/toolbox/test_toolbox_filters.py
  test/unit/tools/test_toolbox.py
Labels: kind/refactoring, area/testing

#12523 Guard against instance of GenomeIndexToolData
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tools/evaluation.py
Labels: kind/bug, area/jobs

#12559 [21.09] Point newly generated urls to datasets/encoded_id/details, add fallback
  client/src/entry/analysis/AnalysisRouter.js
  lib/galaxy/managers/hdas.py
  lib/galaxy/tools/error_reports/plugins/sentry.py
  lib/galaxy/tools/errors.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/_create_history_template.py
Labels: kind/bug, area/UI-UX, minor, area/tool-framework

#12566 [21.09] Fix scratchbook on dataset details pages
  client/src/app/singleton.js
  client/src/components/History/ContentItem/Dataset/DatasetMenu.vue
  client/src/components/plugins/legacyNavigation.js
  client/src/mvc/dataset/dataset-li.js
Labels: area/UI-UX

#12561 [21.09] Catch datatype converion exception and return proper error
  lib/galaxy/datatypes/data.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
Labels: kind/bug, area/datatype-framework

#12565 [21.05] Fix async controller
  lib/galaxy/webapps/galaxy/controllers/async.py
Labels: kind/bug

#12572 [20.09] Guard against instance of GenomeIndexToolData
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tools/evaluation.py
Labels: kind/bug, area/jobs

#12516 Remove deprecated workflow run path through the API.
  lib/galaxy/config/config_manage.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/workflow/run.py
  lib/galaxy_test/api/test_jobs.py
  lib/galaxy_test/api/test_workflow_extraction.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
Labels: kind/enhancement, kind/refactoring, area/API, area/workflows

#12546 Establish unittest utils for galaxy-{data,objectstore} packages.
  lib/galaxy/model/unittest_utils/__init__.py
  lib/galaxy/model/unittest_utils/data_app.py
  lib/galaxy/objectstore/unittest_utils/__init__.py
  packages/data/setup.py
  packages/data/tests/unittest_utils/__init__.py
  packages/data/tests/unittest_utils/objectstore_helpers.py
  packages/objectstore/setup.py
  packages/objectstore/tests/unittest_utils/__init__.py
  packages/objectstore/tests/unittest_utils/objectstore_helpers.py
  packages/test.sh
  test/unit/data/dataset_collections/__init__.py
  test/unit/data/dataset_collections/test_matching.py
  test/unit/data/model/1.txt
  test/unit/data/model/2.bed
  test/unit/data/model/__init__.py
  test/unit/data/model/common.py
  test/unit/data/model/conftest.py
  test/unit/data/model/test_database_utils.py
  test/unit/data/model/test_mapping.py
  test/unit/data/model/test_model.py
  test/unit/data/model/test_model_discovery.py
  test/unit/data/model/test_model_store.py
  test/unit/data/model/test_test_mapping.py
  test/unit/data/model/test_views.py
  test/unit/data/test_model_copy.py
  test/unit/objectstore/test_objectstore.py
  test/unit/tools/test_history_imp_exp.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: kind/refactoring, area/testing, area/packaging

#12556 Better path handling in app unit tests for packaging.
  test/unit/jobs/test_expression_run.py
  test/unit/jobs/test_job_configuration.py
  test/unit/visualizations/plugins/test_VisualizationsRegistry.py
Labels: kind/refactoring, area/testing, area/packaging

#12573 Add test for dataset HTML sanitization interface
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_admin_app.py
Labels: area/testing, area/testing/selenium

#12581 [21.09] Fix a small bug in Error summary Vue template.
  client/src/components/History/ContentItem/Dataset/Summary/Error.vue
Labels: kind/bug, area/UI-UX

#12567 Release note draft
  doc/source/releases/21.09.rst
  doc/source/releases/21.09_announce.rst
  doc/source/releases/21.09_announce_user.rst
  doc/source/releases/21.09_prs.rst
Labels: area/documentation

#12586 [21.09] Fix job detail caching
  client/src/components/Details/DatasetDetails.vue
Labels: area/UI-UX

#12575 [21.05] Delay start of job runners
  lib/galaxy/app.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/manager.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/chronos.py
  lib/galaxy/jobs/runners/cli.py
  lib/galaxy/jobs/runners/condor.py
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy/jobs/runners/godocker.py
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/local.py
  lib/galaxy/jobs/runners/pbs.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/util/monitors.py
  test/unit/jobs/test_runner_local.py
Labels: kind/bug, area/jobs

#12591 [21.09] Fix output state handling, disable connectivity for conditionals
  client/src/components/Workflow/Editor/Forms/FormTool.vue
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/NodeOutput.vue
  client/src/components/Workflow/Editor/modules/outputs.js
  client/src/style/scss/workflow.scss
  client/tests/qunit/tests/workflow_editor_tests.js
Labels: kind/bug, area/UI-UX

#12607 [21.05] Fix file source restrictions
  lib/galaxy/files/__init__.py
  lib/galaxy/files/sources/__init__.py
  lib/galaxy/managers/remote_files.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/webapps/galaxy/api/remote_files.py
  test/integration/test_remote_files_posix.py
Labels: kind/bug, area/testing, area/API, area/tool-framework, area/testing/integration
