Repository galaxyproject/galaxy, pull requests merged in 2022-01, with the labels that each got.

#13081 Fix tag attribute parsing on input element
  client/src/components/Form/Elements/parameters.js
Labels: kind/bug, area/UI-UX

#13112 Fix selenium test via dropping redundant test case
  lib/galaxy_test/selenium/test_tool_form.py
  test/functional/tools/bibtex.xml
Labels: kind/bug, area/testing/selenium

#13114 Merge release_21.09 into dev
  client/src/components/History/ContentItem/Dataset/DatasetMenu.vue
  client/src/components/plugins/legacyNavigation.js
  client/src/mvc/dataset/dataset-li-edit.js
  client/src/mvc/dataset/dataset-li.js
  lib/galaxy/jobs/handler.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/jobs.py
Labels: area/UI-UX, area/API, area/jobs, merge

#13116 Delay iframe creation for news until clicked
  config/plugins/webhooks/news/script.js
Labels: kind/bug, area/UI-UX

#13104 Add Back button in file source navigation and ftp helper text
  client/src/components/FilesDialog/FilesDialog.test.js
  client/src/components/FilesDialog/FilesDialog.vue
  client/src/components/FilesDialog/testingData.js
  client/src/components/SelectionDialog/SelectionDialog.vue
Labels: area/UI-UX

#13103 Implement fastAPI prefix handling, run selenium tests against prefix
  .github/workflows/selenium.yaml
  .github/workflows/selenium_beta.yaml
  client/src/components/PageEditor/PageEditorHtml.vue
  client/src/components/Tags/tagService.js
  client/src/layout/masthead.js
  client/src/libs/jquery/jquery.wymeditor.js
  client/webpack.config.js
  config/plugins/webhooks/demo/tour_generator/script.js
  config/plugins/webhooks/demo/tour_generator/tour_generator.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  lib/galaxy/webapps/galaxy/fast_app.py
  lib/galaxy/webapps/reports/buildapp.py
  lib/galaxy_test/api/test_histories.py
  lib/galaxy_test/api/test_history_contents.py
  lib/galaxy_test/api/test_jobs.py
  lib/galaxy_test/api/test_tools_upload.py
  lib/galaxy_test/api/test_workflow_extraction.py
  lib/galaxy_test/base/api.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/base/testcase.py
  lib/galaxy_test/driver/driver_util.py
  lib/galaxy_test/driver/integration_util.py
  lib/tool_shed/webapp/buildapp.py
  templates/webapps/galaxy/page/wymiframe.mako
  test/integration/test_workflow_scheduling_options.py
  test/integration/uses_shed.py
Labels: area/documentation, area/UI-UX, area/testing, area/reports, area/admin, area/testing/integration, area/testing/selenium, area/client

#13107 Prevent select all in FilesDialog when no entries and select empty resource
  client/src/components/FilesDialog/FilesDialog.vue
Labels: area/UI-UX

#13120 Fix header content-length, add test for send_file
  lib/galaxy/web/framework/base.py
  test/unit/webapps/test_send_file.py
Labels: kind/bug, area/admin

#13123 Initial typing for model discover module.
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/model/store/discover.py
  setup.cfg
Labels: kind/enhancement, kind/refactoring, area/database

#13124 Fix tabular dataset display.
  client/src/mvc/dataset/data.js
Labels: kind/bug, area/UI-UX, minor

#13087 Add Neper and Gmsh datatypes
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/constructive_solid_geometry.py
  lib/galaxy/datatypes/test/test.gmsh.msh
  lib/galaxy/datatypes/test/test.neper.tesr
  lib/galaxy/datatypes/test/test.neper.tess
Labels: kind/enhancement, area/datatypes

#13126 added description of inpcrd and prmtop
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#13130 Fix routing for tool execution from gtn webhook
  config/plugins/webhooks/gtn/script.js
Labels: kind/bug, area/webhooks

#13127 Fix logo link when using prefix
  client/src/layout/masthead.js
Labels: kind/bug, area/UI-UX, minor

#13125 Remove duplicated pydantic models
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
Labels: kind/refactoring, area/API

#13083 add ampvis2 datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#13134 [21.09] Fix history import for datasets with tags
  lib/galaxy/tools/imp_exp/__init__.py
  lib/galaxy_test/base/populators.py
Labels: kind/bug, area/testing, area/tool-framework

#13137 Fix .tell() error
  lib/galaxy/datatypes/converters/fastq_to_fqtoc.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/tabular.py
  test/unit/data/datatypes/test_tabular.py
  test/unit/data/datatypes/util.py
Labels: kind/bug, minor, area/testing, area/datatypes

#13142 Don't template version command using cheetah
  lib/galaxy/tools/evaluation.py
  test/functional/tools/version_command_plain.xml
Labels: kind/bug, minor, area/tool-framework

#13138 [21.09] Backport of prefix fixes
  client/src/components/PageEditor/PageEditorHtml.vue
  client/src/components/Tags/tagService.js
  client/src/layout/masthead.js
  client/src/libs/jquery/jquery.wymeditor.js
  config/plugins/webhooks/demo/tour_generator/script.js
  config/plugins/webhooks/demo/tour_generator/tour_generator.js
  lib/galaxy/webapps/base/webapp.py
Labels: kind/bug, area/UI-UX, merge

#13143 Add more required dependencies for installed Galaxy
  lib/galaxy/webapps/galaxy/api/__init__.py
  packages/app/requirements.txt
  packages/webapps/requirements.txt
Labels: area/packaging

#13151 Allow any format in export tool
  tools/data_export/export_remote.xml
Labels: area/tools

#13155 Fix publicPath and asset handling when using webpack-dev-server for HMR
  client/webpack.config.js
Labels: kind/bug, area/client

#13156 [21.09] Fix staticUrlToPrefixed url rewriting
  client/src/layout/masthead.js
Labels: kind/bug, area/UI-UX, minor

#13154 [21.09] Limit lifetime of repository cache
  lib/galaxy/app.py
  lib/galaxy/queue_worker.py
  lib/galaxy/structured_app.py
  lib/galaxy/tool_shed/galaxy_install/metadata/installed_repository_metadata_manager.py
  lib/galaxy/tool_shed/util/repository_util.py
  lib/galaxy/tool_shed/util/tool_dependency_util.py
  lib/galaxy/tool_util/toolbox/base.py
  lib/galaxy/tools/cache.py
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  test/unit/tools/test_tool_shed_repository_cache.py
Labels: area/testing, area/tool-framework

#13148 Update DatasetError.vue
  client/src/components/DatasetInformation/DatasetError.vue
Labels: area/UI-UX

#13162 Merge forward 21.09
  client/src/layout/masthead.js
  lib/galaxy/app.py
  lib/galaxy/queue_worker.py
  lib/galaxy/structured_app.py
  lib/galaxy/tool_shed/galaxy_install/metadata/installed_repository_metadata_manager.py
  lib/galaxy/tool_shed/util/repository_util.py
  lib/galaxy/tool_shed/util/tool_dependency_util.py
  lib/galaxy/tool_util/toolbox/base.py
  lib/galaxy/tools/cache.py
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  test/unit/app/tools/test_tool_shed_repository_cache.py
Labels: kind/bug, merge, area/tool-framework

#13163 Remove migrate tools-related code
  client/src/components/admin/Home.vue
  client/src/entry/panels/admin-panel.js
  client/src/nls/es/locale.js
  client/src/nls/fr/locale.js
  client/src/nls/ja/locale.js
  client/src/nls/locale.js
  client/src/nls/zh/locale.js
  lib/galaxy/selenium/navigation.yml
  lib/galaxy/util/tool_shed/common_util.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/tool_shed/test/base/twilltestcase.py
  templates/admin/review_tool_migration_stages.mako
Labels: area/UI-UX, kind/refactoring, area/tool-framework

#13167 enable macros for workflow scheduler config
  lib/galaxy/workflow/scheduling_manager.py
Labels: area/workflows

#13098 Avoid imports of history provider internals
  client/src/components/DatasetInformation/DatasetAttributes.test.js
  client/src/components/DatasetInformation/DatasetInformation.test.js
  client/src/components/History/ContentItem/GenericContentItem/DatasetCollectionUIWrapper.test.js
  client/src/components/History/ContentItem/GenericContentItem/DatasetUIWrapper.test.js
  client/src/components/History/model/queries.js
  client/src/components/HistoryExport/Index.test.js
  client/src/components/HistoryExport/ToLink.test.js
  client/src/components/HistoryExport/ToRemoteFile.test.js
  client/src/components/HistoryImport.test.js
  client/src/components/JobInformation/JobInformation.test.js
  client/src/components/JobInformation/JobOutputs.test.js
  client/src/components/JobParameters/JobParameters.test.js
  client/src/components/Masthead/Masthead.test.js
  client/src/components/Upload/UploadModal.test.js
  client/src/components/User/RecentInvocations.test.js
  client/src/components/Workflow/Invocations.test.js
  client/src/components/WorkflowInvocationState/JobStep.test.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.js
  client/src/components/providers/History/caching/index.js
Labels: area/UI-UX

#12698 Misc. fixes for SQLAlchemy 2.0
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrate/versions/util.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/model/view/__init__.py
  lib/galaxy/model/view/utils.py
  test/unit/data/model/test_views.py
Labels: kind/refactoring, area/database

#13080 Fix issue with uploading cached file to irods
  lib/galaxy/objectstore/irods.py
  test/integration/objectstore/test_objectstore_datatype_upload.py
  test/integration/test_datatype_upload.py
Labels: area/objectstore

#13157 [21.09] Fix re-run with rerun_remap_job_id hiding collection
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy_test/api/test_jobs.py
Labels: kind/bug, area/jobs, area/dataset-collections

#13128 [PROCEDURES] Remove Oleg from committers list
  doc/source/project/organization.rst
Labels: procedures, area/documentation

#13129 [PROCEDURES] Remove Dave C. from committers list
  doc/source/project/organization.rst
Labels: procedures, area/documentation

#13165 Replace backref with back_populates
  lib/galaxy/model/__init__.py
Labels: kind/refactoring, area/database

#12937 Vuefy Number and Slider Form inputs
  client/src/components/Form/Elements/FormNumber.test.js
  client/src/components/Form/Elements/FormNumber.vue
  client/src/components/Form/Elements/parameters.js
  client/src/components/Form/FormElement.vue
  client/src/mvc/ui/ui-misc.js
  client/src/mvc/ui/ui-slider.js
  client/tests/qunit/tests/ui_tests.js
Labels: area/UI-UX

#13094 Allow duplicated static options
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, area/tool-framework

#13176 [21.09] Show yaml files in preview
  lib/galaxy/datatypes/text.py
Labels: kind/bug, area/datatypes

#12978 provide more context for lint context
  lib/galaxy/tool_util/lint.py
  lib/galaxy/tool_util/linters/citations.py
  lib/galaxy/tool_util/linters/command.py
  lib/galaxy/tool_util/linters/general.py
  lib/galaxy/tool_util/linters/help.py
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/linters/outputs.py
  lib/galaxy/tool_util/linters/stdio.py
  lib/galaxy/tool_util/linters/tests.py
  lib/galaxy/tool_util/linters/xml_order.py
  test/unit/tool_util/test_tool_linters.py
Labels: kind/enhancement, kind/feature, area/tool-framework

#13166 converting forward and reverse filters to reactive Vue array
  client/src/components/Collections/PairedListCollectionCreator.test.js
  client/src/components/Collections/PairedListCollectionCreator.vue
  client/tests/qunit/test-data/paired-collection-creator.data.js
Labels: kind/bug, area/UI-UX

#13180 Merge 21.09 into dev
  lib/galaxy/datatypes/text.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy_test/api/test_jobs.py
Labels: area/testing, merge, area/datatypes, area/tool-framework, area/testing/api

#12099 Add datatype iml_dataset subclassing html
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/data.py
Labels: area/datatypes, status/needs feedback

#13170 Limit maximum number of discovered files per job
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app_unittest_utils/galaxy_mock.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/metadata/__init__.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/metadata.py
  lib/galaxy/webapps/galaxy/config_schema.yml
  test/integration/test_max_discovered_files.py
  test/unit/app/jobs/test_job_context.py
Labels: area/documentation, area/testing, area/jobs, area/admin, area/tool-framework

#13179 [21.09] Catch exceptions when job.user is None
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/actions/post.py
  lib/galaxy/managers/jobs.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/reports/controllers/jobs.py
  templates/webapps/reports/job_info.mako
Labels: kind/bug, area/API

#13182 [21.09] Backport of iRODS Object Store path name fix in #13080
  lib/galaxy/objectstore/irods.py
  test/integration/objectstore/test_objectstore_datatype_upload.py
  test/integration/test_datatype_upload.py
Labels: area/testing, merge, area/objectstore, area/testing/integration

#13185 Sync tool identifier string with tool version in workflow editor
  client/src/components/Form/Elements/FormNumber.vue
  client/src/components/Form/FormElement.test.js
  client/src/components/Workflow/Editor/Forms/FormTool.test.js
  client/src/components/Workflow/Editor/Forms/FormTool.vue
Labels: kind/bug, area/UI-UX, area/workflows

#13152 XML macros: add named yields, tokenized macros, tokens for attributes, and fix replacement of toplevel yield
  lib/galaxy/util/xml_macros.py
  test/unit/tool_util/test_tool_loader.py
Labels: area/util

#12685 Mark sniffer for fastqillumina as not implemented
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/upload_util.py
Labels: kind/enhancement, area/datatypes

#13202 [21.09] Fix metadata source access in tool shed
  lib/galaxy/tools/__init__.py
  test/unit/unittest_utils/galaxy_mock.py
Labels: kind/bug, area/tool-framework

#13203 [21.09] Fix error getting toolshed repo metadata when no repo found
  lib/tool_shed/webapp/api/repositories.py
Labels: kind/bug, area/toolshed

#13196 [21.09] Fix tool id update when updating tool shed tools in editor
  client/src/components/Workflow/Editor/Forms/FormTool.vue
  client/src/components/Workflow/Editor/Node.vue
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/base/tool_sheds_conf.xml
  lib/galaxy_test/base/uses_shed.py
  lib/galaxy_test/selenium/framework.py
  lib/galaxy_test/selenium/test_workflow_editor.py
  packages/test_base/MANIFEST.in
  packages/test_base/setup.py
  test/integration/test_data_manager.py
  test/integration/test_data_manager_refgenie.py
  test/integration/test_repository_operations.py
  test/integration/test_shed_tool_tests.py
  test/integration_selenium/test_workflow_repository_tool_update.py
Labels: kind/bug, area/UI-UX, area/workflows

#13147 Path resolution fixes for installed Galaxy
  lib/galaxy/config/__init__.py
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/config/schemas/job_config_schema.yml
  lib/galaxy/config/schemas/uwsgi_schema.yml
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/uwsgi_schema.yml
  lib/galaxy/webapps/galaxy/workers.py
  lib/galaxy/webapps/reports/config.py
  lib/galaxy/webapps/reports/uwsgi_schema.yml
  lib/galaxy_test/driver/driver_util.py
  lib/tool_shed/test/functional_tests.py
  lib/tool_shed/webapp/config.py
  lib/tool_shed/webapp/uwsgi_schema.yml
  packages/app/MANIFEST.in
  packages/app/galaxy/config_schema.yml
  packages/app/galaxy/job_config_schema.yml
  packages/app/galaxy/uwsgi_schema.yml
  packages/app/setup.py
  packages/webapps/requirements.txt
  pyproject.toml
  scripts/release-diff.py
  test/unit/app/jobs/test_job_configuration.py
  test/unit/webapps/test_routes.py
Labels: kind/bug

#13189 Allow mapping of collection outputs to parameter inputs
  client/src/components/Workflow/Editor/modules/terminals.js
  client/tests/qunit/tests/workflow_editor_tests.js
Labels: kind/bug, area/UI-UX, area/workflows

#13208 Fix test_deserialize_* unit tests
  lib/galaxy/tools/remote_tool_eval.py
  test/unit/app/tools/test_tool_deserialization.py
Labels: kind/bug, area/testing

#13215 Support "show all running" in admin job interface
  client/src/components/admin/Jobs.vue
Labels: area/UI-UX, area/admin

#13214 [21.09] Fix hide collections in batch
  lib/galaxy/schema/schema.py
  lib/galaxy_test/api/test_history_contents.py
Labels: kind/bug, area/API, area/histories

#13210 [21.09] Backport allow mapping of collection outputs to parameter inputs
  client/src/components/Workflow/Editor/modules/terminals.js
  client/tests/qunit/tests/workflow_editor_tests.js
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: merge, area/testing/selenium

#13218 Prevent a future regression
  lib/galaxy/model/migrate/versions/0180_add_vault_table.py
Labels: kind/refactoring, area/database

#13204 Bugfix for allowing +'s in tool urls
  client/src/entry/analysis/AnalysisRouter.js
Labels: kind/bug, area/UI-UX

#13221 Merge release_21.09 into dev
  client/src/components/Workflow/Editor/Node.vue
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/api/test_history_contents.py
  lib/galaxy_test/base/tool_sheds_conf.xml
  lib/galaxy_test/base/uses_shed.py
  lib/galaxy_test/selenium/framework.py
  lib/galaxy_test/selenium/test_workflow_editor.py
  packages/test_base/MANIFEST.in
  packages/test_base/setup.py
  test/integration/test_data_manager.py
  test/integration/test_data_manager_refgenie.py
  test/integration/test_repository_operations.py
  test/integration/test_shed_tool_tests.py
  test/integration_selenium/test_workflow_repository_tool_update.py
Labels: area/UI-UX, area/testing, area/API, merge, area/testing/api, area/testing/integration, area/testing/selenium, area/packaging

#13193 [21.09] Fix workflow invocation name overflow
  client/src/components/Workflow/Invocations.test.js
  client/src/components/Workflow/Invocations.vue
Labels: kind/bug, area/UI-UX

#13216 [21.09] Handle unique tag name constraints
  lib/galaxy/model/tags.py
  test/unit/managers/test_TagHandler.py
Labels: kind/bug, area/testing, area/database

#13227 [21.09] Skip non-Selenium tests if only lib/galaxy_test/selenium is touched
  .github/workflows/api.yaml
  .github/workflows/api_paste.yaml
  .github/workflows/db_indexes.yaml
  .github/workflows/docs.yaml
  .github/workflows/first_startup.yaml
  .github/workflows/framework.yaml
  .github/workflows/integration.yaml
  .github/workflows/mulled.yaml
  .github/workflows/osx_startup.yaml
  .github/workflows/performance.yaml
  .github/workflows/toolshed.yaml
  .github/workflows/unit.yaml
Labels: area/testing

#13174 [21.09] Fix workflow connections for outputs that are not displayed in uploads
  client/src/components/Datatypes/factory.js
  client/src/components/Datatypes/model.js
  client/src/components/Datatypes/services.js
  client/src/components/Markdown/Elements/HistoryDatasetDisplay.vue
  client/src/components/ToolRecommendation.vue
  client/src/components/Workflow/Editor/Index.vue
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/base/workflow_fixtures.py
  lib/galaxy_test/selenium/framework.py
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: area/UI-UX, area/testing, area/testing/selenium

#13231 [21.09] Ensure tool_id/content_id is updated when refactoring workflows
  lib/galaxy/workflow/refactor/execute.py
  lib/galaxy_test/base/workflow_fixtures.py
  test/integration/test_workflow_refactoring.py
Labels: area/testing, area/workflows, area/testing/integration

#13217 Ensure that jQuery updates drop target locations during dragging
  client/src/components/Workflow/Editor/modules/canvas.js
  client/src/components/Workflow/Editor/modules/dragging.js
  client/src/libs/jquery/jquery.event.drag.js
Labels: kind/bug, area/UI-UX

#13171 Enable setting SQLALCHEMY_WARN_20
  .github/workflows/api.yaml
  .github/workflows/api_paste.yaml
  .github/workflows/integration.yaml
  .github/workflows/integration_selenium.yaml
  .github/workflows/selenium.yaml
  .github/workflows/selenium_beta.yaml
  lib/galaxy/config/__init__.py
Labels: kind/feature, area/database

#13235 Bump default milestone
  .github/workflows/maintenance_bot.yaml
Labels: merge

#13159 Assorted Data Libraries fixes
  client/src/components/Libraries/LibrariesList.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolder.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderDataset/LibraryDataset.test.js
  client/src/components/Libraries/LibraryFolder/LibraryFolderDataset/LibraryDataset.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/LibraryFolderDatasetPermissions.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolderPermissions/LibraryFolderPermissions.vue
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
  client/src/components/Libraries/LibraryPermissions/LibraryPermissions.vue
  lib/galaxy/managers/libraries.py
  lib/galaxy_test/api/test_libraries.py
  lib/galaxy_test/base/populators.py
Labels: kind/bug, kind/enhancement, area/UI-UX, area/API, area/libraries

#13233 Add dynamic step to FormNumber range slider
  client/src/components/Form/Elements/FormNumber.test.js
  client/src/components/Form/Elements/FormNumber.vue
Labels: kind/bug, area/UI-UX, area/tools

#13219 Enable display of BAM data without sequence info
  lib/galaxy/datatypes/binary.py
Labels: kind/bug, area/datatypes

#13228 Remove `jquery.complexify` from everywhere
  client/gulpfile.js
  client/package.json
  client/src/libs/jquery.custom.js
  client/yarn.lock
  lib/tool_shed/webapp/templates/webapps/tool_shed/user/change_password.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/user/register.mako
Labels: area/UI-UX, area/client

#13238 Change display_in_upload to true for PHAR datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#13178 Fix stdio parsing
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: kind/bug, area/tool-framework

#13237 Hide form fields and button upon successful submission of bug report
  client/src/components/DatasetInformation/DatasetError.test.js
  client/src/components/DatasetInformation/DatasetError.vue
Labels: kind/bug, kind/enhancement, area/client

#13230 [21.09] Fix adding new files via tarball upload
  lib/tool_shed/util/commit_util.py
  lib/tool_shed/util/hg_util.py
  lib/tool_shed/webapp/controllers/repository.py
  test/unit/shed_unit/test_hg_util.py
Labels: kind/bug, area/toolshed

#12528 Various extensions and improvements for asserts
  doc/parse_gx_xsd.py
  lib/galaxy/tool_util/linters/tests.py
  lib/galaxy/tool_util/verify/asserts/__init__.py
  lib/galaxy/tool_util/verify/asserts/_util.py
  lib/galaxy/tool_util/verify/asserts/archive.py
  lib/galaxy/tool_util/verify/asserts/hdf5.py
  lib/galaxy/tool_util/verify/asserts/size.py
  lib/galaxy/tool_util/verify/asserts/tabular.py
  lib/galaxy/tool_util/verify/asserts/text.py
  lib/galaxy/tool_util/verify/asserts/xml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/unit/tool_util/test_tool_linters.py
  test/unit/tool_util/verify/test_asserts.py
Labels: area/tool-framework

#13175 Add new datatype GRIB
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/test.grib
Labels: kind/feature, area/datatypes

#13223 Add compression converter
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/converters/uncompressed_to_gz.xml
  lib/galaxy/datatypes/registry.py
  lib/galaxy_test/api/test_dataset_collections.py
Labels: kind/enhancement, area/datatypes

#13188 Fix redirect to login page when login is required to perform operations
  lib/galaxy/web/framework/decorators.py
  lib/tool_shed/webapp/controllers/repository.py
  lib/tool_shed/webapp/controllers/repository_review.py
  lib/tool_shed/webapp/controllers/upload.py
  lib/tool_shed/webapp/controllers/user.py
  lib/tool_shed/webapp/framework/decorators.py
Labels: kind/bug, area/UI-UX

#13139 fix MetadataValidator
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/constructive_solid_geometry.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/images.py
  lib/galaxy/datatypes/neo4j.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/text.py
  lib/galaxy/datatypes/xml.py
  lib/galaxy/model/metadata.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/test/1.bed
  lib/galaxy/tools/parameters/validation.py
Labels: kind/bug, kind/enhancement, kind/refactoring, area/tool-framework

#13249 [21.9] Fix one usage of hg_util.remove_file
  lib/tool_shed/util/commit_util.py
Labels: kind/bug, minor, area/toolshed

#13254 [21.09] Fix imported sub-workflows cannot be edited
  lib/galaxy/webapps/galaxy/controllers/workflow.py
Labels: kind/bug, area/workflows/subworkflows

#13246 Initialize error attribute in input model for workflows
  client/src/components/Form/FormDisplay.test.js
  client/src/components/Form/FormDisplay.vue
  client/src/components/Form/utilities.js
  client/src/components/Form/utilities.test.js
  client/src/components/Tool/ToolForm.vue
  client/src/components/Workflow/Run/model.js
Labels: kind/bug, area/UI-UX

#13260 FormNumber: notify value change on slider change
  client/src/components/Form/Elements/FormNumber.test.js
  client/src/components/Form/Elements/FormNumber.vue
Labels: kind/bug, area/UI-UX, area/tools

#13186 Provide even more context to the lint context
  lib/galaxy/tool_util/cwl/schema.py
  lib/galaxy/tool_util/lint.py
  lib/galaxy/tool_util/linters/citations.py
  lib/galaxy/tool_util/linters/command.py
  lib/galaxy/tool_util/linters/cwl.py
  lib/galaxy/tool_util/linters/general.py
  lib/galaxy/tool_util/linters/help.py
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/linters/outputs.py
  lib/galaxy/tool_util/linters/stdio.py
  lib/galaxy/tool_util/linters/tests.py
  lib/galaxy/tool_util/linters/xml_order.py
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/util/xml_macros.py
  test/unit/tool_util/test_tool_linters.py
  test/unit/tool_util/test_tool_loader.py
Labels: area/testing, area/tool-framework, area/util

#13261 Large peptide IDs
  config/plugins/visualizations/mvpapp/package.json
  config/plugins/visualizations/mvpapp/src/index.js
Labels: area/visualizations

#13183 Workflow invocation pagination
  client/package.json
  client/src/components/User/RecentInvocations.test.js
  client/src/components/User/RecentInvocations.vue
  client/src/components/User/UserServices.js
  client/src/components/User/__mocks__/UserServices.js
  client/src/components/Workflow/Invocations.test.js
  client/src/components/Workflow/Invocations.vue
  client/src/components/Workflow/UserInvocations.vue
  client/src/components/admin/ActiveInvocations.vue
  client/src/components/admin/AdminServices.js
  client/src/components/providers/InvocationsProvider.js
  client/src/components/providers/monitors/index.js
  client/src/components/providers/monitors/monitorHistoriesUntilTrue.js
  client/src/components/providers/monitors/monitorHistoriesUntilTrue.test.js
  client/src/components/providers/monitors/monitors.js
  client/src/components/providers/monitors/monitors.test.js
  client/src/entry/analysis/AnalysisRouter.js
  client/yarn.lock
  lib/galaxy/config/__init__.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/schema/fields.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/api/test_workflows.py
  test/unit/webapps/api/test_id_fields.py
Labels: area/UI-UX, area/API, area/admin

#13251 Add openPBS cli support, rebuild CLI test images
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/jobs/runners/util/cli/job/pbs.py
  lib/galaxy/jobs/runners/util/cli/job/torque.py
  test/integration/test_cli_runners.py
Labels: area/dependencies, area/testing/integration

#13262 Use dev version of Gravity temporarily
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: area/dependencies

#13265 Fix expect_test_failure for expect_num_outputs
  lib/galaxy/tool_util/verify/interactor.py
Labels: kind/bug, area/tool-framework

#13236 add documentation for output action attributes
  lib/galaxy/tool_util/parser/output_actions.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/tool-framework

#13250 Add option for disabling tool shed datatypes...
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
Labels: kind/bug, area/documentation, area/admin

#13274 Maintain redirect if login is necessary
  lib/galaxy/web/framework/decorators.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  lib/galaxy/webapps/galaxy/controllers/visualization.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  lib/galaxy_test/selenium/test_workflow_sharing.py
  templates/webapps/galaxy/workflow/sharing.mako
Labels: kind/bug, kind/enhancement, area/UI-UX

#13273 Update dependencies
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  pyproject.toml
Labels: area/dependencies

#13278 [22.01] Fix gravity requirement for Poetry
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/dependencies/update.sh
  pyproject.toml
  scripts/common_startup.sh
Labels: kind/bug, area/dependencies
