Repository galaxyproject/galaxy, pull requests merged in 2022-09, with the labels that each got.

#14555 Cleanup noisey warning in JobParameters.test.js.
  client/src/components/JobParameters/JobParameters.test.js
  client/src/components/JobParameters/JobParameters.vue
Labels: kind/bug, area/testing, area/client

#14556 Use url's database to connect at startup
  lib/galaxy/model/migrations/__init__.py
Labels: kind/bug, area/database

#14561 Use active attribute for some dropdown menus
  client/src/components/Masthead/MastheadItem.vue
  client/src/components/Panels/Buttons/PanelViewMenuItem.vue
  client/src/style/scss/overrides.scss
  client/src/style/scss/unsorted.scss
Labels: area/UI-UX

#14551 Remove more dead code from tool shed.
  lib/galaxy/tool_shed/metadata/metadata_generator.py
  lib/tool_shed/galaxy_install/dependency_display.py
  lib/tool_shed/galaxy_install/utility_containers/__init__.py
  lib/tool_shed/utility_containers/__init__.py
  lib/tool_shed/utility_containers/utility_container_manager.py
Labels: kind/enhancement, area/toolshed

#14550 [22.05] Update Gravity to 0.13.4 and document setting env vars on dynamic handlers
  doc/source/admin/scaling.md
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: area/documentation, area/admin, area/dependencies

#14563 [22.05] Fix workflow parameter connectability
  client/src/components/Workflow/Editor/modules/terminals.js
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: kind/bug, area/workflows

#14558 Fix reference to config option in schema
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/tool_shed.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
Labels: kind/bug, area/configuration

#14554 Remove no longer useful API endpoint in the toolshed.
  lib/tool_shed/test/functional/test_shed_repositories.py
  lib/tool_shed/webapp/api/repositories.py
  lib/tool_shed/webapp/buildapp.py
Labels: kind/refactoring, area/toolshed

#14523 Revise masthead route handling and component
  client/src/components/Masthead/Masthead.test.js
  client/src/components/Masthead/Masthead.vue
  client/src/components/Masthead/MastheadItem.vue
  client/src/components/Masthead/_webhooks.js
  client/src/components/Masthead/initMasthead.js
  client/src/components/Masthead/utilities.js
  client/src/components/Panels/ToolBox.vue
  client/src/components/User/ExternalIdentities/ExternalIdentities.vue
  client/src/components/User/UserDeletion.vue
  client/src/components/User/UserPreferences.vue
  client/src/components/plugins/legacyNavigation.js
  client/src/entry/analysis/App.vue
  client/src/entry/analysis/index.js
  client/src/entry/analysis/menu.js
  client/src/layout/masthead.js
  client/src/layout/window-manager.js
  client/src/utils/logout.js
  client/src/utils/redirect.js
  client/src/utils/redirect.test.js
  templates/webapps/galaxy/galaxy.masthead.mako
Labels: kind/bug, kind/enhancement, area/UI-UX, kind/refactoring

#14565 Fix ``output_action_change_format`` framework tests
  lib/galaxy/tool_util/parser/output_actions.py
  lib/galaxy/tools/parameters/dynamic_options.py
  lib/galaxy/tools/wrappers.py
  test/unit/app/tools/test_wrappers.py
Labels: kind/bug, area/testing, area/tool-framework

#14552 Include HID count in quick history menu switcher
  client/src/components/History/Modals/SelectorModal.vue
  lib/galaxy/managers/histories.py
  lib/galaxy/model/__init__.py
  lib/galaxy/schema/schema.py
Labels: kind/enhancement, area/UI-UX, area/histories, area/backend

#14513 [21.01] fix metadata setting for bed and interval
  lib/galaxy/datatypes/interval.py
  test/functional/tools/metadata_bed.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/testing

#14571 Drop GitHub workflow for legacy history Selenium tests
  .github/workflows/selenium_beta.yaml
  lib/galaxy_test/selenium/framework.py
Labels: kind/enhancement, area/UI-UX, area/testing, area/testing/selenium

#14570 Add config option for post logout redirect url
  client/src/components/Masthead/MastheadItem.vue
  client/src/utils/logout.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/authnz/__init__.py
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/managers/configuration.py
  lib/galaxy/webapps/galaxy/controllers/authnz.py
Labels: kind/enhancement, area/configuration

#14503 Place security policy in canonical location
  CONTRIBUTING.md
  SECURITY.md
  doc/source/project/organization.rst
  doc/source/releases/17.09_announce.rst
Labels: procedures, area/documentation, area/security

#14540 [PROCEDURES] Re-license under MIT all work from 2021-04-07 onwards
  .github/pull_request_template.md
  LICENSE.txt
Labels: procedures

#14362 Add datatypes for Sybila tools
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/test/test_file1.pithya.model
  lib/galaxy/datatypes/test/test_file1.pithya.property
  lib/galaxy/datatypes/test/test_file1.pithya.result
  lib/galaxy/datatypes/test/test_file2.storm.check
  lib/galaxy/datatypes/test/test_file2.storm.sample
  lib/galaxy/datatypes/test/test_file3.bcsl.model
  lib/galaxy/datatypes/test/test_file3.bcsl.ts
  lib/galaxy/datatypes/test/test_file3.ctl.result
  lib/galaxy/datatypes/text.py
  mypy.ini
  test/unit/data/datatypes/test_bcsl.py
  test/unit/data/datatypes/test_pithya.py
  test/unit/data/datatypes/test_storm.py
  test/unit/data/datatypes/util.py
Labels: area/datatypes

#14581 Consistently use our ``now()`` in the model
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/database

#14391 Feature: Advanced Tool Search Menu
  client/src/components/Common/DelayedInput.vue
  client/src/components/Panels/Common/ScrollToTopButton.vue
  client/src/components/Panels/Common/ToolAdvancedSearch.vue
  client/src/components/Panels/Common/ToolAdvancedSearchResults.vue
  client/src/components/Panels/Common/ToolSearch.test.js
  client/src/components/Panels/Common/ToolSearch.vue
  client/src/components/Panels/Common/services.js
  client/src/components/Panels/ToolBox.vue
  client/src/components/providers/storeProviders.js
  client/src/entry/analysis/router.js
  client/src/store/toolStore.js
  client/src/style/scss/ui.scss
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: area/UI-UX, kind/feature, area/tools, highlight

#14590 [22.01] Include /bin in sample systemd unit path
  doc/source/admin/scaling.md
Labels: kind/bug, area/documentation

#14564 Don't query the database when running migrations in offline mode
  lib/galaxy/model/migrations/util.py
Labels: kind/bug, area/database

#14593 Update docs on adding Python dependencies
  doc/source/admin/framework_dependencies.rst
Labels: kind/enhancement, area/documentation, area/admin

#14592 Misc fixes 202209
  .github/labeler.yml
  .gitignore
  CONTRIBUTORS.md
  client/src/components/Workflow/WorkflowList.vue
  doc/Makefile
  doc/source/admin/tool_panel.rst
  doc/source/dev/run_tests_help.txt
  lib/galaxy/webapps/galaxy/api/workflows.py
  packages/app/README.rst
  packages/auth/README.rst
  packages/config/README.rst
  packages/data/README.rst
  packages/files/README.rst
  packages/job_execution/README.rst
  packages/job_metrics/README.rst
  packages/navigation/README.rst
  packages/objectstore/README.rst
  packages/selenium/README.rst
  packages/test_api/README.rst
  packages/test_base/README.rst
  packages/test_driver/README.rst
  packages/test_selenium/README.rst
  packages/tool_util/README.rst
  packages/tours/README.rst
  packages/util/README.rst
  packages/web_framework/README.rst
  packages/web_stack/README.rst
  packages/webapps/README.rst
  tools/expression_tools/pick_value.xml
Labels: kind/bug, area/documentation, area/UI-UX, area/API, area/tools, area/admin, area/packaging

#13985 New history multiple view
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/Dataset/DatasetDetails.vue
  client/src/components/History/CurrentCollection/CollectionPanel.vue
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/Modals/SelectorModal.test.js
  client/src/components/History/Modals/SelectorModal.vue
  client/src/components/History/Multiple/MultipleView.test.js
  client/src/components/History/Multiple/MultipleView.vue
  client/src/components/History/Multiple/MultipleViewItem.vue
  client/src/components/History/Multiple/MultipleViewList.vue
  client/src/components/providers/MockUserHistories.js
  client/src/entry/analysis/router.js
  client/src/store/historyStore/historyItemsStore.js
  client/src/utils/navigation/navigation.yml
  client/src/utils/promise-queue.js
  client/src/utils/promise-queue.test.js
  client/tests/jest/jest.config.js
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy_test/selenium/test_history_multi_view.py
Labels: area/UI-UX

#14553 More API tests for the tool shed.
  lib/tool_shed/test/base/populators.py
  lib/tool_shed/test/functional/test_galaxy_install.py
  lib/tool_shed/test/functional/test_shed_repositories.py
  lib/tool_shed/webapp/api/repositories.py
  lib/tool_shed_client/schema/__init__.py
Labels: kind/enhancement, area/testing, area/toolshed

#14535 Panel init template cleanup
  client/src/components/Masthead/Masthead.vue
  client/src/components/Workflow/Editor/Forms/FormSection.vue
  client/src/components/admin/AdminPanel.vue
  client/src/entry/analysis/modules/Admin.vue
  lib/tool_shed/webapp/templates/base/base_panels.mako
  templates/base/base_panels.mako
  templates/webapps/galaxy/galaxy.panels.mako
Labels: area/UI-UX

#14603 [22.05] Backport #14283
  static/robots.txt
Labels: merge

#14598 Some additional typing for galaxy.util.path.
  lib/galaxy/util/compression_utils.py
  lib/galaxy/util/path/__init__.py
Labels: kind/enhancement, area/framework

#14582 Unit tests and type fixes for tool data tables code.
  lib/galaxy/managers/tool_data.py
  lib/galaxy/tools/data/__init__.py
  lib/galaxy/tools/data/_schema.py
  lib/galaxy/util/__init__.py
  test/unit/app/tools/test_tool_data.py
Labels: kind/refactoring, area/testing, area/tools

#14576 Implement API endpoint for calculating dataset hashes asynchronously
  lib/galaxy/celery/tasks.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/users.py
  lib/galaxy/model/__init__.py
  lib/galaxy/schema/tasks.py
  lib/galaxy/tool_util/deps/__init__.py
  lib/galaxy/util/hash_util.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/services/datasets.py
  lib/galaxy_test/api/test_datasets.py
  lib/galaxy_test/base/populators.py
  lib/tool_shed/util/admin_util.py
  lib/tool_shed/webapp/model/__init__.py
Labels: kind/enhancement, area/API

#14604 linter: check for inputs with duplicated names
  lib/galaxy/tool_util/linters/inputs.py
  test/unit/tool_util/test_tool_linters.py
Labels: kind/enhancement, area/testing, area/tool-framework

#14543 Allow changing type of regex rule in RBU
  client/src/components/RuleCollectionBuilder.vue
  client/src/mvc/rules/rule-definitions.js
Labels: area/UI-UX

#14607 [22.01] Pin CacheControl to prevent missing dependency
  packages/tool_util/setup.py
Labels: kind/bug, area/packaging

#14587 Use hsluv to generate colors instead of hsl
  client/package.json
  client/src/components/Nametags/Nametag.vue
  client/src/components/Tags/model.js
  client/src/mvc/ui/ui-select-default.js
  client/src/utils/color.js
  client/yarn.lock
Labels: kind/enhancement, area/UI-UX, area/client

#14608 Multipanel cleanup, remove dead code
  client/src/bundleEntries.js
  client/src/components/History/Modals/SelectorModal.vue
  client/src/components/Workflow/Run/WorkflowRunSuccess.vue
  client/src/mvc/history/multi-panel.js
  client/src/style/scss/history.scss
  lib/galaxy/webapps/galaxy/controllers/history.py
  templates/webapps/galaxy/history/view_multiple.mako
Labels: area/UI-UX, kind/refactoring

#14613 Remove mypy exceptions for deleted files.
  .github/workflows/lint.yaml
  mypy.ini
Labels: kind/bug, kind/refactoring, area/toolshed

#14612 Remove unused tool shed functions.
  lib/galaxy/util/tool_shed/common_util.py
  lib/tool_shed/util/common_util.py
Labels: kind/enhancement, kind/refactoring, area/toolshed

#14614 Change HTTP status code for ``DeprecatedMethod`` exception to 410
  lib/galaxy/exceptions/__init__.py
  lib/galaxy/exceptions/error_codes.json
Labels: kind/bug, area/backend

#14595 Implement RO Crate export of Galaxy histories and invocations.
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/model/store/__init__.py
  lib/galaxy/schema/schema.py
  packages/data/setup.cfg
  pyproject.toml
  test/integration/test_workflow_tasks.py
  test/unit/data/model/test_model_store.py
Labels: kind/enhancement, area/workflows

#14623 Upgrade vue2-jest to 29.1.0
  client/package.json
  client/yarn.lock
Labels: kind/enhancement, area/client

#14615 More Tool Shed Cleanup
  lib/galaxy/model/tool_shed_install/__init__.py
  lib/galaxy/tool_shed/galaxy_install/install_manager.py
  lib/galaxy/tool_shed/galaxy_install/installed_repository_manager.py
  lib/galaxy/tool_shed/metadata/metadata_generator.py
  lib/galaxy/util/tool_shed/xml_util.py
  lib/tool_shed/dependencies/attribute_handlers.py
  lib/tool_shed/util/xml_util.py
Labels: kind/refactoring, area/toolshed

#14616 More tool shed API tests (+fixes)
  lib/galaxy/model/orm/engine_factory.py
  lib/tool_shed/test/base/api_util.py
  lib/tool_shed/test/base/populators.py
  lib/tool_shed/test/functional/test_shed_repositories.py
  lib/tool_shed/test/functional/test_shed_tools.py
  lib/tool_shed/util/shed_index.py
  lib/tool_shed/webapp/api/tools.py
  lib/tool_shed/webapp/app.py
  lib/tool_shed/webapp/buildapp.py
  lib/tool_shed/webapp/model/mapping.py
  lib/tool_shed/webapp/search/tool_search.py
  lib/tool_shed_client/schema/__init__.py
  test/unit/shed_unit/model/test_mapping.py
Labels: kind/enhancement, area/toolshed

#14624 Fix `toolbox` access in invocation export
  lib/galaxy/workflow/modules.py
Labels: kind/bug, area/backend

#14617 Remove legacy tool shed datatype handling
  lib/galaxy/app.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/datatypes/registry.py
  lib/galaxy/tool_shed/galaxy_install/datatypes/__init__.py
  lib/galaxy/tool_shed/galaxy_install/datatypes/custom_datatype_manager.py
  lib/galaxy/tool_shed/galaxy_install/installed_repository_manager.py
Labels: kind/bug, kind/enhancement, area/toolshed, area/datatypes

#14580 [PROCEDURES] Recommend to use PR draft state instead of WIP title/label
  doc/source/project/issues.rst
  doc/source/project/organization.rst
Labels: procedures, area/documentation

#14596 Better + additional fix for alembic offline mode
  lib/galaxy/model/migrations/util.py
Labels: kind/bug, area/database

#14628 Cleanup update_repository_manager in Galaxy repository install code.
  lib/galaxy/tool_shed/galaxy_install/install_manager.py
  lib/galaxy/tool_shed/galaxy_install/update_repository_manager.py
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
Labels: kind/refactoring, area/toolshed

#14626 Improvements to mypy setup.
  mypy.ini
  scripts/mypy_config_utils.py
Labels: kind/bug, kind/enhancement, area/framework

#14630 Remove outdated display structured history view
  client/src/components/DisplayStructured.vue
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
  client/src/components/History/adapters/betaToggle.js
  client/src/entry/analysis/router.js
  client/src/mvc/history/options-menu.js
  client/src/utils/navigation/navigation.yml
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/_create_history_template.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy_test/selenium/test_history_structure.py
Labels: area/UI-UX, kind/refactoring

#14609 Place Toolshed JS modules into separate bundle
  client/src/bundleToolshed.js
  client/webpack.config.js
  lib/tool_shed/webapp/templates/base.mako
  lib/tool_shed/webapp/templates/base/base_panels.mako
  lib/tool_shed/webapp/templates/legacy/grid_base.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/group/index.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/common.mako
  templates/webapps/tool_shed/repository/common.mako
Labels: kind/refactoring, area/toolshed

#14629 Type annotations for base toolbox functionality.
  lib/galaxy/tool_util/toolbox/base.py
  mypy.ini
Labels: kind/enhancement, area/tools

#14639 Fix export RO-crate to file source
  lib/galaxy/model/store/__init__.py
  test/integration/test_workflow_tasks.py
Labels: kind/bug, area/backend

#14648 Drop unnecessary config tests
  test/integration/test_config_defaults.py
  test/unit/config/test_config_values.py
  test/unit/config/test_load_config.py
Labels: kind/refactoring, area/configuration

#14642 Refactor tool shed registry into utility code.
  lib/galaxy/app.py
  lib/galaxy/structured_app.py
  lib/galaxy/util/tool_shed/tool_shed_registry.py
  lib/galaxy/util/tool_shed/xml_util.py
  lib/galaxy/webapps/galaxy/services/workflows.py
  mypy.ini
Labels: kind/refactoring, area/toolshed

#14643 Enable simplified workflow with optional disconnected data inputs
  client/src/components/Workflow/Run/WorkflowRun.test.js
  client/src/components/Workflow/Run/model.js
  client/src/components/Workflow/Run/model.test.js
Labels: kind/bug, kind/enhancement, area/UI-UX, area/workflows, highlight

#14649 Remove repository review functionality from tool shed.
  lib/tool_shed/grids/repository_review_grids.py
  lib/tool_shed/grids/util.py
  lib/tool_shed/test/base/test_db_util.py
  lib/tool_shed/test/base/twilltestcase.py
  lib/tool_shed/test/functional/test_0400_repository_component_reviews.py
  lib/tool_shed/test/functional/test_0410_repository_component_review_access_control.py
  lib/tool_shed/util/metadata_util.py
  lib/tool_shed/util/review_util.py
  lib/tool_shed/util/shed_index.py
  lib/tool_shed/webapp/api/groups.py
  lib/tool_shed/webapp/controllers/repository.py
  lib/tool_shed/webapp/controllers/repository_review.py
  lib/tool_shed/webapp/model/__init__.py
  lib/tool_shed/webapp/security/__init__.py
  lib/tool_shed/webapp/templates/webapps/tool_shed/admin/index.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/common/common.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/common/repository_actions_menu.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/index.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/manage_repository.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/rate_repository.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/view_repository.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository_review/browse_review.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository_review/create_component.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository_review/edit_component.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository_review/edit_review.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository_review/grid.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository_review/reviews_of_changeset_revision.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository_review/reviews_of_repository.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository_review/select_previous_review.mako
  test/unit/shed_unit/model/test_mapping.py
Labels: kind/refactoring, area/toolshed

#14656 ToolShedApp for more correct typing in tool shed code.
  lib/tool_shed/metadata/repository_metadata_manager.py
  lib/tool_shed/structured_app.py
  lib/tool_shed/webapp/api/__init__.py
  lib/tool_shed/webapp/app.py
Labels: kind/enhancement, area/toolshed

#14653 Eliminated JQuery from PluginList
  client/src/components/Visualizations/PluginList.vue
Labels: area/UI-UX

#14663 Remove now redundant base class
  lib/galaxy_test/api/_framework.py
Labels: kind/refactoring, area/testing, area/testing/api

#14657 Some more typing for test populators.
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/selenium/framework.py
Labels: kind/enhancement, area/testing

#14638 Remove legacy history usage from js-modules
  client/src/components/Collections/ListCollectionCreatorModal.js
  client/src/components/Collections/PairCollectionCreatorModal.js
  client/src/components/Collections/RuleBasedCollectionCreatorModal.js
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.vue
  client/src/components/History/HistoryView.vue
  client/src/components/History/adapters/HistoryPanelProxy.js
  client/src/components/History/adapters/buildCollectionModal.js
  client/src/components/HistoryView.vue
  client/src/components/Libraries/LibraryFolder/TopToolbar/import-to-history/import-collection.js
  client/src/components/Upload/Collection.vue
  client/src/components/Upload/RulesInput.vue
  client/src/components/Upload/helpers.js
  client/src/entry/analysis/router.js
  client/src/mvc/history/history-list.js
  client/src/store/historyStore/historyStore.js
  client/src/store/historyStore/model/History.js
  client/src/store/historyStore/model/History.test.js
  client/src/store/historyStore/model/queries.js
  lib/galaxy_test/selenium/test_histories_list.py
Labels: kind/bug, area/UI-UX, kind/refactoring

#14669 Various unsorted tool shed code cleanup.
  lib/galaxy/model/tool_shed_install/__init__.py
  lib/galaxy/tool_shed/metadata/metadata_generator.py
  lib/galaxy/tool_shed/util/repository_util.py
  lib/tool_shed/util/shed_index.py
Labels: kind/refactoring, area/toolshed

#14671 VCF/Tabular display fix
  client/src/mvc/dataset/data.js
Labels: area/UI-UX

#14668 Cleanup tool_util.py
  lib/galaxy/tool_shed/galaxy_install/install_manager.py
  lib/galaxy/tool_shed/metadata/metadata_generator.py
  lib/galaxy/tool_shed/util/tool_util.py
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/tool_shed/tools/tool_validator.py
  lib/tool_shed/util/tool_util.py
Labels: kind/refactoring, area/toolshed

#14675 Generate somewhat valid SafeStringWrapper-wrapped class names
  lib/galaxy/security/object_wrapper.py
Labels: kind/bug, kind/refactoring, area/security

#14681 Tool Shed and Tool Utility Cleanup
  lib/galaxy/tool_shed/util/basic_util.py
  lib/galaxy/tool_shed/util/repository_util.py
  lib/galaxy/tool_util/toolbox/parser.py
  lib/tool_shed/util/basic_util.py
  lib/tool_shed/util/repository_util.py
Labels: kind/refactoring, area/toolshed

#14641 [22.05] Fix delayed optional data input handling
  client/src/components/Workflow/Run/WorkflowRunDefaultStep.vue
  client/src/components/Workflow/Run/WorkflowRunForm.vue
  client/src/components/Workflow/Run/WorkflowRunInputStep.vue
  client/src/components/Workflow/Run/WorkflowRunToolStep.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationStep.vue
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/model/__init__.py
  lib/galaxy/workflow/run.py
  lib/galaxy/workflow/run_request.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/base/workflow_fixtures.py
  test/unit/workflows/test_workflow_progress.py
Labels: kind/bug, area/UI-UX, area/API, area/workflows

#14659 History drag and drop
  client/src/components/Dataset/DatasetLink/DatasetLink.vue
  client/src/components/Dataset/DatasetList.vue
  client/src/components/Dataset/compositeDatasetUtils.js
  client/src/components/Dataset/services.js
  client/src/components/History/CurrentHistory/HistoryDropZone.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
Labels: area/UI-UX, highlight

#14683 Add type hints for galaxy.workflow.{run, run_request}
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run.py
  lib/galaxy/workflow/run_request.py
  lib/galaxy/workflow/schedulers/core.py
  test/unit/workflows/test_workflow_progress.py
Labels: kind/refactoring, area/testing, area/workflows

#14673 Packaging and configurability for the container monitor script
  lib/galaxy/config/sample/job_conf.xml.sample_advanced
  lib/galaxy/job_execution/container_monitor.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy_ext/container_monitor/monitor.py
  packages/job_execution/setup.cfg
  test/unit/app/jobs/job_conf.sample_advanced.yml
Labels: area/testing, area/jobs, area/packaging

#14682 More typing for tool shed install and relevant utility code.
  lib/galaxy/structured_app.py
  lib/galaxy/tool_shed/galaxy_install/install_manager.py
  lib/galaxy/tool_shed/galaxy_install/installed_repository_manager.py
  lib/galaxy/tool_shed/galaxy_install/metadata/installed_repository_metadata_manager.py
  lib/galaxy/tool_shed/galaxy_install/tools/data_manager.py
  lib/galaxy/tool_shed/galaxy_install/tools/tool_panel_manager.py
  lib/galaxy/tool_shed/tools/data_table_manager.py
  lib/galaxy/tool_shed/util/container_util.py
  lib/galaxy/tool_shed/util/hg_util.py
  lib/galaxy/tool_shed/util/repository_util.py
  lib/galaxy/tools/data_manager/manager.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/renamed_temporary_file.py
  lib/galaxy/util/tool_shed/common_util.py
  lib/galaxy/util/tool_shed/xml_util.py
  mypy.ini
  test/integration/test_repository_operations.py
Labels: kind/refactoring, area/toolshed

#14691 More typing and unit testing for tool test verification functions
  lib/galaxy/tool_util/unittest_utils/__init__.py
  lib/galaxy/tool_util/unittest_utils/interactor.py
  lib/galaxy/tool_util/verify/__init__.py
  lib/galaxy/tool_util/verify/asserts/__init__.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tool_util/verify/script.py
  lib/galaxy/tool_util/verify/test_data.py
  lib/galaxy/tools/__init__.py
  lib/galaxy_test/base/api.py
  mypy.ini
  test/unit/tool_util/test_verify_function.py
  test/unit/tool_util/test_verify_hid.py
  test/unit/tool_util/test_verify_script.py
Labels: kind/enhancement, area/tool-framework

#14529 Frontend tool search bug fix
  client/src/components/Panels/Common/ToolBox.test.js
  client/src/components/Panels/utilities.js
Labels: kind/enhancement, area/UI-UX, area/testing

#14704 Prevent number inputs (in tool forms) from binding wheel events.
  client/src/components/Form/Elements/FormNumber.vue
Labels: area/UI-UX

#14672 More cleanup of tool shed tests.
  lib/galaxy/tool_shed/util/hg_util.py
  lib/tool_shed/test/base/populators.py
  lib/tool_shed/test/base/test_db_util.py
  lib/tool_shed/test/base/twilltestcase.py
  lib/tool_shed/test/functional/api_notes.md
  lib/tool_shed/test/functional/test_0000_basic_repository_features.py
  lib/tool_shed/test/functional/test_0010_repository_with_tool_dependencies.py
  lib/tool_shed/test/functional/test_0020_basic_repository_dependencies.py
  lib/tool_shed/test/functional/test_0030_repository_dependency_revisions.py
  lib/tool_shed/test/functional/test_0040_repository_circular_dependencies.py
  lib/tool_shed/test/functional/test_0050_circular_dependencies_4_levels.py
  lib/tool_shed/test/functional/test_0070_invalid_tool.py
  lib/tool_shed/test/functional/test_0080_advanced_circular_dependencies.py
  lib/tool_shed/test/functional/test_0090_tool_search.py
  lib/tool_shed/test/functional/test_0100_complex_repository_dependencies.py
  lib/tool_shed/test/functional/test_0110_invalid_simple_repository_dependencies.py
  lib/tool_shed/test/functional/test_0120_simple_repository_dependency_multiple_owners.py
  lib/tool_shed/test/functional/test_0140_tool_help_images.py
  lib/tool_shed/test/functional/test_0150_prior_installation_required.py
  lib/tool_shed/test/functional/test_0160_circular_prior_installation_required.py
  lib/tool_shed/test/functional/test_0170_complex_prior_installation_required.py
  lib/tool_shed/test/functional/test_0300_reset_all_metadata.py
  lib/tool_shed/test/functional/test_0310_hg_api_features.py
  lib/tool_shed/test/functional/test_0420_citable_urls_for_repositories.py
  lib/tool_shed/test/functional/test_0430_browse_utilities.py
  lib/tool_shed/test/functional/test_0440_deleting_dependency_definitions.py
  lib/tool_shed/test/functional/test_0460_upload_to_repository.py
  lib/tool_shed/test/functional/test_0470_tool_dependency_repository_type.py
  lib/tool_shed/test/functional/test_0480_tool_dependency_xml_verification.py
  lib/tool_shed/test/functional/test_0530_repository_admin_feature.py
  lib/tool_shed/test/functional/test_0540_get_all_metadata_from_api.py
  lib/tool_shed/test/functional/test_0550_metadata_updated_dependencies.py
  lib/tool_shed/test/functional/test_1010_install_repository_with_tool_dependencies.py
  lib/tool_shed/test/functional/test_1020_install_repository_with_repository_dependencies.py
  lib/tool_shed/test/functional/test_1030_install_repository_with_dependency_revisions.py
  lib/tool_shed/test/functional/test_1040_install_repository_basic_circular_dependencies.py
  lib/tool_shed/test/functional/test_1050_circular_dependencies_4_levels.py
  lib/tool_shed/test/functional/test_1080_advanced_circular_dependency_installation.py
  lib/tool_shed/test/functional/test_1090_repository_dependency_handling.py
  lib/tool_shed/test/functional/test_1100_install_updated_repository_dependencies.py
  lib/tool_shed/test/functional/test_1120_install_repository_with_complex_dependencies.py
  lib/tool_shed/test/functional/test_1130_install_repository_with_invalid_repository_dependency.py
  lib/tool_shed/test/functional/test_1140_simple_repository_dependency_multiple_owners.py
  lib/tool_shed/test/functional/test_1160_tool_help_images.py
  lib/tool_shed/test/functional/test_1170_prior_installation_required.py
  lib/tool_shed/test/functional/test_1180_circular_prior_installation_required.py
  lib/tool_shed/test/functional/test_1190_complex_prior_installation_required.py
  lib/tool_shed/test/functional/test_1230_uninstall_reinstall_repository_with_dependency_revisions.py
  lib/tool_shed/test/functional/test_1300_reset_all_metadata.py
  lib/tool_shed/test/functional/test_1410_update_manager.py
  lib/tool_shed/test/functional/test_1430_repair_installed_repository.py
  lib/tool_shed/test/functional/test_1470_updating_installed_repositories.py
  lib/tool_shed/test/functional/test_shed_repositories.py
  lib/tool_shed/webapp/api/repositories.py
  lib/tool_shed_client/schema/__init__.py
Labels: kind/enhancement, area/toolshed

#14655 indicate history name in collection navigation
  client/src/components/History/CurrentCollection/CollectionNavigation.vue
  client/src/components/History/CurrentCollection/CollectionPanel.vue
  client/src/components/History/Multiple/MultipleViewItem.vue
Labels: area/UI-UX

#14711 Small test fixes
  .github/workflows/toolshed.yaml
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/tools/parameters/grouping.py
Labels: kind/bug, area/tool-framework, area/dependencies

#14715 Move database migration documentation to Galaxy docs
  doc/source/admin/config.rst
  doc/source/admin/db_migration.md
  doc/source/admin/index.rst
  lib/galaxy/model/migrations/README.md
Labels: area/documentation, kind/refactoring

#14699 Removed unnecessary page reload on the workflow list page
  client/src/components/Workflow/WorkflowIndexActions.test.js
  client/src/components/Workflow/WorkflowIndexActions.vue
Labels: kind/enhancement, area/UI-UX

#14717 Add some type annotations to workflow-related code
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run.py
  lib/galaxy/workflow/run_request.py
Labels: kind/enhancement, area/workflows, area/database

#14728 Fix ``validation_dataset_metadata_in_file`` framework test
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/validation.py
  test/functional/tools/validation_dataset_metadata_in_file.xml
  test/unit/tool_util/test_tool_linters.py
Labels: kind/bug, area/testing, area/tool-framework

#14720 Cleanup hack in job files API for very old versions of Galaxy.
  lib/galaxy/webapps/galaxy/api/job_files.py
Labels: kind/refactoring, area/jobs

#14729 Disable multi-view create hook hiding toolbox.
  client/src/components/History/Multiple/MultipleView.vue
Labels: area/UI-UX

#14716 Remove workflow export mako
  client/src/components/Workflow/WorkflowDropdown.vue
  client/src/components/Workflow/WorkflowExport.test.js
  client/src/components/Workflow/WorkflowExport.vue
  client/src/entry/analysis/router.js
  lib/galaxy/managers/workflows.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  lib/galaxy_test/selenium/test_workflow_sharing.py
  templates/ind_share_base.mako
  templates/webapps/galaxy/workflow/sharing.mako
Labels: area/UI-UX, kind/refactoring

#14733 [22.05] Fix subworkflow upgrade
  client/src/components/Workflow/Editor/Forms/FormDefault.vue
Labels: kind/bug, area/UI-UX, area/workflows/subworkflows

#14695 Configurable get IP method for container monitor
  lib/galaxy/job_execution/container_monitor.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/util/sockets.py
  test/unit/app/jobs/job_conf.sample_advanced.yml
Labels: area/testing, area/jobs

#14738 [22.05] Backport #14728
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/validation.py
  test/functional/tools/validation_dataset_metadata_in_file.xml
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, merge, area/tool-framework
