Repository galaxyproject/galaxy, pull requests merged in 2022-08, with the labels that each got.

#14388 [22.05] Fix unhashable type in history contents API
  lib/galaxy/schema/fields.py
  test/unit/webapps/api/test_id_fields.py
Labels: kind/bug, area/API

#14397 Warn users if History is not being watched
  client/src/components/History/CurrentHistory/HistoryCounter.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/store/historyStore/historyItemsStore.js
  client/src/store/historyStore/model/watchHistory.js
Labels: kind/bug, kind/enhancement, area/UI-UX, area/histories

#14393 Data Libraries - Change "Export to History" to "Send to History"
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
Labels: area/UI-UX, area/libraries, paper-cut

#14395 [22.05] Fix validation issue for dataset_details
  client/src/store/historyStore/model/watchHistory.js
  lib/galaxy/schema/fields.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy_test/api/test_history_contents.py
  test/unit/webapps/api/test_id_fields.py
Labels: kind/bug, area/API, area/histories

#14402 [22.05] Always allow 'copy datasets' action in history, even when empty.
  client/src/components/History/CurrentHistory/HistoryOperations/Operations.vue
Labels: area/UI-UX

#14398 Fix dataset list operation to switch between histories
  client/src/components/Dataset/DatasetList.vue
  client/src/components/Dataset/services.js
  client/src/store/historyStore/historyStore.js
Labels: kind/bug, area/UI-UX

#14404 Add and document make target for skipping the client build
  Makefile
  client/README.md
Labels: kind/enhancement, area/client

#14403 [22.05] Fix dataset list operation to switch between histories
  client/src/components/Dataset/DatasetList.vue
  client/src/components/Dataset/services.js
  client/src/store/historyStore/historyStore.js
Labels: area/UI-UX

#14414 [22.05] Fix first startup when only python3 is on PATH
  scripts/common_startup.sh
  scripts/common_startup_functions.sh
Labels: kind/bug, area/admin

#14396 Better tabular/csv file splitting
  client/package.json
  client/src/mvc/dataset/data.js
  client/yarn.lock
Labels: area/UI-UX, area/client

#14420 [22.05] Fix number of jobs submitted display in tool success.
  client/src/components/Tool/ToolSuccess.vue
Labels: kind/bug, area/UI-UX

#14415 Merge 22.05 into dev
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/ContentOptions.vue
  client/src/components/History/Content/Dataset/DatasetActions.vue
  client/src/components/History/Content/Dataset/DatasetDetails.vue
  client/src/components/History/Content/Dataset/DatasetDownload.vue
  client/src/components/History/CurrentHistory/HistoryOperations/Operations.vue
  client/src/components/User/UserPreferencesModel.js
  client/src/components/providers/UserHistories.js
  client/src/store/historyStore/historyStore.js
  client/src/store/historyStore/model/watchHistory.js
  client/src/utils/navigation/navigation.yml
  client/src/utils/redirect.js
  client/src/utils/url.js
  config/plugins/tours/core.galaxy_ui.yaml
  config/plugins/tours/core.history.yaml
  config/plugins/tours/core.windows.yaml
  config/plugins/webhooks/gtn/script.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/library_datasets.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrations/scripts.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/dynamic_options.py
  lib/galaxy/tools/search/__init__.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy/webapps/galaxy/api/library_datasets.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/services/tools.py
  lib/galaxy_test/api/test_history_contents.py
  packages/tool_util/setup.cfg
  scripts/common_startup.sh
  scripts/common_startup_functions.sh
  scripts/manage_db_adapter.py
  test/functional/tools/options_from_metadata_file.xml
  test/functional/tools/samples_tool_conf.xml
  test/functional/tools/select_from_csvdataset.xml
  test/unit/data/model/migrations/test_scripts.py
Labels: area/documentation, area/UI-UX, area/testing, area/API, merge, area/admin, area/scripts, area/tool-framework, area/testing/api, area/packaging

#14343 [22.05] Fix oldstyle dataset display
  client/src/components/Visualizations/DisplayApplications.test.js
  client/src/components/Visualizations/DisplayApplications.vue
Labels: area/UI-UX

#14406 [22.05] Support quoted strings in bool expressions
  lib/galaxy/util/bool_expressions.py
  lib/galaxy_test/driver/integration_setup.py
  test/integration/test_remote_files_posix.py
  test/unit/util/test_bool_expressions.py
Labels: kind/bug, kind/enhancement, area/backend

#14413 Remove Button Morphing during Tool Installation
  client/src/components/Toolshed/InstalledList/Monitor.vue
  client/src/components/Toolshed/RepositoryDetails/Index.vue
  client/src/components/Toolshed/RepositoryDetails/InstallationActions.test.js
  client/src/components/Toolshed/RepositoryDetails/InstallationActions.vue
  client/src/components/Toolshed/RepositoryDetails/InstallationButton.vue
Labels: area/UI-UX

#14159 Combine Convert and Datatypes forms
  client/src/components/DatasetInformation/DatasetAttributes.test.js
  client/src/components/DatasetInformation/DatasetAttributes.vue
Labels: area/UI-UX

#14424 [22.05] Fix workflow direct step insertion in workflow editor
  client/src/components/Workflow/Editor/Index.test.js
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/modules/utilities.js
Labels: area/UI-UX

#14427 Merge 22.05 -> dev
  client/src/components/Workflow/Editor/Index.test.js
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/modules/utilities.js
Labels: area/UI-UX

#14419 Present unavailable options to logged-out users
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
  client/src/components/History/Layout/DetailsLayout.vue
  client/src/components/History/Modals/CopyModal.vue
  client/src/components/Masthead/MastheadItem.vue
  client/src/components/Panels/Buttons/FavoritesButton.vue
  client/src/components/Panels/ToolBox.vue
  client/src/components/Tour/Tour.vue
  client/src/components/User/ExternalIdentities/ExternalIdentities.vue
  client/src/style/scss/overrides.scss
  config/plugins/tours/core.history.yaml
  lib/galaxy/selenium/has_driver.py
  lib/galaxy/selenium/smart_components.py
  lib/galaxy_test/selenium/test_anon_history.py
Labels: kind/enhancement, area/UI-UX

#14428 [22.05] Update pylibmagic and gravity
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: kind/bug, area/dependencies

#14392 Refactor history contents API ID encoding
  lib/galaxy/schema/fields.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
Labels: kind/refactoring, area/API, area/histories

#14314 Extend docs and tests for conditional output actions
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/functional/tools/output_action_change_format.xml
Labels: area/documentation, kind/refactoring, area/testing, area/tool-framework

#13453 [22.05] SLURM: check first if stopped for cancelled jobs
  lib/galaxy/jobs/runners/slurm.py
Labels: kind/bug, area/jobs

#14437 Fix path for history contents API request.
  config/plugins/visualizations/mvpapp/package.json
  config/plugins/visualizations/mvpapp/src/index.js
Labels: area/visualizations

#14431 [22.05] Fix cache image singularity resolver if path contains uppercase chars
  lib/galaxy/tool_util/deps/requirements.py
  test/unit/tool_util/test_container_description.py
Labels: kind/bug, area/testing, area/tool-framework, area/tool-dependencies

#14277 [22.05] Make Agp set_meta more lenient
  lib/galaxy/datatypes/goldenpath.py
  lib/galaxy/datatypes/test/eg2.agp
Labels: area/datatypes

#14426 [22.05] Make history contents filter with `contains` case insensitive
  lib/galaxy/managers/base.py
  lib/galaxy/managers/history_contents.py
  lib/galaxy_test/api/test_history_contents.py
Labels: kind/bug, area/API, area/histories

#14435 Vueify Quota-Meter
  client/src/components/Masthead/Masthead.test.js
  client/src/components/Masthead/Masthead.vue
  client/src/components/Masthead/QuotaMeter.test.js
  client/src/components/Masthead/QuotaMeter.vue
  client/src/layout/masthead.js
  client/src/mvc/user/user-quotameter.js
  client/src/style/scss/base.scss
Labels: area/UI-UX, kind/refactoring

#14417 [22.05] Calculate CRC32 for files in size between 1444 and 1459 bytes
  doc/source/admin/nginx.md
  lib/galaxy/util/zipstream.py
Labels: area/util

#14429 [22.05] Pass ``--cleanenv`` by default to singularity command
  lib/galaxy/config/sample/job_conf.xml.sample_advanced
  lib/galaxy/tool_util/deps/container_classes.py
  lib/galaxy/tool_util/deps/singularity_util.py
  test/unit/app/jobs/job_conf.sample_advanced.yml
Labels: kind/bug, area/admin

#14444 [22.05] Fix console errors when stored workflow id hasn't been fetched yet
  client/src/components/Workflow/Invocations.test.js
  client/src/components/Workflow/Invocations.vue
  client/src/store/workflowStore.js
Labels: kind/bug, area/UI-UX

#14430 Deprecate `cluster_files_directory` and store DRMAA job template and PBS shell, error and out files in job working directory
  doc/source/admin/cluster.md
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy/jobs/runners/pbs.py
  scripts/drmaa_external_runner.py
  test/integration/test_config_defaults.py
  test/unit/config/test_config_values.py
Labels: kind/enhancement, area/jobs

#14445 Register client library routes in app router
  client/src/components/Libraries/LibrariesList.vue
  client/src/components/Libraries/LibraryFolder/LibraryBreadcrumb.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolder.vue
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
  client/src/components/Libraries/LibraryRouter.js
  client/src/components/Libraries/icons.js
  client/src/components/Libraries/index.js
  client/src/entry/analysis/modules/Base.vue
  client/src/entry/analysis/router.js
  client/src/entry/analysis/routes/library-routes.js
Labels: kind/bug, area/UI-UX

#14439 Improve dynamic option filter efficiency
  lib/galaxy/tools/parameters/dynamic_options.py
Labels: kind/enhancement, area/performance, area/tool-framework

#14452 [22.05] Register trailing slashes in API routes
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy_test/api/test_group_users.py
Labels: area/API

#14455 Ignore mypy error
  lib/galaxy/managers/base.py
Labels: minor

#14449 Docker k8s ansible fixes
  .github/workflows/build_container_image.yaml
  .k8s_ci.Dockerfile
  lib/galaxy/authnz/managers.py
Labels: area/deployment

#14470 [22.05] Fix position of cleanenv flag in singularity command
  lib/galaxy/tool_util/deps/singularity_util.py
  test/unit/tool_util/test_singularity_util.py
Labels: kind/bug, minor, area/testing, area/tool-framework, area/tool-dependencies

#14457 [22.05] Add log rotation options and update logging documentation
  doc/source/admin/config_logging.rst
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
Labels: area/documentation, area/admin

#14456 [22.05] Fix data_range_{min,max} parsing
  lib/galaxy/schema/schema.py
  lib/galaxy/schema/types.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  test/unit/webapps/api/test_datetime_parsing.py
Labels: kind/bug, area/API

#14471 [22.05] Bump Gravity version to 0.13.3
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: area/dependencies

#14479 [22.05] Update error message when building ucsc_build_sites.txt fails
  cron/updateucsc.sh.sample
Labels: kind/bug, area/scripts

#14480 [22.05] Add scool datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#14476 [22.05] Tool linter bug fixes
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/linters/tests.py
  lib/galaxy/tool_util/parser/util.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: kind/bug, area/tool-framework

#14440 [22.01] Revert startswith of tool parameter options
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/dynamic_options.py
  test/functional/tools/select_from_csvdataset.xml
Labels: kind/bug, area/tool-framework

#14483 [22.05] Fix xml deprecation warning in ``parse_requirements_from_xml``
  lib/galaxy/tool_util/deps/requirements.py
Labels: kind/bug, area/datatypes, area/tool-framework, area/tool-dependencies

#14475 [22.05] Grep1 tool: fix keep_header option
  lib/galaxy/tools/__init__.py
  tools/filters/grep.xml
Labels: area/tools

#14473 [22.05] Fix effective datatype in workflow editor node terminals
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/NodeInput.vue
  client/src/components/Workflow/Editor/NodeOutput.vue
  client/src/components/Workflow/Editor/modules/connector.js
  client/src/components/Workflow/Editor/modules/terminals.js
  client/src/utils/navigation/navigation.yml
  client/tests/qunit/tests/workflow_editor_tests.js
  lib/galaxy/managers/workflows.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/refactor/execute.py
  lib/galaxy_test/selenium/test_workflow_editor.py
  test/unit/workflows/test_modules.py
Labels: kind/bug, area/workflows

#14482 [22.05] Fix Jobs API index to accept query parameters as lists
  lib/galaxy/webapps/galaxy/api/common.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  test/unit/webapps/test_query_params_lists.py
Labels: kind/bug, kind/enhancement, area/API

#14474 Hide Disabled Installation Actions for Tool Installations
  client/src/components/Toolshed/RepositoryDetails/Index.vue
  client/src/components/Toolshed/RepositoryDetails/InstallationActions.test.js
  client/src/components/Toolshed/RepositoryDetails/InstallationActions.vue
Labels: area/UI-UX

#14488 [22.05] Doc fixes
  doc/source/admin/config.rst
  doc/source/admin/config_logging.rst
  doc/source/lib/galaxy.app_unittest_utils.rst
  doc/source/lib/galaxy.containers.rst
  doc/source/lib/galaxy.datatypes.rst
  doc/source/lib/galaxy.files.rst
  doc/source/lib/galaxy.job_metrics.instrumenters.rst
  doc/source/lib/galaxy.job_metrics.rst
  doc/source/lib/galaxy.managers.rst
  doc/source/lib/galaxy.model.migrate.rst
  doc/source/lib/galaxy.model.migrate.triggers.rst
  doc/source/lib/galaxy.model.migrate.versions.rst
  doc/source/lib/galaxy.model.migrations.rst
  doc/source/lib/galaxy.model.orm.rst
  doc/source/lib/galaxy.model.rst
  doc/source/lib/galaxy.model.store.rst
  doc/source/lib/galaxy.model.tool_shed_install.migrate.rst
  doc/source/lib/galaxy.model.tool_shed_install.migrate.versions.rst
  doc/source/lib/galaxy.model.tool_shed_install.rst
  doc/source/lib/galaxy.model.triggers.rst
  doc/source/lib/galaxy.model.unittest_utils.rst
  doc/source/lib/galaxy.rst
  doc/source/lib/galaxy.schema.rst
  doc/source/lib/galaxy.tool_shed.galaxy_install.rst
  doc/source/lib/galaxy.tool_shed.galaxy_install.tool_dependencies.recipe.rst
  doc/source/lib/galaxy.tool_shed.galaxy_install.tool_dependencies.rst
  doc/source/lib/galaxy.tool_util.deps.rst
  doc/source/lib/galaxy.tool_util.ontologies.rst
  doc/source/lib/galaxy.tool_util.rst
  doc/source/lib/galaxy.tours.rst
  doc/source/lib/galaxy.util.pastescript.rst
  doc/source/lib/galaxy.util.rst
  doc/source/lib/galaxy.visualization.plugins.rst
  doc/source/lib/galaxy.web.framework.middleware.rst
  doc/source/lib/galaxy.web.rst
  doc/source/lib/galaxy.web.short_term_storage.rst
  doc/source/lib/galaxy.webapps.galaxy.api.rst
  doc/source/lib/galaxy.webapps.galaxy.controllers.rst
  doc/source/lib/galaxy.webapps.galaxy.services.rst
  doc/source/lib/galaxy.webapps.openapi.rst
  doc/source/lib/galaxy.webapps.rst
  doc/source/lib/galaxy_ext.container_monitor.rst
  doc/source/lib/galaxy_ext.rst
  doc/source/lib/galaxy_test.api.rst
  doc/source/lib/galaxy_test.performance.rst
  doc/source/lib/galaxy_test.rst
  doc/source/lib/galaxy_test.selenium.rst
  doc/source/lib/tool_shed.test.functional.rst
  lib/galaxy/model/orm/util.py
  lib/galaxy/webapps/galaxy/api/common.py
Labels: kind/bug, area/documentation

#13466 Add AWS Batch runner
  doc/source/admin/cluster.md
  lib/galaxy/config/sample/job_conf.xml.sample_advanced
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/jobs/runners/aws.py
Labels: kind/feature, area/jobs

#14211 [22.05] 22.05 release notes
  doc/source/releases/22.05.rst
  doc/source/releases/22.05_announce.rst
  doc/source/releases/22.05_announce_user.rst
  doc/source/releases/22.05_prs.rst
  doc/source/releases/22.09_announce.rst
  doc/source/releases/images/22.05-history.png
  doc/source/releases/images/22.05-invocation-list.png
  doc/source/releases/images/22.05-invocation-menu.png
  doc/source/releases/images/22.05-openapi.png
  doc/source/releases/images/22.05-pca.png
  doc/source/releases/images/22.05-rbu.png
  doc/source/releases/images/22.05-storage.png
  doc/source/releases/index.rst
  scripts/bootstrap_history.py
  scripts/release-diff.py
Labels: area/documentation

#14492 [22.05] Add missing image to user facing release notes
  doc/source/releases/images/22.05-deferred-data-upload.png
Labels: kind/bug, area/documentation, minor

#14446 Disable Dataset Display icon in queued state, and Improve Window Manager tour
  client/src/components/History/Content/ContentOptions.vue
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
  config/plugins/tours/core.windows.yaml
Labels: kind/bug, area/UI-UX

#14496 [22.01] fix lint context fail function
  lib/galaxy/tool_util/lint.py
Labels: kind/bug, area/tool-framework

#14498 [22.05] Release script fixes
  scripts/release.sh
Labels: kind/bug, area/scripts

#14495 Fix dataset operations inconsistent hover styles
  client/src/components/History/Content/ContentItem.vue
  client/src/style/scss/base.scss
Labels: kind/bug, area/UI-UX

#14493 watching historyID for change, if it changes, close the CollectionPanel
  client/src/components/History/CurrentCollection/CollectionPanel.vue
Labels: area/UI-UX

#14494 [22.05] Fix refactor action dropping outputs on subworkflow connection
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/refactor/execute.py
  lib/galaxy_test/selenium/test_workflow_editor.py
  test/unit/workflows/test_modules.py
Labels: kind/bug, area/workflows

#14441 Fix duplicate Request to CurrentUser
  client/src/components/User/DiskUsage/DiskUsageSummary.test.js
  client/src/components/User/DiskUsage/DiskUsageSummary.vue
  client/src/components/User/DiskUsage/Quota/QuotaUsageProvider.js
Labels: kind/bug, area/UI-UX

#14472 Refactor dynamic destination mapper
  lib/galaxy/jobs/mapper.py
Labels: area/jobs

#14504 [22.05] Add CASTEP datatypes
  CONTRIBUTORS.md
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/test/Si.castep
  lib/galaxy/datatypes/test/Si.den_fmt
  lib/galaxy/datatypes/test/Si.param
  lib/galaxy/datatypes/text.py
Labels: area/datatypes

#14461 Add "About this Galaxy" page.
  client/src/components/AboutGalaxy.vue
  client/src/components/ExternalLink.vue
  client/src/components/License/License.vue
  client/src/components/Workflow/Invocations.vue
  client/src/composables/useConfig.js
  client/src/entry/analysis/router.js
  client/src/layout/menu.js
  client/webpack.config.js
  lib/galaxy/config/__init__.py
  lib/galaxy/managers/configuration.py
  lib/galaxy/managers/licenses.json
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: area/UI-UX, area/client

#14510 [22.05] Fix setting metadata elements in conditional tool action
  lib/galaxy/tool_util/parser/output_actions.py
  lib/galaxy/tools/actions/__init__.py
  test/functional/tools/identifier_in_actions.xml
Labels: kind/bug, area/tool-framework

#14507 Enable logging for manage_db.sh
  lib/galaxy/model/migrations/scripts.py
  scripts/manage_db_adapter.py
Labels: kind/bug, area/database

#14499 Register admin routes in vue router
  client/src/components/Message.vue
  client/src/components/admin/AdminPanel.vue
  client/src/components/admin/DataManager/DataManagerJob.vue
  client/src/components/admin/DataManager/DataManagerRouter.js
  client/src/components/admin/DataManager/DataManagerTable.vue
  client/src/components/admin/DataManager/index.js
  client/src/components/admin/Home.vue
  client/src/entry/admin/AdminRouter.js
  client/src/entry/admin/index.js
  client/src/entry/analysis/modules/Admin.vue
  client/src/entry/analysis/router.js
  client/src/entry/analysis/routes/admin-routes.js
  client/webpack.config.js
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
Labels: kind/enhancement, area/UI-UX

#14500 Fix dataset operation highlighting in Safari and dataset error route
  client/src/components/History/Content/ContentItem.vue
  client/src/style/scss/base.scss
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: kind/bug, area/UI-UX

#14508 Various small Python typing improvements and fixes.
  lib/galaxy/selenium/context.py
  lib/galaxy/tool_util/client/staging.py
  lib/galaxy/tool_util/provided_metadata.py
  lib/galaxy/util/permutations.py
  lib/galaxy/util/properties.py
  mypy.ini
  test/unit/util/test_properties.py
Labels: kind/enhancement, area/framework

#14516 Fix toolshed installation progress overview shows no status
  client/src/components/Toolshed/InstalledList/Monitor.test.js
  client/src/components/Toolshed/InstalledList/Monitor.vue
Labels: kind/bug, area/UI-UX

#14517 Fix dataset visualize action routing
  client/src/components/History/Content/Dataset/DatasetActions.vue
Labels: area/UI-UX

#14518 [22.05] Always call strip() on data_column column values
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/bug, area/workflows, area/backend

#14519 Small fixes for router changes.
  client/src/components/admin/Home.vue
  client/src/entry/analysis/routes/library-routes.js
Labels: kind/bug, area/UI-UX, minor

#14524 Misc fixes 202208
  CONTRIBUTING.md
  contrib/galaxy_config_merger.py
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tool_util/toolbox/base.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/execute.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy_test/api/test_history_contents.py
  lib/galaxy_test/base/populators.py
  lib/tool_shed/test/base/twilltestcase.py
  lib/tool_shed/util/shed_util_common.py
  lib/tool_shed/webapp/model/__init__.py
  pyproject.toml
Labels: kind/bug, kind/enhancement, area/testing, area/API, area/jobs, area/tool-framework, area/testing/api

#14532 [22.05] Report that (text) datatype test files need to have a final newline
  test/integration/test_datatype_upload.py
Labels: kind/bug, kind/enhancement, area/testing, area/testing/integration

#14534 Fix double nested application when visualizing dataset (without scratchbook)
  client/src/components/History/Content/Dataset/DatasetActions.vue
  client/src/components/plugins/legacyNavigation.js
Labels: area/UI-UX

#14520 Separate unsorted styles from base file
  client/src/components/History/Content/ContentItem.vue
  client/src/components/ToolRecommendation.vue
  client/src/style/scss/base.scss
  client/src/style/scss/ui.scss
  client/src/style/scss/unsorted.scss
  client/src/style/scss/upload.scss
  client/src/style/scss/workflow.scss
Labels: area/UI-UX, kind/refactoring

#14526 [22.05] Fix typos in test linter
  doc/source/releases/18.09.rst
  lib/galaxy/tool_util/linters/tests.py
  lib/galaxy/tool_util/parser/output_objects.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/unit/app/tools/test_collect_primary_datasets.py
  test/unit/tool_util/test_tool_linters.py
Labels: kind/bug, area/testing, area/tool-framework

#14531 [22.05]Fix absolute path generation util
  client/src/utils/redirect.js
Labels: area/UI-UX

#14528 [22.01] Fix tool-util packaging
  lib/galaxy/tool_util/deps/container_resolvers/__init__.py
  lib/galaxy/tool_util/deps/mulled/util.py
  packages/tool_util/HISTORY.rst
  packages/tool_util/requirements.txt
  test/unit/tool_util/test_container_resolution.py
  test/unit/tool_util/test_resolution_cache.py
Labels: kind/bug, area/packaging

#13976 Remove new shed datatypes
  lib/galaxy/tool_shed/galaxy_install/datatypes/custom_datatype_manager.py
  lib/galaxy/tool_shed/galaxy_install/install_manager.py
  lib/galaxy/tool_shed/galaxy_install/installed_repository_manager.py
  lib/galaxy/tool_shed/galaxy_install/update_repository_manager.py
  lib/galaxy/tool_shed/metadata/metadata_generator.py
  lib/galaxy/tool_shed/util/repository_util.py
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/tool_shed/galaxy_install/grids/admin_toolshed_grids.py
  lib/tool_shed/metadata/repository_metadata_manager.py
  lib/tool_shed/test/functional/test_0020_basic_repository_dependencies.py
  lib/tool_shed/test/functional/test_0030_repository_dependency_revisions.py
  lib/tool_shed/test/functional/test_0050_circular_dependencies_4_levels.py
  lib/tool_shed/test/functional/test_0090_tool_search.py
  lib/tool_shed/test/functional/test_0110_invalid_simple_repository_dependencies.py
  lib/tool_shed/test/functional/test_0130_datatype_converters.py
  lib/tool_shed/test/functional/test_0300_reset_all_metadata.py
  lib/tool_shed/test/functional/test_0430_browse_utilities.py
  lib/tool_shed/test/functional/test_0460_upload_to_repository.py
  lib/tool_shed/test/functional/test_1020_install_repository_with_repository_dependencies.py
  lib/tool_shed/test/functional/test_1030_install_repository_with_dependency_revisions.py
  lib/tool_shed/test/functional/test_1050_circular_dependencies_4_levels.py
  lib/tool_shed/test/functional/test_1130_install_repository_with_invalid_repository_dependency.py
  lib/tool_shed/test/functional/test_1140_simple_repository_dependency_multiple_owners.py
  lib/tool_shed/test/functional/test_1150_datatype_converters.py
  lib/tool_shed/test/functional/test_1220_uninstall_reinstall_repository_with_repository_dependencies.py
  lib/tool_shed/test/functional/test_1230_uninstall_reinstall_repository_with_dependency_revisions.py
  lib/tool_shed/test/functional/test_1300_reset_all_metadata.py
  lib/tool_shed/test/functional/test_1450_installing_datatypes_sniffers.py
  lib/tool_shed/test/test_data/0460_files/in_root/repository_dependencies_in_root.tar
  lib/tool_shed/test/test_data/0460_files/in_subfolder/repository_dependencies_in_subfolder.tar
  lib/tool_shed/test/test_data/0460_files/in_subfolder/subfolder/repository_dependencies.xml
  lib/tool_shed/test/test_data/0460_files/repository_dependencies_in_root.tar
  lib/tool_shed/test/test_data/0460_files/repository_dependencies_in_subfolder.tar
  lib/tool_shed/util/search_util.py
  templates/admin/tool_shed_repository/deactivate_or_uninstall_repository.mako
  test/integration/test_shed_tool_tests.py
Labels: kind/refactoring, area/toolshed

#13977 Implement initial tool shed API tests.
  lib/galaxy/config/__init__.py
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/schema.py
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/config/schemas/tool_shed_config_schema.yml
  lib/galaxy/managers/users.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/util/resources.py
  lib/galaxy_test/api/test_authenticate.py
  lib/galaxy_test/api/test_roles.py
  lib/galaxy_test/base/api.py
  lib/galaxy_test/base/api_util.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/base/uses_shed_api.py
  lib/tool_shed/test/base/api.py
  lib/tool_shed/test/base/api_util.py
  lib/tool_shed/test/base/populators.py
  lib/tool_shed/test/base/twilltestcase.py
  lib/tool_shed/test/functional/test_galaxy_install.py
  lib/tool_shed/test/functional/test_shed_categories.py
  lib/tool_shed/test/functional/test_shed_repositories.py
  lib/tool_shed/test/functional/test_shed_users.py
  lib/tool_shed/test/functional_tests.py
  lib/tool_shed/test/test_data/column_maker/column_maker_1.1.1.tar
  lib/tool_shed/webapp/api/__init__.py
  lib/tool_shed/webapp/api/authenticate.py
  lib/tool_shed/webapp/api/categories.py
  lib/tool_shed/webapp/api/users.py
  lib/tool_shed/webapp/buildapp.py
  lib/tool_shed_client/__init__.py
  lib/tool_shed_client/schema/__init__.py
  packages/app/tool_shed_client
  test/integration/test_config_defaults.py
  test/unit/config/config_manage/embedded/config/galaxy.yml
  test/unit/config/config_manage/simple/config/galaxy.yml
Labels: kind/enhancement, area/testing, area/testing/api, area/testing/integration

#14539 [22.05] Fix post job action getting lost when node is made active
  client/src/components/Workflow/Editor/Forms/FormDefault.test.js
  client/src/components/Workflow/Editor/Forms/FormDefault.vue
  client/src/components/Workflow/Editor/Forms/FormSection.vue
  client/src/components/Workflow/Editor/Forms/FormTool.test.js
  client/src/components/Workflow/Editor/Forms/FormTool.vue
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/NodeOutput.vue
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: kind/bug, area/UI-UX, area/workflows

#14542 Implement keyedColorScheme for all tags, not only nametags
  client/src/components/Tags/model.js
Labels: kind/enhancement, area/UI-UX, paper-cut

#14464 Add "Datatypes" Page
  client/src/components/AvailableDatatypes/AvailableDatatypes.vue
  client/src/composables/datatypes.js
  client/src/composables/utils/filter.js
  client/src/entry/analysis/router.js
  lib/galaxy/datatypes/_schema.py
  lib/galaxy/datatypes/registry.py
  lib/galaxy/managers/datatypes.py
  lib/galaxy/tool_util/edam_util.py
  lib/galaxy/tool_util/toolbox/base.py
  lib/galaxy/tool_util/toolbox/views/edam.py
  lib/galaxy/webapps/galaxy/api/datatypes.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy_test/api/test_datatypes.py
Labels: area/UI-UX, area/testing, kind/feature, area/API, area/datatypes, area/tool-framework, area/testing/api, area/client

#14497 [21.05] Fix finding repository directory if repository is repeated in path
  lib/galaxy/tools/__init__.py
Labels: kind/bug, area/testing

#14546 Merge 22.05 into dev
  client/src/components/Workflow/Editor/Forms/FormDefault.test.js
  client/src/components/Workflow/Editor/Forms/FormDefault.vue
  client/src/components/Workflow/Editor/Forms/FormSection.vue
  client/src/components/Workflow/Editor/Forms/FormTool.test.js
  client/src/components/Workflow/Editor/Forms/FormTool.vue
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/NodeOutput.vue
  lib/galaxy/tool_util/deps/mulled/util.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: area/UI-UX, area/testing, area/API, merge, area/tool-framework, area/tool-dependencies, area/testing/selenium

#14389 Allow sort order for sort_by to be reversed
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/dynamic_options.py
Labels: area/tool-framework

#14548 Request extended details when modifying history attributes
  client/src/store/historyStore/model/queries.js
Labels: kind/bug, area/UI-UX
