Repository galaxyproject/galaxy, pull requests merged in 2022-10, with the labels that each got.

#14719 Outline modernizing tool shed repositories API.
  lib/galaxy/schema/schema.py
  lib/galaxy/tool_shed/util/repository_util.py
  lib/galaxy/util/tool_shed/tool_shed_registry.py
  lib/galaxy/webapps/galaxy/api/tool_shed_repositories.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/galaxy/webapps/galaxy/services/tool_shed_repositories.py
  lib/tool_shed/util/repository_util.py
  test/unit/shed_unit/test_installed_repository_manager.py
Labels: kind/enhancement, area/toolshed

#14737 Drop ToolsView
  client/package.json
  client/src/components/ToolsView/ToolsSchemaJson/ToolsJson.test.js
  client/src/components/ToolsView/ToolsView.test.js
  client/src/components/ToolsView/ToolsView.vue
  client/src/components/ToolsView/testData/citation.json
  client/src/entry/analysis/router.js
  client/yarn.lock
Labels: area/UI-UX, kind/refactoring, area/client

#14747 Accessibility issue fixes in workflow list/import interfaces
  client/src/components/Common/DelayedInput.vue
  client/src/components/History/HistoryView.vue
  client/src/components/Workflow/Run/WorkflowRunDefaultStep.vue
  client/src/components/Workflow/WorkflowDropdown.vue
  client/src/components/Workflow/WorkflowImport.vue
Labels: area/UI-UX

#14730 [22.05] Misc. updates to migration scripts, documentation
  doc/source/admin/db_migration.md
  lib/galaxy/model/migrations/README.md
  lib/galaxy/model/migrations/alembic/env.py
  lib/galaxy/model/migrations/dbscript.py
  scripts/run_alembic.py
  scripts/run_alembic.sh
Labels: kind/bug, area/documentation, kind/refactoring, kind/feature, area/database, area/scripts

#14749 Update history size tooltip
  client/src/components/History/CurrentHistory/HistoryCounter.vue
Labels: area/UI-UX

#14746 Cleanup installed_repository_manager.py and related code a bit more.
  lib/galaxy/tool_shed/galaxy_install/installed_repository_manager.py
  lib/tool_shed/galaxy_install/grids/admin_toolshed_grids.py
  templates/admin/tool_shed_repository/purge_repository_confirmation.mako
Labels: kind/refactoring, area/toolshed

#14760 do not split "." but the path
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/display_applications/parameters.py
Labels: area/datatypes

#14751 [22.05] Fix tool recommendations display
  client/src/components/Tool/ToolForm.vue
Labels: kind/bug, area/UI-UX

#14744 Small cleanups to shed package dependency structures
  lib/tool_shed/galaxy_install/grids/admin_toolshed_grids.py
  lib/tool_shed/util/repository_util.py
  lib/tool_shed/utility_containers/utility_container_manager.py
Labels: kind/refactoring, area/toolshed

#14727 Synchronize job runner utils with fixes from and for Pulsar's version.
  lib/galaxy/jobs/runners/util/job_script/__init__.py
  lib/galaxy/jobs/runners/util/kill.py
Labels: kind/bug, area/jobs

#14712 Minor reformatting of verification error
  lib/galaxy/tool_util/verify/interactor.py
Labels: area/tool-framework

#14701 [22.05] Fix tool version inconsistency when downloading workflows with missing outdated tools
  lib/galaxy/managers/workflows.py
Labels: kind/bug, area/workflows/subworkflows, area/backend

#14755 Do not load sample config file; assign correct config paths
  lib/galaxy/config/__init__.py
  lib/galaxy/main_config.py
  test/unit/config/test_config_values.py
Labels: kind/bug, area/configuration, config/breaking, highlight/admin

#14665 add scroll shadow on the right and left sides
  client/src/components/History/Multiple/MultipleViewList.vue
Labels: area/UI-UX

#14773 [22.01] Fix dataset provenance API when ``follow=False``
  lib/galaxy/webapps/galaxy/api/provenance.py
  lib/galaxy_test/api/test_history_contents_provenance.py
Labels: kind/bug, area/testing, area/API, area/testing/api

#14766 [Visualization] visjs-based transition system visualization
  client/gulpfile.js
  config/plugins/visualizations/ts_visjs/config/ts_visjs.xml
  config/plugins/visualizations/ts_visjs/package.json
  config/plugins/visualizations/ts_visjs/static/icons/border.png
  config/plugins/visualizations/ts_visjs/static/icons/fire.png
  config/plugins/visualizations/ts_visjs/static/icons/loop.png
  config/plugins/visualizations/ts_visjs/static/script.js
  config/plugins/visualizations/ts_visjs/static/style.css
  config/plugins/visualizations/ts_visjs/templates/ts_visjs.mako
Labels: area/visualizations, area/client

#14752 Align url handling for more consistency
  client/src/components/Form/FormGeneric.vue
  client/src/components/Form/services.js
  client/src/components/Markdown/Elements/HistoryDatasetDisplay.vue
  client/src/components/Markdown/Elements/Workflow/WorkflowDisplay.vue
  client/src/components/Markdown/Markdown.vue
  client/src/components/Markdown/StsDownloadButton.vue
  client/src/components/PageDisplay/PageDisplay.vue
  client/src/components/Tour/TourList.vue
  client/src/components/Tour/TourRunner.vue
  client/src/components/User/UserPreferencesModel.js
  client/src/components/Workflow/InvocationReport.vue
  client/src/components/Workflow/WorkflowExport.vue
  client/src/entry/analysis/modules/Analysis.vue
  client/src/entry/analysis/modules/CenterFrame.vue
  client/src/entry/analysis/modules/Home.vue
  client/src/entry/analysis/modules/WorkflowEditor.vue
  client/src/entry/analysis/router.js
  client/src/entry/analysis/routes/admin-routes.js
  client/src/store/historyStore/collectionElementsStore.js
  client/src/store/historyStore/datasetStore.js
  client/src/store/historyStore/historyItemsStore.js
  client/src/store/historyStore/model/watchHistory.js
  client/src/style/scss/ui.scss
  client/src/utils/url.js
Labels: area/UI-UX, kind/refactoring

#14703 Storing selected histories in multiple view into local storage
  client/src/components/History/Multiple/MultipleViewList.vue
  client/src/store/historyStore/historyStore.js
  client/src/store/index.js
Labels: area/UI-UX

#14549 Tool form improvements
  client/src/components/Common/ButtonSpinner.vue
  client/src/components/DatasetInformation/DatasetError.vue
  client/src/components/Tool/Buttons/ToolFavoriteButton.vue
  client/src/components/Tool/Buttons/ToolOptionsButton.vue
  client/src/components/Tool/Buttons/ToolVersionsButton.vue
  client/src/components/Tool/ToolCard.test.js
  client/src/components/Tool/ToolCard.vue
  client/src/components/Tool/ToolCardSection.vue
  client/src/components/Tool/ToolForm.test.js
  client/src/components/Tool/ToolForm.vue
  client/src/components/Tool/ToolHelp.vue
  client/src/components/Tool/ToolSourceMenuItem.vue
  client/src/components/Tool/ToolSuccess.vue
  client/src/components/Tool/services.js
  client/src/components/Workflow/Editor/Forms/FormTool.test.js
  client/src/components/Workflow/Editor/Forms/FormTool.vue
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/modules/terminals.js
  client/src/composables/useConfig.js
  client/src/composables/user.js
  client/src/entry/analysis/index.js
  client/src/store/userStore/queries.js
  client/src/store/userStore/userStore.js
  client/src/style/scss/overrides.scss
  client/src/style/scss/ui.scss
  client/tests/jest/helpers.js
  config/plugins/tours/core.galaxy_ui.yaml
Labels: kind/enhancement, area/UI-UX, area/client

#14769 improve UX of admin job page
  client/src/components/admin/JobLock.vue
  client/src/components/admin/Jobs.vue
Labels: kind/bug, area/UI-UX

#14778 [22.05] Fix disappearing right anchor
  client/src/layout/panel.js
Labels: area/UI-UX

#14736 Migrate index and show tool shed repositories endpoints to Pydantic and FastAPI
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/tool_shed_repositories.py
  lib/galaxy/webapps/galaxy/services/tool_shed_repositories.py
  lib/galaxy_test/base/uses_shed_api.py
  test/integration/test_repository_operations.py
Labels: kind/enhancement, area/API, area/toolshed

#14775 Migrate `workflow import` to composition API
  client/src/components/Workflow/Import/FromFileOrUrl.vue
  client/src/components/Workflow/Import/TrsImport.vue
  client/src/components/Workflow/Import/TrsSearch.vue
  client/src/components/Workflow/Import/TrsServerSelection.vue
  client/src/components/Workflow/Import/TrsTool.vue
  client/src/components/Workflow/TrsImport.vue
  client/src/components/Workflow/TrsSearch.vue
  client/src/components/Workflow/TrsServerSelection.vue
  client/src/components/Workflow/TrsTool.vue
  client/src/components/Workflow/WorkflowDropdown.vue
  client/src/components/Workflow/WorkflowImport.vue
  client/src/components/Workflow/WorkflowList.vue
  client/src/components/Workflow/rxjsAxios.js
  client/src/components/Workflow/services.js
  client/src/components/Workflow/trsMixin.js
  client/src/entry/analysis/router.js
Labels: area/UI-UX

#14725 Allow to force push client routes
  client/src/app/monitor.js
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/Dataset/DatasetActions.vue
  client/src/entry/analysis/router-push.js
  client/src/entry/analysis/router-push.test.js
  client/src/entry/analysis/router.js
  client/src/utils/url.js
  client/src/utils/url.test.js
Labels: kind/bug, area/UI-UX

#14782 Skip 2 unit tests if bio.tools is down
  lib/galaxy/tool_util/unittest_utils/__init__.py
  lib/galaxy_test/api/test_tools_upload.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/selenium/test_data_source_tools.py
  packages/tool_util/setup.cfg
  pytest.ini
  test/unit/tool_util/biotools/test_metadata_source.py
Labels: area/testing

#14784 Synchronize job script module with Pulsar fixes.
  lib/galaxy/jobs/runners/util/job_script/DEFAULT_JOB_FILE_TEMPLATE.sh
  lib/galaxy/jobs/runners/util/job_script/MEMORY_STATEMENT.sh
  lib/galaxy/jobs/runners/util/job_script/MEMORY_STATEMENT_TEMPLATE.sh
  lib/galaxy/jobs/runners/util/job_script/__init__.py
Labels: kind/bug, area/jobs

#14786 [22.05] Fix deleted library buttons visibility
  client/src/components/Libraries/LibrariesList.vue
Labels: kind/bug, area/UI-UX, area/libraries

#14740 Extend security docs
  doc/source/admin/security.md
Labels: area/documentation, area/admin

#14788 Add a utility function that returns first available value for prefix+key set in the environment; fix bug
  lib/galaxy/util/properties.py
  lib/galaxy_test/base/api.py
  test/unit/util/test_properties.py
Labels: kind/bug, area/util

#14789 Fix ``test_get_alternative_versions`` unit test
  test/unit/tool_util/mulled/test_get_tests.py
Labels: area/testing

#14620 Bring BioCompute exports under invocation export framework
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/managers/model_stores.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/model/store/_bco_convert_utils.py
  lib/galaxy/schema/bco/__init__.py
  lib/galaxy/schema/bco/description_domain.py
  lib/galaxy/schema/bco/error_domain.py
  lib/galaxy/schema/bco/execution_domain.py
  lib/galaxy/schema/bco/gen.sh
  lib/galaxy/schema/bco/io_domain.py
  lib/galaxy/schema/bco/parametric_domain.py
  lib/galaxy/schema/bco/provenance_domain.py
  lib/galaxy/schema/bco/usability_domain.py
  lib/galaxy/schema/bco/util.py
  lib/galaxy/schema/schema.py
  lib/galaxy/schema/tasks.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/services/invocations.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/json_schema_utils.py
  lib/galaxy_test/base/populators.py
  packages/data/setup.cfg
  pyproject.toml
  test/integration/test_workflow_tasks.py
  test/unit/data/test_bco_utils.py
  test/unit/data/test_schema.py
Labels: kind/enhancement, area/API, area/workflows

#14489 API key enhancements
  client/src/components/User/APIKey/APIKey.vue
  client/src/components/User/APIKey/APIKeyItem.vue
  client/src/components/User/APIKey/index.js
  client/src/components/User/APIKey/model/service.js
  client/src/components/User/UserPreferencesModel.js
  client/src/entry/analysis/router.js
  client/src/utils/navigation/navigation.yml
  lib/galaxy/managers/api_keys.py
  lib/galaxy/managers/users.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrations/alembic/versions_gxy/e0e3bb173ee6_add_column_deleted_to_api_keys.py
  lib/galaxy/schema/__init__.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/user.py
  lib/galaxy/webapps/galaxy/services/users.py
  lib/galaxy_test/api/test_users.py
  lib/galaxy_test/base/api.py
  lib/galaxy_test/selenium/test_personal_information.py
  lib/tool_shed/webapp/controllers/user.py
  lib/tool_shed/webapp/model/__init__.py
  lib/tool_shed/webapp/model/migrate/versions/0027_add_api_keys_deleted_column.py
  test/unit/data/model/mapping/test_gxy_model_mapping.py
Labels: area/UI-UX, area/API

#14796 [22.05] Point to new documentation instead of github issue
  lib/galaxy/model/migrations/__init__.py
Labels: area/documentation, kind/refactoring, area/database

#14777 Pulsar infrastructure improvements for TES execution and MQ-less Kubernetes.
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy_test/driver/driver_util.py
  lib/galaxy_test/driver/integration_util.py
  mypy.ini
  packages/app/setup.cfg
  pyproject.toml
  test/integration/test_coexecution.py
  test/integration/test_interactivetools_api.py
Labels: kind/enhancement, area/jobs

#14806 Replace ``set-output`` commands with ``$GITHUB_OUTPUT`` environment file in GitHub workflows
  .github/workflows/api.yaml
  .github/workflows/build_container_image.yaml
  .github/workflows/converter_tests.yaml
  .github/workflows/cwl_conformance.yaml
  .github/workflows/db_indexes.yaml
  .github/workflows/dependencies.yaml
  .github/workflows/docs.yaml
  .github/workflows/first_startup.yaml
  .github/workflows/framework.yaml
  .github/workflows/integration.yaml
  .github/workflows/integration_selenium.yaml
  .github/workflows/jest.yaml
  .github/workflows/lint.yaml
  .github/workflows/mulled.yaml
  .github/workflows/osx_startup.yaml
  .github/workflows/performance.yaml
  .github/workflows/reports_startup.yaml
  .github/workflows/selenium.yaml
  .github/workflows/test_galaxy_packages.yaml
  .github/workflows/toolshed.yaml
  .github/workflows/unit-postgres.yaml
  .github/workflows/unit.yaml
Labels: kind/enhancement

#14804 Disable integrity check for CWL relocate script
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/aws.py
  lib/galaxy/jobs/runners/local.py
  lib/galaxy/jobs/runners/util/job_script/__init__.py
Labels: kind/enhancement, area/cwl

#14792 Make connect_args for SQLAlchemy's engine configurable
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/model/orm/engine_factory.py
  test/unit/data/model/test_engine_factory.py
Labels: kind/enhancement, area/database

#14708 Enable fine-grained celery configuration
  doc/source/admin/galaxy_options.rst
  lib/galaxy/celery/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/tools/execute.py
  lib/galaxy_test/base/api.py
  lib/galaxy_test/driver/driver_util.py
  test/unit/test_celery.py
Labels: kind/feature, area/configuration

#14689 [22.05] Fix old style workflow parameter regression in Number entry
  client/src/components/Form/Elements/FormNumber.vue
  client/src/components/Form/FormDisplay.vue
  client/src/components/Form/FormElement.vue
  client/src/components/Form/FormInputs.vue
  client/src/components/Workflow/Editor/Forms/FormTool.vue
Labels: area/UI-UX

#12288 Automatically sort tools in sections by name
  client/src/components/Panels/Common/ToolSection.test.js
  client/src/components/Panels/Common/ToolSection.vue
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/managers/configuration.py
Labels: area/UI-UX

#14573 interval2maf remove from unversioned or deprecate
  lib/galaxy/config/sample/tool_conf.xml.sample
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/__init__.py
  tools/maf/interval2maf.xml
Labels: area/testing, area/tools, area/tool-framework

#12999 Add duplicate_file_to_collection tool
  lib/galaxy/config/sample/tool_conf.xml.sample
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/duplicate_file_to_collection.xml
  test/functional/tools/samples_tool_conf.xml
Labels: area/testing, area/tool-framework

#14530 [21.09] JobWrapper: use correct fail method
  lib/galaxy/jobs/__init__.py
Labels: area/jobs

#14808 Lint fix for DuplicateFileToCollectionTool
  lib/galaxy/tools/__init__.py
Labels: kind/bug, minor, area/tool-framework

#14735 Simplify tool shed tests.
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/galaxy_test/base/populators.py
  lib/tool_shed/test/base/twilltestcase.py
  lib/tool_shed/test/functional/test_1000_install_basic_repository.py
  lib/tool_shed/test/functional/test_1010_install_repository_with_tool_dependencies.py
  lib/tool_shed/test/functional/test_1020_install_repository_with_repository_dependencies.py
  lib/tool_shed/test/functional/test_1030_install_repository_with_dependency_revisions.py
  lib/tool_shed/test/functional/test_1040_install_repository_basic_circular_dependencies.py
  lib/tool_shed/test/functional/test_1050_circular_dependencies_4_levels.py
  lib/tool_shed/test/functional/test_1070_invalid_tool.py
  lib/tool_shed/test/functional/test_1080_advanced_circular_dependency_installation.py
  lib/tool_shed/test/functional/test_1090_repository_dependency_handling.py
  lib/tool_shed/test/functional/test_1100_install_updated_repository_dependencies.py
  lib/tool_shed/test/functional/test_1120_install_repository_with_complex_dependencies.py
  lib/tool_shed/test/functional/test_1130_install_repository_with_invalid_repository_dependency.py
  lib/tool_shed/test/functional/test_1140_simple_repository_dependency_multiple_owners.py
  lib/tool_shed/test/functional/test_1160_tool_help_images.py
  lib/tool_shed/test/functional/test_1170_prior_installation_required.py
  lib/tool_shed/test/functional/test_1180_circular_prior_installation_required.py
  lib/tool_shed/test/functional/test_1190_complex_prior_installation_required.py
  lib/tool_shed/test/functional/test_1200_uninstall_and_reinstall_basic_repository.py
  lib/tool_shed/test/functional/test_1210_uninstall_reinstall_repository_with_tool_dependencies.py
  lib/tool_shed/test/functional/test_1230_uninstall_reinstall_repository_with_dependency_revisions.py
  lib/tool_shed/test/functional/test_1300_reset_all_metadata.py
  lib/tool_shed/test/functional/test_1410_update_manager.py
  lib/tool_shed/test/functional/test_1430_repair_installed_repository.py
  lib/tool_shed/test/functional/test_1460_data_managers.py
  lib/tool_shed/test/functional/test_1470_updating_installed_repositories.py
  lib/tool_shed/utility_containers/utility_container_manager.py
  templates/admin/tool_shed_repository/manage_repository.mako
  templates/admin/tool_shed_repository/view_tool_metadata.mako
Labels: area/UI-UX, kind/refactoring, area/testing, area/toolshed

#14812 2 bug fixes
  lib/galaxy/model/store/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/duplicate_file_to_collection.xml
Labels: area/database, area/tool-framework

#14776 Make HTTP request object available to `AuthManager`
  doc/source/admin/authentication.md
  lib/galaxy/auth/__init__.py
  lib/galaxy/auth/providers/__init__.py
  lib/galaxy/auth/providers/alwaysreject.py
  lib/galaxy/auth/providers/ldap_ad.py
  lib/galaxy/auth/providers/localdb.py
  lib/galaxy/auth/providers/pam_auth.py
  lib/galaxy/managers/users.py
  lib/galaxy/webapps/galaxy/api/authenticate.py
  lib/galaxy/webapps/galaxy/controllers/user.py
  lib/galaxy/webapps/galaxy/services/authenticate.py
  lib/tool_shed/webapp/api/authenticate.py
  lib/tool_shed/webapp/controllers/user.py
  test/unit/auth/test_auth.py
Labels: area/testing, area/API, area/auth

#14714 Idle connection pool cleaner
  lib/galaxy/app.py
  lib/galaxy/config/sample/object_store_conf.xml.sample
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/irods.py
  lib/galaxy/structured_app.py
  lib/galaxy_test/driver/driver_util.py
  test/integration/objectstore/test_objectstore_datatype_upload.py
  test/unit/app/jobs/test_job_wrapper.py
  test/unit/app/tools/test_actions.py
  test/unit/app/tools/test_collect_primary_datasets.py
  test/unit/objectstore/irods_object_store_conf.xml
  test/unit/objectstore/irods_object_store_conf_no_auth.xml
  test/unit/objectstore/irods_object_store_conf_no_extra_dir.xml
  test/unit/objectstore/test_irods.py
Labels: area/testing, area/objectstore, area/testing/integration

#14606 Adapt invocation export UI for plugins
  client/src/components/Markdown/Markdown.vue
  client/src/components/StsDownloadButton.test.js
  client/src/components/StsDownloadButton.vue
  client/src/components/Workflow/Invocation/Export/ActionButton.vue
  client/src/components/Workflow/Invocation/Export/ExportToRemoteButton.vue
  client/src/components/Workflow/Invocation/Export/ExportToRemoteModal.vue
  client/src/components/Workflow/Invocation/Export/InvocationExportPluginCard.test.js
  client/src/components/Workflow/Invocation/Export/InvocationExportPluginCard.vue
  client/src/components/Workflow/Invocation/Export/Plugins/BioComputeObject/BioComputeObjectExportPlugin.js
  client/src/components/Workflow/Invocation/Export/Plugins/BioComputeObject/SendForm.vue
  client/src/components/Workflow/Invocation/Export/Plugins/DefaultFileExportPlugin.js
  client/src/components/Workflow/Invocation/Export/Plugins/ROCrateExportPlugin.js
  client/src/components/Workflow/Invocation/Export/Plugins/index.js
  client/src/components/Workflow/Invocation/Export/model.js
  client/src/components/WorkflowInvocationState/Export/BioComputeObjectExportCard.vue
  client/src/components/WorkflowInvocationState/Export/index.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationExportOptions.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationSummary.vue
  client/src/composables/useMarkdown.js
  client/src/composables/useMarkdown.test.js
  client/src/composables/useTaskMonitor.js
  client/src/composables/useTaskMonitor.test.js
Labels: kind/enhancement, area/UI-UX, highlight, highlight/power-user

#14794 implement undeleting a workflow
  lib/galaxy/managers/workflows.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/services/workflows.py
  lib/galaxy_test/api/test_workflows.py
Labels: area/UI-UX, kind/feature, area/API, area/workflows

#14828 Fix Tool form header overlaps with window manager
  client/src/layout/window-manager.js
Labels: kind/bug, area/UI-UX

#14830 Fix tool help headings and sizes
  client/src/components/Tool/ToolHelp.test.js
  client/src/components/Tool/ToolHelp.vue
Labels: kind/bug, area/UI-UX, kind/refactoring, area/accessibility

#14838 Refactor markdownHelp
  client/src/components/Markdown/MarkdownEditor.vue
  client/src/components/Markdown/MarkdownHelp.vue
  client/src/components/Markdown/MarkdownToolBox.vue
  client/src/components/Markdown/markdownHelp.js
Labels: kind/bug, area/UI-UX, kind/refactoring

#14831 Remove redirect mako from tool runner controller
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/webapps/galaxy/controllers/tool_runner.py
  templates/webapps/galaxy/root/redirect.mako
Labels: area/UI-UX, kind/refactoring

#14835 Fix export history RO-Crate without workflows
  lib/galaxy/model/store/__init__.py
  test/unit/data/model/test_model_store.py
Labels: kind/bug, area/backend

#14823 Fixes welcome panel route in login component
  client/src/components/login/LoginForm.vue
  client/src/components/login/LoginIndex.vue
  client/src/components/login/NewUserConfirmation.vue
Labels: kind/bug, area/UI-UX

#14822 Move base tool data infrastructure into tool_util package.
  lib/galaxy/managers/tool_data.py
  lib/galaxy/tool_util/data/__init__.py
  lib/galaxy/tool_util/data/_schema.py
  lib/galaxy/tools/data/__init__.py
  lib/galaxy/tools/remote_tool_eval.py
  lib/galaxy/webapps/galaxy/api/tool_data.py
  mypy.ini
  test/unit/tool_util/test_tool_data.py
Labels: kind/enhancement, area/toolshed, area/tool-framework, area/packaging

#14832 Remove legacy js mount-helpers for makos
  client/src/bundleEntries.js
  client/src/components/Dataset/mount.js
  client/src/components/History/mount.js
  client/src/components/Masthead/initMasthead.js
  client/src/components/PageDisplay/index.js
  client/src/components/PageDisplay/mount.js
  client/src/components/PageEditor/index.js
  client/src/components/PageEditor/mount.js
  client/src/components/Workflow/Editor/mount.js
  client/src/components/Workflow/Invocations.test.js
  client/src/components/Workflow/Invocations.vue
  client/src/components/Workflow/Run/WorkflowRunSuccess.vue
  client/src/components/WorkflowInvocationState/index.js
  client/src/components/WorkflowInvocationState/mount.js
  client/src/layout/masthead.js
Labels: area/UI-UX, kind/refactoring

#14811 Remove legacy reinstall endpoint from admin_toolshed.py.
  lib/galaxy/webapps/galaxy/controllers/admin_toolshed.py
  lib/tool_shed/test/base/twilltestcase.py
  lib/tool_shed/test/functional/test_1040_install_repository_basic_circular_dependencies.py
  lib/tool_shed/test/functional/test_1080_advanced_circular_dependency_installation.py
  lib/tool_shed/test/functional/test_1090_repository_dependency_handling.py
  lib/tool_shed/test/functional/test_1200_uninstall_and_reinstall_basic_repository.py
  lib/tool_shed/test/functional/test_1210_uninstall_reinstall_repository_with_tool_dependencies.py
  lib/tool_shed/test/functional/test_1230_uninstall_reinstall_repository_with_dependency_revisions.py
  lib/tool_shed/test/functional/test_1470_updating_installed_repositories.py
  lib/tool_shed/webapp/templates/admin/tool_shed_repository/browse_repository.mako
  lib/tool_shed/webapp/templates/admin/tool_shed_repository/browse_tool_dependency.mako
  lib/tool_shed/webapp/templates/admin/tool_shed_repository/common.mako
  lib/tool_shed/webapp/templates/admin/tool_shed_repository/manage_repository.mako
  lib/tool_shed/webapp/templates/admin/tool_shed_repository/repository_actions_menu.mako
  lib/tool_shed/webapp/templates/admin/tool_shed_repository/repository_installation_status.mako
  lib/tool_shed/webapp/templates/admin/tool_shed_repository/reset_metadata_on_selected_repositories.mako
  lib/tool_shed/webapp/templates/admin/tool_shed_repository/tool_dependency_installation_status.mako
  lib/tool_shed/webapp/templates/admin/tool_shed_repository/view_tool_metadata.mako
  lib/tool_shed/webapp/templates/display_common.mako
  lib/tool_shed/webapp/templates/legacy/grid_base.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/export_repository.mako
  templates/admin/tool_shed_repository/common.mako
Labels: kind/refactoring, area/toolshed

#14817 Misc. fixes to datatypes modules
  lib/galaxy/datatypes/anvio.py
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/genetics.py
  lib/galaxy/datatypes/goldenpath.py
  lib/galaxy/datatypes/interval.py
  lib/galaxy/datatypes/isa.py
  lib/galaxy/datatypes/plant_tribes.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/util/markdown.py
  test/unit/data/datatypes/test_rexpbase.py
Labels: kind/bug, kind/refactoring, area/datatypes

#14841 Fix sample config
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/sample/galaxy.yml.sample
Labels: kind/bug, area/configuration

#14824 Move ToolShedRepositoryCache into galaxy.tool_shed.
  lib/galaxy/app.py
  lib/galaxy/structured_app.py
  lib/galaxy/tool_shed/cache.py
  lib/galaxy/tools/cache.py
  mypy.ini
  test/unit/app/tools/conftest.py
Labels: kind/refactoring, area/toolshed, area/tool-framework

#14845 Fix tool linting with comments
  lib/galaxy/tool_util/linters/outputs.py
  lib/galaxy/tool_util/linters/stdio.py
  test/unit/tool_util/test_tool_linters.py
Labels: kind/bug, kind/enhancement, area/testing, area/tool-framework

#14853 Fix invocation filtering by stored workflow
  client/src/components/providers/StoredWorkflowsProvider.js
Labels: kind/bug, area/UI-UX

#14816 6493/feature/undelete workflows
  client/src/components/Common/Tags.vue
  client/src/components/Workflow/WorkflowDropdown.test.js
  client/src/components/Workflow/WorkflowDropdown.vue
  client/src/components/Workflow/WorkflowList.vue
  client/src/components/Workflow/services.js
  lib/galaxy/managers/workflows.py
  lib/galaxy_test/selenium/test_workflow_management.py
Labels: area/UI-UX, kind/feature

#14847 Add type annotations to ``config_manage.py``
  lib/galaxy/config/config_manage.py
  mypy.ini
Labels: kind/enhancement, kind/refactoring, area/configuration

#14850 Test upgrade to bootstrap-vue 2.23.
  client/package.json
  client/yarn.lock
Labels: area/client

#14852 [22.05] Backport of #14845
  lib/galaxy/tool_util/linters/outputs.py
  lib/galaxy/tool_util/linters/stdio.py
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, merge, area/tool-framework

#14862 Drop broken output.parent logic
  lib/galaxy/tools/actions/__init__.py
  test/unit/app/tools/test_data_parameters.py
Labels: kind/bug, area/jobs

#14859 [22.05] Cherry pick #14807 and add test for /api/container_resolvers/resolve
  lib/galaxy/tool_util/deps/views.py
  lib/galaxy/webapps/galaxy/api/container_resolution.py
  lib/galaxy_test/api/test_container_resolution.py
Labels: area/testing, area/testing/api

#14857 make solo fontawesome elements render attached tooltips properly
  client/src/components/Workflow/WorkflowDropdown.vue
Labels: kind/bug, area/UI-UX

#14854 Use dnspython to check specifically for an "MX" DNS record
  lib/galaxy/security/validate_user_input.py
  packages/data/setup.cfg
  pyproject.toml
  test/unit/data/security/test_validate_user_input.py
Labels: kind/bug, area/testing, area/security, area/packaging

#14876 [22.05] Fix response encoding when getting tool citations via API
  lib/galaxy/managers/citations.py
  test/unit/app/managers/test_CitationsManager.py
Labels: kind/bug, area/testing

#14877 [22.01] Add missing ``unittest_utils`` package to galaxy-tool-util
  packages/tool_util/setup.py
Labels: kind/bug, area/packaging

#14866 Visually show which parameters belong to a conditional
  client/src/components/Form/FormElement.vue
  client/src/components/Form/FormInputs.vue
Labels: kind/enhancement, area/UI-UX

#14885 reintroduce decoding for PUT /dataset/set_edit calls
  lib/galaxy/webapps/galaxy/controllers/dataset.py
Labels: kind/bug, area/backend

#14870 Fix loading subworkflows from editor interface
  client/src/components/Workflow/Editor/Index.vue
  client/src/entry/analysis/modules/WorkflowEditor.vue
  client/src/utils/navigation/navigation.yml
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: kind/bug, area/UI-UX, area/workflows

#14897 [22.05] Fix collection download link
  client/src/components/History/CurrentCollection/CollectionOperations.vue
Labels: kind/bug, area/UI-UX
