Repository galaxyproject/galaxy, pull requests merged in 2022-07, with the labels that each got.

#14233 [22.05] Place watchHistory logic in try/catch/finally
  client/src/store/historyStore/model/watchHistory.js
  client/src/store/historyStore/model/watchHistory.test.js
Labels: kind/bug, area/UI-UX

#14232 [22.05] Add selenium tests for uploads
  client/src/utils/navigation/navigation.yml
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_uploads.py
Labels: kind/enhancement, area/testing/selenium

#14244 Merge 22.05 -> dev.
  client/src/components/Citation/Citation.vue
  client/src/components/History/Content/Dataset/DatasetDetails.vue
  client/src/components/History/Content/model/states.js
  client/src/components/History/CurrentHistory/HistoryFilters/HistoryFilters.vue
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
  client/src/components/RuleBuilder/SavedRulesSelector.vue
  client/src/components/RuleCollectionBuilder.vue
  client/src/components/Tool/ToolFooter.vue
  client/src/onload/globalInits/initSentry.js
  client/src/store/historyStore/model/watchHistory.js
  client/src/store/historyStore/model/watchHistory.test.js
  client/src/utils/navigation/navigation.yml
  client/src/utils/uploadbox.js
  lib/galaxy/jobs/handler.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/webapps/base/api.py
  lib/galaxy/webapps/galaxy/controllers/tool_runner.py
  lib/galaxy/webapps/galaxy/fast_app.py
  lib/galaxy/webapps/reports/fast_app.py
  lib/galaxy_test/selenium/test_uploads.py
  lib/tool_shed/webapp/fast_app.py
  test/unit/webapps/test_middleware_empty_response.py
Labels: area/UI-UX, area/testing, area/jobs, area/reports, merge, area/testing/selenium

#14245 [22.05] Fix validation of nested element fetch data payloads
  lib/galaxy/schema/fetch_data.py
  test/unit/webapps/api/test_fetch_schema.py
Labels: kind/bug, area/testing

#13984 Convert Client to Single Page application
  client/src/components/Collections/ListCollectionCreatorModal.js
  client/src/components/Grid/Grid.vue
  client/src/components/Grid/GridHistory.vue
  client/src/components/Grid/GridShared.vue
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/Dataset/DatasetActions.vue
  client/src/components/History/CurrentHistory/HistoryCounter.vue
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
  client/src/components/History/adapters/HistoryPanelProxy.js
  client/src/components/History/adapters/buildCollectionModal.js
  client/src/components/HistoryView.vue
  client/src/components/Masthead/Masthead.vue
  client/src/components/Masthead/MastheadItem.vue
  client/src/components/NewUserWelcome/NewUserWelcome.test.js
  client/src/components/NewUserWelcome/NewUserWelcome.vue
  client/src/components/NewUserWelcome/getResource.js
  client/src/components/Panels/Common/ToolSection.vue
  client/src/components/Panels/ToolBox.vue
  client/src/components/Tour/TourRunner.vue
  client/src/components/Upload/UploadButton.vue
  client/src/components/User/UserPreferences.vue
  client/src/components/User/UserPreferencesForm.vue
  client/src/components/Workflow/Editor/Index.test.js
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/modules/connector.js
  client/src/components/Workflow/Editor/modules/services.js
  client/src/components/Workflow/Editor/modules/utilities.js
  client/src/components/Workflow/WorkflowDropdown.vue
  client/src/components/plugins/legacyNavigation.js
  client/src/entry/analysis/AnalysisRouter.js
  client/src/entry/analysis/App.vue
  client/src/entry/analysis/index.js
  client/src/entry/analysis/modules/Analysis.vue
  client/src/entry/analysis/modules/CenterPanel.vue
  client/src/entry/analysis/modules/Home.vue
  client/src/entry/analysis/modules/WorkflowEditor.vue
  client/src/entry/analysis/router.js
  client/src/layout/masthead.js
  client/src/layout/menu.js
  client/src/layout/window-manager.js
  client/src/utils/query-string-parsing.js
  client/yarn.lock
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/root.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  lib/galaxy_test/selenium/test_sizzle_loading.py
  templates/webapps/galaxy/workflow/editor.mako
Labels: kind/enhancement, area/UI-UX, area/client

#14082 Fix for Preferred Language refresh bug in Localization process related to User Preferences Page [13653]
  client/src/app/galaxy.js
  client/src/utils/localization.js
Labels: area/UI-UX

#14246 [22.01] Improve robustness of tus upload and calculation of progress
  client/src/utils/uploadbox.js
Labels: kind/bug, kind/enhancement, area/upload

#14182 [22.05] Show job progress bar while there are non-terminal jobs, declutter text
  client/src/components/History/Content/Collection/CollectionDescription.vue
  client/src/components/History/Content/Collection/CollectionProgress.test.js
  client/src/components/History/Content/Collection/CollectionProgress.vue
  client/src/components/History/Content/Collection/JobStateSummary.js
Labels: area/UI-UX

#14251 [22.05] Only serialize history if changed since last check
  client/src/store/historyStore/model/queries.js
  client/src/store/historyStore/model/watchHistory.js
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: kind/bug, kind/enhancement, area/performance

#14252 [22.05] Add purged dataset badge
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/ContentOptions.vue
Labels: kind/bug, kind/enhancement, area/UI-UX

#14253 [22.05] Deleted histories plugin for DiskUsage dashboard
  client/src/components/User/DiskUsage/Management/Cleanup/categories.js
  client/src/components/User/DiskUsage/Management/services.js
Labels: area/UI-UX

#14254 Relocate dynamic outputs for CWL jobs
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/metadata/__init__.py
  lib/galaxy/tool_util/cwl/parser.py
  lib/galaxy/tool_util/cwl/runtime_actions.py
  lib/galaxy/tool_util/cwl/util.py
  lib/galaxy/tool_util/deps/container_classes.py
  lib/galaxy/tool_util/deps/containers.py
  lib/galaxy_test/base/api.py
  lib/galaxy_test/base/populators.py
  test/unit/app/jobs/test_command_factory.py
  test/unit/app/jobs/test_runner_local.py
Labels: kind/enhancement, area/cwl

#14239 Add documentation how to avoid data modification by tools
  doc/source/admin/index.rst
  doc/source/admin/security.md
Labels: area/documentation, area/admin

#14258 Update lists of non-passing CWL conformance tests
  scripts/cwl_conformance_to_test_cases.py
Labels: area/scripts, area/cwl

#14255 [22.05] Small speedup by using cache_ok on MetadataType
  lib/galaxy/model/custom_types.py
Labels: kind/bug, kind/enhancement, area/performance

#14222 Enhance history ContentItem buttons appearance
  client/src/components/History/Content/ContentItem.vue
  client/src/style/scss/base.scss
Labels: kind/enhancement, area/UI-UX

#14264 [22.05] History watch throttling -- relax when backgrounded
  client/src/store/historyStore/model/watchHistory.js
Labels: area/UI-UX

#14265 [22.05] Avoid placeholder value in one more selenium selector
  client/src/utils/navigation/navigation.yml
Labels: kind/bug, minor, area/testing/selenium

#14216 [22.05] New Datatype: QIIME 2
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/config/sample/tool_data_table_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/display_applications/configs/qiime/qiime2/q2view.xml
  lib/galaxy/datatypes/qiime2.py
  lib/galaxy/datatypes/test/qiime2.qiime2.tabular
  lib/galaxy/datatypes/test/qiime2.qza
  lib/galaxy/datatypes/test/qiime2.qzv
  mypy.ini
  test/unit/data/datatypes/test_qiime2.py
  tool-data/q2view_display.loc.sample
Labels: area/testing, area/tools, area/datatypes

#14010 Refactor uses_shed.py so test_base doesn't depend on galaxy-app.
  lib/galaxy_test/base/uses_shed_api.py
  lib/galaxy_test/driver/tool_sheds_conf.xml
  lib/galaxy_test/driver/uses_shed.py
  test/integration/test_workflow_invocation.py
  test/integration/test_workflow_refactoring.py
Labels: kind/bug, kind/enhancement, area/packaging

#14260 Fix B023 warnings from flake8-bugbear 22.7.1
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/managers/markdown_parse.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/metadata/__init__.py
  lib/galaxy/model/dataset_collections/structure.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tools/data/__init__.py
  lib/galaxy/tours/validate.py
  lib/galaxy/visualization/plugins/config_parser.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/refactor/execute.py
  scripts/apply_tags.py
  test/functional/test_toolbox.py
Labels: kind/refactoring, area/testing, area/workflows, area/scripts, area/tool-framework, area/dependencies

#14271 [22.05] Fix ReviewCleanupDialog state in Storage Dashboard
  client/src/components/User/DiskUsage/Management/Cleanup/ReviewCleanupDialog.test.js
  client/src/components/User/DiskUsage/Management/Cleanup/ReviewCleanupDialog.vue
Labels: kind/bug, area/UI-UX

#14266 [22.05] Fix History dataset database entry overflow
  client/src/components/History/Content/Dataset/DatasetDetails.vue
  client/src/style/scss/dataset.scss
Labels: kind/bug, area/UI-UX

#14274 [22.01] Drop exception catching when querying db for session
  lib/galaxy/security/idencoding.py
  lib/galaxy/webapps/base/webapp.py
Labels: kind/bug, area/UI-UX, area/database, area/auth

#14279 [22.05] Backport #14197 and #14272
  lib/galaxy/util/__init__.py
  test/unit/app/jobs/dynamic_tool_destination/test_dynamic_tool_destination.py
Labels: area/testing, merge, area/util

#14285 Rename test to accurately describe the code it tests [improves content of new tutorial]
  test/unit/data/security/test_validate_user_input.py
Labels: kind/refactoring, area/testing

#14281 [22.05] Specify time as datetime object in job queries
  lib/galaxy/managers/jobs.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy_test/api/test_jobs.py
Labels: kind/bug, area/API, area/jobs

#14287 [22.05] Drop dataset error controller method
  client/src/mvc/dataset/dataset-model.js
  lib/galaxy/webapps/galaxy/controllers/dataset.py
Labels: kind/bug, area/UI-UX, area/API, area/histories

#14280 [22.05] Small tour fixes.
  client/src/components/Tour/Tour.vue
  client/src/components/Tour/runTour.js
Labels: kind/bug, area/UI-UX

#14269 [22.05] Allow delete option when history items are shown outside of panel
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/GenericElement.vue
  client/src/components/History/Content/GenericItem.vue
  client/src/components/History/CurrentCollection/CollectionPanel.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
Labels: kind/bug, area/UI-UX

#14284 [22.05] Fix encoding Decimal values and inf/-inf
  lib/galaxy/tools/__init__.py
  lib/galaxy/util/json.py
  test/unit/util/test_json.py
Labels: kind/bug, area/UI-UX, area/API

#14289 [22.05] Fix display_as with authz_method=rbac
  lib/galaxy/model/security.py
  lib/galaxy/webapps/galaxy/controllers/root.py
Labels: kind/bug, area/API

#14283 Disallow indexing of the /training-materials/ proxy used for "Tutorial Mode"
  static/robots.txt
Labels: kind/bug, area/admin

#14288 [22.05] Fix tag autocomplete for strings that need url encoding
  client/src/components/Tags/tagService.js
  client/src/components/Tags/tagService.test.js
Labels: kind/bug, area/UI-UX

#14291 [22.05] Check for app_name and link_name before unquoting
  lib/galaxy/webapps/galaxy/controllers/dataset.py
Labels: kind/bug, area/UI-UX

#14292 [22.05] Avoid race condition in disk object store delete
  lib/galaxy/objectstore/__init__.py
Labels: kind/bug, area/objectstore

#14308 [22.05] Make Storage Dashboard link bold in user preferences
  client/src/components/User/UserPreferences.vue
Labels: area/UI-UX, minor

#14313 Code cleanups from pyupgrade
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/files/sources/__init__.py
  lib/galaxy/files/sources/_pyfilesystem2.py
  lib/galaxy/files/uris.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/model/store/load_objects.py
  lib/galaxy/web/short_term_storage/__init__.py
  lib/galaxy/web_stack/gunicorn_config.py
  test/integration/test_job_files.py
  test/unit/data/test_dataset_materialization.py
Labels: kind/refactoring, area/testing, area/datatypes, area/testing/integration

#14307 [22.05] Sort histories in history switcher by most recently updated
  client/src/components/History/Modals/SelectorModal.vue
Labels: kind/bug, area/UI-UX

#14290 Drop root controller methods
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/images.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/controllers/root.py
  static/gmaj/docs/cathy.gmaj.png
  static/gmaj/docs/gmaj.css
  static/gmaj/docs/gmaj_bugs.html
  static/gmaj/docs/gmaj_help.html
  static/gmaj/docs/gmaj_input.html
  static/gmaj/docs/gmaj_install.html
  static/gmaj/docs/gmaj_news.html
  static/gmaj/docs/gmaj_readme.html
  static/gmaj/docs/hand14.gif
  static/gmaj/docs/sample.gmaj
  static/gmaj/gmaj.jar
  static/laj/docs/java_plugin_help.html
  static/laj/docs/laj_applet_help.html
  static/laj/laj.jar
  tools/visualization/LAJ.py
  tools/visualization/LAJ.xml
  tools/visualization/LAJ_code.py
Labels: kind/refactoring, area/API

#14315 [22.05] Fix jobs API not allowing dates for ``date_range_min`` and ``date_range_max``
  lib/galaxy/managers/jobs.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy_test/api/test_jobs.py
Labels: kind/bug, area/testing, area/API, area/testing/api

#14318 [22.05] Prevent iframe from interfering with drop events
  client/src/components/Upload/UploadModal.vue
Labels: kind/bug, area/UI-UX

#14319 [22.01] Fix local version switching
  client/src/components/Tool/ToolForm.vue
Labels: kind/bug, area/UI-UX

#14296 [22.05] Deleted, discarded and deferred file not found tweaks
  client/src/components/Workflow/WorkflowDropdown.vue
  lib/galaxy/datatypes/interval.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  lib/galaxy/webapps/galaxy/services/dataset_collections.py
Labels: kind/bug, area/UI-UX, area/datatypes

#14320 [22.05] Drop extension from config_exception
  lib/galaxy/jobs/__init__.py
Labels: kind/bug, area/admin

#14328 [22.05] Attempt to use epoch of client build time for cache busting
  .gitignore
  client/package.json
  client/webpack.config.js
  client/yarn.lock
  lib/galaxy/app.py
  lib/galaxy/web/framework/base.py
Labels: kind/bug, area/UI-UX, area/performance

#14333 Update WorkflowInvocationExportOptions.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationExportOptions.vue
Labels: area/UI-UX

#14335 [22.05] Upgrade FastAPI to 0.79.0
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/webapps/openapi/utils.py
Labels: kind/bug, area/API, area/dependencies

#14336 [22.05] Avoid ``FileNotFoundError`` when Dataset is purged, but HDA is not
  lib/galaxy/webapps/galaxy/controllers/dataset.py
Labels: kind/bug, area/UI-UX

#14337 [22.05] Update yarn.lock file
  client/yarn.lock
Labels: kind/bug, area/client

#14330 [22.01] Fix filtering by an extension list in dataset API
  lib/galaxy/managers/base.py
  lib/galaxy_test/api/test_datasets.py
Labels: kind/bug, area/testing, area/API, area/testing/api

#14339 [training] Branch for dev training / GCC2022 / debugging tutorial
  client/src/components/RuleBuilder/RuleComponent.vue
  client/src/components/RuleBuilder/SavedRulesSelector.vue
  lib/galaxy/managers/licenses.py
  lib/galaxy/util/__init__.py
  lib/galaxy/webapps/galaxy/api/datasets.py
Labels: area/UI-UX, area/API, area/util

#14338 [22.05] Optimize active counts query
  lib/galaxy/managers/history_contents.py
Labels: kind/bug, kind/enhancement, area/performance

#14342 [22.05] Fix ``GET /api/whoami`` when ``last_password_change`` is NULL
  lib/galaxy/schema/schema.py
Labels: kind/bug, area/API

#14345 [22.05] Include auth in openAPI schema
  lib/galaxy/webapps/galaxy/api/__init__.py
Labels: kind/bug, kind/enhancement, area/API

#14346 [dev training] Break selenium test for training
  client/src/components/Collections/ListCollectionCreator.vue
Labels: area/UI-UX

#14349 [22.05] Reload histories when the user 'really' changes
  client/src/components/providers/UserHistories.js
Labels: kind/bug, area/UI-UX, area/histories

#14355 [22.01] Workflow download API: check if a workflow is importable (not published)
  lib/galaxy/managers/workflows.py
  lib/galaxy/structured_app.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/bug, area/testing, area/API, area/testing/api

#14357 [22.05] Keep current history details on list of histories update
  client/src/store/historyStore/historyStore.js
Labels: kind/bug, area/UI-UX, area/histories

#14329 Improve handling of non-existent or uninitialized database when running upgrade script
  lib/galaxy/model/migrations/scripts.py
  scripts/manage_db_adapter.py
  test/unit/data/model/migrations/test_scripts.py
Labels: kind/enhancement, kind/refactoring, area/database

#14327 [PROCEDURES] Replace CoC with link to new webpage
  CODE_OF_CONDUCT.md
Labels: procedures

#14340 [22.05] Don't hit object store when getting size
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/library_datasets.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/library_datasets.py
  lib/galaxy/webapps/galaxy/services/library_folder_contents.py
Labels: kind/bug, area/performance

#14368 type hints that cwltool used to carry
  lib/galaxy/tool_util/deps/__init__.py
  lib/galaxy/tool_util/deps/container_resolvers/explicit.py
  lib/galaxy/tool_util/deps/containers.py
  lib/galaxy/tool_util/deps/dependencies.py
  lib/galaxy/tool_util/deps/requirements.py
  lib/galaxy/util/__init__.py
  packages/tool_util/setup.cfg
Labels: area/tool-framework, area/util, area/tool-dependencies

#14363 [22.01] Fix enable_account_interface option hiding too much
  client/src/components/User/UserPreferencesModel.js
  lib/galaxy/webapps/galaxy/api/users.py
Labels: kind/bug, area/UI-UX

#14364 [22.05] Fix tool search config defaults
  lib/galaxy/webapps/galaxy/services/tools.py
Labels: area/tool-framework

#14325 [22.05] Add HREF links to some history item actions
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/ContentOptions.vue
  client/src/components/History/Content/Dataset/DatasetActions.vue
  client/src/components/History/Content/Dataset/DatasetDetails.vue
  client/src/components/History/Content/Dataset/DatasetDownload.vue
  client/src/utils/navigation/navigation.yml
  client/src/utils/redirect.js
  config/plugins/tours/core.galaxy_ui.yaml
  config/plugins/tours/core.history.yaml
  config/plugins/tours/core.windows.yaml
Labels: kind/bug, area/UI-UX, area/histories, area/accessibility

#14356 Add some type annotations
  lib/galaxy/tool_util/cwl/parser.py
  lib/galaxy/tool_util/parser/cwl.py
  lib/galaxy/tool_util/parser/factory.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/parameters/__init__.py
  lib/galaxy/tools/parameters/grouping.py
  lib/galaxy/tools/wrappers.py
  lib/galaxy/util/__init__.py
  lib/galaxy/workflow/modules.py
  test/unit/tool_util/test_tool_linters.py
Labels: kind/bug, kind/enhancement, area/testing, area/workflows, area/tool-framework, area/util, area/cwl

#14332 [22.01] fix `startswith` attribute of `<options>`
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/dynamic_options.py
  test/functional/tools/options_from_metadata_file.xml
  test/functional/tools/samples_tool_conf.xml
  test/functional/tools/select_from_csvdataset.xml
Labels: area/testing, area/tool-framework

#14360 Support empty compressed dataset in filter_empty_datasets tool
  lib/galaxy/tools/__init__.py
  test/unit/app/tools/test_empy_datasets_tool.py
Labels: kind/enhancement, area/tools

#14371 [22.05] Fixed tool_utils types & schema-salad pin
  lib/galaxy/tool_util/deps/__init__.py
  lib/galaxy/tool_util/deps/container_resolvers/explicit.py
  lib/galaxy/tool_util/deps/containers.py
  lib/galaxy/tool_util/deps/dependencies.py
  lib/galaxy/tool_util/deps/requirements.py
  lib/galaxy/util/__init__.py
  packages/tool_util/setup.cfg
Labels: kind/bug, area/tool-framework, area/util, area/tool-dependencies, area/packaging

#14207 Upgrade to Selenium 4.3.0.
  client/src/components/Workflow/WorkflowBookmark.vue
  client/src/utils/navigation/navigation.yml
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/selenium/driver_factory.py
  lib/galaxy/selenium/has_driver.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/smart_components.py
  lib/galaxy_test/selenium/framework.py
  lib/galaxy_test/selenium/test_admin_app.py
  lib/galaxy_test/selenium/test_change_password.py
  lib/galaxy_test/selenium/test_collection_builders.py
  lib/galaxy_test/selenium/test_collection_edit.py
  lib/galaxy_test/selenium/test_custom_builds.py
  lib/galaxy_test/selenium/test_histories_list.py
  lib/galaxy_test/selenium/test_history_panel_collections.py
  lib/galaxy_test/selenium/test_jupyter.py
  lib/galaxy_test/selenium/test_library_contents.py
  lib/galaxy_test/selenium/test_library_landing.py
  lib/galaxy_test/selenium/test_pages.py
  lib/galaxy_test/selenium/test_personal_information.py
  lib/galaxy_test/selenium/test_published_histories_grid.py
  lib/galaxy_test/selenium/test_sign_out.py
  lib/galaxy_test/selenium/test_tool_form.py
  lib/galaxy_test/selenium/test_uploads.py
  lib/galaxy_test/selenium/test_workflow_editor.py
  lib/galaxy_test/selenium/test_workflow_management.py
  lib/galaxy_test/selenium/test_workflow_run.py
  test/integration_selenium/test_admin_dependencies.py
  test/integration_selenium/test_toolbox_filters.py
Labels: kind/enhancement, area/testing/selenium

#14373 [22.01] Correct IMPLICITLY_REQUIRED_TOOL_FILES for some tools
  lib/galaxy/tools/__init__.py
Labels: kind/bug, area/tool-framework

#14376 [22.05] Fix incorrect history swapping in some cases where we swap on the client but the server is never notified.
  client/src/components/providers/UserHistories.js
  client/src/store/historyStore/historyStore.js
Labels: area/UI-UX

#14379 Remove schema-salad pin
  packages/tool_util/setup.cfg
  pyproject.toml
Labels: area/packaging

#14375 [22.05] Optimize History watcher to request detailed information only for expanded items
  client/src/store/historyStore/model/watchHistory.js
  client/src/utils/url.js
Labels: kind/bug, kind/enhancement, area/UI-UX, area/histories

#14236 Enhance `library folder contents` search API
  lib/galaxy/managers/folders.py
  lib/galaxy/model/security.py
  lib/galaxy/webapps/galaxy/api/folder_contents.py
  lib/galaxy/webapps/galaxy/services/library_folder_contents.py
  lib/galaxy_test/api/test_folder_contents.py
Labels: kind/enhancement, kind/refactoring, area/API, area/libraries

#14372 [22.05] Tool search backend bug fixes
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/tools/search/__init__.py
  lib/galaxy/webapps/galaxy/services/tools.py
Labels: kind/bug, area/API, area/tool-framework

#14374 BCODB submit form
  client/src/components/WorkflowInvocationState/Export/BioComputeObjectExportCard.vue
  client/src/components/WorkflowInvocationState/Export/index.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationExportOptions.vue
Labels: area/UI-UX

#14386 [22.05] remove debug statements from tool search
  lib/galaxy/tools/search/__init__.py
Labels: kind/refactoring, area/tools
