Repository galaxyproject/galaxy, pull requests merged in 2022-05, with the labels that each got.

#13835 Duplicates removed from filtering.js
  client/src/components/History/CurrentHistory/HistoryFilters.vue
  client/src/store/historyStore/model/filtering.js
  client/src/store/historyStore/model/filtering.test.js
Labels: area/UI-UX, kind/refactoring

#13786 Implement more useful workflow tagging.
  client/src/components/Common/Tags.vue
  client/src/components/Workflow/WorkflowList.vue
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/util/search.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/services/workflows.py
  lib/galaxy/workflow/trs_proxy.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/selenium/test_workflow_management.py
  lib/tool_shed/webapp/search/repo_search.py
  test/unit/util/test_search.py
Labels: kind/enhancement, area/UI-UX, area/API, area/workflows

#13834 Fix up configuration for STS. Can't rebuild config without this.
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
Labels: area/documentation, area/admin

#13791 [PROCEDURES] Update committers list
  doc/source/project/organization.rst
Labels: procedures, area/documentation, kind/refactoring

#13771 Add 3D PCA visualization
  client/gulpfile.js
  config/plugins/visualizations/PCA_3Dplot/config/PCA_3Dplot.xml
  config/plugins/visualizations/PCA_3Dplot/package.json
  config/plugins/visualizations/PCA_3Dplot/static/script.js
  config/plugins/visualizations/PCA_3Dplot/static/style.css
  config/plugins/visualizations/PCA_3Dplot/templates/PCA_3Dplot.mako
Labels: kind/feature, area/visualizations

#13846 Beta History: display `global` history bulk operations only when necessary
  client/src/components/History/CurrentHistory/HistoryOperations/Operations.vue
Labels: kind/enhancement, area/UI-UX, area/histories

#13845 Typing fixes from deferred data branch.
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/model/__init__.py
  test/unit/app/jobs/test_job_context.py
Labels: kind/enhancement, area/framework

#13847 Citation separation
  client/src/components/Citation/services.js
  client/webpack.config.js
Labels: kind/enhancement, area/UI-UX, area/client-build, area/client

#13843 Handle fixes in the latest version of mypy.
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/util/renamed_temporary_file.py
  lib/galaxy/util/template.py
Labels: kind/bug, area/framework

#13844 Beta History: display 'processing' message while running bulk operations
  client/src/components/History/Content/SelectedItems.js
  client/src/components/History/CurrentHistory/HistoryOperations/Index.vue
  client/src/components/History/CurrentHistory/HistoryOperations/Operations.vue
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
Labels: kind/enhancement, area/UI-UX, area/histories

#13856 Implement initial jest unit tests for WorkflowList.vue.
  client/src/components/Workflow/Workflows.test.js
Labels: kind/enhancement, area/testing, area/workflows

#13853 [22.01] Bump ncb-datasets-cli dependency to 13.14.0
  tools/data_source/ncbi_datasets.xml
Labels: kind/bug, area/tools

#13860 [22.01] Move TusMiddleware so XForwardedMiddleware runs first
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: kind/bug

#13855 More robust workflow grid selenium tests.
  lib/galaxy/selenium/has_driver.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/smart_components.py
Labels: kind/bug, area/workflows, area/testing/selenium

#13864 Various CI fixes and enhancements
  .circleci/config.yml
  .github/labeler.yml
  .github/workflows/api.yaml
  .github/workflows/build_container_image.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/converter_tests.yaml
  .github/workflows/cwl_conformance.yaml
  .github/workflows/db_indexes.yaml
  .github/workflows/dependencies.yaml
  .github/workflows/docs.yaml
  .github/workflows/first_startup.yaml
  .github/workflows/framework.yaml
  .github/workflows/integration.yaml
  .github/workflows/integration_selenium.yaml
  .github/workflows/jest.yaml
  .github/workflows/labels-verifier.yaml
  .github/workflows/lint.yaml
  .github/workflows/maintenance_bot.yaml
  .github/workflows/mulled.yaml
  .github/workflows/osx_startup.yaml
  .github/workflows/performance.yaml
  .github/workflows/reports_startup.yaml
  .github/workflows/selenium.yaml
  .github/workflows/selenium_beta.yaml
  .github/workflows/test_galaxy_release.yaml
  .github/workflows/toolshed.yaml
  .github/workflows/unit-postgres.yaml
  .github/workflows/unit.yaml
Labels: kind/enhancement, area/testing

#13857 Fix workflow bookmarking API.
  client/src/components/Workflow/WorkflowList.vue
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: kind/bug, area/UI-UX, area/API, area/workflows

#13863 galaxy-tool-util: better link in the README
  packages/tool_util/README.rst
Labels: area/packaging

#13861 Improved typing of Galaxy model store related stuff.
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/model/store/discover.py
  test/integration/test_extended_metadata.py
Labels: kind/enhancement, area/framework

#13833 Map Dataset declaratively
  lib/galaxy/model/__init__.py
  test/unit/data/model/mapping/test_gxy_model_mapping.py
Labels: kind/refactoring, area/database

#13790 [22.01] Fix error when getting destinations by tag
  lib/galaxy/jobs/__init__.py
  lib/galaxy/structured_app.py
Labels: kind/bug, area/jobs

#13862 Refactor toward invocations service layer.
  lib/galaxy/managers/base.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/services/invocations.py
Labels: kind/refactoring, area/API

#13870 Pages Index API Improvements
  lib/galaxy/managers/pages.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/pages.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/services/pages.py
  lib/galaxy_test/api/test_pages.py
Labels: kind/enhancement, kind/refactoring, area/API

#13867 Workflow Index Fixes and Improvements
  client/src/components/Workflow/WorkflowList.vue
  client/src/components/Workflow/Workflows.test.js
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/index_filter_util.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/services/workflows.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/bug, kind/enhancement, area/UI-UX, area/API

#13871 [22.01] Fix download of composite files via API
  lib/galaxy/datatypes/data.py
  lib/galaxy/util/zipstream.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  lib/galaxy_test/api/test_datasets.py
Labels: kind/bug, area/API

#13878 Misc fixes 2022-05
  doc/source/admin/galaxy_options.rst
  doc/source/admin/mq.md
  doc/source/releases/21.05_announce.rst
  doc/source/releases/22.01_announce.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/tool_util/deps/conda_util.py
  lib/galaxy/tools/parameters/validation.py
  lib/galaxy/util/json.py
  test/integration_selenium/test_trs_import.py
  test/unit/app/tools/test_parameter_validation.py
Labels: kind/bug, area/documentation, area/testing, area/admin, area/tool-framework, area/util, area/tool-dependencies, area/testing/integration

#13819 [PROCEDURES] Add allowance for members changing their own name…
  doc/source/project/organization.rst
Labels: procedures, area/documentation

#13879 [22.01] Update gravity, fixes celery-beat in privsep setup
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: kind/bug, area/dependencies

#13858 Beta History: selection and operations small fixes
  client/src/components/History/Content/SelectedItems.js
  client/src/components/History/Content/SelectedItems.test.js
  client/src/components/History/CurrentHistory/HistoryOperations/Index.vue
  client/src/components/History/CurrentHistory/HistoryOperations/Operations.vue
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
Labels: kind/bug, area/UI-UX

#13883 Update committer login name
  doc/source/project/organization.rst
Labels: area/documentation, kind/refactoring

#13880 Infrastructure for Jest Testing of Localization
  client/src/components/InteractiveTools/InteractiveTools.test.js
  client/src/components/Tags/StatelessTags.test.js
  client/src/components/Tool/ToolFooter.test.js
  client/src/components/Tool/ToolFooter.vue
  client/src/components/plugins/localization.js
  client/tests/jest/helpers.js
Labels: kind/enhancement, area/UI-UX, area/testing, area/i18n

#13884 [22.01] replace decodestring with decodeybtes
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/database

#13829 Custos Login Ambiguity enhancement
  client/src/components/login/RegisterForm.vue
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/managers/configuration.py
Labels: area/UI-UX

#13850 Beta History: notify query selection break
  client/src/components/History/Content/SelectedItems.js
  client/src/components/History/Content/SelectedItems.test.js
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionChangeWarning.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/store/index.js
  client/src/store/userStore/index.js
  client/src/store/userStore/userFlagsStore.js
Labels: area/UI-UX

#13683 Add OIDC PKCE parameter support
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/config/sample/oidc_backends_config.xml.sample
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  test/unit/app/authnz/test_custos_authnz.py
Labels: area/testing

#13876 Workflow List Vue Component Improvements
  client/src/components/DebouncedInput.js
  client/src/components/Indices/IndexFilter.vue
  client/src/components/Indices/SharingIndicators.vue
  client/src/components/Indices/filtersMixin.js
  client/src/components/Indices/readme.txt
  client/src/components/Workflow/Invocations.test.js
  client/src/components/Workflow/Invocations.vue
  client/src/components/Workflow/WorkflowBookmark.vue
  client/src/components/Workflow/WorkflowIndexActions.test.js
  client/src/components/Workflow/WorkflowIndexActions.vue
  client/src/components/Workflow/WorkflowList.vue
  client/src/components/Workflow/WorkflowRunButton.vue
  client/src/components/Workflow/Workflows.test.js
  client/src/components/Workflow/paginationMixin.js
  client/src/components/providers/InvocationsProvider.js
  client/src/components/providers/InvocationsProvider.test.js
  client/src/components/providers/StoredWorkflowProvider.test.js
  client/src/components/providers/StoredWorkflowsProvider.js
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/framework.py
Labels: kind/enhancement, area/UI-UX, area/workflows

#13890 Refactor bulk operation processing
  client/src/components/History/CurrentHistory/HistoryOperations/Index.vue
  client/src/components/History/CurrentHistory/HistoryOperations/Operations.vue
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/model/crud.js
Labels: area/UI-UX, kind/refactoring

#13897 [22.01] Backport: Respect GRAVITY_STATE_DIR when activating venv
  scripts/common_startup_functions.sh
Labels: kind/bug, area/scripts

#13892 More Workflow List Component Improvements
  client/src/components/Indices/SharingIndicators.test.js
  client/src/components/Indices/SharingIndicators.vue
  client/src/components/Indices/filtersMixin.test.js
  client/src/components/Workflow/WorkflowDropdown.test.js
  client/src/components/Workflow/WorkflowDropdown.vue
  client/src/components/Workflow/WorkflowList.vue
  client/src/components/Workflow/Workflows.test.js
Labels: kind/enhancement, area/UI-UX, area/workflows

#13881 Fix flaky user histories providers test
  client/src/components/providers/UserHistories.test.js
  client/src/store/historyStore/historyStore.js
Labels: kind/bug, area/testing

#13904 [22.01] Set default celery app for all threads
  lib/galaxy/celery/__init__.py
Labels: kind/bug

#13905 [22.01] Redirect stderr of trap cleanup
  lib/galaxy/jobs/command_factory.py
  test/unit/app/jobs/test_command_factory.py
Labels: kind/bug, area/jobs

#13898 Fix typing for unpinned request dependency.
  lib/galaxy/webapps/galaxy/api/__init__.py
Labels: kind/bug, area/framework

#13906 [22.01] Allow anonymous users to import published histories
  lib/galaxy/webapps/galaxy/services/histories.py
  lib/galaxy/work/context.py
  lib/galaxy_test/api/test_histories.py
Labels: kind/bug, area/API, area/histories

#13901 Misc fixes 2022-05-11
  doc/source/releases/19.05.rst
  doc/source/releases/20.09_announce.rst
  doc/source/releases/21.01_announce.rst
  lib/galaxy/tool_util/client/staging.py
  packages/webapps/test-requirements.txt
  pytest.ini
  scripts/bootstrap_history.py
  test/unit/web_framework/framework/test_framework_base.py
  test/unit/webapps/test_routes.py
Labels: kind/bug, area/documentation, area/testing, area/scripts, area/tool-framework, area/packaging

#13911 Beta History: handle bulk operation errors
  client/src/components/History/CurrentHistory/HistoryOperations/OperationErrorDialog.vue
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.test.js
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
Labels: kind/bug, kind/enhancement, area/testing

#13910 Advanced filter menu enhancements
  client/src/components/History/CurrentHistory/HistoryFilters.test.js
  client/src/components/History/CurrentHistory/HistoryFilters.vue
Labels: kind/enhancement, area/UI-UX

#13908 Decompose History Export UI
  client/src/components/Common/ExportForm.test.js
  client/src/components/Common/ExportForm.vue
  client/src/components/Common/exportsMixin.js
  client/src/components/Common/exportsMixin.test.js
  client/src/components/HistoryExport/Index.vue
  client/src/components/HistoryExport/ToRemoteFile.test.js
  client/src/components/HistoryExport/ToRemoteFile.vue
Labels: kind/enhancement, area/UI-UX, kind/refactoring

#13915 Drop uncredit pull requestor list
  scripts/bootstrap_history.py
Labels: kind/enhancement, area/scripts

#13925 fix two bugs in mulled container building
  lib/galaxy/tool_util/deps/conda_util.py
  lib/galaxy/tool_util/deps/mulled/mulled_build.py
  lib/galaxy/tool_util/deps/mulled/util.py
Labels: area/tool-framework, area/tool-dependencies

#13935 Bulk operations: more API tests & fixes
  lib/galaxy/managers/collections.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
  lib/galaxy_test/api/test_history_contents.py
Labels: kind/bug, area/API, area/testing/api

#13939 Beta History Collections: set default visible and deleted state in ContentOptions
  client/src/components/History/Content/ContentOptions.vue
Labels: kind/refactoring, area/client

#13932 Assorted Python typing.
  lib/galaxy/files/__init__.py
  lib/galaxy/util/plugin_config.py
Labels: kind/enhancement, area/framework

#13934 API workflow index allow 'searching' by owner.
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/index_filter_util.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/enhancement, area/API, area/workflows

#13945 [22.01] Remove tus uploads during fetch data job
  client/src/utils/uploadbox.js
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/webapps/galaxy/api/_fetch_util.py
Labels: kind/bug, kind/enhancement, area/admin, area/upload

#13914 Beta History: fix reset selection
  client/src/components/History/Content/SelectedItems.js
  client/src/components/History/Content/SelectedItems.test.js
Labels: kind/bug, area/UI-UX

#13947 More Uniform URI Access and Validation
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/files/uris.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/tools/imp_exp/unpack_tar_gz_archive.py
  lib/galaxy/tools/parameters/grouping.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/services/_fetch_util.py
  lib/galaxy/webapps/galaxy/services/histories.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/driver/driver_util.py
  test/integration/test_config_defaults.py
  test/unit/files/test_uris.py
  tools/data_source/data_source.py
Labels: kind/enhancement, area/testing, area/API, area/workflows, area/security

#13957 [22.01] Use INFO log level for irods
  lib/galaxy/objectstore/irods.py
Labels: kind/bug, area/objectstore

#13893 Jobs Index and Grid Improvements
  client/src/components/admin/Jobs.vue
  client/src/components/providers/JobProvider.js
  client/src/components/providers/JobProvider.test.js
  lib/galaxy/managers/jobs.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/services/jobs.py
  lib/galaxy_test/api/test_jobs.py
Labels: kind/enhancement, area/UI-UX, area/API, area/jobs, area/testing/api

#13848 Display name tags only in dataset items
  client/src/components/History/Content/ContentItem.test.js
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/Dataset/DatasetActions.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/Tags/StatelessTags.vue
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/navigation.yml
  lib/galaxy_test/selenium/test_history_panel_collections.py
Labels: kind/bug, area/UI-UX, area/histories

#12604 Check prefix before complete loading when checking yaml and cwl tools
  lib/galaxy/tool_util/loader_directory.py
Labels: kind/enhancement, area/tool-framework

#13959 [22.01] Tighten sniffers
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/datatypes/phylip.py
  lib/galaxy/datatypes/test/not_a_phylip_file.tabular
  lib/galaxy/datatypes/test/not_a_xyz_file.txt
Labels: kind/bug, area/datatypes

#13952 Beta History: allow search datasets by name tag using `#`
  client/src/store/historyStore/model/filtering.js
  client/src/store/historyStore/model/filtering.test.js
Labels: kind/bug, area/UI-UX, area/histories

#13927 Add support for gz-compressed gfa1 and gfa2 files
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#13583 [22.01] linter: allow setting output format with actions
  lib/galaxy/tool_util/linters/outputs.py
  test/unit/tool_util/test_tool_linters.py
Labels: kind/bug, kind/enhancement, area/testing, area/tool-framework

#13946 More explicit History Import button
  templates/webapps/galaxy/history/display.mako
Labels: kind/enhancement, area/UI-UX, paper-cut

#13636 Add optional dependency on total-perspective-vortex
  lib/galaxy/config/sample/job_conf.xml.sample_advanced
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  test/unit/app/jobs/job_conf.sample_advanced.yml
Labels: area/testing, area/dependencies

#13922 Replace scratchbook with window manager
  client/package.json
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/Dataset/DatasetActions.vue
  client/src/components/Masthead/Masthead.test.js
  client/src/components/Masthead/Masthead.vue
  client/src/components/Masthead/MastheadItem.vue
  client/src/components/plugins/legacyNavigation.js
  client/src/layout/masthead.js
  client/src/layout/menu.js
  client/src/layout/page.js
  client/src/layout/scratchbook.js
  client/src/layout/window-manager.js
  client/src/mvc/dataset/dataset-li.js
  client/src/mvc/ui/ui-frames.js
  client/src/nls/es/locale.js
  client/src/nls/fr/locale.js
  client/src/nls/locale.js
  client/src/nls/zh/locale.js
  client/src/style/scss/base.scss
  client/src/style/scss/frame.scss
  client/src/style/scss/windows.scss
  client/tests/jest/jest.config.js
  client/yarn.lock
  config/plugins/tours/core.galaxy_ui.yaml
  config/plugins/tours/core.windows.yaml
  lib/galaxy_test/selenium/test_stock_tours.py
  static/welcome.html.sample
Labels: kind/enhancement, area/UI-UX, highlight

#13961 Recommend rebasing PRs over merging the target branch
  CONTRIBUTING.md
Labels: area/documentation

#13891 Allow disabling default history filters
  client/src/components/History/CurrentHistory/HistoryFilters/HistoryFilters.test.js
  client/src/components/History/CurrentHistory/HistoryFilters/HistoryFilters.vue
  client/src/components/History/CurrentHistory/HistoryFilters/HistoryFiltersDefault.vue
  client/src/components/History/CurrentHistory/HistoryFilters/filterConversion.js
  client/src/components/History/CurrentHistory/HistoryFilters/filterConversion.test.js
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/store/historyStore/model/filtering.js
  client/src/store/historyStore/model/filtering.test.js
Labels: kind/bug, area/UI-UX, area/histories, highlight

#13969 Don't create a BGZF index when running the compressing converter
  lib/galaxy/datatypes/converters/uncompressed_to_gz.xml
Labels: kind/bug, area/datatypes

#12482 Trim spaces from around email addresses and usernames when registering
  lib/galaxy/app_unittest_utils/galaxy_mock.py
  lib/galaxy/managers/users.py
  lib/galaxy/security/validate_user_input.py
  lib/galaxy_test/selenium/test_registration.py
  test/unit/app/managers/test_UserManager.py
  test/unit/data/security/test_validate_user_input.py
Labels: kind/bug, area/testing, area/security

#13177 make maximum number of retries for username validation configurable
  doc/source/admin/cluster.md
  lib/galaxy/auth/util.py
  lib/galaxy/config/sample/auth_conf.xml.sample
Labels: area/documentation, area/admin

#13913 [22.01] Redirect stderr of trap cleanup
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/webapps/galaxy/api/__init__.py
  test/unit/app/jobs/test_command_factory.py
Labels: area/testing, area/jobs

#13974 Follow-up edits based on #13177 code review
  lib/galaxy/auth/util.py
  lib/galaxy/config/sample/auth_conf.xml.sample
Labels: kind/bug, area/documentation, area/admin

#13971 Use colon symbol instead of equal sign in history filters
  client/src/components/History/CurrentHistory/HistoryCounter.vue
  client/src/components/History/CurrentHistory/HistoryFilters/HistoryFilters.test.js
  client/src/components/History/CurrentHistory/HistoryFilters/HistoryFilters.vue
  client/src/components/History/CurrentHistory/HistoryFilters/HistoryFiltersDefault.vue
  client/src/components/History/CurrentHistory/HistoryFilters/filterConversion.js
  client/src/components/History/CurrentHistory/HistoryFilters/filterConversion.test.js
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.test.js
  client/src/store/historyStore/model/filtering.js
  client/src/store/historyStore/model/filtering.test.js
  client/src/store/historyStore/model/watchHistory.test.js
  config/plugins/tours/core.history.yaml
  config/plugins/webhooks/demo/tour_generator/script.js
  config/plugins/webhooks/demo/tour_generator/tour_generator.js
  lib/galaxy_test/selenium/test_collection_builders.py
Labels: kind/enhancement, area/UI-UX

#13986 Fix job cancellation on delete dataset
  client/src/components/History/model/queries.js
  lib/galaxy/managers/datasets.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
  lib/galaxy_test/api/test_datasets.py
  lib/galaxy_test/base/populators.py
Labels: kind/bug, area/API

#13710 Update migrations documentation (inline + readme)
  lib/galaxy/model/migrations/README.md
  lib/galaxy/model/migrations/__init__.py
  manage_db.sh
  run_alembic.sh
  scripts/manage_db.py
  scripts/manage_db_adapter.py
Labels: kind/enhancement, area/documentation, area/database
