Repository galaxyproject/galaxy, pull requests merged in 2022-03, with the labels that each got.

#13463 Fix copy tool id
  client/src/components/Tool/ToolCard.vue
  client/src/components/Tool/utilities.js
Labels: area/UI-UX

#13459 let linter check for duplicated names/labels
  lib/galaxy/tool_util/linters/outputs.py
  test/unit/tool_util/test_tool_linters.py
Labels: kind/enhancement, area/testing, area/tool-framework

#13461 [22.01] Create config package, move app-related functionality to app
  lib/galaxy/app.py
  lib/galaxy/config/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/web/formatting.py
  lib/galaxy/web_stack/__init__.py
  lib/tool_shed/webapp/config.py
  packages/app/MANIFEST.in
  packages/app/requirements.txt
  packages/app/setup.py
  packages/app/test-requirements.txt
  packages/config/HISTORY.rst
  packages/config/LICENSE
  packages/config/MANIFEST.in
  packages/config/Makefile
  packages/config/README.rst
  packages/config/dev-requirements.txt
  packages/config/galaxy/__init__.py
  packages/config/galaxy/config
  packages/config/galaxy/project_galaxy_config.py
  packages/config/requirements.txt
  packages/config/scripts
  packages/config/setup.cfg
  packages/config/setup.py
  packages/config/test-data
  packages/config/test-requirements.txt
  packages/config/tests/__init__.py
  packages/config/tests/config
  packages/test.sh
  packages/util/galaxy/version.py
  scripts/cleanup_datasets/cleanup_datasets.py
  scripts/cleanup_datasets/pgcleanup.py
  scripts/cleanup_datasets/populate_uuid.py
  scripts/grt/export.py
  scripts/helper.py
  scripts/pages_identifier_conversion.py
  scripts/runtime_stats.py
  scripts/set_dataset_sizes.py
  scripts/set_user_disk_usage.py
  test/unit/config/test_config_dataset_storage.py
  test/unit/data/model/mapping/test_model_mapping.py
  test/unit/webapps/config_manage/1607_root_filters/config/galaxy.ini
  test/unit/webapps/config_manage/1607_root_filters/config/tool_shed.ini
  test/unit/webapps/config_manage/1607_root_samples/config/galaxy.ini
  test/unit/webapps/config_manage/1607_root_samples/config/reports.ini
  test/unit/webapps/config_manage/1607_root_samples/config/tool_shed.ini
  test/unit/webapps/config_manage/1705_allow_path_paste/config/galaxy.ini
  test/unit/webapps/config_manage/__init__.py
  test/unit/webapps/config_manage/embedded/config/galaxy.yml
  test/unit/webapps/config_manage/simple/config/galaxy.yml
  test/unit/webapps/config_manage/test_config_manage.py
  test/unit/webapps/test_config_values.py
Labels: kind/enhancement, area/testing, area/packaging

#13469 [21.09] Add profile version to ethercalc
  tools/interactive/interactivetool_ethercalc.xml
Labels: kind/bug, area/interactive-tools

#13443 enabling Reset button for Rule Builder tab
  client/src/components/Upload/Collection.vue
  client/src/components/Upload/Composite.vue
  client/src/components/Upload/Default.vue
  client/src/components/Upload/RulesInput.test.js
  client/src/components/Upload/RulesInput.vue
Labels: kind/bug, area/UI-UX

#13408 Refactor client tests to use await for mutations
  client/src/components/Collections/PairedListCollectionCreator.test.js
  client/src/components/DatasetInformation/DatasetAttributes.test.js
  client/src/components/Form/Elements/FormBoolean.test.js
  client/src/components/Form/Elements/FormNumber.test.js
  client/src/components/Form/FormElement.test.js
  client/src/components/History/ContentItem/GenericContentItem/DatasetCollectionUIWrapper.test.js
  client/src/components/Masthead/Masthead.test.js
  client/src/components/Panels/Common/ToolSection.test.js
  client/src/components/RuleBuilder/SavedRulesSelector.test.js
  client/src/components/SelectionDialog/SelectionDialog.test.js
  client/src/components/Tags/StatelessTags.test.js
  client/src/components/Tags/Tags.test.js
  client/src/components/Tool/ToolFooter.test.js
  client/src/components/Toolshed/RepositoryDetails/RepositoryTools.test.js
  client/src/components/Upload/Collection.test.js
  client/src/components/Upload/Default.test.js
  client/src/components/Workflow/Editor/Attributes.test.js
  client/src/components/Workflow/Editor/Node.test.js
  client/src/components/Workflow/Editor/RefactorConfirmationModal.test.js
  client/src/components/Workflow/Editor/ZoomControl.test.js
  client/src/components/WorkflowInvocationState/JobStep.test.js
Labels: kind/refactoring, area/testing, area/client

#13434 Run jest tests using node 16 in CI
  .github/workflows/jest.yaml
Labels: kind/enhancement, area/testing, area/client

#13468 [21.01] Initial fix for quay.io repo query issue
  lib/galaxy/tool_util/deps/mulled/util.py
Labels: kind/bug, area/tool-dependencies

#13462 [21.09] add phyloseq datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: kind/enhancement, area/datatypes

#13474 [21.09] Fix pgcleanup.py for datasets stored by UUID
  scripts/cleanup_datasets/pgcleanup.py
Labels: area/scripts

#13470 Update interactive tool docs for Gunicorn / dropping uWSGI
  config/galaxy.yml.interactivetools
  config/job_conf.xml.interactivetools
  doc/source/admin/galaxy_options.rst
  doc/source/admin/special_topics/interactivetools.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/managers/interactivetool.py
Labels: area/documentation, area/admin

#13478 [22.01] Backport and fix webapps tests
  lib/galaxy/config/__init__.py
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/schemas/reports_config_schema.yml
  lib/galaxy/config/schemas/tool_shed_config_schema.yml
  lib/galaxy/webapps/reports/uwsgi_schema.yml
  lib/tool_shed/webapp/config.py
  lib/tool_shed/webapp/uwsgi_schema.yml
  packages/app/galaxy/schema
  packages/app/requirements.txt
  packages/app/setup.py
  packages/app/test-requirements.txt
  packages/test.sh
  packages/util/requirements.txt
  packages/webapps/requirements.txt
  packages/webapps/test-requirements.txt
  packages/webapps/tests/webapps
  pyproject.toml
  scripts/release-diff.py
  test/unit/config/config_manage/1607_root_filters/config/galaxy.ini
  test/unit/config/config_manage/1607_root_filters/config/tool_shed.ini
  test/unit/config/config_manage/1607_root_samples/config/galaxy.ini
  test/unit/config/config_manage/1607_root_samples/config/reports.ini
  test/unit/config/config_manage/1607_root_samples/config/tool_shed.ini
  test/unit/config/config_manage/1705_allow_path_paste/config/galaxy.ini
  test/unit/config/config_manage/__init__.py
  test/unit/config/config_manage/embedded/config/galaxy.yml
  test/unit/config/config_manage/simple/config/galaxy.yml
  test/unit/config/config_manage/test_config_manage.py
  test/unit/config/test_config_values.py
Labels: kind/bug, area/packaging

#13438 Add tooltip preview for rules in SavedRulesSelector
  client/src/components/RuleBuilder/SavedRulesSelector.test.js
  client/src/components/RuleBuilder/SavedRulesSelector.vue
  client/src/components/RuleCollectionBuilder.vue
  client/src/mvc/rules/rule-definitions.js
Labels: area/UI-UX, highlight

#13432 [22.01] Dataset annotations are optional and should not be required
  lib/galaxy/webapps/galaxy/controllers/dataset.py
Labels: kind/bug, minor, merge

#13483 [22.01] Pin gravity to 0.10.0
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  pyproject.toml
Labels: kind/bug, kind/enhancement, area/dependencies

#13484 [22.01] Backport force rebuild script
  client/gulpfile.js
Labels: area/client

#13485 Use timeout instead of interval when polling, optionally terminate polling
  client/src/components/DatasetInformation/DatasetDetails.vue
  client/src/components/History/ContentItem/GenericContentItem/GenericHistoryContent.vue
  client/src/components/JobInformation/JobInformation.test.js
  client/src/components/JobInformation/JobInformation.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationStep.vue
  client/src/components/providers/DatasetCollectionProvider.js
  client/src/components/providers/DatasetProvider.js
  client/src/components/providers/JobProvider.js
  client/src/components/providers/SingleQueryProvider.js
  client/src/components/providers/utils.js
Labels: kind/bug, area/UI-UX

#13487 Make test_user_library_permissions.py more robust.
  test/integration_selenium/test_user_library_permissions.py
Labels: kind/bug, area/testing/selenium

#13491 [22.01] Backport job and dataset polling fixes
  client/src/components/DatasetInformation/DatasetError.test.js
  client/src/components/DatasetInformation/DatasetError.vue
  client/src/components/DatasetInformation/DatasetInformation.test.js
  client/src/components/DatasetInformation/DatasetInformation.vue
  client/src/components/Details/DatasetDetails.vue
  client/src/components/History/ContentItem/GenericContentItem/DatasetCollectionContents.vue
  client/src/components/History/ContentItem/GenericContentItem/GenericHistoryContent.vue
  client/src/components/JobInformation/JobInformation.test.js
  client/src/components/JobInformation/JobInformation.vue
  client/src/components/JobParameters/JobParameters.test.js
  client/src/components/Visualizations/DisplayApplications.test.js
  client/src/components/Visualizations/DisplayApplications.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationStep.vue
  client/src/components/providers/DatasetCollectionProvider.js
  client/src/components/providers/DatasetProvider.js
  client/src/components/providers/InvocationStepProvider.js
  client/src/components/providers/JobProvider.js
  client/src/components/providers/SingleQueryProvider.js
  client/src/components/providers/utils.js
Labels: kind/bug, area/UI-UX, merge

#13481 Update logging configuration documentation
  doc/source/admin/config_logging.rst
Labels: area/documentation

#13458 Progress towards SQLAlchemy 2.0 (backref_cascade issue)
  lib/galaxy/model/__init__.py
  lib/galaxy/model/dataset_collections/builder.py
  lib/galaxy/model/orm/util.py
  lib/galaxy/model/store/__init__.py
  test/unit/app/tools/test_history_imp_exp.py
  test/unit/data/model/mapping/test_install_model_mapping.py
  test/unit/data/model/mapping/test_model_mapping.py
Labels: kind/bug, area/database

#13496 Expand input parameter workflow steps in workflow run form
  client/src/components/Workflow/Run/WorkflowRun.test.js
  client/src/components/Workflow/Run/model.js
  client/src/components/Workflow/Run/testdata/run1.json
Labels: kind/bug, area/UI-UX, paper-cut

#13447 Add built-in converters to tool panel
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/tool_util/toolbox/base.py
Labels: area/UI-UX, kind/feature, area/tools

#13475 Small enhancements from the deferred data branch.
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/files/__init__.py
  lib/galaxy/model/store/discover.py
  test/unit/app/tools/test_data_fetch.py
Labels: kind/enhancement, area/testing, area/configuration

#13493 [22.01] Fix jqplot_bar import, adjust plugin hash saving
  client/gulpfile.js
  config/plugins/visualizations/jqplot/jqplot_bar/src/script.js
Labels: kind/bug, area/visualizations

#13508 Add API endpoint to recalculate user disk usage
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/services/users.py
Labels: kind/enhancement, area/API

#13503 Run tests with ``metadata_strategy: extended`` on weekly schedule
  .github/workflows/api.yaml
  .github/workflows/converter_tests.yaml
  .github/workflows/framework.yaml
  .github/workflows/integration.yaml
  .github/workflows/integration_selenium.yaml
  .github/workflows/performance.yaml
  .github/workflows/selenium.yaml
  .github/workflows/selenium_beta.yaml
Labels: kind/enhancement, area/testing

#13509 Add retries to `test_github_search`
  test/unit/tool_util/mulled/test_mulled_search.py
Labels: kind/enhancement, area/testing

#13413 Allow legacy EDAM mappings.
  lib/galaxy/tool_util/ontologies/__init__.py
  lib/galaxy/tool_util/ontologies/biotools_mappings.tsv
  lib/galaxy/tool_util/ontologies/edam_operation_mappings.tsv
  lib/galaxy/tool_util/ontologies/edam_topic_mappings.tsv
  lib/galaxy/tool_util/ontologies/ontology_data.py
  lib/galaxy/tools/__init__.py
  packages/app/MANIFEST.in
  packages/tool_util/MANIFEST.in
  packages/tool_util/setup.py
  test/unit/tool_util/test_ontologies.py
  test/unit/tool_util/test_parsing.py
Labels: kind/enhancement, area/testing, area/tool-framework, area/packaging

#13488 Various Celery Framework Enhancements
  lib/galaxy/app_unittest_utils/celery_helper.py
  lib/galaxy/app_unittest_utils/galaxy_mock.py
  lib/galaxy/celery/__init__.py
  lib/galaxy/celery/tasks.py
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy_test/driver/driver_util.py
  lib/galaxy_test/driver/integration_util.py
Labels: kind/enhancement, area/framework

#13376 Add source_metadata attribute for workflows imported using TRS ID or via URL
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrate/versions/0181_add_source_metadata_workflow_table.py
  lib/galaxy_test/api/test_workflows.py
  test/unit/data/model/mapping/test_model_mapping.py
  test/unit/data/test_mutable_json_column.py
Labels: area/testing, area/API, area/testing/api

#13498 More backref_cascade fixes (SQLAlchemy 2.0)
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/model/__init__.py
  lib/tool_shed/webapp/model/__init__.py
  test/unit/app/tools/test_execution.py
  test/unit/data/model/mapping/test_model_mapping.py
  test/unit/data/test_galaxy_mapping.py
Labels: kind/bug, area/database

#13522 [22.01] Backport reset button fix rule builder
  client/src/components/Upload/Collection.vue
  client/src/components/Upload/Composite.vue
  client/src/components/Upload/Default.vue
  client/src/components/Upload/RulesInput.test.js
  client/src/components/Upload/RulesInput.vue
Labels: kind/bug, area/UI-UX, merge

#13517 More small atomic enhancements from the deferred data branch.
  lib/galaxy/celery/tasks.py
  lib/galaxy/managers/base.py
  lib/galaxy/managers/model_stores.py
  lib/galaxy/schema/tasks.py
  lib/galaxy/tools/imp_exp/__init__.py
  lib/galaxy_test/api/test_pages.py
  lib/galaxy_test/base/populators.py
Labels: kind/bug, kind/enhancement, area/framework

#13523 [22.01] Revert "Merge pull request #13285 from mvdbeek/null_text_values"
  client/src/components/Common/ButtonSpinner.vue
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/mvc/ui/ui-misc.js
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/validation.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run_request.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/selenium/test_workflow_run.py
Labels: area/UI-UX, area/testing, area/workflows, area/tool-framework, area/testing/api, area/testing/selenium

#13532 Fixes for mulled search
  lib/galaxy/tool_util/deps/conda_util.py
  lib/galaxy/tool_util/deps/mulled/mulled_build.py
  lib/galaxy/tool_util/deps/mulled/mulled_search.py
  test/unit/tool_util/mulled/test_mulled_search.py
Labels: kind/bug, area/testing, area/tool-framework, area/tool-dependencies

#13536 [22.01] Return actual tool id instead of specified tool id in workflow step
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/selenium/framework.py
  test/integration_selenium/test_workflow_repository_tool_update.py
Labels: kind/bug, area/workflows

#13538 [21.09] Allow admin access to datasets API (before refactoring)
  lib/galaxy/managers/lddas.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy_test/api/test_datasets.py
  lib/galaxy_test/api/test_histories.py
Labels: kind/bug, area/API, merge

#13537 [21.05] Allow admin access to datasets API (before refactoring)
  lib/galaxy/managers/lddas.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy_test/api/test_datasets.py
Labels: kind/bug, area/API, merge

#13535 Enable automatically loading webhook based on url
  config/plugins/webhooks/gtn/script.js
Labels: kind/enhancement, area/webhooks

#13540 Merge release_22.01 into dev
  .k8s_ci.Dockerfile
  client/gulpfile.js
  client/src/components/Common/ButtonSpinner.vue
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/components/providers/InvocationStepProvider.js
  client/src/mvc/ui/ui-misc.js
  config/plugins/visualizations/jqplot/jqplot_bar/src/script.js
  doc/source/_static/22.01-colour.mp4
  doc/source/_static/22.01-export.mp4
  doc/source/releases/22.01.rst
  doc/source/releases/22.01_announce.rst
  doc/source/releases/22.01_announce_user.rst
  doc/source/releases/22.01_prs.rst
  doc/source/releases/22.05_announce.rst
  doc/source/releases/images/22.01-colour.mp4
  doc/source/releases/images/22.01-export.mp4
  doc/source/releases/index.rst
  lib/galaxy/model/orm/engine_factory.py
  lib/galaxy/model/unittest_utils/data_app.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/validation.py
  lib/galaxy/web_stack/__init__.py
  lib/galaxy/web_stack/gunicorn_config.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  lib/galaxy/webapps/galaxy/fast_factory.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run_request.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/selenium/test_workflow_run.py
  lib/tool_shed/webapp/fast_factory.py
  packages/web_stack/test-requirements.txt
  scripts/common_startup_functions.sh
  test/unit/web_stack/test_application_stack.py
Labels: area/documentation, area/UI-UX, area/testing, area/workflows, area/visualizations, merge, area/scripts, area/tool-framework, area/testing/api, area/testing/selenium, area/client, area/packaging

#13529 Add link to issue to error message
  lib/galaxy/model/migrations/__init__.py
Labels: kind/refactoring, area/database

#13547 [22.01] Make gravity import conditional
  lib/galaxy/config/config_manage.py
  packages/config/test-requirements.txt
Labels: kind/bug, minor, area/packaging

#13539 Update to new @galaxyproject/bootstrap-tour to fix tour anchor selection
  client/package.json
  client/yarn.lock
Labels: area/client

#13549 Fix broken merge.
  lib/galaxy/config/config_manage.py
Labels: kind/bug, merge

#13545 Card expansion animation in new history
  client/src/components/History/Content/ContentItem.vue
Labels: kind/enhancement, area/UI-UX

#13541 Add source_metadata column to workflow table as alembic revision
  lib/galaxy/model/migrations/alembic/versions_gxy/b182f655505f_add_workflow_source_metadata_column.py
  lib/galaxy/model/migrations/util.py
Labels: kind/refactoring, area/database

#13476 Disable implicit re-imports across the project.
  lib/galaxy/datatypes/converters/gff_to_interval_index_converter.py
  lib/galaxy/datatypes/speech.py
  lib/galaxy/datatypes/util/gff_util.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/managers/configuration.py
  lib/galaxy/managers/datatypes.py
  lib/galaxy/managers/group_roles.py
  lib/galaxy/managers/group_users.py
  lib/galaxy/managers/groups.py
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/managers/metrics.py
  lib/galaxy/managers/model_stores.py
  lib/galaxy/managers/quotas.py
  lib/galaxy/managers/remote_files.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/managers/tool_data.py
  lib/galaxy/tool_shed/tools/data_table_manager.py
  lib/galaxy/tool_shed/tools/tool_validator.py
  lib/galaxy/tool_shed/util/basic_util.py
  lib/galaxy/tool_shed/util/tool_util.py
  lib/galaxy/tool_util/cwl/cwltool_deps.py
  lib/galaxy/tool_util/cwl/parser.py
  lib/galaxy/tool_util/deps/mulled/mulled_build.py
  lib/galaxy/tool_util/deps/mulled/mulled_search.py
  lib/galaxy/tool_util/parser/cwl.py
  lib/galaxy/util/path/__init__.py
  lib/galaxy/util/resources.py
  lib/galaxy/util/tool_shed/common_util.py
  lib/galaxy/util/tool_shed/xml_util.py
  lib/galaxy/web/framework/base.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/fast_app.py
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/selenium/framework.py
  lib/galaxy_test/selenium/test_navigates_galaxy.py
  lib/tool_shed/tools/data_table_manager.py
  lib/tool_shed/tools/tool_validator.py
  lib/tool_shed/util/basic_util.py
  lib/tool_shed/util/common_util.py
  lib/tool_shed/util/tool_util.py
  lib/tool_shed/util/xml_util.py
  lib/tool_shed/webapp/fast_app.py
  setup.cfg
  test/integration/test_celery_tasks.py
  test/unit/app/test_remote_shell.py
  test/unit/webapps/api/test_configuration.py
Labels: kind/refactoring, area/framework

#13559 Fix up some import "issues".
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/tool_util/cwl/cwltool_deps.py
  lib/galaxy/webapps/galaxy/fast_app.py
  test/unit/webapps/test_request_scoped_sqlalchemy_sessions.py
  test/unit/workflows/test_workflow_markdown.py
Labels: kind/enhancement, area/framework

#13563 Fix for configfiles examples in galaxy.xsd
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/tool-framework

#13553 [22.01] Fix extended_metadata jobs with dce inputs
  lib/galaxy/model/store/__init__.py
Labels: kind/bug, area/jobs

#13571 Allow setting a workflow as (un)importable via the API
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/enhancement, area/testing, area/API, area/testing/api

#13573 [22.01] Fix tool shed bootstrapping
  lib/tool_shed/webapp/app.py
  scripts/common_startup_functions.sh
  scripts/tool_shed/api/common.py
  scripts/tool_shed/bootstrap_tool_shed/bootstrap_tool_shed.sh
  scripts/tool_shed/bootstrap_tool_shed/bootstrap_util.py
  scripts/tool_shed/bootstrap_tool_shed/create_user_with_api_key.py
Labels: kind/bug, area/scripts

#13552 [21.09] Fix creating tags within sessionless context
  lib/galaxy/model/store/discover.py
  lib/galaxy/model/tags.py
  test/unit/test_model_discovery.py
Labels: kind/bug, area/database

#13576 [22.01] Fix model discovery unit tests
  lib/galaxy/model/unittest_utils/data_app.py
Labels: kind/bug

#13577 Fix `test_callback_nonce_validation_with_bad_nonce` unit test
  .github/workflows/api.yaml
  .github/workflows/cwl_conformance.yaml
  .github/workflows/framework.yaml
  .github/workflows/integration.yaml
  .github/workflows/integration_selenium.yaml
  .github/workflows/performance.yaml
  .github/workflows/reports_startup.yaml
  .github/workflows/selenium.yaml
  .github/workflows/selenium_beta.yaml
  .github/workflows/toolshed.yaml
  .github/workflows/unit-postgres.yaml
  .github/workflows/unit.yaml
  test/unit/app/authnz/test_custos_authnz.py
Labels: kind/bug, area/testing

#13562 Misc. SQLAlchemy 2.0 upgrades
  lib/galaxy/managers/history_contents.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrations/__init__.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/model/triggers/utils.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy/webapps/galaxy/controllers/page.py
  lib/galaxy/webapps/galaxy/controllers/visualization.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  lib/galaxy/webapps/reports/controllers/system.py
  scripts/cleanup_datasets/cleanup_datasets.py
  scripts/tool_shed/bootstrap_tool_shed/bootstrap_util.py
  test/unit/data/model/migrations/test_migrations.py
  test/unit/data/test_galaxy_mapping.py
Labels: kind/refactoring, area/database

#13579 Add legacy routes to openapi schema
  lib/galaxy/app.py
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/api/genomes.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/fast_app.py
  packages/webapps/requirements.txt
  pyproject.toml
Labels: kind/enhancement, area/documentation, area/API

#13519 Disable implicit optional types.
  lib/galaxy/managers/datasets.py
  lib/galaxy/model/unittest_utils/data_app.py
  lib/galaxy/tool_util/deps/conda_util.py
  lib/galaxy/tool_util/linters/tests.py
  lib/galaxy/tool_util/verify/asserts/archive.py
  lib/galaxy/tool_util/verify/asserts/size.py
  lib/galaxy/tool_util/verify/asserts/tabular.py
  lib/galaxy/tool_util/verify/asserts/text.py
  lib/galaxy/tool_util/verify/asserts/xml.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy/webapps/galaxy/api/libraries.py
  lib/galaxy_test/api/test_group_roles.py
  lib/galaxy_test/api/test_group_users.py
  lib/galaxy_test/api/test_groups.py
  setup.cfg
Labels: kind/enhancement, area/framework

#13564 [22.01] add mzqc datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#13585 Drop remaining references to uWSGI
  .k8s_ci.Dockerfile
  contrib/galaxy_supervisor.conf
  doc/source/admin/config_logging.rst
  doc/source/admin/migrating_to_gunicorn.md
  doc/source/admin/proxy_package_layout.rst
  doc/source/admin/special_topics/interactivetools.rst
  lib/galaxy/config/sample/job_conf.xml.sample_advanced
  pyproject.toml
Labels: area/documentation, area/admin

#13288 [WIP] Menu cleanup
  client/src/layout/menu.js
  client/src/nls/de/locale.js
  client/src/nls/es/locale.js
  client/src/nls/fr/locale.js
  client/src/nls/ja/locale.js
  doc/source/admin/galaxy_options.rst
  doc/source/releases/_thanks.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/managers/configuration.py
  lib/tool_shed/webapp/templates/webapps/tool_shed/base_panels.mako
  templates/webapps/galaxy/galaxy.masthead.mako
  test/unit/config/config_manage/embedded/config/galaxy.yml
  test/unit/config/config_manage/simple/config/galaxy.yml
Labels: area/documentation, area/UI-UX, area/testing, area/admin, area/testing/api

#13561 Properly initialize chart settings for new visualizations
  client/src/mvc/visualization/chart/chart-client.js
  client/src/mvc/visualization/chart/components/model.js
  client/src/mvc/visualization/chart/views/editor.js
  client/src/mvc/visualization/chart/views/settings.js
Labels: kind/bug, area/UI-UX, area/visualizations

#13512 Use Vuex for new History
  client/src/components/Form/Elements/FormNumber.vue
  client/src/components/History/Content/Collection/CollectionDescription.vue
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/Dataset/DatasetDetails.vue
  client/src/components/History/Content/GenericItem.vue
  client/src/components/History/Content/contentStates.js
  client/src/components/History/CurrentCollection/CollectionDetails.vue
  client/src/components/History/CurrentCollection/CollectionPanel.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/Layout/Listing.vue
  client/src/components/providers/UrlDataProvider.js
  client/src/components/providers/storeProviders.js
  client/src/store/historyStore/collectionElementsStore.js
  client/src/store/historyStore/datasetStore.js
  client/src/store/historyStore/historyChangedItemsStore.js
  client/src/store/historyStore/historyItemsStore.js
  client/src/store/historyStore/historyStore.js
  client/src/store/historyStore/index.js
  client/src/store/historyStore/utilities.js
  client/src/store/index.js
  client/src/utils/url.js
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_history_panel_collections.py
Labels: area/UI-UX, kind/refactoring

#13594 Fix bug in setting check_migrate_databases config value
  lib/galaxy/config/__init__.py
Labels: kind/bug, area/database

#13593 Drop last references to uWSGI
  client/README.md
  doc/source/admin/migrating_to_gunicorn.md
  doc/source/admin/mq.md
  doc/source/admin/scaling.md
  lib/galaxy/app.py
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/script.py
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: kind/enhancement, area/documentation, area/admin, area/dependencies, area/client

#13590 Fixes #13542: Click targets for folder explorer seem off
  client/src/components/DataDialog/DataDialog.vue
Labels: kind/bug, area/UI-UX

#13604 New History: Break item's name to fit and show completely
  client/src/components/History/Content/ContentItem.vue
Labels: area/UI-UX

#13616 Point to GTN tutorial in visualizations readme
  config/plugins/visualizations/README.txt
Labels: kind/bug, area/documentation, area/visualizations

#13621 [22.01] Point to GTN tutorial in visualizations readme
  config/plugins/visualizations/README.txt
Labels: area/visualizations, merge

#13113 Storage dashboard
  client/src/components/IconCard.vue
  client/src/components/User/DiskUsage/DiskUsageSummary.test.js
  client/src/components/User/DiskUsage/DiskUsageSummary.vue
  client/src/components/User/DiskUsage/Management/Cleanup/CleanupOperationSummary.test.js
  client/src/components/User/DiskUsage/Management/Cleanup/CleanupOperationSummary.vue
  client/src/components/User/DiskUsage/Management/Cleanup/CleanupResultDialog.test.js
  client/src/components/User/DiskUsage/Management/Cleanup/CleanupResultDialog.vue
  client/src/components/User/DiskUsage/Management/Cleanup/ReviewCleanupDialog.test.js
  client/src/components/User/DiskUsage/Management/Cleanup/ReviewCleanupDialog.vue
  client/src/components/User/DiskUsage/Management/Cleanup/categories.js
  client/src/components/User/DiskUsage/Management/Cleanup/cleanupCategoriesProvider.js
  client/src/components/User/DiskUsage/Management/Cleanup/index.js
  client/src/components/User/DiskUsage/Management/Cleanup/model/CleanableSummary.js
  client/src/components/User/DiskUsage/Management/Cleanup/model/CleanupCategory.js
  client/src/components/User/DiskUsage/Management/Cleanup/model/CleanupOperation.js
  client/src/components/User/DiskUsage/Management/Cleanup/model/CleanupResult.js
  client/src/components/User/DiskUsage/Management/Cleanup/model/index.js
  client/src/components/User/DiskUsage/Management/StorageManager.vue
  client/src/components/User/DiskUsage/Management/services.js
  client/src/components/User/DiskUsage/Quota/QuotaUsageBar.test.js
  client/src/components/User/DiskUsage/Quota/QuotaUsageBar.vue
  client/src/components/User/DiskUsage/Quota/QuotaUsageProvider.js
  client/src/components/User/DiskUsage/Quota/QuotaUsageSummary.test.js
  client/src/components/User/DiskUsage/Quota/QuotaUsageSummary.vue
  client/src/components/User/DiskUsage/Quota/model/QuotaUsage.js
  client/src/components/User/DiskUsage/Quota/model/QuotaUsage.test.js
  client/src/components/User/DiskUsage/Quota/model/index.js
  client/src/components/User/DiskUsage/StorageDashboard.vue
  client/src/components/User/DiskUsage/StorageDashboardRouter.js
  client/src/components/User/DiskUsage/index.js
  client/src/entry/analysis/AnalysisRouter.js
  client/src/mvc/user/user-quotameter.js
  client/src/utils/utils.js
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/history_contents.py
  lib/galaxy/managers/users.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/user.py
  lib/galaxy/webapps/galaxy/services/datasets.py
  lib/galaxy_test/api/test_datasets.py
Labels: area/UI-UX, kind/feature, highlight

#13591 Add filtering to new History
  client/src/components/History/Content/Collection/CollectionDescription.vue
  client/src/components/History/CurrentCollection/CollectionDetails.vue
  client/src/components/History/CurrentCollection/CollectionPanel.vue
  client/src/components/History/CurrentHistory/HistoryDetails.vue
  client/src/components/History/CurrentHistory/HistoryFilters.vue
  client/src/components/History/CurrentHistory/HistoryOperations.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/Layout/Details.vue
  client/src/components/History/Layout/Layout.vue
  client/src/components/History/model/Content.js
  client/src/components/History/model/Dataset.js
  client/src/components/History/model/Dataset.test.js
  client/src/components/History/model/DatasetCollection.js
  client/src/components/History/model/DatasetCollection.test.js
  client/src/components/History/model/DateStore.js
  client/src/components/History/model/DateStore.test.js
  client/src/components/History/model/History.js
  client/src/components/History/model/JobStateSummary.js
  client/src/components/History/model/ModelBase.js
  client/src/components/History/model/SearchParams.js
  client/src/components/History/model/index.js
  client/src/components/History/model/states.js
  client/src/components/directives/v-short.js
  client/src/components/providers/storeProviders.js
  client/src/store/historyStore/historyItemsFiltering.js
  client/src/store/historyStore/historyItemsStore.js
  client/src/store/historyStore/utilities.js
Labels: area/UI-UX, kind/feature

#13367 Split loading current history from loading all histories
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
  client/src/components/History/Index.vue
  client/src/components/History/model/historyStore.js
  client/src/components/providers/UserHistories.js
  client/src/store/userStore/userStore.js
Labels: kind/bug, kind/enhancement, area/UI-UX, area/performance, area/histories

#13557 [22.01] Write to exit code file before running metadata script
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/util/job_script/DEFAULT_JOB_FILE_TEMPLATE.sh
  lib/galaxy/jobs/runners/util/job_script/__init__.py
  lib/galaxy/tool_util/deps/container_classes.py
  test/functional/tools/job_properties.xml
  test/integration/test_kubernetes_runner.py
  test/unit/app/jobs/test_command_factory.py
Labels: kind/bug, area/jobs

#13623 Improve matching reliability, add test cases
  client/src/store/historyStore/historyItemsFiltering.js
  client/src/store/historyStore/historyItemsFiltering.test.js
Labels: kind/enhancement, area/UI-UX

#13633 Potentially fix flakey rename test with beta history.
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_history_panel_collections.py
Labels: kind/bug, area/testing/selenium

#13631 Minor tweak to language in history dropdown in beta history
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
Labels: area/UI-UX

#13643 Forward type annotation of depends
  lib/galaxy/webapps/galaxy/api/__init__.py
Labels: area/API

#13644 Fix package CI for pysam errors.
  packages/data/requirements.txt
Labels: kind/bug, area/dependencies

#13626 Add advanced filtering panel to history, align appearance of panels
  client/src/components/Common/DelayedInput.vue
  client/src/components/Dataset/DatasetList.vue
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/CurrentCollection/CollectionNavigation.vue
  client/src/components/History/CurrentCollection/CollectionPanel.vue
  client/src/components/History/CurrentHistory/HistoryFilters.test.js
  client/src/components/History/CurrentHistory/HistoryFilters.vue
  client/src/components/History/CurrentHistory/HistoryMenu.vue
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
  client/src/components/History/CurrentHistory/HistoryOperations.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/Index.vue
  client/src/components/History/Layout/Details.vue
  client/src/components/History/Layout/Layout.vue
  client/src/components/History/Layout/Listing.vue
  client/src/components/History/model/syncCurrentHistoryToGalaxy.js
  client/src/components/Panels/Buttons/FavoritesButton.vue
  client/src/components/Panels/Common/ToolSearch.vue
  client/src/components/Panels/ToolBox.vue
  client/src/components/Panels/ToolBoxWorkflow.vue
  client/src/components/Visualizations/PluginList.vue
  client/src/store/historyStore/historyChangedItemsStore.js
  client/src/store/historyStore/historyItemsFiltering.js
  client/src/store/historyStore/historyItemsFiltering.test.js
  client/src/store/historyStore/historyItemsStore.js
  client/src/store/syncVuextoGalaxy.js
  client/src/style/scss/upload.scss
  lib/galaxy_test/selenium/test_collection_builders.py
Labels: kind/enhancement, area/UI-UX

#13650 Update mypy to 0.942 . Fix new mypy errors.
  lib/galaxy/celery/_serialization.py
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/converters/cram_to_bam.py
  lib/galaxy/dependencies/lint-requirements.txt
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/schema/fields.py
  lib/galaxy/tool_util/cwl/util.py
  lib/galaxy/util/compression_utils.py
  lib/galaxy/util/properties.py
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/driver/driver_util.py
  lib/tool_shed/tools/tool_validator.py
  packages/data/requirements.txt
  test/unit/data/datatypes/test_bam.py
Labels: kind/bug, kind/enhancement, area/testing, area/API, area/workflows, area/datatypes, area/tool-framework, area/util, area/dependencies, area/packaging
