Repository galaxyproject/galaxy, pull requests merged in 2023-04, with the labels that each got.

#15882 [22.05] Remove some IDs from error messages
  lib/galaxy/managers/cloud.py
  lib/galaxy/managers/collections.py
  lib/galaxy/managers/group_roles.py
  lib/galaxy/managers/group_users.py
  lib/galaxy/managers/groups.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/api/tool_entry_points.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
  lib/galaxy/webapps/galaxy/services/library_folder_contents.py
  lib/tool_shed/webapp/api/groups.py
Labels: kind/refactoring, area/backend

#15884 Enable per-destination ``container_resolver_config_file``
  lib/galaxy/tool_util/deps/containers.py
  test/integration/fallback_container_resolver.yml
  test/integration/test_containerized_jobs.py
Labels: area/testing, area/tool-framework, area/tool-dependencies, area/testing/integration

#15745 Add StatesInfo component
  client/src/components/History/Content/model/StatesInfo.vue
  client/src/components/History/Content/model/stateTypes.d.ts
  client/src/components/History/Content/model/states.js
  client/src/components/History/CurrentHistory/HistoryFilters/HistoryFilters.vue
Labels: kind/enhancement, area/UI-UX

#15892 Allow pending inputs in some collection operation tools
  lib/galaxy/tools/__init__.py
  lib/galaxy_test/api/test_tools.py
Labels: kind/enhancement, area/tools, area/dataset-collections

#15893 [22.01] cached_explicit_singularity: needs to copy container description
  lib/galaxy/tool_util/deps/container_resolvers/explicit.py
Labels: area/tool-framework, area/tool-dependencies

#15894 [23.0] Fix short term storage archive export extension on download
  lib/galaxy/webapps/galaxy/services/base.py
  test/unit/webapps/test_service_base.py
Labels: kind/bug, area/backend

#15896 [22.05] merge 22.01
  lib/galaxy/tool_util/deps/container_resolvers/explicit.py
Labels: area/tool-framework, area/tool-dependencies

#15900 Exclude tests from TypeScript compilation
  client/tsconfig.webpack.json
Labels: kind/enhancement, area/client-build

#15897 [23.0] Fix history annotation filtering: make it case insensitive
  lib/galaxy/managers/annotatable.py
  test/unit/app/managers/test_HistoryManager.py
Labels: kind/bug, kind/enhancement, area/backend

#15906 [23.0] Admin interface navguard
  client/src/components/ClientError.vue
  client/src/entry/analysis/router.js
  client/src/entry/analysis/routes/admin-routes.js
Labels: area/UI-UX

#15907 [23.0] Fix tool stdio on pulsar and implement job stdio
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/pulsar.py
  test/integration/test_pulsar_embedded.py
  test/integration/test_pulsar_embedded_extended_metadata.py
  test/integration/test_pulsar_embedded_remote_metadata.py
Labels: area/testing, area/jobs, area/testing/integration

#15909 [23.0] Fail linked job if task fails
  lib/galaxy/jobs/__init__.py
Labels: kind/bug, area/jobs

#15912 [23.0] Allow messagebox rich contents
  client/src/entry/analysis/App.vue
Labels: area/UI-UX

#15911 [23.0] Client build performance tweak backport
  client/webpack.config.js
Labels: area/client

#15916 [23.0] Fix history RO-crate export with discarded datasets
  lib/galaxy/model/store/__init__.py
  test/integration/test_history_import_export.py
Labels: kind/bug, area/backend

#15908 Advanced tool search result tweaks
  client/src/components/ToolsList/ScrollToTopButton.vue
  client/src/components/ToolsList/ToolsListItem.vue
  client/src/components/ToolsList/ToolsListTable.vue
Labels: kind/enhancement, area/UI-UX

#15914 [22.05] Fix pulsar error when when home_target is pwd
  lib/galaxy/jobs/runners/pulsar.py
  test/integration/test_pulsar_embedded.py
Labels: kind/bug, area/jobs

#15886 ci: show test classes with non standard names
  .ci/check_test_class_names.sh
Labels: kind/refactoring, area/testing

#15913 [23.0] Show `HistoryCounter` in `HistoryView`
  client/src/components/History/CurrentHistory/HistoryCounter.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/HistoryView.vue
Labels: kind/bug, area/UI-UX

#15919 [22.05] Various fixes for running pulsar jobs
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/drmaa.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/metadata/set_metadata.py
  test/integration/test_pulsar_embedded.py
Labels: area/testing, area/jobs, area/testing/integration

#15354 [23.0] 23.0 Release notes
  doc/source/releases/23.0.rst
  doc/source/releases/23.0_announce.rst
  doc/source/releases/23.0_announce_user.rst
  doc/source/releases/23.0_prs.rst
  doc/source/releases/23.1_announce.rst
  doc/source/releases/images/23.0-conditional-workflow.png
  doc/source/releases/images/23.0-themes.png
  doc/source/releases/index.rst
  lib/galaxy/config/sample/galaxy.yml.sample
Labels: area/documentation

#15921 [23.0] Pin client release version for 23.0
  client/package.json
  package.json
Labels: area/client

#15922 [23.0] Fix release script to be compatible with YY.X versions instead of YY.MM dates.
  scripts/release.sh
  test/release.sh
Labels: area/scripts

#15928 [23.0] Fix Toast variant color for errors
  client/src/composables/toast.ts
Labels: kind/bug, area/UI-UX, minor

#15930 [23.0] Fix defineProps warning in client build.
  client/src/components/ClientError.vue
Labels: area/UI-UX, minor

#15927 [22.05] Fix mixed outputs_to_working_directory pulsar destinations
  lib/galaxy/jobs/runners/__init__.py
Labels: area/jobs

#15934 [23.0] Prevent anonymous access to Storage Dashboard
  client/src/entry/analysis/router.js
  client/src/entry/analysis/routes/storageDashboardRoutes.ts
Labels: kind/bug, area/UI-UX

#15939 [23.0] Update Gravity to 1.0.3
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: area/dependencies

#15941 Update release notes footer
  doc/source/releases/_thanks.rst
Labels: kind/enhancement, area/documentation

#14802 Introducing the Activity Bar, initial concept and layout
  client/src/components/ActivityBar/ActivityBar.vue
  client/src/components/ActivityBar/ActivityItem.vue
  client/src/components/ActivityBar/Items/UploadItem.vue
  client/src/components/Common/Published.vue
  client/src/components/Panels/FlexPanel.vue
  client/src/components/Panels/ProviderAwareToolBox.vue
  client/src/components/Panels/SidePanel.vue
  client/src/components/Panels/ToolBox.vue
  client/src/components/Popper/Popper.vue
  client/src/components/Popper/usePopper.ts
  client/src/components/Tool/ToolForm.vue
  client/src/components/Upload/UploadButton.vue
  client/src/components/Upload/index.js
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/plugins/icons.js
  client/src/entry/analysis/App.vue
  client/src/entry/analysis/menu.js
  client/src/entry/analysis/modules/Admin.vue
  client/src/entry/analysis/modules/Analysis.vue
  client/src/entry/analysis/modules/Login.vue
  client/src/stores/userStore.ts
  client/src/style/scss/base.scss
  client/src/style/scss/theme/blue.scss
  client/src/utils/navigation/navigation.yml
  config/plugins/tours/core.galaxy_ui.yaml
  config/plugins/tours/core.history.yaml
  config/plugins/tours/core.windows.yaml
Labels: area/UI-UX, kind/feature

#15943 [Release 23.0] Add ``ca_certs`` option for sentry client
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/tool_shed.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/config/schemas/tool_shed_config_schema.yml
Labels: kind/bug, kind/enhancement, area/admin, area/configuration

#15923 [23.0] Fix History Import Bugs
  client/src/components/providers/UserHistories.js
  client/src/store/historyStore/historyStore.js
Labels: kind/bug, area/UI-UX

#15925 Summarize long Workflow annotations in WorkflowList
  client/src/components/Common/TextSummary.vue
  client/src/components/Workflow/WorkflowDropdown.test.js
  client/src/components/Workflow/WorkflowDropdown.vue
  client/src/components/Workflow/WorkflowList.vue
  client/src/components/Workflow/Workflows.test.js
Labels: kind/enhancement, area/UI-UX

#15953 Make container builders use mamba
  lib/galaxy/tool_util/deps/container_resolvers/mulled.py
Labels: area/tool-framework, area/tool-dependencies

#15967 [23.0] Change default watchdog inotify_buffer log level to info
  lib/galaxy/config/__init__.py
Labels: kind/bug, area/admin

#15963 Update locale.js
  client/src/nls/zh/locale.js
Labels: area/UI-UX

#15971 [23.0] Fix RO-crate invocation export with complex collections
  lib/galaxy/model/store/ro_crate_utils.py
Labels: kind/bug, area/backend

#15979 Build container with nodejs
  .k8s_ci.Dockerfile
Labels: kind/enhancement

#15980 Add text-break to wrap long published titles
  client/src/components/Common/Published.vue
  client/src/components/Markdown/Elements/HistoryDatasetDetails.vue
  client/src/components/Markdown/Elements/HistoryDatasetDisplay.test.js
  client/src/components/Markdown/Elements/HistoryDatasetDisplay.vue
  client/src/components/Markdown/Elements/ToolStd.vue
  client/src/components/Markdown/Markdown.vue
  client/src/style/scss/base.scss
  client/src/style/scss/ui.scss
Labels: kind/bug, area/UI-UX, paper-cut

#15988 Fix Activity Bar toggle reactivity
  client/src/entry/analysis/modules/Analysis.vue
  client/src/stores/userStore.ts
Labels: area/UI-UX

#15975 [23.0] Fix History filters includes related filter bug
  client/src/stores/history/historyItemsStore.js
Labels: kind/bug, area/UI-UX

#15935 Convert legacy side panels to flex-compatible panels
  client/src/components/ActivityBar/ActivityBar.vue
  client/src/components/Form/FormDisplay.vue
  client/src/components/Form/FormGeneric.vue
  client/src/components/Login/RegisterForm.vue
  client/src/components/Markdown/MarkdownEditor.vue
  client/src/components/PageEditor/PageEditorMarkdown.vue
  client/src/components/Panels/FlexPanel.vue
  client/src/components/Panels/SidePanel.vue
  client/src/components/Panels/ToolBox.vue
  client/src/components/Panels/utilities.js
  client/src/components/Panels/utilities.test.js
  client/src/components/Tool/ToolForm.vue
  client/src/components/Tour/TourStep.vue
  client/src/components/Workflow/Editor/Index.vue
  client/src/entry/analysis/modules/Admin.vue
  client/src/entry/analysis/modules/Analysis.vue
  client/src/entry/analysis/modules/Login.vue
  client/src/style/scss/base.scss
  client/src/style/scss/toolshed.scss
  client/src/utils/navigation/navigation.yml
  config/plugins/tours/core.deferred.yaml
  config/plugins/tours/core.galaxy_ui.yaml
  lib/tool_shed/webapp/templates/base/base_panels.mako
  lib/tool_shed/webapp/templates/message.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/admin/index.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/base_panels.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/index.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/user/login.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/user/logout.mako
  lib/tool_shed/webapp/templates/webapps/tool_shed/user/register.mako
  templates/base/base_panels.mako
  templates/webapps/reports/base_panels.mako
  templates/webapps/reports/index.mako
Labels: kind/enhancement, area/UI-UX

#15926 Emit filterText to HistoryPanel from historyStore
  client/src/components/Dataset/DatasetList.vue
  client/src/components/Dataset/DatasetName.vue
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/Dataset/DatasetActions.vue
  client/src/components/History/Content/GenericItem.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/stores/historyStore.ts
Labels: area/UI-UX, kind/feature

#15876 Drop database views
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/managers/history_contents.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/mapping.py
  lib/galaxy/model/migrations/alembic/versions_gxy/3356bc2ecfc4_drop_view.py
  lib/galaxy/model/migrations/alembic/versions_gxy/c39f1de47a04_add_skipped_state_to_collection_job_.py
  lib/galaxy/model/view/utils.py
  lib/galaxy/util/__init__.py
  pyproject.toml
  test/unit/data/model/test_views.py
  test/unit/util/test_utils.py
Labels: kind/refactoring, area/database

#15628 Add suggested Training material to Tool Form
  client/src/components/Tool/ToolCard.vue
  client/src/components/Tool/ToolTutorialRecommendations.vue
  client/src/composables/toolTrainingMaterial.ts
  client/src/style/scss/ui.scss
  client/src/utils/regExp.ts
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/managers/configuration.py
Labels: area/documentation, area/UI-UX, area/admin

#15991 [23.0] Fix history export papercuts
  client/src/components/History/Export/HistoryExport.test.ts
  client/src/components/History/Export/HistoryExport.vue
  client/src/composables/shortTermStorage.js
  client/src/utils/navigation/navigation.yml
Labels: kind/bug, kind/enhancement, area/UI-UX, paper-cut

#15811 Fix revision scripts, run migrations in CI, add repair option, improve migrations utils
  .github/workflows/unit-postgres.yaml
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrations/alembic/versions_gxy/186d4835587b_drop_job_state_history_update_time_.py
  lib/galaxy/model/migrations/alembic/versions_gxy/3100452fa030_add_workflow_invocation_message_table.py
  lib/galaxy/model/migrations/alembic/versions_gxy/3a2914d703ca_add_index_wf_r_s_s__workflow_invocation_.py
  lib/galaxy/model/migrations/alembic/versions_gxy/518c8438a91b_add_when_expression_column.py
  lib/galaxy/model/migrations/alembic/versions_gxy/59e024ceaca1_add_export_association_table.py
  lib/galaxy/model/migrations/alembic/versions_gxy/6a67bf27e6a6_deferred_data_tables.py
  lib/galaxy/model/migrations/alembic/versions_gxy/9540a051226e_preferred_object_store_ids.py
  lib/galaxy/model/migrations/alembic/versions_gxy/b182f655505f_add_workflow_source_metadata_column.py
  lib/galaxy/model/migrations/alembic/versions_gxy/c39f1de47a04_add_skipped_state_to_collection_job_.py
  lib/galaxy/model/migrations/alembic/versions_gxy/caa7742f7bca_add_index_wf_r_i_p__workflow_invocation_.py
  lib/galaxy/model/migrations/alembic/versions_gxy/d0583094c8cd_add_quota_source_labels.py
  lib/galaxy/model/migrations/alembic/versions_gxy/e0e3bb173ee6_add_column_deleted_to_api_keys.py
  lib/galaxy/model/migrations/base.py
  lib/galaxy/model/migrations/util.py
  lib/galaxy/model/unittest_utils/model_testing_utils.py
  scripts/db_dev.py
  test/unit/app/test_dbscript.py
  test/unit/app/test_migrate_database.py
Labels: kind/bug, area/testing, area/database, area/scripts

#15972 Improve display chunk generation for BAMs
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes

#16005 [23.0] Fix build collection not resetting selection
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.vue
Labels: kind/bug, area/UI-UX

#15992 Fetcher Mock utility
  client/tests/jest/mockFetcher.ts
  client/tests/jest/standalone/mockFetcher.test.ts
Labels: kind/enhancement, area/UI-UX, area/testing

#16009 Add alter_column migration utility
  lib/galaxy/model/migrations/util.py
Labels: kind/enhancement, area/database

#16011 Mock fetcher followup
  client/src/schema/__mocks__/fetcher.ts
  client/src/schema/__mocks__/index.ts
  client/src/schema/mockFetcher.test.ts
  client/tsconfig.webpack.json
Labels: kind/enhancement, area/UI-UX, area/testing, area/client

#15998 Export tool citations configurable message
  client/src/components/Citation/Citations.vue
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/managers/configuration.py
Labels: area/documentation, area/UI-UX, area/admin

#16008 Fix for link pop-up window/toaster after Data Library to History import
  client/src/components/Libraries/LibraryFolder/TopToolbar/import-to-history/import-dataset.js
  client/src/components/Toast.js
  client/src/composables/toast.ts
Labels: area/UI-UX

#16007 [23.0] Backport Improve display chunk generation for BAMs
  lib/galaxy/datatypes/binary.py
Labels: merge, area/datatypes

#15956 Fix nullable deleted column in API Keys table
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrations/alembic/versions_gxy/b855b714e8b8_make_api_keys_deleted_non_nullable.py
Labels: kind/bug, area/database

#16014 [23.0] Allow setting auto_decompress property in staging interface
  lib/galaxy/tool_util/client/staging.py
  lib/galaxy/tool_util/cwl/util.py
  lib/galaxy_test/api/test_tools_upload.py
Labels: kind/bug, kind/enhancement, area/workflows

#16006 [23.0] Clarify search behavior in placeholder text in Published Histories
  client/src/components/History/HistoryPublishedList.vue
Labels: kind/enhancement, area/UI-UX, paper-cut

#15994 reorganize user menu for consistency
  client/src/components/User/UserPreferences.vue
  client/src/entry/analysis/menu.js
  client/src/nls/de/locale.js
  client/src/nls/es/locale.js
  client/src/nls/fr/locale.js
  client/src/nls/ja/locale.js
  client/src/nls/locale.js
  client/src/nls/zh/locale.js
  client/src/utils/navigation/navigation.yml
  lib/galaxy_test/selenium/test_custom_builds.py
Labels: kind/enhancement, area/UI-UX

#15995 remove inherited title from masthead dropdown items
  client/src/components/Masthead/MastheadItem.vue
Labels: kind/enhancement, area/UI-UX
