Repository galaxyproject/galaxy, pull requests merged in 2023-12, with the labels that each got.

#17110 [23.2] Fix hid/elementindex for collection displays
  client/src/components/History/Content/GenericElement.test.js
  client/src/components/History/Content/GenericElement.vue
Labels: area/UI-UX

#17116 [23.1] Add missing optional description field, fixes ephemeris data library example
  client/src/schema/schema.ts
  lib/galaxy/schema/fetch_data.py
  test/unit/webapps/api/test_fetch_schema.py
Labels: kind/bug, area/upload

#17120 [23.1] Properly clear session on OIDC logout
  lib/galaxy/webapps/galaxy/controllers/authnz.py
Labels: kind/bug, area/backend

#17030 Vueify Admin User Grid
  client/src/api/schema/schema.ts
  client/src/api/users.ts
  client/src/components/Grid/GridElements/GridBoolean.vue
  client/src/components/Grid/GridElements/GridOperations.vue
  client/src/components/Grid/GridElements/GridText.vue
  client/src/components/Grid/GridList.test.js
  client/src/components/Grid/GridList.vue
  client/src/components/Grid/configs/adminUsers.test.js
  client/src/components/Grid/configs/adminUsers.ts
  client/src/components/Grid/configs/types.ts
  client/src/components/Grid/configs/visualizations.ts
  client/src/components/Grid/configs/visualizationsPublished.ts
  client/src/components/plugins/icons.js
  client/src/entry/analysis/modules/Admin.vue
  client/src/entry/analysis/router.js
  client/src/entry/analysis/routes/admin-routes.js
  client/src/stores/configurationStore.ts
  client/src/utils/navigation/navigation.yml
  lib/galaxy/managers/configuration.py
  lib/galaxy/managers/users.py
  lib/galaxy/web/framework/helpers/grids.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy/webapps/galaxy/services/users.py
Labels: kind/enhancement, area/UI-UX, area/API

#17124 [23.2] Fix CSS issue affecting all dropdown menus
  client/src/components/Panels/Menus/PanelViewMenu.vue
Labels: kind/bug, area/UI-UX

#17107 [23.2] Expose file_name property in DatasetFilenameWrapper
  lib/galaxy/tools/wrappers.py
  test/functional/tools/md5sum.xml
  test/unit/app/tools/test_wrappers.py
  tools/data_source/upload.xml
Labels: kind/bug, area/backend

#17129 [23.2] Fix job search when ``command_version`` is None
  .github/workflows/toolshed.yaml
  lib/galaxy/schema/jobs.py
Labels: kind/bug

#17133 [23.0] Assert that tus uploader instance has URL
  lib/galaxy_test/api/test_tools_upload.py
Labels: kind/bug, area/testing, area/testing/api, area/packaging

#17118 Vueify Admin Roles Grid
  client/src/api/roles.ts
  client/src/api/schema/schema.ts
  client/src/components/Grid/configs/adminRoles.ts
  client/src/entry/analysis/routes/admin-routes.js
  lib/galaxy/managers/roles.py
  lib/galaxy/webapps/galaxy/api/roles.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
Labels: kind/enhancement, area/UI-UX, kind/refactoring

#17134 [23.2] Enhance xsd schema and allow simpler assertion lists
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/unit/tool_util/test_test_parsing.py
Labels: area/testing, area/tool-framework

#17145 Migrate dataset extra files store to Pinia
  client/src/api/datasets.ts
  client/src/api/schema/schema.ts
  client/src/components/Dataset/compositeDatasetUtils.js
  client/src/components/Dataset/compositeDatasetUtils.ts
  client/src/store/datasetExtFilesStore.js
  client/src/store/index.js
  client/src/stores/datasetExtraFilesStore.ts
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/services/datasets.py
Labels: area/UI-UX, kind/refactoring

#17141 Vueify Admin Forms and Quota grids
  client/src/api/forms.ts
  client/src/api/quotas.ts
  client/src/api/schema/schema.ts
  client/src/components/Grid/GridElements/GridText.vue
  client/src/components/Grid/configs/adminForms.ts
  client/src/components/Grid/configs/adminQuotas.ts
  client/src/components/Grid/configs/adminUsers.ts
  client/src/entry/analysis/routes/admin-routes.js
  client/src/utils/navigation/navigation.yml
  lib/galaxy/managers/forms.py
  lib/galaxy/webapps/galaxy/api/forms.py
  lib/galaxy/webapps/galaxy/api/quotas.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy/webapps/galaxy/controllers/forms.py
  lib/galaxy/webapps/galaxy/controllers/visualization.py
  lib/galaxy/webapps/galaxy/services/quotas.py
Labels: kind/enhancement, area/UI-UX, kind/refactoring

#17161 Don't require admin user to list ``/api/tool_data``
  client/src/api/schema/schema.ts
  lib/galaxy/webapps/galaxy/api/tool_data.py
  lib/galaxy_test/api/test_tool_data.py
Labels: kind/enhancement, area/testing, area/API, area/testing/api

#17132 Towards SQLAlchemy 2.0: fix last cases of RemovedIn20Warning
  lib/galaxy/jobs/handler.py
  lib/galaxy/managers/history_contents.py
  lib/galaxy/managers/notification.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/database_utils.py
  lib/galaxy/model/migrations/base.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/model/unittest_utils/model_testing_utils.py
  lib/galaxy/quota/__init__.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy/webapps/galaxy/controllers/page.py
  test/unit/data/model/migrations/test_migrations.py
Labels: area/testing, area/workflows, area/database, area/testing/integration

#17148 Add simpleKeyStore composable
  client/src/api/datasetCollections.ts
  client/src/api/datasets.ts
  client/src/api/schema/fetcher.ts
  client/src/api/schema/index.ts
  client/src/components/Collections/common/CollectionEditView.vue
  client/src/composables/keyedCache.test.ts
  client/src/composables/keyedCache.ts
  client/src/stores/collectionAttributesStore.ts
  client/src/stores/datasetExtraFilesStore.ts
  client/src/stores/datasetStore.ts
  client/src/stores/jobDestinationParametersStore.ts
Labels: area/UI-UX, kind/refactoring

#17177 Replace discouraged Mambaforge with Miniforge3
  lib/galaxy/tool_util/deps/conda_util.py
Labels: kind/refactoring, area/tool-framework, area/tool-dependencies

#17170 Qiskit in galaxy
  tools/interactive/interactivetool_qiskit_jupyter_notebook.xml
Labels: area/tools

#17178 [23.2] Support configuring job metrics inline, update documentation
  config/job_metrics_conf.xml.sample
  doc/source/admin/galaxy_options.rst
  doc/source/admin/index.rst
  doc/source/admin/job_metrics.rst
  lib/galaxy/app.py
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/job_metrics_conf.xml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/job_metrics/__init__.py
  lib/galaxy/job_metrics/instrumenters/cgroup.py
  lib/galaxy/job_metrics/instrumenters/env.py
Labels: area/documentation, area/admin

#17182 [23.2] Add rerun and show details buttons in expanded collection
  client/src/components/History/CurrentCollection/CollectionOperations.vue
Labels: kind/bug, kind/enhancement, area/UI-UX

#17184 Drop fastapi-utils.InferringRouter in favor of fastapi.APIRouter
  lib/galaxy/webapps/galaxy/api/__init__.py
Labels: kind/refactoring, area/API

#17174 Add future=True flag to SA engine
  lib/galaxy/model/database_utils.py
  lib/galaxy/model/migrations/__init__.py
  lib/galaxy/model/migrations/alembic/env.py
  lib/galaxy/model/migrations/scripts.py
  lib/galaxy/model/orm/engine_factory.py
  lib/galaxy/model/unittest_utils/migration_scripts_testing_utils.py
  lib/galaxy/model/unittest_utils/model_testing_utils.py
  lib/tool_shed/webapp/model/migrations/__init__.py
  lib/tool_shed/webapp/model/migrations/alembic/env.py
  scripts/check_model.py
  scripts/update_shed_config_path.py
  test/unit/data/model/conftest.py
  test/unit/data/test_galaxy_mapping.py
Labels: kind/enhancement, area/database

#17176 [23.1] Fix workflow index total matches counting
  lib/galaxy/managers/workflows.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/bug, area/API

#17175 Convert dataset path destination store to composable
  client/src/api/index.ts
  client/src/components/Dataset/DatasetAsImage/DatasetAsImage.vue
  client/src/components/Dataset/DatasetIndex/DatasetIndex.vue
  client/src/components/Dataset/DatasetLink/DatasetLink.vue
  client/src/components/Dataset/compositeDatasetUtils.ts
  client/src/components/Markdown/Elements/HistoryDatasetAsImage.vue
  client/src/components/Markdown/Elements/HistoryDatasetIndex.vue
  client/src/components/Markdown/Elements/HistoryDatasetLink.vue
  client/src/composables/datasetPathDestination.ts
  client/src/store/datasetPathDestinationStore.js
  client/src/store/index.js
Labels: area/UI-UX, kind/refactoring

#17169 [23.2] Add support for Cgroupsv2
  lib/galaxy/job_metrics/instrumenters/cgroup.py
  test/unit/job_metrics/test_cgroups.py
  test/unit/job_metrics/test_job_metrics.py
Labels: area/testing

#17192 [23.2] Fix tools missing in panel bug
  client/src/components/Panels/utilities.ts
  client/src/stores/toolStore.ts
Labels: kind/bug, area/UI-UX

#17193 Update DatasetError.vue to fix broken link
  client/src/components/DatasetInformation/DatasetError.vue
Labels: kind/bug

#17188 Fix for converter tests
  lib/galaxy/datatypes/converters/interval_to_bgzip_converter.xml
  lib/galaxy/datatypes/converters/vcf_to_vcf_bgzip_converter.xml
Labels: kind/bug, area/datatypes

#17187 xsd: reorder choices for permissive boolean
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/tool-framework

#17191 Accept any number of arguments to the secret decoder ring
  scripts/secret_decoder_ring.py
Labels: area/scripts

#17197 [23.2] Fix Multiselect in BModal overflows out of view bug
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.vue
  client/src/components/Upload/UploadModal.vue
Labels: kind/bug, area/UI-UX

#17196 correct dbkey for minerva display app
  lib/galaxy/datatypes/display_applications/configs/minerva/tabular.xml
Labels: area/datatypes

#17153 Create pydantic model for the return of show operation - get: `/api/jobs/{job_id}`
  client/src/api/schema/schema.ts
  lib/galaxy/model/store/__init__.py
  lib/galaxy/schema/jobs.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy_test/api/test_jobs.py
Labels: area/API

#17213 [23.2] Fix `ToolSearch` bug for `StaticToolPanelView`s
  client/src/components/Panels/utilities.ts
Labels: kind/bug, area/UI-UX

#17209 Reload built-in converters on toolbox reload
  lib/galaxy/app.py
  lib/galaxy/app_unittest_utils/galaxy_mock.py
  lib/galaxy/app_unittest_utils/tools_support.py
  lib/galaxy/tools/__init__.py
  test/unit/app/tools/test_toolbox.py
  test/unit/tool_shed/test_tool_panel_manager.py
Labels: area/testing, area/tool-framework

#17218 [23.2] Fix categories in ToolShed repo create API
  lib/tool_shed/test/base/populators.py
  lib/tool_shed/test/functional/test_shed_repositories.py
  lib/tool_shed/util/repository_util.py
  lib/tool_shed/webapp/frontend/src/schema/schema.ts
  lib/tool_shed_client/schema/__init__.py
Labels: kind/bug

#17221 Improve links to Hub, Matrix and WGs in ``CONTRIBUTING.md``
  CONTRIBUTING.md
Labels: kind/enhancement, area/documentation

#17217 Add a3m datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#17224 [23.2] Fix cardinality violation error: subquery returns multiple results
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/jobs, area/database

#17199 [23.2] Remove `SingleItemSelector` deselect label, fix history filters hidden on smaller screen
  client/src/components/History/Index.vue
  client/src/components/Panels/Menus/PanelViewMenu.vue
  client/src/components/Panels/ToolPanel.vue
  client/src/components/SingleItemSelector.vue
Labels: kind/bug, area/UI-UX

#17216 Fix usage of graphene-sqlalchemy, bump to 3.0.0rc1
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/tool_shed/webapp/graphql/schema.py
  packages/test_driver/setup.cfg
  pyproject.toml
Labels: kind/refactoring, area/dependencies, area/packaging, dependencies

#17205 Vendorize fastapi-utls.cbv
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy/webapps/galaxy/api/cbv.py
  packages/web_apps/setup.cfg
  pyproject.toml
  test/unit/webapps/api/test_cbv.py
Labels: kind/refactoring, area/API, area/dependencies

#17203 Migrate workflow invocation store to Pinia
  client/src/api/invocations.ts
  client/src/components/Workflow/InvocationsList.test.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationStep.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationSummary.test.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationSummary.vue
  client/src/composables/keyedCache.ts
  client/src/store/index.js
  client/src/store/invocationStore.js
  client/src/stores/invocationStore.ts
Labels: area/UI-UX, kind/refactoring, area/client

#17226 [23.2] Fix job parameter display
  client/src/api/schema/schema.ts
  lib/galaxy/schema/jobs.py
Labels: kind/bug

#17105 Expose more tool information / navigability in UI.
  client/src/components/Markdown/Elements/HistoryDatasetAsTable.vue
  client/src/components/Markdown/Elements/JobMetrics.vue
  client/src/components/Markdown/Elements/JobParameters.vue
  client/src/components/Markdown/Elements/Workflow/WorkflowDisplay.vue
  client/src/components/Markdown/MarkdownContainer.vue
  client/src/components/Markdown/MarkdownToolBox.vue
  client/src/components/Tool/ToolLink.vue
  client/src/components/Tool/ToolLinkPopover.vue
  client/src/components/Workflow/icons.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationStep.vue
  client/src/components/WorkflowInvocationState/WorkflowStepIcon.vue
  client/src/components/WorkflowInvocationState/WorkflowStepTitle.vue
  client/src/stores/jobStore.ts
  lib/galaxy/managers/markdown_parse.py
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
Labels: kind/enhancement, area/workflows, area/pages

#17232 [23.1] Fix User.current_galaxy_session
  lib/galaxy/model/__init__.py
  test/unit/data/test_galaxy_mapping.py
Labels: kind/bug, area/database

#17231 [23.1] Backport #17188: Fix for converter tests
  lib/galaxy/datatypes/converters/interval_to_bgzip_converter.xml
  lib/galaxy/datatypes/converters/vcf_to_vcf_bgzip_converter.xml
Labels: area/testing, merge

#17227 [23.2] Fix Display Application link generation
  lib/galaxy/datatypes/display_applications/parameters.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
Labels: kind/bug, area/datatypes
