Repository galaxyproject/galaxy, pull requests merged in 2023-08, with the labels that each got.

#16339 [23.1] Fix tags ownership
  client/src/schema/schema.ts
  lib/galaxy/app_unittest_utils/galaxy_mock.py
  lib/galaxy/job_execution/actions/post.py
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/managers/collections.py
  lib/galaxy/managers/context.py
  lib/galaxy/managers/hdas.py
  lib/galaxy/managers/hdcas.py
  lib/galaxy/managers/library_datasets.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/managers/taggable.py
  lib/galaxy/managers/tags.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/model/tags.py
  lib/galaxy/schema/schema.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/model_operations.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/imp_exp/__init__.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/api/library_contents.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/controllers/tag.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
  lib/galaxy/webapps/galaxy/services/library_folder_contents.py
  lib/galaxy/work/context.py
  lib/galaxy_test/api/test_datasets.py
  lib/galaxy_test/api/test_libraries.py
  lib/galaxy_test/api/test_tags.py
  test/integration/test_workflow_refactoring.py
  test/unit/app/managers/base.py
  test/unit/app/managers/test_CollectionManager.py
  test/unit/app/managers/test_HDAManager.py
  test/unit/app/managers/test_HDCAManager.py
  test/unit/app/managers/test_HistoryContentsManager.py
  test/unit/app/managers/test_HistoryManager.py
  test/unit/app/managers/test_UserManager.py
  test/unit/app/tools/test_actions.py
  test/unit/app/tools/test_execution.py
  test/unit/data/model/test_model_discovery.py
Labels: kind/bug, area/UI-UX, area/testing, area/database, area/testing/api

#16341 Migrate a part of the users API to Fast API
  client/src/schema/schema.ts
  lib/galaxy/managers/users.py
  lib/galaxy/schema/schema.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/services/users.py
  lib/galaxy_test/api/test_users.py
  lib/tool_shed/webapp/app.py
Labels: area/UI-UX, area/testing, area/API, area/testing/api

#16507 Make it obvious that `WorkflowInvocationStep` is clickable/expandable
  client/src/components/WorkflowInvocationState/WorkflowInvocationStep.vue
Labels: kind/enhancement, area/UI-UX, area/workflows

#16506 [23.1] Make ToolBox v-b-tooltip.hover directives noninteractive
  client/src/components/Common/DelayedInput.vue
  client/src/components/Panels/Buttons/FavoritesButton.vue
  client/src/components/Panels/Buttons/PanelViewButton.vue
  client/src/components/Panels/Common/ToolPanelLabel.vue
  client/src/components/Panels/Common/ToolSection.vue
  client/src/components/Upload/UploadButton.vue
Labels: kind/bug, area/UI-UX

#16505 [23.1] Fix `ToolBoxWorkflow` search delay bug
  client/src/components/Panels/ToolBoxWorkflow.vue
Labels: kind/bug, area/UI-UX

#16500 [23.1] Fix history item states help display to apply same styling attributes
  client/src/components/History/Content/model/StatesInfo.vue
Labels: area/UI-UX

#15482 Add framework test for profile behavior of `format="input"`
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/linters/outputs.py
  test/functional/tools/output_format_input.xml
  test/functional/tools/sample_tool_conf.xml
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing

#16517 Update interactivetool_mgnify_notebook to v1.2.2
  tools/interactive/interactivetool_mgnify_notebook.xml
Labels: area/tools

#16520 Fix for Accessibility, on Workflows List page Tooltip
  client/src/components/Workflow/WorkflowDropdown.vue
Labels: area/UI-UX

#16514 Migrate configuration store to Pinia
  client/src/components/AboutGalaxy.vue
  client/src/components/ActivityBar/ActivityBar.test.js
  client/src/components/Collections/common/CollectionEditView.vue
  client/src/components/DatasetInformation/DatasetDetails.vue
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.test.js
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.vue
  client/src/components/JobParameters/JobParameters.test.ts
  client/src/components/Masthead/Masthead.test.js
  client/src/components/Masthead/QuotaMeter.test.ts
  client/src/components/Masthead/QuotaMeter.vue
  client/src/components/NewUserWelcome/NewUserWelcome.test.js
  client/src/components/NewUserWelcome/NewUserWelcome.vue
  client/src/components/PageDisplay/PageDisplay.vue
  client/src/components/Panels/Common/ToolSection.test.js
  client/src/components/Panels/Common/ToolSection.vue
  client/src/components/Panels/ProviderAwareToolBox.vue
  client/src/components/Panels/ProviderAwareToolBoxWorkflow.vue
  client/src/components/Panels/ToolBox.test.js
  client/src/components/Sharing/Sharing.vue
  client/src/components/StsDownloadButton.test.js
  client/src/components/StsDownloadButton.vue
  client/src/components/Tool/ToolCard.test.js
  client/src/components/Tool/ToolForm.test.js
  client/src/components/Tool/ToolForm.vue
  client/src/components/Toolshed/RepositoryDetails/Index.test.js
  client/src/components/Toolshed/RepositoryDetails/Index.vue
  client/src/components/Upload/UploadModal.test.js
  client/src/components/Upload/UploadModal.vue
  client/src/components/User/DiskUsage/DiskUsageSummary.test.ts
  client/src/components/User/DiskUsage/DiskUsageSummary.vue
  client/src/components/User/ThemeSelector.vue
  client/src/components/User/UserPreferences.vue
  client/src/components/Workflow/Editor/Forms/FormTool.test.js
  client/src/components/Workflow/InvocationReport.vue
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.js
  client/src/components/providers/ConfigProvider.js
  client/src/components/providers/MockConfigProvider.js
  client/src/composables/config.js
  client/src/composables/config.ts
  client/src/composables/toolTrainingMaterial.ts
  client/src/entry/analysis/modules/Admin.vue
  client/src/entry/analysis/router.js
  client/src/store/configStore/configStore.js
  client/src/store/configStore/index.js
  client/src/store/configStore/queries.js
  client/src/store/index.js
  client/src/store/syncVuextoGalaxy.js
  client/src/stores/configurationStore.ts
  client/src/stores/syncConfigToGalaxy.js
Labels: kind/refactoring, area/client

#16523 Scope Workflow Stores to Workflow ID
  client/src/components/Workflow/Editor/ConnectionMenu.vue
  client/src/components/Workflow/Editor/Forms/FormDefault.test.js
  client/src/components/Workflow/Editor/Forms/FormDefault.vue
  client/src/components/Workflow/Editor/Forms/FormOutputLabel.test.js
  client/src/components/Workflow/Editor/Forms/FormOutputLabel.vue
  client/src/components/Workflow/Editor/Forms/FormTool.test.js
  client/src/components/Workflow/Editor/Forms/FormTool.vue
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Lint.test.js
  client/src/components/Workflow/Editor/Lint.vue
  client/src/components/Workflow/Editor/Node.test.ts
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/NodeInput.vue
  client/src/components/Workflow/Editor/NodeOutput.test.ts
  client/src/components/Workflow/Editor/NodeOutput.vue
  client/src/components/Workflow/Editor/Recommendations.vue
  client/src/components/Workflow/Editor/SVGConnection.vue
  client/src/components/Workflow/Editor/WorkflowEdges.vue
  client/src/components/Workflow/Editor/WorkflowGraph.vue
  client/src/components/Workflow/Editor/WorkflowMinimap.vue
  client/src/components/Workflow/Editor/composables/useTerminal.ts
  client/src/components/Workflow/Editor/modules/layout.ts
  client/src/components/Workflow/Editor/modules/linting.ts
  client/src/components/Workflow/Editor/modules/model.ts
  client/src/components/Workflow/Editor/modules/terminals.test.ts
  client/src/components/Workflow/Editor/modules/terminals.ts
  client/src/composables/workflowStores.ts
  client/src/stores/workflowConnectionStore.test.ts
  client/src/stores/workflowConnectionStore.ts
  client/src/stores/workflowEditorStateStore.ts
  client/src/stores/workflowStepStore.test.ts
  client/src/stores/workflowStepStore.ts
Labels: area/UI-UX, kind/refactoring

#16515 [23.1] fix font-weight disparity between browsers
  client/src/onload/index.js
Labels: kind/bug, area/UI-UX

#16504 [23.0] Fix upload paramfile handling (for real user setups)
  lib/galaxy/tools/evaluation.py
Labels: kind/bug, area/tool-framework

#16530 [23.1] Fix double-encoding notification content
  lib/galaxy/managers/notification.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/custom_types.py
  lib/galaxy/schema/notifications.py
  test/unit/app/managers/test_NotificationManager.py
Labels: kind/bug, area/database

#16531 [23.1] Exclude selenium version with broken type hints
  packages/selenium/setup.cfg
  packages/test_selenium/setup.cfg
Labels: kind/bug, area/testing, area/packaging

#16526 Move database access code out of ``galaxy.util``
  lib/galaxy/app.py
  lib/galaxy/app_unittest_utils/galaxy_mock.py
  lib/galaxy/managers/dbkeys.py
  lib/galaxy/managers/users.py
  lib/galaxy/structured_app.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/remote_tool_eval.py
  lib/galaxy/tools/repositories.py
  lib/galaxy/util/tool_shed/common_util.py
  lib/tool_shed/util/common_util.py
  lib/tool_shed/webapp/app.py
  lib/tool_shed/webapp/controllers/repository.py
  mypy.ini
Labels: kind/refactoring, area/toolshed, area/database, area/util

#16538 Document that required text parameters need a validator
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/tool-framework

#16510 Published Workflow Sharing Page Overhaul
  client/src/components/Common/Published.vue
  client/src/components/Common/PublishedItem.vue
  client/src/components/History/HistoryPublished.vue
  client/src/components/PageDisplay/PageDisplay.vue
  client/src/components/Visualizations/VisualizationPublished.vue
  client/src/components/Workflow/Editor/ConnectionMenu.vue
  client/src/components/Workflow/Editor/Draggable.vue
  client/src/components/Workflow/Editor/DraggablePan.vue
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/NodeInput.vue
  client/src/components/Workflow/Editor/NodeOutput.test.ts
  client/src/components/Workflow/Editor/NodeOutput.vue
  client/src/components/Workflow/Editor/Recommendations.vue
  client/src/components/Workflow/Editor/WorkflowGraph.vue
  client/src/components/Workflow/Editor/WorkflowMinimap.vue
  client/src/components/Workflow/Editor/_nodeTerminalStyle.scss
  client/src/components/Workflow/Editor/modules/terminals.ts
  client/src/components/Workflow/Published/WorkflowInformation.vue
  client/src/components/Workflow/Published/WorkflowPublished.vue
  client/src/components/Workflow/WorkflowPublished.vue
  client/src/composables/usePanels.ts
  client/src/entry/analysis/modules/Analysis.vue
  client/src/entry/analysis/router.js
  client/src/stores/workflowStepStore.ts
  client/src/stores/workflowStore.ts
  client/src/style/scss/base.scss
  client/src/style/scss/overrides.scss
  client/src/style/scss/ui.scss
  client/src/style/scss/workflow.scss
  client/src/utils/navigation/navigation.yml
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  lib/galaxy_test/selenium/test_workflow_editor.py
  lib/galaxy_test/selenium/test_workflow_management.py
Labels: kind/enhancement, area/UI-UX

#16420 Refactor FilesDialog + Remote Files API schema improvements
  client/src/components/FilesDialog/FilesDialog.test.ts
  client/src/components/FilesDialog/FilesDialog.vue
  client/src/components/FilesDialog/model.ts
  client/src/components/FilesDialog/services.ts
  client/src/components/FilesDialog/utilities.ts
  client/src/components/Form/Elements/FormDirectory.test.js
  client/src/schema/schema.ts
  lib/galaxy/files/__init__.py
  lib/galaxy/managers/remote_files.py
  lib/galaxy/schema/remote_files.py
  lib/galaxy/webapps/galaxy/api/remote_files.py
Labels: area/UI-UX, kind/refactoring, area/testing, area/API

#14892 Make form repeat blocks reordarable
  client/package.json
  client/src/components/Form/FormDisplay.vue
  client/src/components/Form/FormInputs.vue
  client/src/components/Form/FormRepeat.vue
  client/src/composables/keyedObjects.test.ts
  client/src/composables/keyedObjects.ts
  client/src/style/scss/theme/blue.scss
  client/src/style/scss/ui.scss
  client/src/utils/navigation/navigation.yml
  client/tests/jest/jest-environment.js
  lib/galaxy_test/selenium/test_tool_form.py
  test/functional/tools/sample_tool_conf.xml
  test/functional/tools/text_repeat.xml
Labels: area/UI-UX, kind/feature

#16550 Remove unnecessary check: item cannot be None
  lib/galaxy/actions/library.py
Labels: kind/bug, area/libraries

#16537 [23.1] Limit tool document cache to tool configs with explicit cache path
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app_unittest_utils/galaxy_mock.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/cache.py
Labels: kind/bug, area/configuration

#16553 Rename to_dict to populate in FormDefintion to fix bug
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/users.py
Labels: kind/bug, area/backend

#16554 Add uploader test cases, consolidate payload processing
  client/src/components/Upload/CompositeBox.vue
  client/src/components/Upload/CompositeRow.vue
  client/src/components/Upload/DefaultBox.vue
  client/src/components/Upload/DefaultRow.vue
  client/src/utils/upload-payload.js
  client/src/utils/upload-payload.test.js
  client/src/utils/upload-queue.js
  client/src/utils/upload-queue.test.js
Labels: kind/enhancement, area/UI-UX, area/testing, area/upload

#16561 Fix: serialize `tool_shed_urls` directly from the API
  lib/galaxy/managers/configuration.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy_test/api/test_configuration.py
Labels: kind/bug, area/UI-UX, area/testing, area/admin, area/testing/api

#16570 [23.0] Add missing unit-coverage environment
  packages/selenium/setup.cfg
  packages/test_selenium/setup.cfg
  tox.ini
Labels: kind/bug, area/testing, area/dependencies

#16571 [23.0] Fix dataset collection url in workflow reports
  client/src/components/Markdown/Elements/HistoryDatasetCollection/CollectionDisplay.vue
Labels: kind/bug, area/workflows

#16569 [23.0] Make sure job_wrapper uses a consistent metadata strategy
  lib/galaxy/jobs/__init__.py
  lib/galaxy/metadata/__init__.py
Labels: kind/bug, area/jobs

#16574 [23.0] Fix incorrect ASGI request host
  lib/galaxy/webapps/galaxy/api/__init__.py
Labels: kind/bug, area/backend

#16575 [22.01] Fix incorrect ASGI request host
  lib/galaxy/webapps/galaxy/api/__init__.py
Labels: kind/bug, area/API

#16581 [23.1] Fix shared item notification link
  client/src/components/Notifications/Categories/SharedItemNotification.vue
Labels: kind/bug, area/UI-UX

#16490 Add support for CILogon deployments in different regions than the US
  lib/galaxy/authnz/custos_authnz.py
Labels: area/auth

#16584 [23.0] Fix conditional step evaluation with datasets in repeats
  lib/galaxy/workflow/modules.py
  test/unit/workflows/test_modules.py
Labels: kind/bug, area/workflows

#16573 [23.1] Don't use ``docker run`` --user flag on OSX
  lib/galaxy/tool_util/deps/docker_util.py
Labels: kind/bug, area/tool-framework, area/tool-dependencies

#16579 [23.1] Ignore errors with user-set job resources
  lib/galaxy/jobs/mapper.py
  test/integration/dummy_job_resource_parameters.xml
  test/integration/job_resource_error_recovery_job_conf.yml
  test/integration/job_resource_rules/__init__.py
  test/integration/job_resource_rules/fail_if_job_resource_present.py
  test/integration/test_job_resource_error_recovery.py
Labels: kind/bug, area/jobs

#16536 Tweak tool memory use and optimize shared memory when using preload
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app.py
  lib/galaxy/app_unittest_utils/galaxy_mock.py
  lib/galaxy/app_unittest_utils/tools_support.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/structured_app.py
  lib/galaxy/tool_shed/tools/tool_validator.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/output_objects.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/remote_tool_eval.py
  lib/galaxy/tools/repositories.py
  lib/galaxy/tools/test.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/rst_to_html.py
  lib/galaxy/web_stack/gunicorn_config.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/driver/driver_util.py
  test/unit/app/tools/test_actions.py
  test/unit/app/tools/test_tool_deserialization.py
  test/unit/workflows/test_modules.py
Labels: area/tool-framework, area/util

#16576 Support new genome browser chain file format
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/chain.py
  lib/galaxy/datatypes/test/1.chain
Labels: kind/feature, area/datatypes

#16585 [23.0] Don't read request body into memory
  lib/galaxy/app_unittest_utils/galaxy_mock.py
  lib/galaxy/web/framework/decorators.py
Labels: kind/bug, area/API, area/performance

#16541 [23.0] Fix extra files path handling
  lib/galaxy/job_execution/compute_environment.py
  lib/galaxy/job_execution/datasets.py
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/model/__init__.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/azure_blob.py
  lib/galaxy/objectstore/cloud.py
  lib/galaxy/objectstore/irods.py
  lib/galaxy/objectstore/pithos.py
  lib/galaxy/objectstore/s3.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/wrappers.py
  test/functional/tools/composite_output.xml
  test/functional/tools/composite_output_tests.xml
  test/integration/test_pulsar_embedded.py
  test/integration/test_pulsar_embedded_mq.py
  test/unit/app/jobs/test_job_wrapper.py
  test/unit/app/tools/test_wrappers.py
  test/unit/data/test_galaxy_mapping.py
Labels: kind/bug, area/testing, area/database, area/tool-framework, area/objectstore, area/testing/integration

#16564 Implement datatype upload warnings
  client/src/components/Upload/CompositeBox.vue
  client/src/components/Upload/DefaultBox.vue
  client/src/components/Upload/DefaultRow.vue
  client/src/components/Upload/RulesInput.vue
  client/src/components/Upload/UploadSelect.vue
  client/src/components/Upload/UploadSelectExtension.vue
  client/src/components/Upload/utils.js
  client/src/schema/schema.ts
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/_schema.py
  lib/galaxy/datatypes/registry.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_tool_form.py
  lib/galaxy_test/selenium/test_uploads.py
Labels: kind/enhancement, area/UI-UX, area/datatype-framework

#16597 [23.1] Bump minimum tpv version to 2.3.2
  lib/galaxy/dependencies/conditional-requirements.txt
Labels: kind/bug, area/dependencies

#16594 [23.1] make sure that TMP, TEMP, and TMPDIR are set
  lib/galaxy/jobs/runners/util/job_script/DEFAULT_JOB_FILE_TEMPLATE.sh
Labels: area/jobs

#16592 [23.1] Fix replacement parameters for subworkflows.
  lib/galaxy/managers/workflows.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/bug, area/workflows, area/workflows/subworkflows

#16595 [23.0] Fixes for extra files handling and cached object stores
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/jobs/runners/util/job_script/DEFAULT_JOB_FILE_TEMPLATE.sh
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/objectstore/s3.py
  lib/galaxy/tool_util/data/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/data_manager/manager.py
  test/integration/test_tool_data_bundles.py
Labels: kind/bug, area/objectstore

#16542 [23.1] Fix `multiple` remote test data
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tools/test.py
Labels: kind/bug, area/testing, area/tool-framework

#16604 [23.1] Optimize getting current user session
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy/webapps/reports/controllers/users.py
  lib/tool_shed/grids/admin_grids.py
Labels: kind/bug, area/performance

#16601 [23.1] Backport tool mem fixes
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app.py
  lib/galaxy/app_unittest_utils/galaxy_mock.py
  lib/galaxy/app_unittest_utils/tools_support.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/structured_app.py
  lib/galaxy/tool_shed/tools/tool_validator.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/output_objects.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/remote_tool_eval.py
  lib/galaxy/tools/repositories.py
  lib/galaxy/tools/test.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/rst_to_html.py
  lib/galaxy/web_stack/gunicorn_config.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/driver/driver_util.py
  test/unit/app/tools/test_actions.py
  test/unit/app/tools/test_tool_deserialization.py
  test/unit/workflows/test_modules.py
Labels: area/documentation, area/testing, area/workflows, area/admin, area/tool-framework, area/util

#16609 Remove xml remnant in sample yml job conf
  lib/galaxy/config/sample/job_conf.sample.yml
Labels: kind/bug, area/documentation, minor

#16614 [23.1] Fix Published Pages and Pages view showing same content
  client/src/components/Page/PageList.test.js
  client/src/components/Page/PageList.vue
Labels: kind/bug, area/UI-UX

#16616 [23.1] Remove render.py script from iSEE
  tools/interactive/interactivetool_isee.xml
  tools/interactive/isee/render.py
Labels: area/tools

#16620 [23.1] Reload toolbox after forking when using `--preload`
  lib/galaxy/app.py
  lib/galaxy/tools/cache.py
  lib/galaxy/web_stack/__init__.py
Labels: kind/bug, area/admin

#16381 Add Invenio RDM repository integration
  client/src/components/Common/ExportForm.vue
  client/src/components/Common/ExportRDMForm.test.ts
  client/src/components/Common/ExportRDMForm.vue
  client/src/components/FilesDialog/FilesDialog.test.ts
  client/src/components/FilesDialog/FilesDialog.vue
  client/src/components/FilesDialog/FilesInput.vue
  client/src/components/FilesDialog/services.ts
  client/src/components/FilesDialog/testingData.ts
  client/src/components/History/Archiving/HistoryArchiveExportSelector.vue
  client/src/components/History/Export/HistoryExport.test.ts
  client/src/components/History/Export/HistoryExport.vue
  client/src/composables/fileSources.ts
  client/src/schema/schema.ts
  lib/galaxy/config/sample/file_sources_conf.yml.sample
  lib/galaxy/config/sample/user_preferences_extra_conf.yml.sample
  lib/galaxy/files/__init__.py
  lib/galaxy/files/sources/__init__.py
  lib/galaxy/files/sources/_rdm.py
  lib/galaxy/files/sources/base64.py
  lib/galaxy/files/sources/drs.py
  lib/galaxy/files/sources/galaxy.py
  lib/galaxy/files/sources/http.py
  lib/galaxy/files/sources/invenio.py
  lib/galaxy/managers/remote_files.py
  lib/galaxy/schema/remote_files.py
  lib/galaxy/webapps/galaxy/api/remote_files.py
Labels: area/testing, area/testing/integration

#16543 Make tool id searchable in side panel search
  client/src/components/Panels/utilities.js
  client/src/components/Panels/utilities.test.js
Labels: kind/enhancement, area/UI-UX

#16621 [23.1] Account for expires/expires_in when refreshing token
  lib/galaxy/authnz/psa_authnz.py
Labels: kind/bug, area/auth

#16593 [23.0] Allow the legacy DELETE dataset endpoint to accept any string for the history_id
  client/src/schema/schema.ts
  lib/galaxy/webapps/galaxy/api/history_contents.py
Labels: area/API, area/visualizations

#16591 Make datatype edit default value a string instead of list of strings
  lib/galaxy/webapps/galaxy/controllers/dataset.py
Labels: kind/bug, area/UI-UX

#16625 Explicitly document default of multiple
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: kind/enhancement, area/documentation, minor
