Repository galaxyproject/galaxy, pull requests merged in 2023-11, with the labels that each got.

#16953 Add helper to get dataset or collection via ``src`` and ``id``
  lib/galaxy/tools/parameters/basic.py
Labels: kind/refactoring, area/tool-framework

#16952 adds `biii` as supported xref reference type
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/tool-framework

#16955 Move and re-use persist_extra_files
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/objectstore/__init__.py
Labels: kind/refactoring, area/objectstore

#16964 Enhance Invenio RDM integration
  lib/galaxy/files/sources/_rdm.py
  lib/galaxy/files/sources/invenio.py
Labels: kind/enhancement, area/backend

#16959 Remove sentry.py from mypy exclusions.
  mypy.ini
Labels: kind/enhancement, area/backend

#16340 Augment pgcleanup to allow periodically deleting old datasets.
  lib/galaxy_test/base/populators.py
  scripts/cleanup_datasets/admin_cleanup_datasets.py
  scripts/cleanup_datasets/pgcleanup.py
  test/integration/test_scripts.py
  test/integration/test_scripts_pgcleanup.py
Labels: kind/enhancement, area/admin, area/objectstore, area/backend

#16672 Galaxy Markdown - add workflow image and license to Galaxy markdown.
  client/src/components/Markdown/Elements/Workflow/WorkflowImage.vue
  client/src/components/Markdown/Elements/Workflow/WorkflowLicense.vue
  client/src/components/Markdown/MarkdownContainer.vue
  client/src/components/Markdown/MarkdownDialog.vue
  client/src/components/Markdown/MarkdownToolBox.vue
  lib/galaxy/managers/markdown_parse.py
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  lib/galaxy/workflow/render.py
Labels: kind/enhancement, area/workflows, area/pages

#16966 Allow non-optional integer/float params without value attribute
  lib/galaxy/tools/parameters/basic.py
  test/functional/tools/integer_default.xml
  test/functional/tools/sample_tool_conf.xml
Labels: kind/enhancement, area/testing, area/tool-framework, BioHackEU23

#16963 prep for updated h5py and typos
  .ci/ignore-spelling.txt
  lib/galaxy/datatypes/binary.py
  test/unit/app/jobs/test_rule_helper.py
Labels: kind/bug, area/testing, area/datatypes, BioHackEU23

#14955 Implement default locations for data and collection parameters.
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run.py
  lib/galaxy/workflow/run_request.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/workflow_fixtures.py
  test/functional/tools/collection_nested_default.xml
  test/functional/tools/collection_paired_default.xml
  test/functional/tools/for_workflows/cat_default.xml
  test/functional/tools/sample_tool_conf.xml
  test/unit/tool_util/test_parsing.py
  test/unit/workflows/test_modules.py
  test/unit/workflows/test_workflow_progress.py
Labels: kind/enhancement, area/workflows, area/tool-framework, area/cwl, BioHackEU22, BioHackEU23

#16981 [23.1] Workaround issue in Routes
  lib/galaxy/web/framework/base.py
Labels: kind/bug, area/framework

#16971 Fix maf_thread_for_species.py
  tools/maf/maf_thread_for_species.py
Labels: area/tools

#16985 Fix rendering of an empty page
  client/src/components/Markdown/Markdown.vue
Labels: kind/bug, area/UI-UX, area/pages

#16675 Implement instance URLs in Galaxy markdown.
  client/src/components/Markdown/Elements/InstanceUrl.vue
  client/src/components/Markdown/MarkdownContainer.test.js
  client/src/components/Markdown/MarkdownContainer.vue
  client/src/components/Markdown/MarkdownToolBox.vue
  client/src/components/PageDisplay/PageDisplay.vue
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/tool_shed.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/config/schemas/tool_shed_config_schema.yml
  lib/galaxy/managers/configuration.py
  lib/galaxy/managers/markdown_parse.py
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/webapps/galaxy/api/drs.py
  lib/tool_shed/managers/trs.py
Labels: kind/enhancement, area/workflows, area/reports, area/pages

#16989 [23.1] Backport Fix maf_thread_for_species.py
  tools/maf/maf_thread_for_species.py
Labels: area/tools, merge

#16992 [23.1] Empty page render fix - backport
  client/src/components/Markdown/Markdown.vue
Labels: area/UI-UX

#16993 Minor clarification/typo fix in datatypes.data
  lib/galaxy/datatypes/data.py
Labels: kind/refactoring, minor, area/datatypes

#16657 Workflow Embed
  client/.eslintrc.js
  client/src/components/Common/SlugInput.vue
  client/src/components/Sharing/EditableUrl.vue
  client/src/components/Sharing/Embeds/WorkflowEmbed.vue
  client/src/components/Sharing/ErrorMessage.vue
  client/src/components/Sharing/ErrorMessages.vue
  client/src/components/Sharing/Sharing.vue
  client/src/components/Sharing/SharingPage.vue
  client/src/components/Sharing/SlugInput.vue
  client/src/components/Sharing/UserSharing.vue
  client/src/components/Sharing/item.ts
  client/src/components/Toast.js
  client/src/components/Workflow/Editor/WorkflowGraph.vue
  client/src/components/Workflow/Published/WorkflowInformation.vue
  client/src/components/Workflow/Published/WorkflowPublished.vue
  client/src/composables/hashedUserId.ts
  client/src/composables/route.ts
  client/src/composables/user.ts
  client/src/composables/userLocalStorage.ts
  client/src/entry/analysis/App.vue
  client/src/entry/analysis/router.js
  client/src/stores/userStore.ts
  client/src/style/scss/multiselect.scss
  client/src/utils/assertions.ts
  client/src/utils/navigation/navigation.yml
  client/src/utils/utils.ts
  client/types/utilityTypes.ts
  lib/galaxy/selenium/navigates_galaxy.py
Labels: area/UI-UX

#16938 Remove "Create Workflow" form and allow workflow creation in editor
  client/src/components/Panels/WorkflowBox.vue
  client/src/components/Workflow/Editor/Attributes.test.js
  client/src/components/Workflow/Editor/Attributes.vue
  client/src/components/Workflow/Editor/Index.test.ts
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Options.vue
  client/src/components/Workflow/Editor/modules/model.ts
  client/src/components/Workflow/Editor/modules/services.js
  client/src/components/Workflow/InvocationsList.test.js
  client/src/components/Workflow/WorkflowIndexActions.test.js
  client/src/components/Workflow/WorkflowIndexActions.vue
  client/src/components/Workflow/WorkflowRunButton.vue
  client/src/composables/workflowStores.ts
  client/src/entry/analysis/modules/WorkflowEditor.vue
  client/src/stores/scopePointerStore.ts
  client/src/stores/workflowConnectionStore.ts
  client/src/stores/workflowEditorCommentStore.ts
  client/src/stores/workflowEditorStateStore.ts
  client/src/stores/workflowEditorToolbarStore.ts
  client/src/stores/workflowStepStore.ts
  lib/galaxy/managers/workflows.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  test/integration/test_workflow_refactoring.py
Labels: kind/enhancement, area/UI-UX, area/workflows

#16999 [23.1] Client publication
  client/package.json
  package.json
Labels: kind/bug, area/client

#16965 [23.1] Don't store job in JobIO instance attributes
  lib/galaxy/job_execution/setup.py
Labels: kind/bug, area/database, BioHackEU23

#16994 Fixes for job metrics Galaxy markdown component.
  client/src/components/JobMetrics/JobMetrics.vue
  client/src/components/Markdown/Elements/JobMetrics.vue
Labels: kind/bug, area/pages

#17000 Merge 23.1 into dev
  client/package.json
  client/src/components/User/UserPreferences.vue
  client/src/entry/analysis/router.js
  lib/galaxy/app.py
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/config/__init__.py
  lib/galaxy/job_execution/setup.py
  lib/galaxy/managers/configuration.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/web/framework/base.py
  package.json
  test/unit/app/authnz/test_custos_authnz.py
Labels: area/testing, merge, area/tool-framework, area/auth, area/client

#16852 SQLAlchemy 2.0 upgrades (part 4)
  lib/galaxy/managers/base.py
  lib/galaxy/managers/collections.py
  lib/galaxy/managers/context.py
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/folders.py
  lib/galaxy/managers/forms.py
  lib/galaxy/managers/hdas.py
  lib/galaxy/managers/histories.py
  lib/galaxy/managers/history_contents.py
  lib/galaxy/managers/interactivetool.py
  lib/galaxy/managers/jobs.py
  lib/galaxy/managers/libraries.py
  lib/galaxy/managers/library_datasets.py
  lib/galaxy/managers/notification.py
  lib/galaxy/managers/pages.py
  lib/galaxy/managers/ratable.py
  lib/galaxy/managers/session.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/managers/tags.py
  lib/galaxy/managers/tools.py
  lib/galaxy/managers/users.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/webapps/base/controller.py
Labels: kind/refactoring, area/database

#17007 [23.1] Fix copying metadata to copied job outputs
  lib/galaxy/model/metadata.py
  lib/galaxy/model/store/__init__.py
  test/integration/test_dataset_copy_metadata_files.py
Labels: kind/bug, area/testing, area/database, area/testing/integration

#17009 [23.1] Update tar_to_directory dependency
  lib/galaxy/datatypes/converters/tar_to_directory.xml
Labels: kind/bug, area/datatypes

#17020 Upgrade job manager's index_query method to SA2.0
  lib/galaxy/managers/jobs.py
  lib/galaxy/webapps/galaxy/services/jobs.py
Labels: kind/refactoring, area/database

#16252 Delete non-terminal jobs and subworkflow invocations when cancelling invocation
  client/src/components/WorkflowInvocationState/WorkflowInvocationSummary.vue
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/workflow/run.py
  lib/galaxy/workflow/scheduling_manager.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
Labels: kind/enhancement, area/workflows

#17021 Show current tool panel view name on top of tool panel
  client/src/components/Panels/Menus/PanelViewMenu.vue
  client/src/components/Panels/Menus/PanelViewMenuItem.vue
  client/src/components/Panels/ToolPanel.test.js
  client/src/components/Panels/ToolPanel.vue
  client/src/components/Panels/testData/viewsList.json
  client/src/components/Panels/utilities.ts
  client/src/stores/toolStore.ts
Labels: kind/enhancement, area/UI-UX

#16795 Updated path-based interactive tools with entry point path injection, support for ITs with relative links, shortened URLs, doc and config updates including Podman job_conf
  config/galaxy.yml.interactivetools
  config/job_conf.yml.interactivetools
  config/job_conf.yml.interactivetools.podman
  doc/source/admin/galaxy_options.rst
  doc/source/admin/special_topics/interactivetools.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/tool_conf.xml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/jobs/__init__.py
  lib/galaxy/managers/interactivetool.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrations/alembic/versions_gxy/8a19186a6ee7_add_columns_to_interactivetool_entry_point.py
  lib/galaxy/security/idencoding.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/evaluation.py
  lib/galaxy/util/__init__.py
  lib/galaxy/webapps/galaxy/api/tool_entry_points.py
  pyproject.toml
  test/integration/test_interactivetools_api.py
  tools/interactive/interactivetool_guacamole_desktop.xml
  tools/interactive/interactivetool_jupyter_notebook_1.0.0.xml
  tools/interactive/interactivetool_openrefine.xml
  tools/interactive/interactivetool_rstudio.xml
  tools/interactive/interactivetool_wallace.xml
Labels: area/documentation, area/testing, area/API, area/jobs, area/tools, area/admin, area/database, area/tool-framework, area/util, area/security, area/testing/integration

#16988 [23.1] Change log level for duplicate data table entries to warning
  lib/galaxy/tool_util/data/__init__.py
Labels: kind/bug, area/admin

#17032 Change Broadcast Notifications Style
  client/src/components/Notifications/Broadcasts/BroadcastContainer.vue
  client/src/components/Notifications/Broadcasts/BroadcastsOverlay.test.ts
  client/src/components/Notifications/Broadcasts/BroadcastsOverlay.vue
  client/src/stores/broadcastsStore.ts
Labels: kind/enhancement, area/UI-UX

#17036 [23.1] Fix duplicated tools in tool panel view section copying
  lib/galaxy/tool_util/toolbox/panel.py
  lib/galaxy/tool_util/toolbox/views/static.py
  lib/galaxy_test/api/test_tools.py
  lib/galaxy_test/base/uses_shed_api.py
  run.sh
  test/functional/tools/sample_tool_conf.xml
  test/integration/panel_views_1/custom_12.yml
  test/integration/panel_views_1/custom_13.yml
  test/integration/test_panel_views.py
Labels: kind/bug, area/tools

#17038 Require name for workflows on save, set default to Unnamed Workflow
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Options.vue
  lib/galaxy/managers/workflows.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/bug, kind/enhancement, area/UI-UX, area/workflows, area/backend

#17043 Open `HistoryStorageOverview` in center panel from `HistoryPanel`
  client/src/components/History/CurrentHistory/HistoryCounter.vue
  client/src/entry/analysis/router.js
Labels: kind/enhancement, area/UI-UX

#16892 Vueify Visualizations Grid
  client/src/api/schema/schema.ts
  client/src/components/Grid/GridElements/GridLink.vue
  client/src/components/Grid/GridElements/GridOperations.vue
  client/src/components/Grid/GridElements/GridText.vue
  client/src/components/Grid/GridList.test.js
  client/src/components/Grid/GridList.vue
  client/src/components/Grid/GridShared.vue
  client/src/components/Grid/configs/types.ts
  client/src/components/Grid/configs/visualizations.ts
  client/src/components/Grid/configs/visualizationsPublished.ts
  client/src/components/Indices/SharingIndicators.vue
  client/src/entry/analysis/router.js
  client/src/mvc/grid/grid-shared.js
  client/src/utils/timeout.ts
  lib/galaxy/managers/visualizations.py
  lib/galaxy/model/__init__.py
  lib/galaxy/schema/visualization.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/api/visualizations.py
  lib/galaxy/webapps/galaxy/services/pages.py
  lib/galaxy/webapps/galaxy/services/visualizations.py
  lib/galaxy_test/api/test_pages.py
  lib/galaxy_test/api/test_visualizations.py
Labels: kind/enhancement, area/UI-UX, area/API, area/backend

#17049 [23.1] Fix filtering of active broadcasts for admins
  client/src/components/Notifications/Broadcasts/BroadcastsOverlay.test.ts
  client/src/stores/broadcastsStore.ts
Labels: kind/bug, area/UI-UX

#17048 [23.1] Prevent workflow submission with missing input values
  client/src/components/Common/ButtonSpinner.vue
  client/src/components/Form/FormDisplay.vue
  client/src/components/Form/utilities.js
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/utils/navigation/navigation.yml
  lib/galaxy/workflow/run_request.py
  lib/galaxy_test/selenium/test_workflow_run.py
Labels: kind/bug, area/workflows

#17025 optimize object store cache operations
  lib/galaxy/config/sample/object_store_conf.xml.sample
  lib/galaxy/datatypes/protocols.py
  lib/galaxy/job_execution/setup.py
  lib/galaxy/managers/datasets.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/none_like.py
  lib/galaxy/objectstore/azure_blob.py
  lib/galaxy/objectstore/caching.py
  lib/galaxy/objectstore/cloud.py
  lib/galaxy/objectstore/irods.py
  lib/galaxy/objectstore/s3.py
  lib/galaxy/tool_util/data/__init__.py
  test/integration/objectstore/_base.py
  test/integration/objectstore/test_remote_objectstore_cache_operations.py
  test/unit/app/jobs/dynamic_tool_destination/mockGalaxy.py
  test/unit/app/tools/test_wrappers.py
  test/unit/data/datatypes/test_connectivity_table.py
  test/unit/data/datatypes/test_validation.py
  test/unit/data/datatypes/util.py
  test/unit/tool_util/data/test_tool_data_bundles.py
Labels: area/testing, area/database, area/datatypes, area/tool-framework, area/objectstore, area/testing/integration

#17053 Upgrade axios to 1.6.2
  client/package.json
  client/yarn.lock
Labels: area/client

#17055 Quote singularity env parameters
  lib/galaxy/tool_util/deps/singularity_util.py
Labels: area/admin, area/tool-framework, area/tool-dependencies, config/breaking

#17056 Merge release_23.1 into dev
  client/src/components/Common/ButtonSpinner.vue
  client/src/components/Form/FormDisplay.vue
  client/src/components/Form/utilities.js
  client/src/components/Notifications/Broadcasts/BroadcastsOverlay.test.ts
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/stores/broadcastsStore.ts
  client/src/utils/navigation/navigation.yml
  lib/galaxy/tool_util/data/__init__.py
  lib/galaxy/tool_util/toolbox/panel.py
  lib/galaxy/tool_util/toolbox/views/static.py
  lib/galaxy/workflow/run_request.py
  lib/galaxy_test/api/test_tools.py
  lib/galaxy_test/base/uses_shed_api.py
  lib/galaxy_test/selenium/test_workflow_run.py
  run.sh
  test/functional/tools/sample_tool_conf.xml
  test/integration/panel_views_1/custom_12.yml
  test/integration/panel_views_1/custom_13.yml
  test/integration/test_panel_views.py
Labels: area/testing, area/workflows, area/tool-framework, area/testing/api, area/testing/integration, area/testing/selenium

#17057 Use debounce instead of timeout utility
  client/src/components/Grid/GridList.test.js
  client/src/components/Grid/GridList.vue
  client/src/utils/timeout.ts
Labels: kind/bug, area/UI-UX

#17062 Fix testing of the galaxy-tool-shed package
  lib/galaxy/schema/fields.py
  lib/tool_shed/managers/repositories.py
  lib/tool_shed/test/functional/conftest.py
  lib/tool_shed/webapp/controllers/repository.py
  lib/tool_shed/webapp/templates/webapps/tool_shed/repository/common.mako
  packages/packages_by_dep_dag.txt
  packages/test.sh
  packages/tool_shed/setup.cfg
  packages/web_apps/setup.cfg
  packages/web_framework/setup.cfg
  packages/web_stack/setup.cfg
  templates/webapps/tool_shed/repository/common.mako
Labels: area/toolshed, area/packaging

#16778 Migrate a part of the jobs API to Fast API
  client/src/api/schema/schema.ts
  lib/galaxy/managers/jobs.py
  lib/galaxy/schema/jobs.py
  lib/galaxy/schema/schema.py
  lib/galaxy/security/idencoding.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/services/jobs.py
  lib/galaxy_test/api/test_jobs.py
Labels: area/API

#17067 [23.0] Fix extra files collection if using ``store_by="id"`` and `outputs_to_working_directory`
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/jobs/__init__.py
  test/integration/test_legacy_store_by.py
Labels: kind/bug, area/jobs

#17065 Fix typescript warning for grid list operation
  client/src/components/Grid/GridList.vue
Labels: kind/bug, area/UI-UX, area/client

#17051 Migrate groups API to fastAPI
  client/src/api/schema/schema.ts
  lib/galaxy/managers/groups.py
  lib/galaxy/managers/roles.py
  lib/galaxy/schema/groups.py
  lib/galaxy/webapps/galaxy/api/group_roles.py
  lib/galaxy/webapps/galaxy/api/group_users.py
  lib/galaxy/webapps/galaxy/api/groups.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/fast_app.py
Labels: area/testing, area/API, area/testing/integration

#17069 Merge release_23.1 into dev
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/objectstore/__init__.py
  test/integration/test_legacy_store_by.py
Labels: area/testing, area/jobs, merge, area/objectstore, area/testing/integration

#17059 New select component for selecting a large amount of options
  client/src/components/Form/Elements/FormSelect.test.js
  client/src/components/Form/Elements/FormSelectMany/FormSelectMany.test.ts
  client/src/components/Form/Elements/FormSelectMany/FormSelectMany.vue
  client/src/components/Form/Elements/FormSelectMany/useHighlight.ts
  client/src/components/Form/Elements/FormSelectMany/worker/__mocks__/selectMany.ts
  client/src/components/Form/Elements/FormSelectMany/worker/filterOptions.ts
  client/src/components/Form/Elements/FormSelectMany/worker/selectMany.d.ts
  client/src/components/Form/Elements/FormSelectMany/worker/selectMany.js
  client/src/components/Form/Elements/FormSelectMany/worker/selectMany.worker.js
  client/src/components/Form/Elements/FormSelectMany/worker/selectManyMain.ts
  client/src/components/Form/Elements/FormSelection.vue
  client/src/composables/filter/filter.js
  client/src/stores/userFlagsStore.ts
Labels: area/UI-UX

#17085 [23.1] Remove rollback from ``__check_jobs_at_startup``
  lib/galaxy/jobs/handler.py
Labels: kind/bug, area/jobs

#17078 Add docs for tool panel and panel view administration
  doc/source/admin/tool_panel.rst
Labels: area/documentation, area/admin

#17064 Migrate ItemTags API to FastAPI
  client/src/api/schema/schema.ts
  lib/galaxy/managers/item_tags.py
  lib/galaxy/schema/item_tags.py
  lib/galaxy/webapps/galaxy/api/item_tags.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy_test/api/test_item_tags.py
Labels: area/testing, area/API, area/testing/integration

#17017 [PROCEDURES] Add Ahmed as a committer
  doc/source/project/organization.rst
Labels: kind/enhancement, procedures, area/documentation

#17070 Use eventbus to emit route request in grid list
  client/src/components/Grid/GridList.test.js
  client/src/components/Grid/GridList.vue
  client/src/components/Grid/configs/types.ts
  client/src/components/Grid/configs/visualizations.ts
Labels: kind/enhancement, area/UI-UX

#16995 Enhance Global Drag-and-Drop feature for Upload component
  client/src/components/Upload/DragAndDropModal.vue
  client/src/components/Upload/UploadModal.vue
  client/src/components/Upload/utils.js
  client/src/composables/fileDrop.ts
Labels: kind/bug, area/UI-UX

#17088 [23.1] Fix input dates in notifications: consider timezone offset
  lib/galaxy/schema/notifications.py
  lib/galaxy/webapps/galaxy/api/notifications.py
  test/integration/test_notifications.py
Labels: kind/bug, area/API

#17072 [23.1] Add HEAD route to job_files endpoint
  lib/galaxy/web/framework/base.py
  lib/galaxy/webapps/galaxy/buildapp.py
  test/integration/test_job_files.py
Labels: kind/bug, kind/enhancement, area/jobs

#17039 Prevent excessive `api/tool_panels` calls by keeping views in store
  client/src/components/Panels/ToolPanel.vue
  client/src/stores/toolStore.ts
Labels: kind/bug, area/UI-UX

#17018 Enhancement to Tool Form page, Repeating form fields implement parameter instructions
  client/src/components/Form/FormRepeat.vue
  lib/galaxy/tools/parameters/__init__.py
Labels: kind/bug, area/UI-UX, area/tool-framework

#17042 Allow relative URLs in broadcasts action links
  client/src/api/schema/schema.ts
  lib/galaxy/schema/notifications.py
  lib/galaxy/schema/types.py
  test/integration/test_notifications.py
Labels: kind/bug, area/API

#17080 [23.1] Add support for larch datatypes
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/larch.py
  lib/galaxy/datatypes/test/larch_atoms.inp
  lib/galaxy/datatypes/test/larch_bad_atoms.txt
  lib/galaxy/datatypes/test/larch_bad_potentials.txt
  lib/galaxy/datatypes/test/larch_potentials.inp
  lib/galaxy/datatypes/test/larch_pymatgen.inp
  lib/galaxy/datatypes/test/test.prj
Labels: area/datatypes

#17008 Fix invocation report to target correct workflow version.
  client/src/components/Markdown/Elements/Workflow/WorkflowDisplay.vue
  client/src/components/Markdown/Elements/Workflow/WorkflowImage.vue
  client/src/components/Markdown/MarkdownContainer.vue
  lib/galaxy/managers/markdown_parse.py
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  test/unit/workflows/test_workflow_markdown.py
Labels: kind/bug, kind/enhancement, area/workflows, area/pages

#16859 Visually indicate currently viewed/edited dataset
  client/src/components/History/Content/ContentItem.test.js
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/ContentOptions.vue
  client/src/components/History/Content/GenericElement.test.js
  client/src/components/History/HistoryView.test.js
  client/src/components/JobParameters/JobParameters.test.ts
Labels: kind/enhancement, area/UI-UX

#17093 [23.1] Allow relative URLs in broadcasts action links
  client/src/schema/schema.ts
  lib/galaxy/schema/notifications.py
  lib/galaxy/schema/types.py
  test/integration/test_notifications.py
Labels: kind/bug, area/API

#17090 Enhance Notification Broadcasts Admin Panel
  client/src/components/admin/Notifications/BroadcastCard.vue
  client/src/components/admin/Notifications/BroadcastsList.test.ts
  client/src/components/admin/Notifications/BroadcastsList.vue
  client/src/components/admin/Notifications/NotificationsManagement.vue
Labels: kind/enhancement, area/UI-UX

#16782 Add Check-in as OIDC authentication option
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/config/sample/oidc_backends_config.xml.sample
Labels: area/auth

#17099 [23.1] Fix web_apps dependencies
  packages/web_apps/setup.cfg
Labels: kind/bug, area/packaging

#16932 SQLAlchemy 2.0 upgrades (part 5)
  lib/galaxy/managers/histories.py
  lib/galaxy/model/__init__.py
  scripts/check_model.py
  test/unit/data/test_galaxy_mapping.py
Labels: kind/refactoring, area/database

#17104 [23.1] Ensure that plugin build hash actually has a git hash to compare with…
  client/gulpfile.js
Labels: area/client

#17102 [23.1] Set correct tool_path for packaged galaxy
  lib/galaxy/config/__init__.py
Labels: kind/bug, area/packaging

#16996 Add history items display state for collections/lists with failed or new populated_state
  client/src/components/History/Content/Collection/CollectionDescription.vue
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/model/StatesInfo.vue
  client/src/components/History/Content/model/stateTypes.d.ts
  client/src/components/History/Content/model/states.ts
  client/src/components/History/CurrentCollection/CollectionPanel.vue
  client/src/components/History/HistoryFilters.js
  client/src/components/History/HistoryPublishedList.vue
Labels: kind/bug, area/UI-UX

#16982 Dataset Display : force reload on subsequent clicks.
  client/src/components/History/Content/ContentItem.vue
Labels: kind/bug, kind/enhancement, area/UI-UX

#17114 [23.2] Disable admin notifications management if notifications are disabled in config
  client/src/components/admin/Notifications/NotificationsManagement.test.ts
  client/src/components/admin/Notifications/NotificationsManagement.vue
Labels: kind/bug, area/UI-UX

#17112 [23.2] Tool panel views overflow bug
  client/src/components/Panels/Menus/PanelViewMenu.vue
  client/src/components/Panels/ToolPanel.vue
Labels: kind/bug, area/UI-UX
