Repository galaxyproject/galaxy, pull requests merged in 2024-03, with the labels that each got.

#17569 Add help text to workflow invocation states
  client/src/components/Help/HelpText.vue
  client/src/components/Help/terms.js
  client/src/components/Help/terms.yml
  client/src/components/JobInformation/CodeRow.vue
  client/src/components/JobInformation/JobInformation.vue
  client/src/components/Workflow/InvocationsList.vue
Labels: kind/enhancement, area/UI-UX, area/workflows

#17502 Add multiple drag/drop and keyboard accessible selection to `HistoryPanel` items
  client/src/components/ActivityBar/ActivityBar.vue
  client/src/components/DragGhost.vue
  client/src/components/Form/Elements/FormData/FormData.vue
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/SelectedItems.js
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/Multiple/MultipleView.vue
  client/src/components/History/Multiple/MultipleViewList.vue
  client/src/stores/eventStore.ts
  client/src/utils/setDrag.js
  client/src/utils/setDrag.ts
Labels: kind/enhancement, area/UI-UX

#17357 Add element_identifier and ext to inputs config file export
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/wrapped_json.py
  test/functional/tools/inputs_as_json_with_staging_path_and_source_path.xml
Labels: area/testing, area/tool-framework

#17106 Add support for (fast5.tar).xz binary compressed files
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/test.fast5.tar.xz
  lib/galaxy/util/__init__.py
  lib/galaxy/util/checkers.py
  lib/galaxy/util/compression_utils.py
  test/integration/test_datatype_upload.py
Labels: area/testing, area/datatypes, area/util, area/testing/integration

#17482 Feature SBOL datatypes
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/test/sbol.v2.crispr_example.xml
  lib/galaxy/datatypes/test/sbol.v3.circuit.nt
  lib/galaxy/datatypes/triples.py
  test/unit/data/datatypes/test_sbol.py
Labels: area/testing, area/datatypes

#13918 Make columns types an empty list for empty tabular data
  lib/galaxy/datatypes/tabular.py
  test/unit/data/datatypes/test_tabular.py
  test/unit/data/datatypes/util.py
Labels: area/datatypes, area/util

#17573 Remove legacy phyloviz, circster and sweepster artifacts
  config/plugins/visualizations/circster/config/circster.xml
  config/plugins/visualizations/phyloviz/config/phyloviz.xml
  config/plugins/visualizations/phyloviz/static/logo.png
  config/plugins/visualizations/sweepster/config/sweepster.xml
Labels: kind/bug, kind/refactoring, area/visualizations

#17566 Links to individual invocations.
  client/src/api/invocations.ts
  client/src/components/JobInformation/JobInformation.test.js
  client/src/components/JobInformation/JobInformation.vue
  client/src/components/Workflow/InvocationsList.vue
  client/src/entry/analysis/router.js
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: kind/enhancement, area/UI-UX, area/workflows

#17582 [23.2] Account for newlines in CIF Datatype sniffer
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/datatypes/sniff.py
  lib/galaxy/datatypes/test/LaMnO3.cif
Labels: kind/bug, area/datatypes

#16492 consistently compare profile versions
  lib/galaxy/tool_util/deps/container_classes.py
  lib/galaxy/tool_util/linters/general.py
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/execute.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/wrappers.py
Labels: kind/refactoring, minor, area/tool-framework, area/tool-dependencies

#17583 Apply default theme to theme selector
  client/src/components/User/ThemeSelector.vue
  client/src/style/scss/custom_theme_variables.scss
Labels: kind/bug, area/UI-UX

#17556 Add `image_diff` comparison method for test output verification using images
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/tool_util/linters/tests.py
  lib/galaxy/tool_util/parser/util.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/verify/__init__.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/util/checkers.py
  lib/galaxy/util/image_util.py
  packages/data/setup.cfg
  packages/test.sh
  packages/tool_util/setup.cfg
  pyproject.toml
  test-data/im1_uint8.png
  test-data/im1_uint8.tif
  test-data/im2_a.png
  test-data/im2_b.png
  test-data/im3_a.png
  test-data/im3_b.tif
  test/functional/tools/image_diff.xml
  test/functional/tools/sample_tool_conf.xml
  test/unit/tool_util/test_verify.py
Labels: area/testing, area/tool-framework, area/dependencies

#17589 Add migrations revision identifier for 24.0
  lib/galaxy/model/migrations/dbscript.py
Labels: kind/enhancement, area/database

#17584 [23.2] Fix ``test_page_encoding`` and ``test_collection_explicit_and_implicit`` integration tests
  test/integration/test_page_revision_json_encoding.py
  test/integration/test_workflow_scheduling_options.py
Labels: kind/bug, area/testing, area/testing/integration

#17577 [23.1] Fix ancient bug: incorrect usage of func.coalesce in User model
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/database

#17591 [24.0] Update version to 24.0.rc1
  lib/galaxy/version.py
Labels: minor

#17567 add colabfold tar file datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#17531 Enables activity bar by default
  client/src/components/ActivityBar/ActivityBar.test.js
  client/src/components/ActivityBar/ActivityBar.vue
  client/src/components/Panels/ToolBox.vue
  client/src/components/Upload/UploadButton.vue
  client/src/composables/usePanels.ts
  client/src/entry/analysis/router.js
  client/src/stores/activitySetup.ts
  client/src/stores/activityStore.test.ts
  client/src/stores/activityStore.ts
  client/src/stores/userStore.ts
Labels: area/UI-UX, kind/feature

#17156 Adding object store plugin for Rucio
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/rucio.py
  lib/galaxy/objectstore/rucio_extra_clients.py
  lib/galaxy_test/driver/integration_util.py
  test/integration/objectstore/_base.py
  test/integration/objectstore/test_rucio_objectstore.py
Labels: area/testing, area/objectstore, area/testing/integration, area/backend

#17492 Better display of estimated line numbers and add number of columns for tabular
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/util/__init__.py
Labels: area/datatypes, area/util, area/backend

#17294 [24.0] Add ``__KEEP_SUCCESS_DATASETS__``
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/keep_success_collection.xml
  lib/galaxy_test/api/test_workflows.py
  test/functional/tools/sample_tool_conf.xml
Labels: kind/enhancement, area/testing, area/tool-framework, area/testing/api

#16885 Add test and doc showing how dynamic selects are used
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/functional/tools/sample_tool_conf.xml
  test/functional/tools/select_dynamic.xml
Labels: kind/enhancement, area/documentation, area/testing

#17597 [23.2] Fix tool shed webapp
  lib/galaxy/webapps/base/webapp.py
  lib/tool_shed/webapp/buildapp.py
Labels: kind/bug

#17016 [24.0] Extend regex groups in stdio regex matches
  client/src/components/JobInformation/JobInformation.test.js
  client/src/components/JobInformation/JobInformation.vue
  lib/galaxy/jobs/__init__.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/tool_util/output_checker.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy_test/api/test_tools.py
  test/functional/tools/qc_stdout.xml
  test/integration/test_max_discovered_files.py
  test/unit/tool_util/test_output_checker.py
  test/unit/tool_util/test_parsing.py
Labels: kind/enhancement, area/testing, area/tool-framework

#17612 [24.0] Fix ``test_oidc_login_existing_user`` test
  test/integration/oidc/test_auth_oidc.py
Labels: kind/bug, area/testing, area/testing/integration

#17607 Unpin social-auth-core dependency
  lib/galaxy/dependencies/pinned-requirements.txt
  pyproject.toml
Labels: kind/bug, area/dependencies

#17613 [23.2] Don't call ``get_or_create_default_history()`` twice for invalidated sessions
  lib/galaxy/webapps/base/webapp.py
Labels: kind/bug

#17598 [23.2] Anticipate PendingRollbackError in ``check_database_connection``
  lib/galaxy/model/base.py
Labels: kind/bug, area/database

#17587 [24.0] Fix bugs relating to history keyboard navigation
  client/src/components/History/Content/ContentItem.test.js
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/ContentOptions.vue
  client/src/components/History/Content/Dataset/DatasetActions.vue
  client/src/components/History/Content/Dataset/index.ts
  client/src/components/History/Content/GenericElement.test.js
  client/src/components/History/Content/SelectedItems.js
  client/src/components/History/Content/model/states.ts
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/stores/eventStore.ts
Labels: kind/bug, area/UI-UX

#17629 [24.0] Make latest_workflow_uuid optional
  client/src/api/schema/schema.ts
  lib/galaxy/schema/schema.py
Labels: kind/bug

#17621 [24.0] Increase ContentItem clickable area
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
Labels: kind/bug, area/UI-UX

#17616 [23.2] Fix switch to history in invocations list
  client/src/components/History/SwitchToHistoryLink.test.ts
  client/src/components/History/SwitchToHistoryLink.vue
  client/src/components/Workflow/InvocationsList.test.js
  client/src/components/Workflow/InvocationsList.vue
Labels: kind/bug, area/UI-UX

#17635 [24.0] default sort all grid histories the same
  client/src/components/Grid/configs/historiesShared.ts
Labels: kind/bug, area/UI-UX

#17626 [24.0] do not link to invocations for workflow that has never run
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
  client/src/components/Workflow/WorkflowInvocationsCount.vue
Labels: kind/bug, area/UI-UX

#17632 [24.0] More efficient change_state queries, maybe fix deadlock
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/execute.py
  test/unit/app/managers/test_JobConnectionsManager.py
Labels: kind/bug, area/database

#17630 Type annotation and CWL-related improvements
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/tool_util/client/staging.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tool_util/verify/script.py
  lib/galaxy/tools/expressions/evaluation.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run.py
Labels: kind/refactoring, area/workflows, area/database, area/tool-framework, area/cwl

#17638 [24.0] Make WorkflowInput label, value and uuid optional
  client/src/api/schema/schema.ts
  lib/galaxy/schema/schema.py
Labels: kind/bug, area/API, area/workflows

#17639 [23.1] Fix DataResult type
  lib/galaxy/webapps/galaxy/services/datasets.py
Labels: kind/bug, area/API

#17640 [24.0] Prevent 500 for anon /api/invocations
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: kind/bug, area/API, area/workflows

#17645 [24.0] Don't fail for anon /api/users request
  lib/galaxy/webapps/galaxy/services/users.py
Labels: kind/bug, area/API

#17634 [23.2] Fix tool panel workflow and favorites button bugs
  client/src/components/Panels/Buttons/FavoritesButton.vue
  client/src/components/Panels/Common/ToolSearch.vue
  client/src/components/Panels/ToolBox.vue
  client/src/components/Panels/ToolPanel.vue
  client/src/components/ToolsList/ToolsList.vue
  client/src/components/ToolsList/ToolsListTable.vue
  lib/galaxy/webapps/galaxy/api/users.py
Labels: kind/bug, area/UI-UX, area/API

#17628 [24.0] Add basic model import attribute validation
  lib/galaxy/model/store/__init__.py
  lib/galaxy/schema/schema.py
  test/unit/schema/test_schema.py
Labels: kind/bug, area/database

#17641 [23.2] Yaml nested assertions: fix parsing
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/yaml.py
  test/unit/tool_util/test_test_parsing.py
Labels: area/testing, area/tool-framework

#17648 [24.0] Fix history panel arrow navigate by id bug, add `HistoryOperations` to `HistoryView` and prevent item selection in unowned histories
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/HistoryView.test.js
  client/src/components/History/HistoryView.vue
Labels: kind/bug, area/UI-UX

#17593 Modernization and cleanup of job state related client code.
  client/src/api/invocations.ts
  client/src/components/JobInformation/JobInformation.vue
  client/src/components/JobStates/CollectionJobStates.vue
  client/src/components/JobStates/mixin.js
  client/src/components/JobStates/wait.js
  client/src/components/RuleCollectionBuilder.vue
  client/src/components/Workflow/test/json/invocation.json
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationSummary.vue
  client/src/components/WorkflowInvocationState/util.ts
  client/src/components/admin/JobsList.vue
  client/src/components/providers/utils.js
  client/src/utils/job-states-model.js
Labels: area/UI-UX, kind/refactoring, area/workflows

#17672 [23.2] Npz sniffing: do not read the whole file
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes

#17651 [24.0] fix shared item details and initial filters
  client/src/components/Common/PublishedItem.vue
  client/src/components/Grid/GridHistory.vue
  client/src/components/Grid/GridList.vue
  client/src/components/Grid/GridPage.vue
  client/src/components/History/HistoryPublished.vue
  client/src/entry/analysis/router.js
Labels: kind/bug, area/UI-UX

#17674 [23.2] Npz sniffing: do not read the whole file
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes

#17663 Fix syntax for SA2.0
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/database

#17655 tool linter: check for valid bio.tools entries
  lib/galaxy/tool_util/linters/general.py
  test/unit/tool_util/test_tool_linters.py
Labels: kind/enhancement, area/testing, area/tool-framework

#17675 [24.0] Drop release notes webhook
  config/plugins/webhooks/news/config.yml
  config/plugins/webhooks/news/script.js
  config/plugins/webhooks/news/styles.css
Labels: area/UI-UX, kind/refactoring, highlight/admin

#17679 [23.2] Assert that at least one file in npz zipfile ends with .npy
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes

#17678 [23.2] Separate `ConnectedValue` from `RuntimeValue`
  lib/galaxy/managers/workflows.py
Labels: area/workflows, area/tool-framework

#17657 [23.2] Limit new anon histories
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy_test/api/test_authenticate.py
Labels: kind/bug, area/API, area/performance

#17581 Add content assertion XML tags for test output verification using images
  lib/galaxy/tool_util/verify/asserts/__init__.py
  lib/galaxy/tool_util/verify/asserts/image.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/functional/tools/sample_tool_conf.xml
  test/functional/tools/validation_image.xml
Labels: area/testing, area/tool-framework, area/util, area/dependencies, area/packaging

#17685 [24.0] Purge history from history panel
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
Labels: kind/bug, area/UI-UX

#17693 Issue #17631: Make it possible to use custom invfile.lua if needed
  lib/galaxy/tool_util/deps/mulled/mulled_build.py
Labels: area/tool-framework, area/tool-dependencies

#17686 remove reference to a non-existent component
  client/src/components/Panels/ToolBox.vue
Labels: kind/bug, area/UI-UX

#17649 [24.0] Moves archived histories from Masthead to Histories Grid
  client/src/components/Grid/GridHistory.vue
  client/src/components/History/Archiving/HistoryArchive.vue
  client/src/entry/analysis/menu.js
  client/src/entry/analysis/router.js
Labels: kind/enhancement, area/UI-UX

#17701 Activity bar preference handling fixes.
  client/src/components/Common/PublishedItem.vue
  client/src/components/Masthead/Masthead.vue
  client/src/components/User/UserActivityBarSettings.vue
  client/src/components/User/UserPreferences.vue
  client/src/components/Workflow/Published/WorkflowPublished.vue
  client/src/composables/usePanels.ts
  client/src/entry/analysis/modules/Analysis.vue
  client/src/stores/userStore.ts
Labels: area/UI-UX, kind/refactoring

#17714 [24.0] Fix incorrect history item count in histories lists
  client/src/components/Grid/configs/histories.ts
Labels: kind/bug, area/UI-UX, area/histories

#17719 [24.0] Fix archived histories tab anonymous access
  client/src/components/Grid/GridHistory.vue
  client/src/entry/analysis/router.js
Labels: kind/bug, area/UI-UX, release-testing-24.0

#17717 [24.0] Improve published histories listing performance in UI
  client/src/components/Grid/configs/historiesPublished.ts
Labels: kind/bug, area/UI-UX

#17716 [24.0] Fix step type serialization for StoredWorkflowDetailed models
  client/src/api/schema/schema.ts
  lib/galaxy/managers/workflows.py
  lib/galaxy/schema/schema.py
  lib/galaxy/schema/workflows.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/bug, area/API, area/workflows

#17700 [24.0] Workflow Comment Indexing
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrations/alembic/versions_gxy/2dc3386d091f_add_indexes_for_workflow_comment_.py
Labels: kind/bug, area/database

#17724 [24.0] Fix date range popover cutoff in history swtich
  client/src/components/History/Modals/SelectorModal.vue
Labels: kind/bug, area/UI-UX, minor

#17749 Fix bug in image_util.py
  lib/galaxy/util/image_util.py
Labels: area/util

#17752 Fix bug in galaxy.xsd
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/tool-framework

#17721 [24.0] Fix Workflow Name Display in `WorkflowCard` to Prevent Bleeding Over Borders
  client/src/components/Workflow/WorkflowActions.vue
  client/src/components/Workflow/WorkflowCard.vue
Labels: kind/bug, area/UI-UX, release-testing-24.0

#17720 [24.0] Fix Collection Scrolling not showing all items
  client/src/components/History/CurrentCollection/CollectionPanel.vue
  client/src/store/historyStore/model/utilities.js
  client/src/stores/collectionElementsStore.test.ts
  client/src/stores/collectionElementsStore.ts
  client/src/utils/lastQueue.ts
Labels: kind/bug, area/UI-UX

#17742 [24.0] fix overflowing and hiding of storage popovers
  client/src/components/History/CurrentHistory/PreferredStorePopover.vue
  client/src/components/Tool/ToolTargetPreferredObjectStorePopover.vue
  client/src/components/Workflow/Run/WorkflowTargetPreferredObjectStorePopover.vue
Labels: kind/bug, area/UI-UX, area/accessibility

#17761 [24.0] Prevent dragover for item from same history in history panel
  client/src/components/DragGhost.vue
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
Labels: kind/bug, area/UI-UX

#17759 [24.0] Fix usage of DISTINCT
  lib/galaxy/managers/histories.py
Labels: kind/bug, area/database

#17754 Fix bug in `assert_has_image_n_labels`
  lib/galaxy/tool_util/verify/asserts/image.py
  test/functional/tools/validation_image.xml
Labels: area/testing, area/tool-framework

#17748 Add carbon_intensity.csv to package
  packages/app/MANIFEST.in
Labels: kind/bug, area/packaging

#17753 [24.0] Fix tag sorting
  client/src/components/TagsMultiselect/HeadlessMultiselect.test.ts
  client/src/components/TagsMultiselect/HeadlessMultiselect.vue
  client/src/components/TagsMultiselect/StatelessTags.test.js
  client/src/components/TagsMultiselect/StatelessTags.vue
  client/src/stores/userTagsStore.ts
Labels: kind/bug, area/UI-UX

#17726 [24.0] Fix histories API index_query serialization
  client/src/components/Grid/configs/histories.ts
  client/src/components/Grid/configs/historiesShared.ts
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/services/histories.py
  lib/galaxy_test/api/test_histories.py
Labels: kind/bug, area/UI-UX, area/API, area/histories

#17736 [23.1] Handle missing indexer for a dataset
  lib/galaxy/webapps/galaxy/services/datasets.py
Labels: kind/bug, area/API, area/backend

#17767 [24.0] Fix input parameter step type
  client/src/api/schema/schema.ts
  lib/galaxy/schema/schema.py
Labels: kind/bug, area/API, area/workflows

#17772 [24.0] Fix anon user values again
  lib/galaxy/webapps/galaxy/services/users.py
Labels: kind/bug

#17744 [24.0] Revise language around non-private object stores
  client/src/components/ObjectStore/ObjectStoreRestrictionSpan.test.js
  client/src/components/ObjectStore/ObjectStoreRestrictionSpan.vue
Labels: kind/bug, area/UI-UX

#17768 [24.0] Fix ``include_nested_invocations`` parameter use
  client/src/components/Workflow/InvocationsList.test.js
  client/src/components/Workflow/InvocationsList.vue
Labels: kind/bug, area/UI-UX, area/workflows

#17763 [24.0] change user-facing language from "object store" to "storage location"
  client/src/components/History/CurrentHistory/HistoryCounter.vue
  client/src/components/History/CurrentHistory/PreferredStorePopover.vue
  client/src/components/ObjectStore/ConfigurationMarkdown.test.ts
  client/src/components/ObjectStore/DescribeObjectStore.vue
  client/src/components/ObjectStore/ObjectStoreBadge.vue
  client/src/components/ObjectStore/SelectObjectStore.vue
  client/src/components/ObjectStore/ShowSelectedObjectStore.test.js
  client/src/components/ObjectStore/ShowSelectedObjectStore.vue
  client/src/components/ObjectStore/showTargetPopoverMixin.js
  client/src/components/Tool/ToolCard.vue
  client/src/components/Tool/ToolSelectPreferredObjectStore.vue
  client/src/components/Tool/ToolTargetPreferredObjectStorePopover.vue
  client/src/components/User/DiskUsage/Quota/ProvidedQuotaSourceUsageBar.vue
  client/src/components/User/UserPreferredObjectStore.test.js
  client/src/components/User/UserPreferredObjectStore.vue
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/components/Workflow/Run/WorkflowSelectPreferredObjectStore.vue
  client/src/components/Workflow/Run/WorkflowStorageConfiguration.vue
  client/src/components/Workflow/Run/WorkflowTargetPreferredObjectStorePopover.vue
Labels: area/UI-UX

#17775 [24.0] Add missing fields in histories listings
  client/src/components/Grid/configs/histories.ts
  client/src/components/Grid/configs/historiesPublished.ts
Labels: kind/bug, area/UI-UX, area/histories

#17684 [24.0] Grid filtering bug fixes
  client/src/components/Common/FilterMenu.vue
  client/src/components/Grid/GridList.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/Panels/Menus/PanelViewMenu.vue
  client/src/components/Workflow/WorkflowCard.vue
  client/src/components/Workflow/WorkflowFilters.js
  client/src/components/Workflow/WorkflowIndicators.vue
  client/src/components/Workflow/WorkflowList.vue
  client/src/utils/filterConversion.test.js
  client/src/utils/filtering.test.js
  client/src/utils/filtering.ts
  test/integration_selenium/test_trs_import.py
Labels: kind/bug, area/UI-UX

#17789 [24.0] Minor log cleanup.
  client/src/stores/userTagsStore.ts
Labels: kind/refactoring, minor

#17790 [24.0] Clarify language about the activity bar being beta
  client/src/components/User/UserPreferences.vue
Labels: minor

#17788 [24.0] Avoid showing a shareable URL with the default slug/username.
  client/src/components/Sharing/SharingPage.vue
Labels: kind/bug, area/UI-UX

#17786 [24.0] Use ``hg clone --stream`` to clone repos
  lib/galaxy/tool_shed/util/hg_util.py
  lib/tool_shed/test/functional/test_0300_reset_all_metadata.py
Labels: kind/bug, area/testing, area/performance

#17792 [24.0] Fix visualization activity plugin list images
  client/src/components/Visualizations/PluginList.vue
Labels: kind/bug

#17777 [24.0] Also set extension and metadata on copies of job outputs when finishing job
  lib/galaxy/jobs/__init__.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy_test/api/test_workflows.py
  test/unit/data/model/test_model_store.py
Labels: kind/bug, area/jobs, area/database, area/tool-framework

#17795 [24.0] Defer job attributes that are usually not needed
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/model/__init__.py
Labels: area/performance, area/database

#17782 [24.0] Prompt user to change default history permissions...
  client/src/components/History/CurrentHistory/SelectPreferredStore.vue
  client/src/components/History/HistoryDatasetPermissions.vue
  client/src/components/History/services.ts
  client/src/components/ObjectStore/SelectObjectStore.vue
  client/src/composables/datasetPermissions.ts
Labels: kind/bug, kind/enhancement, area/UI-UX, area/histories

#17779 [24.0] Restore histories API behavior for `keys` query parameter
  client/src/api/index.ts
  client/src/api/schema/schema.ts
  client/src/components/History/CurrentHistory/HistoryMessages.vue
  client/src/components/History/Modals/CopyModal.vue
  client/src/components/History/Multiple/MultipleView.vue
  client/src/composables/hashedUserId.ts
  client/src/composables/userLocalStorage.ts
  client/src/stores/historyStore.ts
  client/src/stores/userStore.ts
  lib/galaxy/managers/history_contents.py
  lib/galaxy/schema/__init__.py
  lib/galaxy/schema/fields.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
  lib/galaxy_test/api/test_histories.py
Labels: kind/bug, kind/enhancement, area/UI-UX, area/API, area/histories

#17796 [24.0] Fix new default history creation when in remote or single user mode
  lib/galaxy/webapps/base/webapp.py
Labels: kind/bug

#17797 Add support for floating point TIFF files in verification of image-based tool outputs
  lib/galaxy/tool_util/verify/__init__.py
  lib/galaxy/tool_util/verify/asserts/image.py
  packages/tool_util/setup.cfg
  test-data/im4_float.tif
  test/functional/tools/image_diff.xml
  test/functional/tools/validation_image.xml
Labels: kind/enhancement, area/testing, area/tool-framework, area/packaging

#17652 [24.0] Fix history filters taking up space in `GridList`
  client/src/components/Common/FilterMenu.test.ts
  client/src/components/Common/FilterMenu.vue
  client/src/components/Common/FilterMenuBoolean.vue
  client/src/components/Common/FilterMenuInput.vue
  client/src/components/Common/FilterMenuRanged.vue
  client/src/components/Grid/GridList.vue
  client/src/components/Grid/configs/adminForms.ts
  client/src/components/Grid/configs/adminGroups.ts
  client/src/components/Grid/configs/adminQuotas.ts
  client/src/components/Grid/configs/adminRoles.ts
  client/src/components/Grid/configs/adminUsers.ts
  client/src/components/Grid/configs/histories.ts
  client/src/components/Grid/configs/pages.ts
  client/src/components/Grid/configs/visualizations.ts
  client/src/components/Workflow/WorkflowFilters.js
  client/src/components/Workflow/WorkflowList.vue
  client/src/utils/filtering.ts
  client/src/utils/navigation/navigation.yml
  client/src/utils/navigation/schema.ts
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_histories_list.py
  lib/galaxy_test/selenium/test_histories_published.py
  lib/galaxy_test/selenium/test_workflow_management.py
Labels: kind/bug, area/UI-UX

#17803 [24.0] Fix change_datatype PJA for dynamic collections
  lib/galaxy/job_execution/actions/post.py
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/metadata/__init__.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/discover.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/bug, area/jobs, area/workflows

#17793 [24.0] Fix datasets API custom keys encoding
  client/src/api/schema/schema.ts
  lib/galaxy/managers/hdas.py
  lib/galaxy/managers/hdcas.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/datasets.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy_test/api/test_history_contents.py
Labels: kind/bug, kind/enhancement, area/API

#17808 [24.0] Return published histories first in display_by_username_and_slug
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: kind/bug, area/UI-UX, area/histories

#17762 [24.0] Improve Shift+Click select in history panel and add it for `ContentItem` selector checkboxes as well
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/SelectedItems.js
  client/src/components/History/Content/SelectedItems.test.js
  client/src/components/History/CurrentHistory/HistoryPanel.vue
Labels: kind/bug, area/UI-UX

#17756 [24.0] Datasets list anonymous access and history link fixes.
  client/src/components/Dataset/DatasetHistory.vue
  client/src/components/Dataset/DatasetList.vue
  client/src/components/Dataset/DatasetName.test.js
  client/src/components/Dataset/DatasetName.vue
  client/src/components/History/SwitchToHistoryLink.vue
  client/src/entry/analysis/menu.js
Labels: kind/bug, area/UI-UX

#17816 [24.0] remove link to non existent page from Data menu
  client/src/entry/analysis/menu.js
Labels: kind/bug, area/UI-UX

#17799 Datasets refactors
  client/src/api/datasets.ts
  client/src/components/Dataset/DatasetHistory.vue
  client/src/components/Dataset/DatasetList.vue
  client/src/components/Dataset/DatasetName.test.ts
  client/src/components/Dataset/DatasetName.vue
  client/src/components/Dataset/DatasetPermissionsForm.vue
  client/src/stores/historyStore.ts
Labels: area/UI-UX, kind/refactoring

#17817 [24.0] Simplify nested collection joins
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/performance

#17828 [23.0] Fix excessive memory usage for npz files
  lib/galaxy/datatypes/binary.py
Labels: kind/bug, area/performance

#17830 [24.0] Fix very slow user data table query
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrations/alembic/versions_gxy/55f02fd8ab6c_add_index_on_hda_extension.py
Labels: kind/bug, area/performance, area/database

#17834 [24.0] Update db revision 24.0 release tags
  lib/galaxy/model/migrations/dbscript.py
Labels: kind/bug, area/database

#17832 [24.0] Fix optional types in Help Forum API
  client/src/api/schema/schema.ts
  lib/galaxy/schema/help.py
Labels: kind/bug, area/API

#17833 Merge release_24.0 -> dev
  client/src/components/Dataset/DatasetHistory.vue
  client/src/components/Dataset/DatasetList.vue
  client/src/components/Dataset/DatasetName.test.ts
  client/src/components/Dataset/DatasetName.vue
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/SelectedItems.js
  client/src/components/History/Content/SelectedItems.test.js
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/SwitchToHistoryLink.vue
  client/src/entry/analysis/menu.js
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: merge, area/database

#17794 [24.0] Improved error messages for runtime sharing problems.
  client/src/components/History/Content/Dataset/DatasetDetails.vue
  client/src/components/History/Content/Dataset/DatasetMiscInfo.vue
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/objectstore/__init__.py
Labels: kind/bug, kind/enhancement, area/histories, area/objectstore

#17810 Fix odd object store exception
  lib/galaxy/objectstore/__init__.py
Labels: kind/bug, area/objectstore

#17835 [24.0] Minor refactor of query building logic for readability
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/database

#17837 [23.2] Fix error in release notes
  doc/source/releases/23.2_announce.rst
Labels: kind/bug, area/documentation

#17424 Fixes for mapping workflow labels to markdown dialogs.
  client/src/components/Markdown/LabelSelector.vue
  client/src/components/Markdown/MarkdownDialog.vue
  client/src/components/Markdown/MarkdownSelector.vue
  client/src/components/Markdown/MarkdownToolBox.vue
  client/src/components/Markdown/labels.ts
Labels: kind/bug, area/UI-UX, area/workflows

#17844 [24.0] Fix Help Forum Integration uses Long ID
  client/src/components/Tool/ToolHelpForum.vue
  client/src/components/ToolRecommendation.vue
  client/src/components/Workflow/Editor/Recommendations.vue
  client/src/utils/tool.ts
Labels: kind/bug, area/UI-UX

#17842 [23.2] Proxy Access-Control-* headers when using x-accel-redirect
  doc/source/admin/nginx.md
Labels: kind/enhancement, area/documentation, area/admin

#17839 Add tool linting for valid EDAM terms
  lib/galaxy/tool_util/linters/general.py
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, area/tool-framework

#17851 [24.0] Fix incorrect miscinfo 'fix this' display
  client/src/components/History/Content/Dataset/DatasetMiscInfo.vue
Labels: kind/bug, minor

#17854 [23.2] Fix user login when duplicate UserRoleAssociation exists
  lib/galaxy/model/security.py
Labels: kind/bug, area/database

#17812 [24.0] Fix Multi-History status bar reactivity
  client/src/api/index.ts
  client/src/components/History/CurrentHistory/HistoryCounter.vue
  client/src/components/History/CurrentHistory/HistoryOperations/DefaultOperations.vue
  client/src/components/History/CurrentHistory/HistoryOperations/HistoryOperations.vue
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/CurrentHistory/usesDetailedHistory.js
  client/src/components/History/HistoryScrollList.vue
  client/src/components/History/Multiple/MultipleView.test.js
  client/src/components/History/Multiple/MultipleViewItem.vue
  client/src/composables/detailedHistory.ts
  client/src/composables/historyContentStats.ts
  client/src/store/historyStore/model/watchHistory.js
  client/src/stores/historyStore.ts
  client/src/stores/userStore.ts
Labels: kind/bug, kind/enhancement, area/UI-UX

#17852 [24.0] Embed fix
  client/src/components/Sharing/Embeds/WorkflowEmbed.vue
Labels: kind/bug, area/UI-UX

#17860 [24.0] Fix activity bar unreachable in some pages
  client/src/entry/analysis/menu.js
  client/src/entry/analysis/modules/Base.vue
  client/src/entry/analysis/router.js
Labels: kind/bug, kind/enhancement, area/UI-UX

#17847 [24.0] Improve tool panel loading delay
  client/src/components/Panels/Common/ToolSearch.vue
  client/src/components/Panels/ToolBox.vue
  client/src/components/Panels/ToolPanel.vue
  client/src/components/Panels/utilities.ts
  client/src/stores/toolStore.ts
Labels: kind/bug, area/UI-UX

#17861 [24.0] Embed download fix
  client/src/components/Workflow/Published/WorkflowPublished.vue
Labels: kind/bug, area/UI-UX

#17865 [24.0] wait for config to load with user prefs options
  client/src/components/User/UserPreferences.vue
Labels: kind/bug, area/UI-UX

#17868 [23.1] Normalize extensions when loading tool
  lib/galaxy/tools/parameters/basic.py
Labels: kind/bug, area/datatype-framework, area/tool-framework
