Repository galaxyproject/galaxy, pull requests merged in 2024-12, with the labels that each got.

#19228 Update Vizarr package version to 0.1.6
  config/plugins/visualizations/vizarr/config/vizarr.xml
Labels: area/visualizations

#19222 [24.0] Create harmonized collections from correct tool outputs
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/harmonize_two_collections_list.xml
Labels: area/tool-framework

#19241 [24.2] Avoid a class of unhelpful accepted format drop downs.
  client/src/components/Form/Elements/FormData/FormData.vue
Labels: kind/bug, area/UI-UX

#19235 Fix UP031 errors - Part 4
  lib/galaxy/datatypes/util/maf_utilities.py
  lib/galaxy/model/security.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/schema/__init__.py
  lib/galaxy/security/validate_user_input.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/selenium/scripts/dump_tour.py
  lib/galaxy/tool_shed/galaxy_install/metadata/installed_repository_metadata_manager.py
  lib/galaxy/tool_shed/util/repository_util.py
  lib/galaxy/tool_util/client/staging.py
  lib/galaxy/tool_util/data/__init__.py
  lib/galaxy/tool_util/deps/brew_exts.py
  lib/galaxy/tool_util/deps/docker_util.py
  lib/galaxy/tool_util/output_checker.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/provided_metadata.py
  lib/galaxy/tool_util/verify/__init__.py
  lib/galaxy/tool_util/verify/parse.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/tools/execute.py
  lib/galaxy/tools/parameters/__init__.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/dynamic_options.py
  lib/galaxy/tools/util/galaxyops/__init__.py
  lib/galaxy/util/__init__.py
  lib/galaxy_test/selenium/test_stock_tours.py
  test/unit/util/test_utils.py
Labels: kind/refactoring, area/testing, area/database, area/datatypes, area/tool-framework, area/util, area/tool-dependencies, area/security, area/testing/selenium

#19242 [24.2] Improve the empty history message for guiding users to collections.
  client/src/components/Collections/CollectionCreatorModal.vue
  client/src/components/Collections/ListCollectionCreator.vue
  client/src/components/Collections/PairCollectionCreator.vue
  client/src/components/Collections/PairedListCollectionCreator.vue
  client/src/components/Collections/common/CollectionCreator.vue
Labels: area/UI-UX

#19254 [24.2] Fix version number
  lib/galaxy/version.py
Labels: kind/bug, area/documentation, minor

#19250 [24.2] Build collection only if populated in collection builder
  client/src/components/Collections/ListCollectionCreator.vue
  client/src/components/Collections/PairedListCollectionCreator.vue
Labels: kind/bug, area/UI-UX

#19257 Explicitly add cwl-utils to dependencies
  lib/galaxy_ext/expressions/handle_job.py
  packages/app/setup.cfg
  pyproject.toml
Labels: area/cwl

#19260 Refactor for better reuse of workflow parameter type constants
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/workflow_parameter_input_definitions.py
Labels: kind/refactoring, area/workflows

#19202 [PROCEDURES] Drop thumbs up reaction as pull request approval method
  doc/source/project/organization.rst
Labels: kind/enhancement, procedures, area/documentation

#19258 [24.2] Only allow moving activity bar icons when editing the bar.
  client/src/components/ActivityBar/ActivityBar.vue
Labels: kind/bug, area/UI-UX, release-testing-24.2

#19276 [24.2] Fix CollectionCreatorModal being reopened on history
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.vue
Labels: kind/bug, area/UI-UX, area/dataset-collections, area/histories, release-testing-24.2

#19244 [24.2] Fix some collection builder help and language choices.
  client/src/components/Collections/CollectionCreatorModal.vue
  client/src/components/Collections/ListCollectionCreator.vue
  client/src/components/Collections/PairCollectionCreator.vue
  client/src/components/Collections/PairedListCollectionCreator.vue
  client/src/components/Collections/common/CollectionCreator.vue
  client/src/components/Form/Elements/FormData/FormData.vue
Labels: kind/bug, area/UI-UX, release-testing-24.2

#19230 [24.2] Fix usability of workflow best practice attribute checking.
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Lint.vue
  client/src/components/Workflow/Editor/WorkflowAttributes.vue
  client/src/components/Workflow/Editor/modules/linting.ts
Labels: kind/bug, kind/enhancement, area/workflows, release-testing-24.2

#19252 [24.2] Workflow Inputs Activity
  client/package.json
  client/src/components/Panels/ActivityPanel.vue
  client/src/components/Panels/InputPanel.vue
  client/src/components/Panels/ToolBox.vue
  client/src/components/Panels/ToolPanel.vue
  client/src/components/Workflow/Editor/Forms/FormDefault.test.js
  client/src/components/Workflow/Editor/Forms/FormDefault.vue
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/modules/activities.ts
  client/src/components/Workflow/Editor/modules/inputs.ts
  client/src/entry/analysis/modules/WorkflowEditor.vue
  client/src/utils/navigation/navigation.yml
  client/yarn.lock
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: area/UI-UX, area/API, area/workflows, area/client

#19282 Fix UP031 errors - Part 5
  lib/galaxy/datatypes/interval.py
  lib/galaxy/datatypes/mothur.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/text.py
  lib/galaxy/datatypes/util/gff_util.py
  lib/galaxy/exceptions/error_codes.py
  lib/galaxy/job_metrics/instrumenters/core.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/aws.py
  lib/galaxy/jobs/runners/local.py
  lib/galaxy/jobs/runners/pbs.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/jobs/runners/tasks.py
  lib/galaxy/jobs/splitters/multi.py
  lib/galaxy/managers/collections.py
  lib/galaxy/managers/collections_util.py
  lib/galaxy/managers/display_applications.py
  lib/galaxy/managers/markdown_parse.py
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/orm/engine_factory.py
  tox.ini
Labels: kind/refactoring, area/jobs, area/database, area/datatypes

#19283 [24.2] Fix problem with multiple layers in workflow metrics.
  client/src/components/Help/HelpText.vue
  client/src/components/Help/terms.yml
  client/src/components/WorkflowInvocationState/VegaWrapper.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationMetrics.vue
Labels: kind/bug, kind/enhancement, area/UI-UX, area/workflows, release-testing-24.2

#19273 Merge 24.2 into dev.
  client/src/components/Collections/ListCollectionCreator.vue
  client/src/components/Collections/PairedListCollectionCreator.vue
  lib/galaxy/webapps/galaxy/controllers/authnz.py
Labels: area/UI-UX, merge

#19248 [24.2] Various list of pairs builder usability fixes.
  client/src/components/Collections/PairedListCollectionCreator.vue
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_collection_builders.py
Labels: kind/bug, kind/enhancement, area/UI-UX, area/dataset-collections, release-testing-24.2

#19288 [24.2] Fix workflow change stack broken with #19230
  client/src/components/Workflow/Editor/Index.vue
Labels: kind/bug, area/UI-UX, minor, area/workflows, release-testing-24.2

#19291 [24.2] Fix workflow metrics chart style
  client/src/components/WorkflowInvocationState/VegaWrapper.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationMetrics.vue
Labels: kind/bug, kind/enhancement, area/UI-UX, area/workflows, release-testing-24.2

#19295 [24.1] flip default value for use_mamba to false
  lib/galaxy/tool_util/deps/container_resolvers/mulled.py
Labels: kind/bug, area/tool-framework, area/tool-dependencies

#19297 [24.1] Fix bad merge conflict resolution
  lib/galaxy/model/__init__.py
Labels: kind/bug

#19238 [24.2] Fix cancellation of workflow scheduling
  client/src/components/ProgressBar.vue
  client/src/components/Tool/ToolCard.vue
  client/src/components/Workflow/Invocation/Graph/InvocationGraph.vue
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/components/Workflow/WorkflowNavigationTitle.test.ts
  client/src/components/Workflow/WorkflowNavigationTitle.vue
  client/src/components/Workflow/WorkflowRunButton.test.ts
  client/src/components/Workflow/WorkflowRunButton.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationOverview.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/components/WorkflowInvocationState/services.js
  client/src/composables/useInvocationGraph.ts
  client/src/stores/invocationStore.ts
  client/src/style/scss/ui.scss
Labels: kind/bug, area/UI-UX, area/workflows

#19262 [24.2] Release testing - selenium tests for workflow invocation export.
  client/src/components/Workflow/Invocation/Export/InvocationExportWizard.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/utils/navigation/navigation.yml
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/selenium/test_workflow_run.py
Labels: kind/bug, area/UI-UX, kind/refactoring, area/workflows, area/testing/selenium, release-testing-24.2

#19300 [24.0] Linter: allow dynamic option definition by from_url
  lib/galaxy/tool_util/linters/inputs.py
Labels: kind/bug, area/tool-framework

#19299 Minor drag style adjustment for activities
  client/src/components/ActivityBar/ActivityBar.vue
Labels: kind/enhancement, area/UI-UX

#19298 [24.2] Fix inconsistent tab handling in invocation view
  client/src/components/WorkflowInvocationState/WorkflowInvocationMetrics.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  lib/galaxy_test/selenium/test_workflow_run.py
Labels: kind/bug, area/UI-UX

#19284 [24.2] Prefer our package index server
  tox.ini
Labels: kind/bug, merge

#19312 [24.2] Don't show published workflows in workflow activity of workflow editor
  client/src/components/Panels/WorkflowPanel.vue
Labels: kind/bug, area/UI-UX

#19311 [24.2] Fix import of previously-deleted TRS workflow
  lib/galaxy/managers/workflows.py
Labels: kind/bug, area/workflows

#19309 [24.1] Fix multi select clipping in some places
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.vue
  client/src/style/scss/multiselect.scss
Labels: kind/bug, area/UI-UX

#19316 [24.2] Fix activity-bar-id handling wrt activityStore
  client/src/components/ActivityBar/ActivityBar.vue
  client/src/components/ActivityBar/Items/InteractiveItem.vue
  client/src/components/ActivityBar/Items/NotificationItem.vue
  client/src/components/ActivityBar/Items/UploadItem.vue
  client/src/composables/userLocalStorage.ts
  client/src/stores/activityStore.ts
Labels: kind/bug, area/UI-UX

#19327 [24.0] Replace mambaforge Docker image with miniforge3
  lib/galaxy/tool_util/deps/mulled/invfile.lua
Labels: kind/bug, area/tool-framework, area/tool-dependencies

#19333 [24.1] Use correct label to display in ObjectStoreActions
  client/src/components/User/DiskUsage/Visualizations/ObjectStoreActions.vue
Labels: kind/bug, area/UI-UX

#19331 Use ``resource_path()`` to access datatypes_conf.xml.sample as a package resource
  lib/galaxy/authnz/managers.py
  lib/galaxy/config/__init__.py
  lib/galaxy/config/templates.py
  lib/galaxy/exceptions/error_codes.py
  lib/galaxy/files/templates/examples/__init__.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/managers/licenses.py
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/navigation/data.py
  lib/galaxy/objectstore/examples/__init__.py
  lib/galaxy/objectstore/templates/examples/__init__.py
  lib/galaxy/tool_util/client/landing.py
  lib/galaxy/tool_util/linters/datatypes.py
  lib/galaxy/tool_util/ontologies/ontology_data.py
  lib/galaxy/tool_util/upgrade/__init__.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/resources.py
  lib/galaxy/util/rules_dsl.py
  lib/galaxy/web/framework/base.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy_test/base/populators.py
  lib/tool_shed/test/base/populators.py
  lib/tool_shed/test/functional/test_shed_repositories.py
  packages/util/setup.cfg
  packages/web_apps/setup.cfg
  test/unit/config/test_path_graph.py
  test/unit/config/test_path_resolves_to.py
  test/unit/tool_util/data/test_tool_data_bundles.py
  test/unit/tool_util/test_parameter_specification.py
Labels: kind/bug, area/testing, area/jobs, area/tool-framework, area/util, area/objectstore, area/auth, area/packaging

#19304 Extract and typescript-ify datatype selection in wfeditor.
  client/src/components/Workflow/Editor/Forms/FormDatatype.vue
  client/src/components/Workflow/Editor/Forms/FormOutput.vue
Labels: area/UI-UX, kind/refactoring, area/workflows

#19338 [24.1] Backport #19001 kubernetes api client fix
  lib/galaxy/jobs/runners/kubernetes.py
Labels: kind/bug, merge, area/kubernetes-runner

#19337 Refactor and add tests for Popovers
  client/src/components/ActivityBar/ActivityItem.vue
  client/src/components/Common/ContextMenu.vue
  client/src/components/Popper/Popper.test.js
  client/src/components/Popper/Popper.vue
  client/src/components/Popper/usePopper.test.js
  client/src/components/Popper/usePopper.ts
  client/src/components/Upload/UploadSettings.vue
Labels: kind/enhancement, area/UI-UX, kind/refactoring, area/testing

#19342 [24.2] Partial backport of #19331
  lib/galaxy/config/__init__.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tool_util/linters/datatypes.py
  lib/galaxy/util/__init__.py
  test/unit/config/test_path_graph.py
  test/unit/config/test_path_resolves_to.py
Labels: kind/bug, area/testing, area/jobs, area/tool-framework, area/util

#19341 Misc fixes 202412
  .github/workflows/mulled.yaml
  client/src/api/schema/schema.ts
  doc/schema_template.md
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/datatypes/interval.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/grouping.py
  lib/galaxy/webapps/galaxy/services/library_contents.py
  pytest.ini
  test/unit/tool_shed/test_shed_index.py
  test/unit/tool_util/mulled/test_mulled_update_singularity_containers.py
Labels: kind/bug, kind/refactoring, area/testing, area/tool-framework

#19335 [24.1] Fix importing shared workflows with deeply nested subworkflows
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/base/controller.py
Labels: kind/bug, area/workflows

#19348 [24.0] Fix selection break warning reappearing after page refresh
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionChangeWarning.vue
Labels: kind/bug, area/UI-UX

#19349 [24.0] Backport fix for ``test_singularity_container_test`` test
  .github/workflows/mulled.yaml
  pytest.ini
  test/unit/tool_util/mulled/test_mulled_update_singularity_containers.py
Labels: kind/bug, area/testing, merge

#19045 [24.1] quota: do not complain on no-change of default
  lib/galaxy/managers/quotas.py
Labels: kind/bug, area/backend

#19352 [24.1] Use select_from_url test data from github, not usegalaxy.org
  lib/galaxy/tools/parameters/cancelable_request.py
  test/functional/tools/select_from_url.xml
Labels: area/testing, area/tool-framework

#19358 Require importlib-resources also for Python 3.9-3.11
  lib/galaxy/dependencies/pinned-requirements.txt
  pyproject.toml
Labels: kind/bug, area/dependencies

#19351 [24.2] Fix handling of step id offsets when duplicating selections
  client/src/components/Workflow/Editor/modules/model.ts
Labels: kind/bug, area/UI-UX

#19365 [24.1] Add bcsp datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes
