Repository galaxyproject/galaxy, pull requests merged in 2024-01, with the labels that each got.

#16707 port invocation API to fastapi
  client/src/api/schema/schema.ts
  lib/galaxy/model/__init__.py
  lib/galaxy/schema/invocation.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/services/invocations.py
  lib/galaxy_test/base/populators.py
  test/integration/test_workflow_tasks.py
Labels: kind/refactoring, area/API, area/workflows

#16977 Support for OIDC API Auth and OIDC integration tests
  lib/galaxy/authnz/__init__.py
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/managers/users.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy_test/base/api.py
  test/integration/oidc/galaxy-realm-export.json
  test/integration/oidc/keycloak-server.crt.pem
  test/integration/oidc/keycloak-server.key.pem
  test/integration/oidc/oidc_config.xml
  test/integration/oidc/test_auth_oidc.py
Labels: area/testing, kind/feature, area/API, area/testing/integration, area/auth

#17233 [23.2] Display application fixes and tests
  lib/galaxy/datatypes/converters/fasta_to_fai.xml
  lib/galaxy/datatypes/display_applications/parameters.py
  lib/galaxy/datatypes/registry.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  test/integration/test_display_applications.py
  test/unit/data/test_galaxy_mapping.py
Labels: kind/bug, area/testing, area/datatypes, area/tool-framework, area/testing/api

#17236 [23.1] Separate collection and non-collection data element
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/unit/files/test_ftp.py
Labels: kind/bug, area/tool-framework

#17234 Reuse test instance during non-integration tests
  lib/galaxy/util/__init__.py
  lib/galaxy_test/api/test_item_tags.py
  lib/galaxy_test/base/testcase.py
  lib/galaxy_test/conftest.py
  lib/galaxy_test/selenium/conftest.py
  lib/tool_shed/test/base/api.py
  lib/tool_shed/test/conftest.py
  test/functional/conftest.py
  test/functional/test_toolbox_pytest.py
Labels: area/testing, area/performance

#17240 Workflow node connector improvements
  client/src/components/Workflow/Editor/Draggable.vue
  client/src/components/Workflow/Editor/DraggablePan.vue
  client/src/components/Workflow/Editor/NodeInput.vue
  client/src/components/Workflow/Editor/NodeOutput.vue
  client/src/components/Workflow/Editor/_nodeTerminalStyle.scss
Labels: kind/enhancement, area/UI-UX

#17239 Build and cache galaxy client for selenium and startup tests
  .github/workflows/build_client.yaml
  .github/workflows/first_startup.yaml
  .github/workflows/integration_selenium.yaml
  .github/workflows/osx_startup.yaml
  .github/workflows/selenium.yaml
  .pre-commit-config.yaml.sample
Labels: kind/refactoring, area/testing, area/client

#17246 tus wants a json response from v2.0.0
  lib/galaxy/webapps/galaxy/api/uploads.py
Labels: area/API

#17248 Add missing re-usable commit-id output
  .github/workflows/build_client.yaml
Labels: kind/bug, area/testing

#17113 Make flex panel drag handle more obvious
  client/src/components/Panels/FlexPanel.vue
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/providers/SingleQueryProvider.js
  client/src/composables/throttle.ts
  client/src/stores/historyItemsStore.ts
  client/src/utils/lastQueue.test.js
  client/src/utils/lastQueue.ts
  client/src/utils/navigation/navigation.yml
  client/src/utils/url.ts
  config/plugins/tours/core.galaxy_ui.yaml
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: kind/enhancement, area/UI-UX, kind/refactoring

#16883 [23.1] Add back 1.1.0 version of Filtering1 tool
  lib/galaxy/config/sample/tool_conf.xml.sample
  tools/stats/filtering_1_1_0.xml
Labels: kind/bug, area/tools

#17253 [23.2] Tagging component performance improvements
  client/src/components/TagsMultiselect/StatelessTags.test.js
  client/src/components/TagsMultiselect/StatelessTags.vue
  client/src/components/Workflow/Editor/Attributes.test.js
  client/src/components/Workflow/WorkflowList.test.js
  client/src/composables/user.ts
  client/src/stores/userTagsStore.ts
Labels: kind/bug, area/UI-UX

#17265 [23.1] Add binary datatypes for intermediate output of fastk tools
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: kind/enhancement, area/datatypes

#17117 [23.1] Remove duplicates when copying sections for tool panel view
  lib/galaxy/tool_util/toolbox/views/static.py
Labels: kind/bug, area/tool-framework

#17276 [23.1] Fix ``to_cwl`` for nested collections
  lib/galaxy/workflow/modules.py
  test/unit/workflows/test_modules.py
Labels: kind/bug, area/workflows

#17222 Convert sample object store configuration to YAML and support configuring inline
  config/object_store_conf.sample.yml
  config/object_store_conf.xml.sample
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/object_store_conf.sample.yml
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/model/unittest_utils/data_app.py
  lib/galaxy/objectstore/__init__.py
Labels: kind/enhancement, area/documentation, area/admin, area/objectstore

#17278 Fix invocation serialization if no state was set
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/API, area/workflows

#16979 Toward declarative help for Galaxy markdown directives.
  client/src/api/schema/schema.ts
  client/src/components/JobMetrics/JobMetrics.vue
  client/src/components/JobParameters/JobParameters.vue
  client/src/components/Markdown/Elements/JobMetrics.vue
  client/src/components/Markdown/Elements/JobParameters.vue
  client/src/components/Markdown/Elements/JobSelection.vue
  client/src/components/Markdown/Elements/ToolStd.vue
  client/src/components/Markdown/Elements/handlesMappingJobs.ts
  client/src/components/Markdown/Markdown.vue
  client/src/components/Markdown/MarkdownContainer.vue
  client/src/components/Markdown/MarkdownToolBox.vue
  client/src/components/Markdown/directives.ts
  client/src/components/Markdown/directives.yml
  client/src/components/Panels/Common/Tool.vue
  client/src/stores/jobStore.ts
  client/webpack.config.js
  lib/galaxy/managers/collections_util.py
  lib/galaxy/managers/jobs.py
  lib/galaxy/managers/markdown_parse.py
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/services/jobs.py
  lib/galaxy_test/api/test_jobs.py
Labels: kind/enhancement, area/UI-UX, area/workflows, area/pages

#17244 Workflow node connector improvements followup
  client/src/components/Workflow/Editor/_nodeTerminalStyle.scss
Labels: kind/enhancement, area/UI-UX

#17280 [23.2] Rollback invalidated transaction
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/managers/base.py
  lib/galaxy/model/base.py
Labels: kind/bug, area/jobs, area/database

#17219 Vueifiy History Grids
  client/src/api/histories.ts
  client/src/api/schema/schema.ts
  client/src/components/Grid/GridElements/GridDatasets.vue
  client/src/components/Grid/GridElements/GridOperations.vue
  client/src/components/Grid/GridHistory.vue
  client/src/components/Grid/GridList.test.js
  client/src/components/Grid/GridList.vue
  client/src/components/Grid/configs/histories.ts
  client/src/components/Grid/configs/historiesShared.ts
  client/src/components/Grid/configs/types.ts
  client/src/components/Grid/configs/visualizations.ts
  client/src/components/Grid/history-list.js
  client/src/components/Indices/SharingIndicators.vue
  client/src/components/User/DiskUsage/Visualizations/service.ts
  client/src/entry/analysis/router.js
  client/src/style/scss/unsorted.scss
  client/src/utils/navigation/navigation.yml
  lib/galaxy/managers/histories.py
  lib/galaxy/managers/visualizations.py
  lib/galaxy/model/__init__.py
  lib/galaxy/schema/history.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/services/histories.py
  lib/galaxy_test/api/test_visualizations.py
  lib/galaxy_test/selenium/test_histories_list.py
  lib/galaxy_test/selenium/test_history_sharing.py
Labels: kind/bug, kind/enhancement, area/UI-UX, kind/refactoring

#17299 Improve ModelManager type hints
  lib/galaxy/managers/base.py
Labels: kind/refactoring, area/backend

#17293 Fix any type for tool_data_file_path
  client/src/api/schema/schema.ts
  lib/galaxy/webapps/galaxy/api/tool_data.py
Labels: kind/enhancement, area/API

#17301 Package tests fixes
  .github/workflows/test_galaxy_packages.yaml
  packages/test.sh
  test/unit/app/jobs/test_expression_run.py
  test/unit/app/tools/test_expression_basics.py
Labels: kind/bug, area/testing, area/packaging

#17302 Follow-up on #17274 and #17262
  lib/galaxy/authnz/managers.py
  lib/galaxy/config/sample/oidc_backends_config.xml.sample
  lib/galaxy/util/__init__.py
  pyproject.toml
Labels: kind/bug, area/util, area/auth

#17304 Scoped Store Refactor and Store Composition Refactor
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/WorkflowGraph.vue
  client/src/components/Workflow/Published/WorkflowPublished.vue
  client/src/stores/scopedStore.ts
  client/src/stores/workflowConnectionStore.ts
  client/src/stores/workflowEditorCommentStore.ts
  client/src/stores/workflowEditorStateStore.ts
  client/src/stores/workflowEditorToolbarStore.ts
  client/src/stores/workflowStepStore.ts
Labels: area/UI-UX, kind/refactoring

#17268 [23.1] Always copy datasets in collection builder modals
  client/src/components/Collections/ListCollectionCreatorModal.js
  client/src/components/Collections/PairCollectionCreatorModal.js
  client/src/components/Collections/PairedListCollectionCreatorModal.js
  client/src/components/Collections/RuleBasedCollectionCreatorModal.js
  client/src/components/History/adapters/buildCollectionModal.js
  lib/galaxy_test/selenium/test_collection_builders.py
  lib/galaxy_test/selenium/test_collection_edit.py
  lib/galaxy_test/selenium/test_uploads.py
Labels: kind/bug, area/UI-UX, area/dataset-collections

#17242 Allow job files to consume TUS uploads
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/webapps/galaxy/api/job_files.py
  lib/galaxy/webapps/galaxy/buildapp.py
  test/integration/test_job_files.py
  test/integration/test_job_files_tus.py
Labels: area/testing, area/API, area/testing/integration

#17312 [23.2] Rollback invalidated transaction: catch them earlier
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/pulsar.py
Labels: kind/bug, area/jobs, area/database

#17297 Make Workflow Editor Toolbar Toggleable
  client/src/components/Workflow/Editor/Tools/ToolBar.vue
  client/src/stores/workflowEditorToolbarStore.ts
Labels: kind/enhancement, area/UI-UX

#17309 [23.2] Install newer celery on python 3.8+
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: kind/bug, area/dependencies

#17315 [23.2] Backport Rollback invalidated transaction: catch them earlier
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/pulsar.py
Labels: kind/bug, area/database

#17319 [23.2] Scope session for job runner monitor loop
  lib/galaxy/jobs/runners/__init__.py
Labels: kind/bug, area/database

#15238 [23.2] Enable job resubmissions in k8s runner
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/util/pykube_util.py
Labels: kind/enhancement, kind/refactoring, area/jobs, area/kubernetes-runner

#17323 Revert "[23.1] Enable job resubmissions in k8s runner"
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/util/pykube_util.py
Labels: area/jobs, area/dependencies, area/auth

#17298 Adjust Flex Panel Drag Handle and Collapse Button
  client/src/components/Panels/FlexPanel.vue
Labels: kind/bug, kind/enhancement, area/UI-UX

#17238 Add accepted extensions to form data input
  client/src/components/Form/Elements/FormData/FormData.vue
  client/src/components/Form/Elements/FormData/types.ts
  client/src/components/Form/Elements/FormSelect.vue
  client/src/components/Form/FormElement.vue
  client/src/utils/strings.ts
Labels: area/UI-UX, kind/feature

#17228 Overhaul Galaxy Markdown Help
  client/src/components/Markdown/DirectiveHelp.vue
  client/src/components/Markdown/DirectiveHelpSection.vue
  client/src/components/Markdown/MarkdownEditor.vue
  client/src/components/Markdown/MarkdownHelp.vue
  client/src/components/Markdown/MarkdownHelpModal.vue
  client/src/components/Markdown/directives.yml
  client/src/components/Markdown/help.js
  client/src/components/PageEditor/PageEditorMarkdown.vue
  client/src/components/Workflow/Editor/Index.vue
Labels: kind/bug, kind/enhancement, area/workflows, area/pages

#17322 Document SQLAlchemy session lifespan
  doc/source/dev/database_session_management.md
  doc/source/dev/index.rst
Labels: area/documentation, area/database

#17326 [23.2] Improve Embed Performance
  client/src/entry/analysis/App.vue
Labels: kind/bug, kind/enhancement, area/UI-UX

#17327 add documentation for data source tool
  doc/source/dev/data_source.rst
Labels: area/documentation

#17330 [23.2] Fix Subworkflow Edit Button
  client/src/components/Workflow/Editor/Index.vue
  client/src/entry/analysis/modules/WorkflowEditor.vue
Labels: kind/bug, area/UI-UX

#16796 Add support for Python 3.12
  .github/workflows/first_startup.yaml
  .github/workflows/lint.yaml
  .github/workflows/lint_openapi_schema.yml
  .github/workflows/osx_startup.yaml
  .github/workflows/reports_startup.yaml
  .github/workflows/test_galaxy_packages.yaml
  .github/workflows/toolshed.yaml
  .github/workflows/unit.yaml
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/dependencies/pinned-typecheck-requirements.txt
  lib/galaxy/dependencies/update.sh
  lib/galaxy/dependencies/update_lint_requirements.sh
  lib/galaxy/files/sources/invenio.py
  lib/galaxy/util/resources.py
  packages/app/setup.cfg
  packages/auth/setup.cfg
  packages/config/setup.cfg
  packages/data/setup.cfg
  packages/files/setup.cfg
  packages/job_execution/setup.cfg
  packages/job_metrics/setup.cfg
  packages/meta/setup.cfg
  packages/navigation/setup.cfg
  packages/objectstore/setup.cfg
  packages/schema/setup.cfg
  packages/selenium/setup.cfg
  packages/test_api/setup.cfg
  packages/test_base/setup.cfg
  packages/test_driver/setup.cfg
  packages/test_selenium/setup.cfg
  packages/tool_shed/setup.cfg
  packages/tool_util/setup.cfg
  packages/tours/setup.cfg
  packages/util/setup.cfg
  packages/web_apps/setup.cfg
  packages/web_framework/setup.cfg
  packages/web_stack/setup.cfg
  pyproject.toml
  test/unit/util/test_fill_template.py
Labels: kind/feature, area/dependencies, area/python3, area/packaging

#17335 Fix quotas ID encoding
  lib/galaxy/quota/_schema.py
  lib/galaxy/webapps/galaxy/services/quotas.py
  test/integration/test_quota.py
Labels: kind/bug, area/API

#17337 [23.1] Disable tag editing on non-owned Pages
  client/src/components/Page/PageList.test.js
  client/src/components/Page/PageList.vue
Labels: area/UI-UX

#17259 [23.2] Initial release notes for 23.2
  doc/source/releases/23.2.rst
  doc/source/releases/23.2_announce.rst
  doc/source/releases/23.2_announce_user.rst
  doc/source/releases/23.2_prs.rst
  doc/source/releases/24.0_announce.rst
  doc/source/releases/images/23.2-pub-wf-sharing.png
  doc/source/releases/images/23.2-wf-comments-1.png
  doc/source/releases/images/23.2-wf-comments-2.png
  doc/source/releases/images/23.2-wf-pub-iframe.png
  doc/source/releases/index.rst
Labels: area/documentation, kind/feature

#17340 Fixes for flake8-bugbear 24.1.17
  .ci/flake8_ignorelist.txt
  .gitignore
  lib/galaxy/managers/hdas.py
  lib/galaxy/managers/histories.py
  lib/galaxy/tool_shed/tools/data_table_manager.py
  lib/galaxy/tool_shed/util/utility_container_manager.py
  lib/galaxy/tool_util/data/__init__.py
  lib/galaxy/tool_util/toolbox/base.py
  lib/galaxy/tool_util/toolbox/watcher.py
  lib/galaxy/util/submodules.py
  lib/galaxy/util/topsort.py
  lib/galaxy/util/xml_macros.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
  test/unit/app/test_galaxy_install.py
Labels: kind/bug, area/testing, area/tool-framework, area/util

#17342 [23.2] Use python-isal for fast zip deflate compression in rocrate export
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/model/store/__init__.py
  lib/galaxy/util/compression_utils.py
  packages/data/setup.cfg
  packages/files/setup.cfg
  pyproject.toml
Labels: kind/enhancement, area/performance

#17343 Merge 23.1 into 23.2
  client/src/components/Page/PageList.test.js
  client/src/components/Page/PageList.vue
Labels: merge

#17344 [23.2] Ensure release notes include all PRs added during the freeze by re-running the release note bootstrapping
  doc/source/releases/23.2.rst
  doc/source/releases/23.2_announce_user.rst
  doc/source/releases/23.2_prs.rst
  doc/source/releases/24.0_announce.rst
Labels: area/documentation, kind/refactoring

#17318 Port HistoryPanel component to composition API and typescript
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/HistoryView.test.js
  client/src/components/History/HistoryView.vue
  client/src/stores/historyItemsStore.ts
Labels: area/UI-UX, kind/refactoring

#17341 [23.2] make release titles consistent
  doc/source/releases/23.0_announce.rst
  doc/source/releases/23.0_announce_user.rst
  doc/source/releases/23.1_announce.rst
  doc/source/releases/23.1_announce_user.rst
  doc/source/releases/23.2_announce.rst
  doc/source/releases/23.2_announce_user.rst
  doc/source/releases/24.0_announce.rst
Labels: kind/enhancement, area/documentation

#17345 Merge 23.2 into dev
  client/src/components/Page/PageList.test.js
  client/src/components/Page/PageList.vue
  client/src/components/Workflow/Editor/Index.vue
  client/src/entry/analysis/App.vue
  client/src/entry/analysis/modules/WorkflowEditor.vue
  doc/source/releases/23.2.rst
  doc/source/releases/23.2_announce.rst
  doc/source/releases/23.2_announce_user.rst
  doc/source/releases/23.2_prs.rst
  doc/source/releases/24.0_announce.rst
  doc/source/releases/images/23.2-pub-wf-sharing.png
  doc/source/releases/images/23.2-wf-comments-1.png
  doc/source/releases/images/23.2-wf-comments-2.png
  doc/source/releases/images/23.2-wf-pub-iframe.png
  doc/source/releases/index.rst
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/model/store/__init__.py
  lib/galaxy/util/compression_utils.py
  packages/data/setup.cfg
  packages/files/setup.cfg
  pyproject.toml
Labels: area/documentation, area/jobs, merge, area/database, area/util, area/dependencies, area/auth, area/packaging

#17359 Escape pipe character in tool XSD docs
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: kind/bug, area/documentation, area/tool-framework

#17361 Remove unused statements in job search function
  lib/galaxy/managers/jobs.py
Labels: kind/bug, kind/refactoring, area/database

#17356 Convert entryPointStore to composition API + TS
  client/src/stores/entryPointStore.js
  client/src/stores/entryPointStore.test.js
  client/src/stores/entryPointStore.ts
Labels: area/UI-UX, kind/refactoring

#17364 XSD schema doc building: quote pipe characters in attribute tables
  doc/parse_gx_xsd.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/documentation

#17352 [23.2] Always store multi select data input values in fixed order
  client/src/components/Form/Elements/FormData/FormData.test.js
  client/src/components/Form/Elements/FormData/FormData.vue
Labels: kind/bug, area/UI-UX

#17376 Add explicit cache_ok attribute to JSONType subclass
  lib/galaxy/model/custom_types.py
Labels: kind/refactoring, area/database

#17383 [23.2] Add latest PRs to release
  doc/source/releases/23.2.rst
  doc/source/releases/23.2_prs.rst
Labels: kind/enhancement, area/documentation

#17382 [23.2] Fix the purge historyless HDAs pgcleanup action
  scripts/cleanup_datasets/pgcleanup.py
Labels: kind/bug, area/scripts

#17386 [23.2] Drop empty section
  doc/source/releases/23.2_announce.rst
Labels: kind/bug, area/documentation

#17387 Merge 23.2 into dev (minor release notes edit)
  doc/source/releases/23.2_announce.rst
Labels: area/documentation, merge

#17349 [23.2] Fix notification badge delay
  client/src/stores/notificationsStore.ts
Labels: kind/bug, area/UI-UX

#17348 Remove remaining Vuex stores and dependencies
  client/docs/readme.md
  client/package.json
  client/src/bundleEntries.js
  client/src/components/History/README.md
  client/src/components/Markdown/Markdown.vue
  client/src/components/Nametags/Nametag.vue
  client/src/components/Nametags/Nametags.vue
  client/src/components/Nametags/index.js
  client/src/components/Tags/Tags.test.js
  client/src/components/Tags/Tags.vue
  client/src/components/Tags/__mocks__/tagService.js
  client/src/components/Tags/backboneTagService.js
  client/src/components/Tags/index.js
  client/src/components/Tags/mounts.js
  client/src/components/Tags/tagService.js
  client/src/components/Tags/tagService.test.js
  client/src/components/Tags/testData/autocompleteResponse.txt
  client/src/components/providers/storeProviders.js
  client/src/entry/analysis/index.ts
  client/src/mvc/grid/grid-view.js
  client/src/store/gridSearchStore.js
  client/src/store/gridSearchStore.test.js
  client/src/store/historyStore/model/watchHistory.js
  client/src/store/index.js
  client/src/store/syncVuextoGalaxy.js
  client/src/store/tagStore.js
  client/src/store/tagStore.test.js
  client/src/utils/data.js
  client/src/utils/mountVueComponent.js
  client/tests/jest/helpers.js
  client/yarn.lock
Labels: kind/refactoring, area/client

#17385 Fix minor oidc_backends_config comment bug
  lib/galaxy/config/sample/oidc_backends_config.xml.sample
Labels: kind/bug, area/configuration

#17338 [23.2] Fix upload modal loses its content when closed
  client/src/components/Upload/DefaultBox.vue
  client/src/components/Upload/UploadContainer.vue
  client/src/components/Upload/UploadModal.vue
  lib/galaxy_test/selenium/test_uploads.py
Labels: kind/bug, area/UI-UX

#17282 Adds delete, purge and undelete batch operations to History Grid
  client/src/api/histories.ts
  client/src/api/schema/schema.ts
  client/src/components/Grid/GridList.vue
  client/src/components/Grid/configs/histories.ts
  client/src/components/Grid/configs/types.ts
  lib/galaxy/managers/histories.py
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy_test/selenium/test_histories_list.py
Labels: kind/enhancement, area/UI-UX

#17381 More specific type annotation for ``BaseJobExec.parse_status()``
  lib/galaxy/jobs/runners/util/cli/job/__init__.py
  lib/galaxy/jobs/runners/util/cli/job/torque.py
  lib/galaxy/model/__init__.py
Labels: kind/bug, kind/refactoring, area/jobs, area/database

#17400 [23.2] Respect ``upstream_gzip`` setting when streaming dataset collection archive
  lib/galaxy/webapps/galaxy/services/history_contents.py
Labels: kind/bug, area/API, area/performance

#17392 Fix activity-settings hidden behind left side panel bug
  client/src/components/Common/ContextMenu.vue
Labels: kind/bug, area/UI-UX

#17395 [23.2] Ignore empty lines in packages_by_dep_dag file when building packages
  packages/build_packages.sh
Labels: kind/bug, area/scripts

#17402 Update current version to 24.0.dev0
  Makefile
  lib/galaxy/version.py
Labels: kind/refactoring, area/scripts

#17404 [23.0] Fix uploading of docs for release_NN.N branches
  .github/workflows/docs.yaml
Labels: kind/bug, area/documentation

#17407 Merge 23.2 into dev
  client/src/components/Upload/DefaultBox.vue
  client/src/components/Upload/UploadContainer.vue
  client/src/components/Upload/UploadModal.vue
  client/src/stores/notificationsStore.ts
  lib/galaxy/webapps/galaxy/services/history_contents.py
  lib/galaxy_test/selenium/test_uploads.py
  packages/build_packages.sh
Labels: area/testing, merge, area/testing/selenium, area/packaging
