Repository galaxyproject/galaxy, pull requests merged in 2024-08, with the labels that each got.

#18634 [24.1] Improve relabel identifiers message when number of columns is not 2
  lib/galaxy/tools/__init__.py
Labels: kind/bug, area/tools

#18608 Fixes for errors reported by mypy 1.11.0
  lib/galaxy/authnz/__init__.py
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/job_execution/setup.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/runners/aws.py
  lib/galaxy/managers/base.py
  lib/galaxy/managers/configuration.py
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/hdas.py
  lib/galaxy/managers/histories.py
  lib/galaxy/managers/rbac_secured.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/deferred.py
  lib/galaxy/model/mapping.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/_caching_base.py
  lib/galaxy/objectstore/irods.py
  lib/galaxy/objectstore/pithos.py
  lib/galaxy/objectstore/pulsar.py
  lib/galaxy/objectstore/rucio.py
  lib/galaxy/selenium/cli.py
  lib/galaxy/tool_shed/galaxy_install/metadata/installed_repository_metadata_manager.py
  lib/galaxy/tool_util/deps/resolvers/tool_shed_packages.py
  lib/galaxy/tool_util/toolbox/base.py
  lib/galaxy/tool_util/toolbox/panel.py
  lib/galaxy/tool_util/unittest_utils/parameters.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/error_reports/plugins/__init__.py
  lib/galaxy/tools/error_reports/plugins/slack.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/grouping.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/dictifiable.py
  lib/galaxy/util/odict.py
  lib/galaxy/visualization/data_providers/basic.py
  lib/galaxy/visualization/data_providers/genome.py
  lib/galaxy_test/driver/driver_util.py
  lib/galaxy_test/selenium/test_workflow_editor.py
  lib/tool_shed/metadata/repository_metadata_manager.py
  lib/tool_shed/test/base/driver.py
  test/unit/app/authnz/test_custos_authnz.py
  test/unit/app/tools/test_metadata.py
  test/unit/tool_util/test_parameter_specification.py
  test/unit/webapps/test_service_base.py
Labels: area/testing, area/tool-framework, area/util, area/dependencies, area/objectstore, area/testing/selenium

#18594 [24.1] Include workflow invocation id in exception logs
  lib/galaxy/schema/invocation.py
  lib/galaxy/workflow/run.py
Labels: kind/bug, kind/enhancement, area/workflows

#18586 Improve typing for archived histories API schema
  client/src/api/schema/schema.ts
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/services/histories.py
Labels: kind/enhancement, area/API

#18614 [24.1] Fix invocation view steps scroll bug
  client/src/components/Workflow/Invocation/Graph/InvocationGraph.vue
  client/src/components/Workflow/Invocation/Graph/WorkflowInvocationSteps.vue
Labels: kind/bug, area/UI-UX

#18631 Remove unused functions in dataset managers
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/histories.py
  test/unit/app/managers/test_DatasetManager.py
  test/unit/app/managers/test_HistoryManager.py
Labels: kind/refactoring, area/backend

#18632 Reduce unnecessary requests when browsing tool repositories in Admin Panel
  client/src/components/Toolshed/RepositoryDetails/Index.vue
  client/src/components/Toolshed/RepositoryDetails/InstallationActions.vue
  client/src/composables/resourceWatcher.ts
Labels: kind/enhancement, area/UI-UX

#18488 Refactor FolderTopBar to TypeScript
  client/src/components/Libraries/LibraryFolder/LibraryFolder.vue
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
  client/src/components/Libraries/icons.js
Labels: kind/enhancement, area/UI-UX

#18640 [24.1] Fix resume_paused_jobs if no session provided
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: kind/bug, area/API

#18644 Bug fix for invalid duplicate id in function test tools.
  test/functional/tools/parameters/gx_int_optional.xml
Labels: kind/bug, area/tool-framework

#18629 [24.0] Close install model session when request ends
  lib/galaxy/web/framework/base.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/tool_shed/webapp/api2/__init__.py
Labels: kind/bug, area/API, area/database

#18643 Handle output parsing when tool is not available for tool-centric API.
  lib/galaxy/tool_util/parser/output_models.py
  lib/galaxy/tool_util/parser/xml.py
  test/unit/tool_util/test_output_models.py
Labels: kind/bug, area/tool-framework

#18595 Enable verbatimModuleSyntax, fix jest usage
  client/package.json
  client/src/onload/getRootFromIndexLink.ts
  client/tests/jest/jest.config.js
  client/tsconfig.json
  client/yarn.lock
Labels: area/client

#18645 Improve types around User in schema and client
  client/src/api/index.test.ts
  client/src/api/index.ts
  client/src/api/schema/schema.ts
  client/src/api/workflows.ts
  client/src/components/DatasetInformation/DatasetError.test.ts
  client/src/components/History/CurrentHistory/HistoryMessages.vue
  client/src/components/History/HistoryView.test.js
  client/src/components/History/Multiple/MultipleView.test.js
  client/src/components/JobDestinationParams/JobDestinationParams.test.ts
  client/src/components/Masthead/Masthead.test.js
  client/src/components/Masthead/QuotaMeter.test.ts
  client/src/components/Masthead/QuotaMeter.vue
  client/src/components/User/DiskUsage/DiskUsageSummary.test.ts
  client/src/components/Workflow/List/WorkflowActions.vue
  client/src/components/Workflow/List/WorkflowActionsExtend.vue
  client/src/components/Workflow/List/WorkflowCard.vue
  client/src/components/Workflow/List/WorkflowIndicators.vue
  client/src/components/Workflow/List/WorkflowList.test.ts
  client/src/components/Workflow/List/WorkflowList.vue
  client/src/components/Workflow/Published/WorkflowInformation.vue
  client/src/components/Workflow/Published/WorkflowPublished.vue
  client/src/components/Workflow/Run/WorkflowRun.vue
  client/src/components/Workflow/workflows.services.ts
  client/src/composables/hashedUserId.ts
  client/src/composables/userLocalStorage.ts
  client/src/stores/userStore.ts
  client/tests/test-data/index.ts
  lib/galaxy/schema/schema.py
Labels: kind/enhancement, area/UI-UX, kind/refactoring, area/API

#18647 Rip repository_registry out of tool shed 2.0
  lib/galaxy/exceptions/__init__.py
  lib/galaxy/exceptions/error_codes.json
  lib/tool_shed/managers/categories.py
  lib/tool_shed/managers/tools.py
  lib/tool_shed/repository_registry.py
  lib/tool_shed/structured_app.py
  lib/tool_shed/util/repository_util.py
  lib/tool_shed/webapp/app.py
  lib/tool_shed/webapp/buildapp.py
  lib/tool_shed/webapp/config.py
  lib/tool_shed/webapp/fast_app.py
  lib/tool_shed/webapp/model/__init__.py
  test/unit/tool_shed/_util.py
  test/unit/tool_shed/test_graphql.py
  test/unit/tool_shed/test_repository_utils.py
Labels: kind/bug, kind/enhancement, area/toolshed, area/performance

#18626 Better Typing for Tool Execution Plumbing
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/histories.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/data_manager.py
  lib/galaxy/tools/actions/history_imp_exp.py
  lib/galaxy/tools/actions/metadata.py
  lib/galaxy/tools/actions/model_operations.py
  lib/galaxy/tools/actions/upload.py
  lib/galaxy/tools/execute.py
  lib/galaxy/tools/execution_helpers.py
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/api/test_tools.py
  test/unit/app/tools/test_actions.py
Labels: kind/refactoring, area/testing, area/workflows, area/tool-framework

#18548 Undo stack UI
  client/src/components/UndoRedo/UndoRedoStack.vue
  client/src/components/Workflow/Editor/Actions/commentActions.ts
  client/src/components/Workflow/Editor/Actions/stepActions.ts
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Options.vue
  client/src/composables/math.ts
  client/src/stores/undoRedoStore/index.ts
  client/src/stores/undoRedoStore/undoRedoAction.ts
  client/src/stores/workflowEditorCommentStore.ts
Labels: kind/enhancement, area/UI-UX

#18581 Restore interactive tools watcher
  client/src/entry/analysis/App.vue
Labels: kind/bug, area/UI-UX

#18641 Parameter Model Improvements
  lib/galaxy/tool_util/parameters/factory.py
  lib/galaxy/tool_util/parameters/models.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/unittest_utils/parameters.py
  lib/galaxy/tool_util/verify/__init__.py
  lib/galaxy/tool_util/verify/_types.py
  lib/galaxy/tool_util/verify/asserts/json.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tool_util/verify/script.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy_test/api/test_tools.py
  lib/tool_shed/webapp/frontend/src/schema/schema.ts
  test/functional/tools/multiple_versions_changes_v01.xml
  test/functional/tools/multiple_versions_changes_v02.xml
  test/functional/tools/multiple_versions_v01galaxy6.xml
  test/functional/tools/parameters/gx_conditional_select.xml
  test/functional/tools/parameters/gx_data_column.xml
  test/functional/tools/parameters/gx_drill_down_exact.xml
  test/functional/tools/parameters/gx_drill_down_exact_multiple.xml
  test/functional/tools/parameters/gx_drill_down_exact_with_selection.xml
  test/functional/tools/parameters/gx_drill_down_recurse.xml
  test/functional/tools/parameters/gx_drill_down_recurse_multiple.xml
  test/functional/tools/parameters/gx_repeat_boolean_min.xml
  test/functional/tools/parameters/gx_select.xml
  test/functional/tools/parameters/macros.xml
  test/unit/tool_util/parameter_specification.yml
  test/unit/tool_util/test_parameter_specification.py
Labels: area/testing, area/tool-framework, area/testing/api

#18552 [24.1] Update h5web
  config/plugins/visualizations/h5web/package.json
  lib/galaxy_test/selenium/test_visualizations.py
  test/functional/tools/sample_datatypes_conf.xml
Labels: area/visualizations

#18653 [24.0] Don't set file size to zero
  lib/galaxy/model/__init__.py
  lib/galaxy_test/api/test_datasets.py
Labels: kind/bug, area/API

#18613 [PROCEDURES] Add Alireza to committers group
  doc/source/project/organization.rst
Labels: procedures, area/documentation

#18656 [23.2] Strip whitespace when listifying admin users
  lib/galaxy/config/__init__.py
Labels: kind/bug, area/configuration

#18661 [24.1] Fix extract workflow from history when implicit collection has no jobs
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  lib/galaxy/workflow/extract.py
  lib/galaxy_test/api/test_workflow_extraction.py
Labels: kind/bug, area/API, area/workflows

#18663 [24.1] Optimize `useInvocationGraph` for Invocation view
  client/src/composables/useInvocationGraph.ts
Labels: kind/bug, area/UI-UX, area/workflows, area/performance

#18657 [24.0] Improve workflow creating/saving UX
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Options.vue
  client/src/entry/analysis/App.vue
Labels: kind/bug, kind/enhancement, area/UI-UX

#18659 [24.1] Fix export_remote include/exclude metadata flag
  tools/data_export/export_remote.py
  tools/data_export/export_remote.xml
Labels: kind/bug, area/tools

#18669 [24.0] Remove unnecessary assert for file_size
  test/integration/objectstore/_purged_handling.py
Labels: kind/bug, area/testing

#18668 Improve accept header API schema
  client/src/api/schema/schema.ts
  lib/galaxy/schema/fields.py
  lib/galaxy/webapps/galaxy/api/histories.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
Labels: kind/enhancement, kind/refactoring, area/API

#18635 [24.1] Fix h5ad metadata
  lib/galaxy/datatypes/binary.py
Labels: area/datatypes

#18673 Another round of parameter model improvements.
  lib/galaxy/tool_util/parameters/factory.py
  lib/galaxy/tool_util/parameters/models.py
  lib/galaxy/tool_util/unittest_utils/parameters.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy_test/api/test_tools.py
  lib/tool_shed/webapp/frontend/src/schema/schema.ts
  test/functional/tools/discover_sort_by.xml
  test/functional/tools/discover_sort_by_legacy_test.xml
  test/functional/tools/empty_select.xml
  test/functional/tools/galaxy_json_discover_and_sleep.xml
  test/functional/tools/multiple_versions_v01.xml
  test/functional/tools/multiple_versions_v02.xml
  test/functional/tools/parameters/gx_directory_uri.xml
  test/functional/tools/parameters/gx_genomebuild.xml
  test/functional/tools/parameters/gx_genomebuild_multiple.xml
  test/functional/tools/parameters/gx_genomebuild_optional.xml
  test/functional/tools/parameters/gx_group_tag.xml
  test/functional/tools/parameters/gx_int_required.xml
  test/functional/tools/parameters/gx_int_required_via_empty_string.xml
  test/functional/tools/parameters/gx_select.xml
  test/unit/tool_util/framework_tool_checks.yml
  test/unit/tool_util/parameter_specification.yml
  test/unit/tool_util/test_parameter_specification.py
  tools/data_source/upload.xml
Labels: kind/enhancement, area/tool-framework

#18676 De-couple XML from tool interface for test collections.
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tool_util/verify/parse.py
Labels: kind/refactoring, area/tool-framework

#18672 [24.1] Return error when following a link to a non-ready display application
  lib/galaxy/webapps/galaxy/controllers/dataset.py
Labels: kind/bug, area/API

#18686 Update mercurial
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: kind/bug, area/dependencies

#18685 [24.1] File source and object store instance api fixes
  client/src/api/schema/schema.ts
  lib/galaxy/exceptions/__init__.py
  lib/galaxy/exceptions/error_codes.json
  lib/galaxy/managers/file_source_instances.py
  lib/galaxy/managers/object_store_instances.py
  lib/galaxy/webapps/galaxy/api/__init__.py
  lib/galaxy/webapps/galaxy/api/file_sources.py
  lib/galaxy/webapps/galaxy/api/object_store.py
Labels: kind/bug, area/API

#18687 [24.0] Fix import all datasets from library folder
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
  client/src/components/Libraries/LibraryFolder/services.js
Labels: area/UI-UX

#18681 [24.0] Make sure we set file size also for purged outputs
  lib/galaxy/jobs/__init__.py
  lib/galaxy/model/store/__init__.py
Labels: kind/bug, area/database

#18694 [24.1] Fix sorting users in admin by last login
  lib/galaxy/webapps/galaxy/controllers/admin.py
Labels: kind/bug, area/admin, area/database

#18691 [24.1] Fix change datatype PJA on expression tool data outputs
  lib/galaxy/celery/tasks.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy_test/api/test_workflows.py
Labels: area/testing, area/jobs, area/database, area/tool-framework, area/testing/api

#18703 [24.1] Fix upload when current history changes
  client/src/components/Upload/DefaultBox.vue
  client/src/components/Upload/UploadModal.vue
  client/src/composables/userHistories.js
  client/src/utils/upload-queue.js
  client/src/utils/upload-queue.test.js
Labels: kind/bug, area/UI-UX

#18706 Update ExportToRemoteModal.vue to use TypeScript
  client/src/components/Workflow/Invocation/Export/ExportToRemoteModal.vue
Labels: area/UI-UX, kind/refactoring

#16894 Fix "Latest Updates" order in tool shed 2.0
  lib/tool_shed/webapp/frontend/package.json
  lib/tool_shed/webapp/frontend/src/components/RecentlyCreatedRepositories.vue
  lib/tool_shed/webapp/frontend/src/components/RepositoriesGrid.vue
  lib/tool_shed/webapp/frontend/src/components/RepositoryCreation.vue
  lib/tool_shed/webapp/frontend/src/gql/gql.ts
  lib/tool_shed/webapp/frontend/src/gql/graphql.ts
  lib/tool_shed/webapp/frontend/src/gqlFragements.ts
Labels: kind/bug, area/toolshed

#18708 Replace types-pkg-resources with types-setuptools
  lib/galaxy/dependencies/pinned-typecheck-requirements.txt
  pyproject.toml
Labels: kind/bug, area/dependencies

#18714 Fix library upload with tags
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy_test/api/test_tags.py
  lib/galaxy_test/base/populators.py
Labels: kind/bug, area/API

#18716 Update ruff to 0.6.1
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy_test/selenium/jupyter/notebook_example_testing.ipynb
  test-data/selenium-test-notebook.ipynb
Labels: kind/bug, area/testing, area/dependencies, area/testing/selenium

#18720 [24.1] Fix output hover for workflow parameter outputs
  client/src/components/Workflow/Editor/NodeOutput.vue
Labels: kind/bug, area/workflows

#18698 [24.1] Fill in missing help for cross product tools.
  lib/galaxy/tools/cross_product_flat.xml
  lib/galaxy/tools/cross_product_nested.xml
  lib/galaxy/tools/model_operation_macros.xml
  static/images/tools/collection_ops/dot_product.png
  static/images/tools/collection_ops/flat_cross_product_downstream.png
  static/images/tools/collection_ops/flat_cross_product_matched.png
  static/images/tools/collection_ops/flat_cross_product_outputs.png
  static/images/tools/collection_ops/flat_crossproduct_output.png
  static/images/tools/collection_ops/flat_crossproduct_separator.png
  static/images/tools/collection_ops/nested_cross_product_matching.png
  static/images/tools/collection_ops/nested_cross_product_out_1.png
  static/images/tools/collection_ops/nested_cross_product_out_2.png
  static/images/tools/collection_ops/nested_cross_product_output.png
  static/images/tools/collection_ops/nested_crossproduct_output.png
Labels: area/tool-framework

#18726 [24.1] Add error handling in `WorkflowInvocationState`
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
Labels: kind/bug, area/UI-UX, area/workflows

#18707 Allow access to invocation via shared or published history
  lib/galaxy/managers/base.py
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/webapps/galaxy/services/invocations.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/enhancement, area/API, area/workflows, area/histories, area/sharing

#18678 Another round of parameter model enhancements and tool tests
  lib/galaxy/tool_util/parameters/factory.py
  lib/galaxy/tool_util/parameters/models.py
  lib/tool_shed/webapp/frontend/src/schema/schema.ts
  test/functional/tools/parameters/data_column_multiple_optional.xml
  test/functional/tools/parameters/gx_data_column_multiple.xml
  test/functional/tools/parameters/gx_data_column_optional.xml
  test/functional/tools/parameters/gx_group_tag_multiple.xml
  test/functional/tools/parameters/gx_group_tag_optional.xml
  test/functional/tools/parameters/gx_select_multiple.xml
  test/functional/tools/parameters/gx_select_multiple_optional.xml
  test/unit/tool_util/parameter_specification.yml
Labels: kind/enhancement, area/tool-framework

#18731 [24.1] Fix subworkflow scheduling for delayed subworkflow steps connected to data inputs
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/bug, area/workflows

#18679 Dynamic Models for Tool Test Validation
  doc/source/dev/tool_state_state_classes.plantuml.svg
  lib/galaxy/tool_util/parameters/__init__.py
  lib/galaxy/tool_util/parameters/_types.py
  lib/galaxy/tool_util/parameters/case.py
  lib/galaxy/tool_util/parameters/factory.py
  lib/galaxy/tool_util/parameters/models.py
  lib/galaxy/tool_util/parameters/scripts/__init__.py
  lib/galaxy/tool_util/parameters/scripts/validate_test_cases.py
  lib/galaxy/tool_util/parameters/state.py
  lib/galaxy/tool_util/parameters/visitor.py
  lib/galaxy/tool_util/parser/factory.py
  lib/galaxy/tool_util/unittest_utils/__init__.py
  lib/galaxy/tool_util/verify/parse.py
  lib/tool_shed/webapp/frontend/src/schema/schema.ts
  packages/tool_util/setup.cfg
  test/functional/tools/deprecated/simple_constructs_24_2.xml
  test/functional/tools/section_24_2.xml
  test/unit/tool_util/parameter_specification.yml
  test/unit/tool_util/test_parameter_specification.py
  test/unit/tool_util/test_parameter_test_cases.py
  test/unit/tool_util/test_test_definition_parsing.py
Labels: kind/enhancement, area/tool-framework

#18735 [24.1] Fix invocation grid selenium that fails intermittently
  lib/galaxy_test/selenium/test_invocation_grid.py
Labels: kind/bug, area/testing/selenium

#18733 [24.1] Fix resume paused jobs response handling
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: area/UI-UX, area/testing, area/workflows, area/tool-framework, area/testing/api

#18734 [24.1] Catch and display exceptions when importing malformatted yaml workflows
  lib/galaxy/managers/workflows.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/bug, area/API, area/workflows

#18738 [24.1] Fix datatype validation of newly built collection
  client/src/api/schema/schema.ts
  client/src/stores/collectionElementsStore.test.ts
  lib/galaxy/schema/schema.py
Labels: kind/bug, area/UI-UX, area/API

#18730 [24.1] Handle error when workflow is unowned in Invocation view
  client/src/api/invocations.ts
  client/src/api/schema/schema.ts
  client/src/components/Help/terms.yml
  client/src/components/WorkflowInvocationState/InvocationMessage.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationHeader.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationOverview.test.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationOverview.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/components/WorkflowInvocationState/WorkflowStepTitle.vue
  client/src/components/WorkflowInvocationState/invocationMessageModel.ts
  client/src/composables/useWorkflowInstance.ts
  client/src/stores/workflowStore.ts
  lib/galaxy/schema/invocation.py
Labels: kind/bug, area/UI-UX, area/workflows

#18728 Implement tool upgrade assistant.
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/upgrade/__init__.py
  lib/galaxy/tool_util/upgrade/script.py
  lib/galaxy/tool_util/upgrade/upgrade_codes.json
  lib/galaxy/tool_util/xsd/galaxy.xsd
  packages/tool_util/setup.cfg
  test/functional/tools/legacy_interpreter.xml
  test/functional/tools/legacy_interpreter_write_output.py
  test/functional/tools/output_format_input.xml
  test/functional/tools/sample_tool_conf.xml
  test/unit/tool_util/upgrade/__init__.py
  test/unit/tool_util/upgrade/test_upgrade_advice.py
Labels: kind/enhancement, area/tool-framework

#18689 [24.1] Show items with same `hid` but different `id` in history
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/store/historyStore/model/utilities.js
  client/src/stores/historyItemsStore.ts
Labels: kind/bug, area/UI-UX, area/histories

#18740 Remove Build Dataset Pair option from history actions
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.test.js
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.vue
  lib/galaxy_test/selenium/test_collection_builders.py
Labels: area/UI-UX, kind/refactoring

#18746 Fix workflow invocation accessibility check
  lib/galaxy/managers/workflows.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
Labels: kind/bug, minor, area/API

#18741 [24.0] Fix rules runtime editable
  client/src/components/Workflow/Editor/Forms/FormTool.vue
Labels: kind/bug, area/UI-UX

#18752 [24.1] Fix directory get or create logic
  lib/galaxy/tools/search/__init__.py
Labels: area/tool-framework

#18753 [24.1] Fix scratch storage modal title
  client/src/components/Workflow/Run/WorkflowStorageConfiguration.vue
Labels: kind/bug, area/UI-UX

#18755 Fix new flake8-bugbear B039 and mypy type-var errors
  lib/galaxy/dependencies/pinned-lint-requirements.txt
  lib/galaxy/model/base.py
  lib/galaxy/tool_util/verify/__init__.py
  test/unit/webapps/test_request_scoped_sqlalchemy_sessions.py
Labels: kind/bug, area/testing, area/database, area/tool-framework, area/dependencies

#18754 [24.1] Fix job summary for optional unset job data inputs
  client/src/api/schema/schema.ts
  client/src/components/JobParameters/JobParametersArrayValue.vue
  lib/galaxy/managers/jobs.py
  lib/galaxy/schema/jobs.py
Labels: kind/bug, area/UI-UX, area/API, area/jobs
