Repository galaxyproject/galaxy, pull requests merged in 2024-06, with the labels that each got.

#18296 [24.0] Move tool shed specific driver function to tool_shed.test
  lib/galaxy_test/driver/driver_util.py
  lib/tool_shed/test/base/driver.py
  lib/tool_shed/test/base/test_db_util.py
Labels: kind/bug, area/testing, area/packaging

#18303 [24.1] Fix "label updated" popup triggers too often
  client/src/components/Workflow/Editor/Actions/stepActions.ts
  client/src/stores/undoRedoStore/index.ts
Labels: kind/bug, area/UI-UX

#18299 [24.1] Adds pinia to manually mounted vue components
  client/src/utils/mountVueComponent.js
Labels: kind/bug, area/visualizations

#18307 [24.0] Don't serialize display application links for deleted datasets
  lib/galaxy/managers/hdas.py
Labels: kind/bug, area/UI-UX

#18308 [24.1] Fix non-history items drag&drop into histories
  client/src/api/index.ts
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/Multiple/MultipleViewList.vue
  client/src/stores/eventStore.ts
  client/src/utils/setDrag.ts
Labels: kind/bug, area/UI-UX

#18246 [24.1] Small bug fixes for user data plugins
  client/src/api/schema/schema.ts
  client/src/components/ConfigTemplates/InstanceDropdown.vue
  lib/galaxy/files/templates/examples/testing_multi_version_with_secrets.yml
  lib/galaxy/webapps/galaxy/api/file_sources.py
  lib/galaxy/webapps/galaxy/api/object_store.py
  test/unit/app/managers/test_user_file_sources.py
  test/unit/files/test_template_models.py
Labels: kind/bug, area/objectstore

#18310 [24.1] Backport Qiskit Jupyter Notebook update to 24.1
  tools/interactive/interactivetool_qiskit_jupyter_notebook.xml
Labels: area/UI-UX, area/tools

#18305 [24.1] Adapt Tool prediction API to Transformer-based deep learning architecture
  lib/galaxy/tools/recommendations.py
Labels: kind/bug, area/UI-UX, area/tool-framework

#18309 [24.1] Display error message if not an image in reports
  client/src/components/Dataset/DatasetAsImage/DatasetAsImage.vue
Labels: kind/bug, kind/enhancement, area/UI-UX

#18315 [24.1] Fix pinia in manually mounted components
  client/src/utils/mountVueComponent.js
  config/plugins/webhooks/demo/tour_generator/script.js
  config/plugins/webhooks/demo/tour_generator/tour_generator.js
Labels: kind/bug, area/UI-UX

#18279 [23.1] More fixes for running the TS with external hgweb
  lib/galaxy/web/framework/middleware/error.py
  lib/tool_shed/util/hg_util.py
  lib/tool_shed/util/hgweb_config.py
  lib/tool_shed/util/repository_util.py
  lib/tool_shed/util/shed_index.py
  lib/tool_shed/webapp/api/repositories.py
  lib/tool_shed/webapp/api/tools.py
  lib/tool_shed/webapp/app.py
  lib/tool_shed/webapp/controllers/repository.py
  lib/tool_shed/webapp/model/__init__.py
  scripts/tool_shed/build_ts_whoosh_index.py
  test/unit/shed_unit/test_shed_index.py
Labels: area/scripts

#18320 Merge 23.1 into 23.2
  lib/galaxy/web/framework/middleware/error.py
  lib/tool_shed/managers/repositories.py
  lib/tool_shed/util/hg_util.py
  lib/tool_shed/util/hgweb_config.py
  lib/tool_shed/util/repository_util.py
  lib/tool_shed/util/shed_index.py
  lib/tool_shed/webapp/api/tools.py
  lib/tool_shed/webapp/api2/tools.py
  lib/tool_shed/webapp/app.py
  lib/tool_shed/webapp/controllers/repository.py
  lib/tool_shed/webapp/model/__init__.py
  scripts/tool_shed/build_ts_whoosh_index.py
  test/unit/tool_shed/test_shed_index.py
Labels: area/testing, merge, area/scripts

#18326 [23.2] Fix integration tests
  .github/workflows/integration.yaml
Labels: kind/bug, merge

#18327 [23.2] Fix tool_shed package unit tests
  test/unit/tool_shed/_util.py
Labels: kind/bug, area/testing, merge

#18328 [23.2] Fix one more tool shed unit test
  test/unit/tool_shed/_util.py
Labels: kind/bug, area/testing

#18313 [24.1] Filter data dialog entries by dataset state, only display `ok` state
  client/src/components/DataDialog/DataDialog.vue
  client/src/components/Panels/VisualizationPanel.vue
Labels: kind/bug, area/UI-UX, release-testing-24.1

#18332 [23.1] Make toolshed repo permissions world-readable
  lib/tool_shed/util/repository_util.py
Labels: kind/bug, area/toolshed

#18330 [24.0] Downgrade doi fetch error to debug
  lib/galaxy/managers/citations.py
Labels: kind/bug, area/admin

#18329 [24.0] Fix users API serialization when listing users
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/services/users.py
  test/integration/test_users.py
Labels: kind/bug, area/API

#18324 [24.1] Disable state filter for collections in `HistoryFilters`
  client/src/components/Common/FilterMenu.vue
  client/src/components/Common/FilterMenuDropdown.vue
  client/src/components/Common/FilterMenuInput.vue
  client/src/components/Common/FilterMenuRanged.vue
  client/src/components/History/Content/model/StatesInfo.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/HistoryFilters.js
  client/src/utils/filtering.ts
Labels: kind/bug, area/UI-UX

#18319 [23.2] Skip new history creation if user is anonymous and login is required
  lib/galaxy/webapps/base/webapp.py
Labels: kind/bug, area/admin

#18306 [24.1] Fix word bleeding in modals, sharing page and history rename
  client/src/components/Common/Heading.vue
  client/src/components/Form/_form-elements.scss
  client/src/components/Sharing/EditableUrl.vue
  client/src/style/scss/overrides.scss
Labels: kind/bug, area/UI-UX, release-testing-24.1

#18325 [24.1] rebuild Galaxy config
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
Labels: area/documentation, area/UI-UX, area/admin

#18311 [24.1] Update parcel-built visualizations to use parcel v2
  .github/workflows/build_client.yaml
  .gitignore
  Makefile
  client/gulpfile.js
  config/plugins/visualizations/annotate_image/package.json
  config/plugins/visualizations/annotate_image/src/jq-loader.js
  config/plugins/visualizations/annotate_image/src/script.js
  config/plugins/visualizations/cytoscape/package.json
  config/plugins/visualizations/drawrna/package.json
  config/plugins/visualizations/example/package.json
  config/plugins/visualizations/fits_image_viewer/package.json
  config/plugins/visualizations/h5web/package.json
  config/plugins/visualizations/heatmap/heatmap_default/package.json
  config/plugins/visualizations/jqplot/jqplot_bar/package.json
  config/plugins/visualizations/jqplot/jqplot_bar/static/script.css
  config/plugins/visualizations/msa/package.json
  config/plugins/visualizations/ngl/package.json
  config/plugins/visualizations/nvd3/nvd3_bar/.babelrc
  config/plugins/visualizations/nvd3/nvd3_bar/package.json
  config/plugins/visualizations/nvd3/nvd3_bar/src/nvd3.js
  config/plugins/visualizations/openlayers/package.json
  config/plugins/visualizations/phylocanvas/package.json
  config/plugins/visualizations/pv/package.json
  config/plugins/visualizations/scatterplot/.babelrc
  config/plugins/visualizations/scatterplot/package.json
  config/plugins/visualizations/scatterplot/src/jqglobals.js
  config/plugins/visualizations/scatterplot/src/pagination.js
  config/plugins/visualizations/scatterplot/src/peek-column-selector.js
  config/plugins/visualizations/scatterplot/src/scatterplot.js
  config/plugins/visualizations/scatterplot/static/scatterplot.js
  config/plugins/visualizations/venn/package.json
Labels: area/UI-UX, area/visualizations

#18338 [24.0] Fix seek in slurm memory check
  lib/galaxy/jobs/runners/slurm.py
Labels: kind/bug, area/jobs

#18344 [24.1] Fix typing issue in reused variable
  lib/galaxy/webapps/galaxy/services/users.py
  test/integration/test_users.py
Labels: kind/bug, kind/refactoring, minor, area/API

#18343 [24.1] Fix visualizations compatible dataset filtering
  client/src/components/DataDialog/DataDialog.vue
  client/src/components/Panels/VisualizationPanel.vue
  config/plugins/visualizations/editor/config/editor.xml
Labels: kind/bug, area/UI-UX, area/visualizations

#18333 [24.0] Fix authentication error for anonymous users querying jobs
  lib/galaxy/managers/jobs.py
  lib/galaxy/webapps/galaxy/services/jobs.py
Labels: kind/bug, area/API

#18352 Fix #18316 (anonymous file sources)
  lib/galaxy/files/__init__.py
  lib/galaxy/managers/file_source_instances.py
Labels: kind/bug, minor, area/API, area/objectstore

#18353 [24.1] Merge 24.0 into 24.1
  lib/galaxy/managers/jobs.py
  lib/galaxy/webapps/galaxy/services/jobs.py
Labels: area/UI-UX, merge

#18349 [23.2] Allow DCE as outer input to to_cwl
  lib/galaxy/workflow/modules.py
  test/unit/workflows/test_modules.py
Labels: kind/bug, area/workflows

#18291 [24.1] More structured indexing for user data objects.
  client/src/api/schema/schema.ts
  client/src/components/ConfigTemplates/test_fixtures.ts
  client/src/components/FileSources/Instances/EditInstance.vue
  client/src/components/FileSources/Instances/EditSecrets.vue
  client/src/components/FileSources/Instances/InstanceDropdown.vue
  client/src/components/FileSources/Instances/UpgradeForm.vue
  client/src/components/FileSources/Instances/UpgradeInstance.vue
  client/src/components/FileSources/Instances/instance.ts
  client/src/components/FileSources/Instances/services.ts
  client/src/components/ObjectStore/Instances/EditInstance.vue
  client/src/components/ObjectStore/Instances/EditSecrets.vue
  client/src/components/ObjectStore/Instances/InstanceDropdown.vue
  client/src/components/ObjectStore/Instances/UpgradeForm.test.ts
  client/src/components/ObjectStore/Instances/UpgradeForm.vue
  client/src/components/ObjectStore/Instances/UpgradeInstance.vue
  client/src/components/ObjectStore/Instances/instance.ts
  client/src/components/ObjectStore/Instances/services.ts
  client/src/stores/fileSourceInstancesStore.ts
  client/src/stores/objectStoreInstancesStore.test.ts
  client/src/stores/objectStoreInstancesStore.ts
  lib/galaxy/app.py
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/managers/file_source_instances.py
  lib/galaxy/managers/object_store_instances.py
  lib/galaxy/model/__init__.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/unittest_utils/__init__.py
  lib/galaxy/webapps/galaxy/api/file_sources.py
  lib/galaxy/webapps/galaxy/api/object_store.py
  lib/galaxy_test/base/populators.py
  test/integration/objectstore/test_per_user.py
  test/unit/app/managers/test_user_file_sources.py
  test/unit/app/managers/test_user_object_stores.py
Labels: kind/enhancement, kind/refactoring, area/API, area/objectstore, area/configuration

#18357 Fix loading error for built in tool `sift`
  lib/galaxy/config/sample/tool_data_table_conf.xml.sample
  tools/phenotype_association/sift.xml
Labels: area/UI-UX, area/tools

#18360 Merge latest 24.1 into dev.
  client/src/api/schema/schema.ts
  client/src/components/ConfigTemplates/test_fixtures.ts
  client/src/components/FileSources/Instances/EditInstance.vue
  client/src/components/FileSources/Instances/EditSecrets.vue
  client/src/components/FileSources/Instances/InstanceDropdown.vue
  client/src/components/FileSources/Instances/UpgradeForm.vue
  client/src/components/FileSources/Instances/UpgradeInstance.vue
  client/src/components/FileSources/Instances/instance.ts
  client/src/components/FileSources/Instances/services.ts
  client/src/components/ObjectStore/Instances/EditInstance.vue
  client/src/components/ObjectStore/Instances/EditSecrets.vue
  client/src/components/ObjectStore/Instances/InstanceDropdown.vue
  client/src/components/ObjectStore/Instances/UpgradeForm.test.ts
  client/src/components/ObjectStore/Instances/UpgradeForm.vue
  client/src/components/ObjectStore/Instances/UpgradeInstance.vue
  client/src/components/ObjectStore/Instances/instance.ts
  client/src/components/ObjectStore/Instances/services.ts
  client/src/stores/fileSourceInstancesStore.ts
  client/src/stores/objectStoreInstancesStore.test.ts
  client/src/stores/objectStoreInstancesStore.ts
  lib/galaxy/app.py
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/managers/file_source_instances.py
  lib/galaxy/managers/object_store_instances.py
  lib/galaxy/model/__init__.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/unittest_utils/__init__.py
  lib/galaxy/webapps/galaxy/api/file_sources.py
  lib/galaxy/webapps/galaxy/api/object_store.py
  lib/galaxy_test/base/populators.py
  test/integration/objectstore/test_per_user.py
  test/unit/app/managers/test_user_file_sources.py
  test/unit/app/managers/test_user_object_stores.py
Labels: area/UI-UX, minor, area/testing, area/API, merge, area/database, area/objectstore, area/testing/integration

#18312 More data access tests, some refactoring and cleanup
  lib/galaxy/managers/groups.py
  lib/galaxy/managers/libraries.py
  lib/galaxy/managers/roles.py
  lib/galaxy/managers/users.py
  lib/galaxy/model/db/__init__.py
  lib/galaxy/model/db/library.py
  lib/galaxy/model/db/role.py
  lib/galaxy/model/db/user.py
  lib/galaxy/model/security.py
  lib/galaxy/model/unittest_utils/db_helpers.py
  lib/galaxy/visualization/genomes.py
  lib/galaxy/webapps/galaxy/controllers/page.py
  lib/galaxy/webapps/galaxy/controllers/user.py
  lib/galaxy/webapps/galaxy/services/quotas.py
  lib/galaxy/webapps/galaxy/services/users.py
  lib/galaxy/webapps/reports/controllers/jobs.py
  lib/tool_shed/test/base/test_db_util.py
  lib/tool_shed/webapp/controllers/repository.py
  lib/tool_shed/webapp/controllers/user.py
  test/integration/test_user_preferences.py
  test/integration/test_vault_extra_prefs.py
  test/integration/test_vault_file_source.py
  test/unit/data/model/conftest.py
  test/unit/data/model/db/__init__.py
  test/unit/data/model/db/conftest.py
  test/unit/data/model/db/test_history_table_pruner.py
  test/unit/data/model/db/test_libraries.py
  test/unit/data/model/db/test_misc.py
  test/unit/data/model/db/test_role.py
  test/unit/data/model/db/test_user.py
  test/unit/data/test_galaxy_mapping.py
Labels: kind/enhancement, area/testing, area/database

#18358 [24.0] Fix anonymous user job retrieval logic
  lib/galaxy/managers/jobs.py
  lib/galaxy/webapps/galaxy/services/jobs.py
Labels: kind/bug, area/API

#18220 Update GPU JupyterLab tool
  tools/interactive/interactivetool_ml_jupyter_notebook.xml
Labels: kind/enhancement, area/tools

#18364 [24.1] Fix check for anonymous
  lib/galaxy/files/__init__.py
Labels: kind/bug, area/backend

#18365 [24.1] Merge 24.0 into 24.1
  lib/galaxy/managers/jobs.py
  lib/galaxy/webapps/galaxy/services/jobs.py
Labels: area/UI-UX, merge

#18342 [24.0] Do not copy purged outputs to object store
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/metadata/__init__.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/webapps/galaxy/api/job_files.py
  test/functional/tools/all_output_types.xml
  test/functional/tools/sample_tool_conf.xml
  test/integration/objectstore/_purged_handling.py
  test/integration/test_extended_metadata.py
  test/integration/test_pulsar_embedded_mq.py
  test/unit/app/jobs/test_command_factory.py
Labels: kind/bug, area/jobs, area/objectstore

#18370 [24.1] Add copy link to published workflow in `WorkflowCard`
  client/src/components/Sharing/Embeds/WorkflowEmbed.vue
  client/src/components/Sharing/SharingPage.vue
  client/src/components/Workflow/Published/WorkflowInformation.vue
  client/src/components/Workflow/WorkflowActionsExtend.vue
  client/src/components/Workflow/WorkflowIndicators.vue
  client/src/utils/utils.test.js
  client/src/utils/utils.ts
Labels: area/UI-UX

#18377 [24.0] Sanitize FormElement error messages
  client/src/components/Form/FormElement.vue
Labels: kind/bug, area/UI-UX

#18376 [24.0] Drop unnecessary escaping for workflow name and annotation
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: kind/bug, area/UI-UX, area/API, area/workflows

#18381 [24.0] Fix user's private role can be missing
  lib/galaxy/managers/users.py
  lib/galaxy/model/security.py
Labels: kind/bug, area/backend

#18339 [24.0] Make sure that all Linter subclasses are imported for listing them
  lib/galaxy/tool_util/lint.py
Labels: area/UI-UX, area/tool-framework

#18378 [24.1] Allow running and editing workflows for specific versions
  client/src/api/schema/schema.ts
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Run/WorkflowRun.vue
  client/src/components/Workflow/Run/WorkflowRunForm.vue
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/components/Workflow/Run/services.js
  client/src/components/Workflow/WorkflowRunButton.vue
  client/src/components/Workflow/workflows.services.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/entry/analysis/modules/Home.vue
  client/src/entry/analysis/modules/WorkflowEditor.vue
  client/src/entry/analysis/router.js
  lib/galaxy/managers/workflows.py
  lib/galaxy/schema/workflows.py
  lib/galaxy/webapps/galaxy/services/workflows.py
Labels: kind/bug, kind/enhancement, area/UI-UX, area/workflows

#18348 [24.0] Kill pulsar job if job stopped on galaxy side
  lib/galaxy/jobs/runners/pulsar.py
Labels: kind/bug, area/interactive-tools, area/jobs

#18385 [24.0] Fix null inputs in database operation tools
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/build_list_1.2.0.xml
Labels: kind/bug, area/tools

#18379 [24.1] Fix empty usernames in database + bug in username generation
  lib/galaxy/managers/users.py
  lib/galaxy/model/migrations/alembic/versions_gxy/c63848676caf_update_username_column_schema_and_data.py
  lib/galaxy/model/migrations/alembic/versions_gxy/ddbdbc40bdc1_add_workflow_comment_table.py
  lib/galaxy/model/migrations/dbscript.py
Labels: kind/bug, area/database

#18387 [24.1] Fix duplicated requests when browsing files sources with pagination
  client/src/components/FilesDialog/FilesDialog.vue
Labels: kind/bug, area/UI-UX

#18390 [24.0] Fix workflow editor tool form scroll memory
  client/src/components/Workflow/Editor/Index.vue
Labels: kind/bug, area/UI-UX

#18386 Merge 24.1
  client/src/api/schema/schema.ts
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Run/WorkflowRun.vue
  client/src/components/Workflow/Run/WorkflowRunForm.vue
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/components/Workflow/Run/services.js
  client/src/components/Workflow/WorkflowRunButton.vue
  client/src/components/Workflow/workflows.services.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/entry/analysis/modules/Home.vue
  client/src/entry/analysis/modules/WorkflowEditor.vue
  client/src/entry/analysis/router.js
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/managers/users.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/migrations/alembic/versions_gxy/c63848676caf_update_username_column_schema_and_data.py
  lib/galaxy/model/migrations/alembic/versions_gxy/ddbdbc40bdc1_add_workflow_comment_table.py
  lib/galaxy/model/migrations/alembic/versions_gxy/eee9229a9765_.py
  lib/galaxy/model/migrations/dbscript.py
  lib/galaxy/schema/workflows.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/build_list_1.2.0.xml
  lib/galaxy/webapps/galaxy/services/workflows.py
Labels: area/UI-UX, area/jobs, merge, area/database, area/tool-framework

#18372 [24.1] Onedada object store and files source stability fixes
  lib/galaxy/config/sample/object_store_conf.sample.yml
  lib/galaxy/config/sample/object_store_conf.xml.sample
  lib/galaxy/config/sample/user_preferences_extra_conf.yml.sample
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/files/sources/_pyfilesystem2.py
  lib/galaxy/objectstore/onedata.py
  pyproject.toml
Labels: kind/bug, kind/enhancement, area/UI-UX, area/dependencies, area/objectstore

#18393 [24.1] Merge 24.0 into 24.1
  client/src/components/Workflow/Editor/Index.vue
Labels: area/UI-UX, merge

#18395 [24.1] Reset current page when browsing sub-folders in FilesSources
  client/src/components/FilesDialog/FilesDialog.vue
  client/src/components/SelectionDialog/SelectionDialog.vue
Labels: kind/bug, area/UI-UX

#18374 [24.0] Fix update group API payload model
  client/src/api/schema/schema.ts
  lib/galaxy/managers/groups.py
  lib/galaxy/managers/roles.py
  lib/galaxy/managers/users.py
  lib/galaxy/schema/groups.py
  lib/galaxy/webapps/galaxy/api/groups.py
  lib/galaxy_test/api/test_groups.py
Labels: kind/bug, area/API

#18403 [24.0] Allow in_range validator for selects
  lib/galaxy/tool_util/linters/inputs.py
Labels: area/UI-UX, area/tool-framework

#18402 [24.0] Fix invocation step_job_summary for new collections
  lib/galaxy/managers/jobs.py
Labels: kind/bug, area/API, area/workflows

#18400 [24.0] Fix ``get_accessible_job`` if called without session
  lib/galaxy/managers/jobs.py
Labels: kind/bug, area/API

#18413 [24.1] Fix Object store empty list alert
  client/src/components/PageEditor/ObjectPermissions.vue
Labels: kind/bug, area/UI-UX, release-testing-24.1

#18416 [24.0] Fix collection map over status for dragged collections
  client/src/components/Form/Elements/FormData/FormData.vue
  client/src/components/Form/Elements/FormData/types.ts
  client/src/components/Form/FormElement.vue
  lib/galaxy/tools/parameters/basic.py
Labels: kind/bug, area/UI-UX, area/dataset-collections

#18420 [24.0] Serialize purged flag for datasets in collections
  client/src/api/schema/schema.ts
  client/src/stores/collectionElementsStore.test.ts
  lib/galaxy/managers/collections_util.py
  lib/galaxy/schema/schema.py
Labels: kind/bug, area/UI-UX, area/API, area/dataset-collections

#18418 [24.1] Add TypedDict for JobsSummary
  lib/galaxy/managers/jobs.py
Labels: area/UI-UX

#18411 [24.0] Really allow in-range validator for txt
  lib/galaxy/tools/parameters/validation.py
  test/unit/app/tools/test_parameter_validation.py
Labels: area/UI-UX, area/tool-framework

#18389 [24.0] Assign default ``data`` extension on discovered collection output
  lib/galaxy/model/store/discover.py
  lib/galaxy/tool_util/parser/output_collection_def.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/functional/tools/discover_default_ext.xml
  test/functional/tools/sample_tool_conf.xml
  test/unit/app/tools/test_collect_primary_datasets.py
Labels: kind/bug, area/tool-framework

#18396 [24.1] Fix workflow tags initialisation in workflow editor
  client/src/components/Workflow/Editor/Index.vue
Labels: kind/bug, area/UI-UX

#18405 [24.1] Fix `input_step_parameters` missing values that don't have a label
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/SaveChangesModal.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationStep.vue
  client/src/entry/analysis/router.js
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/UI-UX, area/workflows

#18421 [24.0] Minor linting cleanup
  test/unit/app/tools/test_parameter_validation.py
Labels: kind/bug, area/UI-UX, minor, area/testing

#18422 Prepare for NumPy 2.0
  lib/galaxy/model/custom_types.py
  pyproject.toml
Labels: kind/enhancement, area/UI-UX, area/database

#18423 [24.1] Pin pydantic to >=2.7.4
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/dependencies/pinned-typecheck-requirements.txt
  packages/app/setup.cfg
  packages/data/setup.cfg
  packages/schema/setup.cfg
  packages/tool_shed/setup.cfg
  packages/tours/setup.cfg
  packages/web_apps/setup.cfg
  packages/web_framework/setup.cfg
  pyproject.toml
Labels: kind/bug, area/UI-UX, area/dependencies, area/packaging

#18218 [24.1] Release notes
  doc/source/releases/24.1.rst
  doc/source/releases/24.1_announce.rst
  doc/source/releases/24.1_announce_user.rst
  doc/source/releases/24.1_prs.rst
  doc/source/releases/24.2_announce.rst
  doc/source/releases/images/24.1-doi.png
  doc/source/releases/images/24.1-pagination.gif
  doc/source/releases/images/24.1-wf_graph.png
  doc/source/releases/images/24.1-wf_selection.png
  doc/source/releases/images/24.1-zenodo.png
  doc/source/releases/index.rst
Labels: area/documentation, kind/feature

#18424 [24.1] Add latest PRs to release notes
  doc/source/releases/24.1.rst
  doc/source/releases/24.1_prs.rst
Labels: area/documentation, area/UI-UX

#18429 [24.1] Support usage of vue mounting helpers in a context without existing pinia/vue.
  client/src/utils/mountVueComponent.js
Labels: kind/bug, area/UI-UX

#18431 [24.1] Add note on fastapi to admin release notes
  doc/source/releases/24.1_announce.rst
Labels: kind/bug, area/documentation

#18435 [24.0] Install node from setup-node action
  .github/workflows/lint_openapi_schema.yml
Labels: area/testing

#18430 [24.0] Fix mounting utility usage of pinia (fixes charts form components)
  client/src/utils/mountVueComponent.js
Labels: kind/bug, area/UI-UX, area/visualizations

#18434 [24.1] Update mercurial to non-yanked 6.7.4
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: kind/bug, area/UI-UX, area/dependencies, dependencies

#18419 Add pod5 datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/test/test.pod5
Labels: area/UI-UX, area/datatypes

#18171 [PROCEDURES] Minor adjustments to SECURITY.md to reflect that we call yearly releases LTS
  SECURITY.md
Labels: procedures, area/documentation, area/security

#18428 [24.0] Replace busybox:ubuntu-14.04 image with busybox:1.36.1-glibc
  config/job_conf.yml.interactivetools
  doc/source/admin/jobs.md
  doc/source/admin/special_topics/interactivetools.rst
  doc/source/admin/special_topics/mulled_containers.rst
  lib/galaxy/config/sample/job_conf.sample.yml
  lib/galaxy/config/sample/job_conf.xml.sample_advanced
  lib/galaxy/model/custom_types.py
  test/functional/tools/catDocker.xml
  test/functional/tools/job_environment_default.xml
  test/functional/tools/job_environment_default_legacy.xml
  test/functional/tools/job_environment_explicit_isolated_home.xml
  test/functional/tools/job_environment_explicit_shared_home.xml
  test/functional/tools/tool_directory_docker.xml
  test/integration/test_coexecution.py
  test/integration/test_kubernetes_runner.py
  test/unit/app/jobs/test_job_configuration.py
Labels: area/documentation, area/UI-UX, area/testing, area/admin, area/testing/integration

#18447 [24.1] Improve workflow-related exception reporting
  lib/galaxy/managers/base.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/API

#18450 Minor additions to release process
  doc/source/dev/create_release.rst
Labels: area/documentation, area/UI-UX

#17927 Masthead Revision
  client/src/api/index.test.ts
  client/src/api/index.ts
  client/src/components/AboutGalaxy.vue
  client/src/components/ActivityBar/ActivityBar.vue
  client/src/components/ActivityBar/ActivitySettings.test.js
  client/src/components/ActivityBar/ActivitySettings.vue
  client/src/components/Libraries/LibraryFolder/LibraryFolder.vue
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
  client/src/components/Masthead/Masthead.test.js
  client/src/components/Masthead/Masthead.vue
  client/src/components/Masthead/MastheadDropdown.vue
  client/src/components/Masthead/MastheadItem.test.js
  client/src/components/Masthead/MastheadItem.vue
  client/src/components/Masthead/QuotaMeter.test.ts
  client/src/components/Masthead/QuotaMeter.vue
  client/src/components/Panels/SettingsPanel.vue
  client/src/composables/useActivityAction.ts
  client/src/entry/analysis/App.vue
  client/src/entry/analysis/menu.js
  client/src/entry/analysis/router.js
  client/src/stores/activitySetup.ts
  client/src/stores/activityStore.test.ts
  client/src/stores/activityStore.ts
  client/src/style/scss/theme/blue.scss
  client/src/utils/navigation/navigation.yml
  config/plugins/tours/core.galaxy_ui.yaml
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_change_password.py
  lib/galaxy_test/selenium/test_published_pages.py
  lib/galaxy_test/selenium/test_sign_out.py
  lib/galaxy_test/selenium/test_workflow_editor.py
  test/integration_selenium/test_objectstore_selection.py
  test/integration_selenium/test_user_file_source_aws_public.py
Labels: kind/enhancement, area/UI-UX

#18459 [24.0] Disable password reset for deleted users [GCC2024_COFEST]
  lib/galaxy/managers/users.py
  test/unit/app/managers/test_UserManager.py
Labels: kind/bug, area/testing, area/backend

#18456 [24.0] Fix subwofklow tags serialization type
  lib/galaxy/managers/workflows.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/data/test_subworkflow_with_tags.ga
Labels: area/UI-UX, area/testing, area/testing/api

#18461 Updates the About Page
  client/src/components/AboutGalaxy.vue
Labels: kind/enhancement, area/UI-UX

#18462 [24.0] Add input extra files to `get_input_fnames`
  lib/galaxy/job_execution/setup.py
  lib/galaxy/jobs/splitters/basic.py
Labels: kind/bug, area/jobs

#18458 update plausible script name in mako templates
  lib/tool_shed/webapp/templates/galaxy_client_app.mako
  templates/galaxy_client_app.mako
  templates/js-app.mako
Labels: kind/bug, area/UI-UX

#18463 Move workflow preview to primary link for workflows card list -- easi…
  client/src/components/Workflow/WorkflowActions.vue
  client/src/components/Workflow/WorkflowCard.vue
Labels: kind/enhancement, area/UI-UX
