Repository galaxyproject/galaxy, pull requests merged in 2024-11, with the labels that each got.

#19090 avoid possible negative offset
  client/src/components/Libraries/LibraryFolder/LibraryFolder.vue
Labels: kind/bug, area/UI-UX

#18996 add hint to the tool schema
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/tool_shed.yml.sample
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: kind/enhancement, area/documentation

#19030 Fix numerous issues with tool input format "21.01"
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/__init__.py
  lib/galaxy/tools/parameters/meta.py
  lib/galaxy/tools/parameters/wrapped.py
  lib/galaxy/tools/wrappers.py
  lib/galaxy/util/permutations.py
  lib/galaxy_test/api/conftest.py
  lib/galaxy_test/api/test_tool_execute.py
  lib/galaxy_test/api/test_tools.py
  test/integration/test_extended_metadata_mapping.py
Labels: kind/bug, area/API, area/testing/api

#19077 Allow deferred datasets to behave as URIs
  lib/galaxy/model/__init__.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/wrappers.py
  lib/galaxy_test/api/test_tools.py
  test/functional/tools/parameters/gx_allow_uri_if_protocol.xml
  test/unit/app/tools/test_parameter_parsing.py
  test/unit/app/tools/test_wrappers.py
Labels: kind/enhancement, area/backend

#19097 Support deferred datasets in visualizations
  client/src/components/History/Content/Dataset/DatasetActions.vue
  config/plugins/visualizations/visualization.dtd
  lib/galaxy/visualization/plugins/config_parser.py
  lib/galaxy/visualization/plugins/registry.py
Labels: kind/enhancement, area/UI-UX, area/visualizations

#19099 uv: Do not recalculate dependencies when exporting
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/dependencies/pinned-typecheck-requirements.txt
  lib/galaxy/dependencies/update.sh
Labels: area/dependencies

#19106 [24.0] Optimize/fix sqlite hid update statement
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/database

#18986 Fix issue with generating slug for sharing
  client/src/components/Sharing/SlugInput.vue
  lib/galaxy/dependencies/pinned-typecheck-requirements.txt
  lib/galaxy/managers/base.py
  lib/galaxy/managers/pages.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy/webapps/galaxy/controllers/page.py
  lib/galaxy/webapps/galaxy/controllers/visualization.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
  lib/galaxy/webapps/galaxy/services/visualizations.py
  lib/galaxy_test/api/test_histories.py
  packages/app/setup.cfg
  pyproject.toml
Labels: area/testing, area/testing/api

#19109 Test hash validation also for upload by path
  lib/galaxy/tools/data_fetch.py
  test/unit/app/tools/test_data_fetch.py
Labels: kind/enhancement, area/testing, area/tool-framework, BioHackEU24

#19073 Integrate Tool Parameter Modeling into Linting (for Planemo)
  lib/galaxy/tool_util/linters/tests.py
  lib/galaxy/tool_util/parameters/__init__.py
  lib/galaxy/tool_util/parameters/case.py
  lib/galaxy/tool_util/parameters/models.py
  lib/galaxy/tool_util/parameters/state.py
  test/unit/tool_util/test_tool_linters.py
Labels: kind/enhancement, area/tool-framework

#19047 Better search stuff in Tool Shed 2.0.
  lib/tool_shed/util/shed_index.py
  lib/tool_shed/webapp/frontend/src/components/RepositoriesGrid.vue
  lib/tool_shed/webapp/frontend/src/components/pages/RepositoriesByCategory.vue
  lib/tool_shed/webapp/frontend/src/components/pages/RepositoriesBySearch.vue
Labels: kind/enhancement, area/toolshed-2.0

#19048 Add job metrics per invocation
  client/package.json
  client/src/api/schema/schema.ts
  client/src/components/WorkflowInvocationState/VegaWrapper.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationMetrics.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/webpack.config.js
  client/yarn.lock
  lib/galaxy/managers/jobs.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/webapps/galaxy/services/invocations.py
  lib/galaxy_test/api/test_workflows.py
Labels: area/testing, area/API, area/testing/api, BioHackEU24

#19113 Enable specifying dataset hash in test jobs
  lib/galaxy/model/store/discover.py
  lib/galaxy/tool_util/client/staging.py
  lib/galaxy/tool_util/cwl/util.py
  lib/galaxy_test/api/test_tools_upload.py
Labels: kind/enhancement, area/testing, BioHackEU24

#19110 Always validate hashes when provided
  client/src/api/schema/schema.ts
  lib/galaxy/managers/hdas.py
  lib/galaxy/model/deferred.py
  lib/galaxy/model/unittest_utils/store_fixtures.py
  lib/galaxy/schema/schema.py
  lib/galaxy/schema/tasks.py
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
  lib/galaxy/workflow/scheduling_manager.py
  lib/galaxy_test/api/test_libraries.py
  lib/galaxy_test/api/test_tools_upload.py
  lib/galaxy_test/base/populators.py
  test/integration/test_materialize_dataset_instance_tasks.py
  test/unit/app/tools/test_data_fetch.py
  test/unit/data/test_dataset_materialization.py
Labels: kind/enhancement, area/testing, area/API, area/workflows, area/database, area/tool-framework, area/testing/api, area/testing/integration, BioHackEU24

#19114 Add linter to check validity of output filters
  lib/galaxy/tool_util/linters/output.py
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, area/tool-framework

#19128 Also use miniforge docker for container building
  lib/galaxy/tool_util/deps/mulled/mulled_build.py
Labels: area/tool-framework, area/tool-dependencies

#19115 Add type annotations to ``JobRunnerMapper`` and related code
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/mapper.py
  test/unit/app/jobs/test_mapper.py
Labels: kind/enhancement, area/testing, area/jobs, BioHackEU24

#18998 Allow modes `z` and `Z` for docker volumes
  lib/galaxy/tool_util/deps/container_classes.py
  lib/galaxy/tool_util/deps/container_volumes.py
Labels: area/tool-framework, area/tool-dependencies

#19040 Add some Zarr-based datatypes
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/binary.py
  lib/galaxy/datatypes/converters/archive_to_directory.xml
  lib/galaxy/datatypes/data.py
  lib/galaxy/datatypes/images.py
Labels: kind/enhancement, area/datatypes

#19022 Enhance relabel_from_file to work with any column pair in mapping file
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/relabel_from_file.xml
  test-data/new_labels_3.txt
Labels: area/tool-framework

#19014 Irods ssl connection
  lib/galaxy/config/sample/object_store_conf.sample.yml
  lib/galaxy/config/sample/object_store_conf.xml.sample
  lib/galaxy/objectstore/irods.py
  test/unit/objectstore/irods_object_store_conf_logical_path.xml
  test/unit/objectstore/irods_object_store_conf_ssl.xml
  test/unit/objectstore/test_irods.py
Labels: area/objectstore

#18945 Allow to overwrite `real_system_username` per destination
  lib/galaxy/jobs/__init__.py
Labels: area/jobs

#18615 Workflow Invocation view improvements
  client/src/api/jobs.ts
  client/src/components/Grid/GridInvocation.vue
  client/src/components/Grid/configs/invocationsBatch.ts
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/model/states.ts
  client/src/components/History/SwitchToHistoryLink.test.ts
  client/src/components/History/SwitchToHistoryLink.vue
  client/src/components/JobInformation/JobInformation.vue
  client/src/components/JobInformation/utilities.ts
  client/src/components/Panels/InvocationsPanel.vue
  client/src/components/ProgressBar.vue
  client/src/components/Workflow/Editor/NodeInvocationText.vue
  client/src/components/Workflow/Editor/WorkflowGraph.vue
  client/src/components/Workflow/Invocation/Graph/InvocationGraph.vue
  client/src/components/Workflow/Invocation/Graph/WorkflowInvocationSteps.vue
  client/src/components/Workflow/Invocation/InvocationScrollList.vue
  client/src/components/Workflow/Run/WorkflowRunSuccess.vue
  client/src/components/Workflow/WorkflowRunButton.vue
  client/src/components/WorkflowInvocationState/JobStep.test.js
  client/src/components/WorkflowInvocationState/JobStep.test.ts
  client/src/components/WorkflowInvocationState/JobStep.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationHeader.test.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationHeader.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationOverview.test.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationOverview.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationStep.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationStepHeader.vue
  client/src/components/WorkflowInvocationState/test/json/jobs.json
  client/src/composables/useInvocationGraph.ts
  client/src/stores/invocationStore.ts
  client/src/stores/jobMetricsStore.ts
  client/src/stores/workflowStepStore.ts
  client/src/stores/workflowStore.ts
  client/src/utils/navigation/navigation.yml
  client/src/utils/navigation/schema.ts
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_invocation_grid.py
  lib/galaxy_test/selenium/test_workflow_invocation_details.py
  test/integration_selenium/test_workflow_run_target.py
Labels: kind/enhancement, area/UI-UX

#18198 Dynamics options add library dataset
  lib/galaxy/tools/parameters/dynamic_options.py
Labels: area/tool-framework

#18522 Fix handling of v2 hashes
  lib/galaxy/tool_util/deps/conda_util.py
  lib/galaxy/tool_util/deps/mulled/mulled_build.py
  lib/galaxy/tool_util/deps/mulled/mulled_build_tool.py
  lib/galaxy/tool_util/deps/mulled/mulled_hash.py
  lib/galaxy/tool_util/deps/mulled/util.py
  test/integration/test_container_resolvers.py
Labels: area/testing, area/tool-framework, area/tool-dependencies, area/testing/integration

#19101 Update Japanese locale.js
  client/src/nls/ja/locale.js
Labels: area/UI-UX

#19134 Viz update to v0.0.1 and bug fix
  client/gulpfile.js
  config/plugins/visualizations/openlayers/config/openlayers.xml
Labels: area/visualizations

#19135 Openlayer cleanup, svg logo fix
  config/plugins/visualizations/openlayers/package.json
  config/plugins/visualizations/openlayers/src/script.js
  config/plugins/visualizations/openlayers/static/logo.png
  config/plugins/visualizations/openlayers/static/logo.svg
  config/plugins/visualizations/openlayers/static/ol.css
  lib/galaxy/visualization/plugins/plugin.py
Labels: kind/enhancement, area/visualizations

#19138 Fix phylocanvas visualization build
  config/plugins/visualizations/phylocanvas/package.json
Labels: area/visualizations

#19061 Add Vizarr visualization
  client/gulpfile.js
  config/plugins/visualizations/vizarr/config/vizarr.xml
  config/plugins/visualizations/vizarr/static/logo.svg
Labels: kind/enhancement, kind/feature, area/visualizations

#19127 Replace static Cytoscape plugin with npm package
  client/gulpfile.js
  config/plugins/visualizations/cytoscape/config/cytoscape.xml
  config/plugins/visualizations/cytoscape/package.json
  config/plugins/visualizations/cytoscape/src/script.js
  config/plugins/visualizations/cytoscape/static/logo.png
Labels: area/visualizations, area/client

#19140 Fix destentation typo
  lib/galaxy/jobs/runners/pulsar.py
Labels: kind/bug, minor, area/jobs

#19136 Restore access to saved visualizations
  lib/galaxy/webapps/galaxy/controllers/visualization.py
Labels: kind/bug, area/visualizations

#19146 2 small uv config fixes
  lib/galaxy/dependencies/update.sh
  pyproject.toml
Labels: kind/bug, area/dependencies

#18762 Add Workflow Title and Annotation sections
  client/src/components/Common/ButtonSpinner.vue
  client/src/components/Grid/GridInvocation.vue
  client/src/components/History/SwitchToHistoryLink.vue
  client/src/components/JobMetrics/JobMetrics.test.js
  client/src/components/JobMetrics/JobMetrics.vue
  client/src/components/Workflow/Invocation/InvocationScrollList.vue
  client/src/components/Workflow/List/WorkflowIndicators.vue
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/components/Workflow/Run/WorkflowRunSuccess.vue
  client/src/components/Workflow/WorkflowAnnotation.test.ts
  client/src/components/Workflow/WorkflowAnnotation.vue
  client/src/components/Workflow/WorkflowNavigationTitle.test.ts
  client/src/components/Workflow/WorkflowNavigationTitle.vue
  client/src/components/Workflow/WorkflowRunButton.test.ts
  client/src/components/Workflow/WorkflowRunButton.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationHeader.test.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationHeader.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/entry/analysis/router.js
  client/src/stores/workflowStore.ts
  lib/galaxy/managers/workflows.py
Labels: area/UI-UX

#19092 Implement workflow parameter validators.
  client/src/api/schema/schema.ts
  client/src/components/Form/FormElement.vue
  client/src/components/Form/FormElementHelpMarkdown.vue
  client/src/components/Form/FormInputs.vue
  client/src/components/Help/HelpPopover.vue
  client/src/components/Help/terms.yml
  client/src/components/RuleBuilder/RegularExpressionInput.vue
  client/src/components/Workflow/Run/WorkflowRun.vue
  client/src/components/WorkflowInvocationState/InvocationMessage.vue
  lib/galaxy/schema/invocation.py
  lib/galaxy/tool_util/parser/factory.py
  lib/galaxy/tool_util/parser/parameter_validators.py
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/populate_model.py
  lib/galaxy/tools/parameters/validation.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run_request.py
  lib/galaxy/workflow/workflow_parameter_input_definitions.py
  lib/galaxy_test/api/test_jobs.py
  lib/galaxy_test/api/test_tools.py
  lib/galaxy_test/selenium/test_tool_form.py
  lib/galaxy_test/selenium/test_workflow_editor.py
  test/unit/app/tools/test_parameter_validation.py
Labels: kind/enhancement, area/workflows

#18949 Assert that `data_column` parameters have a valid `data_ref`
  lib/galaxy/tool_shed/tools/tool_validator.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/basic.py
  lib/tool_shed/test/test_data/repos/missing_data_ref/missing_data_ref.xml
  lib/tool_shed/test/test_data/repos/wrong_data_ref/wrong_data_ref.xml
  test/unit/tool_shed/test_tool_validation.py
Labels: area/testing, area/tool-framework

#16837 Add Interactive Tool Ilastik
  tools/interactive/interactivetool_ilastik.xml
Labels: area/tools

#18495 [24.1] Don't call job_runner.stop_job on jobs in new state
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/aws.py
Labels: kind/bug, area/jobs

#19150 Switch update annotate image to new script entry_point
  config/plugins/visualizations/annotate_image/config/annotate_image.xml
  config/plugins/visualizations/annotate_image/package.json
  config/plugins/visualizations/annotate_image/src/script.js
  config/plugins/visualizations/example/static/script.js
Labels: kind/enhancement, area/UI-UX, kind/refactoring

#19104 Add XML based `vtk` datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/constructive_solid_geometry.py
  lib/galaxy/datatypes/test/data.vtu
  test/unit/data/datatypes/test_constructive_solid_geometry.py
Labels: area/testing, area/datatypes

#19153 Migrate Venn Diagram to Script-Tag
  client/gulpfile.js
  config/plugins/visualizations/venn/config/venn.xml
  config/plugins/visualizations/venn/package.json
  config/plugins/visualizations/venn/src/script.js
  config/plugins/visualizations/venn/src/venn.js
  config/plugins/visualizations/venn/static/logo.png
  config/plugins/visualizations/venn/static/logo.svg
  config/plugins/visualizations/venn/static/script.css
Labels: kind/enhancement, kind/refactoring, area/visualizations

#18936 Workflow license and creator edit keyboard access
  client/src/components/License/LicenseSelector.vue
  client/src/components/SchemaOrg/CreatorEditor.vue
  client/src/utils/navigation/navigation.yml
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: kind/enhancement, area/UI-UX, area/accessibility

#16975 Feature - stdout live reporting
  client/src/api/schema/schema.ts
  client/src/components/JobInformation/CodeRow.vue
  client/src/components/JobInformation/JobInformation.test.js
  client/src/components/JobInformation/JobInformation.vue
  client/src/components/providers/JobProvider.js
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/managers/jobs.py
  lib/galaxy/schema/jobs.py
  lib/galaxy/webapps/galaxy/api/job_files.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/webapps/galaxy/services/jobs.py
Labels: kind/feature, area/API, area/jobs

#19093 Allow directory_uri workflow parameters.
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run_request.py
  lib/galaxy/workflow/workflow_parameter_input_definitions.py
Labels: kind/enhancement, area/workflows

#19131 Normalize usernames to lowercase in OIDC authentication
  lib/galaxy/authnz/custos_authnz.py
Labels: area/auth

#19003 FITS file table graph visualization plugin
  client/gulpfile.js
  config/plugins/visualizations/fits_graph_viewer/config/fits_graph_viewer.xml
  config/plugins/visualizations/fits_graph_viewer/package.json
  config/plugins/visualizations/fits_graph_viewer/src/index.js
  config/plugins/visualizations/fits_graph_viewer/static/logo.png
  config/plugins/visualizations/fits_graph_viewer/webpack.prod.js
Labels: area/visualizations, area/client

#15860 Experimental galactic wizard
  client/src/api/schema/schema.ts
  client/src/components/DatasetInformation/DatasetError.vue
  client/src/components/GalaxyWizard.vue
  client/src/composables/markdown.ts
  client/src/entry/analysis/router.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/__init__.py
  lib/galaxy/config/chat_prompts.json
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/tool_shed.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/managers/chat.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrations/alembic/versions_gxy/cbc46035eba0_chat_exchange_storage.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/chat.py
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: area/documentation, area/UI-UX, area/API, area/admin

#19156 clarify that higher python versions are also supported
  README.rst
Labels: kind/enhancement, area/documentation

#18966 Decouple user email from role name
  client/src/api/schema/schema.ts
  lib/galaxy/managers/roles.py
  lib/galaxy/managers/users.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrations/alembic/versions_gxy/9a5207190a4d_remove_unique_constraint_from_role_name.py
  lib/galaxy/model/security.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/roles.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy/webapps/galaxy/services/roles.py
  lib/galaxy/webapps/galaxy/services/users.py
  lib/galaxy_test/api/test_users.py
  lib/galaxy_test/base/populators.py
  test/unit/data/model/conftest.py
  test/unit/data/model/db/test_role.py
  test/unit/data/model/db/test_security.py
  test/unit/data/test_galaxy_mapping.py
Labels: kind/enhancement, area/API, area/admin, area/database

#19160 [24.1] Add buffer as a devDependency in phylocanvas package.json
  config/plugins/visualizations/phylocanvas/package.json
Labels: area/visualizations

#18744 Add a retry when deleting a k8s job
  lib/galaxy/jobs/runners/kubernetes.py
  lib/galaxy/jobs/runners/util/pykube_util.py
  lib/galaxy/objectstore/__init__.py
Labels: area/jobs

#19163 Add merge migration to merge 2 heads
  lib/galaxy/model/migrations/alembic/versions_gxy/75348cfb3715_.py
Labels: kind/bug, area/database

#19162 [24.1] Prefer auto-decompressed datatype when picking conversion target
  lib/galaxy/datatypes/registry.py
  test/functional/tools/implicit_conversion_format_input.xml
Labels: kind/bug, area/datatype-framework

#19166 Consolidate tag validation
  client/src/components/Tags/model.test.js
  client/src/components/TagsMultiselect/StatelessTags.vue
Labels: kind/bug, area/UI-UX

#19169 Add 24.2 migration tags
  lib/galaxy/model/migrations/dbscript.py
Labels: minor, area/database

#19170 [24.2] Update version to 24.2.rc1
  lib/galaxy/version.py
Labels: kind/refactoring, minor

#19171 Version 24.3.dev
  Makefile
  lib/galaxy/version.py
Labels: kind/refactoring, minor

#19161 Enhance UTF-8 support for filename handling in downloads
  lib/galaxy/datatypes/data.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/zipstream.py
  lib/galaxy_test/api/test_dataset_collections.py
  lib/galaxy_test/api/test_datasets.py
Labels: kind/enhancement, area/datatypes, area/util

#19172 [24.2] Add requirement/resource to schema docs
  doc/schema_template.md
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: kind/bug, area/documentation, area/tool-framework

#19175 [24.2] Add gtf to auto_compressed_types
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#19165 Stablize HistoryView.test.js
  client/src/components/History/HistoryView.test.js
Labels: kind/bug, area/UI-UX, area/testing, area/client

#19174 [24.1] Remove the default `Incoming` suffix in `GenericModel` class
  lib/galaxy/schema/generics.py
  lib/galaxy/schema/notifications.py
Labels: kind/bug, area/backend

#19180 Fix Pesky warning with PersistentTaskProgressMonitorAlert.test.ts
  client/src/components/Common/PersistentTaskProgressMonitorAlert.test.ts
  client/src/composables/genericTaskMonitor.ts
  client/src/composables/persistentProgressMonitor.test.ts
  client/src/composables/persistentProgressMonitor.ts
  client/src/composables/shortTermStorageMonitor.test.ts
  client/src/composables/taskMonitor.test.ts
Labels: kind/bug, area/UI-UX, area/testing

#19181 Calculate hash for new non-deferred datasets when finishing a job
  client/src/api/schema/schema.ts
  doc/source/admin/galaxy_options.rst
  lib/galaxy/celery/tasks.py
  lib/galaxy/config/__init__.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/datatypes/protocols.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/managers/datasets.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/deferred.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/schema/schema.py
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/util/hash_util.py
  lib/galaxy/webapps/galaxy/services/datasets.py
  lib/galaxy_test/api/test_datasets.py
  lib/galaxy_test/base/populators.py
  test/integration/test_dataset_hashing.py
  test/integration/test_materialize_dataset_instance_tasks.py
Labels: kind/enhancement, area/documentation, area/testing, area/jobs, area/admin, area/database, area/datatypes, area/tool-framework, area/util, area/testing/api, area/testing/integration, BioHackEU24

#19155 [24.1] Fix production_aws_private_bucket.yml
  lib/galaxy/files/templates/examples/production_aws_private_bucket.yml
Labels: kind/bug, area/upload

#19178 Cleanup Jest Test Output (part 2)
  client/src/app/app.test.js
  client/src/components/ConfigTemplates/formUtil.ts
  client/src/components/Dataset/DatasetStorage/DatasetStorage.test.ts
  client/src/components/Form/Elements/FormData/FormData.test.js
  client/src/components/Grid/GridList.test.js
  client/src/components/History/CurrentHistory/SelectPreferredStore.test.ts
  client/src/components/History/Multiple/MultipleView.test.js
  client/src/components/JobInformation/JobInformation.test.js
  client/src/components/Masthead/QuotaMeter.test.ts
  client/src/components/StsDownloadButton.test.js
  client/src/components/TagsMultiselect/StatelessTags.test.js
  client/src/components/TagsMultiselect/StatelessTags.vue
  client/src/components/Tool/ToolCard.test.js
  client/src/components/Tool/ToolSelectPreferredObjectStore.test.js
  client/src/components/Toolshed/InstalledList/Details.vue
  client/src/components/Toolshed/RepositoryDetails/Index.test.ts
  client/src/components/Workflow/Editor/Forms/FormTool.test.js
  client/src/components/Workflow/Editor/Index.test.ts
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/NodeOutput.test.ts
  client/src/components/Workflow/Editor/Options.vue
  client/src/composables/taskMonitor.test.ts
  client/src/composables/useMagicKeys.js
  client/src/store/historyStore/model/watchHistory.test.js
  client/src/stores/workflowEditorToolbarStore.ts
  client/src/utils/upload-queue.test.js
  client/tests/jest/helpers.js
  client/tests/jest/jest.setup.js
  client/tests/jest/mockConfig.js
  client/tests/jest/mockHelpPopovers.js
Labels: kind/bug, area/testing, area/client

#19183 [24.0] Update title of edited PRs only if base ref changed
  .github/workflows/pr-title-update.yml
Labels: kind/bug

#12941 Dynamic options: add data table filter
  lib/galaxy/tool_util/linters/inputs.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/parameters/dynamic_options.py
  test/functional/tools/filter_data_table.xml
  test/functional/tools/sample_tool_conf.xml
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, area/tool-framework

#19185 Cleanup Jest Test Output (part 3)
  client/src/components/Common/FilterMenu.test.ts
  client/src/components/Form/Elements/FormDirectory.test.js
  client/src/components/Grid/GridList.test.js
  client/src/components/HistoryImport.test.js
  client/src/components/JobInformation/JobOutputs.vue
  client/src/components/JobMetrics/CarbonEmissions/CarbonEmissions.test.js
  client/src/components/Login/LoginForm.test.ts
  client/src/components/Masthead/Masthead.test.js
  client/src/components/ObjectStore/Instances/CreateForm.test.ts
  client/src/components/Panels/Buttons/FavoritesButton.test.js
  client/src/components/Tool/ToolForm.test.js
  client/src/components/Upload/DefaultBox.test.js
  client/src/components/Upload/UploadModal.test.js
  client/src/components/User/UserPreferredObjectStore.test.js
  client/src/components/Workflow/Editor/Attributes.test.js
  client/src/components/Workflow/List/WorkflowList.test.ts
  client/src/components/Workflow/Run/WorkflowSelectPreferredObjectStore.test.js
  client/src/components/Workflow/Run/WorkflowStorageConfiguration.test.js
  client/src/components/Workflow/Run/WorkflowStorageConfiguration.vue
Labels: kind/bug, area/testing, area/client

#19168 [24.2] Move invocation view running actions and improve styling of annotation section
  client/src/components/Common/TextSummary.vue
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/components/Workflow/Run/WorkflowRunSuccess.vue
  client/src/components/Workflow/WorkflowAnnotation.test.ts
  client/src/components/Workflow/WorkflowAnnotation.vue
  client/src/components/Workflow/WorkflowNavigationTitle.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
Labels: kind/bug, area/UI-UX

#19191 Don't calculate dataset hash for datasets in non-OK state
  lib/galaxy/jobs/__init__.py
  lib/galaxy/managers/datasets.py
Labels: kind/bug, area/jobs

#19194 Fix UP031 errors - Part 1
  cron/build_chrom_db.py
  lib/galaxy/app.py
  lib/galaxy_test/api/test_jobs.py
  lib/galaxy_test/api/test_workflow_extraction.py
  lib/galaxy_test/selenium/framework.py
  lib/galaxy_test/selenium/test_uploads.py
  scripts/api/common.py
  scripts/apply_tags.py
  scripts/build_toolbox.py
  scripts/cleanup_datasets/admin_cleanup_datasets.py
  scripts/cleanup_datasets/pgcleanup.py
  scripts/drmaa_external_killer.py
  scripts/drmaa_external_runner.py
  scripts/metagenomics/convert_title.py
  scripts/runtime_stats.py
  scripts/set_dataset_sizes.py
  scripts/set_user_disk_usage.py
  scripts/tool_shed/api/common.py
  scripts/tool_shed/deprecate_repositories_without_metadata.py
  scripts/tools/maf/check_loc_file.py
  test/functional/test_toolbox.py
  test/functional/webhooks/phdcomics/__init__.py
  test/integration_selenium/test_upload_ftp.py
  test/manual/gen_history_export_test_artifacts.py
  test/manual/workflows_scaling.py
  test/unit/app/test_markdown_validate.py
  test/unit/data/dataset_collections/test_matching.py
  test/unit/data/test_model_copy.py
Labels: area/testing, area/scripts, area/testing/api, area/testing/integration, area/testing/selenium

#19186 Cleanup Jest Test Output (part 4)
  client/src/app/monitor.js
  client/src/components/Common/FilterMenu.test.ts
  client/src/components/Common/RDMDestinationSelector.test.ts
  client/src/components/ConfigTemplates/InstanceForm.test.ts
  client/src/components/ConfigTemplates/VaultSecret.vue
  client/src/components/DataDialog/DataDialog.test.js
  client/src/components/DatasetInformation/DatasetInformation.test.ts
  client/src/components/FilesDialog/FilesDialog.test.ts
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.test.js
  client/src/components/History/Export/HistoryExport.test.ts
  client/src/components/History/HistoryView.test.js
  client/src/components/Tool/ToolCard.test.js
  client/src/components/Workflow/Editor/Node.test.ts
  client/src/components/Workflow/Editor/modules/terminals.test.ts
  client/src/components/Workflow/Editor/modules/terminals.ts
  client/src/components/Workflow/Import/FromFileOrUrl.test.ts
  client/src/components/admin/Notifications/NotificationForm.test.ts
  client/src/composables/shortTermStorageMonitor.test.ts
  client/src/onload/console.js
  client/src/stores/configurationStore.ts
  client/tests/jest/helpers.js
Labels: kind/bug, area/client

#18951 Extend image metadata
  lib/galaxy/datatypes/images.py
  lib/galaxy/datatypes/test/im1_uint8.png
  lib/galaxy/datatypes/test/im1_uint8.tif
  lib/galaxy/datatypes/test/im2_a.png
  lib/galaxy/datatypes/test/im2_b.png
  lib/galaxy/datatypes/test/im3_a.png
  lib/galaxy/datatypes/test/im3_b.tif
  lib/galaxy/datatypes/test/im4_float.tif
  lib/galaxy/datatypes/test/im5_uint8.tif
  lib/galaxy/datatypes/test/im6_uint8.tif
  lib/galaxy/datatypes/test/im7_uint8.tif
  lib/galaxy/datatypes/test/im8_uint16.tif
  lib/galaxy/datatypes/test/im9_multipage.tif
  lib/galaxy/datatypes/test/im_empty.tif
  test-data/im9_multipage.tif
  test-data/im_empty.tif
  test/unit/data/datatypes/test_images.py
Labels: area/testing, area/datatypes

#19193 Move phylocanvas to script entry point
  client/gulpfile.js
  config/plugins/visualizations/phylocanvas/config/phylocanvas.xml
  config/plugins/visualizations/phylocanvas/package.json
  config/plugins/visualizations/phylocanvas/src/script.js
  config/plugins/visualizations/phylocanvas/static/logo.png
Labels: kind/enhancement, area/UI-UX, area/visualizations

#19199 [24.2] Fix mulled_hash
  lib/galaxy/tool_util/deps/mulled/mulled_hash.py
Labels: kind/bug, area/tool-framework, area/tool-dependencies

#19176 Move heatmap visualization to new script endpoint
  client/gulpfile.js
  config/plugins/visualizations/heatmap/config/heatmap.xml
  config/plugins/visualizations/heatmap/heatmap_cluster/config/heatmap_cluster.xml
  config/plugins/visualizations/heatmap/heatmap_cluster/static/logo.png
  config/plugins/visualizations/heatmap/heatmap_default/config/heatmap_default.xml
  config/plugins/visualizations/heatmap/heatmap_default/package.json
  config/plugins/visualizations/heatmap/heatmap_default/src/colorsets.js
  config/plugins/visualizations/heatmap/heatmap_default/src/script.js
  config/plugins/visualizations/heatmap/heatmap_default/static/logo.png
  config/plugins/visualizations/heatmap/static/logo.svg
Labels: kind/bug, kind/enhancement, area/visualizations, area/client

#19204 Fix UP031 errors - Part 2
  lib/tool_shed/grids/admin_grids.py
  lib/tool_shed/grids/util.py
  lib/tool_shed/managers/repositories.py
  lib/tool_shed/metadata/repository_metadata_manager.py
  lib/tool_shed/test/base/twilltestcase.py
  lib/tool_shed/test/functional/test_0000_basic_repository_features.py
  lib/tool_shed/test/functional/test_0440_deleting_dependency_definitions.py
  lib/tool_shed/test/functional/test_0470_tool_dependency_repository_type.py
  lib/tool_shed/util/admin_util.py
  lib/tool_shed/util/hg_util.py
  lib/tool_shed/util/repository_util.py
  lib/tool_shed/util/shed_index.py
  lib/tool_shed/webapp/api/repository_revisions.py
  lib/tool_shed/webapp/controllers/admin.py
  lib/tool_shed/webapp/controllers/repository.py
  lib/tool_shed/webapp/model/__init__.py
Labels: kind/enhancement

#19159 [24.1] Make runtime value in optional parameter open legacy workflow run form
  client/src/components/Workflow/Run/model.js
  lib/galaxy_test/selenium/test_workflow_run.py
Labels: kind/bug, area/UI-UX, area/workflows

#19206 Add plotly.js
  client/gulpfile.js
  config/plugins/visualizations/plotly/config/plotly.xml
  config/plugins/visualizations/plotly/static/logo.svg
  config/plugins/visualizations/plotly_box/config/plotly_box.xml
  config/plugins/visualizations/plotly_box/static/logo.svg
  config/plugins/visualizations/plotly_histogram/config/plotly_histogram.xml
  config/plugins/visualizations/plotly_histogram/static/logo.svg
Labels: kind/enhancement, area/UI-UX, area/visualizations

#19182 [24.2] release testing - UI tests for new workflow parameters
  client/src/components/Workflow/Run/WorkflowRun.vue
  client/src/utils/navigation/navigation.yml
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: kind/bug, area/UI-UX, area/testing/selenium

#19213 Update visualizations to latest charts package
  config/plugins/visualizations/cytoscape/config/cytoscape.xml
  config/plugins/visualizations/heatmap/config/heatmap.xml
  config/plugins/visualizations/ngl/config/ngl.xml
  config/plugins/visualizations/openlayers/config/openlayers.xml
  config/plugins/visualizations/phylocanvas/config/phylocanvas.xml
  config/plugins/visualizations/venn/config/venn.xml
Labels: kind/enhancement, area/visualizations

#19218 Fix UP031 errors - Part 3
  lib/galaxy/util/__init__.py
  lib/galaxy/util/heartbeat.py
  lib/galaxy/util/permutations.py
  lib/galaxy/util/rules_dsl.py
  lib/galaxy/visualization/data_providers/basic.py
  lib/galaxy/visualization/data_providers/cigar.py
  lib/galaxy/visualization/data_providers/genome.py
  lib/galaxy/web/framework/base.py
  lib/galaxy/web/framework/middleware/profile.py
  lib/galaxy/web/framework/middleware/translogger.py
  lib/galaxy/web/proxy/__init__.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy/webapps/galaxy/controllers/async.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  lib/galaxy/webapps/galaxy/controllers/forms.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy/webapps/galaxy/controllers/root.py
  lib/galaxy/webapps/galaxy/controllers/tool_runner.py
  lib/galaxy/webapps/reports/controllers/history.py
  lib/galaxy/webapps/reports/controllers/system.py
  lib/galaxy/webapps/reports/controllers/tools.py
  lib/galaxy/workflow/extract.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/refactor/execute.py
Labels: kind/enhancement, area/workflows, area/reports, area/util

#19219 [24.2] Fix default value handling for parameters connected to required parameters
  lib/galaxy/model/__init__.py
  lib/galaxy/tool_util/models.py
  lib/galaxy/tool_util/parser/parameter_validators.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/base/workflow_fixtures.py
  lib/galaxy_test/workflow/default_values.gxwf-tests.yml
  lib/galaxy_test/workflow/default_values.gxwf.yml
  lib/galaxy_test/workflow/default_values_optional.gxwf-tests.yml
  lib/galaxy_test/workflow/default_values_optional.gxwf.yml
  lib/galaxy_test/workflow/test_framework_workflows.py
Labels: kind/bug, kind/enhancement, area/testing, area/workflows, area/testing/api

#19210 Cleanup test output console for tool panel tests.
  client/src/components/Panels/Common/ToolSearch.test.js
  client/src/components/Panels/Common/ToolSearch.vue
  client/src/components/Panels/ToolBox.vue
  client/src/components/Panels/ToolPanel.test.ts
  client/src/components/Panels/ToolPanel.vue
Labels: kind/bug, area/client
