Repository galaxyproject/galaxy, pull requests merged in 2024-05, with the labels that each got.

#18016 Consolidate Visualization container, avoid using default iframe
  client/src/components/Grid/GridList.vue
  client/src/components/Grid/configs/visualizations.ts
  client/src/components/Panels/VisualizationPanel.vue
  client/src/components/Visualizations/PluginList.vue
  client/src/components/Visualizations/VisualizationFrame.vue
  client/src/entry/analysis/router.js
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy_test/selenium/test_visualizations.py
Labels: kind/bug, kind/enhancement, area/UI-UX

#18071 Add Attributes section to Edit Collection view as well
  client/src/components/Collections/common/CollectionEditView.vue
  client/src/components/DatasetInformation/DatasetAttributes.vue
  client/src/stores/collectionElementsStore.ts
Labels: kind/enhancement, area/UI-UX

#18084 Fix toolbar header z-index
  client/src/style/scss/overrides.scss
Labels: kind/bug, area/UI-UX

#18076 chore: remove repetitive words
  client/src/components/Panels/FlexPanel.vue
  client/src/components/User/DiskUsage/Visualizations/ObjectStoresStorageOverview.vue
  client/src/libs/jquery/jquery.dynatree.js
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/datatypes/binary.py
  lib/galaxy/visualization/data_providers/genome.py
Labels: area/documentation, area/testing, area/admin, area/datatypes

#18078 [24.0] Improve error message for ``Extract dataset`` tool
  lib/galaxy/celery/tasks.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/extract_dataset.xml
  lib/galaxy_test/api/test_tools.py
Labels: kind/bug, area/tools

#18083 [23.2] Fix history export with missing dataset hids
  lib/galaxy/model/store/__init__.py
  test/unit/data/model/test_model_store.py
Labels: kind/bug, area/backend

#18080 add Net datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/chain.py
  lib/galaxy/datatypes/test/1.ucsc.net
Labels: kind/feature, area/datatypes

#18034 Add a button that filters out a tool section in the tool panel
  client/src/components/History/HistoryScrollList.vue
  client/src/components/Panels/Common/ToolPanelLabel.vue
  client/src/components/Panels/Common/ToolSearch.vue
  client/src/components/Panels/Common/ToolSection.vue
  client/src/components/Panels/ToolBox.vue
  client/src/components/Panels/utilities.test.js
  client/src/components/Panels/utilities.ts
  client/src/stores/toolStore.ts
Labels: kind/enhancement, area/UI-UX

#18061 [24.0] CitationsList - fix prop spec and config access.
  client/src/components/Citation/CitationsList.vue
Labels: kind/bug, area/UI-UX

#18091 [24.0] Tool linters: allow to skip by old linter names (by allowing to skip linter modules)
  lib/galaxy/tool_util/lint.py
  lib/galaxy/tool_util/linters/output.py
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing, area/tool-framework

#18085 Dynamic tool fixes
  lib/galaxy/managers/tools.py
  lib/galaxy/webapps/galaxy/api/dynamic_tools.py
Labels: area/API

#18092 [24.0] History Multiview panel shows pinned histories on top
  client/src/components/History/HistoryScrollList.vue
Labels: kind/bug, kind/enhancement, area/UI-UX

#18087 Overhaul Azure storage infrastructure.
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/files/sources/azure.py
  lib/galaxy/objectstore/azure_blob.py
  lib/galaxy/objectstore/caching.py
  lib/galaxy/objectstore/s3.py
  lib/galaxy/objectstore/unittest_utils/__init__.py
  lib/galaxy/util/unittest_utils/__init__.py
  lib/galaxy_test/driver/integration_util.py
  test/integration/objectstore/_base.py
  test/integration/objectstore/test_azure.py
  test/unit/files/_util.py
  test/unit/files/test_azure.py
  test/unit/objectstore/test_objectstore.py
Labels: kind/bug, kind/enhancement, area/testing, kind/feature, area/objectstore, area/backend

#18100 Fix AWS Object Store for us-east-2
  lib/galaxy/objectstore/cloud.py
  lib/galaxy/objectstore/s3.py
  test/unit/objectstore/test_objectstore.py
Labels: kind/bug, area/objectstore

#18099 Tests and bugfixes for cloudbridge object store.
  lib/galaxy/objectstore/cloud.py
  test/unit/objectstore/test_objectstore.py
Labels: kind/bug, area/testing, area/objectstore

#18103 Hide bookmark toggle on deleted workflows
  client/src/components/Workflow/WorkflowActions.vue
  client/src/components/Workflow/WorkflowList.vue
Labels: kind/bug, area/UI-UX

#18106 Fix for unexpected OIDC XML validation error
  lib/galaxy/authnz/xsd/oidc_backends_config.xsd
  lib/galaxy/config/sample/oidc_backends_config.xml.sample
Labels: area/auth

#18111 [24.0] Backport OIDC schema fix
  lib/galaxy/authnz/xsd/oidc_backends_config.xsd
  lib/galaxy/config/sample/oidc_backends_config.xml.sample
Labels: kind/bug, merge, area/auth

#18105 [23.2] Allow purge query param, deprecate purge body param
  client/src/api/schema/schema.ts
  lib/galaxy/managers/users.py
  lib/galaxy/schema/schema.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy_test/api/test_users.py
Labels: kind/bug, area/API

#18110 Fairly critical fix for #18087
  lib/galaxy/objectstore/azure_blob.py
Labels: kind/bug, area/backend

#18115 [24.0] Fix switching between nested collection elements
  client/src/components/History/CurrentCollection/CollectionPanel.vue
Labels: kind/bug, area/UI-UX, area/dataset-collections

#18120 Add vue sentry integration
  client/package.json
  client/src/onload/globalInits/initSentry.js
  client/yarn.lock
Labels: kind/enhancement, area/framework, area/client

#18118 [24.0] Ignore AdminRequired and RegisteredUserRequired Sentry events
  client/src/onload/globalInits/initSentry.js
Labels: kind/bug, area/framework

#18123 [24.0] Downgrade missing output file in working directory to warning for failed jobs
  lib/galaxy/jobs/__init__.py
Labels: area/jobs

#18121 [24.0] Don't log exception if cancelled slurm job doesn't have stderr file
  lib/galaxy/jobs/runners/slurm.py
Labels: kind/bug, area/admin

#18039 Add datasets/collections filter to history panel filters
  client/src/components/Common/FilterMenu.vue
  client/src/components/Common/FilterMenuDropdown.vue
  client/src/components/Common/FilterMenuInput.vue
  client/src/components/Common/FilterMenuQuotaSource.vue
  client/src/components/History/HistoryFilters.js
  client/src/components/Panels/Common/ToolSearch.vue
  client/src/utils/filtering.ts
Labels: kind/enhancement, area/UI-UX

#18094 [24.0] Raise exception if collection elements missing during download
  client/src/components/History/CurrentCollection/CollectionOperations.vue
  lib/galaxy/managers/hdcas.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
Labels: kind/bug, area/API, area/dataset-collections

#18112 [24.0] Fix and unify axios error handling
  client/src/components/Login/ChangePassword.vue
  client/src/components/Login/LoginForm.vue
  client/src/components/Login/NewUserConfirmation.vue
  client/src/components/Login/RegisterForm.vue
  client/src/components/User/ExternalIdentities/ExternalLogin.vue
Labels: kind/bug, area/UI-UX

#18109 [24.0] Fix activity bar touch events on iOS devices
  client/src/components/Popper/usePopper.ts
Labels: kind/bug, area/UI-UX

#18131 [24.0] Don't commit in ``DeleteIntermediatesAction``
  lib/galaxy/job_execution/actions/post.py
Labels: kind/bug, area/workflows

#18126 Revises handling of warnings in the workflow run form
  client/src/api/index.ts
  client/src/components/LoadingSpan.vue
  client/src/components/Workflow/Run/WorkflowRun.test.js
  client/src/components/Workflow/Run/WorkflowRun.vue
  client/src/utils/navigation/navigation.yml
  lib/galaxy/managers/workflows.py
  lib/galaxy_test/selenium/test_workflow_run.py
Labels: kind/enhancement, area/UI-UX

#18132 [24.0] Fix data default values not getting added to history
  lib/galaxy/tools/parameters/basic.py
Labels: area/tool-framework

#17366 Enable all-vs-all collection analysis patterns.
  lib/galaxy/config/sample/tool_conf.xml.sample
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/model_operations.py
  lib/galaxy/tools/cross_product_flat.xml
  lib/galaxy/tools/cross_product_nested.xml
  lib/galaxy/tools/flatten_collection.xml
  lib/galaxy/tools/model_operation_macros.xml
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/workflow_fixtures.py
  run_tests.sh
  test/functional/tools/sample_tool_conf.xml
Labels: kind/enhancement, kind/feature, area/dataset-collections

#18018 Document syntax for accessing nested parameters in `change_format` - `when` tags
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/tool-framework

#18135 Update s3fs dependency.
  lib/galaxy/dependencies/pinned-requirements.txt
  pyproject.toml
  test/unit/files/_util.py
  test/unit/files/test_azure.py
  test/unit/files/test_s3.py
Labels: kind/enhancement, area/backend

#18079 Script for deleting userless histories from database + testing + drop unused model testing code
  doc/source/admin/container_resolvers.rst
  doc/source/admin/useful_scripts.rst
  lib/galaxy/model/scripts/__init__.py
  lib/galaxy/model/scripts/history_table_pruner.py
  lib/galaxy/model/scripts/prune_history_table.py
  lib/galaxy/model/unittest_utils/gxy_model_fixtures.py
  lib/galaxy/model/unittest_utils/mapping_testing_utils.py
  lib/galaxy/model/unittest_utils/tsi_model_fixtures.py
  packages/data/setup.cfg
  test/unit/data/model/conftest.py
  test/unit/data/model/db/__init__.py
  test/unit/data/model/db/conftest.py
  test/unit/data/model/db/test_history_table_pruner.py
  test/unit/data/model/test_mapping_testing_utils.py
Labels: kind/feature, area/admin, area/database, area/scripts

#18141 [24.0] Fix undefined `reading 'produces_entry_points'` TypeError
  client/src/components/Tool/ToolSuccess.vue
Labels: kind/bug, area/UI-UX

#18152 Fix import broken with forward merge
  client/src/components/Login/RegisterForm.vue
  client/src/components/User/ExternalIdentities/ExternalLogin.vue
  lib/galaxy/model/scripts/history_table_pruner.py
Labels: kind/bug, minor, merge

#18151 [24.0] Delay tool form rendering until config is loaded
  client/src/components/Tool/ToolForm.vue
Labels: kind/bug

#16730 Only include tool stdout/stderr in HDA info
  lib/galaxy/jobs/__init__.py
Labels: area/jobs

#18155 [24.0] Raise ``RequestParameterInvalidException`` when url is invalid
  lib/galaxy/files/uris.py
Labels: kind/bug, area/API, area/upload

#18156 [24.0] Drop redundant error message
  lib/galaxy/jobs/handler.py
Labels: area/jobs, area/admin

#18134 Display DOIs in Archived Histories
  client/src/api/remoteFiles.ts
  client/src/api/schema/schema.ts
  client/src/components/Common/DOILink.vue
  client/src/components/Common/ExportRecordDOILink.vue
  client/src/components/FilesDialog/FilesDialog.vue
  client/src/components/History/Archiving/ArchivedHistoryCard.vue
  client/src/components/History/Archiving/HistoryArchive.vue
  client/src/components/History/Archiving/HistoryArchiveWizard.test.ts
  client/src/components/History/Export/HistoryExport.test.ts
  client/src/components/HistoryExport/Index.test.js
  client/src/components/HistoryImport.vue
  client/src/composables/fileSources.test.ts
  client/src/composables/fileSources.ts
  client/src/stores/fileSourcesStore.ts
  lib/galaxy/files/sources/__init__.py
  lib/galaxy/files/sources/_rdm.py
  lib/galaxy/schema/remote_files.py
Labels: kind/enhancement, area/UI-UX, highlight

#18169 [24.0] Fix error message when accessing restricted Zenodo records
  lib/galaxy/files/sources/invenio.py
Labels: kind/bug, area/UI-UX, area/backend

#18170 Small refinements and fixes to new release process doc
  doc/source/index.rst
  doc/source/project/releases.rst
Labels: kind/bug, area/documentation

#17540 Add onedata objectstore
  lib/galaxy/config/sample/file_sources_conf.yml.sample
  lib/galaxy/config/sample/object_store_conf.sample.yml
  lib/galaxy/config/sample/object_store_conf.xml.sample
  lib/galaxy/config/sample/user_preferences_extra_conf.yml.sample
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/files/sources/onedata.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/objectstore/onedata.py
  pyproject.toml
  test/integration/objectstore/_base.py
  test/integration/objectstore/test_onedata_objectstore.py
Labels: area/testing, area/dependencies, area/objectstore, area/testing/integration

#18088 Change `InvocationsList` into a grid using `GridList`
  client/src/api/workflows.ts
  client/src/components/Grid/GridElements/GridExpand.vue
  client/src/components/Grid/GridInvocation.vue
  client/src/components/Grid/GridList.vue
  client/src/components/Grid/configs/invocations.ts
  client/src/components/Grid/configs/invocationsHistory.ts
  client/src/components/Grid/configs/invocationsWorkflow.ts
  client/src/components/Grid/configs/types.ts
  client/src/components/HistoryImport.vue
  client/src/components/Workflow/HistoryInvocations.vue
  client/src/components/Workflow/InvocationsList.test.js
  client/src/components/Workflow/InvocationsList.vue
  client/src/components/Workflow/StoredWorkflowInvocations.vue
  client/src/components/Workflow/UserInvocations.vue
  client/src/components/Workflow/WorkflowRunButton.vue
  client/src/components/Workflow/paginationMixin.js
  client/src/components/WorkflowInvocationState/WorkflowInvocationOverview.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/components/admin/ActiveInvocations.vue
  client/src/entry/analysis/router.js
  client/src/entry/analysis/routes/admin-routes.js
  client/src/utils/navigation/navigation.yml
  client/src/utils/navigation/schema.ts
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy_test/selenium/test_invocation_grid.py
Labels: kind/enhancement, area/UI-UX

#18054 Add support for additional media types
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/media.py
Labels: area/datatypes

#18175 [24.0] Downgrade count lines error to warning
  lib/galaxy/datatypes/data.py
Labels: kind/bug, area/admin

#18178 [24.0] Emit warning when user-cancelled job already complete
  lib/galaxy/jobs/runners/drmaa.py
Labels: kind/bug, area/admin

#18173 Fix boto3-stubs typecheck dependency
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/dependencies/pinned-typecheck-requirements.txt
  lib/galaxy/jobs/runners/aws.py
  pyproject.toml
Labels: kind/bug, kind/enhancement, area/jobs, area/dependencies

#18137 Add an Invocations Panel for the Invocations activity
  client/src/components/ActivityBar/ActivityBar.vue
  client/src/components/Common/Heading.vue
  client/src/components/Grid/configs/invocations.ts
  client/src/components/Panels/InvocationsPanel.vue
  client/src/components/ToolsList/ScrollToTopButton.vue
  client/src/components/Workflow/Invocation/InvocationScrollList.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/entry/analysis/router.js
  client/src/stores/activitySetup.ts
Labels: area/UI-UX, kind/feature

#18177 Merge 24.0 into dev
  client/src/components/PageDisplay/PageHtml.vue
  client/src/components/Tool/ToolForm.vue
  client/src/components/Tool/ToolSuccess.vue
  client/src/components/User/DiskUsage/Management/StorageManager.vue
  lib/galaxy/files/sources/invenio.py
  lib/galaxy/files/uris.py
  lib/galaxy/job_execution/actions/post.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/tools/parameters/basic.py
Labels: area/jobs, merge, area/tool-framework

#17586 Set minimal metadata also for empty bed datasets
  lib/galaxy/datatypes/interval.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/datatypes

#18174 De-duplication of onedata objectstore code.
  lib/galaxy/objectstore/_caching_base.py
  lib/galaxy/objectstore/onedata.py
Labels: kind/bug, kind/refactoring, area/objectstore, area/backend

#18180 Improve Invocations panel
  client/src/components/Workflow/Invocation/InvocationScrollList.vue
Labels: kind/bug, area/UI-UX

#18181 [24.0] Fix typos in create release documentation page
  doc/source/dev/create_release.rst
Labels: kind/bug, area/documentation

#18183 Update db revision 24.1 release tags
  lib/galaxy/model/migrations/dbscript.py
Labels: kind/enhancement, area/database

#18182 [24.1] Move activity panel go to button to top
  client/src/components/ActivityBar/ActivitySettings.test.js
  client/src/components/ActivityBar/ActivitySettings.vue
  client/src/components/History/HistoryScrollList.vue
  client/src/components/Panels/ActivityPanel.vue
  client/src/components/Panels/InvocationsPanel.vue
  client/src/components/Panels/MultiviewPanel.vue
  client/src/components/Panels/SettingsPanel.vue
  client/src/components/Panels/VisualizationPanel.vue
  client/src/components/Workflow/Invocation/InvocationScrollList.vue
  client/src/components/admin/AdminPanel.test.js
  client/src/components/admin/AdminPanel.vue
  client/src/style/scss/list-item.scss
Labels: kind/enhancement, area/UI-UX

#18184 [24.1] Update version to 24.1.rc1
  lib/galaxy/version.py
Labels: minor

#18185 Update version to 24.2.dev
  Makefile
  lib/galaxy/version.py
Labels: minor

#18186 Change default milestone to target 24.2
  .github/workflows/maintenance_bot.yaml
Labels: kind/bug, area/documentation

#18187 [24.0] Fix on success redirect
  client/src/components/Tool/ToolSuccess.vue
Labels: kind/bug, area/UI-UX, minor

#18059 Add pagination support to Files Source plugins
  client/src/api/remoteFiles.ts
  client/src/api/schema/schema.ts
  client/src/components/FilesDialog/FilesDialog.test.ts
  client/src/components/FilesDialog/FilesDialog.vue
  client/src/components/SelectionDialog/DataDialogSearch.vue
  client/src/components/SelectionDialog/SelectionDialog.vue
  client/src/components/SelectionDialog/selectionTypes.ts
  lib/galaxy/files/sources/__init__.py
  lib/galaxy/files/sources/_pyfilesystem2.py
  lib/galaxy/files/sources/_rdm.py
  lib/galaxy/files/sources/invenio.py
  lib/galaxy/files/sources/posix.py
  lib/galaxy/files/sources/s3fs.py
  lib/galaxy/files/sources/temp.py
  lib/galaxy/managers/remote_files.py
  lib/galaxy/schema/remote_files.py
  lib/galaxy/webapps/galaxy/api/remote_files.py
  test/unit/files/_util.py
  test/unit/files/test_basespace.py
  test/unit/files/test_temp.py
  test/unit/files/test_webdav.py
Labels: kind/enhancement, area/backend

#18188 [24.0] Fix Edit Dataset UI when there is an error retrieving the dataset
  client/src/components/DatasetInformation/DatasetAttributes.test.js
  client/src/components/DatasetInformation/DatasetAttributes.vue
Labels: kind/bug, area/UI-UX

#18190 [24.0] Avoid object store path lookup when constructing JobState object
  lib/galaxy/jobs/runners/__init__.py
Labels: kind/bug, area/jobs, area/performance

#18197 Update versions of GitHub actions
  .github/workflows/api.yaml
  .github/workflows/build_client.yaml
  .github/workflows/build_container_image.yaml
  .github/workflows/check_test_class_names.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/converter_tests.yaml
  .github/workflows/cwl_conformance.yaml
  .github/workflows/db_indexes.yaml
  .github/workflows/dependencies.yaml
  .github/workflows/deployment.yaml
  .github/workflows/docs.yaml
  .github/workflows/first_startup.yaml
  .github/workflows/framework.yaml
  .github/workflows/integration.yaml
  .github/workflows/integration_selenium.yaml
  .github/workflows/jest.yaml
  .github/workflows/js_lint.yaml
  .github/workflows/labels-verifier.yaml
  .github/workflows/lint.yaml
  .github/workflows/lint_openapi_schema.yml
  .github/workflows/maintenance_bot.yaml
  .github/workflows/mulled.yaml
  .github/workflows/osx_startup.yaml
  .github/workflows/performance.yaml
  .github/workflows/publish_artifacts.yaml
  .github/workflows/reports_startup.yaml
  .github/workflows/selenium.yaml
  .github/workflows/test_galaxy_packages.yaml
  .github/workflows/test_galaxy_packages_for_pulsar.yaml
  .github/workflows/test_galaxy_release.yaml
  .github/workflows/toolshed.yaml
  .github/workflows/unit-postgres.yaml
  .github/workflows/unit.yaml
Labels: kind/refactoring, area/testing

#18200 [24.0] Fix `make all histories private` with immutable histories
  client/src/components/User/UserPreferences.vue
  lib/galaxy/webapps/galaxy/controllers/history.py
Labels: kind/bug, area/backend

#18201 [24.1] Fix selection highlight in Files Dialog when using items provider
  client/src/components/FilesDialog/FilesDialog.vue
Labels: kind/bug, area/UI-UX

#18202 [24.0] Remove legacy code, reference to sqlalchemy migrate
  scripts/manage_db.py
Labels: kind/bug, area/toolshed, area/database

#18206 play nice with password managers
  client/src/components/Login/ChangePassword.vue
  client/src/components/Login/LoginForm.vue
  client/src/components/Login/RegisterForm.vue
Labels: kind/enhancement, area/UI-UX

#18193 [24.0] Fix submitted value in workflow run form if data is constrained by tag filter
  client/src/components/Form/Elements/FormData/FormData.vue
  client/src/components/Form/Elements/FormSelect.vue
  lib/galaxy_test/base/workflow_fixtures.py
  lib/galaxy_test/selenium/test_workflow_run.py
Labels: kind/bug, area/UI-UX, area/workflows

#18207 [24.0] Add string cast for dbkey / genome_build
  lib/galaxy/managers/datasets.py
Labels: kind/bug, area/API, area/database

#18208 [24.0] Include stack when reporting delete error
  lib/galaxy/objectstore/__init__.py
Labels: kind/bug, area/admin

#18194 [24.0] Replace `Multiselect` `selectLabel` with icons in `FormSelect`
  client/src/components/Form/Elements/FormSelect.test.js
  client/src/components/Form/Elements/FormSelect.vue
Labels: kind/bug, area/UI-UX

#18191 [24.1] Fix file source search query with empty string value
  lib/galaxy/files/sources/__init__.py
  lib/galaxy/files/sources/_pyfilesystem2.py
  test/unit/files/test_temp.py
Labels: kind/bug, area/backend

#18196 Drop "Send to cloud" tool and associated cloudauthz code
  client/src/api/schema/schema.ts
  client/src/components/User/CloudAuth/CloudAuth.test.js
  client/src/components/User/CloudAuth/CloudAuth.vue
  client/src/components/User/CloudAuth/CloudAuthItem.vue
  client/src/components/User/CloudAuth/CredentialConfig.vue
  client/src/components/User/CloudAuth/CredentialForm.vue
  client/src/components/User/CloudAuth/index.js
  client/src/components/User/CloudAuth/model/AwsConfig.js
  client/src/components/User/CloudAuth/model/AwsConfig.test.js
  client/src/components/User/CloudAuth/model/AzureConfig.js
  client/src/components/User/CloudAuth/model/AzureConfig.test.js
  client/src/components/User/CloudAuth/model/BaseModel.js
  client/src/components/User/CloudAuth/model/Credential.js
  client/src/components/User/CloudAuth/model/Credential.test.js
  client/src/components/User/CloudAuth/model/IdentityProvider.js
  client/src/components/User/CloudAuth/model/ResourceProviders.js
  client/src/components/User/CloudAuth/model/index.js
  client/src/components/User/CloudAuth/model/service.js
  client/src/components/User/CloudAuth/testdata/listCredentials.json
  client/src/entry/analysis/router.js
  lib/galaxy/authnz/managers.py
  lib/galaxy/managers/cloud.py
  lib/galaxy/managers/cloudauthzs.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrations/alembic/versions_gxy/570bce1e82f9_drop_cloudauthz_table.py
  lib/galaxy/schema/cloud.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/api/cloud.py
  lib/galaxy/webapps/galaxy/api/cloudauthz.py
  lib/galaxy/webapps/galaxy/buildapp.py
  test/integration/cloudauthz/__init__.py
  test/integration/cloudauthz/test_cloudauthz.py
  tools/data_export/send.py
  tools/data_export/send.xml
Labels: kind/bug, area/API, area/tools, area/database, area/auth, area/client

#18179 [24.0] Don't fail metadata if we only have an extra output files dir
  lib/galaxy/metadata/set_metadata.py
  test/functional/tools/composite_output.xml
  test/functional/tools/composite_output_tests.xml
Labels: kind/bug, area/jobs

#18203 [24.0] Add `GenericItem` error handling
  client/src/components/History/Content/GenericItem.vue
Labels: kind/bug, area/UI-UX

#18212 [24.0] Backport #18197
  .github/codeql/codeql-config.yml
  .github/labeler.yml
  .github/workflows/api.yaml
  .github/workflows/build_client.yaml
  .github/workflows/build_container_image.yaml
  .github/workflows/check_test_class_names.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/converter_tests.yaml
  .github/workflows/cwl_conformance.yaml
  .github/workflows/db_indexes.yaml
  .github/workflows/dependencies.yaml
  .github/workflows/deployment.yaml
  .github/workflows/docs.yaml
  .github/workflows/first_startup.yaml
  .github/workflows/framework.yaml
  .github/workflows/integration.yaml
  .github/workflows/integration_selenium.yaml
  .github/workflows/jest.yaml
  .github/workflows/js_lint.yaml
  .github/workflows/labels-verifier.yaml
  .github/workflows/lint.yaml
  .github/workflows/lint_openapi_schema.yml
  .github/workflows/maintenance_bot.yaml
  .github/workflows/mulled.yaml
  .github/workflows/osx_startup.yaml
  .github/workflows/performance.yaml
  .github/workflows/publish_artifacts.yaml
  .github/workflows/reports_startup.yaml
  .github/workflows/selenium.yaml
  .github/workflows/test_galaxy_packages.yaml
  .github/workflows/test_galaxy_packages_for_pulsar.yaml
  .github/workflows/test_galaxy_release.yaml
  .github/workflows/toolshed.yaml
  .github/workflows/unit-postgres.yaml
  .github/workflows/unit.yaml
Labels: kind/bug, area/testing

#18215 [24.0] Use config_section to distinguish between galaxy and ts or other apps
  lib/galaxy/util/properties.py
  lib/tool_shed/webapp/model/migrations/scripts.py
Labels: kind/bug, area/database, area/scripts, area/configuration

#18192 [24.0] Prevent anonymous and inactive users from running workflows
  lib/galaxy/webapps/galaxy/services/workflows.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/bug, area/backend

#18199 [24.1] Revert some requests import changes
  lib/galaxy/app.py
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/tools/error_reports/plugins/gitlab.py
  lib/galaxy/util/__init__.py
  lib/galaxy_test/api/test_drs.py
  lib/galaxy_test/api/test_jobs.py
  lib/galaxy_test/base/api.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/selenium/framework.py
  lib/tool_shed/test/base/api_util.py
  lib/tool_shed/test/base/populators.py
  lib/tool_shed/test/base/twilltestcase.py
  scripts/api/fetch_to_library.py
  scripts/api/search.py
  scripts/api/upload_to_history.py
  scripts/resumable_upload.py
  scripts/tool_shed/api/common.py
  test/integration/test_interactivetools_api.py
  test/integration/test_job_files.py
  test/unit/tool_shed/test_shed_index.py
  test/unit/util/test_get_url.py
  test/unit/webapps/test_client_disconnect.py
Labels: kind/bug, area/testing, area/scripts, area/tool-framework, area/util, area/testing/api, area/testing/integration, area/testing/selenium

#18217 [24.0] Restrict job_files access to jobs that are not terminal
  lib/galaxy/webapps/galaxy/api/job_files.py
  lib/galaxy/webapps/galaxy/api/job_tokens.py
Labels: kind/bug, area/jobs

#18214 [24.0] Check dataset state when attempting to acces dataset contents
  lib/galaxy/managers/datasets.py
  lib/galaxy/webapps/galaxy/services/datasets.py
  lib/galaxy_test/api/test_datasets.py
Labels: kind/bug, area/testing, area/API, area/testing/api

#17818 [24.0] do not expand datasets that are known to be inaccessible
  client/openapi_to_schema.mjs
  client/src/api/index.ts
  client/src/api/schema/schema.ts
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/Dataset/DatasetDetails.vue
  client/src/components/History/Content/model/states.ts
  client/src/components/History/CurrentCollection/CollectionPanel.vue
  client/src/components/History/CurrentHistory/HistoryCounter.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/stores/collectionElementsStore.test.ts
  client/src/stores/datasetStore.ts
  client/src/style/scss/base.scss
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/galaxy/services/dataset_collections.py
Labels: kind/bug, area/UI-UX

#18230 [24.0] Raise ``RequestParameterInvalidException`` if url can't be verified
  lib/galaxy/files/uris.py
Labels: kind/bug, area/upload

#18231 [24.0] Don't set dataset peek for errored jobs
  lib/galaxy/datatypes/molecules.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/jobs, area/datatypes

#18229 [24.0] Decrease log level for expected visualization errors
  lib/galaxy/webapps/galaxy/controllers/visualization.py
Labels: kind/bug, minor, area/admin

#18223 [24.0] Raise appropriate exception if accessing deleted input file
  lib/galaxy/webapps/galaxy/api/job_files.py
  test/integration/test_job_files.py
Labels: kind/bug, area/jobs

#18233 [24.0] Reset content-length for unhandled exceptions
  lib/galaxy/web/framework/base.py
Labels: kind/bug, area/API

#18235 [24.0] Fix element serialization for collections that aren't populated yet
  lib/galaxy/webapps/galaxy/services/dataset_collections.py
Labels: kind/bug, area/API

#18243 [24.0] Fix userOwnsHistory conditions
  client/src/api/index.test.ts
  client/src/api/index.ts
  client/src/components/History/Modals/SelectorModal.test.js
Labels: kind/bug, area/UI-UX

#18204 [24.1] Tighten axt sniffer
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/chain.py
  lib/galaxy/datatypes/sequence.py
  lib/galaxy/datatypes/test/2.chain
Labels: kind/bug, kind/enhancement, area/datatypes

#18234 [24.1] Drop restriction to switch to immutable histories
  client/src/api/index.test.ts
  client/src/api/index.ts
  client/src/components/Grid/configs/histories.ts
  client/src/components/History/Archiving/ArchivedHistoryCard.vue
  client/src/components/History/Archiving/HistoryArchive.vue
  client/src/components/History/CurrentCollection/CollectionPanel.vue
  client/src/components/History/CurrentHistory/HistoryCounter.vue
  client/src/components/History/CurrentHistory/HistoryMessages.vue
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/HistoryView.test.js
  client/src/components/History/HistoryView.vue
  client/src/components/History/Modals/SelectorModal.test.js
  client/src/components/Tool/ToolForm.vue
  client/src/components/Upload/UploadContainer.vue
  client/src/components/User/DiskUsage/Visualizations/HistoriesStorageOverview.vue
  client/src/components/User/DiskUsage/Visualizations/HistoryStorageOverview.vue
  client/src/components/User/DiskUsage/Visualizations/SelectedItemActions.vue
  client/src/components/Workflow/Run/WorkflowRun.vue
  client/src/components/Workflow/Run/WorkflowRunForm.vue
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy/webapps/galaxy/controllers/workflow.py
Labels: kind/bug, kind/enhancement, area/UI-UX

#18247 [24.1] Allow bookmarking public workflows
  client/src/components/Workflow/WorkflowActions.vue
Labels: kind/enhancement, area/UI-UX

#18244 [24.1] Change `ActivityPanel` go to button to primary
  client/src/components/Panels/ActivityPanel.vue
Labels: kind/bug, area/UI-UX, minor

#18250 [24.0] Skip tests if toolshed, dx.doi not responding
  lib/galaxy/managers/citations.py
  lib/galaxy_test/driver/uses_shed.py
  test/unit/app/managers/test_CitationsManager_db.py
  test/unit/app/test_galaxy_install.py
Labels: area/UI-UX, area/testing

#18267 [23.1] Add missing TS migration
  lib/tool_shed/webapp/model/__init__.py
  lib/tool_shed/webapp/model/migrations/alembic/versions/1b5bf427db25_add_non_nullable_column_deleted_to_api_.py
Labels: kind/bug, area/toolshed, area/database

#18270 [24.1] Merge 24.0 into 24.1
  lib/tool_shed/webapp/model/__init__.py
  lib/tool_shed/webapp/model/migrations/alembic/versions/1b5bf427db25_add_non_nullable_column_deleted_to_api_.py
Labels: merge, area/database

#18268 [23.2] Add ``hgweb_repo_prefix`` attribute to ``TestToolShedConfig``
  test/unit/tool_shed/_util.py
Labels: kind/bug, area/testing

#18273 [24.0] Format with black
  lib/tool_shed/webapp/model/migrations/alembic/versions/1b5bf427db25_add_non_nullable_column_deleted_to_api_.py
Labels: kind/bug, area/UI-UX

#18274 [24.1] Fix handler: access to result row items changed in SA2.0
  lib/galaxy/jobs/handler.py
Labels: kind/bug, area/database

#18248 [24.0] Transparently open compressed files in DatasetDataProvider
  lib/galaxy/datatypes/dataproviders/dataset.py
Labels: kind/bug, area/datatype-framework

#18249 [24.0] Raise exception when extracting dataset from collection without datasets
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/__init__.py
Labels: kind/bug, area/tools, area/dataset-collections

#18255 [24.0] Fix Invenio credentials handling
  lib/galaxy/files/sources/_rdm.py
  lib/galaxy/files/sources/invenio.py
Labels: kind/bug, area/UI-UX, area/backend

#18251 [24.1] Fix history export error handling
  client/src/components/History/Export/HistoryExport.test.ts
  client/src/components/History/Export/HistoryExport.vue
  client/src/store/historyStore/model/watchHistory.test.js
  client/src/stores/historyStore.ts
Labels: kind/bug, area/UI-UX

#18271 [23.1] Add revision tags for TS migration in 23.1
  lib/tool_shed/webapp/model/migrations/dbscript.py
Labels: kind/bug, area/database

#18252 [24.1] Remove linter for unstripped text content for tool xml leaves
  lib/galaxy/tool_util/linters/general.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  test/unit/tool_util/test_tool_linters.py
Labels: area/UI-UX, area/testing, area/tool-framework

#18236 [24.0] Only log error if deleting directory really failed
  lib/galaxy/objectstore/__init__.py
Labels: kind/bug, area/admin

#18278 [24.0] Don't attempt to download purged datasets
  lib/galaxy/managers/hdcas.py
Labels: kind/bug, area/API, area/backend

#18263 [24.0] Set page importable to false when serializing
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/API

#18284 [24.0] Fix first_dataset_element type hint
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/backend

#18293 [23.2] Add toolshed database revision tags for 23.2
  lib/tool_shed/webapp/model/migrations/dbscript.py
Labels: kind/bug, area/database

#18294 [24.0] Add TS db revision tags for 24.0
  lib/tool_shed/webapp/model/migrations/dbscript.py
Labels: kind/bug, area/database

#18288 Merge 24.0, 24.1 into dev
  client/src/components/History/Export/HistoryExport.test.ts
  client/src/components/History/Export/HistoryExport.vue
  client/src/store/historyStore/model/watchHistory.test.js
  client/src/stores/historyStore.ts
  lib/galaxy/datatypes/dataproviders/dataset.py
  lib/galaxy/files/sources/_rdm.py
  lib/galaxy/files/sources/invenio.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/managers/hdcas.py
  lib/galaxy/model/__init__.py
  lib/galaxy/objectstore/__init__.py
  lib/galaxy/tool_util/linters/general.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/__init__.py
  lib/tool_shed/webapp/model/migrations/alembic/versions/1b5bf427db25_add_non_nullable_column_deleted_to_api_.py
  test/unit/tool_shed/_util.py
  test/unit/tool_util/test_tool_linters.py
Labels: area/UI-UX, area/testing, area/jobs, merge, area/database, area/datatypes, area/tool-framework, area/objectstore

#18289 [24.0] Use correct link for log in or register in Copy Modal
  client/src/components/History/Modals/CopyModal.vue
Labels: kind/bug, area/UI-UX

#18286 [24.0] Redirect anonymous users to home when importing public histories
  client/src/components/History/HistoryView.vue
Labels: kind/bug, area/UI-UX

#18283 [24.0] Check various preconditions in FeatureLocationIndexDataProvider
  lib/galaxy/visualization/data_providers/genome.py
Labels: kind/bug, area/visualizations
