Repository galaxyproject/galaxy, pull requests merged in 2025-02, with the labels that each got.

#19507 [24.2] Fix workflowID assignment in Markdown.vue
  client/src/components/Markdown/Markdown.vue
Labels: kind/bug, area/UI-UX

#19514 [24.2] Skip token refresh without refresh token in psa
  lib/galaxy/authnz/psa_authnz.py
Labels: area/auth

#19336 Add workflow selection and bulk actions
  client/src/components/Common/ListHeader.vue
  client/src/components/Common/TagsSelectionDialog.vue
  client/src/components/Workflow/List/WorkflowCard.vue
  client/src/components/Workflow/List/WorkflowCardList.vue
  client/src/components/Workflow/List/WorkflowList.vue
Labels: area/UI-UX

#19518 [24.2] Downgrade 'InteractiveTools are not enabled' to warning
  lib/galaxy/tool_util/toolbox/__init__.py
  lib/galaxy/tool_util/toolbox/base.py
  lib/galaxy/tools/__init__.py
Labels: kind/bug, area/admin, area/configuration

#19497 [24.2] Set a hard limit of 100 invocations per request in api/invocations
  lib/galaxy/webapps/galaxy/api/workflows.py
Labels: area/API, area/workflows, area/performance

#19528 [24.2] Fix tool search constantly loading bug
  client/src/components/Panels/Common/ToolSearch.vue
Labels: kind/bug, area/UI-UX

#19413 Prevent users from reusing a banned email after account is purged
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app_unittest_utils/galaxy_mock.py
  lib/galaxy/config/config_manage.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/sample/tool_shed.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/config/schemas/tool_shed_config_schema.yml
  lib/galaxy/security/validate_user_input.py
  test/unit/data/security/test_validate_user_input.py
Labels: kind/feature, area/admin, highlight/admin

#19537 [24.0] Fix admin cancel job message not being displayed to the user
  lib/galaxy/managers/jobs.py
  lib/galaxy/model/__init__.py
  lib/galaxy_test/api/test_jobs.py
Labels: kind/bug, area/backend

#19495 [24.2] Use visualizations api in trackster
  client/src/viz/trackster.js
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/galaxy/buildapp.py
  lib/galaxy/webapps/galaxy/controllers/visualization.py
Labels: kind/bug, area/UI-UX, area/API

#19520 [24.2] Fix WSGI response status handling in controller methods
  lib/galaxy/web/framework/base.py
  lib/galaxy/webapps/galaxy/controllers/root.py
Labels: kind/bug

#19494 [24.0] Prevent cycling through failing conversion jobs in trackster
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/API, area/visualizations

#19532 [24.1] Fix remap for parameter called id
  lib/galaxy/managers/jobs.py
Labels: kind/bug, area/job-caching

#19526 [24.2] Fix error message when subworkflow input connection missing
  lib/galaxy/model/__init__.py
  lib/galaxy/workflow/run.py
  lib/galaxy/workflow/run_request.py
  lib/galaxy_test/api/test_workflows.py
  test/unit/workflows/test_workflow_progress.py
Labels: kind/bug, area/workflows, area/workflows/subworkflows

#19543 [24.2] Add tool_id index on job table
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrations/alembic/versions_gxy/a4c3ef999ab5_add_index_on_tool_id_column_of_job_table.py
Labels: kind/bug, area/performance, area/database

#19544 [24.2] Use instance wide default ``real_system_username`` if not defined on destination
  lib/galaxy/jobs/__init__.py
Labels: area/jobs

#19551 [24.2] Provide guidance in case of deadlock during db migration
  doc/source/admin/db_migration.md
  lib/galaxy/model/migrations/alembic/env.py
  lib/galaxy/model/migrations/alembic/versions_gxy/9a5207190a4d_remove_unique_constraint_from_role_name.py
Labels: kind/bug, area/documentation, area/database

#19223 [24.2] Release notes
  doc/source/releases/24.2.rst
  doc/source/releases/24.2_announce.rst
  doc/source/releases/24.2_announce_user.rst
  doc/source/releases/24.2_prs.rst
  doc/source/releases/25.0_announce.rst
  doc/source/releases/images/24.2-export-invocation-wizard.gif
  doc/source/releases/images/24.2-invocation-view-improvements-after.png
  doc/source/releases/images/24.2-invocation-view-improvements-before.png
  doc/source/releases/images/24.2-workflow-invocation-metrics.png
  doc/source/releases/index.rst
Labels: area/documentation, kind/feature

#19553 [24.0] Fix libraries folder include deleted
  client/src/components/Libraries/LibraryFolder/LibraryFolder.vue
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
Labels: kind/bug, area/UI-UX, area/libraries

#19561 [24.2] Fix saved visualization (non-trackster ones) not displaying
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: kind/bug, area/UI-UX

#19566 Fix package versions
  packages/app/setup.cfg
  packages/auth/setup.cfg
  packages/config/setup.cfg
  packages/data/setup.cfg
  packages/files/setup.cfg
  packages/job_execution/setup.cfg
  packages/job_metrics/setup.cfg
  packages/meta/setup.cfg
  packages/navigation/setup.cfg
  packages/objectstore/setup.cfg
  packages/schema/setup.cfg
  packages/selenium/setup.cfg
  packages/test_api/setup.cfg
  packages/test_base/setup.cfg
  packages/test_driver/setup.cfg
  packages/test_selenium/setup.cfg
  packages/tool_shed/setup.cfg
  packages/tool_util/setup.cfg
  packages/tours/setup.cfg
  packages/util/setup.cfg
  packages/web_apps/setup.cfg
  packages/web_framework/setup.cfg
  packages/web_stack/setup.cfg
Labels: minor, area/packaging

#19555 [24.2] Fix "export datasets" tool displaying dialog right away
  client/src/components/FilesDialog/FilesDialog.vue
  client/src/components/Form/Elements/FormDirectory.vue
Labels: kind/bug, area/UI-UX

#19569 [24.2] Add Python 3.13 classifier to packages
  packages/app/setup.cfg
  packages/auth/setup.cfg
  packages/config/setup.cfg
  packages/data/setup.cfg
  packages/files/setup.cfg
  packages/job_execution/setup.cfg
  packages/job_metrics/setup.cfg
  packages/meta/setup.cfg
  packages/navigation/setup.cfg
  packages/objectstore/setup.cfg
  packages/schema/setup.cfg
  packages/selenium/setup.cfg
  packages/test_api/setup.cfg
  packages/test_base/setup.cfg
  packages/test_driver/setup.cfg
  packages/test_selenium/setup.cfg
  packages/tool_shed/setup.cfg
  packages/tool_util/setup.cfg
  packages/tours/setup.cfg
  packages/util/setup.cfg
  packages/web_apps/setup.cfg
  packages/web_framework/setup.cfg
  packages/web_stack/setup.cfg
Labels: area/packaging

#19571 [24.0] Fix type annotations for pysam 0.23.0
  lib/galaxy/datatypes/binary.py
  test/unit/data/datatypes/test_bam.py
Labels: area/testing, merge, area/datatypes

#19574 [24.2] Allow unused query params in ``workflows/export_to_file``
  lib/galaxy/webapps/galaxy/controllers/workflow.py
Labels: kind/bug, area/API, area/workflows

#19585 [24.1] Fix collection load error handling
  client/src/components/Collections/common/CollectionEditView.vue
  client/src/components/History/CurrentCollection/CollectionPanel.vue
  client/src/composables/keyedCache.ts
  client/src/stores/collectionAttributesStore.ts
  client/src/stores/collectionElementsStore.ts
Labels: kind/bug, area/UI-UX

#19582 [24.2] Handle isatools dependency
  lib/galaxy/datatypes/isa.py
  packages/data/setup.cfg
Labels: kind/bug, area/datatypes, area/packaging, dependencies

#19578 [24.1] Fix job paused on user defined object store
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/quota/__init__.py
  test/integration/objectstore/test_per_user.py
Labels: kind/bug, area/backend

#19428 Add IGB display support for CRAM files
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/display_applications/configs/igb/cram.xml
Labels: area/datatypes

#19403 Change galaxy system user uid for K8s image
  .k8s_ci.Dockerfile
  lib/galaxy/config/sample/job_conf.xml.sample_advanced
Labels: kind/refactoring, area/deployment

#19590 Merge 24.2 into dev
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/quota/__init__.py
  test/integration/objectstore/test_per_user.py
Labels: merge, area/backend

#19353 Hide outdated visualizations from visualizations activity panel
  config/plugins/visualizations/jqplot/jqplot_bar/config/jqplot_bar.xml
  config/plugins/visualizations/jqplot/jqplot_box/config/jqplot_box.xml
  config/plugins/visualizations/jqplot/jqplot_histogram/config/jqplot_histogram.xml
  config/plugins/visualizations/jqplot/jqplot_line/config/jqplot_line.xml
  config/plugins/visualizations/jqplot/jqplot_scatter/config/jqplot_scatter.xml
  config/plugins/visualizations/nvd3/nvd3_bar/config/nvd3_bar.xml
  config/plugins/visualizations/nvd3/nvd3_bar_stacked/config/nvd3_bar_stacked.xml
  config/plugins/visualizations/nvd3/nvd3_histogram/config/nvd3_histogram.xml
  config/plugins/visualizations/nvd3/nvd3_histogram_discrete/config/nvd3_histogram_discrete.xml
  config/plugins/visualizations/nvd3/nvd3_horizontal/config/nvd3_horizontal.xml
  config/plugins/visualizations/nvd3/nvd3_horizontal_stacked/config/nvd3_horizontal_stacked.xml
  config/plugins/visualizations/nvd3/nvd3_line/config/nvd3_line.xml
  config/plugins/visualizations/nvd3/nvd3_line_focus/config/nvd3_line_focus.xml
  config/plugins/visualizations/nvd3/nvd3_pie/config/nvd3_pie.xml
  config/plugins/visualizations/nvd3/nvd3_scatter/config/nvd3_scatter.xml
  config/plugins/visualizations/nvd3/nvd3_stackedarea/config/nvd3_stackedarea.xml
  config/plugins/visualizations/nvd3/nvd3_stackedarea_full/config/nvd3_stackedarea_full.xml
  config/plugins/visualizations/nvd3/nvd3_stackedarea_stream/config/nvd3_stackedarea_stream.xml
  config/plugins/visualizations/pv/config/pv.xml
  config/plugins/visualizations/scatterplot/config/scatterplot.xml
  lib/galaxy/visualization/plugins/config_parser.py
  lib/galaxy/visualization/plugins/registry.py
  lib/galaxy/webapps/galaxy/api/plugins.py
Labels: kind/enhancement, area/UI-UX

#19598 [24.2] Updated registration warning message
  doc/source/admin/galaxy_options.rst
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
Labels: area/documentation, area/admin

#19599 [24.2] Fix missing name in user-defined object store list
  client/src/components/ObjectStore/Instances/ManageIndex.vue
Labels: kind/bug, area/UI-UX

#19613 [24.2] Remove redundant `Create Collection` ok button from collection creator
  client/src/components/Collections/CollectionCreatorModal.vue
Labels: kind/bug, area/UI-UX

#19610 [24.0] Fix user preferences secret (without vault) lost on save
  lib/galaxy/webapps/galaxy/api/users.py
  test/integration/test_vault_extra_prefs.py
  test/integration/user_preferences_extra_conf.yml
Labels: kind/bug, area/backend

#19618 [24.2] Fix dangling workflow store references
  client/src/composables/timeoutStoreDispose.ts
  client/src/composables/workflowStores.ts
Labels: kind/bug, area/UI-UX, area/workflows

#19614 [24.2] Remove unused and broken methods
  lib/galaxy/authnz/psa_authnz.py
Labels: kind/bug, area/auth

#19545 Fix `test_mulled_build.py::test_mulled_build_files_cli` with `use_mamba=True`
  lib/galaxy/tool_util/deps/mulled/invfile.lua
Labels: kind/bug, area/testing, area/tool-framework, area/tool-dependencies

#19626 [24.0] Fix mulled tests
  lib/galaxy/tool_util/deps/mulled/invfile.lua
  lib/galaxy/tool_util/deps/mulled/mulled_search.py
  test/unit/tool_util/mulled/test_mulled_search.py
Labels: kind/bug, area/testing, area/tool-framework, area/tool-dependencies

#19622 Use correct `plugin_kind` in user file sources
  lib/galaxy/managers/file_source_instances.py
Labels: kind/bug, kind/enhancement, area/backend

#19621 Use discriminated unions in object stores and file source template configs
  lib/galaxy/files/templates/models.py
  lib/galaxy/objectstore/templates/models.py
Labels: kind/refactoring, area/backend

#19631 [24.2] Raise ``RequestParameterInvalidException`` on invalid ``input_format`` parameter
  lib/galaxy/tools/parameters/__init__.py
Labels: kind/bug, area/API

#19628 [24.2] Disable chatgxy wizard for anon users
  client/src/components/DatasetInformation/DatasetError.vue
  lib/galaxy/webapps/galaxy/api/chat.py
Labels: area/UI-UX, area/API

#19630 [24.2] Fail request explicitly when sqlite provider used on non-sqlite file
  lib/galaxy/datatypes/dataproviders/dataset.py
Labels: area/datatypes

#19632 Update eLabFTW file source template docs
  doc/source/admin/data.md
  doc/source/admin/user_file_source_form_full_elabftw.png
Labels: kind/bug, area/documentation, area/admin

#19615 [24.2] Add fastk_ktab_tar datatype required for fastk tool
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#19619 Add InvenioRDM file source template
  client/src/api/schema/schema.ts
  client/src/components/FileSources/FileSourceTypeSpan.vue
  doc/source/admin/data.md
  doc/source/admin/file_source_invenio_configuration.png
  doc/source/admin/file_source_invenio_configuration_template.png
  doc/source/admin/gen_diagrams.py
  doc/source/admin/search_for_new_screenshots.py
  doc/source/admin/user_file_source_form_full_invenio.png
  lib/galaxy/files/sources/invenio.py
  lib/galaxy/files/templates/examples/production_invenio.yaml
  lib/galaxy/files/templates/models.py
Labels: kind/enhancement, area/UI-UX, area/backend

#19639 [24.2] Raise ``MessageException`` when using data provider on incompatible data
  lib/galaxy/visualization/data_providers/genome.py
Labels: kind/bug, area/API, area/datatypes

#19634 [24.2] Make tool ids readable in invocation metrics
  client/src/components/WorkflowInvocationState/WorkflowInvocationMetrics.vue
Labels: area/UI-UX

#19636 [24.2] Raise serializable exception on invalid workflow connection
  lib/galaxy/managers/workflows.py
Labels: kind/bug, area/API, area/workflows

#19620 Fix package test errors: Ignore mypy errors caused by social-auth-core 4.5.5
  lib/galaxy/model/__init__.py
Labels: kind/bug, area/database, dependencies

#19653 [24.1] Initialize dictionary used to set connection execution options
  lib/galaxy/jobs/handler.py
Labels: kind/bug, area/database

#19657 Mention default values for truevalue and falsevalue
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: kind/enhancement, area/documentation, area/tool-framework

#19651 [24.0] Apply exec options to connection
  lib/galaxy/jobs/handler.py
Labels: kind/bug, area/database

#19661 Relax job status check in test_delete_user_cancel_all_jobs
  lib/galaxy_test/api/test_users.py
Labels: kind/refactoring, area/testing

#19650 Fix more vue tsc indicated type issues
  client/src/components/AboutGalaxy.vue
  client/src/components/Collections/ListCollectionCreator.vue
  client/src/components/Workflow/List/WorkflowActions.vue
  client/src/components/Workflow/List/WorkflowCardList.vue
  client/src/components/Workflow/List/WorkflowList.vue
  client/src/components/Workflow/List/types.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationStepHeader.vue
  client/src/entry/analysis/modules/Login.vue
Labels: kind/bug, area/client

#19647 Fix a vue-tsc issue - Login.vue.
  client/src/entry/analysis/modules/Login.vue
Labels: kind/bug, area/client

#19660 Update test_create_dataset_in_subfolder to check for the dataset presence
  lib/galaxy_test/api/test_libraries.py
Labels: kind/refactoring, area/testing

#19656 Add Breadcrumb Heading Component
  client/src/components/Common/BreadcrumbHeading.vue
  client/src/components/User/DiskUsage/Management/StorageManager.vue
  client/src/components/User/DiskUsage/StorageDashboard.vue
  client/src/components/User/DiskUsage/Visualizations/OverviewPage.vue
  client/src/components/Workflow/List/WorkflowList.vue
Labels: area/UI-UX, kind/feature

#19669 Remove unused(?) data_dialog form element type.
  client/src/components/Form/Elements/FormDataDialog.vue
  client/src/components/Form/FormElement.vue
  client/src/components/Form/parameterTypes.d.ts
Labels: kind/bug, kind/refactoring, area/client

#19663 More Vue Typescript Fixes
  client/src/api/schema/schema.ts
  client/src/components/Collections/FixedIdentifierDatasetCollectionElementView.vue
  client/src/components/Collections/PairCollectionCreator.vue
  client/src/components/Common/ContextMenu.vue
  client/src/components/Common/ExportForm.test.ts
  client/src/components/Common/FilterMenuMultiTags.vue
  client/src/components/Common/FilterMenuObjectStore.vue
  client/src/components/Common/FilterObjectStoreLink.vue
  client/src/components/Common/ObjectStoreSelect.vue
  client/src/components/Common/Wizard/GenericWizard.vue
  client/src/components/ConfigTemplates/ConfigurationTestSummary.vue
  client/src/components/ConfigTemplates/CreateInstance.test.ts
  client/src/components/ConfigTemplates/EditSecretsForm.test.ts
  client/src/components/ConfigTemplates/InstanceDropdown.test.ts
  client/src/components/ConfigTemplates/InstanceForm.test.ts
  client/src/components/ConfigTemplates/TemplateSummaryPopover.test.ts
  client/src/components/ConfigTemplates/VaultSecret.test.ts
  client/src/components/DataDialog/DataDialog.vue
  client/src/components/Dataset/DatasetPermissionsForm.vue
  client/src/components/Dataset/DatasetStorage/DatasetStorage.test.ts
  client/src/components/Dataset/DatasetStorage/RelocateDialog.vue
  client/src/components/Dataset/DatasetStorage/RelocateLink.vue
  client/src/components/DatasetInformation/DatasetAttributes.test.ts
  client/src/components/DatasetInformation/DatasetDetails.vue
  client/src/components/DatasetInformation/DatasetError.vue
  client/src/components/DatasetInformation/DatasetInformation.vue
  client/src/components/Form/FormElement.vue
  client/src/components/ObjectStore/DescribeObjectStore.vue
  client/src/components/ObjectStore/types.ts
  lib/galaxy/webapps/galaxy/services/datasets.py
Labels: area/UI-UX

#19652 Workflow landing request - collapse activity bar by default.
  client/src/components/ActivityBar/ActivityBar.vue
  client/src/components/Landing/WorkflowLanding.vue
  client/src/entry/analysis/router.js
  client/src/router/guards.ts
  client/src/stores/activityStore.ts
  client/src/stores/userStore.ts
  client/src/stores/workflowLandingStore.ts
Labels: area/UI-UX

#19683 [24.2] xsd: fix format
  lib/galaxy/tool_util/xsd/galaxy.xsd
Labels: area/tool-framework

#19659 [24.2] Fix various bugs around tool data table bundles
  lib/galaxy/datatypes/text.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/dynamic_options.py
  lib/galaxy/tools/parameters/options.py
  test/unit/app/tools/test_dynamic_options.py
  test/unit/app/tools/test_evaluation.py
  test/unit/app/tools/test_select_parameters.py
Labels: kind/bug, area/tool-framework

#19671 Add webdavclient3 to conditional-requirements.txt
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
Labels: area/dependencies

#19690 Add forgotten linter test
  test/unit/tool_util/test_tool_linters.py
Labels: area/testing

#19638 Add Zenodo file source template
  client/src/api/schema/schema.ts
  client/src/components/Common/RDMCredentialsInfo.vue
  client/src/components/FileSources/FileSourceTypeSpan.vue
  client/src/components/History/Export/HistoryExport.test.ts
  client/src/components/History/Export/HistoryExport.vue
  client/src/composables/fileSources.ts
  doc/source/admin/data.md
  doc/source/admin/file_source_templates.png
  doc/source/admin/file_source_zenodo_configuration.png
  doc/source/admin/file_source_zenodo_configuration_template.png
  doc/source/admin/gen_diagrams.py
  doc/source/admin/user_file_source_form_full_zenodo.png
  lib/galaxy/files/sources/invenio.py
  lib/galaxy/files/sources/zenodo.py
  lib/galaxy/files/templates/examples/production_zenodo.yaml
  lib/galaxy/files/templates/models.py
Labels: kind/enhancement, area/UI-UX, area/backend

#19693 [24.1] Pin mercurial to >=6.8.1 for Python 3.12 support
  lib/galaxy/dependencies/pinned-requirements.txt
  packages/tool_shed/setup.cfg
  pyproject.toml
Labels: area/dependencies

#19698 [24.2] Backport of workflow landing sidebar toggle fix.
  client/src/components/ActivityBar/ActivityBar.vue
  client/src/components/Landing/WorkflowLanding.vue
  client/src/entry/analysis/router.js
  client/src/router/guards.ts
  client/src/stores/activityStore.ts
  client/src/stores/userStore.ts
  client/src/stores/workflowLandingStore.ts
Labels: area/UI-UX

#19703 Fix MarkdownDialog types
  client/src/components/DataDialog/DataDialog.vue
  client/src/components/Markdown/MarkdownDialog.vue
Labels: area/UI-UX, kind/refactoring

#19706 Use model classes from ``galaxy.model`` instead of ``app.model`` object - Part 1
  lib/galaxy/model/__init__.py
  lib/galaxy/webapps/galaxy/services/library_contents.py
  lib/tool_shed/managers/categories.py
  lib/tool_shed/managers/groups.py
  lib/tool_shed/managers/repositories.py
  lib/tool_shed/managers/users.py
  lib/tool_shed/metadata/repository_metadata_manager.py
  lib/tool_shed/util/admin_util.py
  lib/tool_shed/util/commit_util.py
  lib/tool_shed/util/metadata_util.py
  lib/tool_shed/util/search_util.py
  lib/tool_shed/util/shed_util_common.py
  lib/tool_shed/webapp/controllers/admin.py
  lib/tool_shed/webapp/controllers/user.py
  lib/tool_shed/webapp/model/__init__.py
  scripts/cleanup_datasets/admin_cleanup_datasets.py
  scripts/cleanup_datasets/cleanup_datasets.py
  test/integration/test_kubernetes_runner.py
  test/integration/test_local_job_cancellation.py
  test/unit/app/tools/test_collect_primary_datasets.py
  test/unit/app/tools/test_history_imp_exp.py
  test/unit/app/tools/test_metadata.py
  test/unit/data/model/test_model_store.py
Labels: kind/enhancement, area/testing, area/database, area/scripts, area/testing/integration

#19701 [24.2] Fix validation of required floats specified as empty strings in tool XML.
  lib/galaxy/tool_util/parameters/factory.py
  test/functional/tools/float_default.xml
  test/functional/tools/sample_tool_conf.xml
Labels: kind/bug, area/tool-framework

#19680 Yet More Vue Typing Error Fixes
  client/src/api/index.ts
  client/src/components/Common/ObjectStoreSelect.vue
  client/src/components/Common/PublishedItem.vue
  client/src/components/Dataset/DatasetStorage/RelocateDialog.vue
  client/src/components/Dataset/DatasetStorage/RelocateLink.vue
  client/src/components/FilesDialog/FilesDialog.test.ts
  client/src/components/History/Archiving/HistoryArchiveExportSelector.test.ts
  client/src/components/History/Archiving/HistoryArchiveWizard.test.ts
  client/src/components/History/Content/GenericElement.vue
  client/src/components/History/Content/GenericItem.vue
  client/src/components/History/CurrentCollection/CollectionDetails.vue
  client/src/components/History/CurrentCollection/CollectionOperations.vue
  client/src/components/History/CurrentCollection/CollectionPanel.vue
  client/src/components/History/CurrentHistory/HistoryCounter.vue
  client/src/components/History/CurrentHistory/PreferredStorePopover.vue
  client/src/components/JobDestinationParams/JobDestinationParams.vue
  client/src/components/JobParameters/JobParameters.test.ts
  client/src/components/Landing/WorkflowLanding.vue
  client/src/components/Markdown/Elements/InstanceUrl.vue
  client/src/components/Markdown/Elements/ToolStd.vue
  client/src/components/Markdown/Elements/Workflow/WorkflowDisplay.vue
  client/src/components/Markdown/Elements/Workflow/WorkflowImage.vue
  client/src/components/Markdown/Elements/Workflow/WorkflowLicense.vue
  client/src/components/Markdown/MarkdownSelector.vue
  client/src/components/Notifications/NotificationsList.test.ts
  client/src/components/ObjectStore/ConfigurationMarkdown.test.ts
  client/src/components/ObjectStore/Instances/CreateForm.test.ts
  client/src/components/ObjectStore/Instances/UpgradeForm.test.ts
  client/src/components/ObjectStore/ObjectStoreSelectButton.vue
  client/src/components/ObjectStore/ObjectStoreSelectButtonDescribePopover.vue
  client/src/components/ObjectStore/SelectObjectStore.vue
  client/src/components/ObjectStore/ShowSelectedObjectStore.test.js
  client/src/components/ObjectStore/ShowSelectedObjectStore.vue
  client/src/components/ObjectStore/Templates/TemplateSummaryPopover.test.ts
  client/src/components/PageEditor/SharingIndicator.vue
  client/src/components/Panels/Common/ToolSearch.vue
  client/src/components/Panels/ToolBox.vue
  client/src/components/TagsMultiselect/StatelessTags.vue
  client/src/components/User/DiskUsage/Management/Cleanup/CleanupOperationSummary.test.ts
  client/src/components/User/DiskUsage/Management/Cleanup/CleanupResultDialog.test.ts
  client/src/components/User/DiskUsage/Management/Cleanup/ReviewCleanupDialog.test.ts
  client/src/components/User/DiskUsage/Visualizations/Charts/BarChart.test.ts
  client/src/components/User/UserDeletion.test.ts
  client/src/components/Workflow/Editor/Forms/FormDatatype.vue
  client/src/components/Workflow/Editor/Forms/FormDefault.vue
  client/src/components/Workflow/Editor/Index.test.ts
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Invocation/Graph/InvocationGraph.vue
  client/src/stores/workflowStepStore.ts
Labels: kind/bug, area/client

#19709 Improved simplicity and isolation in transiently failing test.
  lib/galaxy_test/api/test_tools.py
  lib/galaxy_test/base/populators.py
Labels: kind/bug, kind/enhancement, area/testing, area/testing/api

#19704 Move RequiredAppT back into galaxy packages.
  lib/galaxy/structured_app.py
  lib/galaxy/tool_shed/tools/data_table_manager.py
  lib/galaxy/tool_shed/tools/tool_validator.py
  lib/galaxy/tool_shed/util/repository_util.py
  lib/tool_shed/structured_app.py
Labels: kind/refactoring, area/packaging

#19713 Update TypeScript version to 5.7.3
  client/package.json
  client/yarn.lock
Labels: kind/refactoring, area/client

#19521 Remote File Sources and Storage Locations redesign
  client/src/api/fileSources.ts
  client/src/api/objectStores.templates.ts
  client/src/components/Common/BreadcrumbHeading.vue
  client/src/components/Common/TextSummary.vue
  client/src/components/Common/index.ts
  client/src/components/ConfigTemplates/ManageIndexHeader.vue
  client/src/components/ConfigTemplates/SelectTemplate.test.js
  client/src/components/ConfigTemplates/SelectTemplate.vue
  client/src/components/ConfigTemplates/SourceOptionCard.vue
  client/src/components/ConfigTemplates/SourceOptionsList.vue
  client/src/components/FileSources/Instances/CreateInstance.vue
  client/src/components/FileSources/Instances/ManageIndex.vue
  client/src/components/FileSources/Templates/CreateUserFileSource.vue
  client/src/components/FileSources/Templates/SelectTemplate.vue
  client/src/components/ObjectStore/Instances/CreateInstance.vue
  client/src/components/ObjectStore/Instances/ManageIndex.vue
  client/src/components/ObjectStore/ObjectStoreBadge.test.js
  client/src/components/ObjectStore/ObjectStoreBadge.test.ts
  client/src/components/ObjectStore/ObjectStoreBadge.vue
  client/src/components/ObjectStore/ObjectStoreBadges.test.ts
  client/src/components/ObjectStore/ObjectStoreBadges.vue
  client/src/components/ObjectStore/Templates/CreateUserObjectStore.vue
  client/src/components/ObjectStore/Templates/SelectTemplate.vue
  client/src/components/ObjectStore/Templates/TemplateSummary.vue
  client/src/components/ObjectStore/badgeIcons.ts
  client/src/components/ObjectStore/badgeMessages.ts
  client/src/style/scss/_breakpoints.scss
  client/src/utils/navigation/navigation.yml
  client/tests/jest/helpers.js
Labels: kind/enhancement, area/UI-UX

#19714 [24.0] Fix container building
  lib/galaxy/tool_util/deps/mulled/invfile.lua
  lib/galaxy/tool_util/deps/mulled/mulled_build.py
Labels: area/tool-framework, area/tool-dependencies

#19725 [24.2] Backport #19620
  lib/galaxy/model/__init__.py
Labels: merge, area/database
