Repository galaxyproject/galaxy, pull requests merged in 2025-04, with the labels that each got.

#19850 Add basic support for icons in tools
  client/src/api/schema/schema.ts
  lib/galaxy/tool_util/parser/cwl.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/parser/yaml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/__init__.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/services/tools.py
Labels: kind/feature, area/API, area/tools

#19942 [24.2] Better interactive tool entry point query
  lib/galaxy/managers/interactivetool.py
Labels: kind/bug, area/performance

#19945 [24.2] Drop unnecessary job cache job subquery
  lib/galaxy/managers/jobs.py
Labels: kind/bug, area/performance

#19943 Fix ``test_in_directory`` on osx
  test/unit/util/test_paths.py
Labels: kind/bug, area/testing

#19944 Fix local import in ``__resolvers_dict``
  lib/galaxy/tool_util/deps/containers.py
Labels: kind/bug, kind/refactoring, area/configuration

#19947 [24.2] Use ``make_fast_zipfile`` directly
  lib/galaxy/model/store/__init__.py
  lib/galaxy/util/compression_utils.py
Labels: kind/bug, area/jobs

#19948 [24.2] Fix attempt restriction on multiple connections
  lib/galaxy/workflow/modules.py
Labels: kind/bug, area/UI-UX, area/workflows

#19953 [24.2] Sort intersected options
  lib/galaxy/workflow/modules.py
Labels: kind/bug, area/UI-UX, area/workflows

#19950 Fix adding tags popup closing logic on focus out
  client/src/components/TagsMultiselect/HeadlessMultiselect.vue
Labels: kind/bug, area/UI-UX

#19955 Allow PathLike parameters in ``make_fast_zipfile()``
  lib/galaxy/model/store/__init__.py
  lib/galaxy/util/compression_utils.py
Labels: kind/enhancement, area/database, area/util

#19956 Add link to view history on dataset info page
  client/src/components/DatasetInformation/DatasetInformation.vue
Labels: area/UI-UX

#19966 [23.1] Do not print OIDC access tokens to the logs
  lib/galaxy/authnz/custos_authnz.py
Labels: kind/bug, area/auth

#19967 [24.2] Renew OIDC access tokens using valid refresh tokens
  lib/galaxy/authnz/custos_authnz.py
Labels: kind/bug, area/auth

#19961 Add type hints around collection copying and job things
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/tasks.py
  lib/galaxy/managers/collections.py
  lib/galaxy/managers/hdas.py
  lib/galaxy/managers/history_contents.py
  lib/galaxy/model/__init__.py
  lib/galaxy/structured_app.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/webapps/galaxy/services/dataset_collections.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
  test/unit/app/tools/test_execution.py
Labels: kind/refactoring, area/jobs, area/dataset-collections, area/histories, area/backend, area/job-caching

#19859 Remove circular dependency around user store.
  client/src/composables/hashedUserId.ts
  client/src/composables/hashedUserIdFromUserStore.ts
  client/src/composables/userLocalStorage.ts
  client/src/stores/activityStore.ts
Labels: area/UI-UX

#19946 First steps of bootstrap replacement
  client/src/components/BaseComponents/GButton.vue
  client/src/components/BaseComponents/GButtonGroup.vue
  client/src/components/BaseComponents/GTooltip.vue
  client/src/components/BaseComponents/componentVariants.ts
  client/src/components/Common/BreadcrumbHeading.vue
  client/src/components/History/CurrentHistory/HistoryCounter.vue
  client/src/components/History/HistoryView.test.js
  client/src/components/Workflow/Editor/Tools/ToolBar.vue
  client/src/components/Workflow/List/WorkflowActionsExtend.vue
  client/src/components/Workflow/List/WorkflowCard.vue
  client/src/components/Workflow/List/WorkflowListActions.vue
  client/src/composables/accessibleHover.ts
  client/src/composables/resolveElement.ts
  client/src/style/scss/custom_theme_variables.scss
  client/src/utils/navigation/navigation.yml
Labels: area/UI-UX

#19938 Move `FormBoolean` back to `FormElement` field in workflow run form
  client/src/components/Form/Elements/FormBoolean.vue
  client/src/components/Form/Elements/FormData/FormDataContextButtons.vue
  client/src/components/Form/FormElement.vue
Labels: kind/bug, area/UI-UX, area/workflows

#19689 Data-source tool for DICED database (https://diced.lerner.ccf.org/) added.
  lib/galaxy/config/sample/tool_conf.xml.sample
  tools/data_source/diced.xml
Labels: area/tools

#19906 Overhaul workflow runtime settings display.
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/components/Workflow/Run/WorkflowStorageConfiguration.vue
  client/src/components/Workflow/WorkflowNavigationTitle.vue
Labels: area/UI-UX

#19971 Adds a trimInputs prop to FormGeneric to trim string values on submit.
  client/src/components/Form/FormGeneric.vue
  client/src/components/User/UserPreferencesForm.vue
Labels: area/UI-UX

#19977 [24.2] Add missing job state history entry for queued state
  lib/galaxy/jobs/__init__.py
Labels: area/jobs

#19924 RStudio IT updates to work on .org
  tools/interactive/interactivetool_rstudio_bioc_3.20.xml
Labels: kind/enhancement, area/tools

#19978 [24.2] Restrict job cache to terminal jobs (and other fixes)
  lib/galaxy/managers/jobs.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/base/populators.py
Labels: kind/bug, area/jobs, area/workflows, area/job-caching

#19982 [24.2] Fix dynamic filter option access when building command line
  lib/galaxy/tools/parameters/dynamic_options.py
  test/functional/tools/dbkey_filter_input.xml
Labels: kind/bug, area/jobs

#19959 Add share button for invocations
  client/src/api/histories.ts
  client/src/components/Workflow/WorkflowAnnotation.vue
  client/src/components/Workflow/WorkflowNavigationTitle.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationShare.test.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationShare.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/composables/useWorkflowInstance.ts
Labels: area/UI-UX, kind/feature

#19969 Fix ownership check in history contents update route
  client/src/api/datasetCollections.ts
  client/src/api/schema/schema.ts
  client/src/components/Collections/common/CollectionEditView.vue
  client/src/components/Form/Elements/FormRulesEdit.vue
  client/src/components/Markdown/Sections/Elements/HistoryDatasetCollection/CollectionDisplay.vue
  client/src/components/PageEditor/ObjectPermissions.vue
  client/src/components/providers/DatasetCollectionProvider.js
  client/src/composables/useInvocationGraph.ts
  client/src/stores/collectionAttributesStore.test.ts
  client/src/stores/collectionAttributesStore.ts
  client/src/stores/collectionElementsStore.ts
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/hdas.py
  lib/galaxy/managers/hdcas.py
  lib/galaxy/managers/secured.py
  lib/galaxy/managers/sharable.py
  lib/galaxy/webapps/galaxy/api/dataset_collections.py
  lib/galaxy/webapps/galaxy/api/history_contents.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/services/history_contents.py
  lib/galaxy_test/api/test_history_contents.py
  lib/galaxy_test/base/populators.py
  mypy.ini
Labels: kind/bug, area/API

#19981 [24.2] Do not display default labels obscuring selectable options in a vue-multiselect component
  client/src/components/License/LicenseSelector.vue
  client/src/components/User/CustomBuilds.vue
  client/src/components/User/ExternalIdentities/ExternalLogin.vue
Labels: kind/bug, area/UI-UX

#19785 Introduce reusable GCard component for unified card layout
  client/src/api/workflows.ts
  client/src/components/Common/DOILink.vue
  client/src/components/Common/GCard.types.ts
  client/src/components/Common/GCard.vue
  client/src/components/Common/Heading.vue
  client/src/components/Common/TextSummary.vue
  client/src/components/ConfigTemplates/SourceOptionCard.vue
  client/src/components/History/Archiving/ArchivedHistoryCard.vue
  client/src/components/History/Archiving/HistoryArchive.vue
  client/src/components/Notifications/Categories/Categories.test.ts
  client/src/components/Notifications/Categories/MessageNotification.vue
  client/src/components/Notifications/Categories/SharedItemNotification.vue
  client/src/components/Notifications/Categories/style.scss
  client/src/components/Notifications/NotificationActions.test.ts
  client/src/components/Notifications/NotificationActions.vue
  client/src/components/Notifications/NotificationCard.test.ts
  client/src/components/Notifications/NotificationCard.vue
  client/src/components/Notifications/NotificationsList.test.ts
  client/src/components/Notifications/NotificationsList.vue
  client/src/components/Panels/NotificationsPanel.vue
  client/src/components/TagsMultiselect/StatelessTags.vue
  client/src/components/Workflow/Invocation/InvocationScrollList.vue
  client/src/components/Workflow/List/WorkflowActions.vue
  client/src/components/Workflow/List/WorkflowActionsExtend.vue
  client/src/components/Workflow/List/WorkflowCard.vue
  client/src/components/Workflow/List/WorkflowCardList.vue
  client/src/components/Workflow/List/useWorkflowActions.ts
  client/src/components/Workflow/List/useWorkflowCardActions.ts
  client/src/components/Workflow/List/useWorkflowCardBadges.ts
  client/src/components/Workflow/List/useWorkflowCardIndicators.ts
  client/src/components/Workflow/WorkflowInvocationsCount.vue
  client/src/components/admin/Notifications/NotificationForm.vue
  client/src/utils/navigation/navigation.yml
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_history_panel.py
  lib/galaxy_test/selenium/test_workflow_management.py
Labels: kind/enhancement, area/UI-UX, kind/refactoring

#19991 Improve type annotation of tool parameter wrapping
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/parameters/basic.py
  lib/galaxy/tools/parameters/grouping.py
  lib/galaxy/tools/parameters/sanitize.py
  lib/galaxy/tools/parameters/wrapped.py
  lib/galaxy/tools/wrappers.py
  mypy.ini
  test/unit/app/tools/test_evaluation.py
  test/unit/app/tools/util.py
Labels: area/testing, area/database, area/tool-framework

#19985 [24.2] Always set copy_elements to true
  client/src/api/datasets.ts
  lib/galaxy/selenium/smart_components.py
  lib/galaxy_test/selenium/test_history_multi_view.py
Labels: kind/bug, area/UI-UX

#19983 Unwind more client dependencies at top of stack.
  client/src/app/galaxy.js
  client/src/app/monitor.js
  client/src/components/FilesDialog/FilesInput.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/adapters/HistoryPanelProxy.js
  client/src/components/RuleCollectionBuilder.vue
  client/src/components/Tool/ToolForm.vue
  client/src/components/Upload/CompositeRow.vue
  client/src/components/Upload/DefaultBox.vue
  client/src/components/Upload/RulesInput.vue
  client/src/components/Workflow/Run/WorkflowRunSuccess.vue
  client/src/composables/resourceWatcher.ts
  client/src/composables/userLocalStorage.ts
  client/src/composables/userLocalStorageFromHashedId.ts
  client/src/stores/userStore.ts
  client/src/utils/data.js
  client/src/utils/dataModalUtils.js
  client/src/utils/dataModals.js
  client/src/watch/watchHistory.js
  client/src/watch/watchHistoryProvided.js
Labels: kind/bug, area/client

#19962 Job cache allow different names when possible
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/managers/jobs.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/tools/execute.py
  lib/galaxy/tools/wrappers.py
  lib/galaxy/webapps/galaxy/api/jobs.py
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/api/test_tools.py
  test/unit/app/jobs/test_job_wrapper.py
Labels: area/testing, area/API, area/jobs, area/workflows, area/database, area/tool-framework, area/testing/api

#19992 [24.2] Update selectable object stores after adding or editing them
  client/src/components/ConfigTemplates/useConfigurationTesting.ts
  client/src/components/ObjectStore/Instances/CreateInstance.vue
  client/src/components/ObjectStore/Instances/EditInstance.vue
  client/src/stores/objectStoreStore.ts
Labels: kind/bug, kind/enhancement, area/UI-UX

#19958 Allow resizing Visualizations in Markdown editor
  client/src/components/Common/ButtonPlain.vue
  client/src/components/Markdown/Editor/CellAction.vue
  client/src/components/Markdown/Editor/CellAdd.test.js
  client/src/components/Markdown/Editor/CellAdd.vue
  client/src/components/Markdown/Editor/CellButton.vue
  client/src/components/Markdown/Editor/CellConfigure.vue
  client/src/components/Markdown/Editor/CellEditor.vue
  client/src/components/Markdown/Editor/CellOption.vue
  client/src/components/Markdown/Editor/CellWrapper.vue
  client/src/components/Markdown/Editor/Configurations/ConfigureGalaxy.vue
  client/src/components/Markdown/Editor/Configurations/ConfigureHeader.test.js
  client/src/components/Markdown/Editor/Configurations/ConfigureHeader.vue
  client/src/components/Markdown/Editor/Configurations/ConfigureSelector.test.js
  client/src/components/Markdown/Editor/Configurations/ConfigureSelector.vue
  client/src/components/Markdown/Editor/Configurations/ConfigureVisualization.vue
  client/src/components/Markdown/Editor/Configurations/ConfigureVitessce.test.js
  client/src/components/Markdown/Editor/Configurations/ConfigureVitessce.vue
  client/src/components/Markdown/Editor/TextEditor.vue
  client/src/components/Markdown/Editor/templates.yml
  client/src/components/Markdown/Editor/types.ts
  client/src/components/Markdown/MarkdownDialog.vue
  client/src/components/Markdown/MarkdownToolBox.vue
  client/src/components/Markdown/MarkdownVisualization.test.js
  client/src/components/Markdown/MarkdownVisualization.vue
  client/src/components/Markdown/Sections/Elements/TextContent.vue
  client/src/components/Markdown/Sections/Elements/VisualizationFrame.vue
  client/src/components/Markdown/Sections/MarkdownGalaxy.test.js
  client/src/components/Markdown/Sections/MarkdownGalaxy.vue
  client/src/components/Markdown/Sections/MarkdownVisualization.vue
  client/src/components/Markdown/Sections/MarkdownVitessce.test.js
  client/src/components/Markdown/Sections/MarkdownVitessce.vue
  client/src/components/Markdown/Sections/SectionWrapper.vue
  client/src/components/Markdown/Utilities/parseInvocation.test.js
  client/src/components/Markdown/Utilities/parseInvocation.ts
  client/src/components/Markdown/Utilities/requirements.test.js
  client/src/components/Markdown/Utilities/requirements.ts
  client/src/components/Markdown/Utilities/requirements.yml
  client/src/components/Markdown/Utilities/stringify.ts
  client/src/components/Markdown/services.js
  client/src/components/PageEditor/PageEditor.vue
  client/src/components/Visualizations/VisualizationWrapper.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/composables/keyedCache.ts
  client/src/entry/analysis/router.js
  client/src/stores/invocationStore.ts
  lib/galaxy/webapps/galaxy/controllers/page.py
Labels: kind/enhancement, area/UI-UX

#20008 Enable ``warn_redundant_casts`` mypy option and drop redundant casts
  lib/galaxy/files/sources/galaxy.py
  lib/galaxy/managers/markdown_parse.py
  lib/galaxy/model/deferred.py
  lib/galaxy/schema/workflows.py
  lib/galaxy/tool_util/data/__init__.py
  lib/galaxy/tool_util/deps/container_resolvers/explicit.py
  lib/galaxy/tool_util/parameters/case.py
  lib/galaxy/tool_util/parameters/convert.py
  lib/galaxy/tool_util/parameters/factory.py
  lib/galaxy/tool_util/parameters/models.py
  lib/galaxy/tool_util/parameters/visitor.py
  lib/galaxy/tool_util/parser/parameter_validators.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/upgrade/__init__.py
  lib/galaxy/tool_util/verify/assertion_models.py
  lib/galaxy/tool_util/verify/codegen.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/tool_shed/webapp/api2/__init__.py
  mypy.ini
  test/unit/tool_util/test_parsing.py
Labels: kind/enhancement, area/testing, area/database, area/tool-framework, area/tool-dependencies

#19688 Define simple models for job messages.
  client/src/api/schema/schema.ts
  client/src/components/DatasetInformation/DatasetError.test.ts
  lib/galaxy/jobs/__init__.py
  lib/galaxy/metadata/set_metadata.py
  lib/galaxy/model/__init__.py
  lib/galaxy/schema/jobs.py
  lib/galaxy/tool_util/output_checker.py
  lib/galaxy/webapps/galaxy/api/jobs.py
Labels: kind/enhancement, area/API, area/jobs

#19763 Add missing test file.
  test/functional/tools/select_optional_legacy.xml
Labels: kind/bug, area/testing, area/tools

#20016 Update vitessce version
  config/plugins/visualizations/vitessce/config/vitessce.xml
Labels: area/UI-UX, kind/refactoring, area/visualizations

#20019 Merge Inputs/Parameters and Outputs/Collections Tabs
  client/src/api/invocations.ts
  client/src/components/WorkflowInvocationState/ParameterStep.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationInputOutputTabs.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
Labels: kind/enhancement, area/UI-UX

#20020 Fix `keyedCache` never allowing multiple fetches
  client/src/composables/keyedCache.ts
Labels: kind/bug, area/UI-UX

#19954 Use lower case extension for setting datatype in data discovery
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/discover.py
  test/functional/tools/collection_split_on_column.xml
  test/functional/tools/discover_sort_by.xml
Labels: area/testing, area/database

#19576 Remove tags used
  client/src/api/schema/schema.ts
  client/src/app/__mocks__/index.js
  client/src/components/History/Modals/SelectorModal.test.js
  client/src/components/History/SwitchToHistoryLink.test.ts
  client/tests/test-data/bootstrapped.js
  client/tests/test-data/index.ts
  lib/galaxy/managers/users.py
  lib/galaxy/schema/schema.py
  lib/galaxy/webapps/base/controller.py
  lib/tool_shed/webapp/templates/galaxy_client_app.mako
  templates/galaxy_client_app.mako
  test/unit/app/managers/test_UserManager.py
Labels: kind/enhancement, area/UI-UX, area/API

#19997 Selenium test cases for running workflow from form upload.
  client/src/components/Collections/common/CollectionCreator.vue
  client/src/components/Form/Elements/FormData/FormDataContextButtons.vue
  client/src/components/Upload/DefaultBox.vue
  client/src/utils/navigation/navigation.yml
  client/src/utils/url.ts
  lib/galaxy/navigation/components.py
  lib/galaxy_test/selenium/test_workflow_run.py
Labels: kind/enhancement, area/testing/selenium

#20031 Add help text popovers for workflow runtime settings
  client/src/components/Help/terms.yml
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
Labels: kind/enhancement, area/UI-UX, area/workflows

#20027 Add vitesscejson datatype
  config/plugins/visualizations/vitessce/config/vitessce.xml
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/test/1.vitesscejson
  lib/galaxy/datatypes/text.py
Labels: kind/enhancement, area/datatypes

#20005 Add kepler.gl visualization
  client/gulpfile.js
  config/plugins/visualizations/kepler/config/kepler.xml
  config/plugins/visualizations/kepler/static/logo.svg
Labels: kind/feature, area/visualizations

#20028 Add VTK Visualization Toolkit Plugin
  client/gulpfile.js
  config/plugins/visualizations/vtk/config/vtk.xml
  config/plugins/visualizations/vtk/static/logo.svg
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/constructive_solid_geometry.py
  lib/galaxy/datatypes/test/test.vtpascii
Labels: kind/feature, area/visualizations

#19995 Add Niivue viewer
  client/gulpfile.js
  config/plugins/visualizations/niivue/config/niivue.xml
  config/plugins/visualizations/niivue/static/logo.svg
Labels: area/UI-UX, area/visualizations

#20051 Add new line to vtpascii test file
  lib/galaxy/datatypes/test/test.vtpascii
Labels: kind/bug, area/datatypes

#20022 Pass host url to visualizations
  config/plugins/visualizations/annotate_image/src/script.js
  config/plugins/visualizations/common/templates/script_entry_point.mako
  lib/galaxy/app_unittest_utils/galaxy_mock.py
  lib/galaxy/visualization/plugins/plugin.py
  test/unit/app/visualizations/plugins/test_VisualizationsRegistry.py
Labels: kind/bug, area/UI-UX

#19999 Fix copying job output from discovered outputs
  lib/galaxy/managers/jobs.py
  lib/galaxy/model/__init__.py
  lib/galaxy_test/api/test_tools.py
Labels: kind/bug, minor, area/job-caching

#20066 [24.2] Fix edit permission for datasets delete button in storage dashboard overview by location
  client/src/components/User/DiskUsage/Visualizations/ObjectStoreStorageOverview.vue
Labels: area/UI-UX

#20065 Update breadcrumb item 'to' type for better routing support
  client/src/components/Common/index.ts
  client/src/components/User/DiskUsage/Management/StorageManager.vue
  client/src/components/User/DiskUsage/Visualizations/OverviewPage.vue
Labels: kind/bug, area/UI-UX

#20064 GCard Full Description
  client/src/components/Common/GCard.vue
Labels: kind/enhancement, area/UI-UX

#20043 Add support for Markdown help text in visualizations
  client/src/api/plugins.ts
  client/src/components/Markdown/Editor/Configurations/ConfigureGalaxy.vue
  client/src/components/Markdown/Editor/Configurations/ConfigureSelector.vue
  client/src/components/Markdown/Editor/Configurations/ConfigureVisualization.vue
  client/src/components/Markdown/Editor/Configurations/ConfigureVitessce.vue
  client/src/components/Markdown/Editor/types.ts
  client/src/components/Markdown/MarkdownDialog.vue
  client/src/components/Markdown/services.js
  client/src/components/Panels/VisualizationPanel.vue
  client/src/components/SelectionField/SelectionField.test.js
  client/src/components/SelectionField/SelectionField.vue
  client/src/components/SelectionField/services.ts
  client/src/components/SelectionField/types.ts
  client/src/components/Visualizations/VisualizationCreate.vue
  client/src/components/Visualizations/VisualizationHeader.vue
  client/src/entry/analysis/router.js
  config/plugins/visualizations/common/templates/script_entry_point.mako
  config/plugins/visualizations/ngl/config/ngl.xml
  config/plugins/visualizations/vitessce/config/vitessce.xml
  config/plugins/visualizations/vtk/config/vtk.xml
  lib/galaxy/visualization/plugins/config_parser.py
  lib/galaxy/visualization/plugins/plugin.py
  lib/galaxy/webapps/galaxy/buildapp.py
  test/unit/app/visualizations/plugins/test_VisualizationsRegistry.py
Labels: kind/enhancement, area/UI-UX, area/visualizations

#20025 Also chown R lib in RStudio BioC tool
  tools/interactive/interactivetool_rstudio_bioc_3.20.xml
Labels: area/tools

#19313 Migrate WF Collection Input Form Definition to Client Side
  client/src/components/Form/Elements/FormSelection.vue
  client/src/components/Form/FormElement.vue
  client/src/components/Form/_form-elements.scss
  client/src/components/Workflow/Editor/Forms/FormCollectionType.vue
  client/src/components/Workflow/Editor/Forms/FormDatatype.vue
  client/src/components/Workflow/Editor/Forms/FormDefault.vue
  client/src/components/Workflow/Editor/Forms/FormInputCollection.vue
  client/src/components/Workflow/Editor/composables/useStepProps.ts
  client/src/components/Workflow/Editor/composables/useToolState.ts
  client/src/components/Workflow/Editor/modules/collectionTypeDescription.ts
  lib/galaxy/webapps/galaxy/api/workflows.py
  lib/galaxy/workflow/modules.py
  test/unit/workflows/test_modules.py
Labels: kind/bug, kind/enhancement, area/UI-UX, kind/refactoring, area/workflows

#20089 Fix `test_workflow_run` export selenium
  client/src/utils/navigation/navigation.yml
  lib/galaxy_test/selenium/test_workflow_run.py
Labels: kind/bug, area/UI-UX, area/testing/selenium

#18710 Upgrade bundled/requested node version to 22.15.0
  .github/workflows/api.yaml
  .github/workflows/build_client.yaml
  .github/workflows/converter_tests.yaml
  .github/workflows/cwl_conformance.yaml
  .github/workflows/first_startup.yaml
  .github/workflows/framework_tools.yaml
  .github/workflows/framework_workflows.yaml
  .github/workflows/integration.yaml
  .github/workflows/integration_selenium.yaml
  .github/workflows/jest.yaml
  .github/workflows/js_lint.yaml
  .github/workflows/lint_openapi_schema.yml
  .github/workflows/osx_startup.yaml
  .github/workflows/performance.yaml
  .github/workflows/publish_artifacts.yaml
  .github/workflows/reports_startup.yaml
  .github/workflows/selenium.yaml
  .github/workflows/test_galaxy_packages.yaml
  .github/workflows/toolshed.yaml
  .github/workflows/unit-postgres.yaml
  .github/workflows/unit.yaml
  client/.node_version
Labels: area/client

#19405 Gulp build improvements, update.
  client/gulpfile.js
  client/package.json
  client/yarn.lock
  static/images/fonts/FontAwesome.otf
  static/images/fonts/fontawesome-webfont.eot
  static/images/fonts/fontawesome-webfont.svg
  static/images/fonts/fontawesome-webfont.ttf
  static/images/fonts/fontawesome-webfont.woff
  static/images/fonts/fontawesome-webfont.woff2
Labels: area/client

#20094 Use visualization dropdown solely for examples
  client/src/api/plugins.ts
  client/src/components/Visualizations/VisualizationCreate.test.js
  client/src/components/Visualizations/VisualizationCreate.vue
  client/src/components/Visualizations/VisualizationExamples.test.js
  client/src/components/Visualizations/VisualizationExamples.vue
  client/src/components/Visualizations/utilities.test.js
  client/src/components/Visualizations/utilities.ts
  lib/galaxy/visualization/plugins/datasource_testing.py
Labels: kind/enhancement, area/UI-UX, area/testing

#20057 Add flac audio format
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/media.py
Labels: kind/feature, area/datatypes

#20056 add markdown datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: kind/feature, area/datatypes

#20074 Remove collapse invocations panel on mouseleave feature
  client/src/components/ActivityBar/ActivityBar.vue
  client/src/components/Panels/InvocationsPanel.vue
Labels: kind/bug, area/UI-UX

#20082 Flexible mapping from collection parameter types to collection builder components.
  client/src/api/datasetCollections.ts
  client/src/components/Collections/CollectionCreatorIndex.vue
  client/src/components/Collections/common/CollectionCreator.vue
  client/src/components/Form/Elements/FormData/FormData.vue
  client/src/components/Form/Elements/FormData/FormDataContextButtons.vue
  client/src/components/Form/Elements/FormData/FormDataWorkflowRunTabs.vue
  client/src/components/Form/Elements/FormData/collections.test.ts
  client/src/components/Form/Elements/FormData/collections.ts
  client/src/components/History/adapters/buildCollectionModal.ts
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
Labels: kind/bug, kind/enhancement, area/UI-UX, area/dataset-collections

#20072 Add activity panel width to local storage
  client/src/components/ActivityBar/ActivityBar.vue
  client/src/components/Panels/FlexPanel.vue
  client/src/entry/analysis/modules/Analysis.vue
  client/src/stores/activityStore.ts
  client/src/stores/userStore.ts
Labels: kind/enhancement, area/UI-UX

#20084 Route to creating a new file source in remote file browser modal
  client/src/components/FilesDialog/FilesDialog.test.ts
  client/src/components/FilesDialog/FilesDialog.vue
Labels: kind/enhancement, area/UI-UX

#19872 Drop old galaxy_session records
  doc/source/admin/useful_scripts.rst
  lib/galaxy/jobs/__init__.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrations/alembic/versions_gxy/0c681a59dce1_add_on_delete_to_fkey_on_event_session_.py
  lib/galaxy/model/migrations/alembic/versions_gxy/24feca8a6a5a_add_on_delete_to_fkey_on_user_action_.py
  lib/galaxy/model/migrations/alembic/versions_gxy/caeee878d7cd_add_on_delete_to_fkey_on_galaxy_session_.py
  lib/galaxy/model/migrations/alembic/versions_gxy/cde5d2db77e7_add_on_delete_to_fkey_on_job_session_id.py
  lib/galaxy/model/scripts/delete_galaxy_sessions.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy/tools/actions/model_operations.py
  lib/galaxy/webapps/base/webapp.py
  packages/data/setup.cfg
Labels: kind/feature, area/database, highlight/admin

#20101 Add Molstar
  client/gulpfile.js
  config/plugins/visualizations/molstar/config/molstar.xml
  config/plugins/visualizations/molstar/static/logo.png
Labels: area/UI-UX, kind/feature, area/visualizations

#20073 Always render Outputs tab in invocation view
  client/src/components/Workflow/test/json/invocation.json
  client/src/components/WorkflowInvocationState/WorkflowInvocationInputOutputTabs.test.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationInputOutputTabs.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/entry/analysis/router.js
  client/src/stores/workflowStore.ts
Labels: kind/bug, area/UI-UX

#20029 Move README to center panel in workflow editor
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Lint.test.js
  client/src/components/Workflow/Editor/Lint.vue
  client/src/components/Workflow/Editor/ReadmeEditor.vue
  client/src/components/Workflow/Editor/WorkflowAttributes.vue
Labels: kind/enhancement, area/UI-UX, area/workflows

#20026 Show workflow README in split view next to the form inputs
  client/src/components/Workflow/Run/WorkflowHelpDisplay.vue
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/components/Workflow/WorkflowAnnotation.vue
Labels: kind/enhancement, area/UI-UX

#20108 Add hid to selection field in visualization creation form
  client/src/api/plugins.ts
  client/src/components/Visualizations/VisualizationCreate.test.js
  client/src/components/Visualizations/VisualizationCreate.vue
  lib/galaxy/webapps/galaxy/api/plugins.py
Labels: kind/bug, area/UI-UX

#20118 Run tests on latest Ubuntu
  .github/workflows/integration.yaml
Labels: kind/enhancement
