Repository galaxyproject/galaxy, pull requests merged in 2025-07, with the labels that each got.

#20582 [24.2] Fix apply rules ownership check
  lib/galaxy/tools/__init__.py
Labels: kind/bug, area/jobs

#20593 [25.0] Don't fail volume mount construction for tools without tool directory
  lib/galaxy/tool_util/deps/container_classes.py
Labels: area/tool-framework, area/tool-dependencies

#20596 [25.0] Prevent importing workflows with invalid step UUID
  lib/galaxy/managers/workflows.py
  lib/galaxy/util/__init__.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/bug, area/API, area/workflows

#20460 Fix transient selenium error when adding collection input.
  lib/galaxy/selenium/navigates_galaxy.py
Labels: kind/bug, area/workflows, area/testing/selenium

#20521 [25.0] Bump up python for for pulsar package tests
  .github/workflows/test_galaxy_packages_for_pulsar.yaml
  packages/job_metrics/setup.cfg
  packages/objectstore/setup.cfg
  packages/tool_util/setup.cfg
  packages/tool_util_models/setup.cfg
  packages/util/setup.cfg
Labels: kind/bug, area/packaging

#20625 [25.0] Clarify how to separate job and workflow scheduling
  doc/source/admin/scaling.md
Labels: kind/enhancement, area/documentation, area/admin

#20629 [24.2] Require user for visualizations create endpoint
  lib/galaxy/webapps/galaxy/api/visualizations.py
Labels: area/API, merge

#20585 Add recent downloads page for STS requests
  client/src/components/Common/PersistentTaskProgressMonitorAlert.test.ts
  client/src/components/Common/PersistentTaskProgressMonitorAlert.vue
  client/src/components/Downloads/DownloadItemCard.test.ts
  client/src/components/Downloads/DownloadItemCard.vue
  client/src/components/Downloads/RecentDownloads.vue
  client/src/components/History/Export/HistoryExport.vue
  client/src/components/Workflow/Invocation/Export/ExistingInvocationExportProgressCard.vue
  client/src/components/Workflow/Invocation/Export/InvocationExportWizard.vue
  client/src/composables/downloadTracker.ts
  client/src/composables/genericTaskMonitor.ts
  client/src/composables/persistentProgressMonitor.test.ts
  client/src/composables/persistentProgressMonitor.ts
  client/src/composables/roundRobinSelector.test.ts
  client/src/composables/roundRobinSelector.ts
  client/src/composables/shortTermStorage.ts
  client/src/composables/shortTermStorageMonitor.ts
  client/src/entry/analysis/router.js
  client/src/stores/activitySetup.ts
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: area/UI-UX, kind/feature, highlight

#20632 [25.0] Add mzMLb and MBI datatypes
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#20636 [25.0] Fix HistoryDatasetAsTable
  client/src/components/Markdown/Sections/MarkdownGalaxy.vue
Labels: area/UI-UX

#19697 Refactor Object Store Selection Modals UI
  client/src/api/index.ts
  client/src/components/ConfigTemplates/SourceOptionCard.vue
  client/src/components/Dataset/DatasetStorage/RelocateLink.vue
  client/src/components/History/CurrentHistory/HistoryCounter.vue
  client/src/components/History/CurrentHistory/HistoryDetails.vue
  client/src/components/History/CurrentHistory/SelectPreferredStore.test.ts
  client/src/components/History/CurrentHistory/SelectPreferredStore.vue
  client/src/components/History/CurrentHistory/StorageLocationIndicator.vue
  client/src/components/History/Layout/DetailsLayout.vue
  client/src/components/ObjectStore/SelectObjectStore.vue
  client/src/components/ObjectStore/mockServices.ts
  client/src/components/Tool/ToolCard.vue
  client/src/components/Tool/ToolSelectPreferredObjectStore.test.ts
  client/src/components/Tool/ToolSelectPreferredObjectStore.vue
  client/src/components/User/UserPreferredObjectStore.test.ts
  client/src/components/User/UserPreferredObjectStore.vue
  client/src/components/Workflow/Run/WorkflowSelectPreferredObjectStore.test.ts
  client/src/components/Workflow/Run/WorkflowSelectPreferredObjectStore.vue
  client/src/components/Workflow/Run/WorkflowStorageConfiguration.vue
  client/src/composables/sync.ts
  client/src/stores/objectStoreStore.ts
  client/src/utils/navigation/navigation.yml
  client/src/utils/navigation/schema.ts
  lib/galaxy/selenium/navigates_galaxy.py
Labels: kind/enhancement, area/UI-UX

#20652 Fix typo in lib/galaxy/config/sample/job_conf.sample.yml: enviroment --> environment
  lib/galaxy/config/sample/job_conf.sample.yml
Labels: kind/bug, area/documentation

#20647 [25.0] Fix optional unspecified input to conditional step
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/workflow/optional_conditional_inputs_to_build_list.gxwf-tests.yml
  lib/galaxy_test/workflow/optional_conditional_inputs_to_build_list.gxwf.yml
Labels: area/testing, area/workflows

#20663 Improve GCard visibility handling and type definitions
  client/src/components/Common/GCard.types.ts
  client/src/components/Common/GCard.vue
  client/src/components/ConfigTemplates/SourceOptionCard.vue
  client/src/components/Downloads/DownloadItemCard.vue
  client/src/components/History/Archiving/ArchivedHistoryCard.vue
  client/src/components/ImportData/zip/ZipFileEntryCard.vue
  client/src/components/ImportData/zip/ZipImportSummary.vue
  client/src/components/ImportData/zip/ZipSelector.vue
  client/src/components/ImportData/zip/views/RegularZipView.vue
  client/src/components/ImportData/zip/views/RoCrateZipView.vue
  client/src/components/Notifications/NotificationCard.vue
  client/src/components/User/DiskUsage/Visualizations/ObjectStoreActions.vue
  client/src/components/User/DiskUsage/Visualizations/SelectedItemActions.vue
  client/src/components/Workflow/List/useWorkflowCardActions.ts
  client/src/components/Workflow/List/useWorkflowCardIndicators.ts
Labels: kind/enhancement, area/UI-UX

#20665 Remove select and deselect labels from visualization select field
  client/src/components/SelectionField/SelectionField.vue
Labels: kind/bug, area/UI-UX

#20630 [25.0] Ignore webob http exceptions for logging purposes
  lib/galaxy/webapps/base/webapp.py
Labels: kind/bug, area/admin

#20634 [25.0] Pairtool updated format and sniffers
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/tabular.py
  lib/galaxy/datatypes/test/1.4dn_pairs
  lib/galaxy/datatypes/test/1.4dn_pairs.gz
  lib/galaxy/datatypes/test/1.4dn_pairsam
  lib/galaxy/datatypes/test/1.4dn_pairsam.gz
Labels: area/datatypes

#20609 UI Bug - don't allow checking deferred for local files.
  client/src/components/Upload/DefaultBox.vue
  client/src/components/Upload/DefaultRow.vue
  client/src/components/Upload/UploadSettings.vue
  client/src/components/Upload/model.ts
  client/src/utils/upload-payload.js
  client/src/utils/upload-payload.test.js
Labels: kind/bug, area/UI-UX, area/upload

#20547 Decode OIDC access token as part of authentication pipeline
  lib/galaxy/authnz/managers.py
  lib/galaxy/authnz/psa_authnz.py
  lib/galaxy/authnz/util.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/model/__init__.py
  test/integration/oidc/test_auth_oidc.py
  test/unit/authnz/test_authnz.py
  test/unit/authnz/test_psa_authnz.py
Labels: area/testing, area/auth

#20676 [24.2] Fix invocation header
  client/src/components/Workflow/WorkflowAnnotation.vue
Labels: kind/bug, area/UI-UX

#20681 Merge 24.2 into 25.0
  client/src/api/schema/schema.ts
  client/src/components/History/SwitchToHistoryLink.vue
  client/src/components/Workflow/WorkflowAnnotation.vue
  lib/galaxy/schema/schema.py
Labels: merge

#20667 [25.0] Add support for M4A audio files
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/media.py
  lib/galaxy/datatypes/test/audio_3.m4a
Labels: area/datatypes

#20674 Sort collection dialog by HID descending.
  client/src/components/SelectionDialog/DatasetCollectionDialog.test.js
  client/src/components/SelectionDialog/DatasetCollectionDialog.vue
Labels: kind/enhancement, area/dataset-collections

#20496 [25.0] add fasta.bz2 as auto_compressed type
  lib/galaxy/config/sample/datatypes_conf.xml.sample
Labels: area/datatypes

#20666 Unify History export UX using wizard
  client/src/components/Common/ExportRecordDetails.vue
  client/src/components/Common/ExportRecordTable.vue
  client/src/components/Common/models/exportRecordModel.ts
  client/src/components/History/Export/ExportOptions.vue
  client/src/components/History/Export/HistoryExport.test.ts
  client/src/components/History/Export/HistoryExport.vue
  client/src/components/History/Export/HistoryExportWizard.test.ts
  client/src/components/History/Export/HistoryExportWizard.vue
  client/src/components/History/Export/types.ts
  client/src/utils/navigation/navigation.yml
  test/integration_selenium/test_history_import_export_ftp.py
Labels: kind/enhancement, area/UI-UX, kind/refactoring

#20693 [25.0] Input linter: add missing attribute to `sort_by`
  lib/galaxy/tool_util/linters/inputs.py
Labels: kind/bug, area/tool-framework

#20523 [24.2] Update Gravity to 1.0.8
  lib/galaxy/dependencies/pinned-requirements.txt
Labels: area/dependencies

#19318 Refactor and use `ScrollList` component in more places
  client/src/components/ActivityBar/ActivityBar.vue
  client/src/components/Common/GCard.vue
  client/src/components/Common/TextSummary.vue
  client/src/components/History/HistoryScrollList.vue
  client/src/components/History/Modals/SelectorModal.test.js
  client/src/components/History/Modals/SelectorModal.vue
  client/src/components/Panels/UserToolPanel.vue
  client/src/components/Panels/WorkflowPanel.vue
  client/src/components/ScrollList/ScrollList.vue
  client/src/components/Visualizations/VisualizationPanel.vue
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Invocation/InvocationScrollList.vue
  client/src/components/Workflow/List/WorkflowCard.vue
  client/src/components/Workflow/List/WorkflowCardList.vue
Labels: kind/enhancement, area/UI-UX, kind/refactoring

#20702 History Components Navigation/Heading Improvements
  client/src/components/Citation/CitationsList.test.ts
  client/src/components/Citation/CitationsList.vue
  client/src/components/Common/BreadcrumbHeading.vue
  client/src/components/Common/index.ts
  client/src/components/Grid/GridInvocation.vue
  client/src/components/History/Archiving/HistoryArchiveWizard.test.ts
  client/src/components/History/Archiving/HistoryArchiveWizard.vue
  client/src/components/History/CurrentHistory/HistoryNavigation.test.ts
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
  client/src/components/History/Export/HistoryExport.test.ts
  client/src/components/History/Export/HistoryExport.vue
  client/src/components/History/HistoryAccessibility.vue
  client/src/components/History/HistoryDatasetPermissions.vue
  client/src/components/History/HistoryOptions.test.ts
  client/src/components/History/HistoryOptions.vue
  client/src/components/History/HistoryView.test.js
  client/src/components/History/HistoryView.vue
  client/src/components/History/Index.vue
  client/src/components/History/Multiple/MultipleViewItem.vue
  client/src/components/Workflow/HistoryInvocations.vue
Labels: kind/enhancement, area/UI-UX

#20586 [25.0] Add datatype for LexicMap index
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  test/functional/tools/sample_datatypes_conf.xml
Labels: kind/enhancement, area/testing, area/datatypes

#20553 [25.0] Propagate cached job output replacement to copies of outputs
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/__init__.py
  lib/galaxy_test/api/test_tools.py
Labels: kind/bug, area/database

#20703 [25.0] Add username filter to published pages grid
  client/src/components/Grid/GridVisualization.vue
  client/src/components/Grid/configs/historiesPublished.ts
  client/src/components/Grid/configs/pagesPublished.ts
  client/src/components/Grid/configs/visualizationsPublished.ts
  client/src/entry/analysis/router.js
Labels: kind/bug, area/UI-UX

#20510 Remove deprecated tool document cache
  client/src/api/schema/schema.ts
  doc/source/admin/galaxy_options.rst
  lib/galaxy/app.py
  lib/galaxy/app_unittest_utils/galaxy_mock.py
  lib/galaxy/config/sample/galaxy.yml.sample
  lib/galaxy/config/schemas/config_schema.yml
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/managers/tools.py
  lib/galaxy/model/__init__.py
  lib/galaxy/queue_worker.py
  lib/galaxy/tool_shed/galaxy_install/tools/tool_panel_manager.py
  lib/galaxy/tool_shed/unittest_utils/__init__.py
  lib/galaxy/tool_shed/util/repository_util.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/toolbox/base.py
  lib/galaxy/tool_util/toolbox/lineages/factory.py
  lib/galaxy/tool_util/toolbox/lineages/interface.py
  lib/galaxy/tool_util/toolbox/panel.py
  lib/galaxy/tool_util/toolbox/parser.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/cache.py
  lib/galaxy/tools/data_manager/manager.py
  lib/galaxy/tools/search/__init__.py
  lib/galaxy/util/__init__.py
  lib/galaxy/util/odict.py
  lib/galaxy/util/tool_shed/common_util.py
  lib/galaxy/util/tool_version.py
  lib/galaxy/util/xml_macros.py
  lib/galaxy/webapps/galaxy/api/dynamic_tools.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/services/tools.py
  lib/galaxy/webapps/galaxy/services/users.py
  mypy.ini
  packages/app/setup.cfg
  pyproject.toml
  test/unit/tool_util/test_cwl.py
Labels: kind/enhancement, area/documentation, kind/refactoring, area/API, area/admin, area/database, area/tool-framework, area/util, area/dependencies, area/packaging

#20708 [25.0] Prevent negative offset in historyStore handleTotalCountChange
  client/src/stores/historyStore.ts
Labels: kind/bug, area/UI-UX
