Repository galaxyproject/galaxy, pull requests merged in 2025-03, with the labels that each got.

#19712 Speedup mulled build test
  test/unit/tool_util/mulled/test_mulled_build.py
Labels: area/tool-framework, area/tool-dependencies

#19591 Expand workflow metadata for readme.
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/Lint.test.js
  client/src/components/Workflow/Editor/Lint.vue
  client/src/components/Workflow/Editor/WorkflowAttributes.vue
  client/src/components/Workflow/Editor/modules/linting.ts
  client/src/components/Workflow/Editor/modules/model.ts
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/migrations/alembic/versions_gxy/71eeb8d91f92_workflow_readme.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/enhancement, area/API, area/workflows

#19732 Move history watcher and minor fixes
  client/src/components/Common/ButtonSpinner.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/adapters/HistoryPanelProxy.js
  client/src/components/Masthead/utilities.js
  client/src/components/Panels/ToolPanel.vue
  client/src/components/RuleCollectionBuilder.vue
  client/src/components/Tool/ToolForm.vue
  client/src/components/User/UserPreferences.vue
  client/src/components/Workflow/Run/WorkflowRunSuccess.vue
  client/src/stores/historyItemsStore.ts
  client/src/stores/utilities/history.utilities.js
  client/src/utils/data.js
  client/src/watch/watchHistory.js
  client/src/watch/watchHistory.test.js
Labels: area/UI-UX, kind/refactoring

#19718 Move vega wrapper to shared common directory and add error handler
  client/src/components/Common/VegaWrapper.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationMetrics.vue
Labels: kind/enhancement, area/UI-UX

#19666 Generate correct types for Dataset source transformations on backend.
  client/src/api/index.ts
  client/src/api/schema/schema.ts
  client/src/components/DatasetInformation/DatasetSourceTransform.vue
  lib/galaxy/model/__init__.py
  lib/galaxy/model/dereference.py
  lib/galaxy/schema/schema.py
  test/unit/data/test_dereference.py
Labels: kind/bug, kind/enhancement, area/client

#19717 Augments popper wrapper, add click and escape handler
  client/src/components/Popper/Popper.vue
  client/src/components/Popper/usePopper.test.js
  client/src/components/Popper/usePopper.ts
Labels: kind/bug, kind/enhancement, area/UI-UX

#19730 [24.2] Allow tool state changes in refactor actions
  client/src/components/Workflow/Run/WorkflowRun.vue
  client/src/components/Workflow/workflows.services.ts
  lib/galaxy/managers/workflows.py
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/refactor/execute.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/bug, area/API, area/workflows

#19726 Use model classes from ``galaxy.model`` instead of ``app.model`` object - Part 2
  lib/galaxy/actions/library.py
  lib/galaxy/authnz/custos_authnz.py
  lib/galaxy/datatypes/display_applications/util.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/managers/base.py
  lib/galaxy/managers/collections.py
  lib/galaxy/managers/context.py
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/libraries.py
  lib/galaxy/managers/workflows.py
  lib/galaxy/model/__init__.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/data_manager.py
  lib/galaxy/tools/actions/history_imp_exp.py
  lib/galaxy/tools/actions/metadata.py
  lib/galaxy/tools/actions/upload_common.py
  lib/galaxy/webapps/base/controller.py
  lib/galaxy/webapps/base/webapp.py
  lib/galaxy/webapps/galaxy/api/library_datasets.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/controllers/async.py
  lib/galaxy/webapps/galaxy/controllers/data_manager.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  lib/galaxy/webapps/galaxy/controllers/forms.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy/webapps/galaxy/controllers/root.py
  lib/galaxy/webapps/galaxy/controllers/tag.py
  lib/galaxy/webapps/galaxy/controllers/tool_runner.py
  lib/galaxy/webapps/galaxy/controllers/user.py
  lib/galaxy/webapps/galaxy/services/libraries.py
  lib/galaxy/webapps/reports/controllers/system.py
  lib/tool_shed/webapp/controllers/repository.py
  test/unit/app/jobs/test_command_factory.py
Labels: kind/enhancement, area/testing, area/API, area/jobs, area/reports, area/database, area/datatypes, area/tool-framework, area/auth

#19741 [24.2] Update fs.dropboxfs conditional dependency version to 1.0.3
  lib/galaxy/dependencies/conditional-requirements.txt
Labels: kind/bug, area/dependencies

#19723 [24.2] Fix conditional dependency path resolution
  lib/galaxy/config/__init__.py
  lib/galaxy/dependencies/__init__.py
Labels: kind/bug, area/dependencies

#19733 Refactor tool panel handling, resolve transiently failing jest test
  client/src/components/Panels/ToolBox.vue
  client/src/components/Panels/ToolPanel.test.ts
  client/src/components/Panels/ToolPanel.vue
  client/src/components/Toolshed/RepositoryDetails/Index.vue
  client/src/stores/toolStore.ts
  client/src/utils/navigation/navigation.yml
  test/integration_selenium/test_edam_tool_panel_views.py
Labels: kind/bug, area/UI-UX, area/testing

#19702 Fix incorrect type in tool_util.deps and fix package structure.
  lib/galaxy/tool_util/deps/__init__.py
Labels: kind/bug, area/backend

#19737 Enhance breadcrumb navigation UX in small screen sizes
  client/src/components/Common/BreadcrumbHeading.vue
Labels: kind/enhancement, area/UI-UX

#19734 Fix Tours and add tooltips to history items
  client/src/components/ActivityBar/ActivityItem.vue
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/ContentOptions.vue
  client/src/components/History/Content/Dataset/DatasetActions.vue
  client/src/components/History/Content/Dataset/DatasetDownload.vue
  client/src/components/History/CurrentHistory/HistoryOperations/DefaultOperations.vue
  client/src/components/History/CurrentHistory/HistoryOperations/HistoryOperations.vue
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionStatus.vue
  client/src/components/Tour/Tour.vue
  client/src/components/Tour/TourList.vue
  client/src/components/Tour/runTour.js
  config/plugins/tours/core.windows.yaml
  lib/galaxy/selenium/navigates_galaxy.py
Labels: kind/bug, kind/enhancement, area/UI-UX

#19749 Use fissix also when python3-lib2to3 is not installed
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/util/template.py
  pyproject.toml
Labels: kind/bug, area/util, area/dependencies

#19768 [24.2] Fix RDM token access for user-defined file sources
  lib/galaxy/files/sources/_rdm.py
Labels: kind/bug, area/backend

#19761 [24.2] Move Workflow Editor save button
  client/src/components/Workflow/Editor/Index.vue
  client/src/components/Workflow/Editor/modules/activities.ts
  lib/galaxy_test/selenium/framework.py
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: kind/bug, kind/enhancement, area/UI-UX, area/workflows

#19746 [24.2] Follow-up to #19651: Do not reassign: method modifies object in-place
  lib/galaxy/jobs/handler.py
Labels: kind/bug, area/database

#19707 [24.2] add missing linter name argument to linter report function calls
  lib/galaxy/tool_util/linters/cwl.py
  lib/galaxy/tool_util/linters/tests.py
Labels: area/tool-framework

#19672 [24.2] Fix recording transform action name.
  lib/galaxy/model/dereference.py
  test/unit/data/test_dereference.py
Labels: kind/bug, area/upload, area/backend

#19568 [24.2] Make k8s user and group ids overriddable per job
  lib/galaxy/jobs/runners/kubernetes.py
Labels: area/jobs

#19694 [24.2] Add bwa_mem2_index directory datatype, framework enhancements for testing directories
  client/src/api/schema/schema.ts
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/model/store/discover.py
  lib/galaxy/schema/fetch_data.py
  lib/galaxy/tool_util/client/staging.py
  lib/galaxy/tool_util/cwl/util.py
  lib/galaxy/tool_util/verify/__init__.py
  lib/galaxy/tool_util/verify/interactor.py
  lib/galaxy/tool_util/verify/parse.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tools/data_fetch.py
  lib/galaxy/util/compression_utils.py
  lib/galaxy/workflow/modules.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/driver/driver_util.py
  lib/galaxy_test/workflow/directory_index.gxwf-tests.yml
  lib/galaxy_test/workflow/directory_index.gxwf.yml
  lib/galaxy_test/workflow/test_framework_workflows.py
  test-data/bwa_mem2_index/1.fasta
  test/functional/tools/create_directory_index.xml
  test/functional/tools/sample_datatypes_conf.xml
  test/functional/tools/sample_tool_conf.xml
  test/functional/tools/use_directory_index.xml
  test/integration/test_pulsar_embedded_mq.py
Labels: area/testing, area/datatypes, area/upload

#19764 [24.2] Fix masthead webhook click/nav.
  client/src/components/Masthead/Masthead.vue
Labels: area/UI-UX

#19743 Jest Cleanup (Part 5)
  client/src/components/Collections/common/CollectionCreatorFooterButtons.vue
  client/src/components/Workflow/Editor/Comments/WorkflowComment.test.ts
  client/src/components/admin/Notifications/BroadcastForm.test.ts
  client/src/composables/__mocks__/filter.ts
  client/tests/jest/helpers.js
Labels: kind/bug, area/testing

#19721 Preserve workflow labels in final invocation reports
  client/src/components/Dataset/DatasetAsImage/DatasetAsImage.vue
  client/src/components/Markdown/Markdown.vue
  client/src/components/Markdown/Sections/MarkdownGalaxy.test.js
  client/src/components/Markdown/Sections/MarkdownGalaxy.vue
  client/src/components/Markdown/Utilities/parseInvocation.test.js
  client/src/components/Markdown/Utilities/parseInvocation.ts
  client/src/stores/invocationStore.ts
  client/src/stores/workflowStore.ts
  lib/galaxy/managers/markdown_parse.py
  lib/galaxy/managers/markdown_util.py
  lib/galaxy/workflow/reports/generators/__init__.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/selenium/test_workflow_run.py
  test/unit/app/managers/test_markdown_export.py
  test/unit/workflows/test_workflow_markdown.py
Labels: kind/enhancement, area/UI-UX, area/backend

#19774 [24.2] Fix anndata metadata setting for data with integer indexes
  lib/galaxy/datatypes/binary.py
Labels: kind/bug, area/datatypes

#19294 Workflow Run Form Enhancements
  client/src/api/index.ts
  client/src/api/workflows.ts
  client/src/components/Collections/CollectionCreatorIndex.vue
  client/src/components/Collections/FixedIdentifierDatasetCollectionElementView.vue
  client/src/components/Collections/ListCollectionCreator.vue
  client/src/components/Collections/PairCollectionCreator.vue
  client/src/components/Collections/PairedListCollectionCreator.vue
  client/src/components/Collections/common/CollectionCreator.vue
  client/src/components/FilesDialog/FilesDialog.vue
  client/src/components/Form/Elements/FormData/FormData.vue
  client/src/components/Form/Elements/FormData/FormDataContextButtons.vue
  client/src/components/Form/Elements/FormData/FormDataExtensions.vue
  client/src/components/Form/Elements/FormData/FormDataWorkflowRunTabs.vue
  client/src/components/Form/Elements/FormData/variants.ts
  client/src/components/Form/Elements/FormError.vue
  client/src/components/Form/Elements/FormNumber.vue
  client/src/components/Form/Elements/FormSelection.vue
  client/src/components/Form/Elements/FormText.vue
  client/src/components/Form/FormDisplay.vue
  client/src/components/Form/FormElement.vue
  client/src/components/Form/FormElementHeader.vue
  client/src/components/Form/FormInputs.vue
  client/src/components/Form/_form-elements.scss
  client/src/components/History/CurrentHistory/HistoryOperations/SelectionOperations.vue
  client/src/components/History/adapters/buildCollectionModal.ts
  client/src/components/Libraries/LibraryFolder/TopToolbar/FolderTopBar.vue
  client/src/components/Upload/CompositeBox.vue
  client/src/components/Upload/DefaultBox.test.ts
  client/src/components/Upload/DefaultBox.vue
  client/src/components/Upload/DefaultRow.vue
  client/src/components/Upload/model.js
  client/src/components/Upload/model.ts
  client/src/components/Workflow/Editor/Node.vue
  client/src/components/Workflow/Editor/NodeInvocationText.vue
  client/src/components/Workflow/Editor/WorkflowGraph.vue
  client/src/components/Workflow/Invocation/Graph/InvocationGraph.vue
  client/src/components/Workflow/List/WorkflowCardList.vue
  client/src/components/Workflow/List/WorkflowIndicators.vue
  client/src/components/Workflow/Published/WorkflowPublished.vue
  client/src/components/Workflow/Run/WorkflowRun.vue
  client/src/components/Workflow/Run/WorkflowRunForm.vue
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/components/Workflow/Run/WorkflowRunGraph.vue
  client/src/components/Workflow/WorkflowNavigationTitle.vue
  client/src/composables/fileDrop.ts
  client/src/composables/fileSources.ts
  client/src/composables/monitorUploadedHistoryItems.ts
  client/src/composables/uploadConfigurations.ts
  client/src/composables/useInvocationGraph.ts
  client/src/composables/useWorkflowRunGraph.ts
  client/src/stores/workflowStore.ts
  client/src/utils/upload-payload.js
  client/src/utils/upload-payload.test.js
  client/src/utils/url.test.js
  client/src/utils/url.ts
  lib/galaxy/selenium/navigates_galaxy.py
Labels: area/UI-UX, area/workflows

#19783 [24.2] Add rDock prm datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/test/test.prm
  lib/galaxy/datatypes/text.py
Labels: kind/enhancement, area/datatypes

#19776 Fix wording of API doc string
  lib/galaxy/webapps/galaxy/api/library_contents.py
Labels: area/API

#19779 Add better `WorkflowSummary` type
  client/src/api/workflows.ts
  client/src/components/Panels/WorkflowPanel.vue
  client/src/components/Workflow/List/WorkflowActions.vue
  client/src/components/Workflow/List/WorkflowActionsExtend.vue
  client/src/components/Workflow/List/WorkflowCard.vue
  client/src/components/Workflow/List/WorkflowCardList.vue
  client/src/components/Workflow/List/WorkflowIndicators.vue
  client/src/components/Workflow/List/WorkflowList.vue
  client/src/components/Workflow/List/useWorkflowActions.ts
  client/src/components/Workflow/Published/WorkflowInformation.vue
  client/src/components/Workflow/Published/WorkflowPublished.vue
  client/src/components/Workflow/Run/WorkflowRun.vue
  client/src/components/Workflow/WorkflowNavigationTitle.vue
  client/src/components/Workflow/workflows.services.ts
  client/src/stores/workflowStore.ts
Labels: kind/bug, area/UI-UX

#19679 [24.2] Fix private role name performance issue
  lib/galaxy/files/__init__.py
  lib/galaxy/managers/datasets.py
  lib/galaxy/managers/folders.py
  lib/galaxy/managers/libraries.py
  lib/galaxy/managers/roles.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/db/role.py
  lib/galaxy/webapps/galaxy/api/group_roles.py
  lib/galaxy/webapps/galaxy/api/library_datasets.py
  lib/galaxy/webapps/galaxy/api/users.py
  lib/galaxy/webapps/galaxy/controllers/admin.py
  lib/galaxy/webapps/galaxy/controllers/dataset.py
  lib/galaxy/webapps/galaxy/controllers/history.py
  lib/galaxy/webapps/galaxy/services/libraries.py
  lib/galaxy/webapps/galaxy/services/library_folders.py
  lib/galaxy/webapps/galaxy/services/roles.py
  test/unit/data/model/conftest.py
  test/unit/data/model/db/test_role.py
  test/unit/data/model/db/test_security.py
  test/unit/data/test_galaxy_mapping.py
Labels: kind/bug, area/performance, area/database

#19789 Rebuild API schema for latest dev.
  client/src/api/schema/schema.ts
Labels: kind/bug, minor, area/API

#19793 Remove unused (define* - compiler macro) imports from TextEditor.vue
  client/src/components/Markdown/Editor/TextEditor.vue
Labels: area/UI-UX

#19790 [24.2] Fix parameter model constructions with leading underscores, fixes converter linting
  .github/workflows/converter_tests.yaml
  lib/galaxy/datatypes/converters/interval_to_tabix_converter.xml
  lib/galaxy/tool_util/parameters/models.py
Labels: area/datatypes, area/tool-framework

#19665 Click to edit history name in `HistoryPanel`
  client/src/components/Collections/common/ClickToEdit.vue
  client/src/components/History/CurrentCollection/CollectionDetails.vue
  client/src/components/History/CurrentCollection/CollectionPanel.vue
  client/src/components/History/CurrentHistory/HistoryDetails.vue
  client/src/components/History/Layout/DetailsLayout.vue
  client/src/components/History/Multiple/MultipleViewItem.vue
  client/src/utils/navigation/navigation.yml
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_history_panel.py
Labels: kind/enhancement, area/UI-UX

#19781 Fix workflow run graph non input steps not appearing bug
  client/src/components/Workflow/Run/WorkflowRun.vue
  client/src/components/Workflow/Run/WorkflowRunForm.vue
  client/src/composables/useWorkflowRunGraph.ts
Labels: kind/bug, area/UI-UX

#19799 [24.2] Fix tool directory pulsar transfer
  lib/galaxy/dependencies/pinned-requirements.txt
  test/functional/tools/sample_tool_conf.xml
  test/functional/tools/tool_directory_copy.xml
  test/integration/test_pulsar_embedded.py
Labels: area/testing, area/testing/integration

#19807 [24.2] Use materialized datasets in pulsar job runner
  lib/galaxy/job_execution/compute_environment.py
  lib/galaxy/job_execution/datasets.py
  lib/galaxy/job_execution/setup.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/tools/evaluation.py
  test/integration/test_pulsar_embedded.py
Labels: kind/bug, area/jobs

#19347 Rework some form components for reuse.
  client/src/components/Form/FormListElementOperations.vue
  client/src/components/Form/FormRepeat.vue
  lib/galaxy_test/selenium/test_tool_form.py
Labels: kind/enhancement, area/UI-UX, kind/refactoring

#19805 [24.1] Backport parts of #19659
  lib/galaxy/tools/parameters/dynamic_options.py
Labels: area/tool-framework

#19810 Fix Selenium workflow tests not updating param type properly.
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: kind/bug, area/workflows, area/testing/selenium

#19819 [24.2] Reduce default framework tool test timeout to 60 seconds
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/converters/interval_to_tabix_converter.xml
  lib/galaxy/datatypes/converters/neostorezip_to_neostore_converter.xml
  lib/galaxy_test/driver/driver_util.py
  test/integration/resubmission_pulsar_job_conf.xml
  test/unit/app/managers/test_CitationsManager.py
  test/unit/app/managers/test_CitationsManager_db.py
Labels: kind/bug, area/testing, area/performance, area/testing/api

#19820 [24.2] Backport #19810: Fix workflow param tests not updating param type.
  lib/galaxy_test/selenium/test_workflow_editor.py
Labels: kind/bug, area/testing

#19769 Add cell-based markdown editor for pages
  client/package.json
  client/src/components/Markdown/Editor/CellAction.vue
  client/src/components/Markdown/Editor/CellAdd.test.js
  client/src/components/Markdown/Editor/CellAdd.vue
  client/src/components/Markdown/Editor/CellButton.test.js
  client/src/components/Markdown/Editor/CellButton.vue
  client/src/components/Markdown/Editor/CellCode.vue
  client/src/components/Markdown/Editor/CellConfigure.vue
  client/src/components/Markdown/Editor/CellEditor.vue
  client/src/components/Markdown/Editor/CellOption.test.js
  client/src/components/Markdown/Editor/CellOption.vue
  client/src/components/Markdown/Editor/CellWrapper.vue
  client/src/components/Markdown/Editor/Configurations/ConfigureGalaxy.vue
  client/src/components/Markdown/Editor/Configurations/requirements.ts
  client/src/components/Markdown/Editor/Configurations/types.ts
  client/src/components/Markdown/Editor/templates.ts
  client/src/components/Markdown/Editor/types.ts
  client/src/components/Markdown/MarkdownDialog.vue
  client/src/components/Markdown/MarkdownEditor.vue
  client/src/components/Markdown/services.js
  client/src/components/SelectionDialog/BasicSelectionDialog.vue
  client/yarn.lock
Labels: area/UI-UX, kind/feature

#19823 [24.2] Bump up max_peek_size to 50MB
  lib/galaxy/datatypes/data.py
Labels: area/datatypes

#19836 [24.2] Remove unused client route for standalone wizard interface
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: kind/bug, minor

#19792 HelpText improvements (content, sizing) and WorkflowInvocationHeader tweaks.
  client/src/components/Help/HelpPopover.vue
  client/src/components/Help/terms.yml
  client/src/components/WorkflowInvocationState/WorkflowInvocationMetrics.vue
  client/src/style/scss/theme/blue.scss
Labels: area/UI-UX

#19825 Workflow Run Form Enhancements follow up
  client/src/components/Collections/common/CollectionCreatorShowExtensions.vue
  client/src/components/Form/Elements/FormData/FormData.vue
  client/src/components/Form/Elements/FormData/FormDataWorkflowRunTabs.vue
  client/src/components/Form/Elements/FormSelection.vue
  client/src/components/Grid/GridElements/GridOperations.vue
  client/src/components/Grid/configs/histories.ts
  client/src/components/Grid/configs/types.ts
  client/src/components/History/CurrentHistory/HistoryNavigation.vue
  client/src/components/Upload/DefaultBox.vue
  client/src/components/Workflow/Invocation/Graph/InvocationGraph.vue
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/components/Workflow/WorkflowNavigationTitle.vue
  client/src/components/Workflow/WorkflowRunButton.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationMetrics.vue
  client/src/stores/historyStore.ts
  client/src/style/scss/upload.scss
Labels: kind/bug, kind/enhancement, area/UI-UX, area/workflows

#19844 [24.2] Try to recover from recurring activation link error
  lib/galaxy/security/validate_user_input.py
  lib/galaxy/webapps/galaxy/controllers/user.py
Labels: kind/bug, area/backend

#19711 Update RStudio IT
  config/job_conf.yml.interactivetools
  doc/source/admin/special_topics/interactivetools.rst
  lib/galaxy/config/sample/tool_conf.xml.sample
  tools/interactive/Rprofile.R
  tools/interactive/interactivetool_rstudio.xml
  tools/interactive/interactivetool_rstudio_bioc_3.20.xml
Labels: kind/enhancement, area/documentation, area/tools, area/admin

#19834 Syntactic sugar to ease TPV configuration.
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/jobs/__init__.py
Labels: kind/enhancement, area/jobs

#19849 [24.2] Add spacing between workflow author and invocation count
  client/src/components/Workflow/WorkflowAnnotation.vue
Labels: kind/bug, area/UI-UX

#19851 Webpack build performance improvements
  client/package.json
  client/src/components/History/Export/HistoryExport.vue
  client/src/components/Sharing/Embeds/WorkflowEmbed.vue
  client/src/components/Workflow/Editor/Tools/ToolBar.vue
  client/src/components/Workflow/List/WorkflowActionsExtend.vue
  client/src/components/Workflow/List/WorkflowCard.vue
  client/src/components/Workflow/Published/WorkflowPublished.vue
  client/src/layout/window-manager.js
  client/webpack.config.js
  client/yarn.lock
Labels: area/client

#19852 Improve type annotations of ``ModelPersistenceContext`` and derived classes
  lib/galaxy/job_execution/output_collect.py
  lib/galaxy/managers/folders.py
  lib/galaxy/metadata/__init__.py
  lib/galaxy/model/__init__.py
  lib/galaxy/model/store/build_objects.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/structured_app.py
  lib/galaxy/tool_util/parser/interface.py
  lib/galaxy/tool_util/parser/output_actions.py
  lib/galaxy/tool_util/parser/output_objects.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/model_operations.py
  lib/galaxy/tools/evaluation.py
  lib/galaxy/util/__init__.py
  test/unit/app/jobs/test_job_context.py
  test/unit/data/model/test_model_discovery.py
Labels: kind/enhancement, area/testing, area/database, area/tool-framework, area/util

#19864 [24.2] Point install_requires at requirements.txt file
  packages/meta/HISTORY.rst
  packages/meta/requirements.txt
  packages/meta/setup.cfg
Labels: area/packaging

#19861 Migrate from Prism to Monaco for ToolSource display.
  client/package.json
  client/src/components/Tool/ToolSource.vue
  client/src/components/Tool/ToolSourceDisplay.vue
  client/src/components/Tool/ToolSourceMenuItem.vue
  client/webpack.config.js
  client/yarn.lock
Labels: area/UI-UX, area/client

#19862 Fix most new vue typescript errors discovered in #19851
  client/src/api/index.ts
  client/src/components/Collections/common/CollectionCreator.vue
  client/src/components/DatasetInformation/DatasetSource.vue
  client/src/components/DatasetInformation/DatasetSources.vue
  client/src/components/History/Layout/DetailsLayout.vue
  client/src/components/Login/LoginForm.vue
  client/src/components/Markdown/MarkdownDialog.vue
  client/src/components/User/DiskUsage/Management/Cleanup/CleanupResultDialog.vue
  client/src/components/User/DiskUsage/Management/Cleanup/ReviewCleanupDialog.vue
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
Labels: kind/bug, area/client-build, area/client

#19865 [24.2] Handle directories with percents directories with export_remote.xml.
  lib/galaxy/tools/parameters/basic.py
  test/integration/test_remote_files.py
  tools/data_export/export_remote.py
  tools/data_export/export_remote.xml
Labels: kind/bug, area/testing, area/tools, area/tool-framework, area/testing/integration

#19868 [24.2] Don't collect unnamed outputs twice in extended metadata mode
  lib/galaxy/metadata/set_metadata.py
Labels: kind/bug, area/performance, area/objectstore

#19858 Client circular dependency check
  client/package.json
  client/webpack.config.js
  client/yarn.lock
Labels: area/UI-UX, area/client

#19787 bigbed to bed converter and tests
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/converters/bigbed_to_bed_converter.xml
Labels: area/testing, area/datatypes

#19873 [24.0] Check if index exists before creating
  lib/galaxy/model/migrations/alembic/versions_gxy/2dc3386d091f_add_indexes_for_workflow_comment_.py
Labels: kind/bug, area/database

#19878 Fix workflow license component typing
  client/src/components/License/LicenseSelector.vue
Labels: kind/bug, area/UI-UX, minor

#19860 Move some store types out into own file to reduce circular dependencies.
  client/src/components/ActivityBar/ActivityBar.vue
  client/src/components/ActivityBar/ActivityItem.vue
  client/src/components/ActivityBar/ActivitySettings.vue
  client/src/components/Workflow/Editor/Actions/stepActions.ts
  client/src/components/Workflow/Editor/SVGConnection.vue
  client/src/components/Workflow/Editor/WorkflowEdges.vue
  client/src/components/Workflow/Editor/modules/activities.ts
  client/src/components/Workflow/Editor/modules/terminals.ts
  client/src/stores/activitySetup.ts
  client/src/stores/activityStore.ts
  client/src/stores/activityStoreTypes.ts
  client/src/stores/workflowConnectionStore.test.ts
  client/src/stores/workflowConnectionStore.ts
  client/src/stores/workflowStepStore.ts
  client/src/stores/workflowStoreTypes.ts
Labels: area/UI-UX

#19857 Cleanup circular dependencies around utils.ts.
  client/src/app/utils.test.ts
  client/src/app/utils.ts
  client/src/components/Sharing/Embeds/WorkflowEmbed.vue
  client/src/components/Sharing/SharingPage.vue
  client/src/components/Workflow/List/useWorkflowActions.ts
  client/src/components/Workflow/Published/WorkflowInformation.vue
  client/src/legacy/grid/grid-view.js
  client/src/legacy/grid/utils.ts
  client/src/utils/utils.test.js
  client/src/utils/utils.ts
Labels: kind/bug, area/UI-UX, area/client-build

#19877 [24.2] Lazy-load invocation step jobs as needed
  client/src/components/JobInformation/JobDetails.vue
  client/src/components/WorkflowInvocationState/JobStep.vue
Labels: kind/bug, area/UI-UX, area/performance

#19866 [24.2] Fix drag and drop for dataset collection elements
  client/src/api/index.ts
  client/src/components/Form/Elements/FormData/FormData.vue
  client/src/components/Form/Elements/FormData/types.ts
Labels: kind/bug, area/UI-UX

#19824 [24.2] Fix various job concurrency limit issues
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/jobs/runners/slurm.py
  test/unit/app/jobs/test_queue_limit.py
Labels: area/jobs

#19890 Merge 24.2 into dev
  client/src/api/index.ts
  client/src/components/Form/Elements/FormData/FormData.vue
  client/src/components/Form/Elements/FormData/types.ts
  client/src/components/JobInformation/JobDetails.vue
  client/src/components/WorkflowInvocationState/JobStep.vue
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/handler.py
  lib/galaxy/jobs/runners/pulsar.py
  lib/galaxy/jobs/runners/slurm.py
  test/unit/app/jobs/test_queue_limit.py
Labels: area/UI-UX, area/testing, area/jobs, merge

#19797 [24.2] Fix collection builder input states
  client/src/components/Collections/ListCollectionCreator.vue
  client/src/components/Collections/PairCollectionCreator.vue
  client/src/components/Collections/PairedListCollectionCreator.vue
  client/src/mvc/dataset/states.ts
Labels: area/UI-UX

#19829 Use direct icon references in FormSelectMany.vue.
  client/src/components/Form/Elements/FormSelectMany/FormSelectMany.vue
Labels: kind/enhancement, area/UI-UX

#19905 Various styling improvements to Workflow Run and Invocation views
  client/src/components/Form/Elements/FormData/FormDataContextButtons.vue
  client/src/components/Form/Elements/FormData/variants.ts
  client/src/components/Workflow/Invocation/Graph/InvocationGraph.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationInputOutputTabs.vue
Labels: kind/enhancement, area/UI-UX

#19830 Populate image metadata without allocating memory for the entire image content
  lib/galaxy/datatypes/images.py
  lib/galaxy/datatypes/test/im9_multipage.tif
  lib/galaxy/datatypes/test/im9_multiseries.tif
  lib/galaxy/dependencies/pinned-requirements.txt
  packages/data/setup.cfg
  pyproject.toml
  test-data/im8_uint16.tif
  test-data/im9_multiseries.tif
  test/unit/data/datatypes/test_images.py
Labels: area/testing, area/datatypes

#19901 Use FA Component (w/svg) instead of span+font in RunWorkflow header
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
Labels: area/UI-UX

#19896 [24.0] Drop unused alembic-utils from galaxy-data package requirements
  .github/workflows/api.yaml
  .github/workflows/converter_tests.yaml
  .github/workflows/cwl_conformance.yaml
  .github/workflows/db_indexes.yaml
  .github/workflows/docs.yaml
  .github/workflows/first_startup.yaml
  .github/workflows/framework.yaml
  .github/workflows/integration.yaml
  .github/workflows/integration_selenium.yaml
  .github/workflows/lint_openapi_schema.yml
  .github/workflows/mulled.yaml
  .github/workflows/osx_startup.yaml
  .github/workflows/performance.yaml
  .github/workflows/publish_artifacts.yaml
  .github/workflows/reports_startup.yaml
  .github/workflows/selenium.yaml
  .github/workflows/toolshed.yaml
  .github/workflows/unit-postgres.yaml
  .github/workflows/unit.yaml
  lib/galaxy/tool_util/deps/conda_util.py
  lib/galaxy/tool_util/deps/container_resolvers/mulled.py
  lib/galaxy/tool_util/deps/dependencies.py
  lib/galaxy/tool_util/deps/installable.py
  lib/galaxy/tool_util/deps/mulled/get_tests.py
  lib/galaxy/tool_util/deps/mulled/mulled_build.py
  lib/galaxy/tool_util/deps/mulled/util.py
  packages/data/setup.cfg
  test/unit/tool_util/mulled/test_mulled_build.py
Labels: kind/bug, area/packaging

#19854 Fix Galaxy ignoring job object_store_id for quota check
  lib/galaxy/jobs/__init__.py
  lib/galaxy/quota/__init__.py
  test/unit/data/test_quota.py
Labels: area/testing, area/jobs

#19853 [24.2] Fix default ordering of items sorted by name
  client/src/components/Grid/configs/adminForms.ts
  client/src/components/Grid/configs/adminGroups.ts
  client/src/components/Grid/configs/adminQuotas.ts
  client/src/components/Grid/configs/adminRoles.ts
  client/src/components/Grid/configs/adminUsers.ts
  lib/galaxy/web/framework/helpers/grids.py
Labels: kind/bug, area/UI-UX, area/admin

#19837 [24.2] Do not reorder options in FormSelect component when multiselect disabled
  client/src/components/Form/Elements/FormData/types.ts
  client/src/components/Form/Elements/FormSelect.vue
  client/src/style/scss/multiselect.scss
Labels: kind/bug, area/UI-UX

#19903 [24.2] Fix duplicate extensions for data inputs
  lib/galaxy/workflow/modules.py
Labels: kind/bug, area/backend

#19899 Clarify is_active method usage for Python Social Auth in Galaxy
  lib/galaxy/model/__init__.py
Labels: area/database

#19902 FITS Graph Viewer - script name tweak.
  config/plugins/visualizations/fits_graph_viewer/config/fits_graph_viewer.xml
  config/plugins/visualizations/fits_graph_viewer/package.json
  config/plugins/visualizations/fits_graph_viewer/webpack.prod.js
Labels: area/visualizations

#19909 Allow embedding vitessce visualizations
  config/plugins/visualizations/vitessce/config/vitessce.xml
Labels: area/UI-UX, area/workflows, area/visualizations

#19736 Show workflow help (and readme?) in run form
  client/src/api/schema/schema.ts
  client/src/components/Workflow/Run/WorkflowRunFormSimple.vue
  client/src/components/Workflow/WorkflowAnnotation.vue
  lib/galaxy/managers/workflows.py
  lib/galaxy/schema/workflows.py
Labels: kind/enhancement, area/UI-UX

#19911 [24.2] Skip implicit HDA conversions in DataToolParameter options
  lib/galaxy/tools/parameters/basic.py
Labels: kind/bug, area/tool-framework

#19895 [24.2] Skip ``data_meta`` filter in run form
  lib/galaxy/tools/parameters/dynamic_options.py
  lib/galaxy_test/api/test_workflows.py
Labels: kind/bug, area/workflows

#19917 [24.2] Let pysam use extra threads available in job
  lib/galaxy/datatypes/binary.py
Labels: kind/bug, area/performance, area/datatypes

#19914 Replace backend-based page creation controller endpoint
  client/src/components/Form/FormElementLabel.test.js
  client/src/components/Form/FormElementLabel.vue
  client/src/components/Masthead/QuotaMeter.vue
  client/src/components/PageDisplay/PageCreate.test.js
  client/src/components/PageDisplay/PageCreate.vue
  client/src/components/PageDisplay/pageTemplate.yml
  client/src/components/Tour/Tour.test.js
  client/src/components/Tour/TourList.vue
  client/src/components/Tour/runTour.js
  client/src/entry/analysis/router.js
  client/src/utils/navigation/navigation.yml
  config/plugins/tours/core.visualizations.yaml
  config/plugins/visualizations/cytoscape/config/cytoscape.xml
  config/plugins/visualizations/ngl/static/logo.png
  config/plugins/visualizations/ngl/static/logo.svg
  config/plugins/visualizations/phylocanvas/config/phylocanvas.xml
  config/plugins/visualizations/plotly/config/plotly.xml
  config/plugins/visualizations/plotly_box/config/plotly_box.xml
  config/plugins/visualizations/plotly_histogram/config/plotly_histogram.xml
  config/plugins/visualizations/plotly_surface/config/plotly_surface.xml
  config/plugins/visualizations/plotly_surface/static/logo.svg
  config/plugins/visualizations/venn/config/venn.xml
  config/plugins/visualizations/vizarr/config/vizarr.xml
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy/webapps/galaxy/controllers/page.py
  test/integration_selenium/test_pages_pdf_export.py
Labels: kind/enhancement, area/UI-UX, area/backend

#19612 Improvement/openai chat
  lib/galaxy/config/chat_prompts.json
  lib/galaxy/webapps/galaxy/api/chat.py
Labels: area/API

#19921 Remove unnecessary code duplications
  lib/galaxy/tools/parameters/basic.py
Labels: kind/refactoring, area/tool-framework

#19913 [24.2] Fix duplicate entries when using drag and drop in multiple mode
  client/src/components/Form/Elements/FormData/FormData.vue
  client/src/components/Form/Elements/FormData/types.ts
  client/src/components/Form/Elements/FormSelect.vue
Labels: kind/bug, area/UI-UX

#19928 [24.2] Report TestCaseValidation as linter error for 24.2 and above
  lib/galaxy/tool_util/linters/tests.py
Labels: area/tool-framework

#19925 [24.1] Handle special charater in raw SQL
  lib/galaxy/model/__init__.py
  lib/galaxy/objectstore/__init__.py
  scripts/cleanup_datasets/pgcleanup.py
Labels: kind/bug, area/database, area/scripts

#19930 [24.1] Fix Invenio file source downloads not working with some Invenio instances
  lib/galaxy/files/sources/invenio.py
Labels: kind/bug, kind/enhancement

#19932 Fix import and update_page type signature
  lib/galaxy/managers/pages.py
Labels: kind/bug, minor, area/backend
