Repository galaxyproject/galaxy, pull requests merged in 2025-10, with the labels that each got.

#20936 Wire up and test resource requirement via tpv
  client/src/components/Tool/ToolSourceSchema.json
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/dependencies/pinned-test-requirements.txt
  lib/galaxy/tool_util/deps/requirements.py
  pyproject.toml
  test/integration/embedded_pulsar_tpv_job_conf.yml
  test/integration/test_user_defined_tool_job_conf.py
Labels: kind/enhancement, area/testing, area/tool-framework, area/tool-dependencies, area/testing/integration

#20980 [25.0] Don't create workflow outputs to recover input parameter outputs
  lib/galaxy/workflow/modules.py
  lib/galaxy/workflow/run.py
Labels: kind/bug, area/workflows, area/database

#20926 Add tool to add nesting level to collection
  lib/galaxy/config/sample/tool_conf.xml.sample
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/nest_collection.xml
  static/images/tools/collection_ops/nest.svg
Labels: kind/feature, area/tool-framework

#20916 Add support for picking ``from_work_dir`` directory
  client/src/api/schema/schema.ts
  client/src/components/Tool/.claude/settings.local.json
  client/src/components/Tool/ToolSourceSchema.json
  lib/galaxy/dependencies/pinned-requirements.txt
  lib/galaxy/job_execution/setup.py
  lib/galaxy/jobs/__init__.py
  lib/galaxy/jobs/command_factory.py
  lib/galaxy/jobs/runners/__init__.py
  lib/galaxy/tool_util/parser/output_objects.py
  lib/galaxy/tool_util/parser/xml.py
  lib/galaxy/tool_util/xsd/galaxy.xsd
  lib/galaxy/tool_util_models/tool_outputs.py
  lib/tool_shed/webapp/frontend/src/schema/schema.ts
  test/functional/tools/create_directory_index.xml
  test/integration/test_extended_metadata.py
  test/integration/test_job_outputs_to_working_directory.py
  test/integration/test_pulsar_embedded.py
Labels: kind/enhancement, area/testing, area/jobs, area/datatypes, area/testing/integration

#20830 Fix optional numeric column definitions for sample sheets.
  client/src/components/Workflow/Editor/Forms/FormColumnDefinition.vue
Labels: kind/bug, area/UI-UX, minor, area/workflows

#20820 [25.0] Skip sam metadata if we have too many references
  lib/galaxy/datatypes/binary.py
Labels: kind/bug, area/performance, area/datatypes

#19817 Consider collections in on_strings for parameters accepting multiple datasets
  lib/galaxy/tools/actions/__init__.py
  lib/galaxy/tools/actions/model_operations.py
  lib/galaxy/tools/execute.py
  lib/galaxy/tools/execution_helpers.py
  lib/galaxy_test/api/test_workflows.py
  lib/galaxy_test/selenium/test_tool_form.py
  test/unit/app/tools/test_actions.py
Labels: kind/enhancement, area/testing, area/tool-framework, area/testing/api, area/testing/selenium

#20929 Extract: do not use common prefix dir
  lib/galaxy/datatypes/converters/archive_to_directory.xml
  lib/galaxy/util/compression_utils.py
  test/unit/data/model/test_model_store.py
Labels: kind/bug, area/datatypes, area/util

#20466 [25.0] Add Auspice JSON datatype
  lib/galaxy/config/sample/datatypes_conf.xml.sample
  lib/galaxy/datatypes/test/1.auspicejson
  lib/galaxy/datatypes/text.py
Labels: kind/enhancement, area/datatypes

#20994 [25.0] Backport of #20984
  lib/galaxy/model/store/__init__.py
Labels: kind/bug, area/backend

#20992 Fix comp1 / test_subworkflow_map_over_data_column
  tools/filters/compare.xml
Labels: area/tools

#20999 [25.0] Improves zip file type detection for uploads under windows
  client/src/composables/zipExplorer.ts
Labels: kind/bug, area/UI-UX

#21006 Fix and migrate HIV-TRACE to Charts Visualization Framework
  client/visualizations.yml
  config/plugins/visualizations/hivtrace/static/448c34a56d699c29117adc64c43affeb.woff2
  config/plugins/visualizations/hivtrace/static/674f50d287a8c48dc19ba404d20fe713.eot
  config/plugins/visualizations/hivtrace/static/89889688147bd7575d6327160d64e760.svg
  config/plugins/visualizations/hivtrace/static/912ec66d7572ff821749319396470bde.svg
  config/plugins/visualizations/hivtrace/static/af7ae505a9eed503f8b8e6982036873e.woff2
  config/plugins/visualizations/hivtrace/static/b06871f281fee6b241d60582ae9369b9.ttf
  config/plugins/visualizations/hivtrace/static/e18bbf611f2a2e43afc071aa2f4e1512.ttf
  config/plugins/visualizations/hivtrace/static/f4769f9bdb7466be65088239c12046d1.eot
  config/plugins/visualizations/hivtrace/static/fa2772327f55d8198301fdb8bcfc8158.woff
  config/plugins/visualizations/hivtrace/static/fee66e712a8a08eef5805a46892932ad.woff
  config/plugins/visualizations/hivtrace/static/hivtrace.css
  config/plugins/visualizations/hivtrace/static/hivtrace.css.map
  config/plugins/visualizations/hivtrace/static/hivtrace.js
  config/plugins/visualizations/hivtrace/static/hivtrace.js.map
  config/plugins/visualizations/hivtrace/static/hivtrace.xml
  config/plugins/visualizations/hivtrace/static/logo.png
  config/plugins/visualizations/hivtrace/static/vendor.js
  config/plugins/visualizations/hivtrace/static/vendor.js.map
  config/plugins/visualizations/hivtrace/templates/index.mako
Labels: kind/bug, kind/enhancement, area/visualizations

#21007 Add README and update the minimal visualization example
  config/plugins/visualizations/example/README.md
  config/plugins/visualizations/example/static/example.xml
  config/plugins/visualizations/example/static/logo.png
  config/plugins/visualizations/example/static/logo.svg
  config/plugins/visualizations/example/static/script.js
Labels: kind/enhancement, area/visualizations

#20985 Tsc fixes and pin
  .github/workflows/js_lint.yaml
  client/package.json
  client/yarn.lock
Labels: kind/bug, area/UI-UX, area/client

#21014 Bump up total-perspective-vortex dependency
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/dependencies/dev-requirements.txt
  lib/galaxy/dependencies/pinned-test-requirements.txt
  pyproject.toml
Labels: area/dependencies

#21017 Add 25.1 migration tags
  lib/galaxy/model/migrations/dbscript.py
Labels: minor, area/database

#21022 Update revision tags for release 25.1
  lib/galaxy/model/migrations/dbscript.py
Labels: minor, area/database
