Repository galaxyproject/galaxy, pull requests merged in 2025-08, with the labels that each got.

#20522 [25.0] Improve workflow monitor loop times
  lib/galaxy/model/__init__.py
  lib/galaxy/workflow/scheduling_manager.py
Labels: area/workflows

#20662 [25.0] Remove content from ``packages/meta/requirements.txt``
  .gitignore
  packages/meta/requirements.txt
Labels: area/packaging

#20714 Remove decoded ids from job/dataset error report email
  lib/galaxy/tools/errors.py
Labels: kind/bug, area/backend

#20723 Drop ucsc test server from sample build sites
  tool-data/shared/ucsc/ucsc_build_sites.txt.sample
Labels: kind/refactoring, area/tools

#20734 Fix Client Linting Run Error
  client/src/composables/hashedUserId.ts
  client/src/composables/zipExplorer.ts
Labels: area/UI-UX

#19658 User preferences redesign
  client/src/components/Common/GCard.vue
  client/src/components/Form/FormCard.vue
  client/src/components/Form/FormGeneric.vue
  client/src/components/User/APIKey/APIKey.vue
  client/src/components/User/CustomBuilds.vue
  client/src/components/User/Notifications/NotificationsPreferences.vue
  client/src/components/User/UserBeaconSettings.vue
  client/src/components/User/UserDatasetPermissions.vue
  client/src/components/User/UserDeletion.test.ts
  client/src/components/User/UserDeletion.vue
  client/src/components/User/UserDetailsElement.vue
  client/src/components/User/UserPickTheme.vue
  client/src/components/User/UserPreferences.vue
  client/src/components/User/UserPreferencesElement.vue
  client/src/components/User/UserPreferencesForm.vue
  client/src/components/User/UserPreferencesModel.js
  client/src/components/User/UserPreferencesModel.ts
  client/src/components/User/UserPreferredObjectStore.test.ts
  client/src/components/User/UserPreferredObjectStore.vue
  client/src/entry/analysis/router.js
  client/src/utils/navigation/navigation.yml
Labels: kind/enhancement, area/UI-UX, highlight

#20739 [25.0] Remove base_dir from zip in make_fast_zipfile
  lib/galaxy/util/compression_utils.py
Labels: kind/bug, area/backend

#20752 Various client unit test fixes and cleanup.
  client/src/components/Citation/CitationsList.test.ts
  client/src/components/Citation/CitationsList.vue
  client/src/components/Dataset/DatasetView.test.js
  client/src/components/History/Content/ContentItem.test.js
  client/src/components/History/Content/GenericElement.test.js
  client/src/components/History/HistoryAccessibility.vue
  client/src/components/History/HistoryDatasetPermissions.vue
  client/src/components/History/HistoryView.test.js
  client/src/components/Workflow/Editor/Index.test.ts
  client/src/components/Workflow/Editor/WorkflowAttributes.test.ts
  client/src/components/Workflow/Editor/modules/collectionTypeDescription.ts
  client/src/components/admin/Notifications/NotificationForm.test.ts
  client/src/composables/historyBreadcrumbs.ts
  client/tests/jest/helpers.js
  client/tests/jest/mockHistoryBreadcrumbs.js
Labels: kind/bug, area/testing, area/client

#20737 Add embed-compatible view for galaxy pages
  client/src/components/Common/PublishedItem.vue
  client/src/components/Common/models/PublishedItem.ts
  client/src/components/Page/PageView.vue
  client/src/components/PageDisplay/PageDisplay.vue
  client/src/components/Sharing/Embeds/PageEmbed.vue
  client/src/components/Sharing/Embeds/WorkflowEmbed.vue
  client/src/components/Sharing/SharingPage.vue
  client/src/entry/analysis/router.js
Labels: area/UI-UX

#20757 [25.0] fix config for nginx in docs
  doc/source/admin/nginx.md
Labels: kind/bug, area/documentation

#20760 Consolidate visualization mako, avoid user agent styles
  lib/galaxy/visualization/plugins/plugin.py
  templates/script_entry_point.mako
  templates/visualization.mako
  templates/visualization_base.mako
Labels: kind/bug, kind/refactoring, area/visualizations

#20762 Fix WorkflowComment tests warnings
  client/src/components/Workflow/Editor/Comments/WorkflowComment.test.ts
Labels: kind/refactoring, area/testing

#20719 Make workflow invocation tabs routable
  client/src/components/Common/GCard.types.ts
  client/src/components/Common/GCard.vue
  client/src/components/Workflow/Invocation/Graph/InvocationGraph.vue
  client/src/components/Workflow/Invocation/Graph/WorkflowInvocationSteps.vue
  client/src/components/Workflow/List/useWorkflowCardBadges.ts
  client/src/components/Workflow/WorkflowInvocationsCount.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationFeedback.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationInputOutputTabs.test.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationInputOutputTabs.vue
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.test.ts
  client/src/components/WorkflowInvocationState/WorkflowInvocationState.vue
  client/src/composables/useInvocationGraph.ts
  client/src/entry/analysis/router.js
  client/src/stores/invocationStore.ts
  client/src/utils/navigation/navigation.yml
  lib/galaxy/webapps/galaxy/buildapp.py
Labels: kind/enhancement, area/UI-UX

#20736 Fix various collection descriptions in history panel.
  client/src/components/History/Content/Collection/CollectionDescription.test.ts
  client/src/components/History/Content/Collection/CollectionDescription.vue
Labels: kind/bug, area/dataset-collections

#20775 Apply eslint fixes
  client/src/components/SchemaOrg/OrganizationForm.vue
  client/src/components/SchemaOrg/PersonForm.vue
  client/src/components/Workflow/Editor/Forms/FormColumnDefinitions.vue
Labels: area/UI-UX

#19973 Add `selectedItems` composable
  client/src/components/Common/GCard.vue
  client/src/components/Common/ListHeader.vue
  client/src/components/History/Content/ContentItem.vue
  client/src/components/History/Content/SelectedItems.js
  client/src/components/History/Content/SelectedItems.test.js
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/SwitchToHistoryLink.vue
  client/src/components/Workflow/List/WorkflowCard.vue
  client/src/components/Workflow/List/WorkflowCardList.vue
  client/src/components/Workflow/List/WorkflowList.vue
  client/src/components/Workflow/List/useWorkflowCardActions.ts
  client/src/composables/selectedItems/selectedItems.test.ts
  client/src/composables/selectedItems/selectedItems.ts
  client/src/composables/selectedItems/types.d.ts
  client/src/stores/eventStore.ts
Labels: kind/enhancement, area/UI-UX

#20592 Implement Data Landing Requests
  client/package.json
  client/src/api/schema/schema.ts
  client/src/api/tools.ts
  client/src/components/Help/HelpPopover.vue
  client/src/components/Help/terms.yml
  client/src/components/JobParameters/DataFetchRequestParameter.vue
  client/src/components/JobParameters/JobParameters.vue
  client/src/components/Landing/FetchGrid.vue
  client/src/components/Landing/FetchGrids.vue
  client/src/components/Landing/FetchLanding.vue
  client/src/components/Landing/ToolLanding.vue
  client/src/components/Landing/fetchModels.test.ts
  client/src/components/Landing/fetchModels.ts
  client/src/components/Landing/gridHelpers.ts
  client/src/entry/analysis/router.js
  client/src/stores/jobStore.ts
  client/src/stores/toolLandingStore.ts
  client/types/vue-json-pretty.d.ts
  client/yarn.lock
  lib/galaxy/managers/landing.py
  lib/galaxy/managers/tools.py
  lib/galaxy/model/dataset_collections/rule_target_models.py
  lib/galaxy/model/dataset_collections/rule_targets.yml
  lib/galaxy/model/dataset_collections/subcollections.py
  lib/galaxy/model/store/discover.py
  lib/galaxy/schema/fetch_data.py
  lib/galaxy/schema/terms.py
  lib/galaxy/schema/terms.yml
  lib/galaxy/tool_util/client/landing.py
  lib/galaxy/tool_util/client/landing_library.catalog.yml
  lib/galaxy/tools/__init__.py
  lib/galaxy/tools/parameters/meta.py
  lib/galaxy/webapps/galaxy/api/tools.py
  lib/galaxy/webapps/galaxy/services/_fetch_util.py
  lib/galaxy/webapps/galaxy/services/tools.py
  lib/galaxy_test/api/test_landing.py
  lib/galaxy_test/base/populators.py
  lib/galaxy_test/selenium/test_uploads.py
  packages/schema/MANIFEST.in
  test/unit/app/managers/test_landing.py
  test/unit/tool_util/test_parameter_convert.py
  test/unit/webapps/api/test_fetch_schema.py
Labels: kind/enhancement, area/API, area/upload

#20788 Fix viz installs
  client/gulpfile.js
Labels: area/client

#20776 Allow fine-grained selection of included files in Invocation Export Wizard
  client/src/components/Workflow/Invocation/Export/InvocationExportWizard.vue
Labels: kind/enhancement, area/UI-UX

#20784 [25.0] Ensure that workflow invocations are persisted with state
  lib/galaxy/model/__init__.py
  lib/galaxy/workflow/run_request.py
  lib/galaxy/workflow/scheduling_manager.py
Labels: kind/bug, area/workflows

#20786 Remove Backbone from UI bootstrap initialization
  client/src/app/app.test.js
  client/src/app/base-mvc.js
  client/src/app/galaxy.js
  client/src/app/user-model.js
  client/src/components/Grid/Grid.vue
  client/src/components/RuleCollectionBuilder.vue
  client/src/components/User/UserPreferencesModel.ts
  client/src/stores/users/syncUserToGalaxy.js
  client/src/utils/deferred.js
  client/src/utils/observable.js
  client/src/viz/config.js
  client/src/viz/trackster/tracks.js
  client/src/viz/visualization.js
  client/src/watch/watchHistory.js
Labels: area/UI-UX, kind/refactoring

#20744 New History List Using GCard
  client/src/api/histories.ts
  client/src/components/Grid/GridElements/GridDatasets.vue
  client/src/components/Grid/GridHistory.vue
  client/src/components/Grid/GridList.vue
  client/src/components/Grid/configs/histories.ts
  client/src/components/Grid/configs/historiesPublished.ts
  client/src/components/Grid/configs/historiesShared.ts
  client/src/components/History/Archiving/ArchivedHistoryCard.vue
  client/src/components/History/Archiving/HistoryArchive.vue
  client/src/components/History/CurrentHistory/HistoryDetails.vue
  client/src/components/History/CurrentHistory/HistoryPanel.vue
  client/src/components/History/HistoryCard.vue
  client/src/components/History/HistoryCardList.vue
  client/src/components/History/HistoryDatasetsBadge.vue
  client/src/components/History/HistoryList.vue
  client/src/components/History/historyList.ts
  client/src/components/History/useHistoryCardActions.ts
  client/src/components/History/useHistoryCardBadges.ts
  client/src/components/History/useHistoryCardIndicators.ts
  client/src/entry/analysis/router.js
  client/src/stores/historyStore.ts
  client/src/utils/navigation/navigation.yml
  lib/galaxy/selenium/navigates_galaxy.py
  lib/galaxy_test/selenium/test_histories_list.py
  lib/galaxy_test/selenium/test_histories_published.py
  lib/galaxy_test/selenium/test_history_sharing.py
  lib/galaxy_test/selenium/test_pages.py
  test/integration_selenium/test_history_import_export_ftp.py
Labels: kind/enhancement, area/UI-UX

#20801 [25.0] Fix password reset functionality for lowercase emails
  lib/galaxy/managers/users.py
  lib/galaxy/security/validate_user_input.py
  test/unit/webapps/test_login.py
Labels: kind/bug, area/UI-UX, area/security

#20806 Refactor MESSAGES constant in FileSourceTypeSpan.vue
  client/src/components/FileSources/FileSourceTypeSpan.vue
Labels: area/UI-UX, kind/refactoring

#20813 Enable data label column selection in basic Plotly plots and add heatmap
  client/visualizations.yml
Labels: feature-request, area/visualizations

#20814 [25.0] Render Tool Descriptions in Markdown in TRS imports
  client/src/components/Workflow/Import/TrsSearch.vue
  client/src/components/Workflow/Import/TrsTool.vue
  client/src/utils/navigation/navigation.yml
Labels: kind/bug, kind/enhancement, area/UI-UX

#20800 Only show breadcrumb when on history permissions route (not in sharing view)
  client/src/components/History/HistoryDatasetPermissions.vue
Labels: kind/bug, area/UI-UX

#20771 Modernize and Refactor Tour components
  client/src/api/tours.ts
  client/src/components/Tour/Tour.vue
  client/src/components/Tour/TourList.vue
  client/src/components/Tour/TourRunner.vue
  client/src/components/Tour/TourStep.vue
  client/src/components/Tour/runTour.js
  client/src/composables/persistentRef.ts
  client/src/entry/analysis/App.vue
  client/src/entry/analysis/router.js
  client/src/stores/tourStore.ts
  client/src/style/scss/tour.scss
  lib/galaxy_test/selenium/test_tool_describing_tours.py
Labels: kind/enhancement, area/UI-UX

#20824 Update 2 docs pages
  doc/source/admin/python.md
  doc/source/dev/debugging_tests.md
Labels: kind/enhancement, area/documentation

#20805 Add Hugging Face 🤗 file source and user-defined template
  client/src/api/fileSources.ts
  client/src/api/schema/schema.ts
  lib/galaxy/dependencies/__init__.py
  lib/galaxy/dependencies/conditional-requirements.txt
  lib/galaxy/files/sources/_fsspec.py
  lib/galaxy/files/sources/huggingface.py
  lib/galaxy/files/templates/examples/production_huggingface.yml
  lib/galaxy/files/templates/models.py
Labels: area/UI-UX, kind/feature, area/backend

#20829 Migrate icon defs in CollectionOperations.vue to best practices.
  client/src/components/History/CurrentCollection/CollectionOperations.vue
Labels: kind/enhancement, area/UI-UX
